Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$

docs(merge): document CYCLE 11 rebase success and conflict resolution
  merges/MERGEISSUE_20250909_CYCLE11.md
  netra_backend/tests/unit/golden_path/test_websocket_handshake_timing.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): add WebSocket handshake timing business logic validation
  merges/MERGEISSUE_20250909_CYCLE14.md
Due: docker-force-flag-prohibition

feat(validation): add agent result validation business logic testing
  netra_backend/tests/unit/golden_path/test_agent_result_validation_business_logic.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(staging): update connectivity and test reports with latest run results
  STAGING_CONNECTIVITY_REPORT.md
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

docs(audit): Issue #110 comprehensive Five Whys audit report
  ISSUE_110_FIVE_WHYS_AUDIT_REPORT.md
Due: docker-force-flag-prohibition

docs(audit): golden path auth/DB failure auto-solve loop documentation
  audit/staging/auto-solve-loop/golden_path_auth_db_failure_20250909.md
Due: docker-force-flag-prohibition

style(tests): standardize docstring format and UserExecutionContext usage
  netra_backend/tests/integration/golden_path/test_advanced_tool_pipeline_integration.py
  netra_backend/tests/unit/agents/test_supervisor_agent_ssot_comprehensive.py
  netra_backend/tests/unit/websocket/test_websocket_connection_state_machine_comprehensive_unit.py
  tests/integration/test_agent_execution_concurrent_performance.py
  tests/integration/test_database_connection_pooling_performance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(websocket): add comprehensive WebSocket test infrastructure
  netra_backend/tests/integration/test_websocket_integration_minimal.py
  netra_backend/tests/unit/agents/supervisor/test_execution_engine_isolation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): apply post-commit code formatting and documentation updates
  netra_backend/tests/unit/agents/supervisor/test_execution_engine_isolation.py
  netra_backend/tests/unit/websocket_core/test_websocket_manager_race_conditions.py
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_COMPREHENSIVE_VALIDATION_20250909_NIGHT.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(audit): complete Five Whys root cause analysis for golden path authentication failures
  audit/staging/auto-solve-loop/golden_path_auth_db_failure_20250909.md
Due: docker-force-flag-prohibition

docs(audit): complete golden path auth/DB failure Five Whys analysis
  tests/integration/test_resource_exhaustion_detection_handling.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): finalize integration test formatting and structure improvements
  tests/integration/test_agent_execution_concurrent_performance.py
  tests/integration/test_database_connection_pooling_performance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(testing): update staging test reports and session documentation
  STAGING_TEST_REPORT_PYTEST.md
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_GOLDEN_PATH_20250909_SESSION_NEW.md
Due: docker-force-flag-prohibition

test(staging): comprehensive WebSocket failure analysis and session tracking
  tests/integration/test_agent_execution_concurrent_performance.py
  tests/integration/test_database_connection_pooling_performance.py
  tests/integration/test_thread_safety_race_condition_prevention.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(tests): standardize string literals to double quotes in integration tests
  tests/integration/test_database_connection_pooling_performance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(testing): update staging test reports with WebSocket connection failure analysis
  tests/integration/test_thread_safety_race_condition_prevention.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(tests): complete string literal standardization in thread safety tests
  tests/integration/test_thread_safety_race_condition_prevention.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

style(tests): fix line continuation formatting in database connection pool test
  tests/integration/test_database_connection_pooling_performance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(agents): migrate agent execution from DeepAgentState to secure UserExecutionContext pattern
  netra_backend/app/agents/supervisor/agent_execution_core.py
  netra_backend/app/services/user_execution_context.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): eliminate fallback imports causing WebSocket 1011 internal server errors
  netra_backend/app/websocket_core/__init__.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(agents): add comprehensive race condition and execution isolation test coverage
  netra_backend/tests/unit/agents/supervisor/test_execution_engine_isolation.py
  netra_backend/tests/unit/agents/supervisor/test_execution_engine_race_conditions.py
  netra_backend/tests/unit/agents/test_agent_execution_core_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(analysis): add comprehensive WebSocket 1011 error Five-Whys root cause analysis
  tests/e2e/test_results/WEBSOCKET_1011_FIVE_WHYS_ANALYSIS_20250909_NIGHT.md
Due: docker-force-flag-prohibition

fix(agents): complete UserExecutionContext migration and add WebSocket 1011 error prevention
  netra_backend/app/agents/supervisor/agent_execution_core.py
  netra_backend/app/agents/supervisor/execution_engine.py
  netra_backend/tests/unit/websocket_core/test_websocket_1011_error_prevention.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(agents): finalize UserExecutionContext migration cleanup and test improvements
  netra_backend/app/agents/supervisor/agent_execution_core.py
  netra_backend/tests/unit/agents/supervisor/test_execution_engine_isolation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): migrate race condition tests to UserExecutionContext pattern
  netra_backend/tests/unit/race_conditions/test_agent_execution_state_races.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(audit): add comprehensive agent unit test suite audit report
  COMPREHENSIVE_AGENT_UNIT_TEST_AUDIT_REPORT.md
Due: docker-force-flag-prohibition

fix(agents): complete final migration cleanup and add WebSocket 1011 validation
  netra_backend/app/agents/supervisor/execution_engine.py
  netra_backend/tests/unit/race_conditions/test_agent_execution_state_races.py
  tests/e2e/test_websocket_1011_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(agents): enhance test validation and error handling across all test suites
  netra_backend/tests/unit/agents/supervisor/test_execution_engine_isolation.py
  netra_backend/tests/unit/agents/supervisor/test_execution_engine_race_conditions.py
  netra_backend/tests/unit/race_conditions/test_agent_execution_state_races.py
  tests/e2e/test_websocket_1011_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(agents): finalize test robustness and staging deployment validation
  netra_backend/tests/unit/agents/supervisor/test_execution_engine_isolation.py
  tests/e2e/test_websocket_1011_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(race-conditions): improve concurrent execution validation and WebSocket event analysis
  netra_backend/tests/unit/agents/supervisor/test_execution_engine_race_conditions.py
  netra_backend/tests/unit/race_conditions/test_agent_execution_state_races.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(e2e): add proper test user ID generation utility
  tests/e2e/test_websocket_1011_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

polish(tests): finalize race condition timeout handling and test user ID consistency
  netra_backend/tests/unit/agents/supervisor/test_execution_engine_race_conditions.py
  tests/e2e/test_websocket_1011_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

polish(e2e): complete consistent test user ID generation across all WebSocket validation tests
  tests/e2e/test_websocket_1011_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(tests): Complete comprehensive agent unit test coverage mission
  reports/coverage/AGENT_UNIT_TEST_MISSION_COMPLETE_20250109.md
Due: docker-force-flag-prohibition

chore(infrastructure): remove placeholder docker file
  docker
Due: none

fix(deployment): update alpine dockerfile paths from docker/ to dockerfiles/ directory
  scripts/deploy_to_gcp.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(analysis): add comprehensive WebSocket 1011 fix validation and alpine dockerfile regression analysis
  SPEC/learnings/alpine_dockerfile_path_regression_20250909.xml
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_COMPREHENSIVE_VALIDATION_20250909_NIGHT.md
  tests/e2e/test_results/WEBSOCKET_1011_IMPLEMENTATION_SUCCESS_REPORT_20250909_NIGHT.md
Due: docker-force-flag-prohibition

style(tests): standardize test infrastructure formatting and UUID generation patterns
  tests/e2e/test_websocket_1011_validation.py
  tests/integration/test_agent_execution_concurrent_performance.py
  tests/integration/test_database_connection_pooling_performance.py
  tests/integration/test_thread_safety_race_condition_prevention.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(agents): add comprehensive AgentRegistry user isolation and lifecycle management tests
  netra_backend/tests/unit/agents/supervisor/test_agent_registry_user_isolation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): enhance AgentRegistry isolation test robustness and mock reliability
  netra_backend/tests/unit/agents/supervisor/test_agent_registry_user_isolation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation
