Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$

test(infrastructure): enhance pytest markers for agent execution and compatibility
  netra_backend/pytest.ini
Due: none

test: enhance database testing and add GCP Golden Path WebSocket E2E tests
  netra_backend/tests/unit/db/test_database_manager_comprehensive.py
  tests/e2e/websocket_core/test_unified_websocket_manager_gcp_golden_path.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(logging): update GCP log analysis and merge documentation
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-11.md
  merges/MERGEISSUE_2025-09-10.md
Due: docker-force-flag-prohibition

ssot: FINAL RESOLUTION - Issue #300 already resolved, focus on regression prevention
  SSOT-incomplete-migration-websocket-jwt-bypass-blocks-golden-path.md
  tests/integration/golden_path/test_websocket_agent_coordination_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(config): add new pytest markers for agent execution testing
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-e2e-agent-value-20250910-231630.md
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-e2e-golden-2025-09-10.md
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-unit-20250910-231417.md
  audit/staging/auto-solve-loop/websocket_agent_bridge_missing_2025_09_10.md
Due: docker-force-flag-prohibition

docs: add SSOT execution tracker conflict issue tracking
  SSOT-dual-systems-unified-execution-tracker-conflict.md
Due: docker-force-flag-prohibition

docs(ssot): document execution tracker dual system conflict
  tests/e2e/performance/test_rate_limiting_unified_real.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: complete SSOT config validation and enhance BaseAgent tests
  SSOT-config-base-layer-bypass-os-environ.md
  netra_backend/tests/unit/test_base_agent_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(auth): restore authentication edge cases for business critical scenarios
  tests/e2e/AUTHENTICATION_TEST_RESTORATION_REPORT.md
  tests/e2e/test_authentication_edge_cases_business_critical.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: improve database testing and add SSOT ID compatibility validation
  netra_backend/tests/unit/db/test_database_manager_comprehensive.py
  tests/integration/ssot_remediation/test_cross_component_id_compatibility.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(testing): add test collection output for analysis and debugging
  collection_output.txt
Due: docker-force-flag-prohibition

test: add mission critical WebSocket events and SSOT compliance validation
  tests/mission_critical/test_websocket_five_critical_events_business_value.py
  tests/unit/ssot_compliance/test_ssot_test_runner_compliance_suite.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test: complete BaseAgent testing and add execution isolation validation
  netra_backend/tests/unit/test_base_agent_comprehensive.py
  tests/integration/golden_path/test_execution_engine_factory_isolation_integration.py
  tests/unit/ssot_remediation/test_agent_execution_id_uuid4_migration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(ssot): initiate logging SSOT remediation for Golden Path
  SSOT-golden-path-mixed-logging-patterns-blocking-debug.md
  test_framework/ssot/async_test_helpers.py
  tests/integration/websocket/test_unified_websocket_manager_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore(pre-merge): clean working directory for safe merge execution
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-e2e-agent-value-20250910-231630.md
  audit/staging/auto-solve-loop/websocket_agent_bridge_missing_2025_09_10.md
  merges/MERGE-ISSUE-2025-09-11-Git-Gardener.md
  tests/e2e/rate_limiting_core.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: document second successful merge with comprehensive test additions
  merges/MERGE-SUCCESS-20250911-043000.md
Due: docker-force-flag-prohibition

test(e2e): fix fake authentication tests with real business-critical validation
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-unit-20250910-231417.md
  collection_output.txt
  netra_backend/app/clients/auth_client_core.py
  tests/e2e/authentication-edge-cases-and-network-failures.py
  tests/e2e/comprehensive-authentication-system-breakdown-tests.py
  tests/e2e/test_authentication_edge_cases_business_critical.py
  tests/unit/test_deepagentstate_user_isolation_vulnerability.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: complete SSOT WebSocket validation and add comprehensive testing suite
  SSOT-recent-change-websocket-manager-merge-conflict-blocks-tests.md
  netra_backend/tests/unit/test_execution_engine_factory_comprehensive.py
  pytest.ini
  scripts/monitor_ssot_compliance.py
  tests/performance/test_websocket_unified_manager_performance_concurrency.py
  tests/unit/ssot_compliance/__init__.py
  tests/unit/ssot_compliance/test_golden_path_test_runner_protection.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: final SSOT config issue resolution confirmation
  SSOT-config-base-layer-bypass-os-environ.md
Due: docker-force-flag-prohibition

docs: document third successful merge with major test infrastructure expansion
  merges/MERGE-SUCCESS-20250911-043500.md
Due: docker-force-flag-prohibition

test: complete comprehensive testing infrastructure with Golden Path E2E validation
  netra_backend/tests/unit/test_user_execution_engine_comprehensive.py
  reports/coverage/UNIT_TEST_COVERAGE_100_PERCENT_MISSION.md
  tests/e2e/golden_path/test_complete_golden_path_e2e_staging.py
  tests/mission_critical/test_ssot_regression_prevention_monitor.py
  tests/unit/ssot_compliance/README.md
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs: SSOT TestRunner Step 2 complete - NEW SSOT tests created
  SSOT-TestRunner-DuplicateImplementation-BlockingGoldenPathValidation.md
Due: docker-force-flag-prohibition

docs(merge): update merge documentation with completion status
  merges/MERGE-ISSUE-2025-09-11-Git-Gardener.md
Due: docker-force-flag-prohibition

chore(pre-pull): commit local changes to prevent conflicts
  netra_backend/pytest.ini
  netra_backend/tests/routes/test_health_route_llm_issue.py
  netra_backend/tests/websocket/test_concurrent_connections.py
  pytest.ini
  tests/integration/agent_execution_flows/test_tool_dispatcher_agent_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(testing): add comprehensive WebSocket agent bridge validation suite
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-e2e-golden-2025-09-10.md
  merges/MERGE-ISSUE-2025-09-10-CYCLE3.md
  test_framework/ssot/ASYNCTESTDATABASE_IMPLEMENTATION_SUMMARY.md
  tests/e2e/staging/test_gcp_staging_websocket_agent_bridge_fix.py
  tests/integration/test_deepagentstate_e2e_isolation_vulnerability.py
  tests/integration/websocket_agent_bridge/__init__.py
  tests/integration/websocket_agent_bridge/test_websocket_ssot_agent_integration.py
  tests/unit/websocket_ssot/__init__.py
  tests/unit/websocket_ssot/test_import_path_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add failing test gardener worklog for golden path protection
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-golden_path_protection-2025-09-10.md
Due: docker-force-flag-prohibition

feat(ci): add automated SSOT compliance validation to CI/CD pipeline
  .github/workflows/ssot-compliance-check.yml
  scripts/ci_ssot_compliance_validator.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(unit): add comprehensive DatabaseManager unit test suite
  netra_backend/tests/unit/test_database_manager_comprehensive_unit.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: SSOT TestRunner Step 3 complete - remediation plan created
  SSOT-TestRunner-DuplicateImplementation-BlockingGoldenPathValidation.md
Due: docker-force-flag-prohibition

test(e2e): add WebSocket resource cleanup SSOT validation
  tests/e2e/ssot_remediation/test_websocket_resource_cleanup_id_patterns.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(performance): add comprehensive Golden Path SLA validation suite
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-ALL_TESTS-2025-09-10.md
  docs/SSOT_REGRESSION_PREVENTION_GUIDE.md
  tests/performance/golden_path/test_golden_path_performance_sla_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(infrastructure): enhance pytest markers for comprehensive testing coverage
  pytest.ini
Due: none

docs: document Golden Path test collection failures and remediation
  reports/ssot_compliance/ssot_compliance_report_20250910_233059.json
  scripts/ci_ssot_compliance_validator.py
  ssot_monitoring_baseline.json
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(integration): add DatabaseManager integration test suite
  netra_backend/tests/integration/test_database_manager_comprehensive_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(process): update test gardener worklog and SSOT import registry
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-unit-20250910-231417.md
  SSOT_IMPORT_REGISTRY.md
Due: docker-force-flag-prohibition

test(integration): enhance SSOT cross-component ID compatibility validation
  tests/integration/ssot_remediation/test_cross_component_id_compatibility.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(unit): refine agent execution ID UUID4 migration validation
  tests/unit/ssot_remediation/test_agent_execution_id_uuid4_migration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(websocket): add comprehensive WebSocket testing infrastructure for Golden Path
  tests/integration/websocket/test_unified_websocket_manager_integration.py
  tests/integration/websocket_agent_bridge/test_websocket_ssot_agent_integration.py
  tests/unit/websocket_ssot/test_execution_state_consistency.py
  tests/unit/websocket_ssot/test_import_path_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add SSOT regression prevention system deployment summary
  SSOT_REGRESSION_PREVENTION_SYSTEM_DEPLOYMENT_SUMMARY.md
  tests/e2e/ssot_remediation/test_websocket_resource_cleanup_id_patterns.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(ssot): complete test discovery for logging SSOT violation
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-unit-20250910-231417.md
  SSOT-golden-path-mixed-logging-patterns-blocking-debug.md
  netra_backend/app/tools/performance_optimizer.py
  tests/security/test_deepagentstate_cross_contamination_patterns.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation
