Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

.pre-commit-config.yaml:

# Permissive Pre-commit Configuration for Netra Apex
# Focus: New files and edited sections only, not entire legacy codebase
# Philosophy: Progressive enhancement over rigid enforcement

repos:
  - repo: local
    hooks:
      # NEW FILES ONLY: Strict enforcement for new code
      - id: new-file-compliance
        name: New File Standards (strict for new files only)
        entry: python scripts/permissive_hooks/check_new_files.py
        language: system
        files: '\.(py|ts|tsx)$'
        stages: [commit]
        description: 'Applies strict standards ONLY to newly created files'
        
      # EDITED SECTIONS: Check only modified lines, not entire file
      - id: edited-lines-check
        name: Modified Lines Check (incremental)
        entry: python scripts/permissive_hooks/check_edited_lines.py
        language: system
        files: '\.(py|ts|tsx)$'
        stages: [commit]
        pass_filenames: true
        description: 'Validates only the lines being modified, not the entire file'
        
      # CRITICAL IMPORTS: Prevent new relative imports (warning for existing)
      - id: prevent-new-relative-imports
        name: Prevent New Relative Imports
        entry: python scripts/permissive_hooks/check_new_imports.py --warn-only
        language: system
        files: '\.py$'
        stages: [commit]
        pass_filenames: true
        description: 'Blocks new relative imports, warns about existing ones'
        
      # MAIN CODE PRIORITY: Stricter for app code, lenient for tests
      - id: main-code-quality
        name: Main Codebase Quality (app > tests)
        entry: python scripts/permissive_hooks/prioritized_check.py --priority app
        language: system
        files: '^(netra_backend/app|auth_service/auth_core|frontend/src)/.*\.(py|ts|tsx)$'
        stages: [commit]
        description: 'Prioritizes main application code quality over test files'
        
      # TEST FILE LENIENCY: Relaxed rules for test files
      - id: test-file-leniency
        name: Test File Check (permissive)
        entry: python scripts/permissive_hooks/test_check_lenient.py --max-lines 1000
        language: system
        files: '(test_.*\.py|.*_test\.py|tests/.*\.py)$'
        stages: [commit]
        description: 'Relaxed limits for test files - focus on functionality over form'
        
      # DUPLICATE DETECTION: Only for new code patterns
      - id: new-duplicate-prevention
        name: Prevent New Duplicates (incremental)
        entry: python scripts/permissive_hooks/check_new_duplicates.py --threshold 0.9
        language: system
        files: '\.py$'
        stages: [commit]
        pass_filenames: true
        description: 'Prevents introduction of NEW duplicate patterns only'
        
      # EMERGENCY BYPASS: Allow quick fixes with flag
      - id: emergency-bypass-check
        name: Emergency Fix Mode
        entry: python scripts/permissive_hooks/emergency_check.py
        language: system
        stages: [commit]
        pass_filenames: false
        description: 'Allows bypass with EMERGENCY_FIX flag in commit message'
        
      # PROGRESSIVE ENHANCEMENT: Track improvement over time
      - id: progress-tracker
        name: Code Quality Progress Tracker
        entry: python scripts/permissive_hooks/track_progress.py --log-only
        language: system
        stages: [commit]
        pass_filenames: false
        always_run: true
        description: 'Tracks quality improvements without blocking commits'

# Configuration for different severity levels
# These can be toggled based on development phase
default_stages: [commit]
fail_fast: true   # Stop at first failure for faster feedback
verbose: true     # Show detailed feedback to help developers

# Environment-specific overrides
# Development: More permissive
# Staging: Moderate enforcement  
# Production: Strict enforcement (use original config)

test(backend): fix test reliability issues
  netra_backend/tests/e2e/test_multi_service.py
  netra_backend/tests/integration/red_team/tier2_3_security_performance/test_performance_bottlenecks.py
  netra_backend/tests/services/test_llm_cache_service.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

test(e2e): improve E2E test configuration and port management
  tests/e2e/agent_startup_test_utils.py
  tests/e2e/config.py
  tests/e2e/dynamic_port_manager.py
  tests/e2e/integration/test_auth_jwt_generation.py
  tests/e2e/service_endpoints.py
  tests/e2e/test_cold_start_critical_issues.py
  tests/e2e/test_dev_launcher_real_startup.py
  tests/e2e/test_real_services_e2e_core.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

docs(learnings): update learnings index and auto-remediation reports
  SPEC/learnings/auto_remediation_1.xml
  SPEC/learnings/auto_remediation_2.xml
  SPEC/learnings/auto_remediation_3.xml
  SPEC/learnings/auto_remediation_4.xml
  SPEC/learnings/index.xml
  remediation_plan.json
Due: none

docs(index): simplify cross-system master index
  SPEC/CROSS_SYSTEM_MASTER_INDEX.md
Due: none

refactor(learnings): migrate auto-remediation to agent learnings format
  SPEC/learnings/agent_learning_1.xml
  SPEC/learnings/agent_learning_2.xml
  SPEC/learnings/agent_learning_3.xml
  SPEC/learnings/agent_learning_4.xml
  SPEC/learnings/agent_learning_5.xml
  SPEC/learnings/agent_task_1_security_specialist.txt
  SPEC/learnings/agent_task_2_security_specialist.txt
  SPEC/learnings/agent_task_3_security_specialist.txt
  SPEC/learnings/agent_task_4_security_specialist.txt
  SPEC/learnings/agent_task_5_security_specialist.txt
  SPEC/learnings/auto_remediation_1.xml
  SPEC/learnings/auto_remediation_2.xml
  SPEC/learnings/auto_remediation_3.xml
  SPEC/learnings/auto_remediation_4.xml
Due: none

feat(docker): add intelligent Docker remediation system
  INTELLIGENT_REMEDIATION_REPORT.md
  SPEC/learnings/agent_learning_3.xml
  docker_audit_report.json
  docker_e2e_test_update_20250828.md
  intelligent_remediation_summary.json
  remediation_plan.json
  scripts/intelligent_docker_remediation.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

fix(docker): update auth configuration and dependencies
  SPEC/learnings/agent_learning_4.xml
  auth_service/requirements.txt
  docker-compose.dev.yml
  docker_audit_report.json
  remediation_plan.json
  requirements.txt
Due: none

chore(learnings): add latest agent learning iteration
  SPEC/learnings/agent_learning_5.xml
  docker_audit_report.json
  remediation_plan.json
Due: none

refactor(learnings): consolidate agent learnings into unified architecture
  SPEC/intelligent_remediation_architecture.xml
  SPEC/learnings/agent_learning_1756410047.xml
  SPEC/learnings/agent_learning_1756410093.xml
  SPEC/learnings/agent_task_1_security_specialist.txt
  SPEC/learnings/agent_task_2_security_specialist.txt
  SPEC/learnings/agent_task_3_security_specialist.txt
  SPEC/learnings/agent_task_4_security_specialist.txt
  SPEC/learnings/agent_task_5_security_specialist.txt
  SPEC/learnings/auth_refresh_token_fix.xml
  SPEC/learnings/docker_container_naming_remediation.xml
  SPEC/learnings/index.xml
  SPEC/learnings/intelligent_remediation_auth_consolidated.xml
  SPEC/learnings/intelligent_remediation_tasks_consolidated.txt
Due: none

feat(auth): add comprehensive test infrastructure for auth service
  auth_service/tests/integration/test_refresh_integration.py
  auth_service/tests/unit/test_refresh_endpoint.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

feat(frontend): implement GTM circuit breaker for resilient analytics
  frontend/__tests__/gtm/gtm-circuit-breaker.test.ts
  frontend/lib/gtm-circuit-breaker.ts
  frontend/providers/GTMProvider.tsx
Due: new-file-compliance, edited-lines-check

test(e2e): enforce real services and add auth refresh flow testing
  scripts/remove_e2e_mock_fallbacks.py
  tests/e2e/agent_orchestration_fixtures.py
  tests/e2e/conftest.py
  tests/e2e/enforce_real_services.py
  tests/e2e/test_agent_coordination.py
  tests/e2e/test_agent_message_flow_implementation.py
  tests/e2e/test_auth_refresh_flow.py
  tests/e2e/test_llm_integration.py
  tests/e2e/test_staging_backend_service_failures.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

feat(scripts): add intelligent remediation orchestration system
  claude_prompts/main_agent_20250828_133402.txt
  docker_remediation_report_1756410047.json
  docker_remediation_report_1756410093.json
  intelligent_remediation_summary.json
  intelligent_remediation_summary.md
  log_analysis_1756413284.json
  log_analysis_1756413303.json
  remediation_plan.json
  scripts/claude_log_analyzer.py
  scripts/compliance/ssot_checker.py
  scripts/intelligent_docker_remediation.py
  scripts/intelligent_remediation_orchestrator.py
  scripts/setup_test_environment.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

fix(backend): improve startup/shutdown and ClickHouse stability
  netra_backend/app/agents/base/monitoring.py
  netra_backend/app/agents/data_sub_agent/clickhouse_operations.py
  netra_backend/app/core/lifespan_manager.py
  netra_backend/app/db/clickhouse.py
  netra_backend/app/llm/fallback_config.py
  netra_backend/app/middleware/security_response_middleware.py
  netra_backend/app/shutdown.py
  netra_backend/app/startup_module.py
  netra_backend/tests/unit/test_shutdown_errors.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

test(backend): enhance test coverage and critical path validation
  auth_service/coverage.json
  auth_service/coverage.xml
  auth_service/junit.xml
  netra_backend/tests/agents/test_data_sub_agent_consolidated.py
  netra_backend/tests/e2e/test_agent_workflow_e2e_comprehensive.py
  netra_backend/tests/integration/critical_paths/test_2fa_verification.py
  netra_backend/tests/integration/critical_paths/test_basic_system_cold_startup.py
  netra_backend/tests/integration/critical_paths/test_data_migration_integrity_l4.py
  netra_backend/tests/integration/critical_paths/test_database_sharding_strategy_l4.py
  netra_backend/tests/integration/critical_paths/test_metrics_aggregation_pipeline_l4.py
  netra_backend/tests/integration/test_agent_database_integration_comprehensive.py
  netra_backend/tests/test_clickhouse_ssot_compliance.py
  netra_backend/tests/test_data_sub_agent_coordination.py
  netra_backend/tests/unit/agents/data_sub_agent/test_clickhouse_client.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

docs: update documentation and remediation reports
  DOCKER_MULTI_AGENT_REMEDIATION_FINAL_REPORT.md
  DOCKER_REMEDIATION_REPORT_FINAL.md
  E2E_AGENT_TEST_AUDIT_REPORT.md
  INTELLIGENT_REMEDIATION_REPORT.md
  LLM_MASTER_INDEX.md
  PERFORMANCE_OPTIMIZATION_REPORT_20250828.md
  docker_audit_report.json
  docker_e2e_test_update_20250828.md
  frontend/components/AuthGuard.tsx
  frontend/lib/auth-service-client.ts
Due: new-file-compliance, edited-lines-check

docs(database): add async session state management patterns
  SPEC/database_connectivity_architecture.xml
Due: none

chore(learnings): remove obsolete agent learning files
  SPEC/learnings/agent_learning_1.xml
  SPEC/learnings/agent_learning_2.xml
  SPEC/learnings/agent_learning_3.xml
  SPEC/learnings/agent_learning_4.xml
  SPEC/learnings/agent_learning_5.xml
Due: none

fix(frontend): add fallback rendering for missing Lucide icons
  frontend/components/chat/ChatHeader.tsx
  frontend/components/chat/ConnectionMetrics.tsx
  frontend/components/chat/ConnectionStatusIndicator.tsx
  frontend/components/chat/MCPServerStatus.tsx
Due: new-file-compliance, edited-lines-check

test(auth): fix JWT handler property names and skip unimplemented tests
  auth_service/tests/unit/test_refresh_endpoint.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

feat(agents): add graceful degradation for missing dependencies
  netra_backend/app/agents/actions_to_meet_goals_sub_agent.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test(backend): fix user service import paths in state persistence tests
  netra_backend/tests/unit/test_state_persistence_user_fk_fix.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

fix(database): implement state-aware async session management
  netra_backend/app/db/postgres_async.py
  netra_backend/app/db/postgres_cloud.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

docs(learnings): add GTM infinite loop prevention to index
  SPEC/learnings/index.xml
Due: none

test(frontend): export test helpers from utils index
  frontend/__tests__/utils/index.ts
Due: new-file-compliance, edited-lines-check

fix(database): apply async session management patterns system-wide
  netra_backend/app/db/client_postgres_session.py
  netra_backend/app/db/migration_manager.py
  netra_backend/app/db/postgres_core.py
  netra_backend/app/db/postgres_session.py
  netra_backend/app/db/postgres_unified.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(backend): update error handler import paths to SSOT pattern
  netra_backend/app/agents/actions_agent_execution.py
  netra_backend/app/agents/actions_to_meet_goals_sub_agent.py
  netra_backend/app/agents/admin_tool_dispatcher/tool_handlers_core.py
  netra_backend/app/agents/base/executor.py
  netra_backend/app/agents/data_sub_agent/agent_cache.py
  netra_backend/app/agents/data_sub_agent/analysis_engine.py
  netra_backend/app/agents/data_sub_agent/anomaly_detector.py
  netra_backend/app/agents/data_sub_agent/execution_core.py
  netra_backend/app/agents/data_sub_agent/execution_engine.py
  netra_backend/app/agents/mcp_integration/mcp_intent_detector.py
  netra_backend/app/agents/optimizations_core_sub_agent.py
  netra_backend/app/agents/synthetic_data/core.py
  netra_backend/app/agents/triage_sub_agent.py
  netra_backend/app/agents/triage_sub_agent/executor.py
  netra_backend/app/agents/triage_sub_agent/processing.py
  netra_backend/app/clients/auth_client_core.py
  netra_backend/app/db/migrations/migration_runner.py
  netra_backend/tests/agents/data_sub_agent_test_helpers.py
  netra_backend/tests/critical/test_execution_context_hashable_regression.py
  netra_backend/tests/helpers/data_sub_agent_test_compatibility.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

test(auth): fix refresh endpoint and state persistence tests
  auth_service/tests/unit/test_refresh_endpoint.py
  netra_backend/tests/unit/test_state_persistence_user_fk_fix.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

feat(frontend): add auth initialization tracking and dynamic refresh
  frontend/auth/context.tsx
  frontend/auth/unified-auth-service.ts
  frontend/components/AuthGuard.tsx
  frontend/components/LoginButton.tsx
Due: new-file-compliance, edited-lines-check

test(frontend): enhance test infrastructure and fix WebSocket tests
  frontend/__tests__/critical/memory-exhaustion.test.tsx
  frontend/__tests__/first-time-user/initial-chat.test.tsx
  frontend/__tests__/helpers/index.ts
  frontend/__tests__/integration/collaboration-state.test.tsx
  frontend/__tests__/integration/corpus-management.test.tsx
  frontend/__tests__/integration/websocket-complete-refactored.test.tsx
  frontend/__tests__/integration/websocket-large-messages.test.tsx
  frontend/__tests__/integration/websocket-lifecycle.test.tsx
  frontend/__tests__/integration/websocket-messaging.test.tsx
  frontend/__tests__/integration/websocket-performance.test.tsx
  frontend/__tests__/integration/websocket-stress.test.tsx
  frontend/__tests__/websocket-parse-error.test.tsx
  frontend/jest.setup.js
Due: new-file-compliance, edited-lines-check

test(multi): add comprehensive auth and state persistence tests
  frontend/__tests__/auth/auth-mock-validation.test.tsx
  frontend/__tests__/auth/debug-detailed-token-refresh.test.tsx
  frontend/__tests__/auth/debug-exception-token-refresh.test.tsx
  frontend/__tests__/auth/debug-token-refresh.test.tsx
  frontend/__tests__/auth/direct-test-token-refresh.test.tsx
  frontend/__tests__/auth/fixed-token-refresh.test.tsx
  frontend/__tests__/auth/token-refresh-environment-aware.test.tsx
  frontend/__tests__/gtm/gtm-infinite-loop-prevention.test.tsx
  frontend/cypress/e2e/gtm-circuit-breaker.cy.ts
  netra_backend/tests/integration/test_state_persistence_foreign_key_fix.py
  netra_backend/tests/unit/test_actions_to_meet_goals_agent_state.py
  netra_backend/tests/unit/test_state_persistence_user_creation.py
  scripts/test_staging_jwt_validation.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

docs(multi): add comprehensive documentation and specifications
  AUTH_PERSISTENCE_REMEDIATION_REPORT.md
  AUTH_REFRESH_TOKEN_AUDIT_REPORT.md
  CRITICAL_SSOT_AUTHENTICATION_CONSOLIDATION_REPORT.md
  CRITICAL_SSOT_DATABASE_MANAGER_CONSOLIDATION_REPORT.md
  E2E_TEST_BLOCKING_AUDIT.md
  ERROR_HANDLER_CONSOLIDATION_ANALYSIS.md
  GCP_STAGING_HEALTH_REPORT_20250828_POST_FIXES.md
  GTM_CIRCUIT_BREAKER_IMPLEMENTATION_REPORT.md
  MICROSOFT_CLARITY_CSP_IMPLEMENTATION_PLAN.md
  SPEC/agent_state_management.xml
  SPEC/auth_persistence_requirements.xml
  SPEC/data_sub_agent_enhancement.xml
  SPEC/learnings/auth_persistence_fixes_2025.xml
  SPEC/learnings/gtm_infinite_loop_prevention.xml
  SPEC/learnings/staging_auth_url_correction.xml
  STATE_PERSISTENCE_FK_FIX_REPORT.md
  TYPE_DEFINITION_CONSOLIDATION_REPORT.md
  frontend/FRONTEND_TEST_FAILURES.md
Due: none

chore(frontend): update UI components and build configuration
  frontend/components/WebSocketTest.tsx
  frontend/components/chat/MainChat.tsx
  frontend/components/chat/MessageInput.tsx
  frontend/components/chat/ThinkingIndicator.tsx
  frontend/components/chat/components/MessageActionButtons.tsx
  frontend/components/ui/scroll-area.tsx
  junit.xml
  scripts/deploy_to_gcp.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

test(frontend): fix auth test imports and mock configurations
  frontend/__tests__/auth/auth-components-states.test.tsx
  frontend/__tests__/auth/auth-context-storage-events.test.tsx
  frontend/__tests__/auth/fixed-token-refresh.test.tsx
  frontend/auth/unified-auth-service.ts
  frontend/jest.setup.js
Due: new-file-compliance, edited-lines-check

feat(frontend): enhance WebSocket service with better error handling
  frontend/services/webSocketService.ts
Due: new-file-compliance, edited-lines-check

refactor(backend): remove legacy error handling infrastructure
  netra_backend/app/core/error_handlers/__init__.py
  netra_backend/app/core/error_handlers/agents/__init__.py
  netra_backend/app/core/error_handlers/agents/agent_error_handler.py
  netra_backend/app/core/error_handlers/agents/execution_error_handler.py
  netra_backend/app/core/error_handlers/api/__init__.py
  netra_backend/app/core/error_handlers/api/api_error_handler.py
  netra_backend/app/core/error_handlers/api/exception_router.py
  netra_backend/app/core/error_handlers/api/fastapi_exception_handlers.py
  netra_backend/app/core/error_handlers/api/response_builder.py
  netra_backend/app/core/error_handlers/base_error_handler.py
  netra_backend/app/core/error_handlers/error_classification.py
  netra_backend/app/core/error_handlers/error_recovery.py
  netra_backend/app/core/error_handlers/fastapi_handlers.py
  netra_backend/app/core/error_handlers/handler.py
  netra_backend/app/core/error_handlers/processors.py
  netra_backend/app/core/error_handlers/status_mapping.py
  netra_backend/app/core/error_handlers/types.py
  netra_backend/app/llm/error_classification.py
  netra_backend/app/middleware/error_metrics_middleware.py
  netra_backend/app/middleware/error_recovery_helpers.py
  netra_backend/app/middleware/error_recovery_middleware.py
  netra_backend/app/middleware/error_response_builder.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(backend): consolidate database connectivity to single implementation
  netra_backend/app/agents/supply_researcher/database_manager.py
  netra_backend/app/auth_integration/__init__.py
  netra_backend/app/clients/auth_client_core.py
  netra_backend/app/core/database_connection_manager.py
  netra_backend/app/core/unified/db_connection_manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test(backend): remove obsolete unit tests
  netra_backend/tests/unit/test_auth_integration.py
  netra_backend/tests/unit/test_pr_router_security.py
  netra_backend/tests/unit/test_pr_router_state.py
  netra_backend/tests/unit/test_pr_router_utils.py
  netra_backend/tests/unit/test_user_service_auth.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

feat(scripts): enhance unified test runner with better error handling
  scripts/unified_test_runner.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention
