Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

docs: Add Issue #891 BaseAgent session management failures to worklog
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-critical-2025-09-14.md
Due: docker-force-flag-prohibition

fix(agents): update agent test APIs and remove deprecated WebSocket adapter
  netra_backend/tests/integration/agents/test_agent_execution_comprehensive.py
  netra_backend/tests/unit/agents/supervisor/test_agent_registry_issue758_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(comprehensive): add comprehensive test suite infrastructure expansion
  frontend/__tests__/lib/threadstate-namespace-collision.test.ts
  netra_backend/tests/agents/test_admin_tool_executors_core.py
  tests/e2e/test_agent_performance_concurrency_e2e.py
  tests/unit/core/test_idtype_run_enum_validation_unit.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(frontend): resolve ThreadState namespace collision in state machine
  frontend/lib/thread-state-machine.ts
  netra_backend/tests/unit/test_websocket_manager_factory.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(frontend): complete ThreadState namespace SSOT migration
  frontend/__mocks__/lib/thread-state-machine.ts
  frontend/lib/thread-state-machine.ts
Due: architecture-compliance, file-size-limit, type-safety-check

refactor(websocket): remove deprecated factory and update test infrastructure
  netra_backend/tests/unit/test_websocket_manager_factory.py
  netra_backend/tests/unit/websocket/test_connection_id_generation.py
  netra_backend/tests/unit/websocket/test_manager_factory_business_logic.py
  netra_backend/tests/unit/websocket/test_message_routing_logic.py
  netra_backend/tests/unit/websocket/test_websocket_id_migration_uuid_exposure.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): update admin tool executors test and ThreadState collision test
  frontend/__tests__/lib/threadstate-namespace-collision.test.ts
  netra_backend/tests/agents/test_admin_tool_executors_core.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(tests): Add comprehensive unit tests for agent lifecycle and communication
  frontend/__mocks__/lib/thread-state-machine.ts
  netra_backend/tests/unit/deprecated/test_websocket_manager_factory.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(comprehensive): add E2E results worklog and specialized SSOT validation tests
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-all-2025-09-14-1835.md
  tests/integration/agents/test_agent_websocket_event_delivery_nodatabase.py
  tests/unit/core/test_idtype_run_generation_unit.py
  tests/unit/ssot_validation/test_execution_engine_factory_consolidation_884.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): update WebSocket manager tests for SSOT compliance and frontend types
  frontend/store/slices/types.ts
  netra_backend/tests/unit/websocket_core/test_isolated_websocket_manager_comprehensive.py
  netra_backend/tests/unit/websocket_core/test_unified_manager.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(frontend): complete ThreadState namespace collision resolution
  frontend/__tests__/lib/threadstate-namespace-collision.test.ts
  frontend/store/slices/threadSlice.ts
Due: architecture-compliance, file-size-limit, type-safety-check

fix: resolve ThreadState namespace collision via semantic naming
  STAGING_TEST_REPORT_PYTEST.md
  frontend/__tests__/lib/threadstate-namespace-collision.test.ts
  netra_backend/tests/unit/websocket/test_connection_id_generation.py
  netra_backend/tests/unit/websocket_core/test_websocket_connection_management_unit.py
  netra_backend/tests/unit/websocket_core/test_websocket_manager_factory_comprehensive.py
  tests/e2e/test_supply_researcher_enhanced_e2e.py
  tests/integration/agents/test_agent_registry_concurrent_access_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: UserExecutionContext parameter correction - session_data to agent_context
  netra_backend/tests/unit/websocket_core/test_websocket_manager_factory_comprehensive.py
  tests/integration/core/test_idtype_run_ssot_integration.py
  tests/unit/ssot_validation/test_factory_method_consolidation_884.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore(validation): add staging test results and ThreadState type safety validation
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-critical-2025-09-14.md
  STAGING_TEST_REPORT_PYTEST.md
  frontend/__tests__/lib/type-safety-threadstate.test.ts
  validate_fixes.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Update failing test gardener worklog with Agent Registry WebSocket integration failures - Issue #896
  frontend/__tests__/lib/type-safety-threadstate.test.ts
  tests/integration/ssot_validation/test_user_execution_engine_factory_consistency_884.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: complete ThreadState SSOT migration and test updates
  frontend/types/store-types.ts
  test_import_fixes.py
  tests/integration/agents/test_user_execution_engine_integration.py
  tests/unit/core/test_idtype_run_validation_formats_unit.py
  validate_fixes.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(e2e): add cross-service agent integration E2E test and cleanup test scripts
  test_import_fixes.py
  tests/e2e/test_cross_service_agent_integration_e2e.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): update test infrastructure for SSOT compliance and add execution engine isolation validation
  STAGING_TEST_REPORT_PYTEST.md
  netra_backend/tests/unit/agents/supervisor/test_agent_registry_issue758_comprehensive.py
  netra_backend/tests/unit/websocket/test_connection_id_generation.py
  tests/integration/ssot_validation/test_execution_engine_factory_user_isolation_884.py
  tests/unit/core/test_idtype_run_enum_validation_unit.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: CRITICAL MILESTONE - Created 3 failing tests proving DeepAgentState SSOT violation
  DEEPAGENTSTATE_ROLLBACK_PLAN.md
  DEEPAGENTSTATE_SSOT_REMEDIATION_STRATEGY.md
  FAILING-TEST-GARDENER/FAILING-TEST-GARDENER-WORKLOG-critical-2025-09-13.md
  SSOT-AgentState-DuplicateDeepAgentStateDefinitions.md
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-all-2025-09-14.md
  tests/mission_critical/test_deepagentstate_business_protection.py
  tests/reproduction/issue_877_deepagentstate_regression/test_agent_lifecycle_method_regression.py
  tests/reproduction/issue_877_deepagentstate_regression/test_deepagentstate_import_regression.py
  tests/run_issue_871_test_suite.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs(merge): Complete rebase resolution documentation with status update
  merges/MERGEISSUE-2025-09-13.md
Due: docker-force-flag-prohibition

feat(test-framework): add SSOT base integration test and fix agent registry for real testing
  netra_backend/tests/unit/agents/supervisor/test_agent_registry_issue758_comprehensive.py
  test_framework/ssot/base_integration_test.py
  tests/unit/core/test_idtype_run_enum_validation_unit.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(test-framework): complete IDType.RUN validation and add unified database session
  test_framework/unified/auth_database_session.py
  tests/unit/core/test_idtype_run_enum_validation_unit.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: update remaining ThreadSliceState references in store exports
  frontend/store/slices/index.ts
  frontend/store/unified-chat-modular.ts
  test_framework/fixtures/database_fixtures.py
  tests/e2e/golden_path/test_consolidated_factory_golden_path_884.py
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-all-2025-09-14-1835.md
  tests/integration/agents/test_base_agent_factory_user_isolation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(agents): correct ToolResult import path in admin tool executors
  netra_backend/app/agents/admin_tool_executors.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

config(staging): update staging environment configuration for enhanced E2E testing
  .env.staging.e2e
  .env.staging.tests
Due: none

test(agents): enhance agent lifecycle and factory isolation test suites
  netra_backend/tests/agents/test_agent_lifecycle_core.py
  tests/integration/agents/test_agent_registry_concurrent_access_integration.py
  tests/integration/agents/test_base_agent_factory_user_isolation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(integration): enhance test framework and agent WebSocket event delivery validation
  test_framework/tests/test_environment_lock.py
  tests/integration/agents/test_agent_websocket_event_delivery_nodatabase.py
  tests/integration/agents/test_user_execution_engine_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Unit test infrastructure improvements and import fixes
  SSOT_IDTYPE_RUN_TEST_VALIDATION_REPORT.md
  frontend/__tests__/lib/test-threadslice-state-ssot-migration.test.ts
  netra_backend/tests/agents/test_agent_lifecycle_core.py
  reports/ISSUE_488_WEBSOCKET_REMEDIATION_PLAN.md
  shared/security_origins_config.py
  tests/integration/agents/test_agent_registry_concurrent_access_integration.py
  tests/integration/agents/test_agent_websocket_event_delivery_nodatabase.py
  tests/integration/agents/test_base_agent_factory_user_isolation.py
  tests/integration/agents/test_user_execution_engine_integration.py
  tests/integration/golden_path/test_websocket_events_factory_consolidation_884.py
  tests/integration/test_e2e_staging_import_validation_issue_881.py
  tests/mission_critical/websocket_real_test_base.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test(ssot): Fix DeepAgentState regression test import detection
  WEBSOCKET_SUBPROTOCOL_FIX_SUMMARY.md
  test_execution_engine_modern_api.py
  tests/reproduction/issue_877_deepagentstate_regression/test_deepagentstate_import_regression.py
  tests/reproduction/issue_877_deepagentstate_regression/test_user_execution_context_integration_missing.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Complete Step 2 - comprehensive SSOT test creation
  SSOT-incomplete-migration-IDType-RUN-Missing.md
Due: docker-force-flag-prohibition

docs(ssot): add DeepAgentState SSOT remediation strategy and rollback plan
  netra_backend/app/schemas/agent_models.py
  temp_issue_body.md
  test_framework/ssot/e2e_auth_helper.py
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-all-2025-09-14.md
  tests/reproduction/issue_877_deepagentstate_regression/test_deepagentstate_import_regression.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(agents): Phase 1 critical remediation for Issue #872
  frontend/__tests__/lib/test-threadstate-canonical-import.test.ts
  netra_backend/app/agents/agent_communication.py
  netra_backend/app/schemas/shared_types.py
  setup_staging_tests.py
  test_framework/tests/test_ssot_framework.py
  tests/integration/agents/test_agent_registry_concurrent_access_integration.py
  tests/integration/agents/test_agent_websocket_event_delivery_nodatabase.py
  tests/integration/agents/test_base_agent_factory_user_isolation.py
  tests/integration/agents/test_user_execution_engine_integration.py
  tests/integration/regression/test_factory_consolidation_no_regressions_884.py
  tests/integration/test_e2e_staging_import_validation_issue_881.py
  tests/integration/test_issue847_staging_websocket_connectivity.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Complete Step 3 - SSOT remediation plan finalized
  SSOT-incomplete-migration-IDType-RUN-Missing.md
Due: docker-force-flag-prohibition

feat(test-framework): enhance SSOT configuration validation and agent registry testing
  test_framework/ssot/configuration_validator.py
  tests/integration/agents/test_agent_registry_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(agents): enhance agent lifecycle management core functionality
  netra_backend/app/agents/agent_lifecycle.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(test-framework): enhance GitHub integration and database session management
  test_framework/tests/integration/github_integration/conftest.py
  test_framework/tests/test_database_session_management.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor: Clean up test infrastructure and enhance WebSocket helper compatibility
  temp_issue_body.md
  test_execution_engine_modern_api.py
  test_framework/websocket_helpers.py
  tests/critical/test_gcp_staging_critical_fixes_iteration_2.py
  tests/reproduction/issue_877_deepagentstate_regression/test_deepagentstate_import_regression.py
  tests/unit/websocket_ssot/test_websocket_manager_fragmentation_detection.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(e2e): update comprehensive deployment remediation worklog
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-all-2025-09-14-1835.md
Due: docker-force-flag-prohibition

test(performance): add factory consolidation performance validation for issue #884
  tests/performance/test_factory_consolidation_performance_884.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
