Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

fix: TIER 0 SSOT logging remediation - bootstrap foundation established
  PHASE_1_WEBSOCKET_INTERFACE_ANALYSIS.md
  docs/SSOT_COMPREHENSIVE_COVERAGE_REPORT.md
  netra_backend/app/agents/supervisor/workflow_orchestrator.py
  netra_backend/app/core/configuration_validator.py
  netra_backend/app/services/websocket_error_validator.py
  reports/SSOT_LOGGING_REMEDIATION_STRATEGY.md
  shared/config_builder_base.py
  shared/cors_config_builder.py
  shared/lifecycle/service_lifecycle_manager.py
  shared/lifecycle/startup_integration.py
  shared/logging/unified_logger_factory.py
  shared/redis/ssot_redis_operations.py
  test_framework/ssot/agent_event_validators.py
  test_framework/ssot/configuration_validator.py
  test_framework/ssot/logging_compliance_scanner.py
  tests/e2e/golden_path/test_configuration_validator_golden_path.py
  tests/mission_critical/WEBSOCKET_SSOT_VIOLATION_PROOF_RESULTS.md
  tests/mission_critical/test_configuration_validator_ssot_violations.py
  tests/mission_critical/test_websocket_factory_ssot_violation_simple.py
  tests/mission_critical/test_websocket_mock_ssot_bypass_simple.py
  tests/mission_critical/test_websocket_ssot_consolidation_simple.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat: complete EventValidator SSOT consolidation - MILESTONE ACHIEVED
  netra_backend/app/core/configuration/validator.py
  test_framework/ssot/configuration_validator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add comprehensive SSOT violation detection suite for MessageRouter and WebSocket
  tests/e2e/test_message_router_end_to_end_staging.py
  tests/integration/test_message_router_websocket_integration.py
  tests/unit/test_message_router_ssot_violations.py
  tests/unit/websocket_ssot/test_interface_violations.py
  tests/unit/websocket_ssot/test_ssot_violation_discovery.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: complete SSOT remediation for WorkflowOrchestrator
  SSOT-WorkflowOrchestrator-execution-engine-interface-fragmentation.md
  SSOT-regression-logging-chaos-1121-violations.md
  SSOT_TOOL_DISPATCHER_PHASE1_ANALYSIS_REPORT.md
  netra_backend/app/core/configuration/validator.py
  netra_backend/app/websocket_core/unified_manager.py
  shared/configuration/central_config_validator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: complete Tier 0 foundation fixes for logging SSOT violations issue #232
  netra_backend/app/core/configuration_validator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(final): complete WebSocket integration and backend test modernization
  .gitignore
  netra_backend/tests/integration/authentication/test_authentication_security_comprehensive_integration.py
  netra_backend/tests/integration/health/test_health_ready_endpoint_performance_integration.py
  netra_backend/tests/integration/isolation/test_multi_user_state_machine_isolation_comprehensive_integration.py
  netra_backend/tests/integration/middleware/test_session_dependency_integration.py
  netra_backend/tests/integration/monitoring/test_observability_pipeline_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(websocket): add comprehensive WebSocket connection manager tests
  netra_backend/tests/unit/websocket_core/test_connection_manager_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add technical issue documentation and remediation plans
  GITHUB_ISSUE_PYTEST_TIMEOUT_MISSING.md
  PR_UNIT_TEST_FIXES.md
  UNIT_TEST_IMPORT_REMEDIATION_PLAN.md
Due: docker-force-flag-prohibition

test: add EventValidator SSOT violations and Golden Path failure tests
  tests/integration/websocket_golden_path/test_golden_path_failures.py
  tests/unit/event_validator_ssot/test_import_inconsistency_detection.py
  tests/unit/event_validator_ssot/test_unified_event_validator_core.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: update EventValidator SSOT violation progress - Step 4 complete
  SSOT-incomplete-migration-EventValidator-violations.md
Due: docker-force-flag-prohibition

docs: complete SSOT RequestScopedToolDispatcher Phase 1 execution
  SSOT-incomplete-migration-RequestScopedToolDispatcher-multiple-competing-implementations.md
Due: docker-force-flag-prohibition

refactor(tests): standardize imports for SSOT compliance
  netra_backend/tests/integration/authentication/test_authentication_security_comprehensive_integration.py
  netra_backend/tests/integration/performance/test_caching_performance_integration.py
  netra_backend/tests/integration/performance/test_database_performance_under_load_integration.py
  netra_backend/tests/integration/startup/test_websocket_phase_comprehensive.py
  netra_backend/tests/unit/websocket_core/test_connection_manager_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: achieve 100% test success for WorkflowOrchestrator SSOT compliance
  PHASE_1_COMPLETION_REPORT.md
  PHASE_1_COMPLETION_SUMMARY.md
  SSOT-WorkflowOrchestrator-execution-engine-interface-fragmentation.md
  SSOT-regression-websocket-manager-duplicates.md
  SSOT_TOOL_DISPATCHER_ROLLBACK_PROCEDURES.md
  auth_service/auth_core/core/jwt_handler.py
  auth_service/services/jwt_service.py
  auth_service/services/oauth_service.py
  netra_backend/app/auth_integration/auth.py
  netra_backend/app/core/configuration/validator.py
  netra_backend/app/core/configuration_validator.py
  netra_backend/app/main.py
  netra_backend/app/websocket_core/__init__.py
  netra_backend/app/websocket_core/circuit_breaker.py
  netra_backend/app/websocket_core/compatibility_layer.py
  netra_backend/app/websocket_core/connection_id_manager.py
  netra_backend/app/websocket_core/graceful_degradation_manager.py
  netra_backend/app/websocket_core/websocket_manager_factory.py
  netra_backend/tests/unit/agents/test_workflow_orchestrator_ssot_validation.py
  test_framework/ssot/configuration_validator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: SSOT gardener Phase 1 complete - OAuth validation consolidation
  SSOT-incomplete-migration-configuration-validator-duplication.md
Due: docker-force-flag-prohibition

docs: complete Tier 1 golden path SSOT fixes for issue #232
  SSOT-regression-logging-chaos-1121-violations.md
Due: docker-force-flag-prohibition

fix: update AuthenticationMiddleware import to AuthMiddleware
  netra_backend/tests/integration/authentication/test_authentication_security_comprehensive_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor: replace requires_real_database decorator with service availability checks
  netra_backend/tests/integration/startup/test_cache_phase_comprehensive.py
  netra_backend/tests/integration/startup/test_database_phase_comprehensive.py
  netra_backend/tests/integration/startup/test_finalize_phase_comprehensive.py
  tests/integration/startup/test_startup_finalize_database_operations.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor: update integration tests with import and service availability improvements
  netra_backend/tests/integration/race_conditions/test_database_session_races.py
  netra_backend/tests/integration/race_conditions/test_execution_engine_registry_races.py
  netra_backend/tests/integration/security/test_authentication_flow_real_services_integration.py
  netra_backend/tests/integration/test_message_routing_comprehensive.py
  netra_backend/tests/integration/test_message_routing_thread_management.py
  netra_backend/tests/integration/test_trace_propagation.py
  tests/integration/test_websocket_ssot_golden_path.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

ci: normalize line endings in GitHub workflow files
  .github/workflows/architecture-compliance.yml
  .github/workflows/ci.yml
Due: docker-force-flag-prohibition, docker-security-audit

feat: enhance user execution context comprehensive test with extended validations
  netra_backend/tests/unit/agents/supervisor/test_user_execution_context_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: normalize line endings and update remaining test files
  .github/workflows/factory-status-report.yml
  .github/workflows/master-orchestrator.yml
  netra_backend/tests/integration/race_conditions/test_execution_engine_registry_races.py
  netra_backend/tests/integration/test_agent_execution_core.py
  tests/integration/test_websocket_ssot_golden_path.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: update EventValidator SSOT violation progress - Step 5 complete
  SSOT-incomplete-migration-EventValidator-violations.md
Due: docker-force-flag-prohibition

feat: implement Phase 2 SSOT consolidation runtime integration
  netra_backend/app/schemas/config.py
  netra_backend/app/services/agent_websocket_bridge.py
  tests/integration/websocket_ssot_compliance_suite.py
  tests/unit/websocket_ssot_security_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: implement SSOT consolidation support features and enhanced testing
  merges/MERGEISSUE:2025-09-10-15:22.md
  netra_backend/app/schemas/config.py
  netra_backend/app/websocket_core/unified_emitter.py
  tests/e2e/staging/event_validator_ssot/test_validation_inconsistency_recovery.py
  tests/mission_critical/test_websocket_manager_ssot_violations.py
  tests/unit/event_validator_ssot/test_import_inconsistency_detection.py
  tests/unit/event_validator_ssot/test_unified_event_validator_core.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test: update test infrastructure and WebSocket client improvements
  STAGING_TEST_REPORT_PYTEST.md
  tests/integration/test_message_router_websocket_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add comprehensive WebSocket SSOT compliance and security test suite
  tests/e2e/staging/event_validator_ssot/test_golden_path_event_validation.py
  tests/integration/event_validator_ssot/test_production_validator_detection.py
  tests/integration/event_validator_ssot/test_validation_consistency_integration.py
  tests/integration/websocket_ssot_compliance_suite.py
  tests/unit/test_message_router_ssot_violations_quick.py
  tests/unit/websocket_ssot_security_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: complete SSOT Gardening mission for WorkflowOrchestrator
  SSOT-WorkflowOrchestrator-execution-engine-interface-fragmentation.md
  SSOT_WORKFLOW_ORCHESTRATOR_COMPLETION_REPORT.md
  tests/mission_critical/test_configuration_validator_ssot_violations.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

ci: restructure GitHub Actions workflow configuration
  .github/workflows/startup-validation-tests.yml
  .github/workflows/test.yml
Due: docker-force-flag-prohibition, docker-security-audit

refactor(tests): update model imports and add execution context test
  netra_backend/tests/integration/test_database_user_session_management_real_services.py
  netra_backend/tests/integration/test_redis_caching_real_services.py
  netra_backend/tests/unit/agents/base/test_execution_context_comprehensive.py
  netra_backend/tests/unit/websocket_core/handlers/__init__.py
  tests/integration/golden_path/test_agent_orchestration_execution_comprehensive.py
  tests/mission_critical/ssot/__init__.py
  tests/mission_critical/ssot/test_ssot_websocket_manager_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test: enhance WebSocket SSOT compliance validation
  tests/mission_critical/ssot/test_ssot_websocket_manager_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test: add comprehensive SSOT validation orchestration
  tests/mission_critical/ssot/test_ssot_websocket_manager_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs: complete SSOT RequestScopedToolDispatcher Phase 1 with full validation
  SSOT-incomplete-migration-RequestScopedToolDispatcher-multiple-competing-implementations.md
Due: docker-force-flag-prohibition

refactor: WebSocket SSOT consolidation and test enhancements
  netra_backend/app/websocket_core/connection_manager.py
  netra_backend/tests/integration/startup/test_dependencies_phase_comprehensive.py
  netra_backend/tests/unit/agents/base/test_executor_comprehensive.py
  pytest.ini
  tests/integration/golden_path/test_agent_orchestration_execution_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: document Windows filename merge issue and update tests
  merges/MERGEISSUE_2025-09-10_15-22.md
  netra_backend/tests/unit/agents/base/test_executor_comprehensive.py
  tests/mission_critical/ssot/test_ssot_websocket_manager_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs: complete SSOT WebSocket manager Phase 1 remediation
  SSOT-regression-websocket-manager-duplicates.md
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

fix: add missing send_event method to WebSocketManager for SSOT compatibility
  netra_backend/app/websocket_core/unified_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: SSOT gardener Step 5 complete - comprehensive test validation confirms success
  SSOT-incomplete-migration-configuration-validator-duplication.md
Due: docker-force-flag-prohibition

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
