Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

fix(auth): resolve WebSocket JWT authentication failures in staging
  reports/websocket_jwt_auth_bug_fix_20250907.md
  reports/websocket_jwt_bug_fix_20250907.md
  tests/e2e/jwt_token_helpers.py
  tests/e2e/staging/test_priority1_critical.py
  tests/e2e/staging_test_config.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): resolve agent execution endpoint test - now uses correct API paths
  STAGING_TEST_REPORT_PYTEST.md
  frontend/__tests__/integration/thread-switching-simple.test.tsx
  frontend/jest.setup.js
  netra_backend/app/routes/agents_execute.py
  reports/bug_fixes/agent_execution_fix_20250907.md
  reports/staging_test_progress_iteration_2.md
  tests/e2e/staging/test_priority1_critical.py
  tests/e2e/test_websocket_full_flow.py
  tests/e2e/test_websocket_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): resolve UnifiedDockerManager initialization error in agent pipeline tests
  reports/bugfix/unified_docker_manager_init_fix.md
  reports/staging/test_results_iteration_1.md
  tests/e2e/test_agent_pipeline_real.py
  tests/unit/test_unified_docker_manager_parameter_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): correct UnifiedDockerManager method call in agent pipeline tests
  STAGING_TEST_REPORT_PYTEST.md
  frontend/jest.setup.js
  reports/staging/test_results_iteration_2.md
  test_output.txt
  tests/e2e/test_agent_pipeline_real.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): improve JWT validation in user context extraction
  netra_backend/app/websocket_core/user_context_extractor.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add WebSocket 403 reproducer and regression tests
  test_websocket_403_reproducer.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add bug fix reports and test iteration documentation
  reports/WEBSOCKET_AUTH_BUG_FIX_20250907.md
Due: docker-force-flag-prohibition

fix(auth): resolve JWT secret mapping inconsistency for WebSocket auth
  deployment/secrets_config.py
  scripts/deploy_to_gcp.py
  tests/debug/websocket_auth_staging_debug.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): critical WebSocket 403 authentication fix for staging
  CLAUDE.md
  debug_jwt_staging.py
  debug_staging_secrets.py
  deployment_auth_iteration_26_20250907.txt
  deployment_backend_iteration_26_20250907.txt
  deployment_log_iteration_26_20250907.txt
  fix_websocket_403_gcp_secret.py
  netra_backend/app/routes/websocket.py
  netra_backend/app/routes/websocket_factory.py
  netra_backend/app/websocket_core/user_context_extractor.py
  reports/STAGING_TEST_ITERATION_26_REPORT_20250907.md
  reports/ULTIMATE_TEST_DEPLOY_LOOP_ITERATION_26_SUMMARY.md
  reports/WEBSOCKET_AUTH_BUG_FIX_20250907.md
  reports/WEBSOCKET_AUTH_BUG_FIX_REPORT_20250907.md
  reports/test_iteration_2_20250907_095000.md
  test_framework/ssot/e2e_auth_helper.py
  tests/e2e/jwt_token_helpers.py
  tests/e2e/staging/test_1_websocket_events_staging.py
  tests/e2e/staging_test_config.py
  tests/e2e/test_auth_complete_flow.py
  tests/e2e/test_websocket_integration.py
  tests/unified_test_runner.py
  validate_auth_tests.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): resolve asyncio event loop conflict in staging tests
  STAGING_TEST_REPORT_PYTEST.md
  netra_backend/tests/unit/websocket/test_message_queue_resilience.py
  quick_jwt_fix_deploy.py
  test_framework/ssot/e2e_auth_helper.py
  test_jwt_auth_validation.py
  tests/conftest_e2e.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(auth): resolve WebSocket JWT authentication on staging
  SPEC/learnings/staging_url_configuration_20250107.xml
  STAGING_100_TESTS_REPORT.md
  STAGING_TEST_REPORT_PYTEST.md
  WEBSOCKET_AUTH_403_BUG_FIX_REPORT.md
  netra_backend/app/routes/websocket.py
  netra_backend/app/websocket_core/user_context_extractor.py
  netra_backend/tests/unit/test_secret_key_validation.py
  reports/TEST_ITERATION_2_20250907_093800.md
  reports/staging_test_iteration_2_20250907.md
  reports/test_iteration_3_20250907_100500.md
  scripts/jwt_secrets_audit.py
  scripts/migrate_jwt_env_vars.py
  scripts/test_real_jwt_e2e.py
  scripts/test_staging_jwt.py
  scripts/validate_jwt_consistency.py
  scripts/verify_jwt_secret_suffixes.py
  scripts/verify_jwt_secret_sync.py
  shared/jwt_config.py
  shared/jwt_config_builder.py
  shared/secret_mappings.py
  staging_test_output_iteration_1.txt
  test_jwt_auth_validation.py
  tests/e2e/fixed-comprehensive-authentication-system-test.py
  tests/e2e/staging/STAGING_TEST_REPORT_PYTEST.md
  tests/e2e/staging/test_1_websocket_events_staging.py
  tests/e2e/staging/test_results.html
  tests/e2e/staging/test_results.json
  tests/e2e/staging/test_results.xml
  tests/e2e/test_auth_complete_flow.py
  tests/e2e/test_auth_jwt_token_lifecycle.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): add missing await for JWT validation async calls
  AUTH_E2E_TEST_AUDIT_REPORT.md
  STAGING_TEST_REPORT_PYTEST.md
  gcp_logs_iteration_3_analysis.json
  gcp_websocket_errors.json
  netra_backend/app/routes/messages.py
  netra_backend/tests/unit/test_secret_key_validation.py
  reports/staging_test_iteration_1.json
  reports/staging_test_iteration_1_full.json
  reports/staging_test_iteration_2_20250907.md
  tests/e2e/test_auth_complete_flow.py
  tests/e2e/test_auth_multi_user_isolation.py
  tests/e2e/test_auth_websocket_security.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): resolve HTTP 500 errors in staging WebSocket connections
  netra_backend/app/routes/websocket.py
  netra_backend/app/websocket_core/user_context_extractor.py
  reports/websocket_http500_bugfix_20250907.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): prevent HTTP 500 errors in staging with graceful degradation
  STAGING_TEST_REPORT_PYTEST.md
  netra_backend/app/routes/websocket.py
  netra_backend/tests/integration/test_auth_service_integration.py
  netra_backend/tests/unit/core/test_jwt_secret_ssot_compliance.py
  netra_backend/tests/unit/test_secret_key_validation.py
  reports/WEBSOCKET_500_ERROR_FIX_20250907.md
  reports/gcp_audit_20250907_084744.json
  reports/gcp_backend_500_errors_audit_five_whys.md
  reports/staging/FIVE_WHYS_WEBSOCKET_403_ITERATION_1.md
  reports/staging_test_iteration_1_20250907.md
  reports/test_iteration_3_20250907_104500.md
  reports/ultimate_test_deploy_loop_progress.md
  tests/e2e/test_auth_jwt_token_lifecycle.py
  tests/e2e/test_auth_multi_user_isolation.py
  tests/e2e/test_auth_websocket_security.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(auth): Fix auth service port configuration in GCP staging
  E2E_AUTH_TESTS_AUDIT_REPORT.md
  netra_backend/app/routes/websocket.py
  netra_backend/tests/integration/test_auth_service_integration.py
  reports/GCP_BACKEND_500_ERRORS_FINAL_AUDIT_WITH_FIXES.md
  reports/WEBSOCKET_500_FIX_ITERATION_3.md
  reports/unit_test_creation_progress_20250907.md
  simple_websocket_test.py
  test_websocket_500_fix.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): resolve NameError in staging WebSocket authentication
  .claude/commands/run-integration-tests.md
  deployment_log.txt
  netra_backend/app/routes/utils/thread_builders.py
  netra_backend/app/routes/websocket.py
  netra_backend/app/services/database/thread_repository.py
  netra_backend/app/websocket_core/websocket_manager_factory.py
  netra_backend/tests/integration/test_auth_service_integration.py
  netra_backend/tests/unit/core/test_jwt_secret_ssot_compliance.py
  netra_backend/tests/unit/test_user_auth_service_comprehensive.py
  reports/UNIT_TEST_REMEDIATION_REPORT_20250907.md
  reports/auth/BACKEND_AUTH_SSOT_AUDIT_20250107.md
  reports/auth/TEST_ITERATION_1_RESULTS.md
  reports/bug-fixes/STAGING_WEBSOCKET_AUTH_FIVE_WHYS_20250907.md
  scripts/fix_threads_null_metadata.sql
  staging_test_results_iteration_1.txt
  test_results_p1.txt
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(auth): add SSOT auth validation to backend startup
  CLAUDE.md
  STAGING_TEST_REPORT_PYTEST.md
  debug_oauth_test.py
  frontend/__tests__/auth/test_auth_complete_flow.test.tsx
  netra_backend/app/clients/auth_client_core.py
  netra_backend/app/core/auth_startup_validator.py
  netra_backend/app/core/startup_validator.py
  netra_backend/app/db/connection_pool_monitor.py
  netra_backend/app/smd.py
  netra_backend/tests/conftest.py
  netra_backend/tests/integration/test_thread_null_metadata_handling_integration.py
  netra_backend/tests/integration/test_websocket_jwt_authentication_integration.py
  netra_backend/tests/unit/test_auth_startup_validation.py
  netra_backend/tests/unit/test_user_auth_service_comprehensive.py
  reports/auth/WEBSOCKET_JWT_403_FIX_REPORT.md
  reports/staging/TEST_RUN_ITERATION_1_20250907.md
  test_collection_mode_debug.py
  test_conftest_debug.py
  test_conftest_detailed_debug.py
  test_oauth_debug.py
  tests/conftest.py
  tests/e2e/jwt_token_helpers.py
  tests/e2e/staging_test_config.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(auth): add E2E OAuth simulation support for staging tests
  STAGING_TEST_REPORT_PYTEST.md
  auth_deployment_log.txt
  deployment/secrets_config.py
  frontend/__tests__/auth/test_auth_complete_flow.test.tsx
  netra_backend/app/routes/websocket.py
  netra_backend/app/services/user_auth_service.py
  netra_backend/app/websocket_core/auth.py
  netra_backend/app/websocket_core/user_context_extractor.py
  netra_backend/tests/e2e/test_websocket_authentication_comprehensive.py
  netra_backend/tests/integration/test_thread_null_metadata_handling_integration.py
  netra_backend/tests/unit/core/test_jwt_secret_ssot_compliance.py
  netra_backend/tests/unit/test_auth_client_core_complete.py
  netra_backend/tests/unit/test_auth_client_core_comprehensive.py
  netra_backend/tests/unit/test_state_persistence_datetime_serialization.py
  netra_backend/tests/unit/test_state_persistence_user_creation.py
  netra_backend/tests/unit/test_state_persistence_user_fk_fix.py
  netra_backend/tests/unit/test_thread_query_error.py
  netra_backend/tests/unit/test_user_auth_service_comprehensive.py
  reports/E2E_TEST_AUDIT_NO_CHEATING_PROOF.md
  reports/auth/TEST_ITERATION_2_RESULTS.md
  reports/bugfixes/WEBSOCKET_AUTH_403_FIX_20250907.md
  reports/staging/TEST_RUN_ITERATION_1_20250907.md
  shared/jwt_secret_manager.py
  staging_test_results_iteration_2.txt
  test_framework/fixtures/real_services.py
  tests/e2e/staging/test_websocket_auth_fix_verification.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

revert(websocket): remove startup wait logic, fix auth validation properly
  auth_deployment_iteration3_log.txt
  netra_backend/tests/unit/test_auth_client_core_complete.py
  test_framework/fixtures/real_services.py
  test_websocket_staging_auth_reproduction.py
  tests/e2e/staging/test_websocket_auth_fix_verification.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(auth): Fix WebSocket SERVICE_ID mismatch in staging
  STAGING_TEST_REPORT_PYTEST.md
  auth_deployment_iteration3_log.txt
  netra_backend/app/websocket_core/user_context_extractor.py
  netra_backend/tests/e2e/test_websocket_authentication_comprehensive.py
  netra_backend/tests/integration/test_auth_service_port_configuration_integration.py
  netra_backend/tests/unit/core/test_jwt_secret_ssot_compliance.py
  netra_backend/tests/unit/test_auth_client_core_complete.py
  reports/BUSINESS_VALUE_AGENT_E2E_AUDIT_REPORT.md
  reports/staging/WEBSOCKET_AUTH_SERVICE_ID_FIX.md
  test_simple_websocket_auth.py
  test_websocket_staging_auth_reproduction.py
  tests/e2e/staging/test_websocket_auth_fix_verification.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): resolve JWT secret mismatch causing 403 auth failures
  CRITICAL_CONFIG_REGRESSION_AUDIT_REPORT.md
  SPEC/learnings/auth_startup_validation_critical.xml
  SPEC/learnings/index.xml
  STAGING_TEST_REPORT_PYTEST.md
  auth_deployment_iteration3_log.txt
  auth_service/tests/test_auth_port_configuration.py
  auth_service/tests/test_auth_session_persistence_edge_cases.py
  auth_service/tests/test_oauth_security_vulnerabilities.py
  frontend/__tests__/websocket/test_websocket_connection.test.tsx
  netra_backend/app/routes/websocket.py
  netra_backend/tests/unit/core/test_jwt_secret_ssot_compliance.py
  netra_backend/tests/unit/test_auth_client_core_complete.py
  netra_backend/tests/unit/test_thread_loading_websocket_regression.py
  netra_backend/tests/unit/test_websocket_auth_comprehensive.py
  reports/SSOT_REGRESSION_AUDIT_REPORT.md
  reports/auth/TEST_ITERATION_3_STATUS.md
  reports/bugfixes/WEBSOCKET_AUTH_403_FIX_20250907.md
  shared/jwt_secret_manager.py
  staging_test_results_iteration_3.txt
  test_auth_startup_fail.py
  tests/e2e/jwt_token_helpers.py
  tests/e2e/staging_test_config.py
  tests/e2e/staging_websocket_auth_fix.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): resolve JWT authentication failures in staging
  analytics_service/tests/e2e/test_full_flow.py
  auth_deployment_iteration3_log.txt
  backend_deployment_iteration3_log.txt
  frontend/__tests__/websocket/test_websocket_connection.test.tsx
  netra_backend/tests/unit/test_thread_switch_data_loading.py
  netra_backend/tests/unit/websocket/test_websocket_state_recovery_critical.py
  reports/auth/TEST_ITERATION_3_RESULTS.md
  reports/auth/WEBSOCKET_JWT_403_FIX_REPORT.md
  reports/bugfixes/WEBSOCKET_STARTUP_SEQUENCE_FIX_20250907.md
  staging_test_results_iteration_3.txt
  test_auth_startup_fail.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(auth): update auth service tests and JWT secret management
  auth_service/auth_core/database/README.md
  auth_service/tests/test_auth_comprehensive.py
  auth_service/tests/test_auth_real_services_comprehensive.py
  netra_backend/tests/integration/test_auth_startup_failure.py
  shared/jwt_secret_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore: remove deprecated GitHub workflow files
  .github/workflows/config-loop-check.yml
  .github/workflows/e2e-docker-fix.yml
  .github/workflows/jobs/test-unit.yml
  .github/workflows/test.yml
Due: docker-force-flag-prohibition, docker-security-audit

test(analytics): refactor tests to use SSOT patterns
  analytics_service/tests/conftest.py
  analytics_service/tests/unit/test_event_processor.py
  analytics_service/tests/unit/test_health_endpoints.py
  netra_backend/app/clients/auth_client_config.py
  netra_backend/app/core/unified_id_manager.py
  netra_backend/app/orchestration/agent_execution_registry.py
  netra_backend/app/services/agent_websocket_bridge.py
  netra_backend/app/services/database/thread_repository.py
  netra_backend/tests/e2e/test_websocket_agent_events_comprehensive.py
  netra_backend/tests/integration/test_auth_service_port_configuration_integration.py
  netra_backend/tests/unit/repository/test_thread_repository_null_metadata_fix.py
  netra_backend/tests/unit/test_thread_loading_websocket_regression.py
  netra_backend/tests/unit/test_thread_switch_data_loading.py
  netra_backend/tests/unit/test_websocket_auth_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: enhance test framework with proper isolation patterns
  test_framework/conftest_isolated_environment.py
  tests/conftest_e2e.py
  tests/e2e/staging_test_base.py
  tests/test_jwt_secret_synchronization.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore: remove deprecated test files
  dev_launcher/tests/test_event_loop_conflict.py
  test_auth_startup_fail.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(frontend): refactor WebSocket connection tests
  frontend/__tests__/websocket/test_websocket_connection.test.tsx
Due: architecture-compliance, file-size-limit, type-safety-check

fix: update configuration and deployment scripts
  config/staging_health_config.yaml
  database_scripts/create_postgres_tables.py
  dev_launcher/launcher.py
  scripts/deploy_to_gcp.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: update project documentation and test reports
  CLAUDE.md
  STAGING_TEST_REPORT_PYTEST.md
  reports/LLM_MASTER_INDEX.md
  reports/UNIT_TEST_REMEDIATION_REPORT_20250907.md
  reports/staging/TEST_RUN_ITERATION_1_20250907.md
Due: docker-force-flag-prohibition

chore: remove obsolete staging database fix documentation
  docs/reports/STAGING_DATABASE_FIX_SUMMARY.md
Due: docker-force-flag-prohibition

docs: update learnings with auth SSOT implementation patterns
  SPEC/learnings/auth_ssot_implementation_20250107.xml
  SPEC/learnings/index.xml
Due: none

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
