Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

docs(architecture): update SSOT migration docs and test architecture
  docs/test_infrastructure.md
  docs/testing/TEST_ARCHITECTURE.md
Due: docker-force-flag-prohibition

feat(ssot-gardener): Complete SSOT remediation implementation for Agent Instance Factory
  SSOT-incomplete-migration-Agent-Instance-Factory-Singleton-Breaking-User-Isolation.md
Due: docker-force-flag-prohibition

feat(ssot): SSOT JWT validation audit tracking for issue #1117
  SSOT-incomplete-migration-jwt-validation-scattered-across-services-1117.md
Due: docker-force-flag-prohibition

feat(ssot): MAJOR SUCCESS - Step 4 SSOT remediation complete for Issue #1103
  SSOT-regression-websocket-factory-fragmentation-blocking-golden-path.md
Due: docker-force-flag-prohibition

fix: resolve WebSocket library compatibility for agent golden path integration tests
  AGENT_GOLDEN_PATH_TEST_EXECUTION_REPORT_STEP2.md
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-agents-20250914_122900.md
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-critical-2025-09-14-1229.md
  SPEC/learnings/websocket_bridge_ssot_critical_fix.xml
  SSOT-incomplete-migration-websocket-manager-import-path-fragmentation-blocks-golden-path.md
  docs/testing/TEST_ARCHITECTURE.md
  merges/MERGEISSUE-2025-09-14-git-commit-gardener-comprehensive.md
  netra_backend/tests/unit/websocket_core/test_agent_error_recovery_strategic.py
  netra_backend/tests/unit/websocket_core/test_ssot_broadcast_consolidation.py
  reports/MISSION_CRITICAL_TEST_STATUS_CURRENT_2025_09_14.md
  reports/SSOT_COMPLIANCE_STATUS_REPORT_2025_09_14.md
  reports/TEST_DOCUMENTATION_UPDATE_SUMMARY_2025_09_14.md
  reports/ssot-compliance/SSOT_MOCK_FACTORY_REMEDIATION_PLAN.md
  reports/ssot-compliance/SSOT_MOCK_REMEDIATION_CHECKLIST.md
  temp_impl_comment.md
  test_contamination_debug.py
  tests/e2e/staging_auth_bypass.py
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-latest-20250914-173000.md
  tests/integration/agents/test_user_execution_engine_integration.py
  tests/mission_critical/test_configuration_regression_prevention.py
  tests/mission_critical/websocket_real_test_base.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(ssot): complete Step 4 - all WebSocket import paths fixed
  SSOT-incomplete-migration-websocket-manager-import-path-fragmentation-blocks-golden-path.md
Due: docker-force-flag-prohibition

fix(staging): Apply environment override to WebSocket staging test
  tests/staging/test_staging_websocket_agent_events.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(websocket): implement Phase 2 quality handler integration in message router
  GITHUB_ISSUE_1059_UPDATE_STEP2.md
  SSOT-incomplete-migration-mock-factory-duplication-blocking-golden-path.md
  docs/TEST_INFRASTRUCTURE_CLUSTER_STATUS_DECISION.md
  netra_backend/app/core/message_router.py
  netra_backend/app/services/agent_websocket_bridge.py
  netra_backend/app/websocket_core/handlers.py
  netra_backend/tests/unit/websocket_core/test_ssot_broadcast_consolidation.py
  reports/TEST_COVERAGE_CURRENT_STATUS_2025_09_14.md
  reports/ssot-compliance/SSOT_MOCK_REMEDIATION_EXECUTIVE_SUMMARY.md
  temp_impl_comment.md
  temp_issue_regression_comment.md
  test_framework/ssot/websocket.py
  tests/e2e/test_comprehensive_message_flow.py
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-all-2025-09-14-195800.md
  tests/mission_critical/test_configuration_regression_prevention.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(agent-pipeline): Fix critical SSOT compliance and WebSocket test configuration
  netra_backend/app/services/generation_job_manager.py
  scripts/claude-instance-orchestrator.py
  temp_issue_regression_comment.md
  tests/e2e/test_comprehensive_message_flow.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Create config-all-golden.json
  scripts/config-all-golden.json
Due: none

a
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-agents-20250914_120000.md
  GITHUB_ISSUE_1059_STRATEGIC_TESTS_REMEDIATION_PLAN.md
  ISSUE_1059_AGENT_PIPELINE_REMEDIATION_RESULTS.md
  STAGING_TEST_REPORT_PYTEST.md
  netra_backend/app/services/unified_authentication_service.py
  reports/MASTER_WIP_STATUS.md
  temp_status_comment.md
  test_framework/ssot/performance_test_circuit_breaker.py
  tests/e2e/test_agent_golden_path_comprehensive_messages.py
  tests/e2e/test_comprehensive_message_flow.py
  tests/mission_critical/test_configuration_regression_prevention.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

a
  .env.staging.tests
  E2E_AGENT_TEST_REMEDIATION_PLAN_FIVE_WHYS.md
  ISSUE_757_COMPLETION_FINAL_REPORT.md
  reports/AUTH_PORT_REGRESSION_INVESTIGATION_20250909.md
  reports/ISSUE_358_DEPLOYMENT_VALIDATION_REPORT.md
  reports/ISSUE_463_EXECUTION_RESULTS.md
  reports/KEYERROR_STAGING_DEPLOYMENT_VALIDATION_REPORT.md
  reports/STAGING_AUTH_TIMEOUT_DEPLOYMENT_VALIDATION_REPORT.md
  reports/STAGING_DEPLOYMENT_VALIDATION_REPORT_ISSUE_136.md
  reports/bugs/AUTH_SERVICE_DEPLOYMENT_REGRESSION_FIX.md
  reports/issue_463_execution_complete.md
  scripts/deploy_to_gcp_actual.py
  scripts/prevent_oauth_configuration_drift.py
  scripts/staging_websocket_validation.py
  scripts/validate_issue_358_fixes.py
  staging_websocket_validation_1757681285.json
  tests/e2e/staging_test_config.py
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-all-2025-09-14-201735.md
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-all-2025-09-14-214000.md
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-golden-path-2025-09-11.md
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-goldenpath-2025-09-10_203000.md
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-goldenpath-2025-09-12-evening.md
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-goldenpath-2025-09-13-ultimate.md
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_CRITICAL_USER_NOTIFICATIONS_20250909.md
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_GOLDEN_PATH_20250909_SESSION_CONTINUATION.md
  validate_websocket_subprotocol_fixes.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Update CLAUDE.md
  CLAUDE.md
Due: docker-force-flag-prohibition

a
  EXECUTIVE_SUMMARY_ISSUE_1066_REMEDIATION_PLAN.md
  ISSUE_1060_AUTH_FRAGMENTATION_TEST_IMPLEMENTATION_REPORT.md
  WEBSOCKET_SSOT_MIGRATION_TOOLS_ISSUE_1066.md
  netra_backend/app/services/response_quality_evaluator.py
  netra_backend/app/websocket_core/unified_emitter.py
  temp_implementation_results_416.md
  test_framework/ssot/orchestration.py
  test_framework/ssot/orchestration_enums.py
  tests/security/test_user_isolation_vulnerabilities.py
  tests/unit/ssot/test_comprehensive_ssot_architecture_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Update WebSocket bridge thread resolution tests to match current 3-priority architecture
  tests/mission_critical/test_websocket_bridge_critical_flows.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

security: Fix DeepAgentState cross-user data contamination vulnerability (Issue #953)
  netra_backend/app/schemas/agent_models.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(agent-factory): Phase 1 SSOT migration for Issue #1116 user isolation
  STAGING_TEST_REPORT_PYTEST.md
  TEST_PLAN_ISSUE_1116.md
  issue_1116_comprehensive_audit_comment.md
  issue_953_startup_tests_and_commit_status.md
  netra_backend/app/agents/supervisor/execution_engine_factory.py
  netra_backend/app/agents/supervisor_ssot.py
  netra_backend/app/dependencies.py
  netra_backend/app/routes/demo_websocket.py
  netra_backend/app/schemas/agent_models.py
  scripts/claude-instance-orchestrator.py
  tests/e2e/staging/test_issue_1116_golden_path_multi_user.py
  tests/e2e/test_golden_path_multi_user_concurrent.py
  tests/integration/agent_factory/test_multi_user_chat_isolation_1116.py
  tests/integration/agents/test_agent_factory_user_isolation_integration.py
  tests/integration/agents/test_issue_1116_multi_user_agent_execution.py
  tests/integration/test_agent_instance_factory_isolation.py
  tests/integration/test_supervisor_agent_multi_user_isolation.py
  tests/integration/websocket/test_websocket_user_isolation_1116.py
  tests/unit/agents/test_agent_instance_factory_singleton_violations_1116.py
  tests/unit/agents/test_agent_instance_factory_ssot_migration.py
  tests/unit/agents/test_agent_instance_factory_user_isolation.py
  tests/unit/agents/test_issue_1116_singleton_vulnerability.py
  tests/unit/test_agent_instance_factory_singleton_vulnerability.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(security): Complete Issue #1116 SupervisorAgent singleton removal
  netra_backend/app/dependencies.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(core): Add safe logging for thread cleanup during Python shutdown
  netra_backend/app/core/thread_cleanup_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

CRITICAL: Implement SSOT agent factory pattern for Issue #1116 security remediation
  netra_backend/app/dependencies.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(smoke): Update smoke tests for SSOT factory pattern compatibility
  tests/smoke/test_startup_wiring_smoke.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(dependencies): Fix Issue #1116 Phase 1 - Migrate from singleton to factory pattern
  issue_1116_remediation_plan.md
  test_issue_1116_remediation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(security): Add UserExecutionContext to SupervisorAgent initialization
  netra_backend/app/smd.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: Remove completed Issue #1116 remediation test file
  test_issue_1116_remediation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Add Issue #1116 completion and system stability reports
  ISSUE_1116_PHASE_1_COMPLETION_REPORT.md
  SYSTEM_STABILITY_VALIDATION_REPORT_ISSUE_1116.md
Due: docker-force-flag-prohibition

hotfix(deployment): Fix factory function signature for Issue #1116 SSOT compliance
  netra_backend/app/smd.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(security): Complete Issue #1116 SSOT factory migration in UserExecutionEngine
  netra_backend/app/agents/supervisor/user_execution_engine.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(compatibility): Add websocket_manager backward compatibility parameter for Issue #1116
  netra_backend/app/agents/supervisor/agent_instance_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(Issue #1116): Complete SSOT agent instance factory migration
  ISSUE_1116_PHASE_2_COMPLETION_REPORT.md
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

docs: Add final system stability validation report for Issue #1116
  SYSTEM_STABILITY_VALIDATION_REPORT_ISSUE_1116_PHASE3.md
Due: docker-force-flag-prohibition

docs: Update system health status and add gardener worklog documentation for Issue #1116
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-agents-2025-09-14-1430.md
  README.md
  STAGING_TEST_REPORT_PYTEST.md
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-14-2030.md
Due: docker-force-flag-prohibition

feat(ssot-gardener): Add execution engine factory fragmentation issue tracker
  SSOT-incomplete-migration-execution-engine-factory-fragmentation.md
Due: docker-force-flag-prohibition

feat: SSOT Gardener - Create tracking file for testing environment access violations
  SSOT-Testing-Direct-Environment-Access-Golden-Path-Blocker.md
Due: docker-force-flag-prohibition

docs(ssot): Add progress tracker for MessageRouter consolidation SSOT violation
  SSOT-incomplete-migration-message-router-consolidation.md
Due: docker-force-flag-prohibition

feat(ssot): Initial discovery of WebSocket factory dual pattern fragmentation
  SSOT-WebSocket-Factory-Dual-Pattern-Fragmentation.md
Due: docker-force-flag-prohibition

docs: Update README for Issue #1116 SSOT agent factory completion and fix test import syntax
  README.md
  tests/mission_critical/test_agent_type_safety_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat: Update failing test gardener worklog with agent test analysis and fix syntax error
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-agents-2025-09-14-1430.md
  tests/mission_critical/test_chat_initialization.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs: Update system health to 95% (EXCELLENT) reflecting Issue #1116 completion and fix test syntax
  reports/MASTER_WIP_STATUS.md
  tests/mission_critical/test_chat_responsiveness_under_load.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs: Complete MASTER_WIP_STATUS update with Issue #1116 achievements and improved compliance metrics
  reports/MASTER_WIP_STATUS.md
Due: docker-force-flag-prohibition

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
