Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

test(infra): enhance test robustness and debug capabilities across suite
  netra_backend/tests/unit/agents/supervisor/test_agent_registry_user_isolation.py
  netra_backend/tests/unit/websocket_core/test_websocket_1011_error_prevention.py
  tests/integration/test_agent_execution_concurrent_performance.py
  tests/integration/test_database_connection_pooling_performance.py
  tests/integration/test_thread_safety_race_condition_prevention.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(database): add comprehensive connection pool race condition test suite
  netra_backend/tests/unit/database/test_database_connection_pool_race_conditions.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(improve): enhance debugging and race condition detection reliability
  netra_backend/tests/unit/agents/supervisor/test_agent_registry_user_isolation.py
  netra_backend/tests/unit/database/test_database_connection_pool_race_conditions.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(refine): improve test reliability and race condition detection logic
  netra_backend/tests/unit/agents/supervisor/test_agent_registry_user_isolation.py
  netra_backend/tests/unit/database/test_database_connection_pool_race_conditions.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(polish): adjust lifecycle manager test to focus on integration pattern
  netra_backend/tests/unit/agents/supervisor/test_agent_registry_user_isolation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(test): correct transaction simulator commit logic for accurate race testing
  netra_backend/tests/unit/database/test_database_connection_pool_race_conditions.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(tests): Implement comprehensive race condition testing suite
  RACE_CONDITION_FIXES_STABILITY_VALIDATION_REPORT.md
  RACE_CONDITION_TESTING_IMPLEMENTATION_REPORT.md
  tests/e2e/test_results/SSOT_COMPLIANCE_AUDIT_WEBSOCKET_FIX_20250909_NIGHT.md
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_COMPREHENSIVE_VALIDATION_20250909_NIGHT.md
Due: docker-force-flag-prohibition

docs(testing): update staging test report with WebSocket connection failure analysis
  STAGING_TEST_REPORT_PYTEST.md
  reports/coverage/UNIT_TEST_COVERAGE_100_PERCENT_MISSION.md
Due: docker-force-flag-prohibition

test(agents): enhance execution core concurrency tests with strongly typed patterns
  netra_backend/tests/unit/agents/supervisor/test_agent_execution_core_concurrency.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(validation): add comprehensive e2e staging test validation session
  AGENTS_APPLICATION_STATE_SESSION_REPORT_2025_09_09.md
  reports/coverage/UNIT_TEST_COVERAGE_100_PERCENT_MISSION.md
  tests/e2e/test_results/SYSTEM_STABILITY_VALIDATION_WEBSOCKET_FIX_20250909_NIGHT.md
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_COMPREHENSIVE_VALIDATION_20250909_NIGHT.md
Due: docker-force-flag-prohibition

docs(milestone): complete GitHub PR integration and process cycle 1 validation success
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_COMPREHENSIVE_VALIDATION_20250909_NIGHT.md
Due: docker-force-flag-prohibition

docs(git): enhance git gardener safety guidelines with merge preference
  .claude/commands/gitcommitgardener.md
Due: docker-force-flag-prohibition

docs(staging): update test report with 88% pass rate improvements
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

test(auth): add SSOT ID generation compliance validation suite
  auth_service/tests/integration/test_id_generation_compliance.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(merge): document rebase abort and safe merge strategy
  merges/MERGEISSUE_20250909.md
Due: docker-force-flag-prohibition

docs(merge): final completion status for git gardener process
  merges/MERGEISSUE_20250909.md
Due: docker-force-flag-prohibition

docs(staging): critical WebSocket connectivity regression - 88% to 0% pass rate
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

fix(tests): resolve line continuation syntax errors in race condition prevention test
  tests/integration/test_thread_safety_race_condition_prevention.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(staging): update WebSocket connectivity regression test timings
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

docs(testing): establish comprehensive test creation priorities and strategy
  COMPREHENSIVE_TEST_PRIORITIES_20250910.md
Due: docker-force-flag-prohibition

docs(audit): critical staging issues tracking for Golden Path validation
  audit/staging/auto-solve-loop/clickhouse_error_logging_golden_path_issue_20250909.md
  audit/staging/auto-solve-loop/integration_test_syntax_errors_critical_20250909_cycle1.md
  audit/staging/auto-solve-loop/websocket_coroutine_attribute_error_20250909.md
Due: docker-force-flag-prohibition

fix(tests): resolve remaining line continuation syntax errors in integration tests
  tests/integration/test_agent_execution_concurrent_performance.py
  tests/integration/test_database_connection_pooling_performance.py
  tests/integration/test_resource_exhaustion_detection_handling.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

emergency(tests): fix critical syntax errors blocking staging validation
  tests/integration/test_agent_execution_concurrent_performance.py
  tests/integration/test_database_connection_pooling_performance.py
  tests/integration/test_resource_exhaustion_detection_handling.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(audit): update emergency syntax error response documentation
  audit/staging/auto-solve-loop/integration_test_syntax_errors_critical_20250909_cycle1.md
  audit/staging/auto-solve-loop/websocket_coroutine_attribute_error_20250909.md
Due: docker-force-flag-prohibition

test(frontend): enhance auth provider initialization test reliability
  frontend/__tests__/integration/auth-provider-initialization.test.tsx
  frontend/auth/context.tsx
Due: architecture-compliance, file-size-limit, type-safety-check

docs(golden-path): comprehensive test architecture planning for $120K+ MRR protection
  GOLDEN_PATH_TEST_ARCHITECTURE_PLANNING_COMPREHENSIVE.md
  WEBSOCKET_1011_INFRASTRUCTURE_TEST_PLAN.md
Due: docker-force-flag-prohibition

test(websocket): critical failure reproduction tests for chat infrastructure reliability
  tests/mission_critical/golden_path/test_websocket_critical_failure_reproduction.py
  tests/staging/test_websocket_auth_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test(auth): JWT management security validation following SSOT patterns
  auth_service/tests/unit/test_jwt_management.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(security): SSOT data sanitization and injection detection security layer
  netra_backend/app/services/security/data_sanitizer.py
  netra_backend/app/services/security/injection_detector.py
  netra_backend/tests/unit/security/test_input_validation_security_business_logic.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(golden-path): comprehensive integration tests for agent execution workflows
  netra_backend/tests/integration/golden_path/test_agent_execution_workflows.py
  netra_backend/tests/integration/golden_path/test_database_user_isolation.py
  netra_backend/tests/integration/golden_path/test_user_authentication_flows.py
  netra_backend/tests/integration/golden_path/test_websocket_connection_patterns.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(ssot): factory pattern violation tests for over-engineering audit remediation
  tests/integration/factory_ssot/README.md
  tests/integration/factory_ssot/__init__.py
  tests/integration/factory_ssot/test_factory_ssot_configuration_redundancy.py
  tests/integration/factory_ssot/test_factory_ssot_database_over_abstraction.py
  tests/integration/factory_ssot/test_factory_ssot_execution_engine_duplication.py
  tests/integration/factory_ssot/test_factory_ssot_message_handler_patterns.py
  tests/integration/factory_ssot/test_factory_ssot_tool_dispatcher_violations.py
  tests/integration/factory_ssot/test_factory_ssot_websocket_factory_chain.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(frontend): AuthProvider initialization bug analysis and resolution planning
  frontend/audit/staging/auth_complete_flow_bug_fix_20250910.md
  frontend/audit/staging/auth_provider_initialization_bug_fix_20250910.md
Due: docker-force-flag-prohibition

refactor(test-framework): infrastructure improvements and configuration updates for enhanced reliability
  STAGING_TEST_REPORT_PYTEST.md
  audit/staging/auto-solve-loop/backend_health_ready_timeout_issue_20250910.md
  audit/staging/auto-solve-loop/clickhouse_error_logging_golden_path_issue_20250909.md
  audit/staging/auto-solve-loop/integration_test_syntax_errors_critical_20250909_cycle1.md
  audit/staging/auto-solve-loop/websocket_coroutine_attribute_error_20250909.md
  netra_backend/tests/unit/test_auth_validation.py
  netra_backend/tests/unit/test_message_routing_core.py
  netra_backend/tests/unit/test_user_context_factory.py
  pytest.ini
  scripts/simple_staging_health_check.py
  test_framework/fixtures/real_services.py
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_GOLDEN_PATH_DATA_AGENT_FOCUS_20250910.md
  tests/integration/test_syntax_error_detection.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(test-framework): enhance Redis fixture reliability with graceful degradation
  test_framework/fixtures/real_services.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(staging): update test report with WebSocket infrastructure failures
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

docs(critical-business): $200K+ MRR at risk - WebSocket infrastructure failure analysis and data agent pipeline validation
  E2E_STAGING_DATA_PIPELINE_COMPREHENSIVE_REPORT.md
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_GOLDEN_PATH_DATA_AGENT_FOCUS_20250910.md
Due: docker-force-flag-prohibition

test(websocket): enhance race condition integration test suite with comprehensive scenarios
  netra_backend/tests/integration/websocket/test_websocket_handshake_race_conditions_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(audit): comprehensive Five WHYs analysis of WebSocket time import error in GCP Cloud Run
  audit/staging/auto-solve-loop/websocket_time_import_error_debug_20250910.md
Due: docker-force-flag-prohibition

docs(testing): establish priority test creation analysis for coverage remediation
  reports/testing/PRIORITY_TEST_CREATION_ANALYSIS.md
Due: docker-force-flag-prohibition

test(database): add critical user sessions table validation integration test
  tests/integration/critical_database/test_user_sessions_table_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
