Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

feat(websocket): implement demo mode with default-enabled authentication bypass
  SPEC/learnings/websocket_variable_scoping_bug_fix_20250909.xml
  audit/staging/auto-solve-loop/is_production_undefined_websocket_bug_20250909.md
  netra_backend/app/routes/websocket.py
  netra_backend/app/websocket_core/unified_websocket_auth.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(services): enhance golden path validator and service dependency models
  AUTH_PORT_REGRESSION_INVESTIGATION_20250909.md
  STAGING_TEST_REPORT_PYTEST.md
  WEBSOCKET_AUTH_STABILITY_VALIDATION_REPORT_20250909.md
  WEBSOCKET_SSOT_AUTH_REMEDIATION_IMPLEMENTATION_REPORT_20250909.md
  docs/GOLDEN_PATH_USER_FLOW_COMPLETE.md
  netra_backend/app/core/service_dependencies/golden_path_validator.py
  netra_backend/app/core/service_dependencies/models.py
  netra_backend/app/websocket_core/unified_websocket_auth.py
  test_websocket_fix_simple.py
  test_websocket_integration_fix.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(comprehensive): complete golden path demo mode integration and audit finalization
  STAGING_TEST_REPORT_PYTEST.md
  docs/GOLDEN_PATH_USER_FLOW_COMPLETE.md
  netra_backend/app/agents/supervisor/execution_engine.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(completion): finalize auth port regression investigation and confirm 100% test success
  AUTH_PORT_REGRESSION_INVESTIGATION_20250909.md
  CLAUDE.md
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

chore(critical): finalize Phase 3 preparation with CLAUDE.md updates and test cleanup
  CLAUDE.md
  reports/test_restoration/WEBSOCKET_TEST_RESTORATION_PLAN_20250909.md
  test_websocket_fix_simple.py
  test_websocket_integration_fix.py
  tests/integration/golden_path/test_error_handling_edge_cases_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(claude): streamline architecture rules and documentation structure
  CLAUDE.md
Due: docker-force-flag-prohibition

docs(claude): refine business mandate and chat value proposition structure
  CLAUDE.md
Due: docker-force-flag-prohibition

test(golden-path): enhance error handling with timeout recovery and working patterns documentation
  reports/test_restoration/WORKING_PATTERNS_EXTRACTION_20250909.md
  tests/integration/golden_path/test_error_handling_edge_cases_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(claude): condense engineering principles into actionable development framework
  CLAUDE.md
Due: docker-force-flag-prohibition

feat(backend): enhance Windows asyncio safety and monitoring route capabilities
  netra_backend/app/core/windows_asyncio_safe.py
  netra_backend/app/routes/monitoring.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(infrastructure): enhance timeout testing with restoration implementation guide
  reports/test_restoration/RESTORATION_IMPLEMENTATION_GUIDE_20250909.md
  tests/integration/golden_path/test_error_handling_edge_cases_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(claude): streamline development process with concise bug fixing workflow
  CLAUDE.md
Due: docker-force-flag-prohibition

perf(supervisor): implement Phase 3 parallel execution performance optimizations
  CLAUDE.md
  netra_backend/app/agents/supervisor/execution_engine.py
  tests/integration/golden_path/test_error_handling_edge_cases_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(restoration): enhance LLM patching and comprehensive test restoration planning
  CLAUDE.md
  netra_backend/app/agents/supervisor/execution_engine.py
  reports/test_restoration/TEST_RESTORATION_PLAN_SUMMARY_20250909.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(claude): streamline knowledge management and consolidate WebSocket requirements
  CLAUDE.md
Due: docker-force-flag-prohibition

feat(execution): enhance Phase 3 performance monitoring and error handling
  netra_backend/app/agents/supervisor/execution_engine.py
  tests/integration/golden_path/test_error_handling_edge_cases_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add Alpine port stability validation report
  ALPINE_PORT_STABILITY_VALIDATION_REPORT_20250909.md
Due: docker-force-flag-prohibition

docs: add GitHub issue 146 stability proof documentation
  CLAUDE.md
  GITHUB_ISSUE_146_STABILITY_PROOF.md
Due: docker-force-flag-prohibition

test(mission-critical): enhance real WebSocket agent events validation testing
  tests/mission_critical/test_websocket_agent_events_real.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(backend): enhance execution engine imports and SMD service management
  netra_backend/app/agents/supervisor/execution_engine.py
  netra_backend/app/smd.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(infrastructure): implement comprehensive timeout testing with staging validation suite
  staging_golden_path_validator.py
  tests/integration/golden_path/test_error_handling_edge_cases_comprehensive.py
  websocket_integration_stability_test.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(agents): enhance optimization core sub-agent capabilities and performance
  netra_backend/app/agents/optimizations_core_sub_agent.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(agents): refine optimization core sub-agent logic and error handling
  netra_backend/app/agents/optimizations_core_sub_agent.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(staging): resolve Cloud Run health endpoint failures and deployment issues
  audit/staging/auto-solve-loop/cloud_run_port_configuration_error_20250109.md
Due: docker-force-flag-prohibition

fix(websocket): restore agent WebSocket events by fixing integration gap
  WEBSOCKET_AGENT_INTEGRATION_GAP_FIX_REPORT.md
  netra_backend/app/agents/supervisor/agent_registry.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): restore critical agent execution event emission
  STAGING_TEST_REPORT_PYTEST.md
  WEBSOCKET_AGENT_INTEGRATION_STABILITY_REPORT.md
  WEBSOCKET_AUTH_SSOT_STABILITY_PROOF_ISSUE_143.md
  audit/GOLDEN_PATH_GIT_AUDIT_20250909.md
  netra_backend/app/agents/data_helper_agent.py
  netra_backend/app/agents/goals_triage_sub_agent.py
  netra_backend/app/agents/synthetic_data_sub_agent_modern.py
  staging_validation_report_20250910.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(redis): correct async/await pattern in GCP initialization validator
  netra_backend/app/websocket_core/gcp_initialization_validator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(async): complete async/await pattern fixes and enhance network resilience tests
  netra_backend/app/websocket_core/service_readiness_validator.py
  tests/integration/golden_path/test_error_handling_edge_cases_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(websocket): add comprehensive health status monitoring to WebSocket manager factory
  netra_backend/app/websocket_core/websocket_manager_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): correct async mock execution in golden path network resilience test
  tests/integration/golden_path/test_error_handling_edge_cases_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(reports): add comprehensive deployment and issue status documentation
  DEPLOYMENT_EXECUTION_REPORT_20250909.md
  GITHUB_ISSUE_117_FINAL_COMMENT.md
  ISSUE_117_COMPREHENSIVE_STATUS_UPDATE.md
  tests/integration/golden_path/test_error_handling_edge_cases_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(api): add thread_id support for conversation continuity in agent streaming
  netra_backend/app/routes/agents_execute.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

enhance(tests): improve network resilience test with multi-execution validation
  tests/integration/golden_path/test_error_handling_edge_cases_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(e2e): improve WebSocket streaming timeout test stability
  tests/e2e/test_websocket_streaming_timeout_reproduction.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

enhance(tests): improve memory pressure test with detailed recommendations and analysis
  tests/integration/golden_path/test_error_handling_edge_cases_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(integration): enhance golden path error handling with improved async patterns
  tests/integration/golden_path/test_error_handling_edge_cases_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): complete catastrophic failure test with supervisor mocking setup
  tests/integration/golden_path/test_error_handling_edge_cases_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(testing): add comprehensive staging validation test for WebSocket health monitoring
  staging_validation_test.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(e2e): improve agent orchestration fixture stability
  ISSUE_135_SYSTEM_STABILITY_VALIDATION_REPORT.md
  staging_validation_test_clean.py
  tests/e2e/agent_orchestration_fixtures.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(test-framework): enhance E2E auth helper compatibility and test patterns
  test_framework/ssot/e2e_auth_helper.py
  tests/integration/golden_path/test_error_handling_edge_cases_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
