Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

docs: add comprehensive golden path user flow analysis
  SPEC/learnings/golden_path_user_flow_analysis_20250109.xml
  docs/GOLDEN_PATH_USER_FLOW_COMPLETE.md
Due: docker-force-flag-prohibition

fix: resolve health monitoring cancellation causing boot failures
  README.md
  SPEC/learnings/index.xml
  audit/staging/auto-solve-loop/redis_connection_failure_gcp_staging_20250909.md
  debug_grace_period.py
  junit.xml
  netra_backend/app/websocket_core/gcp_initialization_validator.py
  netra_backend/tests/unit/services/test_message_handler_readiness_validation.py
  netra_backend/tests/unit/websocket_core/test_gcp_redis_readiness_race_condition_unit.py
  reports/ssot/AD_HOC_MESSAGE_SAVING_VIOLATIONS_REMEDIATION_20250909.md
  tests/e2e/state/test_user_session_state_continuity.py
  tests/regression/test_websocket_context_import_regression_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: enhance WebSocket routing with message context validation
  netra_backend/app/routes/websocket.py
  netra_backend/app/schemas/core_models.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: enhance unified ID manager and WebSocket regression tests
  netra_backend/tests/unit/core/test_unified_id_manager_comprehensive.py
  tests/regression/test_websocket_context_import_regression_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: update project documentation and tracking reports
  docs/index.md
  reports/DEFINITION_OF_DONE_CHECKLIST.md
  reports/LLM_MASTER_INDEX.md
  reports/MASTER_WIP_STATUS.md
  reports/archived/USER_CONTEXT_ARCHITECTURE.md
Due: docker-force-flag-prohibition

docs: update GCP staging debug logs and Redis investigation
  GCP_STAGING_MESSAGE_ROUTING_DEBUG_LOG_20250909_CYCLE1.md
  audit/staging/auto-solve-loop/redis_connection_failure_gcp_staging_20250909.md
Due: docker-force-flag-prohibition

docs: add WebSocket context import regression proof report
  WEBSOCKET_CONTEXT_IMPORT_REGRESSION_PROOF_REPORT.md
Due: docker-force-flag-prohibition

feat: add unified message storage service with comprehensive tests
  netra_backend/app/services/unified_message_storage_service.py
  netra_backend/tests/integration/services/test_unified_message_storage_integration.py
  netra_backend/tests/unit/services/test_unified_message_storage_service.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add comprehensive WebSocket and message handler E2E tests
  netra_backend/tests/e2e/test_message_handler_websocket_readiness_flow.py
  netra_backend/tests/integration/services/test_message_handler_service_readiness_timing.py
  netra_backend/tests/integration/test_websocket_authentication_flow.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add background tasks and race condition test suites
  netra_backend/tests/integration/race_conditions/test_message_handler_race_condition_reproduction.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add E2E isolation and WebSocket race condition reproduction
  tests/e2e/isolation/test_multi_user_agent_execution_isolation.py
  tests/e2e/isolation/test_user_authentication_websocket_binding.py
  tests/e2e/state/test_multi_browser_state_isolation.py
  tests/e2e/websocket/test_websocket_race_condition_cloud_run_reproduction.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add SSOT compliance tests and golden path test results
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_GOLDEN_PATH_20250909.md
  tests/integration/test_ssot_database_pattern_violations.py
  tests/mission_critical/test_ssot_message_repository_compliance_suite.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test: add comprehensive WebSocket context import regression tests
  tests/regression/test_websocket_context_import_regression_e2e.py
  tests/regression/test_websocket_context_import_regression_mission_critical.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: update project instructions and test execution results
  CLAUDE.md
  STAGING_TEST_REPORT_PYTEST.md
  netra_backend/app/websocket_core/__init__.py
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_GOLDEN_PATH_20250909.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add priority test creation and message storage implementation reports
  PRIORITY_TEST_CREATION_REPORT_20250909.md
  UNIFIED_MESSAGE_STORAGE_SERVICE_IMPLEMENTATION_REPORT.md
Due: docker-force-flag-prohibition

docs: add Redis connection failure audit and WebSocket analysis
  audit/staging/auto-solve-loop/redis_connection_critical_failure_gcp_staging_20250909_cycle1.md
  reports/architecture/FIVE_WHYS_WEBSOCKET_FALLBACK_ANTIPATTERN_ANALYSIS.md
Due: docker-force-flag-prohibition

fix: enhance agent registry implementation with comprehensive testing
  netra_backend/app/agents/supervisor/agent_registry.py
  netra_backend/tests/unit/agents/supervisor/test_agent_registry_complete.py
  netra_backend/tests/unit/agents/supervisor/test_agent_registry_comprehensive.py
  netra_backend/tests/unit/agents/supervisor/test_agent_registry_enhanced_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: enhance integration tests for multi-user isolation and routing
  netra_backend/tests/integration/test_agent_message_routing.py
  netra_backend/tests/integration/test_auth_error_handling_resilience.py
  netra_backend/tests/integration/test_config_cascade_propagation.py
  netra_backend/tests/integration/test_multi_user_isolation_routing.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: enhance credit manager comprehensive testing
  netra_backend/tests/unit/business/test_credit_manager_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add comprehensive websocket and business logic test suites
  auth_service/tests/unit/test_auth_circuit_breakers_error_handling.py
  netra_backend/tests/integration/websocket_core/test_websocket_agent_event_integration.py
  netra_backend/tests/integration/websocket_core/test_websocket_authentication_integration.py
  netra_backend/tests/integration/websocket_core/test_websocket_error_handling_integration.py
  netra_backend/tests/integration/websocket_core/test_websocket_performance_integration.py
  netra_backend/tests/unit/business/test_billing_calculator_comprehensive.py
  netra_backend/tests/unit/business/test_usage_tracker_comprehensive.py
  netra_backend/tests/unit/websocket_core/test_websocket_bridge_factory_unit.py
  netra_backend/tests/unit/websocket_core/test_websocket_event_delivery_unit.py
  netra_backend/tests/unit/websocket_core/test_websocket_manager_event_integration_unit.py
  tests/e2e/staging/test_websocket_agent_chat_flows_e2e.py
  tests/e2e/staging/test_websocket_business_value_validation_e2e.py
  tests/e2e/staging/test_websocket_realtime_collaboration_e2e.py
  tests/unit/configuration/test_environment_specific_config_independence.py
  tests/unit/configuration/test_isolated_environment_ssot_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add agent execution pipeline and message storage benchmarks
  netra_backend/tests/integration/test_agent_execution_pipeline.py
  netra_backend/tests/performance/test_unified_message_storage_benchmarks.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add message router integration tests bug fix report
  MESSAGE_ROUTER_INTEGRATION_TESTS_BUG_FIX_REPORT.md
Due: docker-force-flag-prohibition

test: add comprehensive supervisor agent execution unit tests
  netra_backend/tests/unit/agents/supervisor/test_agent_execution_core_comprehensive_unit.py
  netra_backend/tests/unit/agents/supervisor/test_execution_engine_factory_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add test framework utilities and validation runners
  run_message_handler_readiness_validation_tests.py
  test_framework/session_leak_detection/__init__.py
  test_framework/session_leak_detection/database_session_monitor.py
  test_framework/session_leak_detection/session_leak_test_base.py
  test_framework/session_leak_detection/session_leak_tracker.py
  test_framework/ssot_violation_detector/__init__.py
  test_framework/ssot_violation_detector/message_pattern_analyzer.py
  test_framework/ssot_violation_detector/violation_detector.py
  test_framework/ssot_violation_detector/violation_reporter.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add business E2E tests and SSOT message flow validation
  tests/e2e/business/test_agent_error_recovery_event_delivery.py
  tests/e2e/business/test_triage_to_completion_event_flow.py
  tests/e2e/test_ssot_message_flow_end_to_end.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: update audit logs and comprehensive test improvements
  audit/staging/auto-solve-loop/redis_connection_critical_failure_gcp_staging_20250909_cycle1.md
  netra_backend/tests/unit/agents/supervisor/test_execution_engine_factory_comprehensive.py
  tests/mission_critical/test_ssot_message_repository_compliance_suite.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs: add comprehensive analysis and remediation planning reports
  COMPREHENSIVE_SSOT_FACTORY_TEST_PLAN.md
  FIVE_WHYS_ROOT_CAUSE_ANALYSIS_WEBSOCKET_CRITICAL_ISSUES.md
  THREAD_HANDLERS_TIMING_REMEDIATION_EXECUTION_REPORT.md
Due: docker-force-flag-prohibition

docs: add auto-remediation learnings and specifications
  SPEC/learnings/auto_remediation_1.xml
  SPEC/learnings/auto_remediation_2.xml
Due: none

docs: add comprehensive remediation plans and audit reports
  docker_audit_report.json
  remediation_plan.json
  reports/ssot/WEBSOCKET_RACE_CONDITION_REMEDIATION_PLAN_20250909.md
  reports/testing/FALLBACK_HANDLER_DEGRADATION_TEST_PLAN.md
Due: docker-force-flag-prohibition

test: add comprehensive session leak detection and core component tests
  netra_backend/tests/integration/database/test_session_leak_detection_integration.py
  netra_backend/tests/unit/agents/supervisor/test_websocket_notifier_comprehensive_unit.py
  netra_backend/tests/unit/agents/test_tool_dispatcher_core_comprehensive_unit.py
  netra_backend/tests/unit/routes/utils/test_thread_handlers_session_leak_detection.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add E2E session leak detection and infrastructure tests
  tests/e2e/database/test_session_leak_detection_e2e.py
  tests/e2e/golden_path/__init__.py
  tests/e2e/golden_path/test_complete_golden_path_business_value.py
  tests/e2e/golden_path/test_websocket_agent_events_validation.py
  tests/e2e/infrastructure/test_gcp_redis_connectivity_golden_path.py
  tests/integration/gcp/test_websocket_readiness_validator.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add final mission critical test coverage
  netra_backend/app/websocket_core/gcp_initialization_validator.py
  tests/mission_critical/test_fallback_handler_degradation_prevention.py
  tests/mission_critical/test_ssot_violation_detector_simple.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat: complete thread handlers timing architecture remediation
  GCP_STAGING_MESSAGE_ROUTING_DEBUG_LOG_20250909_CYCLE1.md
  audit/staging/auto-solve-loop/redis_connection_critical_failure_gcp_staging_20250909_cycle1.md
  audit/staging/auto-solve-loop/redis_connection_failure_gcp_staging_20250909.md
  netra_backend/app/websocket_core/gcp_initialization_validator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: enhance WebSocket infrastructure with service validation
  REDIS_WEBSOCKET_RACE_CONDITION_STABILITY_VALIDATION_REPORT.md
  STABILITY_VALIDATION_EXECUTIVE_SUMMARY.md
  TEST_SUITE_IMPLEMENTATION_REPORT_20250909.md
  netra_backend/app/routes/websocket.py
  netra_backend/app/services/agent_websocket_bridge.py
  netra_backend/app/websocket_core/gcp_initialization_validator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: update agent supervisor unit tests with enhanced validation
  netra_backend/tests/unit/agents/supervisor/test_agent_registry_complete.py
  netra_backend/tests/unit/agents/supervisor/test_websocket_notifier_comprehensive_unit.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: implement Golden Path message routing fixes and WebSocket improvements
  MESSAGE_ROUTER_INTEGRATION_TESTS_BUG_FIX_REPORT.md
  netra_backend/app/websocket_core/context.py
  tests/integration/test_message_router_legacy_mapping_complete.py
  tests/mission_critical/test_message_router_chat_message_fix.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat: enhance WebSocket core types and factory patterns
  netra_backend/app/websocket_core/types.py
  netra_backend/app/websocket_core/utils.py
  netra_backend/app/websocket_core/websocket_manager_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: enhance MCP integration and agent orchestration
  netra_backend/app/agents/mcp_integration/base_mcp_agent.py
  netra_backend/app/agents/mcp_integration/context_manager.py
  netra_backend/app/agents/mcp_integration/execution_orchestrator.py
  netra_backend/app/agents/synthetic_data_sub_agent_modern.py
  netra_backend/app/services/mcp_client_service.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

a
  GCP_STAGING_MESSAGE_ROUTING_DEBUG_LOG_20250909_CYCLE1.md
  GOLDEN_PATH_TEST_PLAN_SUMMARY.md
  GOLDEN_PATH_WEBSOCKET_TEST_PLAN_COMPREHENSIVE.md
  SPEC/learnings/auto_remediation_3.xml
  SPEC/learnings/auto_remediation_4.xml
  STAGING_TEST_REPORT_PYTEST.md
  audit/staging/auto-solve-loop/gcp_websocket_redis_failure_20250909_cycle1.md
  netra_backend/app/websocket_core/service_readiness_validator.py
  netra_backend/tests/integration/test_factory_ssot_validation_integration.py
  netra_backend/tests/integration/test_message_routing_thread_management.py
  netra_backend/tests/integration/websocket_race_conditions/test_websocket_handshake_race_conditions.py
  netra_backend/tests/unit/agents/supervisor/test_execution_engine_factory_README.md
  netra_backend/tests/unit/agents/supervisor/test_execution_engine_factory_ssot_validation.py
  netra_backend/tests/unit/agents/supervisor/test_user_execution_engine_comprehensive.py
  netra_backend/tests/unit/core/tools/test_unified_tool_dispatcher_factory_ssot_validation.py
  netra_backend/tests/unit/services/test_user_execution_context_ssot_validation.py
  netra_backend/tests/unit/services/test_websocket_bridge_factory_ssot_validation.py
  netra_backend/tests/unit/websocket_core/test_websocket_manager_factory_ssot_validation.py
  reports/ssot_violations/SSOT_VIOLATION_TEST_IMPLEMENTATION_COMPLETE.md
  run_golden_path_tests.py
  run_message_handler_readiness_validation_tests.py
  test_framework/session_leak_detection/__init__.py
  test_framework/session_leak_detection/session_leak_test_base.py
  test_framework/ssot/agent_event_validators.py
  test_framework/ssot/websocket_golden_path_helpers.py
  test_framework/ssot_violation_detector/cli.py
  test_framework/ssot_violation_detector/message_pattern_analyzer.py
  test_framework/ssot_violation_detector/violation_detector.py
  test_session_leak_infrastructure.py
  tests/e2e/golden_path/test_complete_golden_path_business_value.py
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_GOLDEN_PATH_20250909_SESSION3.md
  tests/mission_critical/test_fallback_handler_degradation_prevention.py
  tests/mission_critical/test_websocket_agent_events_revenue_protection.py
  tests/unit/infrastructure/test_redis_configuration_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
