Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

docs: Complete SSOT Configuration Manager Issue #932 - RESOLVED
  SSOT-regression-Configuration Manager Broken Import Crisis.md
Due: docker-force-flag-prohibition

fix(Issue #914): Complete AgentRegistry SSOT consolidation Phase 1.5
  netra_backend/app/services/websocket_bridge_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

SSOT: Complete Step 5 test fix loop with functional consolidation for Issue #914
  SSOT-incomplete-migration-Duplicate-AgentRegistry-Classes-Blocking-Golden-Path.md
Due: docker-force-flag-prohibition

fix(agents): Issue #914 AgentRegistry SSOT Consolidation Phase 1 Complete
  auth_service/ISSUE_925_PHASE_1_RESULTS.md
  auth_service/ISSUE_925_PHASE_2_COMPLETION_REPORT.md
  auth_service/test_auth_comprehensive_security.py
  auth_service/test_golden_path_integration.py
  netra_backend/app/agents/registry.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

SSOT: Complete Step 6 PR creation and Issue #914 closure
  SSOT-incomplete-migration-Duplicate-AgentRegistry-Classes-Blocking-Golden-Path.md
Due: docker-force-flag-prohibition

Fix WebSocket connection sequence race condition (Issue #888)
  netra_backend/app/routes/websocket_ssot.py
  netra_backend/tests/integration/test_websocket_connection_sequence_race.py
  netra_backend/tests/integration/test_websocket_simple_race_condition.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): Implement Issue #919 Phase 1 fix - GCP startup_phase race condition bypass
  netra_backend/app/websocket_core/gcp_initialization_validator.py
  websocket_readiness_diagnostic.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: Update integration tests for Issue #914 SSOT compatibility
  tests/integration/test_websocket_jwt_auth_crisis_integration.py
  tests/mission_critical/test_operational_business_value_monitor.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix: Enhance UnifiedConfigManager error handling to prevent localhost URLs in staging
  netra_backend/app/core/configuration/base.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Create SSOT Gardener tracking file for MessageRouter consolidation issue #952
  SSOT-incomplete-migration-MessageRouter-consolidation.md
Due: docker-force-flag-prohibition

feat: Add SSOT legacy violation progress tracker for Issue #953
  SSOT-legacy-deepagentstate-critical-user-isolation-vulnerability.md
  issue_body.md
Due: docker-force-flag-prohibition

feat: SSOT Gardener Step 0 - WebSocket Manager fragmentation discovery (Issue #954)
  SSOT-incomplete-migration-websocket-manager-fragmentation-blocks-golden-path-954.md
Due: docker-force-flag-prohibition

docs: Update staging test report and GCP log gardener worklog
  STAGING_TEST_REPORT_PYTEST.md
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-14.md
Due: docker-force-flag-prohibition

docs: Update SSOT tracking with Step 1 test discovery results
  SSOT-incomplete-migration-MessageRouter-consolidation.md
Due: docker-force-flag-prohibition

test: Enhance BaseAgent test infrastructure and WebSocket mock fixes
  netra_backend/tests/unit/agents/test_base_agent_comprehensive.py
  tests/integration/agents/test_base_agent_infrastructure_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: Add comprehensive WebSocket and agent message handler test coverage
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-14.md
  netra_backend/tests/unit/websocket_core/test_agent_message_handler_golden_path_core.py
  tests/integration/test_websocket_readiness_middleware_integration_issue_919.py
  tests/unit/middleware/test_gcp_websocket_readiness_middleware_issue_919.py
  tests/unit/websocket_core/test_gcp_initialization_validator_issue_919.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Complete GCP log analysis with GitHub issue processing and test restoration plan
  issue_comment.md
Due: docker-force-flag-prohibition

docs: Complete PR merge session worklog - 3 PRs safely closed due to safety violations
  tests/e2e/test_agent_failure_handling.py
  tests/e2e/test_agent_orchestration.py
  tests/e2e/test_agent_pipeline_critical.py
  tests/e2e/test_agent_response_streaming.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore: Add debug utilities for WebSocket readiness middleware investigation
  debug_bypass.py
  debug_production_behavior.py
  debug_specific_test.py
  test_debug_middleware.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: Add agent message routing and WebSocket event emission unit tests
  netra_backend/tests/unit/websocket_core/test_agent_message_routing_validation_unit.py
  netra_backend/tests/unit/websocket_core/test_websocket_agent_event_emission_unit.py
  tests/integration/agents/test_agent_message_workflow_mock_services.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Add test plan documentation and failing test gardener analysis
  FAILING-TEST-GARDENER/FAILING-TEST-GARDENER-WORKLOG-critical-2025-09-13-22-04.md
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-agents-20250913-220500.md
  issue_864_test_plan.md
  tests/e2e/agent_goldenpath/test_agent_message_pipeline_e2e.py
  tests/e2e/agent_goldenpath/test_websocket_events_e2e.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: SSOT Gardener Step 1 Complete - WebSocket test discovery & planning (Issue #954)
  SSOT-incomplete-migration-websocket-manager-fragmentation-blocks-golden-path-954.md
Due: docker-force-flag-prohibition

feat: Complete Step 1 test discovery for Issue #953
  SSOT-legacy-deepagentstate-critical-user-isolation-vulnerability.md
Due: docker-force-flag-prohibition

feat(tests): Add comprehensive agent test suites and issue tracking
  issue_926_github_comment.md
  merges/MERGEISSUE-20250913-203200.md
  netra_backend/tests/unit/agents/test_websocket_agent_integration_comprehensive.py
  temp_comment.md
  tests/integration/agents/test_chat_orchestrator_workflows_integration.py
  validate_websocket_subprotocol_fixes.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Add PR merge operations worklog - all PRs already merged
  issue_926_test_plan.md
  netra_backend/tests/unit/agents/test_agent_message_processing_comprehensive.py
  tests/integration/agents/test_data_sub_agent_components_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Update staging config and cleanup temporary files
  temp_issue_body.md
  test_plan_comment.md
  tests/e2e/staging_test_config.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(staging): Update staging configuration with auth service URL and WebSocket subprotocol fixes
  SSOT-regression-WebSocket-Manager-Fragmentation-Crisis.md
Due: docker-force-flag-prohibition

docs(worklog): Link DeepAgentState test collection failure to GitHub issue #953
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-agents-2025-09-13-203200.md
Due: docker-force-flag-prohibition

feat(ssot): Add tracking for configuration import fragmentation issue
  SSOT-incomplete-migration-configuration-import-fragmentation.md
  STAGING_TEST_REPORT_PYTEST.md
  agent_message_unit_test_plan.md
  temp_issue_comment.md
  temp_issue_comment_842.md
Due: docker-force-flag-prohibition

docs(git): Add git operations log for 2025-09-13 commit gardening session
  merges/GIT-OPERATIONS-2025-09-13.md
Due: docker-force-flag-prohibition

docs(orchestrator): Add Issue #956 ChatOrchestrator registry AttributeError test plan
  issue_956_test_plan.md
Due: docker-force-flag-prohibition

docs(testing): Update failing test gardener worklog with GitHub issue linking
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-critical-2025-09-13.md
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-13-1530.md
Due: docker-force-flag-prohibition

feat(test-gardener): Add critical test failures worklog with GitHub issue tracking
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-critical-2025-09-13.md
Due: docker-force-flag-prohibition

update(ssot): Add test discovery results for Issue #960 WebSocket Manager fragmentation
  SSOT-regression-WebSocket-Manager-Fragmentation-Crisis.md
Due: docker-force-flag-prohibition

feat(ssot): Complete Phase 1 test discovery and planning for issue #962
  SSOT-incomplete-migration-configuration-import-fragmentation.md
Due: docker-force-flag-prohibition

docs(worklog): Update failing test gardener worklog with GitHub issue #961 link
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-agents-2025-09-13-203200.md
Due: docker-force-flag-prohibition

test(agents): Complete Issue #956 ChatOrchestrator registry AttributeError test suite
  issue_956_github_comment.md
  netra_backend/tests/unit/agents/test_chat_orchestrator_registry_attribute_error.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(staging): Update agent orchestration staging test results
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

fix(websocket): Resolve WebSocket test infrastructure compatibility issues
  netra_backend/tests/unit/agents/test_websocket_agent_integration_comprehensive.py
  test_framework/ssot/websocket_test_utility.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
