Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$

feat(ssot): complete Step 4 partial - Batch 1 SSOT migration 50% complete
  SSOT-AUTHENTICATION-BACKEND-JWT-DECODE-BYPASS.md
Due: docker-force-flag-prohibition

fix: Rename test helper classes to eliminate pytest collection warnings
  netra_backend/tests/integration/database_persistence/test_database_persistence_golden_path_integration.py
  netra_backend/tests/integration/test_execution_engine.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Add missing pytest markers real_redis and shared_components to configuration
  pyproject.toml
Due: none

fix: Consistent UserExecutionContext ID generation (Issue #803)
  shared/id_generation/unified_id_generator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: Add Issue #803 fix validation and performance tests
  test_issue_803_fix_validation.py
  test_performance_regression_check.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Resolve Issue #768 - CircuitBreakerOpenError import missing
  AGENT_SESSION_2025_09_13_1430_COMPLETION_REPORT.md
  STAGING_TEST_REPORT_PYTEST.md
  issue_762_final_update.md
  netra_backend/app/core/circuit_breaker_types.py
  netra_backend/app/core/resilience/unified_circuit_breaker.py
  tests/e2e/test_agent_circuit_breaker_simple.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: Issue #803 comprehensive validation suite and cleanup
  netra_backend/tests/integration/golden_path/test_authentication_flows_integration.py
  netra_backend/tests/integration/golden_path/test_jwt_token_refresh_agent_execution_integration.py
  netra_backend/tests/integration/golden_path/test_multi_user_isolation_integration.py
  netra_backend/tests/unit/auth_ssot/test_auth_service_delegation_unit.py
  netra_backend/tests/unit/golden_path/test_websocket_auth_business_logic.py
  netra_backend/tests/unit/websocket_core/test_websocket_core_unified_manager.py
  shared/id_generation/unified_id_generator.py.backup-20250913-130452
  test_issue_803_fix_validation.py
  test_performance_regression_check.py
  tests/ISSUE_814_SSOT_AUTH_TEST_EXECUTION_SUMMARY.md
  tests/e2e/golden_path_auth/test_cross_service_auth_session_mgmt.py
  tests/e2e/golden_path_auth/test_golden_path_auth_consistency.py
  tests/e2e/staging/issue_803/test_id_consistency_e2e_staging.py
  tests/integration/auth_ssot/test_message_route_auth_delegation.py
  tests/integration/issue_803/test_id_traceability_debugging.py
  tests/integration/issue_803/test_user_execution_context_id_consistency_integration.py
  tests/integration/staging_auth/test_auth_service_backend_integration.py
  tests/integration/staging_auth/test_jwt_validation_ssot_enforcement.py
  tests/integration/staging_auth/test_user_context_extraction_ssot.py
  tests/integration/staging_auth/test_websocket_rest_auth_consistency.py
  tests/integration/websocket_ssot/test_websocket_auth_bypass_detection.py
  tests/integration/websocket_ssot/test_websocket_auth_ssot_compliance.py
  tests/unit/shared/test_issue_803_id_generation_mismatch_reproduction.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Resolve Issue #729 - Remove deprecated REDIS_URL from staging deployment
  .github/workflows/deploy-staging.yml
  scripts/deployment/staging_config.yaml
Due: docker-force-flag-prohibition, docker-security-audit

Update claude-instance-orchestrator.py
  scripts/claude-instance-orchestrator.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Resolve merge conflict in STAGING_TEST_REPORT_PYTEST.md
  STAGING_TEST_REPORT_PYTEST.md
  tests/e2e/staging/test_real_agent_execution_staging.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

SSOT Gardener: Create progress tracker for Issue #821 - Multiple SupervisorAgent implementations blocking Golden Path
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-goldenpath-20250913-1430.md
  SSOT-incomplete-migration-Multiple-SupervisorAgent-Implementations.md
Due: docker-force-flag-prohibition

fix: Issue #724 - Replace direct os.environ access with SSOT IsolatedEnvironment patterns
  netra_backend/app/core/secret_manager_core.py
  netra_backend/app/schemas/config.py
  netra_backend/tests/validation/test_issue_724_environment_access_violations.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Add SSOT WebSocket Manager fragmentation issue tracking
  SSOT-incomplete-migration-WebSocket-Manager-Fragmentation-Blocks-Golden-Path.md
Due: docker-force-flag-prohibition

🚨 CRITICAL FIX: Restore test_staging_websocket_agent_events.py from mass corruption
  tests/mission_critical/test_staging_websocket_agent_events.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs(failing-tests): Complete GitHub issue creation for golden path Docker infrastructure failures
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-goldenpath-20250913-1430.md
Due: docker-force-flag-prohibition

SSOT Gardener: Complete Step 1 - SupervisorAgent test discovery and strategy
  SSOT-incomplete-migration-Multiple-SupervisorAgent-Implementations.md
  golden_path_unit_test_implementation_plan.md
Due: docker-force-flag-prohibition

feat: Add failing test gardener worklog for golden path issues
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-goldenpath-20250913-1430.md
Due: docker-force-flag-prohibition

docs: Add SSOT violation tracker for issue #828
  SSOT-regression-direct-os-environ-access-in-testing-config.md
Due: docker-force-flag-prohibition

refactor(websocket): Rename TestAgentHandler to E2EAgentHandler for clarity
  netra_backend/app/websocket_core/handlers.py
  netra_backend/tests/unit/agents/supervisor/test_agent_registry_complete.py
  netra_backend/tests/unit/test_configuration_validation_business_logic.py
  netra_backend/tests/unit/websocket/test_handlers_business_logic.py
  netra_backend/tests/unit/websocket_core/test_critical_agent_events_business_logic.py
  netra_backend/tests/unit/websocket_core/test_handlers_business_logic.py
  netra_backend/tests/unit/websocket_core/test_websocket_handlers_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(tests): Add mission-critical SSOT validation tests for Issue #821 SupervisorAgent consolidation
  tests/mission_critical/test_supervisor_agent_ssot_validation_issue_821.py
  tests/mission_critical/test_supervisor_agent_ssot_violations_issue_821.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix(tests): Enhance SSOT validation tests for Issue #821 SupervisorAgent consolidation
  tests/mission_critical/test_supervisor_agent_ssot_validation_issue_821.py
  tests/mission_critical/test_supervisor_agent_ssot_violations_issue_821.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(tests): Add Golden Path protection tests for Issue #821 SSOT consolidation
  SSOT-incomplete-migration-Multiple-SupervisorAgent-Implementations.md
  tests/mission_critical/test_supervisor_agent_golden_path_protection_issue_821.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs(tests): Update staging test report with Golden Path WebSocket test failure
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

feat(ssot): migrate test_auth_flows_business_logic.py to SSOT patterns
  netra_backend/tests/unit/golden_path/test_auth_flows_business_logic.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

progress: Complete SSOT WebSocket test planning phase
  SSOT-incomplete-migration-WebSocket-Manager-Fragmentation-Blocks-Golden-Path.md
Due: docker-force-flag-prohibition

feat(ssot): migrate test_authentication_token_business_logic.py to SSOT patterns
  netra_backend/tests/unit/golden_path/test_authentication_token_business_logic.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(auth): Fix Issue #803 ID generation counter mismatch in DemoAuthValidator
  netra_backend/app/auth_integration/auth_permissiveness.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): Update child context creation method signature in context validation tests
  netra_backend/tests/unit/agent_execution/test_context_validation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(ssot): migrate remaining P0 Golden Path test files to SSOT patterns
  netra_backend/tests/integration/golden_path/test_configuration_management_integration.py
  netra_backend/tests/integration/websocket_agent_events/test_agent_started_events.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: update staging test report
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

docs(issue-analysis): Add comprehensive status analysis for Issue #825 Golden Path test coverage
  issue_825_status_comment.md
Due: docker-force-flag-prohibition

test(auth): Add comprehensive test coverage for Issue #803 ID generation fix
  netra_backend/tests/integration/test_file_counter_mismatch_fix_issue803.py
  netra_backend/tests/unit/test_file_counter_mismatch_issue803.py
  netra_backend/tests/unit/test_file_counter_mismatch_issue803_simple.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): Resolve UserExecutionContext create_child_context API mismatch - Issue #823
  netra_backend/tests/unit/agent_execution/test_context_validation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

BREAKTHROUGH: Complete Step 2 - 285 SSOT validation tests executed
  SSOT-incomplete-migration-WebSocket-Manager-Fragmentation-Blocks-Golden-Path.md
Due: docker-force-flag-prohibition

fix: Replace manual database URL construction with SSOT DatabaseURLBuilder
  netra_backend/app/schemas/config.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(tests): comprehensive test suite for Issue #799 SSOT database config
  test_plan_issue_799_comprehensive.md
  tests/integration/issue_799/test_database_url_ssot_integration.py
  tests/unit/issue_799/test_database_config_ssot_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Issue #799 test plan summary and phase completion
  issue_799_test_plan_summary.md
Due: docker-force-flag-prohibition

STRATEGIC MILESTONE: Complete Step 3 - SSOT Remediation Planning
  SSOT-incomplete-migration-WebSocket-Manager-Fragmentation-Blocks-Golden-Path.md
Due: docker-force-flag-prohibition
