Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

.pre-commit-config.yaml:

# Permissive Pre-commit Configuration for Netra Apex
# Focus: New files and edited sections only, not entire legacy codebase
# Philosophy: Progressive enhancement over rigid enforcement

repos:
  - repo: local
    hooks:
      # NEW FILES ONLY: Strict enforcement for new code
      - id: new-file-compliance
        name: New File Standards (strict for new files only)
        entry: python scripts/permissive_hooks/check_new_files.py
        language: system
        files: '\.(py|ts|tsx)$'
        stages: [commit]
        description: 'Applies strict standards ONLY to newly created files'
        
      # EDITED SECTIONS: Check only modified lines, not entire file
      - id: edited-lines-check
        name: Modified Lines Check (incremental)
        entry: python scripts/permissive_hooks/check_edited_lines.py
        language: system
        files: '\.(py|ts|tsx)$'
        stages: [commit]
        pass_filenames: true
        description: 'Validates only the lines being modified, not the entire file'
        
      # CRITICAL IMPORTS: Prevent new relative imports (warning for existing)
      - id: prevent-new-relative-imports
        name: Prevent New Relative Imports
        entry: python scripts/permissive_hooks/check_new_imports.py --warn-only
        language: system
        files: '\.py$'
        stages: [commit]
        pass_filenames: true
        description: 'Blocks new relative imports, warns about existing ones'
        
      # MAIN CODE PRIORITY: Stricter for app code, lenient for tests
      - id: main-code-quality
        name: Main Codebase Quality (app > tests)
        entry: python scripts/permissive_hooks/prioritized_check.py --priority app
        language: system
        files: '^(netra_backend/app|auth_service/auth_core|frontend/src)/.*\.(py|ts|tsx)$'
        stages: [commit]
        description: 'Prioritizes main application code quality over test files'
        
      # TEST FILE LENIENCY: Relaxed rules for test files
      - id: test-file-leniency
        name: Test File Check (permissive)
        entry: python scripts/permissive_hooks/test_check_lenient.py --max-lines 1000
        language: system
        files: '(test_.*\.py|.*_test\.py|tests/.*\.py)$'
        stages: [commit]
        description: 'Relaxed limits for test files - focus on functionality over form'
        
      # DUPLICATE DETECTION: Only for new code patterns
      - id: new-duplicate-prevention
        name: Prevent New Duplicates (incremental)
        entry: python scripts/permissive_hooks/check_new_duplicates.py --threshold 0.9
        language: system
        files: '\.py$'
        stages: [commit]
        pass_filenames: true
        description: 'Prevents introduction of NEW duplicate patterns only'
        
      # EMERGENCY BYPASS: Allow quick fixes with flag
      - id: emergency-bypass-check
        name: Emergency Fix Mode
        entry: python scripts/permissive_hooks/emergency_check.py
        language: system
        stages: [commit]
        pass_filenames: false
        description: 'Allows bypass with EMERGENCY_FIX flag in commit message'
        
      # PROGRESSIVE ENHANCEMENT: Track improvement over time
      - id: progress-tracker
        name: Code Quality Progress Tracker
        entry: python scripts/permissive_hooks/track_progress.py --log-only
        language: system
        stages: [commit]
        pass_filenames: false
        always_run: true
        description: 'Tracks quality improvements without blocking commits'

# Configuration for different severity levels
# These can be toggled based on development phase
default_stages: [commit]
fail_fast: true   # Stop at first failure for faster feedback
verbose: true     # Show detailed feedback to help developers

# Environment-specific overrides
# Development: More permissive
# Staging: Moderate enforcement  
# Production: Strict enforcement (use original config)

feat: add timeout configurations to ClickHouse config schemas
  netra_backend/app/schemas/config.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

feat: enhance ClickHouse client with real connection and timeout support
  netra_backend/app/db/clickhouse_client.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test: add test helper methods to SecretManager for mocking
  netra_backend/app/core/configuration/secrets.py
  netra_backend/app/core/secret_manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test: enhance ClickHouse connection timeout test coverage
  netra_backend/tests/critical/test_clickhouse_connection_timeout_staging_regression.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

docs: update agent performance analysis documentation
  AGENT_PERFORMANCE_COMPREHENSIVE_AUDIT.md
  AGENT_PERFORMANCE_DEPENDENCIES_EXPLAINED.md
  AGENT_PERFORMANCE_REAL_ISSUES.md
Due: none

feat: implement optimized state persistence with smart diffing
  SPEC/learnings/state_persistence_optimization.xml
  docs/optimized_state_persistence.md
  netra_backend/app/agents/supervisor/pipeline_executor.py
  netra_backend/app/db/database_manager.py
  netra_backend/app/services/state_persistence_optimized.py
  netra_backend/tests/services/test_state_persistence_optimized.py
  scripts/demo_optimized_persistence.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

feat(auth): enhance OAuth configuration validation
  SPEC/learnings/auth.xml
  auth_service/auth_core/oauth/google_oauth.py
  auth_service/main.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

perf(state): optimize JSON serialization in state persistence
  netra_backend/app/services/state_persistence.py
  netra_backend/tests/services/test_state_persistence_optimized.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

feat(clickhouse): add async connection methods
  netra_backend/app/core/isolated_environment.py
  netra_backend/app/db/clickhouse_client.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

fix(terraform): remove overly restrictive Cloud Armor WAF rules
  SPEC/learnings/cloud_armor_removal_execution.xml
  SPEC/learnings/cloud_armor_waf_removal.xml
  terraform-gcp-staging/cloud-armor.tf
  terraform-gcp-staging/tfplan-armor
Due: none

feat(agents): enhance execution engine error handling
  netra_backend/app/agents/supervisor/execution_engine.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test: enhance critical test coverage and stability
  netra_backend/tests/critical/test_clickhouse_connection_timeout_staging_regression.py
  netra_backend/tests/critical/test_config_secrets_manager.py
  netra_backend/tests/critical/test_cross_service_auth_security_cycles_46_50.py
  netra_backend/tests/critical/test_database_transaction_integrity_cycles_11_15.py
  netra_backend/tests/critical/test_dev_launcher_clickhouse_migration_fallback_state_consistency.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

docs: update learnings index and test reports
  ITERATIONS_51_75_FINAL_SUMMARY.md
  SPEC/learnings/index.xml
  junit.xml
Due: none

refactor: enhance agent prompt templates with industry-specific context
  netra_backend/app/agents/prompts/action_prompts.py
  netra_backend/app/agents/prompts/data_prompts.py
  netra_backend/app/agents/prompts/optimization_prompts.py
  netra_backend/app/agents/prompts/reporting_prompts.py
  netra_backend/app/agents/prompts/triage_prompts.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

docs: document performance optimization learnings and implementation
  LLM_MASTER_INDEX.md
  SPEC/learnings/index.xml
  SPEC/learnings/state_persistence_optimization.xml
  netra_backend/tests/services/test_optimized_persistence_integration.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

fix(database): improve async session lifecycle management
  netra_backend/app/database/__init__.py
  netra_backend/app/db/database_manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

docs: add performance optimization implementation guides
  OPTIMIZED_PERSISTENCE_USAGE.md
  QA_OPTIMIZED_STATE_PERSISTENCE_ANALYSIS.md
Due: none

feat(scripts): add performance optimization debugging utilities
  scripts/backend_error_extractor.py
  scripts/comprehensive_error_hunter.py
  scripts/docker_log_remediation_loop.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

docs(learnings): add comprehensive state persistence optimization learnings
  SPEC/learnings/index.xml
  SPEC/learnings/state_persistence_optimization.xml
Due: none

docs(project): add state persistence optimization project summary
  STATE_PERSISTENCE_OPTIMIZATION_PROJECT_SUMMARY.md
Due: none

docs(analysis): add state persistence optimization analysis documents
  ACCEPTANCE_CRITERIA_GO_LIVE_CHECKLIST.md
  PERFORMANCE_BENCHMARKING_STRATEGY.md
  REGRESSION_TEST_SUITE_SPECIFICATIONS.md
  SECURITY_TESTING_STRATEGY.md
Due: none

docs(learnings): add SQLAlchemy session management best practices
  SPEC/learnings/sqlalchemy_session_management.xml
Due: none

chore(audit): add system audit reports and error diagnostics
  backend_errors_20250828_085131.json
  clickhouse_audit_report_20250828.md
  comprehensive_error_report_20250828_085426.json
  comprehensive_error_report_20250828_085452.json
  docker_remediation_report_20250828_084911.json
  docker_windows_audit_report.json
Due: none

refactor(clickhouse): consolidate to single SSOT implementation
  SPEC/clickhouse_client_architecture.xml
  SPEC/learnings/clickhouse_ssot_violation_remediation.xml
  clickhouse_ssot_remediation_complete_20250828.md
  netra_backend/app/agents/data_sub_agent/__init__.py
  netra_backend/app/agents/data_sub_agent/clickhouse_client.py
  netra_backend/app/agents/data_sub_agent/data_sub_agent.py
  netra_backend/app/db/clickhouse.py
  netra_backend/app/db/clickhouse_client.py
  netra_backend/app/db/clickhouse_reliable_manager.py
  netra_backend/app/db/client.py
  netra_backend/app/db/client_clickhouse.py
  netra_backend/app/db/client_manager.py
  netra_backend/app/db/database_initializer.py
  netra_backend/app/schemas/monitoring_types.py
  netra_backend/app/schemas/shared_types.py
  netra_backend/app/services/database/transaction_coordinator.py
  netra_backend/tests/agents/test_data_sub_agent_consolidated.py
  netra_backend/tests/critical/test_clickhouse_connection_timeout_staging_regression.py
  netra_backend/tests/integration/test_agent_database_integration_comprehensive.py
  netra_backend/tests/test_clickhouse_client_comprehensive.py
  netra_backend/tests/test_clickhouse_ssot_compliance.py
  netra_backend/tests/test_data_sub_agent_coordination.py
  netra_backend/tests/unit/agents/data_sub_agent/test_clickhouse_client.py
  test_framework/fixtures/clickhouse_fixtures.py
  tests/e2e/test_staging_clickhouse_connectivity_failures.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

refactor(auth): simplify database manager and remove redundant code
  auth_service/auth_core/database/database_manager.py
  auth_service/main.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(tests): consolidate test helpers and improve mock infrastructure
  netra_backend/tests/helpers/redis_test_fixtures.py
  netra_backend/tests/helpers/redis_test_helpers.py
  netra_backend/tests/helpers/tool_permission_helpers.py
  netra_backend/tests/integration/critical_paths/test_2fa_verification.py
  netra_backend/tests/integration/critical_paths/test_agent_caching_strategy.py
  netra_backend/tests/services/test_redis_manager_basic_operations.py
  netra_backend/tests/services/test_tool_permission_basic.py
  netra_backend/tests/services/test_tool_permission_business_rate.py
  netra_backend/tests/services/test_tool_permission_main.py
  test_framework/mocks/http_mocks.py
  test_framework/performance.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

fix(oauth): resolve staging OAuth configuration and secret management
  OAUTH_STAGING_REMEDIATION_REPORT.md
  SPEC/learnings/oauth_secret_naming_fix.xml
  SPEC/learnings/oauth_service_independence_violation.xml
  SPEC/learnings/oauth_staging_issues.xml
  config/oauth_redirect_uris.json
  oauth_staging_logout_fix_20250828.md
  scripts/audit_staging_oauth_secrets.py
  scripts/create_staging_secrets.py
  scripts/create_staging_secrets_complete.py
  scripts/fix_authentication_system.py
  scripts/test_staging_simplified.py
  scripts/validate_oauth_deployment.py
  scripts/validate_staging_deployment.py
  scripts/validate_staging_oauth.py
  staging_auth_service_config.json
  staging_auth_test_results.json
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

feat(compliance): add service independence checking and enhance SSOT checker
  SPEC/independent_services.xml
  scripts/check_service_independence.py
  scripts/compliance/ssot_checker.py
  shared/types/__init__.py
  shared/types/frontend_types.ts
  shared/types/performance_metrics.py
  shared/types/user_types.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

docs(specs): update learnings index and test infrastructure documentation
  SPEC/learnings/index.xml
  SPEC/test_infrastructure_architecture.xml
  docker_windows_audit_report.json
  frontend/types/store-types.ts
  junit.xml
  netra_backend/tests/integration/backend-authentication-integration-failures.py
  netra_backend/tests/integration/critical_missing/shared_infrastructure/containerized_services.py
  scripts/deploy_to_gcp.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

refactor(ssot): remove duplicate implementations and iteration test files
  netra_backend/app/agents/data_sub_agent/__init__.py
  netra_backend/app/db/clickhouse_reliable_manager.py
  netra_backend/app/db/optimized_startup_checks.py
  netra_backend/app/schemas/quality_types.py
  netra_backend/tests/database/test_clickhouse_query_performance_iteration_54.py
  netra_backend/tests/database/test_clickhouse_rollup_aggregation_iteration_56.py
  netra_backend/tests/database/test_clickhouse_timeseries_iteration_55.py
  netra_backend/tests/database/test_redis_connection_resilience_iteration_51.py
  netra_backend/tests/database/test_redis_memory_pressure_iteration_53.py
  netra_backend/tests/database/test_redis_ttl_consistency_iteration_52.py
  netra_backend/tests/integration/test_service_integration_iteration_89.py
  netra_backend/tests/test_clickhouse_client_comprehensive.py
  netra_backend/tests/test_database_connectivity_improvements.py
  tests/e2e/test_auth_circuit_breaker_iteration_1.py
  tests/e2e/test_postgres_readiness_iteration_2.py
  tests/integration/test_frontend_auth_flow_iteration_58.py
  tests/integration/test_frontend_cors_integration_iteration_57.py
  tests/integration/test_frontend_websocket_handshake_iteration_59.py
  tests/integration/test_production_readiness_validation_iteration_60.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

fix(auth): resolve refresh endpoint field naming and staging compatibility
  SPEC/learnings/auth_refresh_endpoint_field_naming.xml
  auth_service/auth_core/routes/auth_routes.py
  auth_service/auth_core/security/__init__.py
  auth_service/tests/test_refresh_endpoint_compatibility.py
  auth_service/tests/test_refresh_endpoint_simple.py
  scripts/audit_staging_auth_issues.py
  scripts/test_staging_auth_e2e.py
  scripts/test_staging_refresh_format.py
  tests/e2e/test_staging_oauth_redirect_critical.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

refactor(config): consolidate config builders with base class
  shared/config_builder_base.py
  shared/cors_config_builder.py
  shared/jwt_config_builder.py
  shared/logging/__init__.py
  shared/redis_config_builder.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

docs(ssot): add comprehensive SSOT audit reports and learnings
  SPEC/learnings/clickhouse_ssot_violation_remediation.xml
  SPEC/learnings/index.xml
  SPEC/learnings/ssot_violations_remediation.xml
  SPEC/learnings/websocket_manager_ssot_compliance.xml
  SPEC/ssot_audit_report.xml
  SSOT_REMEDIATION_COMPLETE_20250828.md
  websocket_manager_ssot_audit_20250828.md
Due: none

chore(test): update auth service coverage reports
  auth_service/coverage.json
  auth_service/coverage.xml
  auth_service/junit.xml
Due: none

docs(index): update master indexes and ClickHouse spec
  LLM_MASTER_INDEX.md
  SPEC/CROSS_SYSTEM_MASTER_INDEX.md
  SPEC/clickhouse.xml
  staging_oauth_configuration_fix.md
Due: none

fix(clickhouse): consolidate ClickHouse SSOT implementation
  SPEC/clickhouse.xml
  SPEC/learnings/clickhouse_ssot_violation_remediation.xml
  clickhouse_documentation_update_complete_20250828.md
  scripts/verify_clickhouse_ssot.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

fix(docker): improve Docker service monitoring and remediation
  DOCKER_REMEDIATION_REPORT.md
  SPEC/learnings/docker_log_pattern_refinement.xml
  docker_audit_report.json
  docker_e2e_test_report_20250828.md
  scripts/automated_docker_remediation.py
  scripts/docker_log_introspection.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

fix(auth): add missing database methods to AuthDatabaseManager
  SPEC/learnings/auth_service_database_methods.xml
  auth_service/auth_core/database/database_manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

fix(backend): improve startup reliability and health checks
  SPEC/learnings/async_sleep_blocking_issue.xml
  netra_backend/app/core/lifespan_manager.py
  netra_backend/app/middleware/security_response_middleware.py
  netra_backend/app/routes/unified_health.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention
