Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

fix(pytest): disable I/O capture for Python 3.13.7 compatibility
  pyproject.toml
Due: none

fix(pytest): resolve option conflicts by replacing wildcard import in conftest.py
  tests/conftest.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(pytest): add Issue #519 comprehensive implementation report
  ISSUE_519_IMPLEMENTATION_REPORT.md
Due: docker-force-flag-prohibition

docs(issue-519): add comprehensive stability and test execution reports
  ISSUE_519_STABILITY_PROOF_REPORT.md
  ISSUE_519_TEST_EXECUTION_REPORT.md
Due: docker-force-flag-prohibition

test(issue-519): add mission critical pytest configuration validation tests
  tests/mission_critical/test_pytest_config_conflicts.py
  tests/mission_critical/test_pytest_config_management.py
  tests/mission_critical/test_pytest_environment_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test(mission-critical): add comprehensive validation test suite
  tests/mission_critical/test_mission_critical_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs(issue-506): add five whys analysis GitHub comment template
  issue_506_five_whys_github_comment.md
Due: docker-force-flag-prohibition

docs: Complete Issue #561 resolution documentation
  issue_561_five_whys_analysis.md
  issue_561_github_comment.md
  issue_561_remediation_complete.md
  issue_561_status_audit_complete.md
Due: docker-force-flag-prohibition

feat(auth): Enhance authentication system with audit events and improved fixtures
  netra_backend/app/auth/__init__.py
  test_framework/fixtures/auth.py
  tests/integration/auth/test_websocket_authentication_flow.py
  tests/integration/websocket_auth/__init__.py
  tests/integration/websocket_auth/test_websocket_cross_service_auth_integration_service_communication.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore(deps): Add Google Cloud client libraries for enhanced platform integration
  requirements.txt
Due: docker-force-flag-prohibition

feat(infra): Enhance database connectivity validation and GCP integration testing
  scripts/validate_database_connections.py
  tests/integration/test_gcp_comprehensive_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: Enhance golden path E2E testing with comprehensive validation and reporting
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-goldenpath-2025-09-12.md
  tests/integration/golden_path/test_golden_path_complete_e2e_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Add comprehensive integration test remediation and architecture guides
  INTEGRATION_TEST_REMEDIATION_FINAL_REPORT.md
  docs/CONFIGURATION_ARCHITECTURE_GUIDE.md
  docs/INTEGRATION_TESTING_WITHOUT_DOCKER_GUIDE.md
Due: docker-force-flag-prohibition

feat(test): Add comprehensive test framework infrastructure for security and WebSocket testing
  test_framework/fixtures/security.py
  test_framework/fixtures/websocket.py
  test_framework/service_aware_testing.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: Add comprehensive WebSocket authentication integration test suite
  tests/integration/websocket_auth/test_websocket_auth_error_handling_edge_cases_authentication_failures.py
  tests/integration/websocket_auth/test_websocket_auth_error_handling_edge_cases_connection_failures.py
  tests/integration/websocket_auth/test_websocket_auth_error_handling_edge_cases_system_resilience.py
  tests/integration/websocket_auth/test_websocket_cross_service_auth_integration_realtime_communication.py
  tests/integration/websocket_auth/test_websocket_cross_service_auth_integration_security_error_handling.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Add comprehensive WebSocket auth integration test creation reports
  reports/TEST_CREATION_FINAL_WEBSOCKET_AUTH_INTEGRATION_SUMMARY.md
  reports/WEBSOCKET_AUTH_INTEGRATION_TEST_CREATION_REPORT.md
Due: docker-force-flag-prohibition

feat(scripts): Add configuration architecture validation and pytest documentation
  pytest_help.txt
  scripts/validate_configuration_architecture.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(docs): Update Issue #561 GitHub comment with final resolution confirmation
  issue_561_github_comment.md
Due: docker-force-flag-prohibition

docs: Add comprehensive PR worklog for development tracking
  PR-WORKLOG-latest-2025-09-12-085159.md
Due: docker-force-flag-prohibition

docs: Add git commit gardener merge operation documentation
  merges/MERGEISSUE-2025-09-12.md
Due: docker-force-flag-prohibition

docs: Add critical merge safety assessment to E2E deploy worklog
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-goldenpath-2025-09-12.md
Due: docker-force-flag-prohibition

docs: Add comprehensive final process documentation and completion summary
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-goldenpath-2025-09-12.md
Due: docker-force-flag-prohibition

fix(tests): implement Issue #544 staging fallback for mission critical tests
  issue_544_solution_update.md
  tests/mission_critical/websocket_real_test_base.py
  verify_staging_fallback.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix(tests): standardize test framework methods to sync patterns
  tests/integration/agent_responses/test_agent_execution_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

style: remove emojis from test output per CLAUDE.md guidelines
  test_staging_fallback.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(tests): add performance coordination integration test infrastructure
  tests/integration/TEST_CREATION_REPORT_2025_09_12.md
  tests/integration/cross_system/test_performance_coordination_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add golden path test gardener worklog for tracking
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-golden-path-2025-09-12-12-30.md
Due: docker-force-flag-prohibition

feat(ssot): add P0 critical SSOT violation tracking documents
  SSOT-incomplete-migration-ExecutionEngine-UserExecutionEngine-Deprecated-Coexistence.md
  SSOT-incomplete-migration-WebSocket-Manager-Multiple-Implementation-Fragmentation.md
Due: docker-force-flag-prohibition

docs(ssot-gardener): P0 WebSocket agent event SSOT violation tracking
  SSOT-agent-execution-websocket-event-delivery-duplication-blocking-golden-path.md
Due: docker-force-flag-prohibition

test: Add Issue #551 import failure reproduction test suite
  tests/issue_551_import_context_tests/test_import_failure_reproduction.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(process): add git commit gardener iteration 1 merge documentation
  merges/MERGEISSUE-2025-09-12-gardener-iteration-1.md
Due: docker-force-flag-prohibition

docs(ops): add GCP log gardener and E2E WebSocket test worklogs
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-12-14-45.md
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-websockets-20250912-163710.md
Due: docker-force-flag-prohibition

config: Update pyproject.toml configuration for enhanced testing infrastructure
  pyproject.toml
Due: none

docs: Add comprehensive Cycle 5 major merge operation documentation
  merges/MERGEISSUE-2025-09-12-CYCLE5-MAJOR.md
Due: docker-force-flag-prohibition

docs(process): add git commit gardener iteration 2 merge documentation
  SSOT-incomplete-migration-WebSocket-Manager-Multiple-Implementation-Fragmentation.md
  merges/MERGEISSUE-2025-09-12-gardener-iteration-2.md
Due: docker-force-flag-prohibition

test: Add comprehensive Issue #551 import resolution test suite
  tests/integration/test_issue_551_import_resolution.py
  tests/issue_551_import_context_tests/README.md
  tests/unit/test_issue_551_import_patterns.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: Add comprehensive ID migration test infrastructure
  tests/migration/test_id_migration_integration.py
  tests/migration/test_id_migration_violations_unit.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(ssot-gardener): Step 1 complete - WebSocket agent event test discovery
  SSOT-agent-execution-websocket-event-delivery-duplication-blocking-golden-path.md
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

fix: Update import failure reproduction test with enhanced path handling
  tests/issue_551_import_context_tests/test_import_failure_reproduction.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Add comprehensive Issue #551 GitHub communication documentation
  issue_551_github_comment.md
Due: docker-force-flag-prohibition

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
