Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$

refactor: add SSOT compliance validation to startup WebSocket factory
  netra_backend/app/startup_module.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: finalize test infrastructure modernization and startup improvements
  netra_backend/tests/agents/test_llm_agent_integration_core.py
  netra_backend/tests/unit/agents/supervisor/test_agent_instance_factory_comprehensive.py
  netra_backend/tests/unit/test_database_comprehensive.py
  tests/integration/test_websocket_jwt_auth_fix.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: add missing await in WebSocket JWT auth integration test
  tests/integration/test_websocket_jwt_auth_fix.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: enhance frontend WebSocket testing with unified mocks
  frontend/__tests__/mocks/unified-websocket-mock.ts
  frontend/__tests__/websocket/test_websocket_connection.test.tsx
  frontend/utils/unique-id-generator.ts
Due: architecture-compliance, file-size-limit, type-safety-check

refactor: modernize test framework infrastructure and remove deprecated aliases
  test_framework/conftest_real_services.py
  test_framework/database_test_utilities.py
  test_framework/environment_fixtures.py
  test_framework/fixtures/clickhouse_fixtures.py
  test_framework/fixtures/configuration_test_fixtures.py
  test_framework/fixtures/integration_auth_fixtures.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: enhance backend agent integration and comprehensive WebSocket bridge testing
  netra_backend/tests/agents/test_llm_agent_integration_fixtures.py
  netra_backend/tests/agents/test_supervisor_orchestration.py
  netra_backend/tests/agents/test_triage_caching_async.py
  netra_backend/tests/integration/test_agent_registry_comprehensive.py
  netra_backend/tests/integration/test_agent_websocket_bridge_comprehensive.py
  netra_backend/tests/integration/test_complete_ssot_workflow_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add comprehensive database and unified manager integration tests
  docker-compose.minimal-test.yml
  netra_backend/tests/integration/test_database_config_integration.py
  netra_backend/tests/integration/test_database_manager_business_scenarios.py
  netra_backend/tests/integration/test_database_manager_integration_comprehensive.py
  netra_backend/tests/integration/test_database_manager_stress_scenarios.py
  netra_backend/tests/integration/test_unified_configuration_manager_comprehensive.py
  netra_backend/tests/integration/test_unified_websocket_manager_comprehensive.py
  netra_backend/tests/integration/test_user_execution_context_auth_validation.py
  netra_backend/tests/integration/test_user_execution_context_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add comprehensive auth service and interservice integration testing
  auth_service/tests/integration/interservice/__init__.py
  auth_service/tests/integration/interservice/test_backend_auth_communication.py
  auth_service/tests/unit/test_auth_service_core_business_value.py
  auth_service/tests/unit/test_database_models_business_value.py
  auth_service/tests/unit/test_jwt_security_business_value.py
  auth_service/tests/unit/test_oauth_manager_ssot_comprehensive.py
  auth_service/tests/unit/test_oauth_provider_business_value.py
  tests/integration/interservice/__init__.py
  tests/integration/interservice/test_api_contract_validation.py
  tests/integration/interservice/test_cross_service_configuration_validation.py
  tests/integration/interservice/test_error_handling_retry_mechanisms.py
  tests/integration/interservice/test_service_discovery_health_checks.py
  tests/integration/test_authentication_security_integration_comprehensive.py
  tests/integration/test_service_id_fix_verification.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add comprehensive E2E and system-wide integration testing infrastructure
  tests/e2e/staging_test_config.py
  tests/e2e/test_complete_user_prompt_to_report_flow.py
  tests/e2e/test_complete_user_prompt_to_report_flow_enhanced.py
  tests/integration/offline/__init__.py
  tests/integration/offline/test_agent_factory_integration_offline.py
  tests/integration/offline/test_api_routing_integration_offline.py
  tests/integration/offline/test_configuration_integration_offline.py
  tests/integration/offline/test_service_initialization_offline.py
  tests/integration/system_startup/test_configuration_validation.py
  tests/integration/test_configuration_management_integration_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: add new agent implementations and core infrastructure utilities
  netra_backend/app/agents/data_sub_agent/agent.py
  netra_backend/app/agents/triage_sub_agent/__init__.py
  netra_backend/app/agents/triage_sub_agent/agent.py
  netra_backend/app/core/agent_recovery.py
  netra_backend/app/core/configuration/database.py
  netra_backend/app/core/error_handlers.py
  netra_backend/app/core/resource_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: add SSOT test framework utilities and database integration testing infrastructure
  docs/testing/DATABASE_INTEGRATION_TESTING_GUIDE.md
  scripts/run_database_integration_tests.py
  test_framework/ssot/base_test_case.py
  test_framework/ssot/e2e_auth_helper.py
  test_framework/ssot/integration_auth_manager.py
  test_framework/user_execution_context_fixtures.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: update pytest configuration and JWT environment regression testing
  netra_backend/pytest.ini
  test_framework/fixtures/service_fixtures.py
  tests/e2e/test_jwt_environment_secret_regression.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: add frontend validation tests and Redis development utilities
  frontend/__tests__/validation/test_comprehensive_fixes_validation.test.tsx
  scripts/start_redis_test.bat
Due: architecture-compliance, file-size-limit, type-safety-check

fix: update Redis integration fix report and enhance WebSocket bridge testing
  REDIS_INTEGRATION_FIX_REPORT.md
  netra_backend/tests/integration/test_agent_websocket_bridge_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add final WebSocket agent event delivery tests and startup validation
  netra_backend/tests/integration/websocket/test_agent_event_delivery_comprehensive.py
  netra_backend/tests/unit/test_startup_module_comprehensive.py
  scripts/start_redis_test.sh
  test_assertion_fix.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: finalize SSOT compliance and WebSocket integration improvements
  auth_service/pytest.ini
  netra_backend/app/websocket_core/user_context_extractor.py
  netra_backend/tests/integration/ssot_interplay/test_agent_registry_interplay.py
  test_framework/fixtures/service_fixtures.py
  test_framework/ssot/e2e_auth_helper.py
  tests/unit/test_unified_test_runner_proper.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add final implementation reports and test validation utilities
  SSOT_COMPLIANCE_AUDIT_WEBSOCKET_FIXES_20250907.md
Due: docker-force-flag-prohibition

test: fix user context validation in agent registry interplay
  netra_backend/tests/integration/business_value/enhanced_base_integration_test.py
  netra_backend/tests/integration/ssot_interplay/test_agent_registry_interplay.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: complete comprehensive test infrastructure and WebSocket validation framework
  FRONTEND_TEST_FIXES_IMPLEMENTATION_COMPLETE.md
  auth_service/tests/integration/test_auth_endpoints_business_integration.py
  netra_backend/tests/integration/ssot_interplay/test_agent_registry_interplay.py
  netra_backend/tests/integration/websocket/test_connection_management_advanced.py
  run_startup_tests.py
  shared/tests/unit/test_database_url_builder_comprehensive_unit.py
  test_framework/ssot/e2e_auth_helper.py
  test_framework/unified_test_runner_websocket_integration.py
  test_websocket_auth_fix_validation.py
  test_websocket_integration_direct.py
  test_websocket_oauth_fix.py
  tests/websocket_deployment_validation/test_websocket_multi_user_framework.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: complete agent context isolation validation improvements
  netra_backend/tests/integration/ssot_interplay/test_agent_registry_interplay.py
  reports/WEBSOCKET_AUTH_SSOT_COMPLIANCE_AUDIT_20250907.md
  test_framework/ssot/e2e_auth_helper.py
  test_simple_unit.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add final database URL builder and startup phase comprehensive testing
  netra_backend/tests/integration/startup/test_database_phase_comprehensive.py
  shared/tests/unit/test_database_url_builder_comprehensive_unit.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: complete final system components and comprehensive validation infrastructure
  netra_backend/app/agents/goals_triage_sub_agent.py
  netra_backend/app/database/session_manager.py
  netra_backend/tests/integration/websocket/test_error_handling_robust.py
  netra_backend/tests/unit/core/test_resource_manager_comprehensive.py
  reports/WEBSOCKET_AUTH_FIVE_WHYS_ANALYSIS_DETAILED_20250907.md
  test_websocket_auth_fix_validation.py
  validate_startup_tests.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: finalize database URL builder tests and WebSocket auth validation logic
  shared/tests/unit/test_database_url_builder_comprehensive_unit.py
  test_websocket_auth_fix_validation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: complete critical remediation infrastructure with systematic testing improvements
  UNIT_TEST_FAILURES_SYSTEMATIC_REMEDIATION_REPORT.md
  auth_service/tests/integration/test_auth_database_business_integration.py
  quick_deploy_fix.sh
  shared/tests/unit/test_database_url_builder_comprehensive_unit.py
  test_framework/fixtures/__init__.py
  test_framework/fixtures/service_fixtures.py
  test_websocket_auth_fix_validation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: complete critical remediation with final infrastructure cleanup and testing
  STARTUP_MODULE_COMPREHENSIVE_TESTING_REPORT.md
  frontend/__tests__/mocks/unified-websocket-mock.ts
  shared/tests/unit/test_database_url_builder_comprehensive_unit.py
  test_assertion_fix.py
  test_framework/fixtures/__init__.py
  test_framework/fixtures/service_fixtures.py
  test_simple_unit.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: add missing E2E_OAUTH_SIMULATION_KEY to staging environment configuration
  config/staging.env
Due: none

fix: finalize staging configuration and complete WebSocket mock improvements
  WEBSOCKET_AUTH_403_STAGING_BUG_FIX_REPORT_20250907.md
  WEBSOCKET_DEPLOYMENT_VALIDATION_REPORT.md
  auth_service/tests/integration/test_auth_microservice_business_integration.py
  coverage.json
  coverage.xml
  frontend/__tests__/mocks/unified-websocket-mock.ts
  junit.xml
  netra_backend/app/routes/messages.py
  netra_backend/tests/integration/startup/test_cache_phase_comprehensive.py
  shared/tests/unit/test_database_url_builder_comprehensive_unit.py
  tests/websocket_deployment_validation/test_websocket_regression_prevention.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: complete WebSocket OAuth implementation and testing infrastructure documentation
  WEBSOCKET_OAUTH_FIX_IMPLEMENTATION_REPORT.md
  frontend/__tests__/mocks/unified-websocket-mock.ts
  netra_backend/pytest.ini
  netra_backend/tests/integration/business_value/enhanced_base_integration_test.py
  reports/STAGING_WEBSOCKET_TESTING_INFRASTRUCTURE_20250907.md
  shared/tests/unit/test_database_url_builder_comprehensive_unit.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: finalize comprehensive testing infrastructure with improved database and runner validation
  netra_backend/tests/integration/startup/test_database_phase_comprehensive.py
  shared/tests/unit/test_database_url_builder_comprehensive_unit.py
  tests/unit/test_unified_test_runner_proper.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: complete comprehensive testing infrastructure with advanced WebSocket and chat integration
  frontend/__tests__/hooks/test_useWebSocket_comprehensive.test.ts
  netra_backend/app/clients/auth_client_cache.py
  netra_backend/app/clients/auth_client_core.py
  netra_backend/tests/integration/business_value/enhanced_base_integration_test.py
  netra_backend/tests/integration/startup/test_database_phase_comprehensive.py
  netra_backend/tests/integration/websocket/test_message_routing_precision.py
  shared/tests/unit/test_database_url_builder_comprehensive_unit.py
  tests/integration/test_chat_streaming_integration.py
  tests/unit/test_unified_test_runner_proper.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: complete enhanced business value integration test with comprehensive WebSocket event handling
  netra_backend/tests/integration/business_value/enhanced_base_integration_test.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: finalize comprehensive testing infrastructure with corrected file extensions and updates
  debug_agent_isolation.py
  frontend/__tests__/hooks/test_useWebSocket_comprehensive.test.tsx
  frontend/__tests__/mocks/unified-websocket-mock.ts
  netra_backend/tests/integration/business_value/test_agent_business_value_delivery.py
  netra_backend/tests/integration/test_websocket_jwt_authentication_integration.py
  reports/CHAT_STREAMING_IMPLEMENTATION_REPORT_20250907.md
  test_framework/auth_service_integration_helpers.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: complete final unit test coverage mission and system testing validation
  netra_backend/tests/integration/startup/test_cache_phase_comprehensive.py
  netra_backend/tests/integration/startup/test_database_phase_comprehensive.py
  netra_backend/tests/integration/test_websocket_jwt_authentication_integration.py
  reports/coverage/UNIT_TEST_COVERAGE_100_PERCENT_MISSION.md
  tests/unit/test_unified_test_runner_proper.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: complete final critical remediation with execution engine factory fixtures
  frontend/__tests__/validation/test_comprehensive_fixes_validation.test.tsx
  netra_backend/tests/integration/business_value/test_multi_user_business_operations.py
  netra_backend/tests/integration/startup/test_database_phase_comprehensive.py
  netra_backend/tests/integration/test_websocket_jwt_authentication_integration.py
  terraform-gcp-staging/variables.tf
  test_framework/fixtures/execution_engine_factory_fixtures.py
  tests/integration/test_startup_integration_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: complete critical remediation with staging infrastructure and bulletproof user isolation
  junit.xml
  netra_backend/tests/integration/agents/test_agent_execution_engine_integration.py
  netra_backend/tests/integration/websocket/test_user_isolation_bulletproof.py
  netra_backend/tests/unit/test_smd_comprehensive.py
  terraform-gcp-staging/load-balancer.tf
  test_framework/fixtures/__init__.py
  tests/integration/test_startup_integration_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: complete agent execution engine integration testing with final refinements
  netra_backend/tests/integration/agents/test_agent_execution_engine_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: update startup integration test for comprehensive coverage
  tests/integration/test_startup_integration_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: complete critical remediation with WebSocket deployment validation and final testing enhancements
  netra_backend/tests/integration/business_value/enhanced_base_integration_test.py
  netra_backend/tests/unit/test_smd_comprehensive.py
  scripts/validate_websocket_deployment.py
  tests/integration/test_startup_integration_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: COMPLETE CRITICAL REMEDIATION - Production Ready Infrastructure
  frontend/__tests__/hooks/test_useWebSocket_comprehensive.test.tsx
  netra_backend/tests/integration/ssot_interplay/test_agent_registry_interplay.py
  terraform-gcp-staging/load-balancer.tf
  tests/integration/test_startup_integration_comprehensive.py
  tests/integration/websocket/test_concurrent_users_scalability.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation
