Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$

fix(websocket): enhance database initialization in message handler
  netra_backend/app/services/websocket/message_handler.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tools): enhance unified tool dispatcher reliability and error handling
  netra_backend/app/core/tools/unified_tool_dispatcher.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(testing): Complete auth service business logic and user context tool factory enhancements
  netra_backend/app/agents/user_context_tool_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tools): Final tool dispatcher factory reliability enhancements
  netra_backend/app/core/tools/unified_tool_dispatcher.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(auth): enhance golden path auth service business logic validation
  STAGING_TEST_REPORT_PYTEST.md
  auth_service/tests/unit/golden_path/test_auth_service_business_logic.py
  tests/integration/test_error_handling_database_transaction_recovery_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(security): implement service-to-service authentication context remediation
  netra_backend/app/dependencies.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(auth/tools): add registry fix validation and enhance database path auth testing
  auth_service/tests/unit/golden_path/test_auth_service_business_logic.py
  test_registry_fix.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(business): add comprehensive Issue #118 stability and business value proof
  ISSUE_118_FINAL_STABILITY_AND_BUSINESS_VALUE_PROOF.md
Due: docker-force-flag-prohibition

fix(test): refine auth service mocking and registry test completion
  auth_service/tests/unit/golden_path/test_auth_service_business_logic.py
  test_registry_fix.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(middleware): finalize SSOT registry integration
  netra_backend/app/core/registry/universal_registry.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(auth): enhance service authentication and database session context handling
  netra_backend/app/clients/auth_client_core.py
  netra_backend/app/dependencies.py
  netra_backend/tests/integration/application_state_websocket/test_websocket_user_context_recovery_validation_reconnection_scenarios_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(websocket): enhance SSOT validation with forbidden field detection and serialization safety
  netra_backend/app/services/service_initialization/health_checker.py
  test_framework/ssot/e2e_auth_helper.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): finalize message validation and error handling improvements
  netra_backend/app/websocket_core/types.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(golden-path): enhance authentication business logic validation with real password hashing
  auth_service/tests/unit/golden_path/test_auth_service_business_logic.py
  netra_backend/app/services/security/injection_detector.py
  netra_backend/app/websocket_core/types.py
  netra_backend/tests/unit/golden_path/test_auth_flows_business_logic.py
  test_registry_fix.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(error-handling): add retry handler SSOT stub for platform resilience
  auth_service/tests/unit/golden_path/test_auth_service_business_logic.py
  netra_backend/app/services/error_handling/retry_handler.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(auth): enhance business logic validation with comprehensive repository testing
  STAGING_TEST_REPORT_PYTEST.md
  auth_service/tests/unit/golden_path/test_auth_service_business_logic.py
  netra_backend/app/auth/__init__.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(database/test): add connection manager stub and multi-service coordination test
  STAGING_TEST_REPORT_PYTEST.md
  netra_backend/app/database/connection_manager.py
  tests/integration/test_error_handling_multi_service_coordination_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(compliance/test): add GDPR validator stub and enhance auth test realism
  auth_service/tests/unit/golden_path/test_auth_service_business_logic.py
  netra_backend/app/services/compliance/gdpr_validator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(auth/websocket): enhance mock session handling and error message validation
  auth_service/tests/unit/golden_path/test_auth_service_business_logic.py
  netra_backend/app/websocket_core/types.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(critical): add comprehensive race condition vulnerability analysis
  RACE_CONDITION_VULNERABILITY_ANALYSIS_AND_TEST_PLAN.md
Due: docker-force-flag-prohibition

test(websocket): add comprehensive WebSocket lifecycle and state machine tests
  netra_backend/tests/integration/application_state_websocket/test_websocket_agent_execution_complete_lifecycle_integration.py
  netra_backend/tests/integration/test_websocket_state_machine_timing.py
  netra_backend/tests/unit/websocket/test_websocket_connection_state_machine_comprehensive_unit.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(auth): enhance business logic validation with comprehensive repository call verification
  auth_service/tests/unit/golden_path/test_auth_service_business_logic.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(unit): add comprehensive race condition and execution engine unit tests
  netra_backend/tests/unit/agents/test_execution_engine_comprehensive.py
  netra_backend/tests/unit/core/managers/test_unified_lifecycle_manager_race_conditions.py
  netra_backend/tests/unit/test_websocket_import_resolution.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(auth): enhance business logic validation with comprehensive repository testing
  netra_backend/app/websocket_core/types.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(e2e): add WebSocket GCP timing tests and priority test analysis
  reports/testing/PRIORITY_TEST_CREATION_RESULTS_20250909.md
  tests/e2e/test_websocket_gcp_timing_scenarios.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(websocket): enhance state serialization validation with SSOT compliance
  netra_backend/tests/critical/test_websocket_state_logging_serialization.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(websocket): consolidate state logging serialization test parameters for clarity
  test_framework/ssot/e2e_auth_helper.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(format): apply code formatting and linting to test files
  netra_backend/tests/unit/core/managers/test_unified_lifecycle_manager_race_conditions.py
  netra_backend/tests/unit/websocket/test_websocket_connection_state_machine_comprehensive_unit.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(staging): update pytest test report with clean baseline
  STAGING_TEST_REPORT_PYTEST.md
  netra_backend/tests/database/test_repositories_comprehensive_index.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(config): add SSL configuration marker for test categorization
  STAGING_TEST_REPORT_PYTEST.md
  netra_backend/pytest.ini
Due: docker-force-flag-prohibition

test(infrastructure): update staging test report for WebSocket race condition validation
  netra_backend/tests/unit/golden_path/test_authentication_token_business_logic.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(comprehensive): add remaining race condition and integration tests
  netra_backend/tests/integration/application_state_websocket/test_websocket_agent_execution_context_preservation_integration.py
  netra_backend/tests/integration/test_agent_execution_core.py
  netra_backend/tests/integration/websocket_state/test_websocket_connection_state_machine_comprehensive_integration.py
  netra_backend/tests/unit/race_conditions/test_agent_execution_state_races.py
  netra_backend/tests/unit/race_conditions/test_user_context_isolation_races.py
  netra_backend/tests/unit/race_conditions/test_websocket_connection_races.py
  netra_backend/tests/unit/services/test_user_execution_context_race_conditions.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(auth): enhance business logic with tier escalation detection
  netra_backend/tests/unit/golden_path/test_authentication_token_business_logic.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(auth): enhance tier escalation detection with comprehensive security validation
  tests/integration/test_concurrent_user_management_performance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(performance): add concurrent user management and isolation validation
  netra_backend/app/services/compliance/gdpr_validator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): apply final formatting and add comprehensive test coverage
  netra_backend/tests/e2e/test_websocket_connection_state_machine_comprehensive_e2e.py
  netra_backend/tests/integration/test_agent_execution_core.py
  netra_backend/tests/integration/test_agent_execution_core_simple.py
  netra_backend/tests/integration/websocket_state_machine/test_core_state_machine_integration.py
  netra_backend/tests/unit/agents/test_execution_engine_comprehensive.py
  netra_backend/tests/unit/services/test_user_execution_context_race_conditions.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(misc): update git issue progressor and WebSocket route with test coverage
  .claude/commands/gitissueprogressor.md
  netra_backend/app/routes/websocket.py
  netra_backend/tests/integration/application_state_websocket/test_websocket_tool_execution_integration_state_tracking.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): apply final formatting to WebSocket route handlers
  netra_backend/app/routes/websocket.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(final): complete race condition test suite with database session tests
  .claude/commands/gitissueprogressor.md
  netra_backend/tests/integration/race_conditions/test_database_session_races.py
  netra_backend/tests/unit/core/managers/test_unified_lifecycle_manager_race_conditions.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(testing): comprehensive 1000-test marathon report - golden path validation success
  COMPREHENSIVE_1000_TEST_MARATHON_REPORT.md
Due: docker-force-flag-prohibition
