Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$

docs(completion): Complete PR #650 safety closure documentation
  PR-WORKLOG-all-2025-09-12.md
Due: docker-force-flag-prohibition

feat(frontend): Optimize favicon asset for improved performance
  frontend/public/favicon.ico
Due: none

docs(testing): Update staging test report with latest execution timing
  tests/e2e/staging/STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

test: Add database configuration validation test for issue #378
  tests/integration/test_issue_378_database_configuration_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(merge): Add merge documentation for concurrent development 20250912-194800
  merges/MERGEISSUE-20250912-194800.md
Due: docker-force-flag-prohibition

docs(failing-test-gardener): Add GitHub issue #668 for auth helper import dependencies
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-e2e-golden-2025-01-09.md
Due: docker-force-flag-prohibition

docs: Create SSOT config manager duplication tracking file
  SSOT-incomplete-migration-config-manager-duplication.md
  tests/e2e/staging/STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

docs(ssot): Add progress tracking for JWT validation SSOT consolidation
  SSOT-incomplete-migration-JWT-validation-scattered-across-services.md
  SSOT-incomplete-migration-websocket-notifier-duplicate.md
Due: docker-force-flag-prohibition

fix: Enhance database validation with early configuration check for issue #378
  netra_backend/app/core/startup_validation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: Complete database configuration validation implementation for issue #378
  netra_backend/app/core/startup_validation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: Add WebSocket subprotocol and connectivity test markers
  tests/e2e/staging/conftest.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(testing): Update staging test report timing - 22.00 seconds baseline
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

test: Add unit test for issue #378 startup validation fix
  tests/unit/test_issue_378_startup_validation_fix.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(gardener): Add GitHub issue reference for golden path concurrency failure
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-e2e-golden-2025-01-09.md
Due: docker-force-flag-prohibition

docs: Update staging test report timing
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

docs(merge): Add merge documentation for database validation feature integration
  merges/MERGEISSUE-20250912-195100.md
Due: docker-force-flag-prohibition

docs(e2e): Complete Ultimate Test Deploy Loop with PR #671 creation
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-golden-2025-09-13-13.md
Due: docker-force-flag-prohibition

docs: Add SSOT tracking document for ErrorPolicy environment detection issue
  SSOT-critical-environment-detection-error-policy-direct-os-access-golden-path-blocker.md
Due: docker-force-flag-prohibition

docs(gcp): Add GCP Log Gardener analysis identifying critical JWT configuration issues
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-20250913.md
Due: docker-force-flag-prohibition

docs(ssot): Complete test discovery for JWT validation SSOT consolidation
  SSOT-incomplete-migration-JWT-validation-scattered-across-services.md
Due: docker-force-flag-prohibition

docs(testing): Update staging test report with actual WebSocket test failure
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

docs(test-analysis): Add comprehensive test failure analysis for multi-category test run
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-ALL_TESTS-20250912-195117.md
Due: docker-force-flag-prohibition

docs(issue-89): Add comprehensive UnifiedIDManager migration status analysis and security assessment
  issue_89_status_comment.md
Due: docker-force-flag-prohibition

docs(failing-test-gardener): Add GitHub issue #677 for performance SLA failure
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-e2e-golden-2025-01-09.md
Due: docker-force-flag-prohibition

feat(ssot): Add WebSocket emitter SSOT violation tracking
  SSOT-incomplete-migration-websocket-emitter-proliferation.md
Due: docker-force-flag-prohibition

docs(ssot): Add tracking file for critical WebSocket/Agent SSOT violations
  SSOT-incomplete-migration-websocket-agent-integration-blocking-golden-path.md
Due: docker-force-flag-prohibition

docs(ssot): Update WebSocket notifier analysis with test discovery completion
  SSOT-incomplete-migration-websocket-notifier-duplicate.md
Due: docker-force-flag-prohibition

docs(testing): Update staging test report baseline - 0.15 seconds
  SSOT-incomplete-migration-config-manager-duplication.md
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

docs(e2e): Add comprehensive golden path validation worklog
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-goldenpath-validation-2025-09-12.md
Due: docker-force-flag-prohibition

feat: Add staging health check bypass for golden path validation
  tests/e2e/staging_test_config.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(merge): Add conflict resolution documentation for divergent branch
  merges/CONFLICT-RESOLUTION-20250912-195300.md
  tests/e2e/staging_override.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(merge): Add comprehensive cycle 3 merge documentation
  merges/MERGEISSUE-20250912-195700.md
Due: docker-force-flag-prohibition

test: Add JWT validation SSOT compliance test suite
  tests/ssot/test_jwt_validation_ssot_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(testing): Update staging test monitoring timestamp and execution duration
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

docs(ssot): Update environment detection error policy analysis with test discovery
  SSOT-critical-environment-detection-error-policy-direct-os-access-golden-path-blocker.md
Due: docker-force-flag-prohibition

docs(failing-test-gardener): Add GitHub issue #682 for WebSocket extra_headers parameter error
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-e2e-golden-2025-01-09.md
Due: docker-force-flag-prohibition

docs: Update SSOT tracking with comprehensive test strategy
  SSOT-critical-environment-detection-error-policy-direct-os-access-golden-path-blocker.md
Due: docker-force-flag-prohibition

docs(failing-tests): Process Issue #1 ClickHouse exception handling regression
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-ALL_TESTS-20250912-195117.md
Due: docker-force-flag-prohibition
