Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

fix(websocket): Emergency fix for Issue #824 WebSocket Manager SSOT fragmentation
  netra_backend/tests/integration/agents/test_agent_registry_factory_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore: Final cleanup of SSOT testing infrastructure changes
  frontend/types/domains/threads.ts
  temp_cross_reference.md
  temp_issue_824_comment.md
  test_framework/test_context.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(types): Complete frontend type consolidation for SSOT compliance
  frontend/store/slices/types.ts
Due: architecture-compliance, file-size-limit, type-safety-check

chore: Clean up temporary files and complete SSOT gardening
  frontend/store/slices/types.ts
  quick_issue_check.py
  temp_issue_824_comment.md
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(testing): Update WebSocket emitter status API calls in agent registry tests
  netra_backend/tests/integration/agents/test_agent_registry_factory_integration.py
  temp_cross_reference.md
  temp_issue_comment.md
  test_framework/test_context.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(testing): Minor formatting cleanup in WebSocket fragmentation test
  tests/unit/websocket_ssot/test_websocket_manager_fragmentation_detection.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore: Final comprehensive cleanup completing git gardening cycle 2
  frontend/types/registry.ts
  frontend/types/store-types.ts
  issue_824_test_plan_comment.md
  netra_backend/tests/integration/agents/test_agent_registry_factory_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Phase 3 complete - ThreadState SSOT test implementation
  SSOT-incomplete-migration-ThreadState-duplicate-definitions.md
Due: docker-force-flag-prohibition

fix(types): Complete unified frontend types consolidation
  frontend/types/unified/index.ts
Due: architecture-compliance, file-size-limit, type-safety-check

fix(testing): Update staging WebSocket connectivity test for Issue #847
  tests/integration/test_issue847_staging_websocket_connectivity.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(test-framework): implement environment variable fallback priority in TestContext
  complete_gardening.py
  frontend/tsconfig.json
  netra_backend/tests/integration/agents/test_agent_registry_factory_integration.py
  tests/issue_824_test_suite.py
  tests/unit/websocket_ssot/test_websocket_manager_fragmentation_detection.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(types): enhance frontend thread state type exports for SSOT compliance
  frontend/types/registry.ts
  frontend/types/store-types.ts
Due: architecture-compliance, file-size-limit, type-safety-check

feat(testing): enhance WebSocket connectivity with Windows Docker bypass and mock server
  tests/mission_critical/websocket_real_test_base.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test(agents): simplify WebSocket emitter isolation test focusing on user isolation
  netra_backend/tests/integration/agents/test_agent_registry_factory_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(test): improve WebSocket fragmentation detection test syntax and error handling
  tests/unit/websocket_ssot/test_websocket_manager_fragmentation_detection.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Complete GCP Log Gardener Worklog with issue processing results
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-13.md
Due: docker-force-flag-prohibition

fix(testing): complete WebSocket smart requirements with Windows bypass and mock environment setup
  tests/mission_critical/websocket_real_test_base.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

chore: Add failing test gardener worklog for golden path issues
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-goldenpath-2025-09-13-17-32.md
  test_framework/test_context.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(test-framework): enhance TestContext with Windows WebSocket support for Issue #860
  test_framework/test_context.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(testing): Add Issue #824 Phase 1 WebSocket Manager SSOT validation tests
  tests/unit/issue_824_phase1/test_circular_reference_prevention.py
  tests/unit/issue_824_phase1/test_factory_layer_deprecation_compliance.py
  tests/unit/issue_824_phase1/test_websocket_manager_canonical_source_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: resolve f-string syntax error in WebSocket fragmentation test
  tests/unit/websocket_ssot/test_websocket_manager_fragmentation_detection.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(testing): Add test timeout configuration validation utility for Issue #818
  test_timeout_validation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refine: improve GCP log gardener command flexibility
  .claude/commands/gcploggardener.md
Due: docker-force-flag-prohibition

feat(testing): Add pytest E2E fast collection configuration for improved test discovery
  tests/e2e/pytest_e2e_fast_collection.ini
Due: none

docs(testing): Update staging E2E test report with WebSocket fragmentation test results
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

fix(testing): Enhance test infrastructure with Windows WebSocket support and validation improvements
  netra_backend/tests/integration/agents/test_agent_registry_factory_integration.py
  test_timeout_validation.py
  tests/mission_critical/websocket_real_test_base.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(testing): Add comprehensive testing utilities for Windows support and SSOT validation
  test_mock_server_direct.py
  test_phase1_windows_fix.py
  tests/e2e_collection_optimizer.py
  tests/mission_critical/websocket_real_test_base.py
  tests/unified_test_runner.py
  tests/unit/issue_824_phase1/test_import_path_unification.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix(testing): Complete Issue #824 WebSocket Manager SSOT validation fixes
  netra_backend/tests/integration/agents/test_agent_registry_factory_integration.py
  tests/mission_critical/websocket_real_test_base.py
  tests/unified_test_runner.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix(testing): Update test infrastructure imports and factory pattern implementation
  frontend/__tests__/integration/thread-navigation-mixed-types.test.ts
  netra_backend/tests/integration/agents/test_agent_registry_factory_integration.py
  test_e2e_collection_performance.py
  tests/mission_critical/websocket_real_test_base.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix(testing): Final WebSocket mock server and collection performance fixes
  test_e2e_collection_performance.py
  tests/mission_critical/websocket_real_test_base.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix(testing): Enhance test performance monitoring and WebSocket server reliability
  test_e2e_collection_performance.py
  tests/mission_critical/websocket_real_test_base.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

update: refresh staging test report timestamp
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

Complete Issue #825 and #824 final deliverables
  test_e2e_collection_performance.py
  test_minimal_websocket.py
  tests/e2e/.collection_cache.json
  tests/unit/issue_824_phase1/__init__.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Update GCP log gardener worklog with Issue #869
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-13.md
Due: docker-force-flag-prohibition

fix(websocket): Complete Issue #824 WebSocket Manager SSOT consolidation
  netra_backend/app/websocket_core/unified_manager.py
  tests/mission_critical/websocket_real_test_base.py
  tests/unit/issue_824_phase1/test_circular_reference_prevention.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix(testing): Finalize WebSocket Manager canonical source validation test
  tests/unit/issue_824_phase1/test_websocket_manager_canonical_source_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Update SSOT tracking file with GitHub issue #871 link
  FAILING-TEST-GARDENER/FAILING-TEST-GARDENER-WORKLOG-critical-2025-09-13.md
  SSOT-AgentState-DuplicateDeepAgentStateDefinitions.md
Due: docker-force-flag-prohibition

feat(documentation): Add Issue #824 completion documentation and validation reports
  netra_backend/app/websocket_core/unified_manager.py
  temp_issue_comment.md
  test_direct_timeout_validation.py
  tests/E2E_COLLECTION_OPTIMIZATION_REPORT.md
  tests/unit/issue_824_phase1/test_factory_layer_deprecation_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(testing): advance Issue #824 SSOT import path consolidation and cleanup temporary files
  temp_issue_comment.md
  test_direct_timeout_validation.py
  test_e2e_collection_performance.py
  tests/unit/issue_824_phase1/test_import_path_unification.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(testing): Finalize Issue #847 WebSocket environment fallback improvements
  netra_backend/app/core/unified_id_manager.py
  tests/mission_critical/websocket_real_test_base.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
