Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

docs(bugfixes): update unit test import violations report with results
  reports/bugfixes/UNIT_TEST_IMPORT_VIOLATIONS_20250907.md
Due: docker-force-flag-prohibition

test(e2e): add comprehensive real agent E2E test suite
  tests/e2e/test_real_agent_context_management.py
  tests/e2e/test_real_agent_corpus_admin.py
  tests/e2e/test_real_agent_handoff_flows.py
  tests/e2e/test_real_agent_performance_monitoring.py
  tests/e2e/test_real_agent_recovery_strategies.py
  tests/e2e/test_real_agent_supply_researcher.py
  tests/e2e/test_real_agent_tool_execution.py
  tests/e2e/test_real_agent_validation_chains.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(verification): add proof-of-concept tests for critical bug fixes
  test_jwt_fix_proof.py
  test_redis_dev_config_fix.py
  test_websocket_jwt_auth_fix.py
  tests/test_auth_token_cache_async_fix.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(summary): add final verification summaries and command documentation
  .claude/commands/run-unit-tests.md
  JWT_FIX_VERIFICATION_SUMMARY.md
  STAGING_TEST_REPORT_PYTEST.md
  reports/bugfixes/WEBSOCKET_JWT_AUTH_BUG_FIX_20250907.md
Due: docker-force-flag-prohibition

docs(bugfix): add Five-Whys analysis for WebSocket auth and API 404 bugs
  reports/bugfixes/WEBSOCKET_AUTH_AND_API_404_FIX_20250907.md
Due: docker-force-flag-prohibition

fix(websocket): enforce authentication in staging/production environments
  netra_backend/app/routes/websocket.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(api): implement /api/messages endpoint for HTTP chat functionality
  netra_backend/app/core/app_factory_route_configs.py
  netra_backend/app/core/app_factory_route_imports.py
  netra_backend/app/routes/messages.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(api): correct messages API route registration
  netra_backend/app/core/app_factory_route_configs.py
  netra_backend/app/routes/messages.py
  reports/bugfixes/WEBSOCKET_AND_MESSAGES_API_BUG_FIX_20250907.md
  reports/staging/STAGING_TEST_RESULTS_20250907_ITERATION_1.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): update WebSocket auth test to handle InvalidStatus exception
  STAGING_TEST_REPORT_PYTEST.md
  deployment_log_cloud_staging.txt
  deployment_log_staging.txt
  tests/e2e/staging/test_priority1_critical_REAL.py
  tests/e2e/staging_test_config.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): add JWT authentication to WebSocket staging tests
  STAGING_TEST_REPORT_PYTEST.md
  tests/e2e/staging/test_1_websocket_events_staging.py
  tests/e2e/staging/test_2_message_flow_staging.py
  tests/e2e/staging/test_3_agent_pipeline_staging.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(staging): comprehensive test run - 116/121 priority tests passing
  STAGING_TEST_REPORT_PYTEST.md
  priority_test_results.json
  reports/testing/STAGING_TEST_PROGRESS_REPORT_20250907.md
  staging_full_test_output.txt
Due: docker-force-flag-prohibition

fix(tests): add missing websocket_resilience_core module and fix imports
  .claude/commands/ultimate-test-deploy-loop.md
  SPEC/learnings/index.xml
  SPEC/learnings/service_id_timestamp_issue_20250907.xml
  STAGING_CONNECTIVITY_REPORT.md
  STAGING_TEST_REPORT_PYTEST.md
  priority_test_results.json
  reports/STAGING_E2E_TEST_RESULTS_20250907.md
  reports/STAGING_P2_TEST_RESULTS_20250907_000300.md
  reports/STAGING_TEST_BUG_FIX_REPORT_20250907.md
  reports/WEBSOCKET_AUTH_FAILURES_ANALYSIS.md
  reports/staging/MULTI_TURN_CONVERSATION_TEST_RESULTS.md
  reports/staging/P1_TEST_RESULTS_20250907_000236.md
  scripts/deploy_to_gcp.py
  tests/e2e/agent_conversation_helpers.py
  tests/e2e/websocket_resilience_core.py
  tests/unit/test_service_id_no_timestamp.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): Fix Python 3.12 WebSocket timeout compatibility in staging tests
  FRONTEND_THREAD_SWITCHING_BUG_FIX_REPORT.md
  STAGING_TEST_REPORT_PYTEST.md
  frontend/__tests__/bugs/new-chat-navigation-bug.test.tsx
  frontend/__tests__/integration/chat-sidebar-thread-switch.test.tsx
  frontend/__tests__/integration/new-chat-url-update.test.tsx
  frontend/__tests__/integration/thread-switching-diagnostic.test.tsx
  frontend/__tests__/integration/thread-switching-e2e.test.tsx
  frontend/__tests__/integration/thread-switching-simple.test.tsx
  full_staging_test_output.txt
  reports/FIVE_WHYS_BUG_ANALYSIS_20250907.md
  reports/SERVICE_ID_STABILITY_AUDIT_20250907.md
  reports/STAGING_AUTH_TEST_RESULTS_20250907_001.md
  reports/STAGING_TEST_RESULTS_ROUND_1.md
  reports/WEBSOCKET_SECURITY_TEST_BUG_FIX_REPORT_20250907.md
  reports/bugfixes/WEBSOCKET_AUTH_TEST_FIX_20250907.md
  reports/staging/COMPREHENSIVE_TEST_SUMMARY_20250907.md
  reports/staging/FINAL_TEST_DEPLOYMENT_SUMMARY_20250907.md
  staging_auth_test_results.json
  staging_priority_results.json
  staging_test_output.txt
  test_framework/ssot/websocket.py
  tests/e2e/staging/STAGING_TEST_REPORT_PYTEST.md
  tests/e2e/staging/test_expose_fake_tests.py
  tests/e2e/staging/test_priority1_critical.py
  tests/e2e/staging/test_priority2_high.py
  tests/e2e/staging_test_config.py
  tests/integration/test_service_id_stability_regression.py
  tests/integration/test_websocket_auth_handshake_complete_flow.py
  tests/mission_critical/test_first_message_experience.py
  tests/mission_critical/test_websocket_event_validation_suite.py
  tests/staging/test_staging_websocket_agent_events.py
  tests/unit/test_factory_consolidation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix(websocket): resolve authentication and handshake issues in staging tests
  STAGING_TEST_REPORT_PYTEST.md
  frontend/__mocks__/store/unified-chat.ts
  reports/WEBSOCKET_SECURITY_TEST_BUG_FIX_REPORT_20250907.md
  reports/bugfix_factory_consolidation_test_import_error_20250907.md
  reports/bugfixes/WEBSOCKET_AUTH_TEST_FIX_20250907.md
  tests/e2e/staging/test_priority1_critical.py
  tests/e2e/test_basic_user_flow_e2e.py
  tests/e2e/test_real_e2e_first_time_user.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(staging): achieve 98.3% pass rate on critical E2E tests - 119/121 passing
  reports/STAGING_E2E_FINAL_RESULTS_20250907.md
  reports/STAGING_E2E_FULL_RESULTS_20250907.md
  tests/e2e/test_websocket_dev_connectivity.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): correct WebSocket auth test exception handling in staging
  reports/WEBSOCKET_TIMEOUT_PARAMETER_FIX_REPORT_20250907.md
  reports/bug_fix_report_env_file_staging_protection_missing_import_20250907.md
  tests/e2e/staging/test_priority1_critical.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): resolve WebSocket timeout parameter issues in staging tests
  .claude/commands/audit-gcp-logs copy.md
  STAGING_TEST_REPORT_PYTEST.md
  frontend/__tests__/debug-thread-switching.test.tsx
  full_staging_test_output.txt
  reports/FINAL_BUSINESS_VALUE_REPORT_20250907.md
  staging_test_output.txt
  tests/e2e/staging/test_priority1_critical.py
  tests/e2e/test_websocket_dev_connectivity.py
  tests/unit/test_env_file_staging_protection.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): resolve staging test issues - P1 and P2 suites
  tests/e2e/staging/test_priority1_critical.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): resolve WebSocket auth test failures in staging
  .claude/commands/audit-gcp-logs-loop.md
  SPEC/learnings/websocket_asyncio_timeout_issue_20250907.xml
  STAGING_TEST_REPORT_PYTEST.md
  frontend/__tests__/debug-thread-switching.test.tsx
  netra_backend/app/clients/auth_client_core.py
  netra_backend/app/clients/circuit_breaker.py
  netra_backend/app/core/app_factory_route_configs.py
  netra_backend/app/core/app_factory_route_imports.py
  netra_backend/app/routes/circuit_breaker_status.py
  netra_backend/app/websocket_core/auth.py
  reports/COMPREHENSIVE_STAGING_TEST_RESULTS.md
  reports/STAGING_E2E_TEST_RESULTS_20250907_ITERATION_1.md
  reports/bug_fix_report_env_file_staging_protection_missing_import_20250907.md
  reports/staging/ULTIMATE_TEST_DEPLOY_LOOP_ITERATION_1.md
  staging_test_output.txt
  staging_test_output_full.txt
  staging_test_results.json
  tests/e2e/staging/test_ai_optimization_business_value.py
  tests/e2e/staging/test_priority1_critical.py
  tests/e2e/staging/test_priority1_critical_REAL.py
  tests/staging/test_auth_resilience_fixes.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): resolve all remaining staging test failures
  .claude/commands/audit-gcp-logs-loop.md
  SPEC/learnings/test_import_pattern_compliance_fix_20250907.xml
  STAGING_TEST_REPORT_PYTEST.md
  debug_health_endpoint.py
  debug_health_simple.py
  frontend/__mocks__/lib/thread-operation-manager.ts
  frontend/__mocks__/store/unified-chat.ts
  frontend/__tests__/unit/thread-operation-manager.test.tsx
  frontend/__tests__/unit/useThreadSwitching.simple.test.tsx
  reports/DATABASE_URL_BUILDER_BUG_FIX_REPORT_20250907.md
  reports/E2E_AI_OPTIMIZATION_TEST_SUITE_REPORT.md
  reports/STAGING_TEST_COMPREHENSIVE_REPORT.md
  reports/STAGING_TEST_RESULTS_ROUND_1.md
  reports/staging_test_iteration_1.md
  shared/database_url_builder.py
  staging_test_full_run_1.txt
  staging_test_iteration_1.txt
  staging_test_output_complete.txt
  staging_test_output_full.txt
  staging_test_output_p1.txt
  staging_test_results.json
  tests/e2e/staging/test_6_failure_recovery_staging.py
  tests/e2e/staging/test_ai_optimization_business_value.py
  tests/e2e/staging/test_priority1_critical.py
  tests/e2e/staging/test_real_agent_execution_staging.py
  tests/e2e/staging_test_config.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): resolve WebSocket auth failures in staging - 403 Forbidden errors fixed
  SPEC/learnings/websocket_auth_staging_fix_20250907.xml
  reports/staging/WEBSOCKET_AUTH_BUG_FIX_REPORT_20250907.md
Due: docker-force-flag-prohibition

fix(tests): resolve WebSocket auth failures and improve staging test reliability
  STAGING_TEST_REPORT_PYTEST.md
  WEBSOCKET_AUTH_FIX_REPORT.md
  frontend/__mocks__/lib/thread-operation-manager.ts
  frontend/__tests__/integration/thread-switching-diagnostic.test.tsx
  frontend/__tests__/unit/useThreadSwitching.debug.test.tsx
  frontend/__tests__/unit/useThreadSwitching.simple.test.tsx
  full_priority_test_run.txt
  netra_backend/app/core/health/interface.py
  netra_backend/app/routes/health.py
  priority_tests_all.txt
  reports/FINAL_STAGING_TEST_SUCCESS_REPORT.md
  reports/ITERATION_1_P1_TEST_RESULTS_20250907.md
  reports/STAGING_E2E_TEST_ITERATION_1.md
  reports/STAGING_TEST_ITERATION_1_20250907.md
  reports/STAGING_TEST_RESULTS_ROUND_1.md
  reports/ULTIMATE_TEST_DEPLOY_LOOP_ITERATION_1_COMPLETE.md
  reports/bugfix/cors_ipv6_origins_bug_fix_report_20250907.md
  staging_all_priority_tests.txt
  staging_full_test_run.txt
  staging_full_test_run_iteration1.txt
  staging_priority_output.txt
  staging_priority_tests.json
  staging_priority_tests_run_1.txt
  staging_test_complete.txt
  staging_test_full_run.txt
  staging_test_output_full.txt
  staging_test_output_iteration1.txt
  staging_test_output_numbered.txt
  staging_test_results.json
  staging_test_results_iteration1.json
  test_reproduce_ipv6_bug.py
  verify_websocket_auth_fix.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): resolve all staging test failures - 100% pass rate achieved
  STAGING_TEST_REPORT_PYTEST.md
  frontend/__tests__/unit/store-actions.test.tsx
  priority_tests_all.txt
  reports/FIVE_WHYS_BUG_ANALYSIS_20250907.md
  reports/staging/DATA_HELPER_TRIAGE_TEST_ITERATION_1.md
  reportsITERATION_1_P1_TEST_RESULTS_20250907.md
  shared/cors_config_builder.py
  staging_all_priority_tests.txt
  staging_integration_tests.txt
  staging_real_agent_tests.txt
  staging_real_agent_tests_2.txt
  staging_test_output_additional.txt
  staging_test_output_numbered.txt
  test_staging_health_fix.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(health): resolve staging health endpoint 500 errors with graceful service degradation
  HEALTH_ENDPOINT_500_ERROR_FIX.md
  STAGING_TEST_REPORT_PYTEST.md
  deployment_log.txt
  frontend/__tests__/unit/store-selectors.test.tsx
  frontend/__tests__/unit/useThreadSwitching.detailed-debug.test.tsx
  real_agent_batch1.txt
  reports/STAGING_TEST_SUCCESS_REPORT_20250907.md
  reports/bugfix/cors_ipv6_origins_bug_fix_report_20250907.md
  staging_core_tests.txt
  test_reproduce_ipv6_bug.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(staging): resolve JWT secret mismatch causing WebSocket 403 errors
  STAGING_CONNECTIVITY_REPORT.md
  STAGING_TEST_REPORT_PYTEST.md
  deploy_staging.txt
  deployment_log.txt
  deployment_output.txt
  frontend/jest.setup.js
  netra_backend/tests/integration/test_data_helper_triage_integration.py
  reports/ITERATION_1_COMPLETE_STATUS_20250907.md
  reports/JWT_SECRET_BUG_FIX_REPORT_20250907.md
  reports/STAGING_E2E_TEST_ITERATION_2.md
  reports/STAGING_E2E_TEST_RUN_COMPREHENSIVE_20250907.md
  reports/STAGING_TEST_SUCCESS_REPORT_20250907.md
  reports/ULTIMATE_TEST_DEPLOY_LOOP_ITERATION_1_SUCCESS.md
  reports/ULTIMATE_TEST_DEPLOY_LOOP_ITERATION_2_PROGRESS.md
  reports/WEBSOCKET_403_BUG_FIX_20250907.md
  reports/WEBSOCKET_AUTH_ERROR_RECOVERY_FIX.md
  reports/WEBSOCKET_AUTH_FAILURE_ANALYSIS_20250907.md
  reports/bug_fixes/singleton_thread_safety_bug_fix_report_20250907.md
  reports/staging_test_iteration_2_summary.md
  reproduce_singleton_issue.py
  scripts/deploy_to_gcp.py
  shared/isolated_environment.py
  staging_agent_tests.txt
  staging_auth_security_tests.txt
  staging_core_tests.txt
  staging_final_results.json
  staging_test_iteration2.txt
  staging_test_output_iteration2.txt
  staging_test_results.json
  test_exact_original_scenario.py
  test_framework/agent_test_helpers.py
  test_framework/base_e2e_test.py
  test_framework/test_config.py
  test_framework/websocket_helpers.py
  test_singleton_race_condition.py
  test_strengthened_singleton.py
  tests/e2e/staging/STAGING_TEST_REPORT_PYTEST.md
  tests/e2e/staging/test_real_agent_execution_staging.py
  tests/e2e/staging/test_staging_connectivity_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(env): correct global declaration order in get_env() function
  shared/isolated_environment.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): resolve syntax error in isolated_environment.py preventing test collection
  STAGING_TEST_REPORT_PYTEST.md
  deployment_iteration_1.txt
  frontend/jest.setup.js
  reports/staging/DATA_HELPER_TRIAGE_TEST_ITERATION_1.md
  shared/isolated_environment.py
  test_strengthened_singleton.py
  tests/e2e/staging/STAGING_TEST_REPORT_PYTEST.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): resolve WebSocket auth and syntax errors in staging tests
  STAGING_CONNECTIVITY_REPORT.md
  STAGING_TEST_REPORT_PYTEST.md
  frontend/jest.setup.js
  netra_backend/tests/integration/test_data_request_generation_real_services.py
  reports/ULTIMATE_TEST_DEPLOY_LOOP_ITERATION_2_COMPLETE.md
  reports/bug_fixes/singleton_thread_safety_bug_fix_report_20250907.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): resolve all staging agent execution test failures - 160/160 passing
  reports/PERFORMANCE_BENCHMARK_QUALITY_FIX.md
  reports/WEBSOCKET_AUTH_ERROR_RECOVERY_FIX.md
  tests/e2e/staging/test_real_agent_execution_staging.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(database): resolve Cloud SQL connection parsing issue in staging
  netra_backend/app/core/backend_environment.py
  shared/database_url_builder.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(staging): comprehensive E2E test execution - 180 tests passing locally
  SPEC/learnings/oauth_configuration_naming_conventions_fix_20250907.xml
  STAGING_CONNECTIVITY_REPORT.md
  STAGING_TEST_REPORT_PYTEST.md
  deployment/secrets_config.py
  deployment_iteration_1.txt
  frontend/__tests__/bugs/new-chat-navigation-bug.test.tsx
  frontend/__tests__/integration/thread-switching-e2e.test.tsx
  frontend/__tests__/setup/chatSidebarMockTemplate.js
  frontend/debug-chatsidebar-test.js
  frontend/jest.setup.js
  netra_backend/tests/integration/test_data_helper_triage_integration.py
  netra_backend/tests/integration/test_data_request_generation_real_services.py
  reports/DATABASE_INITIALIZATION_TIMEOUT_FIX_20250907.md
  reports/ITERATION_1_FINAL_STATUS_20250907.md
  reports/STAGING_TEST_ITERATION_2_SUCCESS_20250907.md
  reports/ULTIMATE_TEST_DEPLOY_LOOP_STATUS.md
  reports/bugs/OAUTH_CONFIGURATION_TEST_FAILURES_BUG_REPORT_20250907.md
  reports/env_loading_bug_fix_report_20250907.md
  reports/staging/DATA_HELPER_TRIAGE_TEST_ITERATION_1.md
  reproduce_singleton_issue.py
  scripts/deploy_to_gcp.py
  scripts/fix_staging_database_connection.py
  scripts/fix_staging_database_deployment.py
  staging_test_after_fix.txt
  staging_test_iteration_2.txt
  test_env_bug_reproduction.py
  test_exact_original_scenario.py
  test_singleton_race_condition.py
  test_strengthened_singleton.py
  tests/unit/test_oauth_naming_bug_reproduction.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): resolve WebSocketAuthTester import error blocking E2E tests
  reports/bug_fixes/websocket_auth_tester_import_fix_20250907.md
  test_framework/helpers/auth_helpers.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): resolve WebSocketAuthTester import error blocking agent tests
  ...prompts/remediate_prompts.md
  .github/workflows/deploy-production.yml
  E2E_TEST_FIX_PLAN.md
  STAGING_TEST_REPORT_PYTEST.md
  auth_service/README.md
  auth_service/auth_core/auth_environment.py
  auth_service/debug_db_test.py
  core_staging_tests_output.txt
  debug_health_endpoint.py
  deployment_log_iteration1.txt
  frontend/__tests__/integration/thread-switching-diagnostic.test.tsx
  frontend/hooks/useThreadSwitching.ts
  frontend/jest.setup.js
  p2_p6_test_output.txt
  reports/ITERATION_2_P0_TEST_RESULTS_20250907.md
  reports/bug_fixes/websocket_auth_tester_import_error_fix_20250907.md
  reports/staging_tests/iteration_1_all_staging.txt
  reports/staging_tests/iteration_1_real_agents.txt
  reports/staging_tests/iteration_1_summary.md
  reports/staging_tests/iteration_1_test_results.md
  start_backend_local.bat
  start_netra_services.bat
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore: clean up legacy documentation and test output files
  STAGING_TEST_REPORT_PYTEST.md
  auth_service/tests/unit/test_oauth_redirect_uri_regression.py
  frontend/__tests__/integration/thread-switching-diagnostic.test.tsx
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): resolve WebSocket authentication failure in AI optimization staging tests
  reports/bug_fixes/WEBSOCKET_AUTH_FIX_20250907.md
  reports/bug_fixes/remaining_thread_switching_failures_20250907.md
  reports/bug_fixes/thread_switching_test_failures_final_20250907.md
  reports/staging_tests/E2E_AI_OPTIMIZATION_TEST_SUITE_REPORT_20250907_055700.md
  tests/e2e/staging/test_ai_optimization_business_value.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
