Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: boundary-enforcer, file-size-check, function-complexity-check

boundary-enforcer:
  name: System Boundary Enforcer
  entry: python scripts/boundary_enforcer.py --enforce --fail-on-critical
  language: system
  stages:
  - commit

file-size-check:
  name: File Size Boundary Check
  entry: python scripts/boundary_enforcer.py --check-file-boundaries
  language: system
  stages:
  - commit

function-complexity-check:
  name: Function Complexity Boundary Check
  entry: python scripts/boundary_enforcer.py --check-function-boundaries
  language: system
  stages:
  - commit

Update launcher.py
  dev_launcher/launcher.py
Due: file-size-check, function-complexity-check

a
  app/core/middleware_setup.py
  test_cors_config.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/core/middleware_setup.py
Due: boundary-enforcer, file-size-check, function-complexity-check

CORS
  Dockerfile
  Dockerfile.backend
  app/core/middleware_setup.py
  dev_launcher/launcher.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  Dockerfile.backend
  SPEC/learnings/configuration_secrets.xml
  SPEC/learnings/index.xml
  app/alembic/versions/bb39e1c49e2d_add_missing_tables_and_columns.py
  app/core/error_handlers.py
  app/db/models_user.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/tests/database/test_schema_consistency.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  SPEC/learnings/database_asyncio.xml
  SPEC/learnings/index.xml
  app/tests/unit/test_error_handler_regression.py
  app/tests/unit/test_user_model_regression.py
  app/tests/unit/test_user_plan_schema.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  SPEC/learnings/index.xml
  app/db/models_user.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/alembic/versions/bb39e1c49e2d_add_missing_tables_and_columns.py
  app/tests/unit/test_user_model_regression.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  SPEC/learnings/database_asyncio.xml
  app/schemas/UserPlan.py
  app/tests/database/test_schema_consistency.py
  app/tests/unit/test_error_handler_regression.py
  app/tests/unit/test_user_model_regression.py
  app/tests/unit/test_user_plan_schema.py
  frontend/hooks/useLoadingState.ts
  terraform-gcp/main.tf
  test_cors_staging.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  SPEC/learnings/configuration_secrets.xml
  app/tests/unit/test_error_handler_regression.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  SPEC/learnings/frontend.xml
  frontend/hooks/useLoadingState.ts
Due: boundary-enforcer, file-size-check

Update index.xml
  SPEC/learnings/index.xml
Due: none

a
  .gitignore
  SPEC/learnings.xml
Due: none

a
  SPEC/learnings/frontend.xml
  SPEC/learnings/index.xml
  frontend/__tests__/components/ChatHistorySection/performance-accessibility.test.tsx
  frontend/__tests__/components/ChatHistorySection/setup.tsx
  frontend/__tests__/components/UIComponents.test.tsx
  frontend/__tests__/utils/test-utils.tsx
  frontend/app/auth/callback/client.tsx
  frontend/app/auth/callback/page.tsx
  frontend/hooks/useAgent.ts
  frontend/hooks/useLoadingState.ts
  frontend/jest.config.performance.cjs
  terraform/staging/terraform.tfvars
  terraform/staging/tfplan
Due: boundary-enforcer, file-size-check

a
  frontend/__tests__/components/ChatHistorySection/performance-accessibility.test.tsx
  frontend/__tests__/components/UIComponents.test.tsx
  frontend/__tests__/components/chat/MessageInput/thread-management.test.tsx
  frontend/components/WebSocketTest.tsx
  frontend/components/chat/ExamplePrompts.tsx
  frontend/hooks/useLoadingState.ts
  frontend/jest.config.performance.cjs
  frontend/jest.setup.ts
Due: boundary-enforcer, file-size-check

a
  frontend/__tests__/components/chat/MessageInput/threadservice-fix-test.tsx
  frontend/__tests__/hooks/useAgent.test.tsx
  frontend/hooks/useAgent.ts
  frontend/hooks/useThreadSwitching.ts
  frontend/jest.setup.js
Due: boundary-enforcer, file-size-check

a
  frontend/__tests__/components/UIComponents.test.tsx
Due: boundary-enforcer, file-size-check

a
  frontend/jest.setup.js
  test_fix_validation.js
Due: boundary-enforcer

a
  frontend/__tests__/components/UIComponents.test.tsx
  frontend/__tests__/components/chat/MessageInput/shared-mocks.ts
  test_fix_validation.js
Due: boundary-enforcer, file-size-check

a
  frontend/__tests__/components/UIComponents.test.tsx
  frontend/jest.setup.js
Due: boundary-enforcer, file-size-check

a
  SPEC/frontend_testing_guide.xml
  SPEC/learnings/index.xml
  frontend/__tests__/chat/ui-improvements.test.tsx
  frontend/__tests__/components/ChatHistorySection/performance-accessibility.test.tsx
  frontend/__tests__/components/chat/MessageInput/THREADSERVICE_FIX_SUMMARY.md
  frontend/jest.config.cjs
  frontend/jest.setup.js
Due: boundary-enforcer, file-size-check

a
  SPEC/learnings/testing.xml
  frontend/__tests__/components/chat/MessageInput/mock-verification.test.tsx
  frontend/jest.config.simple.cjs
Due: boundary-enforcer, file-size-check

a
  SPEC/learnings/frontend.xml
  SPEC/test_update_spec.xml
  docs/TESTING_GUIDE.md
  frontend/__tests__/components/ChatHistorySection/setup.tsx
  frontend/hooks/useThreadSwitching.ts
  frontend/jest.cmd
  frontend/jest.config.simple.cjs
  frontend/package.json
  frontend/run-jest.ps1
Due: boundary-enforcer, file-size-check

a
  frontend/__tests__/components/ChatHistorySection/setup.tsx
Due: boundary-enforcer, file-size-check

a
  frontend/__tests__/components/ChatHistorySection/basic.test.tsx
  frontend/__tests__/components/ChatHistorySection/setup.tsx
Due: boundary-enforcer, file-size-check

a
  frontend/__tests__/components/ChatHistorySection/basic.test.tsx
  frontend/__tests__/components/ChatHistorySection/setup.tsx
  frontend/hooks/useLoadingState.ts
  frontend/jest.config.suites.cjs
Due: boundary-enforcer, file-size-check

Create jest-suite-reporter.js
  frontend/jest-suite-reporter.js
Due: boundary-enforcer

Update useThreadSwitching.ts
  frontend/hooks/useThreadSwitching.ts
Due: boundary-enforcer, file-size-check

a
  frontend/__tests__/hooks/additionalHooks.test.tsx
  frontend/hooks/useThreadSwitching.ts
  frontend/store/websocket-error-handlers.ts
  frontend/store/websocket-event-handlers-main.ts
Due: boundary-enforcer, file-size-check

a
  frontend/store/unified-chat.ts
Due: boundary-enforcer, file-size-check

a
  SPEC/anti_regression.xml
  SPEC/conventions.xml
  SPEC/learnings/frontend.xml
  SPEC/learnings/index.xml
  SPEC/testing.xml
  SPEC/type_safety.xml
  docs/TESTING_GUIDE.md
  frontend/__tests__/hooks/additionalHooks.test.tsx
  frontend/package.json
  frontend/test-suite-runner.js
Due: boundary-enforcer, file-size-check

a
  SPEC/code_changes.xml
Due: none

a
  frontend/hooks/useLoadingState.ts
  frontend/providers/WebSocketProvider.tsx
  frontend/services/webSocketService.ts
Due: boundary-enforcer, file-size-check

A
  SPEC/learnings/frontend.xml
  SPEC/learnings/index.xml
  SPEC/learnings/react-content-handling.xml
  frontend/__tests__/auth/context.test.tsx
  frontend/__tests__/auth/service.test.ts
  frontend/__tests__/chat/chatUIUXComprehensive.test.tsx
  frontend/__tests__/chat/chatUIUXCore.test.tsx
  frontend/__tests__/chat/mcp-components.test.tsx
  frontend/__tests__/chat/message-content-handling.test.tsx
  frontend/__tests__/components/SubAgentStatus.test.tsx
  frontend/__tests__/components/chat/MainChat.loading.test.tsx
  frontend/__tests__/components/chat/MessageInput/validation.test.tsx
  frontend/__tests__/hooks/useLoadingState.test.tsx
  frontend/__tests__/utils/loading-state-machine.test.ts
  frontend/components/chat/MessageItem.tsx
  frontend/components/chat/MessageList.tsx
  frontend/hooks/useLoadingState.ts
  frontend/jest.config.cjs
  frontend/jest.config.suites.cjs
  frontend/jest.setup.optimized.ts
  frontend/utils/loading-state-machine.ts
Due: boundary-enforcer, file-size-check

a
  app/websocket/broadcast_core.py
  frontend/__tests__/hooks/useLoadingState.test.tsx
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/routes/websockets.py
  app/websocket/connection.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/agents/supervisor_consolidated.py
  app/llm/fallback_responses.py
  app/routes/websockets.py
  app/schemas/Agent.py
  app/tests/unit/test_agent_forward_references.py
  app/tests/unit/test_fallback_response_factory.py
  app/tests/unit/test_websocket_error_handling.py
  app/websocket/broadcast_core.py
  app/websocket/connection.py
  frontend/__tests__/components/chat/MainChat.loading.test.tsx
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  SPEC/learnings/database_asyncio.xml
  SPEC/learnings/index.xml
  SPEC/learnings/pydantic_forward_references.xml
  SPEC/learnings/type_safety.xml
  SPEC/learnings/websocket_errors.xml
  app/schemas/Agent.py
  app/schemas/Generation.py
  app/schemas/agent_models.py
  app/tests/unit/test_agent_forward_references.py
  app/tests/unit/test_state_checkpoint_session_fix.py
  app/tests/unit/websocket/test_websocket_closing_state.py
Due: boundary-enforcer, file-size-check, function-complexity-check

Update staging.tfplan
  terraform-gcp/staging.tfplan
Due: none

Path conditions:
  boundary-enforcer: any of: ^(app|frontend|scripts)/
  file-size-check: any of: \.(py|ts|tsx)$
  function-complexity-check: any of: \.py$
