Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: boundary-enforcer, file-size-check, function-complexity-check

boundary-enforcer:
  name: System Boundary Enforcer
  entry: python scripts/boundary_enforcer.py --enforce --fail-on-critical
  language: system
  stages:
  - commit

file-size-check:
  name: File Size Boundary Check
  entry: python scripts/boundary_enforcer.py --check-file-boundaries
  language: system
  stages:
  - commit

function-complexity-check:
  name: Function Complexity Boundary Check
  entry: python scripts/boundary_enforcer.py --check-function-boundaries
  language: system
  stages:
  - commit

a
  test_reports/dashboard.md
  test_reports/latest/unit_report.md
  test_reports/metrics/test_history.json
  test_reports/unified_report.md
Due: none

Create test_middleware_fix.py
  test_middleware_fix.py
Due: file-size-check, function-complexity-check

Create e2e-agent-workflows-unified.xml
  SPEC/e2e-agent-workflows-unified.xml
Due: none

Create E2E_Aug_15_2025_Update_Plan.md
  E2E_Aug_15_2025_Update_Plan.md
Due: none

a
  app/db/clickhouse_query_fixer.py
  app/services/corpus/search_operations.py
  app/services/supply_research_service.py
  app/tests/e2e/conftest.py
  app/tests/e2e/data/default_plans.py
  app/tests/e2e/data/plan_step_definitions.py
  app/tests/e2e/data/seeded_data_generator.py
  app/tests/e2e/data/test_scenarios.yaml
  app/tests/e2e/infrastructure/__init__.py
  app/tests/e2e/infrastructure/llm_mock_client.py
  app/tests/e2e/infrastructure/llm_response_cache.py
  app/tests/e2e/infrastructure/llm_test_manager.py
  app/tests/e2e/infrastructure/test_llm_test_manager.py
  app/tests/e2e/test_capacity_planning.py
  app/tests/e2e/test_cost_optimization_workflows.py
  app/tests/e2e/test_example_prompts_real.py
  app/tests/e2e/test_hooks_and_mixins.py
  app/tests/e2e/test_latency_optimization_workflows_core.py
  app/tests/e2e/test_middleware_integration.py
  app/tests/e2e/test_model_selection_workflows.py
  app/tests/e2e/test_thread_context.py
  app/tests/e2e/test_thread_management.py
  app/tests/e2e/test_websocket_thread_integration.py
  app/tests/e2e/validators/__init__.py
  app/tests/e2e/validators/data_integrity_validator.py
  app/tests/e2e/validators/performance_validator.py
  app/tests/e2e/validators/stage_validator.py
  app/tests/services/test_clickhouse_regex_patterns.py
  compliance_report.txt
  frontend/components/chat/AgentStatusPanel.tsx
  frontend/components/chat/MainChat.tsx
  test_reports/dashboard.md
  test_reports/latest/unit_report.md
  test_reports/metrics/test_history.json
  test_reports/unified_report.md
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/services/corpus/document_manager.py
  app/tests/e2e/test_kv_cache_audit.py
  app/tests/e2e/test_thread_agent_integration.py
  frontend/app/enterprise-demo/enhanced-page.tsx
  test_reports/latest/real_e2e_report.md
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/tests/core/test_core_infrastructure_11_20.py
  app/tests/e2e/conftest.py
  app/tests/e2e/data/edge_cases_temporal.py
  app/tests/e2e/infrastructure/llm_test_manager.py
  app/tests/e2e/thread_test_fixtures.py
  app/tests/e2e/validators/example_usage.py
  frontend/components/chat/MainChat.tsx
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/agents/triage_sub_agent/agent.py
  app/tests/e2e/data/temporal_patterns.py
  test_reports/dashboard.md
  test_reports/latest/smoke_report.md
  test_reports/metrics/test_history.json
  test_reports/unified_report.md
  validator_compliance.json
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  agent_violations.json
  app/agents/triage_sub_agent/agent_original_backup.py
  app/agents/triage_sub_agent/prompt_builder.py
  app/core/circuit_breaker.py
  app/core/reliability.py
  app/services/streaming_service.py
  find_long_functions.py
  frontend/app/corpus/components/BrowseTab.tsx
  frontend/app/corpus/components/CorpusItem.tsx
  frontend/app/corpus/components/CorpusStats.tsx
  frontend/app/corpus/components/PageHeader.tsx
  frontend/app/corpus/components/PermissionsTab.tsx
  frontend/app/corpus/components/SearchTab.tsx
  frontend/app/corpus/components/StorageUsage.tsx
  frontend/app/corpus/components/VersionsTab.tsx
  frontend/app/corpus/components/index.ts
  frontend/app/corpus/components/types.ts
  frontend/app/corpus/components/utils.tsx
  frontend_violations.json
  scripts_violations.json
  service_violations.json
  test_reports/dashboard.md
  test_reports/latest/unit_report.md
  test_reports/metrics/test_history.json
  test_reports/unified_report.md
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/services/generation_service.py
  docs/API_DOCUMENTATION.md
  docs/ARCHITECTURE.md
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  frontend/store/websocket-mcp-handlers.ts
  frontend/utils/layer-visibility-manager.ts
Due: boundary-enforcer, file-size-check

a
  frontend/types/store-types.ts
Due: boundary-enforcer, file-size-check

a
  SPEC/learnings/mcp_chat_integration.xml
  frontend/__tests__/chat/mcp-components.test.tsx
  frontend/__tests__/integration/tool-lifecycle-integration-simple.test.ts
  frontend/__tests__/integration/tool-lifecycle-integration.test.ts
  frontend/components/chat/ChatHeader.tsx
  frontend/components/chat/MCPResultCard.tsx
  frontend/components/chat/MCPServerStatus.tsx
  frontend/components/chat/MCPToolIndicator.tsx
  frontend/components/chat/MessageItem.tsx
  frontend/hooks/useMCPTools.ts
  frontend/services/mcp-client-service.ts
  frontend/store/websocket-tool-handlers-enhanced.ts
  frontend/utils/layer-visibility.test.ts
Due: boundary-enforcer, file-size-check

a
  SPEC/ai_factory_status_report.xml
  app/agents/admin_tool_dispatcher/dispatcher_core.py
  app/agents/corpus_admin/agent.py
  app/auth/oauth_proxy.py
  app/auth/session_manager.py
  app/core/exceptions_agent.py
  app/llm/client.py
  app/middleware/ip_blocking.py
  app/middleware/path_traversal_protection.py
  app/routes/factory_status.py
  app/services/audit/corpus_audit.py
  app/services/factory_status/factory_status_integration.py
  app/services/factory_status/spec_compliance_scorer.py
  app/websocket/message_handler_core.py
  test_reports/dashboard.md
  test_reports/latest/integration_report.md
  test_reports/latest/real_e2e_report.md
  test_reports/latest/unit_report.md
  test_reports/metrics/test_history.json
  test_reports/unified_report.md
Due: boundary-enforcer, file-size-check, function-complexity-check

refactor: modularize system architecture for 8-line function compliance
  app/agents/supply_researcher/agent.py
  app/agents/triage_sub_agent/executor.py
  app/auth/api_key_manager.py
  app/auth/auth_dependencies.py
  app/auth/enhanced_auth_security.py
  app/auth/session_checker.py
  app/auth/session_utils.py
  app/core/app_factory.py
  app/core/interfaces_base.py
  app/core/interfaces_monitoring.py
  app/core/system_health_monitor.py
  app/core/type_validation_core.py
  app/db/clickhouse.py
  app/llm/error_classification.py
  app/llm/fallback_strategies.py
  app/llm/llm_core_operations.py
  app/middleware/error_middleware.py
  app/middleware/security_middleware.py
  app/middleware/tool_permission_middleware.py
  app/routes/factory_compliance.py
  app/routes/unified_tools.py
  app/routes/utils/synthetic_data_helpers.py
  app/services/audit/corpus_audit.py
  app/services/audit/corpus_audit_helpers.py
  app/services/audit/repository.py
  app/services/corpus/corpus_creation.py
  app/services/factory_status/factory_status_integration.py
  app/services/generation_service.py
  app/services/metrics/agent_metrics.py
  app/services/metrics/core_collector.py
  app/websocket/message_handler_core.py
  test_reports/dashboard.md
  test_reports/latest/agents_report.md
  test_reports/latest/unit_report.md
  test_reports/metrics/test_history.json
  test_reports/unified_report.md
Due: boundary-enforcer, file-size-check, function-complexity-check

refactor: modularize system architecture for 8-line function compliance
  app/agents/supply_researcher/agent.py
  app/agents/triage_sub_agent/executor.py
  app/auth/api_key_manager.py
  app/auth/auth_dependencies.py
  app/auth/enhanced_auth_security.py
  app/auth/session_checker.py
  app/auth/session_utils.py
  app/core/app_factory.py
  app/core/interfaces_base.py
  app/core/interfaces_monitoring.py
  app/core/system_health_monitor.py
  app/core/type_validation_core.py
  app/db/clickhouse.py
  app/llm/error_classification.py
  app/llm/fallback_strategies.py
  app/llm/llm_core_operations.py
  app/middleware/error_middleware.py
  app/middleware/security_middleware.py
  app/middleware/tool_permission_middleware.py
  app/routes/factory_compliance.py
  app/routes/unified_tools.py
  app/routes/utils/synthetic_data_helpers.py
  app/routes/utils/websocket_helpers.py
  app/services/audit/corpus_audit.py
  app/services/audit/corpus_audit_helpers.py
  app/services/audit/repository.py
  app/services/corpus/corpus_creation.py
  app/services/factory_status/factory_status_integration.py
  app/services/generation_service.py
  app/services/metrics/agent_metrics.py
  app/services/metrics/core_collector.py
  app/websocket/message_handler_core.py
  test_reports/dashboard.md
  test_reports/latest/agents_report.md
  test_reports/latest/unit_report.md
  test_reports/metrics/test_history.json
  test_reports/unified_report.md
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  LLM_OVERLOAD_FIX_SUMMARY.md
  app/agents/synthetic_data_generator_original.py
  app/agents/synthetic_data_record_builders.py
  app/core/adaptive_circuit_breakers.py
  app/core/app_factory.py
  app/db/client_config.py
  app/llm/enhanced_retry.py
  app/llm/overload_handler.py
  app/llm/resource_manager.py
  app/middleware/error_metrics_middleware.py
  app/middleware/error_middleware.py
  app/middleware/error_recovery_middleware.py
  app/middleware/transaction_middleware.py
  app/services/database/unit_of_work.py
  app/services/external_api_client.py
  app/tests/services/test_circuit_breaker_integration.py
  app/tests/unit/test_llm_resource_manager.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/core/adaptive_circuit_breaker_core.py
  app/core/circuit_breaker_types.py
  app/middleware/error_recovery_helpers.py
Due: boundary-enforcer, file-size-check, function-complexity-check

Create error_response_builder.py
  app/middleware/error_response_builder.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/core/websocket_connection_manager.py
  app/core/websocket_heartbeat_manager.py
  app/core/websocket_message_handler.py
  app/core/websocket_recovery_manager.py
  app/core/websocket_recovery_strategies.py
  app/core/websocket_recovery_types.py
  app/middleware/error_recovery_middleware.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/agents/actions_to_meet_goals_sub_agent.py
  app/agents/state.py
  app/core/websocket_connection_manager.py
  app/core/websocket_reconnection_handler.py
  app/services/agent_service.py
  app/services/agent_service_compat.py
  app/services/agent_service_core.py
  app/services/agent_service_factory.py
  app/services/agent_service_streaming.py
  app/services/content_generation_service.py
  app/services/generation_job_manager.py
  app/services/generation_service.py
  app/services/log_generation_service.py
  app/tests/test_agents_comprehensive.py
  tests/test_actions_sub_agent.py
Due: boundary-enforcer, file-size-check, function-complexity-check

Business First
  CLAUDE.md
Due: none

a
  app/auth/auth_service.py
  app/services/data_ingestion_service.py
  app/services/generation_service.py
  app/services/synthetic_data_job_service.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/auth/auth_service.py
  app/auth/token_manager.py
  app/auth/token_validator.py
  app/tests/clickhouse/test_real_clickhouse_api.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  Dockerfile.frontend.staging
  terraform-gcp/staging-domains.tf
Due: none

a
  BUSINESS_ALIGNMENT_PLAN.md
  BUSINESS_VALUE_REPORT.md
  implementation_docs/BUSINESS_ALIGNMENT_PLAN.md
Due: none

a
  APEX_COMPLETE_IMPLEMENTATION_PLAN.md
  APEX_MIGRATION_PLAN.md
  APEX_QUICK_START_GUIDE.md
  APEX_TECHNICAL_ARCHITECTURE.md
  app/netra_mcp/modules/netra_mcp_resources.py
  app/netra_mcp/modules/netra_mcp_tools.py
  app/schemas/Token.py
  app/tests/agents/test_example_prompts_parameterized.py
  app/tests/fixtures/realistic_test_fixtures.py
  app/tests/services/security_service_test_mocks.py
  app/tests/services/test_security_service_authentication.py
  business_value_updates.md
  dev_launcher/config_validator.py
  integration_tests/test_health.py
  scripts/agent_tracking_helper.py
  scripts/cleanup_workflow_runs.py
  scripts/deduplicate_types.py
  scripts/reset_clickhouse_auto.py
  scripts/test_system_startup.py
  scripts/validate_type_deduplication.py
  simple_test_results.json
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/services/security_service.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  .env.development
  run_migrations.py
  terraform-dev-postgres/outputs.tf
  terraform-gcp/cloud-armor-ip-blocking.tf.disabled
  terraform-gcp/deploy-staging.ps1
  terraform-gcp/main.tf
  terraform-gcp/staging-domains.tf.disabled
  terraform-gcp/staging.tfplan
  terraform-gcp/terraform.tfstate.backup
  terraform-gcp/terraform.tfstate.d/staging/.terraform.tfstate.lock.info
  terraform-gcp/terraform.tfstate.d/staging/terraform.tfstate.backup
  terraform-gcp/variables.tf
Due: file-size-check, function-complexity-check

Update .env.development
  .env.development
Due: none

a
  .env.development
  SPEC/learnings/fastapi_dependencies.xml
  app/core/middleware_setup.py
  app/routes/health.py
  integration_tests/test_app.py
  integration_tests/test_health.py
Due: boundary-enforcer, file-size-check, function-complexity-check

Update middleware_setup.py
  app/core/middleware_setup.py
Due: boundary-enforcer, file-size-check, function-complexity-check

Path conditions:
  boundary-enforcer: any of: ^(app|frontend|scripts)/
  file-size-check: any of: \.(py|ts|tsx)$
  function-complexity-check: any of: \.py$
