Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: boundary-enforcer, file-size-check, function-complexity-check

.pre-commit-config.yaml:

# Boundary Enforcement Pre-commit Configuration
repos:
  - repo: local
    hooks:
      - id: boundary-enforcer
        name: System Boundary Enforcer
        entry: python scripts/boundary_enforcer.py --enforce --fail-on-critical
        language: system
        files: '^(app|frontend|scripts)/'
        stages: [commit]
        
      - id: file-size-check
        name: File Size Boundary Check
        entry: python scripts/boundary_enforcer.py --check-file-boundaries
        language: system
        files: '\.(py|ts|tsx)$'
        stages: [commit]
        
      - id: function-complexity-check
        name: Function Complexity Boundary Check
        entry: python scripts/boundary_enforcer.py --check-function-boundaries
        language: system
        files: '\.py$'
        stages: [commit]

a
  tests/unified/dev_launcher_real_system.py
  tests/unified/real_services_manager.py
  tests/unified/real_services_manager_refactored.py
Due: file-size-check, function-complexity-check

a
  UNIFIED_SYSTEM_TEST_RESULTS.md
  app/tests/unified_system/mock_services.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  tests/unified/real_services_manager.py
  tests/unified/test_example_real_services.py
Due: file-size-check, function-complexity-check

a
  SPEC/learnings/testing.xml
  app/tests/unified_system/mock_services.py
  app/tests/unified_system/test_health_coordination.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  SPEC/learnings/real_service_testing.xml
  app/tests/routes/test_websocket_advanced.py
  app/tests/routes/test_websocket_connection.py
  app/tests/unified_system/mock_services.py
  app/tests/unified_system/test_health_coordination.py
  dev_launcher/auth_starter.py
  test_reports/test_results.json
  tests/unified/database_test_operations.py
  tests/unified/dev_launcher_real_system.py
  tests/unified/e2e/session_persistence_validators.py
  tests/unified/e2e/test_database_sync.py
  tests/unified/e2e/test_error_propagation_unified.py
  tests/unified/e2e/test_session_persistence_unified.py
  tests/unified/e2e/test_websocket_event_completeness.py
  tests/unified/test_database_operations.py
  tests/unified/test_frontend_backend_api.py
  tests/unified/test_service_health_monitoring.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  .service_discovery/auth.json
  test_reports/test_results.json
  tests/unified/CRITICAL_UNIFIED_TEST_PLAN.md
  tests/unified/e2e/test_database_sync_real.py
  tests/unified/e2e/test_error_propagation_real.py
  tests/unified/e2e/test_health_cascade.py
  tests/unified/e2e/test_jwt_lifecycle_real.py
  tests/unified/e2e/test_multi_tab_isolation.py
  tests/unified/e2e/test_multi_tab_session_real.py
  tests/unified/e2e/test_new_user_complete_real.py
  tests/unified/e2e/test_oauth_real_service_flow.py
  tests/unified/e2e/test_rate_limiting_unified_real.py
  tests/unified/e2e/test_service_startup_health_real.py
  tests/unified/e2e/test_session_persistence_restart.py
  tests/unified/e2e/test_websocket_jwt_auth_real.py
  tests/unified/test_agent_pipeline_real.py
  tests/unified/test_database_operations.py
Due: file-size-check, function-complexity-check

a
  tests/unified/e2e/test_database_sync_real.py
  tests/unified/e2e/test_oauth_real_service_flow.py
Due: file-size-check, function-complexity-check

a
  tests/unified/e2e/test_multi_tab_session_real.py
  tests/unified/e2e/test_session_persistence_restart.py
Due: file-size-check, function-complexity-check

a
  tests/unified/e2e/JWT_LIFECYCLE_TEST_SUMMARY.md
  tests/unified/e2e/test_oauth_real_service_flow.py
Due: file-size-check, function-complexity-check

a
  .service_discovery/auth.json
  UNIFIED_TEST_IMPLEMENTATION_SUMMARY.md
  app/db/postgres.py
  app/db/postgres_core.py
  app/startup_module.py
  test_reports/test_results.json
  tests/unified/e2e/test_database_sync_real.py
  tests/unified/e2e/test_multi_tab_session_real.py
  tests/unified/e2e/test_new_user_complete_real.py
  tests/unified/e2e/test_rate_limiting_unified_real.py
  tests/unified/e2e/test_service_startup_health_real.py
  tests/unified/e2e/test_session_persistence_restart.py
  tests/unified/e2e/test_websocket_jwt_auth_real.py
  tests/unified/test_basic_user_flow_e2e.py
  tests/unified/test_error_recovery.py
Due: boundary-enforcer, file-size-check, function-complexity-check

Fix startup health checks database session factory issue
  app/db/postgres_core.py
  app/startup_checks/database_checks.py
  app/startup_checks/environment_checks.py
  app/startup_module.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  .gitignore
  UNIFIED_TEST_IMPLEMENTATION_RESULTS.md
  UNIFIED_TEST_IMPLEMENTATION_SUMMARY.md
  app/db/postgres_core.py
  app/db/postgres_pool.py
  app/startup_checks/checker.py
  app/startup_checks/utils.py
  app/startup_module.py
  app/tests/integration/test_supply_research_optimization.py
  app/tests/routes/test_route_fixtures.py
  app/tests/services/synthetic_data/test_websocket_updates.py
  app/websocket/unified/broadcasting.py
  frontend/jest.config.simple.cjs
  frontend/jest.config.smoke.cjs
  integration_tests/test_websocket.py
  test_migration_check.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  .env.test
  .service_discovery/auth.json
  app/startup_checks/database_checks.py
  pytest.ini
  test_reports/test_results.json
  tests/unified/e2e/test_agent_pipeline_real.py
  tests/unified/e2e/test_database_sync_complete.py
  tests/unified/e2e/test_dev_launcher_startup_complete.py
  tests/unified/e2e/test_error_recovery_complete.py
  tests/unified/e2e/test_multi_session_isolation.py
  tests/unified/e2e/test_rate_limiting_complete.py
  tests/unified/e2e/test_session_persistence_complete.py
  tests/unified/e2e/test_user_journey_complete_real.py
  tests/unified/e2e/test_websocket_jwt_complete.py
  tests/unified/test_critical_imports_validation.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/tests/routes/test_agent_routes.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  .service_discovery/auth.json
  all_violations.json
  app/core/cross_service_validators/security_validators.py
  app/routes/utils/websocket_helpers.py
  app/tests/auth_integration/test_jwt_secret_consistency.py
  app/tests/integration/test_websocket_reconnection.py
  app/tests/routes/test_agent_routes.py
  app/tests/routes/test_websocket_connection.py
  auth_service/auth_core/secret_loader.py
  categorized_violations.json
  compliance_full.json
  compliance_report_after.json
  current_status.json
  deploy-staging-reliable.ps1
  dev_launcher/backend_starter.py
  dev_launcher/launcher.py
  dev_launcher/launcher_integration.py
  dev_launcher/migration_runner.py
  final_compliance.json
  final_status.json
  jwt_consistency_validation.json
  run-staging-migrations.ps1
  scripts/validate_jwt_consistency.py
  test_compliance.json
  test_migration_runner.py
  test_reports/test_results.json
  violation_groups.json
  violations.json
  violations_all.json
  websocket_violations.json
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  .service_discovery/auth.json
  Dockerfile.auth
  SPEC/learnings/database_asyncio.xml
  SPEC/learnings/index.xml
  app/core/error_handlers/api/response_builder.py
  app/db/postgres_session.py
  app/pytest.ini
  app/services/synthetic_data_service.py
  app/tests/performance/test_comprehensive_backend_performance.py
  app/tests/routes/test_reference_management.py
  auth_service/auth_core/core/session_manager.py
  auth_service/auth_core/models/auth_models.py
  auth_service/auth_core/routes/auth_routes.py
  auth_service/main.py
  auth_service/tests/unified/test_jwt_validation.py
  deploy-staging-reliable.ps1
  dev_launcher/legacy_service_runner.py
  pytest.ini
  test_reports/test_results.json
  tests/unified/CRITICAL_TESTS_IMPLEMENTATION_PLAN.md
  tests/unified/e2e/test_auth_service_recovery.py
  tests/unified/e2e/test_complete_oauth_chat_journey.py
  tests/unified/e2e/test_database_user_sync.py
  tests/unified/e2e/test_jwt_cross_service_validation.py
  tests/unified/e2e/test_multi_session_management.py
  tests/unified/e2e/test_oauth_endpoint_validation_real.py
  tests/unified/e2e/test_rate_limiting_unified_real.py
  tests/unified/e2e/test_session_persistence_restart_real.py
  tests/unified/e2e/test_websocket_auth_multiservice.py
  tests/unified/e2e/test_websocket_concurrent_ordering.py
  tests/unified/e2e/token_lifecycle_helpers.py
  tests/unified/jwt_token_helpers.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  .service_discovery/auth.json
  SPEC/ai_factory_patterns.xml
  SPEC/anti_regression.xml
  SPEC/code_changes.xml
  SPEC/conventions.xml
  SPEC/independent_services.xml
  SPEC/learnings/index.xml
  SPEC/no_test_stubs.xml
  SPEC/security.xml
  SPEC/system_boundaries.xml
  SPEC/type_safety.xml
  app/db/graceful_degradation_manager.py
  app/db/intelligent_retry_system.py
  auth_service/auth_core/database/connection.py
  auth_service/main.py
  run_critical_tests.bat
  run_critical_tests.sh
  test-deploy.ps1
  test_reports/test_results.json
  tests/unified/e2e/CRITICAL_TESTS_EXECUTION_REPORT.md
  tests/unified/e2e/CRITICAL_TEST_RUNNER_README.md
  tests/unified/e2e/agent_conversation_helpers.py
  tests/unified/e2e/run_critical_unified_tests.py
  tests/unified/e2e/test_auth_service_recovery.py
  tests/unified/e2e/test_auth_service_recovery_README.md
  tests/unified/e2e/test_complete_oauth_chat_journey.py
  tests/unified/e2e/test_database_user_sync.py
  tests/unified/e2e/test_jwt_cross_service_validation.py
  tests/unified/e2e/test_multi_session_management.py
  tests/unified/e2e/test_oauth_endpoint_validation_real.py
  tests/unified/e2e/test_rate_limiting_unified_real.py
  tests/unified/e2e/test_session_persistence_restart_real.py
  tests/unified/e2e/test_websocket_auth_multiservice.py
  tests/unified/e2e/test_websocket_concurrent_ordering.py
  tests/unified/real_services_health.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  SPEC/learnings/auth_service_staging_deployment.xml
  SPEC/learnings/index.xml
  SPEC/learnings/observability.xml
  app/core/error_handlers/api/response_builder.py
  app/core/health_checkers.py
  dump_project_files.py
  test_reports/test_results.json
  tests/unified/e2e/cache_coherence_helpers.py
  tests/unified/e2e/test_auth_integration_fixed.py
Due: boundary-enforcer, file-size-check, function-complexity-check

Implement critical cold start test: zero to AI response in <5s
  tests/unified/e2e/test_cold_start_zero_to_response.py
Due: file-size-check, function-complexity-check

a
  .gitignore
  .service_discovery/auth.json
  SPEC/learnings/auth_service_staging_deployment.xml
  SPEC/learnings/database_connection_mismatch.xml
  SPEC/learnings/deployment_issues_2025_08_19.xml
  SPEC/learnings/health_checks.xml
  SPEC/learnings/index.xml
  SPEC/learnings/startup.xml
  SPEC/learnings/terraform_database_configuration_fix.xml
  app/routes/health.py
  auth_service/auth_core/database/connection.py
  auth_service/main.py
  config/deepthink_e2e_tests_50.md
  deploy-staging-reliable-clean.ps1
  deployments/issues/auth_service_database_timeout.txt
  deployments/issues/powershell_script_encoding_issue.txt
  dev_launcher/startup_validator.py
  dump_project_files.py
  pytest.ini
  scripts/cleanup_generated_files.py
  terraform-gcp/auth_service.tf
  test_reports/test_results.json
  tests/conftest.py
  tests/test_api_auth_endpoints.py
  tests/unified/CRITICAL_MISSING_TESTS_IMPLEMENTATION_PLAN.md
  tests/unified/CRITICAL_UNIFIED_TESTS_IMPLEMENTATION_PLAN.md
  tests/unified/clients/backend_client.py
  tests/unified/clients/websocket_client.py
  tests/unified/e2e/cache_coherence_helpers.py
  tests/unified/e2e/test_auth_integration_fixed.py
  tests/unified/e2e/test_auth_service_health_check_integration.py
  tests/unified/e2e/test_backend_frontend_state_synchronization.py
  tests/unified/e2e/test_jwt_cross_service_validation_simple.py
  tests/unified/e2e/test_jwt_secret_synchronization.py
  tests/unified/e2e/test_microservice_isolation_validation.py
  tests/unified/e2e/test_websocket_event_propagation_unified.py
  tests/unified/e2e/test_websocket_jwt_complete.py
  tests/unified/websocket/state_helpers.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  Dockerfile.auth
  SPEC/staging_secrets_requirements.xml
Due: none

a
  SPEC/independent_services.xml
Due: none

a
  app/services/monitoring/gcp_client_manager.py
  scripts/staging_error_monitor.py
  test_plans/category1_e2e_real_services_plan.md
  test_plans/concurrent_agent_startup_test_plan.md
  test_plans/test_1_cold_start_implementation_plan.md
  test_plans/test_jwt_secret_synchronization_plan.md
  test_plans/websocket_resilience/test_1_reconnection_context_plan.md
  test_reports/test_results.json
  tests/e2e/README.md
  tests/e2e/__init__.py
  tests/e2e/conftest.py
  tests/e2e/test_real_services_e2e.py
  tests/e2e/websocket_resilience/IMPLEMENTATION_SUMMARY.md
  tests/e2e/websocket_resilience/README.md
  tests/e2e/websocket_resilience/__init__.py
  tests/e2e/websocket_resilience/test_1_reconnection_preserves_context.py
  tests/unified/clients/backend_client.py
  tests/unified/test_cold_start_zero_to_response.py
  tests/unified/test_jwt_secret_synchronization.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  dev_launcher/legacy_service_runner.py
Due: file-size-check, function-complexity-check

a
  dev_launcher/quick_health.py
  dev_launcher/staged_health_monitor.py
  test_plans/websocket_resilience/test_1_review_report.md
  tests/e2e/test_concurrent_agent_startup.py
Due: file-size-check, function-complexity-check

a
  app/auth_integration/auth.py
  dev_launcher/launcher_integration.py
  dev_launcher/optimized_startup.py
  tests/e2e/run_concurrent_agent_startup_tests.py
  tests/unified/test_jwt_secret_synchronization.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  test_framework/gcp_integration/log_reader.py
  test_plans/test_7_permission_propagation_implementation_plan.md
  test_plans/test_8_token_expiry_implementation_plan.md
  tests/e2e/websocket_resilience/test_3_message_queuing_disconnection.py
  tests/unified/test_database_user_consistency.py
  tests/unified/test_microservice_isolation_validation.py
Due: file-size-check, function-complexity-check

a
  test_framework/docker_testing/compose_manager.py
  test_plans/websocket_resilience/test_3_review_report.md
Due: file-size-check, function-complexity-check

a
  CLAUDE.md
  SPEC/learnings/index.xml
  SPEC/learnings/scripting_preference.xml
  deploy-staging-reliable.ps1
  deploy_staging_reliable.py
  test_framework/config/config_manager.py
  test_framework/staging_testing/endpoint_validator.py
  test_framework/unified/orchestrator.py
  test_plans/auth_race_conditions_final_review.md
  test_plans/auth_race_conditions_fixes.md
  test_plans/category3_concurrency_isolation_plan.md
  test_plans/db_connection_pool_test_plan.md
  test_plans/rapid_message_succession_test_plan.md
  test_plans/spike_testing_test_plan.md
  test_plans/websocket_resilience/test_3_execution_report.md
  test_plans/websocket_resilience/test_3_final_approval.md
  test_plans/websocket_resilience/test_4_expired_token_plan.md
  test_reports/test_results.json
  tests/e2e/test_db_connection_pool.py
  tests/e2e/websocket_resilience/test_3_message_queuing_disconnection.py
  tests/unified/clients/auth_client.py
  tests/unified/clients/backend_client.py
  tests/unified/clients/websocket_client.py
  tests/unified/e2e/test_websocket_event_propagation_unified.py
  tests/unified/test_microservice_isolation_validation.py
  tests/unified/test_permission_propagation_basic.py
  tests/unified/test_token_expiry_unified.py
  tests/unified/test_websocket_jwt_reconnection_state.py
Due: file-size-check, function-complexity-check

a
  test_plans/db_connection_pool_review.md
  tests/e2e/test_spike_recovery.py
  tests/unified/test_websocket_jwt_reconnection_state.py
Due: file-size-check, function-complexity-check

a
  SPEC/learnings/cloud_sql_url_handling.xml
  SPEC/learnings/index.xml
Due: none

a
  app/core/middleware_setup.py
  config/cloudbuild-auth.yaml
  test_reports/test_results.json
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  .service_discovery/auth.json
  CORS_CONFIGURATION_IMPLEMENTATION_REPORT.md
  SPEC/learnings/cloud_sql_url_handling.xml
  SPEC/learnings/configuration_secrets.xml
  auth_service/auth_core/database/connection.py
  auth_service/tests/test_cloud_sql_url.py
  tests/CORS_TEST_SUITE_README.md
  tests/e2e/test_cors_e2e.py
  tests/integration/__init__.py
  tests/integration/test_cors_integration.py
  tests/test_cors_configuration.py
Due: file-size-check, function-complexity-check

a
  .service_discovery/auth.json
  SPEC/frontend_base_url_configuration.xml
  SPEC/learnings/database_url_consistency.xml
  SPEC/learnings/frontend.xml
  SPEC/learnings/gcp_database_connection_failures.xml
  SPEC/learnings/index.xml
  app/db/postgres_core.py
  frontend/lib/secure-api-config.ts
  frontend/services/apiClientWrapper.ts
  test_reports/test_results.json
  tests/unified/websocket/test_suite_implementation_plan.md
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/agents/config.py
  app/core/configuration/database.py
  app/core/error_handlers/error_recovery.py
  app/core/error_handlers/processors.py
  app/schemas/Config.py
  validate_health_fix.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/core/configuration/validator_database.py
  test_reports/test_results.json
  validate_health_fix.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/schemas/Config.py
  dev_launcher/database_connector.py
  dev_launcher/launcher.py
  test_reports/test_results.json
Due: boundary-enforcer, file-size-check, function-complexity-check
