Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

new-file-compliance:
  name: New File Standards (strict for new files only)
  entry: python scripts/permissive_hooks/check_new_files.py
  language: system
  stages:
  - commit
  description: Applies strict standards ONLY to newly created files

edited-lines-check:
  name: Modified Lines Check (incremental)
  entry: python scripts/permissive_hooks/check_edited_lines.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Validates only the lines being modified, not the entire file

prevent-new-relative-imports:
  name: Prevent New Relative Imports
  entry: python scripts/permissive_hooks/check_new_imports.py --warn-only
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Blocks new relative imports, warns about existing ones

main-code-quality:
  name: Main Codebase Quality (app > tests)
  entry: python scripts/permissive_hooks/prioritized_check.py --priority app
  language: system
  stages:
  - commit
  description: Prioritizes main application code quality over test files

test-file-leniency:
  name: Test File Check (permissive)
  entry: python scripts/permissive_hooks/test_check_lenient.py --max-lines 1000
  language: system
  stages:
  - commit
  description: Relaxed limits for test files - focus on functionality over form

new-duplicate-prevention:
  name: Prevent New Duplicates (incremental)
  entry: python scripts/permissive_hooks/check_new_duplicates.py --threshold 0.9
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents introduction of NEW duplicate patterns only

fix: Comprehensive system improvements - environment loading, test infrastructure, and frontend stability
  .dockerignore
  Dockerfile.frontend
  SPEC/learnings/auth_database_manager_methods.xml
  SPEC/learnings/environment_loading.xml
  SPEC/learnings/index.xml
  SPEC/learnings/websocket_legacy_cleanup.xml
  TEST_INFRASTRUCTURE_CONSOLIDATION.md
  auth_service/auth_core/database/database_manager.py
  auth_service/tests/conftest.py
  auth_service/tests/test_critical_staging_issues.py
  dev_launcher/frontend_starter.py
  dev_launcher/launcher.py
  dev_launcher/local_secrets.py
  dev_launcher/tests/test_env_loading_regression.py
  frontend/__tests__/critical/memory-exhaustion.test.tsx
  frontend/middleware.ts
  frontend/next.config.ts
  frontend/package.json
  netra_backend/tests/conftest.py
  scripts/deploy_to_gcp.py
  test_framework/__init__.py
  test_reports/REMEDIATION_COMPLETE_20250823_164345.md
  test_reports/progress/progress_run_1755992546.json
  test_reports/progress/progress_run_1755992616.json
  test_reports/test_report_20250823_164230.json
  test_reports/test_report_20250823_164339.json
  tests/e2e/conftest.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

fix: Database URL normalization and repository improvements
  auth_service/auth_core/config.py
  auth_service/auth_core/database/connection.py
  auth_service/auth_core/database/database_manager.py
  auth_service/auth_core/secret_loader.py
  auth_service/tests/test_staging_auth_ssl_failures.py
  dev_launcher/environment_manager.py
  dev_launcher/tests/test_environment_isolation.py
  netra_backend/app/db/health_checks.py
  netra_backend/app/db/migrations/migration_runner.py
  netra_backend/app/db/repositories/user_repository.py
  netra_backend/app/services/database/base_crud.py
  netra_backend/app/services/database/metric_repository.py
  netra_backend/app/services/database/thread_repository.py
  netra_backend/tests/websocket/test_state_synchronizer_exceptions.py
  tests/e2e/test_auth_edge_cases.py
  tests/e2e/test_landing_page_auth_redirect.py
  tests/e2e/test_type_system_edge_cases.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

fix: Frontend deployment configuration and multi-provider API key support
  SPEC/gcp_deployment.xml
  SPEC/learnings/deployment.xml
  netra_backend/app/core/configuration/secrets.py
  netra_backend/app/core/configuration/services.py
  netra_backend/app/core/health_checkers.py
  netra_backend/app/db/postgres_events.py
  netra_backend/app/monitoring/metrics_collector.py
  netra_backend/app/schemas/Config.py
  netra_backend/app/schemas/data_ingestion_types.py
  netra_backend/app/services/data_ingestion_service.py
  netra_backend/tests/integration/red_team/tier1_catastrophic/test_agent_lifecycle_management.py
  netra_backend/tests/integration/red_team/tier2_major_failures/test_error_response_consistency.py
  netra_backend/tests/isolated_test_config.py
  netra_backend/tests/unit/test_health_checkers_core.py
  netra_backend/tests/unit/test_metrics_collector_core.py
  netra_backend/tests/unit/test_websocket_connection_lifecycle.py
  tests/agents/test_supervisor_websocket_integration.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

feat: Add comprehensive logging architecture specification and implementation
  SPEC/logging_architecture.xml
  docs/logging/LOGGING_MIGRATION_GUIDE.md
  shared/logging/__init__.py
  shared/logging/unified_logger_factory.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

feat: Add shared infrastructure modules for cross-service components
  SPEC/acceptable_duplicates.xml
  shared/__init__.py
  shared/agents/__init__.py
  shared/agents/base_agent.py
  shared/database/unified_redis_manager.py
  shared/exceptions/__init__.py
  shared/exceptions/unified_exception_handler.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

feat: Add unified auth service implementation for frontend
  frontend/auth/unified-auth-service.ts
  frontend/lib/auth-service-client.ts
Due: new-file-compliance, edited-lines-check

feat: Add test framework environment isolation and critical integration helpers
  netra_backend/tests/integration/helpers/critical_integration_helpers.py
  test_framework/environment_isolation.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

feat: Add utility scripts for environment isolation and deduplication
  analyze_errors.py
  scripts/check_environment_isolation.py
  scripts/consolidate_types.py
  scripts/fix_database_duplicates.py
  scripts/fix_deployment_logging.py
  scripts/fix_environment_duplicates.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

docs: Add test reports and audit documentation
  E2E_TEST_ENVIRONMENT_MARKERS_AUDIT_REPORT.md
  MOCK_REMEDIATION_REPORT.md
  ROUND_2_DEDUPLICATION_AUDIT_REPORT.md
  test_reports/atomic_validation/atomic_validation_20250824_090123.txt
  test_reports/environment_isolation_audit_report.md
  test_reports/progress/progress_run_1756051132.json
  test_reports/progress/progress_run_1756051193.json
  test_reports/progress/progress_run_1756051276.json
  test_reports/progress/progress_run_1756051370.json
  test_reports/progress/progress_run_1756051385.json
  test_reports/progress/progress_run_1756051625.json
  test_reports/progress/progress_run_1756051783.json
  test_reports/progress/progress_run_1756051908.json
  test_reports/progress/progress_run_1756051974.json
  test_reports/progress/progress_run_1756052027.json
  test_reports/progress/progress_run_1756052122.json
  test_reports/progress/progress_run_1756052236.json
  test_reports/test_report_20250824_085900.json
  test_reports/test_report_20250824_085957.json
  test_reports/test_report_20250824_090218.json
  test_reports/test_report_20250824_090258.json
  test_reports/test_report_20250824_090437.json
  test_reports/test_report_20250824_090842.json
  test_reports/test_report_20250824_090955.json
  test_reports/test_report_20250824_091201.json
  test_reports/test_report_20250824_091308.json
  test_reports/test_report_20250824_091433.json
  test_reports/test_report_20250824_091533.json
  test_reports/test_report_20250824_091730.json
Due: none

feat: Add shared infrastructure modules for health, resilience and serialization
  shared/health/__init__.py
  shared/health/unified_health_checker.py
  shared/logging/unified_logger_factory.py
  shared/resilience/__init__.py
  shared/resilience/unified_retry_handler.py
  shared/serialization/__init__.py
  shared/serialization/unified_json_handler.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

feat: Add service coordination and platform port allocation
  dev_launcher/__main__.py
  dev_launcher/database_connector.py
  dev_launcher/launcher.py
  dev_launcher/migration_runner.py
  dev_launcher/service_coordination.py
  dev_launcher/tests/test_critical_dev_launcher_issues.py
  tests/e2e/integration/service_orchestrator.py
  tests/e2e/integration/test_dev_launcher_startup_complete.py
  tests/e2e/integration/user_journey_executor.py
  tests/e2e/service_orchestrator.py
  tests/e2e/startup_sequence_validator.py
  tests/e2e/test_platform_port_allocation.py
  tests/e2e/test_service_coordination.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

feat: Add backend core health, resilience and serialization infrastructure
  netra_backend/app/core/configuration/__init__.py
  netra_backend/app/core/configuration/base.py
  netra_backend/app/core/configuration/environment.py
  netra_backend/app/core/configuration/environment_detector.py
  netra_backend/app/core/configuration/services.py
  netra_backend/app/core/configuration/unified_secrets.py
  netra_backend/app/core/environment_constants.py
  netra_backend/app/core/health/unified_health_checker.py
  netra_backend/app/core/health_checkers.py
  netra_backend/app/core/health_configuration.py
  netra_backend/app/core/interfaces_data.py
  netra_backend/app/core/json_parsing_utils.py
  netra_backend/app/core/logging_context.py
  netra_backend/app/core/resilience/unified_retry_handler.py
  netra_backend/app/core/serialization/__init__.py
  netra_backend/app/core/serialization/unified_json_handler.py
  netra_backend/app/core/startup_config.py
  netra_backend/app/core/unified/db_connection_manager.py
  netra_backend/app/core/unified_logging.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

docs: Add environment isolation remediation report
  test_reports/environment_isolation_remediation_report.md
Due: none

docs: Update specifications and project documentation
  .pre-commit-config.yaml
  CLAUDE.md
  LLM_MASTER_INDEX.md
  SPEC/deployment_architecture.xml
  SPEC/independent_services.xml
  SPEC/learnings/database.xml
  SPEC/learnings/index.xml
  SPEC/learnings/microservice_independence.xml
  SPEC/test_infrastructure_architecture.xml
  SPEC/testing.xml
  SPEC/type_safety.xml
  SPEC/unified_environment_management.xml
Due: none

fix: Update auth service with improved error handling and validation
  auth_service/auth_core/core/session_manager.py
  auth_service/auth_core/routes/auth_routes.py
  auth_service/auth_core/security/oauth_security.py
  auth_service/auth_core/validation/pre_deployment_validator.py
  auth_service/debug_db_test.py
  auth_service/health_check.py
  auth_service/init_database.py
  auth_service/main.py
  auth_service/tests/integration/test_auth_oauth_errors.py
  auth_service/tests/integration/test_auth_oauth_google.py
  auth_service/tests/integration/test_oauth_flows_auth.py
  auth_service/tests/integration/test_oauth_flows_core.py
  auth_service/tests/integration/test_oauth_flows_fixtures.py
  auth_service/tests/integration/test_oauth_flows_sync.py
  auth_service/tests/test_critical_staging_issues.py
  auth_service/tests/test_single_database.py
  auth_service/tests/test_staging_auth_ssl_failures.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

fix: Update frontend with improved auth and WebSocket handling
  frontend/__mocks__/services/webSocketService.ts
  frontend/__tests__/chat/chatUIUX-shared-utilities.tsx
  frontend/__tests__/staging/url-configuration.test.ts
  frontend/__tests__/utils/mock-factories.ts
  frontend/__tests__/utils/test-helpers.tsx
  frontend/__tests__/utils/thread-test-helpers.ts
  frontend/auth/context.tsx
  frontend/auth/index.ts
  frontend/auth/service.ts
  frontend/jest.setup.js
  frontend/lib/auth-service-config.ts
  frontend/lib/secure-api-config.ts
  frontend/services/webSocketService.ts
  frontend/types/domains/websocket.ts
Due: new-file-compliance, edited-lines-check

feat: Add comprehensive mock cleanup script
  scripts/fix_unjustified_mocks_comprehensive.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

feat: Add deployment configurations
  deployment/docker/Dockerfile.auth
  deployment/docker/Dockerfile.backend
  deployment/docker/Dockerfile.frontend
Due: none

refactor: Split actions_agent into modular components
  netra_backend/app/agents/actions_agent_core.py
  netra_backend/app/agents/actions_agent_execution.py
  netra_backend/app/agents/actions_agent_legacy.py
  netra_backend/app/agents/actions_agent_llm.py
  netra_backend/app/agents/actions_agent_monitoring.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor: Consolidate scripts in dedicated directory
  scripts/analyze_errors.py
  scripts/check_architecture_compliance.py
  scripts/clean_duplicate_mock_justifications.py
  scripts/debug_connection.py
  scripts/e2e_cold_start_validation_report.md
  scripts/final_validation_report.py
  scripts/fix_e2e_syntax_comprehensive.py
  scripts/fix_remaining_syntax.py
  scripts/fix_syntax_errors.py
  scripts/fix_unified_imports.py
  scripts/fix_ws_manager_imports.py
  scripts/make_files_importable.py
  scripts/manage_workflows.py
  scripts/mcp_client.py
  scripts/restart_services_with_config.py
  scripts/run_auth_compliance_demo.py
  scripts/simple_syntax_fix.py
  scripts/test_service_startup.py
  scripts/test_websocket_simple.py
  scripts/unified_test_config.py
  scripts/unified_test_runner.py
  scripts/validate_integration_tests.py
  scripts/verify_workflow_status.py
  scripts/workflow_introspection.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

fix: Update import paths and deployment scripts
  SPEC/deployment_architecture.xml
  netra_backend/app/agents/actions_agent_core.py
  netra_backend/app/core/configuration/database.py
  scripts/deploy_to_gcp.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

Path conditions:
  new-file-compliance: any of: \.(py|ts|tsx)$
  edited-lines-check: any of: \.(py|ts|tsx)$
  prevent-new-relative-imports: any of: \.py$
  main-code-quality: any of: ^(netra_backend/app|auth_service/auth_core|frontend/src)/.*\.(py|ts|tsx)$
  test-file-leniency: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  new-duplicate-prevention: any of: \.py$
