Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$

docs: comprehensive P1 critical failure root cause analysis
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_GOLDEN_PATH_20250909_SESSION_FINAL.md
Due: docker-force-flag-prohibition

docs: add P1 critical WebSocket fixes implementation report
  CRITICAL_P1_WEBSOCKET_FIXES_IMPLEMENTATION_REPORT.md
Due: docker-force-flag-prohibition

test: enhance WebSocket JSON serialization critical test coverage
  netra_backend/tests/critical/test_websocket_json_fixes_essential.py
  netra_backend/tests/critical/test_websocket_json_serialization_comprehensive.py
  netra_backend/tests/critical/test_websocket_state_logging_serialization.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: enhance golden path business logic test coverage
  netra_backend/tests/unit/golden_path/test_agent_execution_workflow_business_logic.py
  netra_backend/tests/unit/golden_path/test_data_validation_transformation_business_logic.py
  netra_backend/tests/unit/golden_path/test_error_handling_business_logic.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: improve E2E and integration test resilience and coverage
  tests/e2e/golden_path/test_websocket_agent_events_validation.py
  tests/e2e/test_ssot_message_flow_end_to_end.py
  tests/integration/auth/test_auth_cache_integration.py
  tests/integration/auth/test_cross_service_auth_integration.py
  tests/integration/test_authenticated_chat_workflow_comprehensive.py
  tests/integration/test_multiple_service_failure_cascade.py
  tests/integration/test_ssot_database_pattern_violations.py
  tests/integration/websocket_race_conditions/test_websocket_integration.py
  tests/mission_critical/test_ssot_message_repository_compliance_suite.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

config: update pytest configurations and triage agent initialization
  netra_backend/app/agents/triage_sub_agent/__init__.py
  netra_backend/pytest.ini
  pytest.ini
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add ultimate test deploy loop execution log
  tests/e2e/test_results/ultimate_test_deploy_loop_log_20250909_1759.md
Due: docker-force-flag-prohibition

feat(agents): Enhance agent execution core and WebSocket event integration
  netra_backend/app/agents/supervisor/agent_execution_core.py
  netra_backend/app/agents/supervisor/execution_engine.py
  netra_backend/app/services/user_execution_context.py
  netra_backend/app/services/websocket/transparent_websocket_events.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore(test): Standardize pytest configuration and test framework
  config/pytest.ini
  netra_backend/pytest.ini
  netra_backend/tests/conftest_helpers.py
  pytest.ini
  test_framework/ssot/test_context_decorator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(golden-path): Add comprehensive business logic validation tests
  netra_backend/tests/unit/golden_path/test_agent_execution_sequence_business_logic.py
  netra_backend/tests/unit/golden_path/test_authentication_token_business_logic.py
  netra_backend/tests/unit/golden_path/test_error_recovery_business_logic.py
  netra_backend/tests/unit/golden_path/test_user_context_isolation_business_logic.py
  netra_backend/tests/unit/golden_path/test_websocket_event_emission_business_logic.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(integration): Enhance integration test coverage and real service validation
  netra_backend/tests/integration/agent_execution/test_agent_execution_orchestration.py
  netra_backend/tests/integration/config/test_environment_configuration_comprehensive.py
  netra_backend/tests/integration/database/test_clickhouse_operations_critical.py
  netra_backend/tests/integration/database/test_database_migration_integrity_comprehensive.py
  netra_backend/tests/integration/database/test_postgresql_transactions_comprehensive.py
  netra_backend/tests/integration/golden_path/__init__.py
  netra_backend/tests/integration/golden_path/test_agent_factory_real_database_integration.py
  netra_backend/tests/integration/golden_path/test_message_lifecycle_real_services_integration.py
  netra_backend/tests/integration/golden_path/test_websocket_database_redis_integration.py
  netra_backend/tests/integration/golden_path/test_websocket_handshake_timing_real_services.py
  netra_backend/tests/integration/monitoring/test_observability_systems_comprehensive.py
  netra_backend/tests/integration/monitoring/test_system_health_monitoring_critical.py
  netra_backend/tests/integration/test_clickhouse_real_connection_validation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(unit): Add comprehensive unit test coverage for WebSocket and database systems
  netra_backend/tests/unit/test_clickhouse_test_decorator_compliance.py
  netra_backend/tests/unit/test_unified_websocket_authenticator_comprehensive.py
  netra_backend/tests/unit/test_websocket_auth_headers.py
  netra_backend/tests/unit/websocket/test_handlers_business_logic.py
  netra_backend/tests/unit/websocket/test_manager_factory_business_logic.py
  netra_backend/tests/unit/websocket/test_message_handler_service_logic.py
  netra_backend/tests/unit/websocket/test_user_session_manager_business_logic.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(e2e): Add comprehensive E2E and mission-critical test coverage
  tests/e2e/golden_path/test_complete_golden_path_user_journey_e2e.py
  tests/e2e/infrastructure/test_websocket_staging_environment_validation.py
  tests/e2e/mock_response_prevention/__init__.py
  tests/e2e/mock_response_prevention/test_user_facing_mock_elimination.py
  tests/e2e/staging/test_priority1_critical.py
  tests/e2e/test_golden_path_system_auth_fix.py
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_GOLDEN_PATH_20250909_SESSION5.md
  tests/e2e/websocket/test_websocket_1011_error_reproduction.py
  tests/e2e/websocket/test_websocket_1011_error_solution_validation.py
  tests/integration/auth/__init__.py
  tests/integration/auth/test_cross_service_auth_integration_final.py
  tests/integration/auth/test_jwt_authentication_integration.py
  tests/integration/auth/test_oauth_integration.py
  tests/integration/auth/test_session_management_integration.py
  tests/integration/auth/test_user_authentication_flow_integration.py
  tests/integration/golden_path/test_agent_pipeline_integration.py
  tests/integration/test_service_authentication_validation.py
  tests/integration/test_websocket_environment_detection_integration.py
  tests/integration/websocket/test_websocket_agent_events_integration.py
  tests/integration/websocket/test_websocket_authentication_integration.py
  tests/integration/websocket/test_websocket_message_routing_integration.py
  tests/mission_critical/test_agent_execution_business_value.py
  tests/mission_critical/test_event_validation_smoke.py
  tests/mission_critical/test_jwt_secret_consistency.py
  tests/mission_critical/test_load_balancer_endpoint_compliance.py
  tests/mission_critical/test_mock_response_elimination_validation.py
  tests/mission_critical/test_mock_validation_simple.py
  tests/mission_critical/test_system_user_auth_reproduction.py
  tests/mission_critical/test_websocket_agent_events_core.py
  tests/mission_critical/test_websocket_event_validation_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(services): Add service infrastructure and error handling improvements
  auth_service/tests/unit/golden_path/__init__.py
  auth_service/tests/unit/golden_path/test_auth_service_business_logic.py
  netra_backend/app/services/error_handling/user_tier_aware_handler.py
  netra_backend/app/services/service_initialization/unified_service_initializer.py
  netra_backend/tests/integration/mock_prevention/__init__.py
  netra_backend/tests/integration/mock_prevention/test_service_fallback_detection.py
  test_framework/validation/__init__.py
  test_framework/validation/business_value_validator.py
  test_framework/validation/content_quality_validator.py
  test_framework/validation/event_sequence_validator.py
  test_framework/validation/timing_validator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(validation): Add comprehensive test results and validation scripts
  STAGING_TEST_REPORT_PYTEST.md
  junit.xml
  test_websocket_1011_reproduction.py
  test_websocket_header_stripping_validation.py
  validate_race_condition_fixes.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(learnings): Add MRO conflict resolution critical learning
  SPEC/learnings/mro_conflict_resolution_20250109.xml
Due: none

docs(websocket): Add comprehensive WebSocket 1011 analysis and remediation
  WEBSOCKET_1011_FIVE_WHYS_ROOT_CAUSE_ANALYSIS_COMPLETE_20250109.md
  WEBSOCKET_1011_FIX_IMPLEMENTATION_SUMMARY_20250909.md
  audit/staging/auto-solve-loop/auth_context_middleware_failure_20250909.md
  audit/staging/auto-solve-loop/system_user_auth_failure_20250909.md
  audit/staging/auto-solve-loop/websocket_1011_five_whys_analysis_20250909.md
Due: docker-force-flag-prohibition

docs(reports): Add comprehensive system analysis and remediation reports
  reports/MRO_CONFLICT_ANALYSIS_REPORT.md
  reports/SYSTEM_STATE_ANALYSIS_2025_01_09.md
  reports/UPDATED_SYSTEM_ARCHITECTURE_OVERVIEW.md
  reports/auth/AUTHENTICATION_INTEGRATION_TEST_REMEDIATION_PLAN.md
  reports/bugfix/FIVE_WHYS_P1_CRITICAL_FAILURES_ANALYSIS_20250909.md
  reports/bugfix/SSOT_COMPLIANCE_AUDIT_P1_CRITICAL_FAILURES_20250909.md
  reports/compliance/load_balancer_compliance_report.md
  reports/infrastructure/GCP_LOAD_BALANCER_HEADER_REMEDIATION_PLAN.md
  reports/remediation/LOAD_BALANCER_ENDPOINT_REMEDIATION_PLAN.md
  reports/remediation/LOAD_BALANCER_MIGRATION_IMPLEMENTATION_COMPLETE.md
  reports/remediation/LOAD_BALANCER_REMEDIATION_IMPLEMENTATION_SUMMARY.md
  reports/remediation/MOCK_RESPONSE_ELIMINATION_COMPREHENSIVE_PLAN.md
  reports/remediation/MOCK_RESPONSE_ELIMINATION_IMPLEMENTATION_SUMMARY.md
  reports/remediation/WEBSOCKET_AUTH_FAILURE_REMEDIATION_PLAN_20250909.md
  reports/testing/AUDIT_CLAIMS_VALIDATION_BUSINESS_IMPACT.md
  reports/testing/AUTHENTICATION_INTEGRATION_PERFORMANCE_OPTIMIZATION_REPORT.md
  reports/testing/LOAD_BALANCER_ENDPOINT_VALIDATION_TEST_PLAN.md
  reports/testing/LOAD_BALANCER_HEADER_PROPAGATION_TEST_PLAN.md
  reports/testing/LOAD_BALANCER_TEST_PLAN_EXECUTIVE_SUMMARY.md
  reports/testing/MOCK_RESPONSE_ELIMINATION_TEST_PLAN.md
  reports/testing/MOCK_RESPONSE_VALIDATION_EXECUTION_REPORT.md
  reports/testing/MRO_CONFLICT_RESOLUTION_REPORT.md
  reports/testing/PRIORITY_TEST_CREATION_ANALYSIS_20250909.md
  reports/testing/WEBSOCKET_UNIT_TESTS_BVJ_COMPREHENSIVE_REPORT.md
Due: docker-force-flag-prohibition

docs(journals): Add remediation and implementation journals
  reports/golden_path_integration_remediation_journal_20250909.md
  reports/mock_response_elimination_test_implementation_20250909.md
  reports/unit_test_failures_bug_fix_report_20250909.md
  reports/unit_test_remediation_journal_20250909.md
Due: docker-force-flag-prohibition

docs(implementation): Add critical implementation and validation reports
  COMPREHENSIVE_EVENT_VALIDATION_IMPLEMENTATION_REPORT.md
  E2E_PHASE3_IMPLEMENTATION_SUMMARY.md
  GCP_STAGING_GOLDEN_PATH_ANALYSIS.md
  GITHUB_ISSUE_113_TEST_VALIDATION_REPORT.md
  GOLDEN_PATH_INTEGRATION_TEST_CREATION_REPORT.md
  LOAD_BALANCER_MIGRATION_VALIDATION_REPORT.md
  MOCK_ELIMINATION_STABILITY_VALIDATION_REPORT.md
  MOCK_ELIMINATION_SYSTEM_STABILITY_PROOF.md
  P1_CRITICAL_FAILURES_SSOT_COMPLIANT_REMEDIATION_PLAN.md
  REAL_WEBSOCKET_TESTING_REMEDIATION_PLAN.md
Due: docker-force-flag-prohibition

chore(backup): Add backup directory for system recovery
  backup/url_migration/20250909_104154/backup/url_migration/tests/e2e/integration/test_staging_health_validation.py
  backup/url_migration/20250909_104154/backup/url_migration/tests/e2e/integration/test_staging_oauth_authentication.py
  backup/url_migration/20250909_104154/backup/url_migration/tests/e2e/staging/run_100_iterations_real.py
  backup/url_migration/20250909_104154/backup/url_migration/tests/e2e/staging/run_100_tests.py
  backup/url_migration/20250909_104154/backup/url_migration/tests/e2e/staging/run_100_tests_safe.py
  backup/url_migration/20250909_104154/backup/url_migration/tests/e2e/test_auth_flow_comprehensive.py
  backup/url_migration/20250909_104154/backup/url_migration/tests/e2e/test_auth_service_staging.py
  backup/url_migration/20250909_104154/backup/url_migration/tests/mission_critical/test_first_message_experience.py
  backup/url_migration/20250909_104154/backup/url_migration/tests/mission_critical/test_staging_auth_cross_service_validation.py
  backup/url_migration/20250909_104154/backup/url_migration/tests/mission_critical/test_staging_endpoints_direct.py
  backup/url_migration/20250909_104154/backup/url_migration/tests/mission_critical/test_staging_websocket_agent_events_enhanced.py
  backup/url_migration/20250909_104154/migration_log.json
  backup/url_migration/20250909_104154/scripts/staging_comprehensive_test.py
  backup/url_migration/20250909_104154/scripts/test/test_staging_quick.py
  backup/url_migration/20250909_104154/scripts/verify_oauth_redirect_uris.py
  backup/url_migration/20250909_104154/test_scripts/final_staging_auth_tests.py
  backup/url_migration/20250909_104154/test_scripts/run_staging_tests.py
  backup/url_migration/20250909_104154/test_scripts/simple_staging_auth_tests.py
  backup/url_migration/20250909_104154/test_scripts/staging_auth_e2e_tests.py
  backup/url_migration/20250909_104154/test_scripts/staging_endpoint_investigation.py
  backup/url_migration/20250909_104154/test_scripts/test_backend_auth_staging.py
  backup/url_migration/20250909_104154/test_scripts/test_staging_e2e.py
  backup/url_migration/20250909_104154/test_scripts/verify_original_tests.py
  backup/url_migration/20250909_104154/tests/manual/staging_e2e_manual_tests.py
  backup/url_migration/20250909_104154/tests/staging/real_staging_test_framework.py
  backup/url_migration/20250909_104154/tests/unit/test_deploy_to_gcp_comprehensive.py
  backup/url_migration/tests/e2e/integration/test_staging_health_validation.py
  backup/url_migration/tests/e2e/integration/test_staging_oauth_authentication.py
  backup/url_migration/tests/e2e/staging/run_100_iterations_real.py
  backup/url_migration/tests/e2e/staging/run_100_tests.py
  backup/url_migration/tests/e2e/staging/run_100_tests_safe.py
  backup/url_migration/tests/e2e/test_auth_flow_comprehensive.py
  backup/url_migration/tests/e2e/test_auth_service_staging.py
  backup/url_migration/tests/mission_critical/test_first_message_experience.py
  backup/url_migration/tests/mission_critical/test_staging_auth_cross_service_validation.py
  backup/url_migration/tests/mission_critical/test_staging_endpoints_direct.py
  backup/url_migration/tests/mission_critical/test_staging_websocket_agent_events_enhanced.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(auth): Fix authentication flow integration test and add core business logic test
  netra_backend/tests/unit/test_agent_execution_core_business_logic.py
  tests/integration/auth/test_user_authentication_flow_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: update staging test report with empty test run results
  STAGING_TEST_REPORT_PYTEST.md
  tests/integration/golden_path/test_user_authentication_flow_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(analysis): Add comprehensive import and system analysis reports
  BROKEN_IMPORTS_CATALOG.md
  FILESYSTEM_STRUCTURE_MAP.md
  IMPORT_DISCOVERY_MISSION_SUMMARY.md
  IMPORT_PATH_CORRECTIONS.md
  SSOT_IMPORT_REGISTRY.md
  UNIT_TEST_FAILURES_REMEDIATION_REPORT_20250909.md
Due: docker-force-flag-prohibition

feat(integration): Add comprehensive backend integration tests
  netra_backend/tests/integration/golden_path/test_jwt_token_refresh_agent_execution_integration.py
  netra_backend/tests/integration/golden_path/test_multi_session_user_authentication_integration.py
  netra_backend/tests/integration/test_agent_execution_real_database_integration.py
  netra_backend/tests/integration/test_tool_dispatcher_real_services_integration.py
  netra_backend/tests/integration/test_websocket_event_delivery_real_services.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(unit): Add comprehensive backend unit tests for business logic
  netra_backend/tests/unit/test_tool_dispatcher_business_logic.py
  netra_backend/tests/unit/test_tool_dispatcher_core_business_logic.py
  netra_backend/tests/unit/test_tool_dispatcher_execution_business_logic.py
  netra_backend/tests/unit/test_websocket_event_coordination_business_logic.py
  netra_backend/tests/unit/test_websocket_notifier_business_logic.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(e2e): Add golden path authenticated user journey tests
  tests/e2e/golden_path/test_authenticated_complete_user_journey_business_value.py
  tests/e2e/golden_path/test_websocket_authentication_validation_e2e.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): Update existing test files and test results
  junit.xml
  tests/e2e/test_simple_chat_validation.py
  tests/e2e/test_user_journey.py
  tests/integration/auth/test_user_authentication_flow_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(integration): Add final integration tests and authentication compliance report
  PHASE_1_AUTHENTICATION_COMPLIANCE_IMPLEMENTATION_REPORT.md
  netra_backend/tests/integration/test_agent_websocket_bridge_real_integration.py
  netra_backend/tests/integration/test_user_context_isolation_real_services.py
  pytest.ini
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(e2e): Add comprehensive ultimate test deploy loop execution log
  tests/e2e/test_results/ultimate_test_deploy_loop_log_20250909_1759.md
Due: docker-force-flag-prohibition

docs(websocket): Add comprehensive WebSocket infrastructure analysis and fixes
  reports/websocket/PENDING_AUTH_VALIDATION_FIX_REPORT.md
  reports/websocket/WEBSOCKET_FAILURES_FIVE_WHYS_ANALYSIS_20250909.md
  staging_websocket_infrastructure_fix_plan.md
Due: docker-force-flag-prohibition

feat(scripts): Add WebSocket staging validation utility
  scripts/validate_websocket_staging.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(integration): Add comprehensive golden path integration test suite
  tests/integration/golden_path/DATA_PERSISTENCE_TEST_REPORT.md
  tests/integration/golden_path/test_agent_execution_pipeline_comprehensive.py
  tests/integration/golden_path/test_data_persistence_comprehensive.py
  tests/integration/golden_path/test_websocket_message_handling_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(backend): Add backend-specific golden path integration tests
  netra_backend/tests/integration/golden_path/test_agent_execution_pipeline_comprehensive.py
  netra_backend/tests/integration/golden_path/test_websocket_message_handling_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(testing): Update test reports and deployment session logs
  STAGING_TEST_REPORT_PYTEST.md
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_AGENT_PROGRESSION_GOLDEN_PATH_20250909_FINAL.md
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_GOLDEN_PATH_20250909_SESSION_FINAL.md
  tests/e2e/test_results/ultimate_test_deploy_loop_log_20250909.md
Due: docker-force-flag-prohibition

fix(backend): Improve Windows asyncio safety and ID management
  netra_backend/app/core/unified_id_manager.py
  netra_backend/app/core/windows_asyncio_safe.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: enhance auth models and unified ID management
  auth_service/auth_core/models/auth_models.py
  netra_backend/app/agents/data/unified_data_agent.py
  netra_backend/app/core/unified_id_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: enhance golden path business logic tests
  auth_service/tests/unit/golden_path/test_auth_service_business_logic.py
  netra_backend/tests/integration/websocket/test_websocket_id_database_integration.py
  netra_backend/tests/unit/golden_path/test_agent_execution_sequence_business_logic.py
  netra_backend/tests/unit/golden_path/test_agent_execution_workflow_business_logic.py
  netra_backend/tests/unit/websocket_core/test_message_queue_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation
