Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

new-file-compliance:
  name: New File Standards (strict for new files only)
  entry: python scripts/permissive_hooks/check_new_files.py
  language: system
  stages:
  - commit
  description: Applies strict standards ONLY to newly created files

edited-lines-check:
  name: Modified Lines Check (incremental)
  entry: python scripts/permissive_hooks/check_edited_lines.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Validates only the lines being modified, not the entire file

prevent-new-relative-imports:
  name: Prevent New Relative Imports
  entry: python scripts/permissive_hooks/check_new_imports.py --warn-only
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Blocks new relative imports, warns about existing ones

main-code-quality:
  name: Main Codebase Quality (app > tests)
  entry: python scripts/permissive_hooks/prioritized_check.py --priority app
  language: system
  stages:
  - commit
  description: Prioritizes main application code quality over test files

test-file-leniency:
  name: Test File Check (permissive)
  entry: python scripts/permissive_hooks/test_check_lenient.py --max-lines 1000
  language: system
  stages:
  - commit
  description: Relaxed limits for test files - focus on functionality over form

new-duplicate-prevention:
  name: Prevent New Duplicates (incremental)
  entry: python scripts/permissive_hooks/check_new_duplicates.py --threshold 0.9
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents introduction of NEW duplicate patterns only

test(e2e): enhance E2E test infrastructure and fixtures
  tests/e2e/agent_orchestration_fixtures.py
  tests/e2e/integration/test_database_connections.py
  tests/e2e/test_llm_integration.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

test(multi): add comprehensive auth persistence and database tests
  frontend/__tests__/auth/auth-persistence-context.test.tsx
  frontend/__tests__/auth/auth-persistence-guard.test.tsx
  frontend/__tests__/auth/auth-persistence-unified-service.test.ts
  netra_backend/tests/database/test_sqlalchemy_state_management.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

feat(scripts): add diagnostic and testing utility scripts
  scripts/test_auth_client_debug.py
  scripts/test_backend_auth_config.py
  scripts/test_dashboard.py
  scripts/test_execution_tracker.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

docs: add work completion reports for auth and WebSocket fixes
  AUTH_CONSOLIDATION_COMPLETION_REPORT.md
  WEBSOCKET_PARSE_ERROR_FIX_REPORT.md
Due: none

refactor(error-handler): consolidate error handler imports to unified handler
  netra_backend/app/agents/actions_agent_execution.py
  netra_backend/app/agents/actions_to_meet_goals_sub_agent.py
  netra_backend/app/agents/admin_tool_dispatcher/admin_tool_execution.py
  netra_backend/app/agents/admin_tool_dispatcher/dispatcher_core.py
  netra_backend/app/agents/admin_tool_dispatcher/execution_helpers.py
  netra_backend/app/agents/admin_tool_dispatcher/tool_handlers_core.py
  netra_backend/app/agents/admin_tool_dispatcher/validation.py
  netra_backend/app/agents/base/errors.py
  netra_backend/app/agents/base/executor.py
  netra_backend/app/agents/corpus_admin/agent.py
  netra_backend/app/agents/data_sub_agent/agent_cache.py
  netra_backend/app/agents/data_sub_agent/analysis_engine.py
  netra_backend/app/agents/data_sub_agent/anomaly_detector.py
  netra_backend/app/agents/data_sub_agent/execution_core.py
  netra_backend/app/agents/data_sub_agent/execution_engine.py
  netra_backend/app/agents/demo_service/core.py
  netra_backend/app/agents/mcp_integration/context_manager.py
  netra_backend/app/agents/mcp_integration/mcp_intent_detector.py
  netra_backend/app/agents/optimizations_core_sub_agent.py
  netra_backend/app/agents/reporting_sub_agent.py
  netra_backend/app/agents/supervisor_consolidated.py
  netra_backend/app/agents/synthetic_data/core.py
  netra_backend/app/agents/synthetic_data_sub_agent_modern.py
  netra_backend/app/agents/triage_sub_agent.py
  netra_backend/app/agents/triage_sub_agent/agent.py
  netra_backend/app/agents/triage_sub_agent/executor.py
  netra_backend/app/agents/triage_sub_agent/processing.py
  netra_backend/app/core/agent_reliability_mixin.py
  netra_backend/app/core/error_handlers.py
  netra_backend/app/core/error_processors.py
  netra_backend/app/core/unified_error_handler.py
  netra_backend/app/services/synthetic_data/__init__.py
  netra_backend/app/services/synthetic_data/core_service_base.py
  netra_backend/app/services/synthetic_data_service.py
  netra_backend/tests/agents/test_error_handler_enums.py
  netra_backend/tests/agents/test_error_handler_recovery_strategy.py
  netra_backend/tests/critical/test_execution_context_hashable_regression.py
  netra_backend/tests/integration/test_first_message_error_recovery.py
  netra_backend/tests/unified_system/test_error_propagation.py
  netra_backend/tests/unit/test_error_handler_regression.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

feat(corpus): add symbol search functionality for code navigation
  netra_backend/app/routes/corpus.py
  netra_backend/app/services/corpus/search_operations.py
  netra_backend/app/services/corpus/symbol_extractor.py
  netra_backend/tests/services/test_symbol_extractor.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

test(framework): enhance E2E test infrastructure with critical tests
  test_framework/config/categories.yaml
  tests/e2e/critical/__init__.py
  tests/e2e/critical/test_auth_jwt_critical.py
  tests/e2e/critical/test_dev_launcher_critical_path.py
  tests/e2e/critical/test_service_health_critical.py
  tests/e2e/critical/test_websocket_critical.py
  tests/e2e/real_services_manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

docs(learnings): update documentation for error handler and database consolidation
  DATABASE_MANAGER_CONSOLIDATION_COMPLETE.md
  E2E_TEST_FIX_REPORT.md
  ERROR_HANDLER_CONSOLIDATION_ANALYSIS.md
  LLM_MASTER_INDEX.md
  SPEC/learnings/database_manager_consolidation.xml
  SPEC/learnings/index.xml
  SPEC/learnings/test_system_improvements.xml
Due: none

chore(scripts): add utility scripts for error handler import fixes
  fix_error_handler_imports.py
  fix_error_handler_imports_simple.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

docs(learnings): add auth token refresh testing patterns
  SPEC/learnings/testing.xml
Due: none

fix(agents): resolve AgentErrorHandler callable TypeError during initialization
  SPEC/learnings/agent_error_handler_unified.xml
  SPEC/learnings/index.xml
  netra_backend/app/agents/actions_agent_execution.py
  netra_backend/app/agents/actions_to_meet_goals_sub_agent.py
  netra_backend/app/agents/admin_tool_dispatcher/tool_handlers_core.py
  netra_backend/app/agents/admin_tool_dispatcher/validation.py
  netra_backend/app/agents/base/executor.py
  netra_backend/app/agents/corpus_admin/agent.py
  netra_backend/app/agents/data_sub_agent/agent_cache.py
  netra_backend/app/agents/data_sub_agent/analysis_engine.py
  netra_backend/app/agents/data_sub_agent/anomaly_detector.py
  netra_backend/app/agents/data_sub_agent/execution_core.py
  netra_backend/app/agents/data_sub_agent/execution_engine.py
  netra_backend/app/agents/demo_service/optimization.py
  netra_backend/app/agents/mcp_integration/base_mcp_agent.py
  netra_backend/app/agents/mcp_integration/context_manager.py
  netra_backend/app/agents/mcp_integration/mcp_intent_detector.py
  netra_backend/app/agents/optimizations_core_sub_agent.py
  netra_backend/app/agents/reporting_sub_agent.py
  netra_backend/app/agents/supervisor_consolidated.py
  netra_backend/app/agents/synthetic_data/core.py
  netra_backend/app/agents/triage_sub_agent.py
  netra_backend/app/agents/triage_sub_agent/executor.py
  netra_backend/app/agents/triage_sub_agent/processing.py
  netra_backend/tests/critical/test_execution_context_hashable_regression.py
  scripts/fix_execution_error_handler_calls.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

docs: update CLAUDE.md with git commit standards and LLM_MASTER_INDEX
  CLAUDE.md
  LLM_MASTER_INDEX.md
Due: none

fix(database): improve SSL parameter handling and connection pooling
  SPEC/database_connectivity_architecture.xml
  auth_service/auth_core/database/connection.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

fix(agents): improve error handling and state management
  netra_backend/app/agents/supervisor/execution_engine.py
  netra_backend/app/agents/supervisor/workflow_orchestrator.py
  netra_backend/app/core/agent_reliability_mixin.py
  netra_backend/app/db/models_agent_state.py
  netra_backend/app/llm/fallback_config.py
  netra_backend/app/llm/fallback_handler.py
  netra_backend/app/llm/retry_helpers.py
  netra_backend/app/services/state_persistence.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

fix(frontend): improve auth flow and token management
  frontend/app/login/page.tsx
  frontend/auth/components.tsx
  frontend/components/LoginButton.tsx
  frontend/components/chat/features/LayerManager.tsx
  frontend/lib/auth-interceptor.ts
  frontend/lib/auth-service-client.ts
  frontend/store/authStore.ts
Due: new-file-compliance, edited-lines-check

refactor(backend): simplify route handlers and remove redundant code
  netra_backend/app/routes/corpus.py
  netra_backend/app/routes/synthetic_data.py
  netra_backend/app/services/synthetic_data/__init__.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

docs(learnings): add comprehensive learnings from recent fixes
  SPEC/learnings/agent_error_handler_callable_fix.xml
  SPEC/learnings/auth_persistence_ssot.xml
  SPEC/learnings/dev_launcher_zombie_processes.xml
  SPEC/learnings/docker_container_startup.xml
  SPEC/learnings/index.xml
  SPEC/learnings/sqlalchemy_session_management.xml
  SPEC/learnings/websocket.xml
Due: none

test: add auth persistence and logout tests
  WIP Go to Symbol Code Navigation and Analysis.md
  frontend/__tests__/auth-persistence.test.ts
  frontend/__tests__/lib/auth-service-client-logout.test.ts
  test_logout_manual.md
Due: new-file-compliance, edited-lines-check

feat(frontend): add Beta badge visual indicators across UI
  frontend/app/enterprise-demo/WelcomeScreen.tsx
  frontend/app/layout.tsx
  frontend/app/login/page.tsx
  frontend/components/Header.tsx
  frontend/components/chat/ChatHeader.tsx
  frontend/components/chat/ThreadSidebarComponents.tsx
  frontend/components/demo/DemoHeader.tsx
  frontend/components/ui/badge.tsx
Due: new-file-compliance, edited-lines-check

feat(clickhouse): add agent state history table for time-series analytics
  netra_backend/app/db/clickhouse.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

fix(websocket): improve message serialization and connection stability
  netra_backend/app/routes/websocket.py
  netra_backend/app/websocket_core/manager.py
  netra_backend/app/websocket_core/utils.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(state): enhance state persistence with improved caching and error handling
  netra_backend/app/agents/data_sub_agent/execution_engine.py
  netra_backend/app/db/models_agent_state.py
  netra_backend/app/services/state_cache_manager.py
  netra_backend/app/services/state_persistence.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

docs(learnings): add critical fixes and patterns discovered during remediation
  SPEC/learnings/agent_state_fk_violation_fix.xml
  SPEC/learnings/clickhouse_method_signature_fix.xml
  SPEC/learnings/deepagentstate_json_serialization_fix.xml
  SPEC/learnings/docker_container_refresh.xml
  SPEC/learnings/index.xml
  SPEC/learnings/websocket_connection_state_fix.xml
  SPEC/learnings/workflow_sequential_execution.xml
Due: none

docs: add remediation summary and Docker refresh guide
  REMEDIATION_SUMMARY_20250829.md
  docs/DOCKER_REFRESH_GUIDE.md
Due: none

feat(docker): implement hot reload for faster development
  SPEC/docker_hot_reload.xml
  docker-compose.dev.yml
  docker-compose.override.yml
  docs/docker-hot-reload-guide.md
  scripts/test_hot_reload.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

fix(agents): ensure idempotent agent registration and circuit breaker compatibility
  SPEC/learnings/agent_registration_idempotency.xml
  SPEC/learnings/circuit_breaker_metrics_compatibility.xml
  netra_backend/app/agents/supervisor/agent_registry.py
  netra_backend/app/services/metrics/circuit_breaker_metrics.py
  netra_backend/tests/integration/test_agent_circuit_breaker_integration.py
  netra_backend/tests/integration/test_agent_service_singleton.py
  netra_backend/tests/unit/test_agent_registry_idempotency.py
  netra_backend/tests/unit/test_circuit_breaker_metrics_compatibility.py
  tests/e2e/test_agent_circuit_breaker_e2e.py
  tests/e2e/test_streaming_endpoint_singleton.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

feat(corpus): enhance symbol extraction and indexing capabilities
  netra_backend/app/routes/agent_route.py
  netra_backend/app/routes/corpus.py
  netra_backend/app/services/corpus/symbol_extractor.py
  netra_backend/app/services/corpus/symbol_index.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

feat(analytics): add GA4 and GTM automation scripts
  gtm_configuration.json
  scripts/GA4_AUTOMATION_REPORT.md
  scripts/GTM_API_SETUP_README.md
  scripts/find_gtm_account_id.py
  scripts/ga4_api_setup_template.py
  scripts/ga4_automation.py
  scripts/ga4_config.json
  scripts/get_numeric_container_id.py
  scripts/gtm_api_setup.py
  scripts/gtm_config.json
  scripts/run_ga4_setup.py
  scripts/run_gtm_setup.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

docs: update documentation and system status
  CLAUDE.md
  LLM_MASTER_INDEX.md
  SPEC/learnings/index.xml
  SYSTEM_STATUS_20250828.md
  scripts/list_ga4_properties.py
  scripts/unified_test_runner.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

chore(docker): add Docker configuration and build files
  docker-compose.override.yml
  docker-compose.yml
  docker/auth.Dockerfile
  docker/backend.Dockerfile
  docker/frontend.Dockerfile
Due: none

fix(gtm): prevent undefined access errors in GTM data layer
  frontend/hooks/useGTMEvent.ts
  frontend/providers/GTMProvider.tsx
  frontend/types/gtm.types.ts
Due: new-file-compliance, edited-lines-check

refactor(agents): improve synthetic data agent error handling and progress tracking
  netra_backend/app/agents/data_sub_agent/agent_execution.py
  netra_backend/app/agents/synthetic_data_batch_processor.py
  netra_backend/app/agents/synthetic_data_generator.py
  netra_backend/app/agents/synthetic_data_progress_tracker.py
  netra_backend/app/agents/synthetic_data_sub_agent_workflow.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

feat(backend): add startup logging and WebSocket improvements
  netra_backend/app/main.py
  netra_backend/app/websocket_core/manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

feat(analytics): enhance GA4 automation and debugging scripts
  scripts/check_ga4_access.py
  scripts/ga4_automation.py
  scripts/ga4_config.json
  scripts/ga4_setup_simple.py
  scripts/list_ga4_properties.py
  scripts/simple_ga4_check.py
  scripts/test_ga4_connection.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

fix(logging): implement Cloud Run logging fixes with ANSI color support
  SPEC/learnings/cloud_run_logging.xml
  netra_backend/app/core/logging_config.py
  scripts/test_ansi_logging.py
  scripts/verify_cloud_run_logging_fix.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

docs: add setup guides and implementation reports
  .env.example
  DOCKER_SETUP.md
  GA4_IMPLEMENTATION_REPORT_PM.md
  docs/GO_TO_SYMBOL_NAVIGATION_GUIDE.md
  docs/cloud-run-logging-fix.md
Due: none

docs(learnings): update learnings index with recent insights
  SPEC/learnings/index.xml
Due: none

fix(websocket): correct run_id vs user_id routing for agent messages
  SPEC/learnings/websocket_run_id_issue.xml
  docs/websocket-messaging-guide.md
  netra_backend/tests/integration/test_agent_websocket_communication.py
  netra_backend/tests/unit/test_websocket_run_id_handling.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

feat(gtm): add defensive programming against undefined property access
  SPEC/learnings/gtm_undefined_access.xml
  frontend/__tests__/gtm/gtm-sanitization.test.ts
  frontend/__tests__/integration/gtm-defensive-tracking.integration.test.tsx
  frontend/docs/GTM_DEFENSIVE_PROGRAMMING.md
Due: new-file-compliance, edited-lines-check

chore(docker): enable ClickHouse in test environment
  docker-compose.dev.yml
  docker-compose.test.yml
  scripts/verify_clickhouse_connection.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

Path conditions:
  new-file-compliance: any of: \.(py|ts|tsx)$
  edited-lines-check: any of: \.(py|ts|tsx)$
  prevent-new-relative-imports: any of: \.py$
  main-code-quality: any of: ^(netra_backend/app|auth_service/auth_core|frontend/src)/.*\.(py|ts|tsx)$
  test-file-leniency: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  new-duplicate-prevention: any of: \.py$
