Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

fix: Remove deprecated configuration manager duplication (Issue #757)
  ISSUE_727_FINAL_SYSTEM_STABILITY_VALIDATION_REPORT.md
  ISSUE_802_SSOT_CHAT_MIGRATION_REMEDIATION_PLAN.md
  README-claude-orchestrator.md
  SSOT-incomplete-migration-legacy-execution-engine-blocking-chat.md
  docs/COMMAND_INDEX.md
  docs/README.md
  netra_backend/app/core/managers/unified_configuration_manager.py
  netra_backend/tests/unit/websocket_core/test_unified_manager_unit.py
  temp_comment.txt
  test_framework/real_services.py
  tests/e2e/config_ssot/test_golden_path_config_stability_757.py
  tests/e2e/golden_path/test_chat_business_value_validation.py
  tests/e2e/migration_safety/__init__.py
  tests/e2e/migration_safety/test_deployment_safety_validation.py
  tests/e2e/test_golden_path_execution_engine_staging.py
  tests/e2e/test_issue_686_golden_path_execution_engine_conflicts.py
  tests/integration/config_ssot/test_config_consistency_issue_757.py
  tests/integration/config_ssot/test_service_config_independence_757.py
  tests/integration/config_ssot/test_websocket_config_stability_757.py
  tests/integration/execution_engine_ssot/test_execution_engine_consolidation_integration.py
  tests/integration/id_migration/test_cross_service_id_consistency.py
  tests/integration/id_migration/test_multi_user_id_isolation.py
  tests/integration/migration_safety/__init__.py
  tests/integration/migration_safety/test_backward_compatibility_preservation.py
  tests/integration/ssot_validation/__init__.py
  tests/integration/test_supervisor_ssot_system_conflicts.py
  tests/integration/websocket_consolidation/test_agent_execution_isolation.py
  tests/integration/websocket_consolidation/test_websocket_auth_flow.py
  tests/mission_critical/websocket_consolidation/test_concurrent_user_isolation.py
  tests/mission_critical/websocket_consolidation/test_websocket_event_delivery_failures.py
  tests/mission_critical/websocket_real_test_base.py
  tests/unit/config_ssot/test_configuration_manager_duplication_crisis_757.py
  tests/unit/config_ssot/test_safe_removal_validation_757.py
  tests/unit/config_ssot/test_ssot_compliance_final_757.py
  tests/unit/ssot_validation/__init__.py
  tests/unit/test_ssot_execution_engine_migration_validation.py
  tests/unit/websocket_core/test_websocket_auth_core_functionality.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs(ssot): update SSOT migration status - Issue #565 completion
  SSOT-incomplete-migration-legacy-execution-engine-blocking-chat.md
Due: docker-force-flag-prohibition

chore: remove temporary comment file
  temp_comment.txt
Due: docker-force-flag-prohibition

fix: Phase 2 state persistence module import path resolution
  netra_backend/app/services/state_persistence.py
  netra_backend/app/services/state_persistence_optimized.py
  netra_backend/app/services/unified_state_persistence.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: Add comprehensive Golden Path coverage test suite
  tests/golden_path_coverage/README.md
  tests/golden_path_coverage/test_agent_orchestration_core_comprehensive.py
  tests/golden_path_coverage/test_authentication_integration_agent_workflows.py
  tests/golden_path_coverage/test_database_persistence_agent_state.py
  tests/golden_path_coverage/test_websocket_agent_event_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

P1 Issue #802 FIX: Eliminate legacy execution engine compatibility bridge causing 2026x chat performance degradation
  netra_backend/app/agents/supervisor/execution_engine.py
  netra_backend/app/agents/supervisor/user_execution_engine.py
  test_p1_issue_802_performance.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Complete Issue #762 Golden Path test coverage remediation documentation
  ISSUE_757_COMPLETION_FINAL_REPORT.md
  ISSUE_762_TEST_EXECUTION_RESULTS.md
  P1_ISSUE_802_COMPLETION_REPORT.md
  STAGING_TEST_REPORT_PYTEST.md
  tests/e2e/run_safe_windows.py
  tests/golden_path_coverage/test_agent_orchestration_core_comprehensive.py
  tests/golden_path_coverage/test_authentication_integration_agent_workflows.py
  tests/golden_path_coverage/test_database_persistence_agent_state.py
  tests/golden_path_coverage/test_websocket_agent_event_integration.py
  tests/unified_test_runner.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Phase 2 authentication and database layer accessibility
  netra_backend/app/auth_integration/auth.py
  netra_backend/app/db/models_postgres.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Resolve Issue #767 - execution engine test path resolution and API mismatches
  netra_backend/tests/integration/test_execution_engine_advanced_scenarios.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(issue-757): Complete Configuration Manager SSOT consolidation - remove deprecated duplicate
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-ALL_TESTS-2025-09-13-110053.md
  netra_backend/app/core/managers/unified_configuration_manager.py.removed_757_20250913
Due: docker-force-flag-prohibition

fix: Phase 1 environment variable API optimization
  netra_backend/app/websocket_core/unified_websocket_auth.py
  netra_backend/app/websocket_core/utils.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Issue #757 - Update tests after deprecated Configuration Manager removal
  tests/integration/config_ssot/test_golden_path_auth_failure_reproduction.py
  tests/integration/config_ssot/test_issue_757_configuration_manager_resolution.py
  tests/mission_critical/test_config_manager_ssot_violations.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs: Add GCP Log Gardener worklog 2025-09-13-1800 - 5 issue clusters processed
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-13-1800.md
Due: docker-force-flag-prohibition

fix: Resolve Issue #766 - Docker Desktop service dependency blocking E2E tests
  test_docker_independent_e2e.py
  tests/e2e/run_safe_windows.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Remediate Issue #762 infrastructure blocking agent tests
  netra_backend/app/agents/supervisor/execution_engine_factory.py
  netra_backend/tests/unit/agents/supervisor/test_execution_engine_factory_comprehensive.py
  test_framework/fixtures/real_services.py
  test_framework/ssot/base_test_case.py
  test_framework/ssot/mock_factory.py
  tests/unit/golden_path/test_agent_execution_core_golden_path.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

cleanup: Remove temporary validation script
  STAGING_TEST_REPORT_PYTEST.md
  test_docker_independent_e2e.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(orchestrator): add datetime tracking for instance management
  netra_backend/tests/unit/formatters/__init__.py
  netra_backend/tests/unit/formatters/test_example_response_formatter.py
  scripts/claude-instance-orchestrator.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Update golden path test to use correct BaseAgent state APIs
  tests/unit/golden_path/test_agent_execution_core_golden_path.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Update claude-instance-orchestrator.py
  scripts/claude-instance-orchestrator.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: Complete final Issue #802 SSOT Migration validation and documentation
  SSOT-incomplete-migration-legacy-execution-engine-blocking-chat.md
  netra_backend/app/formatters/__init__.py
  netra_backend/tests/unit/formatters/test_example_response_formatter.py
  reports/test_validation/ISSUE_802_SSOT_MIGRATION_VALIDATION_REPORT.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(ssot): add progress tracking for critical authentication SSOT violation
  SSOT-AUTHENTICATION-BACKEND-JWT-DECODE-BYPASS.md
Due: docker-force-flag-prohibition

docs: Update Issue #802 completion status - SSOT Chat Migration COMPLETE
  SSOT-incomplete-migration-legacy-execution-engine-blocking-chat.md
Due: docker-force-flag-prohibition

feat(ssot): complete Step 1 - test discovery and planning for auth SSOT violation
  SSOT-AUTHENTICATION-BACKEND-JWT-DECODE-BYPASS.md
Due: docker-force-flag-prohibition

test: Add comprehensive coverage for Configuration Manager SSOT remediation
  netra_backend/tests/unit/auth_ssot/test_ssot_jwt_decode_violation_detection.py
  netra_backend/tests/unit/core/test_startup_validator.py
  netra_backend/tests/unit/websocket_core/test_websocket_core_unified_manager.py
  tests/integration/auth_ssot/test_auth_service_backend_consistency.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

enhance: Improve configuration management and response formatting
  netra_backend/app/formatters/example_response_formatter.py
  netra_backend/tests/unit/test_configuration_management_core.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Update SSOT migration status documentation
  SSOT-incomplete-migration-legacy-execution-engine-blocking-chat.md
Due: docker-force-flag-prohibition

fix: Add missing validate_token standalone function for backward compatibility
  netra_backend/app/services/user_auth_service.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(test-coverage): Update coverage summary with Issue #812 ExampleResponseFormatter completion
  reports/TEST_COVERAGE_SUMMARY_REPORT.md
Due: docker-force-flag-prohibition

Update STAGING_TEST_REPORT_PYTEST.md
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

docs: add merge conflict resolution documentation
  merges/MERGEISSUE-2025-09-13.md
Due: docker-force-flag-prohibition

feat(ssot): complete Step 2 - create 12 new SSOT authentication validation tests
  SSOT-AUTHENTICATION-BACKEND-JWT-DECODE-BYPASS.md
Due: docker-force-flag-prohibition

fix: Resolve Issue #782 - Docker Alpine test dockerfile path configuration
  docker/docker-compose.alpine-test.yml
  validate_paths.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(orchestrator): enhance Mac compatibility and configuration management
  scripts/claude-instance-orchestrator.py
  scripts/claude-orchestrator-config-example.json
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(ssot): complete Step 3 - comprehensive SSOT test migration plan
  SSOT-AUTHENTICATION-BACKEND-JWT-DECODE-BYPASS.md
Due: docker-force-flag-prohibition

feat(orchestrator): add Mac-friendly bash wrapper script
  claude-orchestrator
Due: none

fix: Resolve Issue #781 - async context manager protocol violation in user execution
  tests/integration/test_websocket_agent_communication_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(orchestrator): add comprehensive usage documentation and guide
  scripts/README-orchestrator.md
Due: docker-force-flag-prohibition

docs: Add failing test gardener worklog for e2e GCP remote analysis
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-e2e-gcp-remote-2025-09-13-1220.md
Due: docker-force-flag-prohibition

fix(tests): resolve async coroutine never awaited warning in websocket manager test
  tests/e2e/test_agent_websocket_events_simple.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
