Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

refactor(backend): clarify OAuth handled by auth service not backend
  netra_backend/app/core/configuration/secrets.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): enhance ClickHouse mock package structure
  netra_backend/tests/agents/conftest.py
  netra_backend/tests/agents/test_data_sub_agent_golden_pattern_simplified.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(scripts): improve Docker health management and simplify launch scripts
  scripts/docker_health_manager.py
  scripts/launch_dev_env.py
  scripts/test_docker_manager.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(websocket): simplify WebSocket notification and monitoring
  netra_backend/app/agents/websocket_tool_enhancement.py
  netra_backend/app/monitoring/websocket_notification_monitor.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: improve test framework and mission-critical test suites
  netra_backend/tests/agents/test_data_sub_agent_golden_pattern.py
  test_framework/websocket_helpers.py
  tests/e2e/test_cold_start_fixes_validation.py
  tests/e2e/test_critical_system_initialization.py
  tests/mission_critical/test_actions_agent_golden_compliance.py
  tests/mission_critical/test_staging_auth_cross_service_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs: add system health and analysis reports
  AUTH_TEST_EXECUTION_REPORT.md
  BUSINESS_HEALTH_REPORT.json
  DOCKER_FIVE_WHYS_ANALYSIS.md
  EXECUTION_PATTERN_BUSINESS_REQUIREMENTS.md
  EXECUTION_PATTERN_REMEDIATION_PLAN.md
  LEGACY_DOCKER_REMOVAL_REPORT.md
  MISSION_CRITICAL_TEST_STATUS.md
  SYSTEM_STARTUP_REPORT.md
  WEBSOCKET_TEST_INFRASTRUCTURE_REPAIR_REPORT.md
Due: docker-force-flag-prohibition

docs(learnings): add ClickHouse mock package structure fix learnings
  SPEC/learnings/clickhouse_mock_package_structure_fix.xml
  SPEC/learnings/index.xml
Due: none

feat: add business health check and auth test utilities
  run_auth_tests.py
  scripts/business_health_check.py
  test_results/test_auth_state_consistency.py.json
  test_results/test_backend_login_endpoint_fix.py.json
  test_results/test_chat_responsiveness_under_load.py.json
  test_results/test_jwt_secret_hard_requirements.py.json
  test_results/test_jwt_secret_synchronization_simple.py.json
  test_results/test_jwt_sync_ascii.py.json
  test_results/test_memory_leak_prevention_comprehensive.py.json
  test_results/test_pre_post_deployment_jwt_verification.py.json
  test_results/test_presence_detection_critical.py.json
  test_results/test_staging_auth_cross_service_validation.py.json
  test_results/test_staging_endpoints_direct.py.json
  test_results/test_staging_websocket_agent_events.py.json
  test_results/test_token_refresh_active_chat.py.json
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): improve WebSocket factory and agent integration
  netra_backend/app/agents/data_sub_agent/data_fetching.py
  netra_backend/app/agents/websocket_tool_enhancement.py
  netra_backend/app/services/websocket_bridge_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: enhance test infrastructure and reliability
  scripts/comprehensive_mock_cleanup.py
  tests/e2e/fixtures/integration/dev_launcher_test_fixtures.py
  tests/e2e/staging/test_secret_key_validation.py
  tests/e2e/test_critical_auth_service_cascade_failures.py
  tests/e2e/test_data_factory.py
  tests/e2e/test_deployment_configuration_validation.py
  tests/e2e/test_deployment_scaling_validation.py
  tests/e2e/test_dev_launcher_startup_comprehensive.py
  tests/e2e/test_oauth_google_login_500_error.py
  tests/e2e/test_resource_usage.py
  tests/e2e/test_staging_auth_config.py
  tests/e2e/test_startup_initialization.py
  tests/e2e/test_windows_subprocess_execution.py
  tests/integration/test_agent_death_recovery.py
  tests/integration/test_service_communication_failure.py
  tests/mission_critical/test_auth_development.py
  tests/mission_critical/test_no_ssot_violations.py
  tests/mission_critical/test_supervisor_golden_compliance.py
  tests/performance/test_stress_and_limits.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

chore(docker): update Alpine test configuration
  docker-compose.alpine-test.yml
Due: docker-force-flag-prohibition, docker-security-audit

docs: add system analysis and remediation reports
  EXECUTION_PATTERN_TECHNICAL_DESIGN.md
  REMEDIATION_REPORT.md
  SYSTEM_STARTUP_REPORT.md
Due: docker-force-flag-prohibition

fix: enhance WebSocket stability and test framework reliability
  BUSINESS_HEALTH_REPORT.json
  netra_backend/app/services/websocket_bridge_factory.py
  test_framework/conftest_isolated_environment.py
  test_framework/docker_stability_manager.py
  tests/e2e/test_agent_failure_handling.py
  tests/e2e/test_deployment_scaling_validation.py
  tests/mission_critical/test_jwt_secret_hard_requirements.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

refactor(frontend): consolidate and improve TypeScript type definitions
  SPEC/learnings/frontend_type_consolidation_20250103.xml
  frontend/components/chat/admin/ConfigurationBuilder.types.ts
  frontend/types/Run.ts
  frontend/types/StreamEvent.ts
  frontend/types/domains/agents.ts
  frontend/types/domains/messages.ts
  frontend/types/domains/tools.ts
Due: architecture-compliance, file-size-limit, type-safety-check

feat(frontend): enhance WebSocket resilience and error handling
  frontend/components/chat/AgentStatusIndicator.tsx
  frontend/cypress/e2e/critical-websocket-resilience.cy.ts
  frontend/lib/circuit-breaker.ts
  frontend/lib/hydration-validator.ts
  frontend/services/animation-engine.ts
  frontend/services/webSocketServiceResilient.ts
Due: architecture-compliance, file-size-limit, type-safety-check

refactor(backend): enhance agent architecture with factory patterns
  netra_backend/app/agents/admin_tool_dispatcher/factory.py
  netra_backend/app/agents/admin_tool_dispatcher/migration_helper.py
  netra_backend/app/agents/admin_tool_dispatcher/modernized_wrapper.py
  netra_backend/app/agents/base_agent.py
  netra_backend/app/agents/state.py
  netra_backend/app/agents/supervisor_admin_init.py
  netra_backend/app/services/websocket_bridge_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: enhance test infrastructure and stability
  analytics_service/tests/e2e/test_user_journeys.py
  frontend/__tests__/utils/test-helpers.tsx
  frontend/components/chat/admin/ConfigurationBuilder.backup.tsx
  test_framework/docker_stability_manager.py
  test_tool_dispatcher_migration.py
  tests/e2e/fixtures/integration/dev_launcher_test_fixtures.py
  tests/e2e/test_agent_failure_handling.py
  tests/e2e/test_cold_start_fixes_validation.py
  tests/e2e/test_dev_launcher_startup_comprehensive.py
  tests/e2e/test_oauth_google_login_500_error.py
  tests/e2e/test_staging_auth_config.py
  tests/e2e/test_startup_initialization.py
  tests/integration/test_agent_death_recovery.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add comprehensive architecture implementation reports
  AGENT_BASE_MIGRATION_IMPLEMENTATION.md
  EXECUTION_PATTERN_FINAL_REMEDIATION_REPORT.md
  EXECUTION_PATTERN_TEST_STRATEGY.md
  IMPORT_CHECK_FIXES_REPORT.md
  TOOL_DISPATCHER_MIGRATION_IMPLEMENTATION.md
  WEBSOCKET_BRIDGE_THREAD_SAFETY_REPORT.md
  WEBSOCKET_MIGRATION_IMPLEMENTATION.md
Due: docker-force-flag-prohibition

test(mission-critical): add comprehensive WebSocket bridge test suite
  tests/mission_critical/WEBSOCKET_BRIDGE_CHAOS_TEST_REPORT.md
  tests/mission_critical/WEBSOCKET_BRIDGE_CONCURRENCY_TEST_REPORT.md
  tests/mission_critical/WEBSOCKET_MESSAGE_ORDERING_TEST_REPORT.md
  tests/mission_critical/performance_test_clean.py
  tests/mission_critical/standalone_performance_test.py
  tests/mission_critical/test_websocket_bridge_chaos.py
  tests/mission_critical/test_websocket_bridge_chaos_standalone.py
  tests/mission_critical/test_websocket_bridge_concurrency.py
  tests/mission_critical/test_websocket_bridge_isolation.py
  tests/mission_critical/test_websocket_bridge_message_ordering.py
  tests/mission_critical/test_websocket_bridge_performance.py
  tests/mission_critical/test_websocket_bridge_thread_safety.py
  tests/mission_critical/test_websocket_message_ordering_final.py
  tests/mission_critical/test_websocket_message_ordering_standalone.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix(docker): remove tmpfs and enhance Alpine test configuration
  CLAUDE.md
  docker-compose.alpine-test.yml
Due: docker-force-flag-prohibition, docker-security-audit

fix(websocket): enhance bridge singleton initialization reliability
  netra_backend/app/services/agent_websocket_bridge.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(test-framework): add dynamic Docker project prefix detection
  test_framework/docker_config_loader.py
  test_framework/docker_stability_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(docker): improve stability test suite reliability
  scripts/run_docker_stability_tests_comprehensive.py
  tests/mission_critical/test_docker_edge_cases.py
  tests/mission_critical/test_docker_lifecycle_management.py
  tests/mission_critical/test_docker_stability_comprehensive.py
  tests/mission_critical/test_docker_stability_suite.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test: add debug logging to smoke and unit tests
  tests/smoke/test_startup_wiring_smoke.py
  tests/unit/test_session_isolation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(smd): improve WebSocket manager initialization flow
  netra_backend/app/smd.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: update prompt documentation for test improvements
  ...prompts/mock-fix.md
  ...prompts/test_prompts.md
Due: docker-force-flag-prohibition

docs: add WebSocket remediation and consolidation plans
  CRITICAL_ISSUES_FIX_REPORT.md
  WEBSOCKET_REMEDIATION_PLAN_AUDIT.md
  WEBSOCKET_SSOT_CONSOLIDATION_PLAN.md
Due: docker-force-flag-prohibition

docs: add test failure analysis and verification reports
  test_failure_analysis_report.md
  test_fix_verification_report.md
Due: docker-force-flag-prohibition

test(e2e): add WebSocket event reproduction test suite
  tests/e2e/test_websocket_event_reproduction.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

perf(docker): optimize memory limits for test containers
  docker-compose.alpine-test.yml
  docker-compose.test.yml
Due: docker-force-flag-prohibition, docker-security-audit

refactor(frontend): update staging URLs and consolidate message types
  frontend/lib/unified-api-config.ts
  frontend/types/messages.ts
Due: architecture-compliance, file-size-limit, type-safety-check

refactor(backend): migrate SMD to UnifiedToolRegistry
  netra_backend/app/smd.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore(tests): adjust logging levels from ERROR to INFO
  netra_backend/tests/conftest.py
  netra_backend/tests/e2e/conftest.py
  test_framework/conftest_base.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(tests): add memory pre-flight checks to prevent OOM kills
  test_framework/memory_guardian.py
  tests/unified_test_runner.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add staging deployment and WebSocket validation utilities
  test_staging_deployment.py
  validate_websocket_tests.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add Docker OOM analysis and solution reports
  DOCKER_OOM_FIVE_WHYS_ANALYSIS.md
  DOCKER_OOM_SOLUTION_REPORT.md
Due: docker-force-flag-prohibition

docs: add integration test reports and performance baselines
  CHAT_SYSTEM_INTEGRATION_FINAL_REPORT.md
  WEBSOCKET_FINAL_VALIDATION_REPORT.json
  staging_test_report_20250902_213753.json
  websocket_performance_baseline_report.md
Due: docker-force-flag-prohibition

Update frontend.gcp.Dockerfile
  deployment/docker/frontend.gcp.Dockerfile
Due: none

fix: add missing tools property to UnifiedToolRegistry
  netra_backend/app/agents/tool_registry_unified.py
  netra_backend/app/routes/system_info.py
  scripts/fix_staging_secrets.py
  scripts/setup_e2e_bypass_key.py
  scripts/validate_staging_urls.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
