Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$

docs(worklog): Update failing test gardener worklog with GitHub issue #915 link for ExecutionEngine module missing issue
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-agents-2025-09-13-203200.md
  temp_comment.md
Due: docker-force-flag-prohibition

docs(e2e): Add comprehensive E2E deploy remediate worklog validation results
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-all-2025-09-14-050000.md
Due: docker-force-flag-prohibition

docs(test): Add Issue #953 comprehensive test plan for DeepAgentState import resolution
  issue_953_test_plan.md
Due: docker-force-flag-prohibition

docs(failing-test-gardener): Complete agent test collection analysis with GitHub issue integration
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-agents-2025-09-13-203200.md
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-13-1530.md
Due: docker-force-flag-prohibition

fix(tests): Update mission critical WebSocket test import paths for Issue #915
  tests/mission_critical/test_websocket_ssot_agent_integration_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs(gcp): Complete GCP Log Gardener analysis with GitHub issue processing integration
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-13-203200.md
Due: docker-force-flag-prohibition

test(mission-critical): Enhance WebSocket SSOT agent integration validation and staging test monitoring
  STAGING_TEST_REPORT_PYTEST.md
  netra_backend/tests/unit/agents/supervisor/test_execution_engine_complete.py
  netra_backend/tests/unit/agents/supervisor/test_execution_engine_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(tests): Add Phase 1 WebSocket event sequence testing for agent golden path messages
  issue_872_phase_1_completion_report.md
  netra_backend/tests/unit/agents/test_agent_lifecycle_events_unit.py
  netra_backend/tests/unit/agents/test_event_ordering_validation_unit.py
  netra_backend/tests/unit/agents/test_websocket_event_sequence_unit.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(tests): Add Phase 1 WebSocket event sequence testing for agent golden path messages
  netra_backend/tests/unit/agents/test_websocket_event_sequence_unit.py
  tests/e2e/staging/test_priority1_critical.py
  tests/e2e/staging_test_config.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(gcp-log-gardener): Complete GCP backend staging log analysis and issue processing
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-13-203200.md
  netra_backend/tests/unit/agents/test_websocket_agent_integration_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(ssot): Complete Step 2 - WebSocket Manager SSOT validation tests created
  SSOT-regression-WebSocket-Manager-Fragmentation-Crisis.md
Due: docker-force-flag-prohibition

test(security): Add comprehensive security vulnerability testing for DeepAgentState and execution helpers
  netra_backend/tests/unit/security/test_deepagentstate_vulnerability.py
  netra_backend/tests/unit/security/test_modern_execution_helpers_vulnerability.py
  test_framework/ssot/e2e_auth_helper.py
  tests/e2e/staging_test_config.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): Resolve WebSocket agent integration import error blocking 45 unit tests
  netra_backend/tests/integration/agent_execution/test_agent_execution_lifecycle_comprehensive_integration.py
  netra_backend/tests/integration/golden_path/test_advanced_tool_pipeline_integration.py
  netra_backend/tests/integration/golden_path/test_agent_execution_pipeline_integration.py
  netra_backend/tests/integration/golden_path/test_agent_lifecycle_state_management_advanced.py
  netra_backend/tests/integration/golden_path/test_multi_user_concurrency_isolation_advanced.py
  netra_backend/tests/integration/golden_path/test_websocket_advanced_edge_cases.py
  tests/integration/ssot_validation/test_factory_pattern_migration.py
  tests/integration/websocket_ssot_issue960/__init__.py
  tests/integration/websocket_ssot_issue960/test_cross_service_websocket_manager_consistency.py
  tests/unit/websocket_ssot_issue960/TEST_RESULTS_ISSUE_960.md
  tests/unit/websocket_ssot_issue960/__init__.py
  tests/unit/websocket_ssot_issue960/test_websocket_manager_import_path_ssot.py
  tests/unit/websocket_ssot_issue960/test_websocket_manager_singleton_enforcement.py
  tests/validation/test_user_execution_engine_security_fixes_565.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(config-ssot): Add comprehensive Configuration SSOT Issue #962 testing infrastructure
  tests/integration/config_ssot/test_issue_962_authentication_flow_validation.py
  tests/mission_critical/test_issue_962_configuration_ssot_final_validation.py
  tests/staging/test_issue_962_gcp_staging_configuration_validation.py
  tests/unit/config_ssot/test_issue_962_import_pattern_enforcement.py
  tests/unit/config_ssot/test_issue_962_single_configuration_manager_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix(orchestrator): Resolve ChatOrchestrator registry AttributeError issue #956
  netra_backend/app/agents/chat_orchestrator_main.py
  netra_backend/app/agents/state.py
  netra_backend/tests/unit/agents/test_chat_orchestrator_registry_attribute_error.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(integration): Add ChatOrchestrator workflow integration tests
  REMEDIATION_PLAN_ISSUE_956.md
  issue_956_test_execution_results.md
  tests/integration/agents/test_chat_orchestrator_workflows_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(e2e): Complete Issue #958 remediation - WebSocket auth failures resolved
  README.md
  STAGING_TEST_REPORT_PYTEST.md
  coverage_comment.txt
  debug_test_behavior.py
  issue_872_phase_1_completion_report.md
  issue_953_test_results.md
  netra_backend/tests/integration/agents/test_agent_supervisor_websocket_coordination.py
  temp_comment.md
  temp_issue_comment_960.md
  test_direct_chat_orchestrator.py
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-all-2025-09-14-050000.md
  tests/integration/security/test_multi_user_agent_execution_isolation.py
  tests/integration/security/test_multi_user_agent_execution_simple.py
  tests/issue_962_ssot_test_creation_execution_report.md
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(ssot): Complete Phase 2 test execution for issue #962
  SSOT-incomplete-migration-configuration-import-fragmentation.md
Due: docker-force-flag-prohibition

docs(issue-956): Add remediation execution results
  issue_956_remediation_results.md
Due: docker-force-flag-prohibition

feat(ssot): Complete Step 3 - WebSocket Manager SSOT consolidation strategy
  SSOT-regression-WebSocket-Manager-Fragmentation-Crisis.md
Due: docker-force-flag-prohibition

feat(websocket): Complete ultimate-test-deploy-loop analysis and RFC 6455 subprotocol fix preparation
  issue_953_github_comment_final.md
  issue_953_remediation_plan.md
  netra_backend/app/agents/artifact_validator.py
  netra_backend/app/security/audit_findings.py
  netra_backend/tests/unit/agents/test_websocket_agent_integration_comprehensive.py
  reports/MASTER_WIP_STATUS.md
  tests/e2e/test_actions_to_meet_goals_user_experience_failure.py
  tests/integration/test_deepagentstate_user_isolation_vulnerability.py
  tests/mission_critical/test_actions_to_meet_goals_golden.py
  tests/mission_critical/test_websocket_json_agent_events.py
  tests/mission_critical/test_websocket_json_performance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs(health): Update documentation index with improved system metrics and enhanced ARR protection
  docs/index.md
Due: docker-force-flag-prohibition

feat(ssot): Complete Phase 3 remediation planning for issue #962
  SSOT-incomplete-migration-configuration-import-fragmentation.md
Due: docker-force-flag-prohibition

docs(infrastructure): Update LLM Master Index with comprehensive system improvements and Phase 1 completions
  reports/LLM_MASTER_INDEX.md
Due: docker-force-flag-prohibition

docs(testing): Update TEST_EXECUTION_GUIDE with agent session metrics and system health
  reports/TEST_EXECUTION_GUIDE.md
Due: docker-force-flag-prohibition

feat(testing): Add auth service HTTP client fixture for integration testing
  test_framework/fixtures/auth_fixtures.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(system): Update system health metrics and auth fixtures for test improvements
  SPEC/CROSS_SYSTEM_MASTER_INDEX.md
  docs/GOLDEN_AGENT_INDEX.md
Due: docker-force-flag-prohibition

docs(testing): Add Issue #872 Phase 1 unit test execution completion report
  ISSUE_872_PHASE_1_UNIT_TEST_EXECUTION_REPORT.md
Due: docker-force-flag-prohibition

feat(ssot): Add Issue #962 Configuration SSOT remediation plan Phase 3
  ISSUE_962_CONFIGURATION_SSOT_REMEDIATION_PLAN_PHASE3.md
Due: docker-force-flag-prohibition

docs(infrastructure): Update system documentation with latest improvements
  ULTIMATE-TEST-DEPLOY-LOOP-COMPLETION-REPORT-2025-09-14.md
  issue_956_proof_comment.md
  netra_backend/app/agents/supervisor/modern_execution_helpers.py
  tests/e2e/agent_reconnection_state_manager.py
  tests/integration/test_agent_websocket_event_sequence_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(ssot): Fix import paths and type safety in execution helpers and circuit breaker tests
  netra_backend/app/agents/supervisor/modern_execution_helpers.py
  tests/e2e/test_circuit_breaker_error_recovery.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(config): Replace deprecated get_unified_config import in database_initializer.py
  netra_backend/app/db/database_initializer.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(config): Replace deprecated get_unified_config import in postgres_unified.py
  netra_backend/app/db/postgres_unified.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(gardener): Add failing test gardener worklog for agents focus
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-agents-2025-01-14-1615.md
Due: docker-force-flag-prohibition

docs(gardener): Link WebSocket event structure validation failures to GitHub Issue #973
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-critical-2025-09-14T02-55.md
Due: docker-force-flag-prohibition

feat(tests): Add comprehensive integration test suite for Issue #861 - Phase 1-3
  tests/integration/test_agent_execution_integration.py
  tests/integration/test_end_to_end_business_logic_integration.py
  tests/integration/test_websocket_message_flow_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(gardener): Update worklog with Issue #974 agent registry module import fix
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-agents-2025-01-14-1615.md
Due: docker-force-flag-prohibition

docs(gardener): Update Issue #3 worklog with GitHub issue reference
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-critical-2025-09-14-0013.md
Due: docker-force-flag-prohibition

feat(tests): Issue #861 Step 2 - Integration test execution analysis and infrastructure gap identification
  ISSUE_861_STEP_2_TEST_EXECUTION_ANALYSIS.md
  github_comment_step2.md
  pyproject.toml
Due: docker-force-flag-prohibition
