Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

🎉 FINAL: Complete critical remediation with comprehensive WebSocket testing and business value validation
  AUTH_SERVICE_CIRCUIT_BREAKER_INTEGRATION_FIXES_REPORT.md
  auth_service/tests/integration/test_auth_endpoints_business_integration.py
  frontend/__tests__/hooks/test_useWebSocket_comprehensive.test.tsx
  frontend/__tests__/validation/test_comprehensive_fixes_validation.test.tsx
  netra_backend/tests/agents/test_supervisor_basic.py
  netra_backend/tests/agents/test_triage_entity_intent.py
  netra_backend/tests/conftest.py
  netra_backend/tests/integration/business_value/enhanced_base_integration_test.py
  netra_backend/tests/unit/test_smd_comprehensive.py
  reports/DEPLOYMENT_STATUS_ROUND_1_20250907.md
  scripts/validate_websocket_deployment.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

🚀 ULTIMATE FINAL: Complete critical remediation infrastructure - ALL SYSTEMS GO
  CRITICAL_INTEGRATION_TEST_EXECUTIONENGINEFACTORY_FIX_REPORT.md
  netra_backend/tests/unit/test_smd_comprehensive.py
  tests/integration/websocket/test_reconnection_resilience.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

🏁 COMPLETE: Final useWebSocket comprehensive testing - Critical Remediation 100% Complete
  frontend/__tests__/hooks/test_useWebSocket_comprehensive.test.tsx
Due: architecture-compliance, file-size-limit, type-safety-check

🎯 ABSOLUTE FINAL: Complete all remaining testing infrastructure - Production Ready
  frontend/__tests__/validation/test_comprehensive_fixes_validation.test.tsx
  netra_backend/tests/agents/test_supervisor_patterns.py
  scripts/validate_websocket_simple.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

🏆 FINAL VICTORY: SMD comprehensive testing complete - Critical Remediation DONE
  netra_backend/tests/unit/test_smd_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

🎊 CRITICAL REMEDIATION COMPLETE - 30 COMMITS - READY FOR PRODUCTION 🎊
  netra_backend/tests/unit/test_smd_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

📋 FINAL DOCUMENTATION: Ultimate test-deploy loop cycle 1 deployment status complete
  netra_backend/tests/agents/test_triage_init_validation.py
  reports/ULTIMATE_TEST_DEPLOY_LOOP_CYCLE_1_DEPLOYMENT_STATUS_20250907.md
  reports/ULTIMATE_TEST_DEPLOY_LOOP_STATUS_ROUND_1_20250907.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

✅ DONE: Critical remediation infrastructure COMPLETE - 32 commits total
  tests/integration/test_startup_integration_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(auth): modularize auth service with SSOT pattern
  auth_service/services/__init__.py
  auth_service/services/database_health_service.py
  auth_service/services/health_check_service.py
  auth_service/services/oauth_service.py
  auth_service/services/password_service.py
  auth_service/services/session_service.py
  auth_service/services/token_refresh_service.py
  auth_service/tests/integration/test_auth_health_check_integration.py
  auth_service/tests/integration/test_auth_multi_user_isolation_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(agents): standardize agent imports and execution patterns
  netra_backend/app/agents/base_agent.py
  netra_backend/app/agents/enhanced_execution_agent.py
  netra_backend/app/agents/goals_triage_sub_agent.py
  netra_backend/app/agents/summary_extractor_sub_agent.py
  netra_backend/app/agents/synthetic_data_sub_agent.py
  netra_backend/app/agents/synthetic_data_sub_agent_modern.py
  netra_backend/app/agents/tool_discovery_sub_agent.py
  netra_backend/app/agents/validation_sub_agent.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(test-framework): enhance fixture initialization and imports
  test_framework/fixtures/__init__.py
  test_framework/fixtures/service_fixtures.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(integration): enhance error recovery and WebSocket validation
  tests/integration/test_agent_error_recovery.py
  tests/integration/test_agent_supervisor_isolation_advanced.py
  tests/integration/test_agent_websocket_integration_comprehensive.py
  tests/integration/test_agent_workflow_tool_notifications_advanced.py
  tests/integration/test_data_access_integration.py
  tests/integration/test_startup_integration_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(frontend): improve auth flow and WebSocket mock reliability
  frontend/__tests__/auth/test_auth_complete_flow.test.tsx
  frontend/__tests__/mocks/unified-websocket-mock.ts
  frontend/__tests__/regression/analytics-events-not-function.test.tsx
  frontend/__tests__/services/analyticsService.test.tsx
Due: architecture-compliance, file-size-limit, type-safety-check

docs: add test remediation reports and staging test results
  STAGING_TEST_REPORT_PYTEST.md
  junit.xml
  reports/bugfix/UNIT_TEST_REMEDIATION_20250907.md
  reports/frontend_test_failures_five_whys_20250907.md
  reports/integration_test_remediation_20250907.md
  reports/staging/E2E_TEST_RUN_001.md
  tests/e2e/staging/STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

a
  auth_service/services/session_service.py
  netra_backend/app/agents/supervisor_consolidated.py
  tests/e2e/staging/reports/staging_test_iteration_1_20250907.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: enhance execution engine factory with infrastructure managers and WebSocket pooling migration
  netra_backend/app/agents/supervisor/agent_instance_factory.py
  netra_backend/app/agents/supervisor/execution_engine_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: refactor comprehensive WebSocket hook tests with proper mocking and delegation patterns
  frontend/__tests__/hooks/test_useWebSocket_comprehensive.test.tsx
  frontend/__tests__/validation/test_comprehensive_fixes_validation.test.tsx
Due: architecture-compliance, file-size-limit, type-safety-check

test: enhance backend test infrastructure with comprehensive validation and fixtures
  netra_backend/tests/agents/test_triage_entity_intent.py
  netra_backend/tests/agents/test_triage_init_validation.py
  netra_backend/tests/integration/auth/test_user_context_isolation_integration.py
  netra_backend/tests/integration/business_value/enhanced_base_integration_test.py
  netra_backend/tests/integration/ssot_interplay/test_agent_registry_interplay.py
  netra_backend/tests/integration/startup/test_services_phase_comprehensive.py
  netra_backend/tests/unit/agents/supervisor/test_agent_instance_factory_comprehensive.py
  reports/coverage/UNIT_TEST_COVERAGE_100_PERCENT_MISSION.md
  test_framework/fixtures/execution_engine_factory_fixtures.py
  tests/integration/test_startup_integration_comprehensive.py
  tests/integration/test_startup_sequence_integration_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: update test coverage reports, status tracking, and integration test improvements
  INTEGRATION_TEST_CRITICAL_FAILURES_BUG_FIX_REPORT_20250907.md
  STAGING_TEST_REPORT_PYTEST.md
  coverage.json
  coverage.xml
  junit.xml
  netra_backend/app/agents/synthetic_data_sub_agent.py
  netra_backend/tests/integration/agents/test_agent_execution_engine_integration.py
  reports/ULTIMATE_TEST_DEPLOY_LOOP_CYCLE_1_STATUS_20250907.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore: remove obsolete debug_agent_isolation.py debug script
  debug_agent_isolation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: enhance agent infrastructure with comprehensive validation, testing improvements, and factory updates
  netra_backend/app/agents/summary_extractor_sub_agent.py
  netra_backend/app/agents/tool_discovery_sub_agent.py
  netra_backend/app/agents/validation_sub_agent.py
  netra_backend/tests/unit/agents/supervisor/test_agent_instance_factory_comprehensive.py
  reports/coverage/UNIT_TEST_COVERAGE_100_PERCENT_MISSION.md
  test_framework/fixtures/execution_engine_factory_fixtures.py
  tests/agents/test_agent_outputs_business_logic.py
  tests/integration/test_startup_sequence_integration_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: comprehensive unit test coverage for auth/client/backend SSOT classes
  INTEGRATION_TEST_REMEDIATION_COMPLETE_SUCCESS_REPORT_20250907.md
  SERVICES_PHASE_INTEGRATION_TESTS_CREATION_REPORT.md
  auth_service/tests/e2e/__init__.py
  auth_service/tests/e2e/test_auth_service_business_flows.py
  auth_service/tests/e2e/test_complete_oauth_login_flow.py
  auth_service/tests/e2e/test_cross_service_authentication.py
  auth_service/tests/integration/auth/test_jwt_token_validation_integration.py
  auth_service/tests/integration/auth/test_oauth_flow_integration.py
  auth_service/tests/integration/auth/test_session_management_integration.py
  netra_backend/app/agents/synthetic_data_sub_agent_modern.py
  netra_backend/tests/integration/agents/test_agent_execution_engine_integration.py
  netra_backend/tests/integration/auth/test_auth_middleware_integration.py
  reports/FINAL_INVESTOR_CHAT_VALIDATION_REPORT_20250907.md
  reports/STAGING_WEBSOCKET_DEPLOYMENT_EXECUTION_20250907.md
  reports/ULTIMATE_TEST_DEPLOY_LOOP_CYCLE_2_REPORT_20250907.md
  reports/ULTIMATE_TEST_DEPLOY_LOOP_FINAL_STATUS_20250907.md
  reports/coverage/UNIT_TEST_COVERAGE_100_PERCENT_MISSION.md
  shared/tests/unit/test_jwt_secret_manager_comprehensive_unit.py
  tests/unit/test_deploy_to_gcp_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Update STAGING_TEST_REPORT_PYTEST.md
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

docs: update test coverage reports and integration test completion status
  COMPREHENSIVE_SSOT_INTEGRATION_TEST_CREATION_REPORT.md
  STAGING_TEST_REPORT_PYTEST.md
  auth_service/coverage.json
  auth_service/coverage.xml
  auth_service/junit.xml
  junit.xml
  reports/coverage/UNIT_TEST_COVERAGE_100_PERCENT_MISSION.md
  shared/tests/unit/test_jwt_secret_manager_comprehensive_unit.py
  tests/unit/test_deploy_to_gcp_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: enhance agent registry and universal registry infrastructure
  netra_backend/app/agents/supervisor/agent_registry.py
  netra_backend/app/core/registry/universal_registry.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: enhance WebSocket routing and agent bridge integration
  netra_backend/app/routes/websocket.py
  netra_backend/app/services/agent_websocket_bridge.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: enhance test infrastructure with comprehensive validation and fixtures
  auth_service/tests/unit/test_auth_config_comprehensive.py
  netra_backend/tests/integration/agents/test_agent_execution_engine_integration.py
  netra_backend/tests/integration/business_value/test_agent_orchestration_value.py
  netra_backend/tests/integration/startup/README.md
  netra_backend/tests/integration/startup/__init__.py
  netra_backend/tests/unit/agents/supervisor/test_agent_instance_factory_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: add comprehensive WebSocket startup integration tests and critical remediation reports
  CRITICAL_AGENT_INTEGRATION_TEST_REMEDIATION_COMPLETE_REPORT.md
  WEBSOCKET_STARTUP_INTEGRATION_TESTS_REPORT.md
  netra_backend/tests/integration/startup/pytest.ini
  netra_backend/tests/integration/startup/run_websocket_startup_tests.py
  netra_backend/tests/integration/startup/test_websocket_phase_comprehensive.py
  reports/ULTIMATE_TEST_DEPLOY_LOOP_CYCLE_2_STATUS_20250907.md
  tests/integration/auth/test_auth_cache_integration.py
  tests/integration/auth/test_auth_security_patterns_integration.py
  tests/integration/auth/test_cross_service_auth_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: enhance agent registry and service core infrastructure
  netra_backend/app/agents/supervisor/agent_registry.py
  netra_backend/app/core/registry/universal_registry.py
  netra_backend/app/services/agent_service_core.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: enhance WebSocket infrastructure and message handling
  netra_backend/app/services/websocket/message_handler.py
  netra_backend/app/websocket_core/unified_manager.py
  netra_backend/app/websocket_core/websocket_manager_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: enhance unit test coverage for agents and registry
  netra_backend/tests/unit/agents/supervisor/test_agent_instance_factory_comprehensive.py
  netra_backend/tests/unit/core/registry/test_universal_registry_comprehensive.py
  netra_backend/tests/unit/test_startup_module_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: enhance integration test suite with business value focus
  netra_backend/tests/integration/business_value/enhanced_base_integration_test.py
  netra_backend/tests/integration/business_value/test_multi_user_business_operations.py
  netra_backend/tests/integration/business_value/test_websocket_business_events.py
  netra_backend/tests/integration/ssot_interplay/test_agent_registry_interplay.py
  tests/integration/test_websocket_chat_events_bulletproof.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: enhance ClickHouse corpus validation testing
  netra_backend/tests/clickhouse/test_corpus_validation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: update test coverage reports and staging status
  STAGING_TEST_REPORT_PYTEST.md
  reports/coverage/UNIT_TEST_COVERAGE_100_PERCENT_MISSION.md
Due: docker-force-flag-prohibition

test: update test artifacts and coverage data
  auth_service/coverage.json
  auth_service/coverage.xml
  auth_service/junit.xml
  junit.xml
Due: none

docs: add comprehensive test remediation and authentication reports
  AGENT_INTEGRATION_TESTS_REMEDIATION_COMPLETE_20250907.md
  COMPREHENSIVE_AUTHENTICATION_INTEGRATION_TESTS_REPORT.md
  reports/AUTH_SERVICE_COMPREHENSIVE_TEST_CREATION_REPORT_20250907.md
Due: docker-force-flag-prohibition

feat: add shared test infrastructure and guards
  shared/test_only_guard.py
  shared/tests/unit/test_config_builder_base_comprehensive_unit.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add comprehensive unit tests for core systems
  netra_backend/tests/unit/core/test_test_only_guard_system.py
  netra_backend/tests/unit/core/tools/test_unified_tool_dispatcher.py
  netra_backend/tests/unit/llm/test_llm_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add comprehensive startup and backend integration tests
  netra_backend/tests/integration/backend/test_agent_execution_pipeline.py
  netra_backend/tests/integration/startup/comprehensive_startup_test_runner.py
  netra_backend/tests/integration/startup/test_finalize_phase_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add debug test utilities for development
  debug_detailed_test.py
  debug_factory_test.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
