Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$

docs(issue-539): Complete Issue #539 closure documentation and final validation
  ISSUE_539_REMEDIATION_SUCCESS_PROOF.md
  issue_539_success_comment.md
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-goldenpath-2025-09-12.md
  tests/integration/websocket_auth/test_websocket_cross_service_auth_integration_service_communication.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): clean up deprecated factory imports in unified_init.py
  netra_backend/app/websocket_core/unified_init.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: complete Phase 4 SSOT remediation execution - perfect success
  docs/SSOT-incomplete-migration-WebSocket-Factory-Pattern-Deprecation-Violations.md
Due: docker-force-flag-prohibition

fix: Issue #270 - Complete E2E test service orchestration integration
  ISSUE_270_RESOLUTION_SUMMARY.md
  ISSUE_270_TEST_EXECUTION_RESULTS.md
  tests/integration/ssot/test_websocket_ssot_compliance_validation.py
  tests/integration/test_issue_270_service_orchestration_gap.py
  tests/issue_270_direct_validation.py
  tests/mission_critical/test_ssot_websocket_factory_compliance.py
  tests/mission_critical/test_ssot_websocket_validation_suite.py
  tests/mission_critical/test_websocket_factory_migration.py
  tests/mission_critical/test_websocket_health_ssot.py
  tests/staging/test_issue_270_business_value_protection.py
  tests/unit/ssot_validation/test_websocket_factory_deprecation_reproduction.py
  tests/unit/test_issue_270_async_health_checker.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs: Add comprehensive SSOT WebSocket validation test results
  tests/SSOT_WEBSOCKET_VALIDATION_TEST_RESULTS.md
  tests/mission_critical/SSOT_WEBSOCKET_VALIDATION_TEST_RESULTS.md
Due: docker-force-flag-prohibition

docs: Add comprehensive analysis for Issues #350 and #514
  issue_350_analysis.md
  issue_514_comprehensive_five_whys_analysis.md
Due: docker-force-flag-prohibition

🔧 Golden Path Auth E2E Test Infrastructure Fixes - SSOT Configuration Consolidation
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-e2e-agent-execution-2025-09-12.md
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-goldenpath-auth-web-frontend-e2e-websockets-oauth-2025-09-12-05-10-50.md
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-golden-path-auth-2025-09-12-12.md
  tests/integration/agent_responses/test_agent_execution_integration.py
  tests/integration/agent_responses/test_agent_state_management_integration.py
  tests/integration/agent_responses/test_error_handling_integration.py
  tests/integration/agent_responses/test_response_quality_integration.py
  tests/integration/agent_responses/test_websocket_events_integration.py
  tests/integration/thread_management/README.md
  tests/integration/thread_management/test_conversation_context_integration.py
  tests/integration/thread_management/test_thread_business_continuity_integration.py
  tests/integration/thread_management/test_thread_isolation_integration.py
  tests/integration/thread_management/test_thread_lifecycle_integration.py
  tests/integration/thread_management/test_thread_performance_integration.py
  tests/integration/thread_management/test_thread_persistence_integration.py
  tests/integration/thread_management/test_thread_scaling_integration.py
  tests/integration/thread_management/test_websocket_thread_integration.py
  tests/issue_508_websocket_asgi_scope_error_test_plan.md
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(auth): align auth environment with coordinated validation for Issue #528
  auth_service/auth_core/auth_environment.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(issue-529): cluster consolidation and final status reports
  reports/ISSUE_529_CLUSTER_CONSOLIDATION_DECISIONS.md
  reports/ISSUE_529_CLUSTER_FINAL_STATUS_REPORT.md
Due: docker-force-flag-prohibition

test(websocket): add Golden Path notification methods to mock manager
  netra_backend/tests/unit/websocket/test_websocket_notifier.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(websocket): add comprehensive WebSocket HTTP 500/1011 validation tests
  tests/integration/test_websocket_http500_reproduction.py
  tests/unit/test_asgi_scope_handling.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): implement ASGI scope protection for Issue #517
  netra_backend/app/routes/websocket_ssot.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(issue-517): comprehensive WebSocket HTTP 500/1011 validation results
  ISSUE_517_VALIDATION_RESULTS.md
  staging_websocket_validation_1757681285.json
  test_websocket_staging_manual.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(auth): implement enhanced environment isolation and validation for Issue #528
  netra_backend/app/core/auth_startup_validator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(middleware): enhance ASGI scope validation for Issue #517
  netra_backend/app/core/middleware_setup.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(issue-528): add comprehensive resolution documentation and validation tests
  ISSUE_528_IMPLEMENTATION_RESULTS.md
  ISSUE_528_STABILITY_PROOF_REPORT.md
  ISSUE_528_TEST_EXECUTION_RESULTS.md
  netra_backend/tests/unit/test_auth_startup_validation_conflict_reproduction.py
  netra_backend/tests/unit/test_auth_startup_validation_environment_validation.py
  netra_backend/tests/unit/test_auth_startup_validation_integration_validation.py
  netra_backend/tests/unit/test_auth_startup_validation_jwt_dependency_chain.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(auth): implement coordinated JWT validation for Issue #528
  shared/jwt_secret_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(test-gardener): add e2e failing test gardener worklog with GitHub issue processing results
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-e2e-2025-09-12-05-04.md
Due: docker-force-flag-prohibition

fix(websocket): correct test class definition syntax in websocket_notifier
  netra_backend/tests/unit/websocket/test_websocket_notifier.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: complete Phase 5 validation - zero breaking changes proven
  docs/SSOT-incomplete-migration-WebSocket-Factory-Pattern-Deprecation-Violations.md
Due: docker-force-flag-prohibition

fix(websocket): complete SSOT WebSocket Factory Pattern migration - Issue #541
  tests/e2e/websocket/test_issue_508_golden_path_websocket_impact.py
  tests/integration/communication/test_cross_service_communication_integration.py
  tests/integration/communication/test_event_streaming_integration.py
  tests/integration/communication/test_message_persistence_integration.py
  tests/integration/communication/test_message_routing_integration.py
  tests/integration/communication/test_websocket_connection_integration.py
  tests/integration/websocket/test_issue_508_asgi_middleware_integration.py
  tests/mission_critical/test_ssot_websocket_factory_compliance.py
  tests/unit/websocket/test_issue_508_asgi_scope_error_reproduction.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix(websocket): eliminate WebSocket factory pattern deprecation violations (Issue #541)
  netra_backend/app/routes/websocket_ssot.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: SSOT gardener process complete - mission accomplished
  docs/SSOT-incomplete-migration-WebSocket-Factory-Pattern-Deprecation-Violations.md
Due: docker-force-flag-prohibition

fix(test): Resolve Issue #558 - Replace missing pytest.ini with centralized pyproject.toml configuration
  tests/unified_test_runner.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): correct WebSocketNotifier test execution context handling
  netra_backend/tests/unit/websocket/test_websocket_notifier.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Issue #558 resolution proof - pytest configuration centralization validated
  issue_558_resolution_comprehensive_proof.md
  issue_558_resolution_github_comment.md
Due: docker-force-flag-prohibition

docs: Add Issue #558 final documentation and five whys analysis
  issue_558_execution_report.md
  issue_558_five_whys_analysis.md
Due: docker-force-flag-prohibition

fix(auth): resolve Issue #528 JWT secret validation test framework
  issue_544_status_comment.md
  netra_backend/app/agents/registry.py
  netra_backend/app/auth_integration/auth.py
  reports/ISSUE_508_SYSTEM_STABILITY_PROOF_REPORT.md
  reports/ISSUE_508_TEST_EXECUTION_AUDIT_REPORT.md
  reports/issue_501_closure_comment.md
  reports/testing/ISSUE_485_TEST_STRATEGY_PLAN.md
  test_framework/environment_isolation.py
  test_framework/ssot/websocket.py
  test_staging_fallback.py
  tests/infrastructure/__init__.py
  tests/infrastructure/test_business_value_protection_validation_issue_485.py
  tests/infrastructure/test_existing_functionality_protection_issue_485.py
  tests/infrastructure/test_import_path_resolution_issue_485.py
  tests/infrastructure/test_unified_test_runner_collection_issue_485.py
  tests/integration/communication/README.md
  tests/integration/communication/__init__.py
  tests/integration/communication/test_communication_reliability_integration.py
  tests/integration/communication/test_websocket_performance_integration.py
  tests/integration/cross_system/test_agent_websocket_coordination_integration.py
  tests/integration/cross_system/test_auth_backend_integration.py
  tests/integration/cross_system/test_database_cache_consistency_integration.py
  tests/integration/cross_system/test_error_propagation_coordination_integration.py
  tests/integration/cross_system/test_inter_service_communication_integration.py
  tests/integration/cross_system/test_monitoring_integration_coordination.py
  tests/integration/cross_system/test_resource_coordination_integration.py
  tests/integration/cross_system/test_service_synchronization_integration.py
  tests/integration/cross_system/test_system_initialization_integration.py
  tests/mission_critical/test_jwt_secret_hard_requirements.py
  tests/mission_critical/websocket_real_test_base.py
  tests/unified_test_runner.py
  tests/unit/websocket/test_issue_508_fix_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check
