Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation, protect-staging-config

Path conditions:
  new-file-compliance: any of: \.(py|ts|tsx)$
  edited-lines-check: any of: \.(py|ts|tsx)$
  prevent-new-relative-imports: any of: \.py$
  main-code-quality: any of: ^(netra_backend/app|auth_service/auth_core|frontend/src)/.*\.(py|ts|tsx)$
  test-file-leniency: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  new-duplicate-prevention: any of: \.py$
  check-environment-isolation: any of: (test_.*\.py|.*_test\.py|tests/.*\.py|conftest\.py)$
  protect-staging-config: any of: netra_backend/app/schemas/config\.py$

refactor(docker): rename production compose to alpine
  docker-compose.alpine.yml
Due: none

refactor(startup): consolidate startup validation in backend
  dev_launcher/launcher.py
  dev_launcher/startup_validator.py
  netra_backend/app/core/critical_path_validator.py
  netra_backend/app/core/startup_validation.py
  netra_backend/app/startup_module_deterministic.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test(dev_launcher): remove obsolete startup validator tests
  dev_launcher/tests/test_dynamic_port_health.py.skip
  dev_launcher/tests/test_startup_validator.py.skip
Due: none

refactor(staging): centralize staging test configuration
  tests/staging/run_staging_tests.py
  tests/staging/staging_config.py
  tests/staging/test_staging_jwt_cross_service_auth.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(frontend): update message input test identifier
  frontend/components/chat/MessageInput.tsx
Due: new-file-compliance, edited-lines-check

test(cypress): enhance critical test suites with improved stability
  frontend/cypress/e2e/critical-agent-api-direct.cy.ts
  frontend/cypress/e2e/critical-agent-optimization.cy.ts
  frontend/cypress/e2e/critical-agent-orchestration-recovery.cy.ts
  frontend/cypress/e2e/critical-auth-flow.cy.ts
  frontend/cypress/e2e/critical-auth-persistence-regression.cy.ts
  frontend/cypress/e2e/critical-basic-flow.cy.ts
  frontend/cypress/e2e/critical-cross-platform.cy.ts
  frontend/cypress/e2e/critical-data-pipeline.cy.ts
  frontend/cypress/e2e/critical-state-auth.cy.ts
  frontend/cypress/e2e/critical-tests-index.cy.ts
  frontend/cypress/e2e/critical-ui-ux-alignment.cy.ts
  frontend/cypress/e2e/critical-websocket-flow.cy.ts
  frontend/cypress/e2e/critical-websocket-resilience.cy.ts
  frontend/cypress/support/websocket-test-helpers.ts
Due: new-file-compliance, edited-lines-check

feat(backend): enhance agent service core with improved error handling
  netra_backend/app/services/agent_service_core.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test(e2e): update startup comprehensive test
  tests/e2e/test_dev_launcher_startup_comprehensive.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(framework): improve test framework and environment isolation
  shared/isolated_environment.py
  test_framework/auth_helpers.py
  test_framework/conftest_real_services.py
  test_framework/http_client.py
  test_framework/real_services.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs: add critical path validation report and Cypress debug test
  CRITICAL_PATH_VALIDATION_REPORT.md
  frontend/cypress/e2e/debug-simple-workflow.cy.ts
Due: new-file-compliance, edited-lines-check

test(e2e): strengthen E2E test suites with improved reliability
  tests/clients/auth_client.py
  tests/e2e/agent_collaboration_helpers.py
  tests/e2e/agent_orchestration_fixtures.py
  tests/e2e/clickhouse_billing_helper.py
  tests/e2e/test_agent_billing_flow.py
  tests/e2e/test_agent_billing_flow_real.py
  tests/e2e/test_agent_billing_flow_simplified.py
  tests/e2e/test_agent_circuit_breaker_e2e.py
  tests/e2e/test_agent_circuit_breaker_simple.py
  tests/e2e/test_agent_collaboration_real.py
  tests/e2e/test_agent_context_accumulation.py
  tests/e2e/test_agent_coordination.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(integration): improve integration tests with better coverage
  tests/integration/test_auth_service_verification_fixes.py
  tests/integration/test_billing_payment_integration.py
  tests/integration/test_configuration_access_pattern_fixes.py
  tests/integration/test_database_auth_logging_focused.py
  tests/integration/test_database_auth_standalone.py
  tests/integration/test_oauth_token_flow.py
  tests/mission_critical/test_websocket_agent_events_suite.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs(tests): add Cypress test upgrade report and integration fixes
  CYPRESS_TEST_UPGRADE_REPORT.md
  tests/integration/FIXES/test_auth_service_verification_fixes_report.md
  tests/integration/FIXES/test_billing_payment_integration_report.md
  tests/integration/FIXES/test_configuration_access_pattern_fixes_report.md
  tests/integration/FIXES/test_database_auth_logging_issues_fix_report.md
  tests/integration/FIXES/test_oauth_token_flow_report.md
Due: none

docs: update staging test audit report to resolved status
  STAGING_TEST_AUDIT_REPORT.md
Due: none

test(cypress): cleanup and improve agent workflow tests
  frontend/cypress/e2e/debug-simple-workflow.cy.ts
  frontend/cypress/e2e/simple-agent-workflow.cy.ts
Due: new-file-compliance, edited-lines-check

feat(backend): add WebSocket event verification to startup
  netra_backend/app/startup_module_deterministic.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test: reorganize critical path tests to skip files
  netra_backend/tests/integration/critical_paths/test_database_initialization_duplication.py.skip
  netra_backend/tests/integration/critical_paths/test_multi_device_session_sync.py.skip
Due: none

test(e2e): enhance test suites with WebSocket agent events and circuit breaker patterns
  TEST_DOCKER_ENV_AUDIT_REPORT.md
  frontend/cypress/e2e/agent-interaction-flow.cy.ts
  frontend/cypress/e2e/apex_optimizer_agent_v3.cy.ts
  frontend/cypress/e2e/complete-auth-flow.cy.ts
  frontend/cypress/e2e/demo-chat-agents.cy.ts
  frontend/cypress/e2e/demo-chat-utilities.cy.ts
  frontend/cypress/e2e/demo-export-reporting.cy.ts
  frontend/cypress/e2e/simple-websocket.cy.ts
  tests/e2e/integration/test_agent_orchestration_real_llm.py
  tests/e2e/test_agent_failure_recovery.py
  tests/e2e/test_agent_orchestration_e2e_comprehensive.py
  tests/e2e/test_agent_orchestration_real_llm.py
  tests/integration/FIXES/test_workflow_system_integration_report.md
  tests/integration/test_workflow_system_integration.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

build: add GCP Cloud Build configurations
  cloudbuild-auth.yaml
  cloudbuild-frontend.yaml
Due: none

test(frontend): add unified Jest configuration
  frontend/jest.config.unified.cjs
Due: none

docs: add chat test report
  chat_test_report.md
Due: none

fix(docker): use alpine-based images for memory optimization
  docker-compose.alpine.yml
  frontend/__tests__/chat/message-exchange.test.tsx
  frontend/__tests__/components/chat/MessageInput/validation-fixed.test.tsx
  frontend/__tests__/integration/comprehensive/collaboration-sync.test.tsx
  frontend/__tests__/integration/offline-mode.test.tsx
  frontend/__tests__/integration/session-management.test.tsx
  frontend/__tests__/integration/thread-switching-comprehensive.test.tsx
  frontend/__tests__/integration/thread-switching.test.tsx
  test_framework/centralized_docker_manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

feat(backend): enhance WebSocket event system for agent execution
  netra_backend/app/agents/supervisor/websocket_notifier.py
  netra_backend/app/agents/unified_tool_execution.py
  netra_backend/app/websocket_core/event_monitor.py
  netra_backend/app/websocket_core/manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test(e2e): update Cypress tests for current system integration
  frontend/cypress/e2e/optimization-results-flow.cy.ts
  frontend/cypress/e2e/user-notifications-preferences.cy.ts
  frontend/cypress/e2e/user-password-management.cy.ts
  frontend/cypress/e2e/user-profile-basic.cy.ts
  frontend/cypress/e2e/user-security-privacy.cy.ts
Due: new-file-compliance, edited-lines-check

test(integration): enhance agent error recovery with circuit breaker patterns
  tests/integration/test_agent_error_recovery.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs(tests): add comprehensive test analysis and upgrade reports
  CHAT_TEST_FAILURE_ANALYSIS_REPORT.md
  E2E_TEST_UPDATE_REPORT.md
Due: none

test(backend): strengthen critical path and session tests
  netra_backend/app/startup_module_deterministic.py
  netra_backend/tests/integration/critical_paths/test_session_invalidation_cascade.py
  netra_backend/tests/integration/critical_paths/test_session_persistence_restart.py
  tests/conftest.py
  tests/e2e/helpers/websocket/websocket_test_helpers.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs: add system audit reports and deployment logs
  CYPRESS_REAL_LLM_AGENT_TEST_REPORT.md
  SSOT_REMEDIATION_PLAN.md
  SSOT_VIOLATIONS_AUDIT_REPORT.md
  deployment_log.txt
Due: none

test(e2e): update API keys management test for current system
  frontend/cypress/e2e/user-api-keys.cy.ts
Due: new-file-compliance, edited-lines-check

feat(test-framework): add E2E service orchestration with Docker integration
  test_framework/conftest_real_services.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

feat(test-framework): implement ServiceOrchestrator for E2E Docker management
  test_framework/service_orchestrator.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs(tests): add agent error recovery test CLAUDE.md compliance report
  tests/integration/FIXES/test_agent_error_recovery_report.md
Due: none

feat(scripts): add E2E service orchestration testing script
  scripts/test_service_orchestration.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test: reorganize and clean up test suite
  netra_backend/tests/config/test_environment_configuration_consistency.py.skip
  netra_backend/tests/critical/test_configuration_deployment_cycles_91_100.py.skip
  netra_backend/tests/critical/test_dev_launcher_clickhouse_migration_fallback_state_consistency.py
  netra_backend/tests/integration/critical_paths/test_startup_manager_integration.py.skip
  netra_backend/tests/integration/critical_paths/test_websocket_silent_failures.py
  netra_backend/tests/startup/test_basic_startup.py.skip
  netra_backend/tests/startup/test_configuration_drift_detection.py
  netra_backend/tests/startup/test_migration_race_condition.py.skip
  netra_backend/tests/unified_system/test_dev_launcher_startup.py
  tests/critical/test_health_route_configuration_chaos.py
  tests/critical/test_health_route_integration_failures.py
  tests/e2e/integration/test_staging_service_initialization_regression.py.skip
  tests/e2e/test_dev_launcher_startup_comprehensive.py
  tests/e2e/test_startup_integration.py.skip
  tests/integration/test_asyncio_backend_startup_safety.py.skip
  tests/mission_critical/test_supervisor_initialization_suite.py.skip
  tests/mission_critical/test_supervisor_real_services.py.skip
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(frontend): enhance WebSocket test infrastructure
  frontend/WEBSOCKET_MOCK_SETUP_REPORT.md
  frontend/__tests__/components/chat/MessageInput/focus-ui.test.tsx
  frontend/__tests__/helpers/websocket-test-helpers.ts
  frontend/__tests__/test-utils/websocket-test-utils.tsx
  frontend/__tests__/websocket-mock-validation.test.ts
  frontend/jest.setup.js
Due: new-file-compliance, edited-lines-check

refactor(backend): enforce SSOT in token service
  netra_backend/app/services/token_service.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

chore(dev-launcher): remove deprecated startup validator references
  dev_launcher/launcher.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

docs: add audit reports and deployment logs
  BACKEND_DEPLOYMENT_AUDIT_REPORT.md
  WEBSOCKET_SILENT_FAILURE_FIXES.md
  backend_logs.txt
  backend_runtime_logs.txt
  backend_warnings_errors.txt
  deployment_log.txt
Due: none

fix(websocket): resolve startup validation failure
  netra_backend/app/websocket_core/manager.py
  tests/post_deployment/test_auth_integration.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation
