Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

feat(websocket): complete Issue #824 SSOT WebSocket Manager consolidation with enhanced broadcasting and cleanup
  netra_backend/app/websocket_core/unified_manager.py
  test_direct_timeout_validation.py
  test_timeout_validation.py
  tests/unit/issue_824_phase1/test_websocket_manager_canonical_source_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(websocket): finalize Issue #824 SSOT interface compliance with connection statistics enhancement
  netra_backend/app/websocket_core/unified_manager.py
  tests/unit/issue_824_phase1/test_websocket_manager_canonical_source_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(testing): correct thread performance utils import path for absolute import compliance
  tests/e2e/fixtures/core/thread_test_fixtures_core.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Complete Issue #847 WebSocket Environment Variable Mapping Gap - RESOLVED
  issue_847_resolution_summary.txt
Due: docker-force-flag-prohibition

feat: add comprehensive agents test failure analysis
  FAILING-TEST-GARDENER/FAILING-TEST-GARDENER-WORKLOG-critical-2025-09-13.md
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-agents-2025-09-13.md
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-all-2025-09-14.md
Due: docker-force-flag-prohibition

test(validation): Add Issue #818 pytest timeout configuration validation script
  validate_issue_818_fix.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Add SSOT ExecutionEngine fragmentation tracking (Issue #874)
  SSOT-incomplete-migration-execution-engine-fragmentation.md
  netra_backend/app/websocket_core/websocket_manager.py
  tests/conftest.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: add temporary staging test execution script
  temp_staging_test.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(gcp): Add critical GCP log gardener worklog for staging deployment issues
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-13-180251.md
Due: docker-force-flag-prohibition

feat(testing): Add comprehensive BaseAgent integration test suite
  netra_backend/tests/integration/agents/test_base_agent_integration_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Add SSOT regression tracking for DeepAgentState migration incomplete
  SSOT-regression-DeepAgentState-migration-incomplete-blocking-Golden-Path.md
Due: docker-force-flag-prohibition

feat: SSOT DeepAgentState test discovery complete
  SSOT-AgentState-DuplicateDeepAgentStateDefinitions.md
Due: docker-force-flag-prohibition

docs(gcp): add GCP log gardener worklog for staging infrastructure monitoring
  SSOT-AgentState-DuplicateDeepAgentStateDefinitions.md
  SSOT-incomplete-migration-ThreadState-duplicate-definitions.md
Due: docker-force-flag-prohibition

docs: Add ThreadState SSOT violation tracking document (Issue #879)
  netra_backend/tests/integration/agents/test_agent_registry_multi_user_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Update SSOT analysis with comprehensive test discovery and migration status
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-goldenpath-2025-01-14.md
  tests/unit/issue_863_agent_registry_ssot/__init__.py
  tests/unit/issue_863_agent_registry_ssot/test_agent_registry_duplication_conflicts.py
  tests/unit/issue_863_agent_registry_ssot/test_websocket_integration_conflicts.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Update claude-instance-orchestrator.py
  scripts/claude-instance-orchestrator.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Update system status reports with latest staging and GCP analysis
  STAGING_TEST_REPORT_PYTEST.md
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-13.md
Due: docker-force-flag-prohibition

chore(frontend): Update dependencies and mock service worker
  frontend/package-lock.json
Due: none

docs: Update SSOT regression tracking with comprehensive test discovery
  STAGING_TEST_REPORT_PYTEST.md
  netra_backend/tests/unit/agent_execution/test_execution_state_transitions.py
  tests/unit/issue_863_agent_registry_ssot/test_agent_registry_duplication_conflicts.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Final system status updates and WebSocket execution test enhancements
  STAGING_TEST_REPORT_PYTEST.md
  netra_backend/tests/critical/test_websocket_execution_engine.py
  netra_backend/tests/e2e/websocket_core/test_websocket_agent_communication_e2e.py
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-all-2025-09-14.md
  tests/unit/ssot/test_deepagentstate_ssot_violations.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: Add SSOT progress tracker for IDType.RUN missing violation
  SSOT-incomplete-migration-IDType-RUN-Missing.md
Due: docker-force-flag-prohibition

feat: Add SSOT agent execution engine factory violation tracker
  SSOT-incomplete-migration-multiple-execution-engine-factories-blocking-ai-responses.md
Due: docker-force-flag-prohibition

feat: comprehensive WebSocket and SSOT testing improvements
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-agents-2025-09-13.md
  netra_backend/app/agents/migration/deepagentstate_adapter.py
  tests/e2e/agents/test_multi_user_isolation_validation_e2e.py
  tests/e2e/agents/test_supervisor_agent_orchestration_e2e.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: SSOT DeepAgentState test execution complete - violation proven
  SSOT-AgentState-DuplicateDeepAgentStateDefinitions.md
Due: docker-force-flag-prohibition

docs: Update SSOT progress tracker - Step 1 test discovery in progress
  SSOT-incomplete-migration-IDType-RUN-Missing.md
Due: docker-force-flag-prohibition

docs: Update SSOT agent state analysis and GCP log gardener results
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-13.md
Due: docker-force-flag-prohibition

Process P0 critical issue: Agent Execution Core Complete Failure
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-agents-2025-09-14-1732.md
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-critical-2025-09-14.md
  agents_test_coverage_plan.md
  coverage_agents.json
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-14.md
  netra_backend/tests/agents/test_agent_lifecycle_core.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: add critical Issue #859 execution engine SSOT test and worklog updates
  tests/integration/test_issue_859_execution_engine_ssot_violations.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Complete Step 1 test discovery - comprehensive analysis
  SSOT-incomplete-migration-IDType-RUN-Missing.md
Due: docker-force-flag-prohibition

fix(ssot): Phase 2A-2B SSOT DeepAgentState schema enhancement and production file migration batch 1
  netra_backend/app/agents/agent_lifecycle.py
  netra_backend/app/agents/artifact_validator.py
  netra_backend/app/agents/input_validation.py
  netra_backend/app/agents/supervisor/modern_execution_helpers.py
  netra_backend/app/agents/synthetic_data_approval_handler.py
  netra_backend/app/agents/synthetic_data_metrics_handler.py
  netra_backend/app/agents/synthetic_data_sub_agent_workflow.py
  netra_backend/tests/integration/agents/test_agent_execution_comprehensive.py
  netra_backend/tests/integration/concurrency/test_concurrent_execution_comprehensive.py
  netra_backend/tests/integration/test_thread_creation_comprehensive.py
  netra_backend/tests/integration/threads/test_thread_lifecycle_comprehensive.py
  netra_backend/tests/unit/websocket/test_connection_id_generation.py
  netra_backend/tests/unit/websocket/test_message_routing_logic.py
  netra_backend/tests/unit/websocket_core/test_isolated_websocket_manager_comprehensive.py
  netra_backend/tests/unit/websocket_core/test_websocket_manager_race_conditions.py
  temp_audit_update.md
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-all-2025-09-14-130100.md
  tests/issue_871_deepagentstate_ssot_test_plan.md
  tests/unit/issue_824_phase1/DEEP_AGENT_STATE_SSOT_TEST_EXECUTION_REPORT.md
  tests/unit/ssot/test_agent_lifecycle_import_compliance.py
  tests/unit/ssot/test_agent_lifecycle_regression_prevention.py
  tests/unit/ssot/test_deepagentstate_interface_consistency.py
  tests/unit/ssot/test_deepagentstate_production_imports.py
  tests/unit/ssot/test_deepagentstate_runtime_errors.py
  tests/unit/ssot/test_production_import_audit_ongoing.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(failing-tests): add GitHub issue tracking for P0 agent execution failure
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-agents-2025-09-14-1732.md
Due: docker-force-flag-prohibition

chore(staging): update test execution report - empty run results
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

fix: Update WebSocket test imports to use SSOT manager pattern
  netra_backend/tests/unit/websocket/test_websocket_id_migration_uuid_exposure.py
  netra_backend/tests/unit/websocket_core/test_websocket_connection_management_unit.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(failing-tests): comprehensive critical system failures analysis
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-critical-2025-09-14.md
Due: docker-force-flag-prohibition

test(agents): add agent communication core test infrastructure
  netra_backend/tests/agents/test_agent_communication_core.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(e2e): add domain expert agents comprehensive E2E test suite
  tests/e2e/test_domain_experts_e2e_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(ssot): add comprehensive DeepAgentState SSOT violation detection tests
  tests/integration/golden_path/test_deepagentstate_consistency.py
  tests/unit/ssot/test_deepagentstate_ssot_violations.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(gcp): Add GCP log gardener analysis worklog for 2025-09-14
  SSOT-incomplete-migration-multiple-execution-engine-factories-blocking-ai-responses.md
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-14.md
Due: docker-force-flag-prohibition

feat: comprehensive DeepAgentState SSOT testing and Golden Path validation
  tests/unit/ssot/test_agent_lifecycle_user_isolation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
