Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

feat: Complete SSOT agent factory test validation phase
  SSOT-incomplete-migration-multiple-execution-engine-factories-blocking-ai-responses.md
Due: docker-force-flag-prohibition

docs: Complete Step 6 - Issue #884 SSOT consolidation PR creation and closure
  SSOT-incomplete-migration-multiple-execution-engine-factories-blocking-ai-responses.md
Due: docker-force-flag-prohibition

docs: Update staging test report timestamp - CYCLE 7 monitoring
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

feat: Complete SSOT Gardener mission for Issue #884
  SSOT-incomplete-migration-multiple-execution-engine-factories-blocking-ai-responses.md
Due: docker-force-flag-prohibition

feat: Add Issue #881 GCP Cloud Run pytest marker for staging E2E test classification
  pyproject.toml
Due: none

feat: Export configure_service_logging from shared logging SSOT interface
  shared/logging/__init__.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Update staging test report timestamp - CYCLE 8 monitoring
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

docs: Update staging test report timestamp - CYCLE 8 continuous monitoring
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

fix: Update Golden Path E2E test to use shared IsolatedEnvironment SSOT import
  tests/e2e/staging/websocket_consolidation/test_golden_path_complete_flow.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Update staging test report timestamp - CYCLE 8 extended monitoring
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

docs: Update staging test report timestamp - CYCLE 8 ongoing monitoring
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

docs: Update staging test report timestamp - CYCLE 8 continuous validation
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

fix(deps): Add Docker SDK >=7.1.0 dependency for Issue #878
  dockerfiles/requirements/requirements-infrastructure.txt
  requirements.txt
Due: docker-force-flag-prohibition

docs: Correct staging validation report timestamp to current date
  staging_deployment_validation_report_issue_335.md
Due: docker-force-flag-prohibition

feat: Align staging test imports with SSOT unified execution framework
  tests/e2e/gcp_staging/test_unified_test_runner_gcp_staging.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Complete Issue #878 Docker SDK dependency and validation test
  tests/mission_critical/test_execution_engine_ssot_violations.py
  tests/unit/docker/test_issue_878_docker_sdk_dependency_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

a
  ...prompts/improve_test_coverage.md
  .claude/commands/gitissueprogressorv2.md
  .claude/commands/runtests.md
  .claude/commands/ssotgardener.md
  tests/debug/jwt_secret_test_simple.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Update staging test report timestamp - CYCLE 11 comprehensive monitoring
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

docs: Create SSOT agent violations progress tracker
  SSOT-regression-agent-execution-engine-multiplicity-blocking-golden-path.md
Due: docker-force-flag-prohibition

feat(ssot): Create ExecutionEngine consolidation issue tracking
  SSOT-ExecutionEngine-CompleteConsolidationRequired.md
Due: docker-force-flag-prohibition

feat: WIP changes before PR merge operations
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-agents-2025-09-14-0752.md
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-critical-2025-09-14T02-55.md
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-14.md
  tests/mission_critical/test_execution_engine_import_analysis.py
  tests/mission_critical/test_execution_engine_ssot_violations.py
  tests/mission_critical/test_factory_pattern_consolidation.py
  tests/mission_critical/test_user_execution_engine_canonical.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat: Create progress tracking for Configuration Manager SSOT violation remediation
  SSOT-incomplete-migration-Configuration-Manager-Duplication.md
Due: docker-force-flag-prohibition

SSOT: Add tracking file for Issue #914 - Duplicate AgentRegistry Classes
  SSOT-incomplete-migration-Duplicate-AgentRegistry-Classes-Blocking-Golden-Path.md
Due: docker-force-flag-prohibition

feat(ssot): Complete test discovery phase with new SSOT validation tests
  merges/MERGEISSUE-2025-09-14-git-gardener.md
  netra_backend/tests/unit/agents/test_actions_goals_plan_builder_uvs_comprehensive.py
  tests/e2e/agent_orchestration/test_agent_handoff_chain_validation.py
  tests/e2e/agent_orchestration/test_supervisor_multi_user_isolation.py
  tests/integration/agents/test_base_agent_infrastructure_integration.py
  tests/mission_critical/test_user_execution_engine_isolation.py
  tests/mission_critical/test_websocket_events_routing.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

refactor(tests): Update DeepAgentState import paths to follow SSOT patterns
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-critical-2025-09-14T02-55.md
  tests/agents/test_agent_outputs_business_logic.py
  tests/agents/test_supervisor_websocket_integration.py
  tests/critical/test_user_data_leakage_reproduction.py
  tests/debug/test_actual_bug_status.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Resolve DeepAgentState import error in unit test
  netra_backend/app/agents/state.py
  netra_backend/tests/unit/agents/supervisor/test_agent_execution_core_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(worklog): update PR merge operations status tracking
  PR-WORKLOG-all-2025-09-13.md
Due: docker-force-flag-prohibition

test(analysis): catalog agent test failures and coverage gaps
  FAILING-TEST-GARDENER/FAILING-TEST-GARDENER-WORKLOG-agents-2025-09-13-19-58.md
Due: docker-force-flag-prohibition

ops(monitoring): analyze critical production issues in GCP staging logs
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-14-195559.md
Due: docker-force-flag-prohibition

feat: Add GCP log gardener analysis for critical WebSocket and session issues
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-14.md
Due: docker-force-flag-prohibition

feat: Update worklog with GitHub issue tracking for WebSocket event structure
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-critical-2025-09-13-1956.md
Due: docker-force-flag-prohibition

docs(pr-ops): complete PR merge cycle with successful closures
  PR-WORKLOG-all-2025-09-13.md
Due: docker-force-flag-prohibition

docs(tests): Update staging test report with 66.7% pass rate improvement
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

refactor(tests): Update DeepAgentState import paths to SSOT schema location
  tests/e2e/agent_orchestration/__init__.py
  tests/e2e/agent_orchestration/test_websocket_agent_coordination.py
  tests/e2e/agents/supervisor/test_agent_execution_core_comprehensive_e2e.py
  tests/e2e/agents/supervisor/test_agent_execution_core_e2e.py
  tests/e2e/agents/supervisor/test_agent_execution_websocket_events_comprehensive_e2e.py
  tests/e2e/agents/test_agent_state_persistence_e2e.py
  tests/e2e/agents/test_multi_user_isolation_validation_e2e.py
  tests/e2e/agents/test_supervisor_agent_orchestration_e2e.py
  tests/mission_critical/test_websocket_agent_events_suite.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(tests): Add comprehensive agent test infrastructure for UVS and permissions
  netra_backend/tests/unit/agents/test_actions_goals_plan_builder_uvs.py
  netra_backend/tests/unit/agents/test_tool_permission_layer_comprehensive.py
  tests/integration/agents/test_user_execution_engine_comprehensive_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(tests): Add mission critical ExecutionEngine validation and lifecycle tests
  tests/mission_critical/test_execution_engine_lifecycle.py
  tests/mission_critical/test_execution_engine_ssot_enforcement.py
  tests/mission_critical/test_server_message_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(tools): Add ExecutionEngine SSOT validation demonstration runner
  netra_backend/tests/unit/agents/test_tool_permission_layer.py
  test_execution_engine_ssot_runner.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(pr-ops): finalize complete PR processing cycle
  PR-WORKLOG-all-2025-09-13.md
Due: docker-force-flag-prohibition

docs: Complete PR merge worklog - all PRs successfully processed
  PR-WORKLOG-all-2025-09-13.md
Due: docker-force-flag-prohibition

fix(tests): correct DeepAgentState import for SSOT compliance
  netra_backend/tests/agents/test_agent_lifecycle_core.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
