Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation, protect-staging-config

Path conditions:
  new-file-compliance: any of: \.(py|ts|tsx)$
  edited-lines-check: any of: \.(py|ts|tsx)$
  prevent-new-relative-imports: any of: \.py$
  main-code-quality: any of: ^(netra_backend/app|auth_service/auth_core|frontend/src)/.*\.(py|ts|tsx)$
  test-file-leniency: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  new-duplicate-prevention: any of: \.py$
  check-environment-isolation: any of: (test_.*\.py|.*_test\.py|tests/.*\.py|conftest\.py)$
  protect-staging-config: any of: netra_backend/app/schemas/config\.py$

fix(validation): resolve WebSocket handler validation false positive
  BUG_FIX_REPORT_TEST_FAILURES.md
  netra_backend/tests/unit/test_new_user_critical_flows.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(frontend): enhance Cypress test infrastructure and auth alignment
  frontend/cypress/MIGRATION_GUIDE.md
  frontend/cypress/e2e/auth-alignment-test.cy.ts
  frontend/cypress/e2e/thread-test-helpers.ts
  frontend/cypress/e2e/utils/state-test-utilities.ts
  frontend/cypress/support/auth-helpers.ts
  frontend/cypress/support/commands.ts
  frontend/cypress/support/e2e.ts
  frontend/cypress/support/file-upload-utilities.ts
  frontend/cypress/support/test-auth-config.ts
  frontend/cypress/support/user-settings-helpers.ts
Due: new-file-compliance, edited-lines-check

test(backend): update test configuration and add simple agent flow test
  netra_backend/tests/conftest.py
  netra_backend/tests/e2e/conftest.py
  netra_backend/tests/e2e/test_simple_agent_flow.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(framework): enhance test framework with real services support
  test_framework/conftest_real_services.py
  test_framework/unified_docker_manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(e2e): update critical E2E tests for auth, health, and websocket
  tests/e2e/critical/test_auth_jwt_critical.py
  tests/e2e/critical/test_service_health_critical.py
  tests/e2e/critical/test_websocket_critical.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(e2e): enhance E2E test infrastructure and helper utilities
  tests/clients/auth_client.py
  tests/e2e/agent_billing_test_helpers.py
  tests/e2e/config.py
  tests/e2e/conftest.py
  tests/e2e/dynamic_port_manager.py
  tests/e2e/enforce_real_services.py
  tests/e2e/message_flow_helpers.py
  tests/e2e/real_services_manager.py
  tests/e2e/test_agent_compensation_integration_fixtures.py
  tests/e2e/test_agent_compensation_integration_helpers.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(e2e): update E2E integration and flow tests
  tests/e2e/integration/test_database_connections.py
  tests/e2e/test_agent_billing_flow.py
  tests/e2e/test_agent_billing_flow_real.py
  tests/e2e/test_agent_billing_flow_simplified.py
  tests/e2e/test_agent_circuit_breaker_simple.py
  tests/e2e/test_agent_message_flow_implementation.py
  tests/e2e/test_agent_orchestration.py
  tests/e2e/test_authentication_flow.py
  tests/e2e/test_authentication_token_flow.py
  tests/e2e/test_message_flow.py
  tests/e2e/test_message_flow_comprehensive_e2e.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs: add compliance reports and development documentation
  AGENT_COMPENSATION_TESTS_CLAUDE_MD_COMPLIANCE_REPORT.md
  DEFINITION_OF_DONE_CHECKLIST.md
  MASTER_WIP_STATUS.md
  standalone_test/test_agent_components.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

ci: enhance GitHub Actions workflows with PR comment infrastructure
  .github/actions/consolidated-pr-status/action.yml
  .github/actions/pr-comment/action.yml
  .github/workflows/README_PR_COMMENTS.md
  .github/workflows/agent-startup-e2e-tests.yml
  .github/workflows/ci-balanced.yml
  .github/workflows/ci-fail-fast.yml
  .github/workflows/ci-max-parallel.yml
  .github/workflows/ci-orchestrator.yml
  .github/workflows/cleanup.yml
  .github/workflows/database-regression-tests.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/mission-critical-tests.yml
  .github/workflows/unified-test-runner.yml
  scripts/update_github_actions_comments.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

test: enhance Docker test infrastructure with parallel execution
  docker-compose.test.yml
  scripts/test_parallel_docker_manager.py
  test_framework/unified_docker_manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(e2e): streamline E2E test infrastructure and remove mocks
  tests/e2e/health_cascade_unit_tests.py
  tests/e2e/helpers/agent/agent_orchestration_runner.py
  tests/e2e/helpers/auth/auth_service_helpers.py
  tests/e2e/helpers/llm_config_detector.py
  tests/e2e/integration/auth_flow_manager.py
  tests/e2e/integration/test_agent_pipeline_real.py
  tests/e2e/integration/test_backend_frontend_state_synchronization.py
  tests/e2e/integration/test_cors_configuration.py
  tests/e2e/integration/test_dev_launcher_critical_path.py
  tests/e2e/integration/test_dev_launcher_startup.py
  tests/e2e/integration/test_dev_launcher_startup_complete.py
  tests/e2e/integration/test_frontend_build_script_staging_regression.py
  tests/e2e/integration/test_multi_session_isolation.py
  tests/e2e/integration/test_service_health_checks.py
  tests/e2e/journeys/test_complete_oauth_chat_journey.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs: update documentation and audit reports with latest timestamps
  DOCKER_CENTRALIZED_MANAGEMENT_DOCUMENTATION_SUMMARY.md
  DOCKER_CRASH_AUDIT_REPORT.md
  DOCKER_SSOT_AUDIT_REPORT.md
  E2E_ENVIRONMENT_MIGRATION_COMPLETE.md
  LLM_MASTER_INDEX.md
  docs/CYPRESS_UNIFIED_TESTING.md
  docs/testing/TESTING_GUIDE.md
Due: none

spec: update learnings and remove deprecated WIP entries
  SPEC/learnings/docker_centralized_management.xml
  SPEC/learnings/index.xml
  SPEC/master_wip_index.xml
Due: none

Update BUG_FIX_REPORT_TEST_FAILURES.md
  BUG_FIX_REPORT_TEST_FAILURES.md
Due: none

feat(test): implement dynamic port allocator for parallel test execution
  test_framework/dynamic_port_allocator.py
  test_framework/tests/test_dynamic_port_allocator.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(test): integrate dynamic port allocation into docker framework
  test_framework/docker_port_discovery.py
  test_framework/unified_docker_manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs(spec): add learnings from port management remediation
  SPEC/learnings/port_management_remediation.xml
Due: none

Create GCP_STAGING_AGENT_TRIAGE_ANALYSIS.md
  GCP_STAGING_AGENT_TRIAGE_ANALYSIS.md
Due: none

feat(test): implement Docker test orchestration with Alpine images
  docker-compose.alpine-test.yml
  docker-compose.test.yml
  docker/auth.alpine.Dockerfile
  docker/backend.alpine.Dockerfile
  docker/frontend.alpine.Dockerfile
  test_framework/docker_orchestrator.py
  test_framework/dynamic_port_allocator.py
  test_framework/integrated_test_runner.py
  test_framework/port_conflict_fix.py
  test_framework/unified_docker_manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

fix(websocket): enhance WebSocket manager initialization and agent integration
  netra_backend/app/agents/supervisor/agent_registry.py
  netra_backend/app/agents/tool_dispatcher_core.py
  netra_backend/app/core/error_recovery_integration.py
  netra_backend/app/core/websocket_recovery_strategies.py
  netra_backend/app/services/agent_websocket_bridge.py
  netra_backend/app/websocket_core/manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

fix(auth): improve auth service configuration and startup sequence
  auth_service/auth_core/config.py
  netra_backend/app/startup_module_deterministic.py
  scripts/test_auth_fix_simple.py
  scripts/test_auth_service_integration_fix.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(critical): enhance critical test suites with improved validation
  junit.xml
  tests/critical/test_auth_cross_system_failures.py
  tests/critical/test_health_route_response_validation.py
  tests/critical/test_websocket_manager_never_none_fix.py
  tests/unified_test_runner.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs: add comprehensive documentation and audit reports
  AUDIT_DOCKER_TEST_ORCHESTRATION.md
  AUDIT_SSOT_TOOL_ENHANCEMENT.md
  AUTH_SERVICE_INTEGRATION_FIX_REPORT.md
  CLAUDE.md
  DOCKER_QUICKSTART.md
  DOCKER_TEST_ORCHESTRATION.md
  GCP_STAGING_AGENT_TRIAGE_ANALYSIS.md
  PORT_CONFLICT_FIX_SUMMARY.md
  SSOT_TOOL_ENHANCEMENT_FIX_PLAN.md
  WEBSOCKET_MANAGER_NONE_FIX_REPORT.md
  readme.md
Due: none

chore(deploy): add debugging to GCP deployment script
  scripts/deploy_to_gcp.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

fix(startup): finalize WebSocket integration and startup sequence
  netra_backend/app/agents/supervisor/agent_registry.py
  netra_backend/app/agents/unified_tool_execution.py
  netra_backend/app/startup_module_deterministic.py
  scripts/docker_ssot.py
  tests/mission_critical/test_websocket_agent_events_suite.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(docker): replace docker_ssot with unified docker management
  SSOT_TOOL_ENHANCEMENT_MIGRATION.md
  docs/docker_orchestration.md
  scripts/docker_manual.py
  scripts/docker_ssot.py
  test_framework/unified_docker_manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

feat(factory-status): enhance metrics tracking and reporting
  netra_backend/app/services/factory_status/git_commit_parser.py
  netra_backend/app/services/factory_status/metrics_velocity.py
  netra_backend/app/services/factory_status/report_builder.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

fix(agents): improve WebSocket bridge integration and tool execution
  netra_backend/app/agents/tool_dispatcher_core.py
  netra_backend/app/agents/unified_tool_execution.py
  netra_backend/app/startup_module_deterministic.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test(websocket): enhance mission-critical WebSocket test suite
  test_ssot_fix_verification.py
  tests/mission_critical/test_websocket_agent_events_suite.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs: update CLAUDE.md and add Playwright testing audit
  CLAUDE.md
  PLAYWRIGHT_TESTING_AUDIT.md
Due: none

fix(factory-status): finalize git commit parser improvements
  netra_backend/app/services/factory_status/git_commit_parser.py
  test_commit_grouping_improvements.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor: remove legacy fallback code for WebSocket integration
  netra_backend/app/agents/supervisor/agent_registry.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(websocket): replace WebSocketNotifier with AgentWebSocketBridge
  netra_backend/app/agents/supervisor/execution_engine.py
  netra_backend/app/agents/supervisor/websocket_notifier.py
  netra_backend/app/agents/supervisor_consolidated.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test(websocket): enhance WebSocket bridge test coverage
  netra_backend/tests/mission_critical/test_websocket_agent_events_bridge.py
  netra_backend/tests/services/test_agent_websocket_bridge.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs(learnings): add WebSocket bridge architectural insights
  SPEC/learnings/index.xml
  SPEC/learnings/playwright_testing_advantages.xml
  SPEC/learnings/websocket_bridge_architectural_emergency.xml
Due: none

fix(factory-status): improve mock data generator reliability
  netra_backend/app/services/factory_status/mock_data_generator.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

chore(workflow): add Git workflow improvements and bridge tests
  GIT_WORKFLOW_IMPROVEMENTS.md
  test_bridge_updates.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

chore(cleanup): remove obsolete commit grouping test file
  test_commit_grouping_improvements.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(validator): update critical path validator for AgentWebSocketBridge
  netra_backend/app/core/critical_path_validator.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention
