Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$

fix(tests): Clean up import statements and test infrastructure
  netra_backend/tests/unit/websocket/test_handlers_business_logic.py
  scripts/tests/test_deployment_error_scenarios.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(issue757): Add staging deployment validation report
  ISSUE_757_STAGING_DEPLOYMENT_VALIDATION_REPORT.md
Due: docker-force-flag-prohibition

fix(issue757): Complete SSOT configuration manager migration cleanup
  netra_backend/app/agents/execution_engine_unified_factory.py
  netra_backend/app/core/managers/execution_engine_factory.py
  netra_backend/tests/unit/agents/supervisor/test_user_execution_engine_issue758_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): Final SSOT import compliance and test infrastructure improvements
  netra_backend/tests/unit/websocket/test_connection_id_generation.py
  netra_backend/tests/unit/websocket/test_handlers_business_logic.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(issue-758): Complete SSOT import remediation and system stability documentation
  ISSUE_731_GITHUB_PROOF_COMMENT.md
  ISSUE_731_SYSTEM_STABILITY_PROOF_REPORT.md
  netra_backend/tests/integration/websocket_messaging/test_websocket_messaging_flow_comprehensive_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(ssot): Complete Phase 2 factory consolidation with SSOT redirect pattern
  netra_backend/app/db/transaction_errors.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(ssot): Add RequestScopedExecutionEngineFactory compatibility alias
  netra_backend/app/agents/supervisor/execution_engine_factory.py
  netra_backend/app/db/clickhouse.py
  netra_backend/app/db/transaction_errors.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(frontend): comprehensive auth validation test coverage for Issue #786
  frontend/__tests__/lib/auth-validation-helpers.test.ts
  frontend/__tests__/unit/auth-validation-helpers.test.ts
Due: architecture-compliance, file-size-limit, type-safety-check

feat(issue-758): Add legacy compatibility layer and enhanced error handling
  netra_backend/app/db/transaction_errors.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(issue-727): Complete WebSocket test coverage final stability validation
  ISSUE_727_FINAL_STABILITY_VALIDATION_PROOF.md
Due: docker-force-flag-prohibition

docs: Phase 2 COMPLETE - Factory consolidation with ZERO business impact
  SSOT-incomplete-migration-multiple-execution-engines.md
Due: docker-force-flag-prohibition

feat(auth-validation): Add comprehensive auth validation test suite for Issue #786
  frontend/__tests__/ISSUE_785_TEST_EXECUTION_GUIDE.md
  frontend/__tests__/components/chat/react-use-params-fix.test.tsx
  frontend/__tests__/components/chat/thread-page-params.test.tsx
  frontend/__tests__/integration/chat-thread-navigation.test.tsx
Due: architecture-compliance, file-size-limit, type-safety-check, docker-force-flag-prohibition

docs(issue-786): Add Step 2 test execution results and analysis
  BUSINESS_HEALTH_REPORT.json
  frontend/__tests__/unit/sentry/test_sentry_configuration.test.tsx
  frontend/__tests__/unit/sentry/test_sentry_initialization.test.tsx
  issue_759_remediation_results.md
  issue_786_step2_github_comment.md
  issue_786_step2_test_execution_results.md
  issue_786_test_creation_summary.md
  issue_788_github_comment.md
  issue_788_sentry_integration_test_plan.md
  tests/e2e/chat-thread-navigation.test.ts
Due: architecture-compliance, file-size-limit, type-safety-check, docker-force-flag-prohibition

docs(issue-758): Update test coverage documentation with Issue #758 completion achievement
  netra_backend/app/db/transaction_errors.py
  reports/TEST_COVERAGE_SUMMARY_REPORT.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(issue-758): Add staging deployment validation documentation
  ISSUE_731_STAGING_DEPLOYMENT_VALIDATION.md
Due: docker-force-flag-prohibition

refactor(issue731): enhance retryable error classification logic
  netra_backend/app/db/transaction_errors.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(frontend): Enhance auth validation coverage targeting 96%+
  frontend/__tests__/lib/auth-validation-helpers.test.ts
Due: architecture-compliance, file-size-limit, type-safety-check

fix(frontend): Next.js 15 compatibility for dynamic thread pages
  frontend/app/chat/[threadId]/page.tsx
Due: architecture-compliance, file-size-limit, type-safety-check

feat(frontend): Add comprehensive Sentry error monitoring infrastructure
  frontend/README.md
  frontend/__tests__/integration/sentry/test_csp_and_security.test.tsx
  frontend/__tests__/integration/sentry/test_environment_isolation.test.tsx
  frontend/__tests__/integration/sentry/test_sentry_error_reporting_flow.test.tsx
  frontend/__tests__/unit/sentry/test_error_boundary_integration.test.tsx
Due: architecture-compliance, file-size-limit, type-safety-check, docker-force-flag-prohibition

feat(auth): Complete Issue #786 Step 3 - Auth validation integration enhancements
  issue_786_step3_enhancement_results.md
Due: docker-force-flag-prohibition

docs: Sync tracking document with completed Phase 1-2 SSOT consolidation
  netra_backend/tests/clickhouse/test_clickhouse_exception_specificity.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Apply final linter formatting to transaction error keywords
  netra_backend/app/db/transaction_errors.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Final transaction error test updates
  tests/unit/database/exception_handling/test_transaction_error_classification.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: Complete Phase 1-2 SSOT execution engine consolidation (Issue #759)
  netra_backend/app/db/transaction_errors.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(test-coverage): Complete Issue #786 React Error #438 fix and final validation
  frontend/__tests__/components/chat/react-error-438-minimal.test.tsx
  frontend/__tests__/components/chat/thread-page-params.test.tsx
  frontend/app/api/threads/[threadId]/route.ts
  frontend/app/chat/[threadId]/page.tsx
  frontend/issue_786_proof_results.md
Due: architecture-compliance, file-size-limit, type-safety-check, docker-force-flag-prohibition

fix(clickhouse): Issue #731 - Enhanced ClickHouse exception handling specificity
  netra_backend/app/db/transaction_errors.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: Complete Issue #786 Sentry configuration and frontend stability improvements
  config/.env.production.template
  config/.env.staging.template
  config/.env.template
  frontend/ISSUE_786_COMPLETION_SUMMARY.md
  frontend/REACT_ERROR_438_STABILITY_VALIDATION.md
  frontend/app/layout.tsx
  frontend/app/sentry-init.tsx
  frontend/components/chat/ChatErrorBoundary.tsx
  netra_backend/tests/integration/test_execution_engine_advanced_scenarios.py
  reports/test_plans/test_plan_issue_767_claude_md_import_compliance.md
  reports/test_results/issue_767_test_execution_results.md
  tests/e2e/sentry/test_conflict_prevention.test.tsx
  tests/e2e/sentry/test_production_readiness.test.tsx
  tests/e2e/sentry/test_staging_sentry_integration.test.tsx
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Final worklog and completion documentation for recent issues
  ISSUE_788_REMEDIATION_COMPLETION.md
  PR-WORKLOG-all-2025-09-13.md
Due: docker-force-flag-prohibition

docs: Complete Issue #788 documentation and validation reports
  ISSUE_788_STABILITY_PROOF.md
  ISSUE_788_STAGING_DEPLOYMENT_RESULTS.md
  PR-WORKLOG-all-2025-09-13.md
  STAGING_SENTRY_VALIDATION_REPORT.md
  reports/multi-repo.md
Due: docker-force-flag-prohibition

feat(tests): add --no-phase-dependencies flag for test independence
  tests/unified_test_runner.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(security): P0 Issue #774 - Fix DeepAgentState user isolation test
  netra_backend/tests/unit/agents/supervisor/test_agent_execution_core_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Update PR worklog with completed PR #745 status
  PR-WORKLOG-all-2025-09-13.md
Due: docker-force-flag-prohibition

fix: Issue #765 P1 websocket processing SSOT redirect solution
  netra_backend/app/services/user_websocket_emitter.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

resolve: Merge develop-long-lived into PR #741 - fix Redis import issues
  netra_backend/tests/unit/websocket_core/test_websocket_agent_infrastructure_missing.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Add SSOT issue #800 progress tracker - duplicate supervisor agents
  SSOT-incomplete-migration-duplicate-supervisor-agents.md
  netra_backend/app/admin/corpus/unified_corpus_admin.py
  netra_backend/app/logging/auth_trace_logger.py
  netra_backend/app/websocket_core/types.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Complete PR merge worklog - all 10 PRs processed successfully
  PR-WORKLOG-all-2025-09-13.md
Due: docker-force-flag-prohibition

feat: Add SSOT chat migration issue tracking
  SSOT-incomplete-migration-legacy-execution-engine-blocking-chat.md
Due: docker-force-flag-prohibition

fix: Issue #773 - Resolve mission-critical WebSocket agent events timeout
  ISSUE_737_REMEDIATION_PLAN.md
  backups/supervisor_migration_issue_800/supervisor_consolidated.py
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-13-1800.md
  netra_backend/app/agents/supervisor_admin_init.py
  netra_backend/app/core/supervisor_factory.py
  netra_backend/app/dependencies.py
  netra_backend/app/routes/agent_route.py
  netra_backend/app/services/agent_service_core.py
  netra_backend/app/services/agent_service_factory.py
  netra_backend/app/services/message_handlers.py
  netra_backend/app/startup_module.py
  netra_backend/app/websocket_core/ssot_service_initializer.py
  netra_backend/app/websocket_core/supervisor_factory.py
  netra_backend/tests/unit/agents/test_ssot_supervisor_duplication_violations.py
  scripts/migrate_supervisor_imports_to_ssot.py
  scripts/migrate_supervisor_simple.py
  staging_websocket_validation.py
  test_issue_773_validation.py
  tests/mission_critical/websocket_real_test_base.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(tests): Add comprehensive Data Helper Agent unit tests
  netra_backend/tests/agents/data_helper/__init__.py
  netra_backend/tests/agents/data_helper/test_data_helper_agent_user_isolation.py
  netra_backend/tests/agents/data_helper/test_data_helper_error_scenarios.py
  netra_backend/tests/agents/data_helper/test_data_helper_integration_patterns.py
  netra_backend/tests/agents/data_helper/test_data_helper_tool_request_generation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

ops: Complete PR merge operation - All 10 open PRs successfully processed
  netra_backend/tests/agents/data_helper/test_data_helper_agent_core_functionality.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation
