Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$

fix(database): enhance error handling and rollback logic in session factory
  .claude/commands/gitissueprogressor.md
  netra_backend/app/database/request_scoped_session_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(environment): add staging authentication configuration parity validation
  tests/integration/environment_parity/test_staging_authentication_configuration_parity.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(comprehensive): add Golden Path remediation report and security test validation
  .claude/commands/gitissueprogressor.md
  GOLDEN_PATH_INTEGRATION_TEST_REMEDIATION_COMPLETE_REPORT_20250909.md
  tests/security/test_websocket_auth_security_fix_validation.py
  tests/unit/websocket_bridge/test_agent_websocket_bridge_connection_reproduction.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(test): simplify staging auth configuration test dependencies and validation
  tests/integration/environment_parity/test_staging_authentication_configuration_parity.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(security): enhance production E2E auth bypass protection and update test reports
  STAGING_TEST_REPORT_PYTEST.md
  netra_backend/app/websocket_core/unified_websocket_auth.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(reports): update staging pytest report with current execution results
  test_race_condition_comprehensive_fix.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(enterprise): add comprehensive organization-level multi-tenant isolation validation
  netra_backend/tests/integration/application_state_websocket/test_websocket_user_context_organization_level_enterprise_multitenant_isolation_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(security): implement complete E2E bypass block in production environments
  netra_backend/app/websocket_core/unified_websocket_auth.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(integration): add thread switching agent execution validation with context preservation
  netra_backend/tests/integration/test_thread_switching_agent_execution_integration_fixed.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(test): enhance staging auth test with encoding support and async corrections
  reports/testing/THREAD_SWITCHING_INTEGRATION_TEST_CREATION_REPORT.md
  tests/integration/environment_parity/test_staging_authentication_configuration_parity.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(security): add WebSocket user context cleanup validation during disconnection
  netra_backend/tests/integration/application_state_websocket/test_websocket_user_context_cleanup_validation_disconnection_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(reports): update staging test report with failed streaming test results
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

feat(compatibility): add test compatibility methods and GCP fallback imports
  netra_backend/app/core/registry/universal_registry.py
  test_framework/gcp_integration/base.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(race-conditions): add comprehensive validation for GitHub Issue #111 race condition fixes
  .claude/commands/gitissueprogressor.md
Due: docker-force-flag-prohibition

fix(config): add missing SERVICE_ID configurations for staging environment
  docker-compose.staging.yml
Due: docker-force-flag-prohibition, docker-security-audit

fix(gcp): add graceful fallback for GCP logging imports
  test_framework/gcp_integration/log_reader_helpers.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(remediation): add comprehensive GitHub Issue #110 remediation plan
  GITHUB_ISSUE_110_COMPREHENSIVE_REMEDIATION_PLAN.md
Due: docker-force-flag-prohibition

fix(gcp): complete GCP logging graceful fallback implementation
  test_framework/gcp_integration/log_reader_core.py
  tests/integration/test_error_handling_circuit_breaker_comprehensive.py
  tests/integration/test_error_handling_retry_backoff_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(gcp): add graceful fallback for Google Cloud logging imports in log reader core
  netra_backend/app/agents/execution_timeout_manager.py
  netra_backend/app/agents/supervisor/agent_execution_core.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

tools(security): add debug utilities for WebSocket auth and production detection
  debug_websocket_auth.py
  simple_security_test.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(toolregistry): add comprehensive validation script for GitHub Issue #110
  netra_backend/app/agents/supervisor/agent_execution_core.py
  scripts/validate_toolregistry_remediation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(llm): integrate timeout management in LLM manager for circuit breaker protection
  netra_backend/app/llm/llm_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(golden-path): add comprehensive 100-test integration suite execution report
  reports/testing/GOLDEN_PATH_INTEGRATION_TEST_EXECUTION_REPORT.md
Due: docker-force-flag-prohibition

docs(auth): add staging authentication configuration gap analysis
  AUTHENTICATION_CONFIGURATION_GAP_TEST_RESULTS.md
Due: docker-force-flag-prohibition

feat(agents): complete timeout management system with execution engine and LLM circuit breakers
  netra_backend/app/agents/supervisor/user_execution_engine.py
  netra_backend/app/llm/llm_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(websocket): add comprehensive user context recovery validation for reconnection scenarios (#30)
  netra_backend/tests/integration/application_state_websocket/test_websocket_user_context_recovery_validation_reconnection_scenarios_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket/security): enhance production E2E bypass detection and logging
  netra_backend/app/websocket_core/unified_websocket_auth.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(agents): integrate comprehensive state tracking in execution core
  netra_backend/app/agents/agent_state_tracker.py
  netra_backend/app/agents/supervisor/agent_execution_core.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(integration): add comprehensive graceful degradation error handling suite
  tests/integration/test_error_handling_graceful_degradation_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(merge): add CYCLE 3 git commit gardener merge report
  merges/MERGEISSUE_20250909_CYCLE3.md
Due: docker-force-flag-prohibition

🚨 CRITICAL SECURITY: Harden production WebSocket authentication bypass elimination
  netra_backend/app/agents/supervisor/agent_execution_core.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(agents): integrate comprehensive agent state tracking in execution core
  netra_backend/app/agents/supervisor/agent_execution_core.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(security): add critical system user authentication remediation plan
  CRITICAL_SYSTEM_USER_AUTHENTICATION_REMEDIATION_PLAN.md
Due: docker-force-flag-prohibition

feat(security): Add comprehensive security validation testing infrastructure
  WEBSOCKET_AUTH_SECURITY_VALIDATION_REPORT.md
  fresh_security_test.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(integration): Add comprehensive WebSocket reconnection error handling suite
  tests/integration/test_error_handling_websocket_reconnection_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(agents): add comprehensive agent execution state tracking system
  merges/MERGEISSUE_20250909_CYCLE4.md
  reports/gcp_import_fix_report.md
Due: docker-force-flag-prohibition

fix(websocket): enhance WebSocket manager factory and test framework compatibility
  netra_backend/app/websocket_core/websocket_manager_factory.py
  test_framework/base.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(infrastructure): Add GCP import verification utility
  scripts/verify_gcp_imports.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(agents): integrate state tracking into agent execution core lifecycle
  STAGING_TEST_REPORT_PYTEST.md
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_GOLDEN_PATH_COMPREHENSIVE_20250909_FINAL.md
Due: docker-force-flag-prohibition

docs(test): finalize Issue #112 middleware dependency fix validation
  GOLDEN_PATH_TEST_REMEDIATION_STRATEGY_COMPREHENSIVE.md
  netra_backend/app/services/websocket/message_handler.py
  netra_backend/tests/integration/application_state_websocket/test_websocket_user_context_recovery_validation_reconnection_scenarios_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation
