Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

test(lifecycle): add comprehensive lifecycle manager unit tests
  netra_backend/tests/unit/core/managers/test_results_summary.md
  netra_backend/tests/unit/core/managers/test_unified_lifecycle_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(env): add staging environment and configuration tests
  tests/unit/test_auth_service_redis_client_compatibility.py
  tests/unit/test_secret_key_staging_deployment_regression.py
  tests/unit/test_staging_environment_configuration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(auth): add auth service regression analysis and audit reports
  AUTH_ENDPOINT_REGRESSION_ANALYSIS_AND_PREVENTION.md
  AUTH_SERVICE_REGRESSION_AUDIT_20250905.md
Due: docker-force-flag-prohibition

feat(token): implement token optimization service with factory patterns
  netra_backend/app/services/token_optimization/__init__.py
  netra_backend/app/services/token_optimization/config_manager.py
  netra_backend/app/services/token_optimization/context_manager.py
  netra_backend/app/services/token_optimization/integration_service.py
  netra_backend/app/services/token_optimization/session_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(token): enhance TokenCounter and BaseAgent with optimization methods
  netra_backend/app/agents/base_agent.py
  netra_backend/app/services/billing/token_counter.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(token): add comprehensive test suite for token optimization
  netra_backend/tests/integration/test_agent_token_integration.py
  netra_backend/tests/unit/services/billing/test_token_counter_enhanced.py
  tests/mission_critical/test_token_optimization_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(deploy): add production deployment configuration for token optimization
  deployment/monitoring/business_value_dashboard.json
  deployment/monitoring/token_optimization_metrics.yaml
  deployment/production_monitoring_dashboard.yaml
  deployment/production_token_optimization_config.json
  scripts/deploy_token_optimization_production.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add comprehensive documentation for token optimization implementation
  ARCHITECTURAL_COMPLIANCE_SUMMARY.md
  BUSINESS_METRICS_VALIDATION_REPORT.md
  CORRECTIVE_IMPLEMENTATION_AGENT_FINAL_SUMMARY.md
  FINAL_VALIDATION_REPORT.md
  PRODUCTION_DEPLOYMENT_EXECUTION_REPORT.md
  PRODUCTION_DEPLOYMENT_STRATEGY.md
Due: docker-force-flag-prohibition

docs: comprehensive SSOT compliance validation and cleanup
  AGENT_3_SSOT_COMPLIANCE_CRITIQUE.md
  AGENT_4_CORRECTED_TOKEN_OPTIMIZATION_IMPLEMENTATION.md
  AGENT_4_VIOLATION_CORRECTION_SUMMARY.md
  AGENT_ARCHITECTURE_CONSOLIDATION_REPORT.md
  AGENT_CONTEXT_FIX_TEAM_PROMPT.md
  AGENT_ERROR_CONTEXT_FIVE_WHYS_FIX.md
  AGENT_ERROR_FIX_SUMMARY_20250904.md
  AGENT_EXECUTION_ORDER_REASONING.md
  AGENT_FLOW_COMPLETE_TRACE.md
  AGENT_MESSAGE_HANDLER_BUG_FIX.md
  AGENT_REGISTRY_FIVE_WHYS_ANALYSIS.md
  AGENT_RELIABILITY_ERROR_SUPPRESSION_ANALYSIS_20250903.md
  AGENT_RESTART_FAILURE_BUG_FIX_20250904.md
  AGENT_RESTART_FAILURE_FINAL_REPORT.md
  AGENT_RESTART_FAILURE_PARALLEL_EXECUTION_PLAN.md
  AGENT_STATUS_AND_WIRING_REPORT.md
  AGENT_WEBSOCKET_BRIDGE_UNINITIALIZED_FIVE_WHYS.md
  AUTH_SERVICE_SSOT_CONSOLIDATION_REPORT.md
  SSOT_COMPLIANCE_SYNTHESIS_REPORT.md
  netra_backend/app/clients/auth_client_cache.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: resolve SSOT violations in auth client cache
  SSOT_COMPLIANCE_SYNTHESIS_REPORT.md
  netra_backend/app/clients/auth_client_cache.py
  netra_backend/app/clients/auth_client_core.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(oauth): attempt to fix Google OAuth login in development
  auth_service/auth_core/oauth/google_oauth.py
  frontend/app/auth/callback/client.tsx
  frontend/auth/context.tsx
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(frontend): add SSR safety checks to chatStatePersistence
  frontend/services/chatStatePersistence.ts
Due: architecture-compliance, file-size-limit, type-safety-check

feat: add Podman setup for macOS development environment
  FRONTEND_AGENT_TESTING_GUIDE.md
  PODMAN_MACOS_SETUP.md
  docker-compose.podman-mac.yml
  docker/frontend.podman-dev.Dockerfile
  docker/frontend.podman.Dockerfile
  scripts/podman_mac_services.sh
Due: docker-force-flag-prohibition, docker-security-audit

fix: critical chat system remediation with perfect SSOT compliance
  .claude/settings.local.json
  AGENTS_SSOT_VIOLATION_REPORT.md
  CRITICAL_REMEDIATION_SSOT_COMPLIANCE_REPORT.md
  ENHANCED_ERROR_HANDLING_REPORT.md
  HARDENED_AGENT_REGISTRY_SECURITY_REPORT.md
  RACE_CONDITION_ELIMINATION_REPORT.md
  SSOT_VIOLATION_PREVENTION_REVIEW.md
  TOOL_DISPATCHER_MIGRATION_COMPLETE.md
  auth_service/auth_core/oauth/google_oauth.py
  frontend/app/auth/callback/client.tsx
  netra_backend/app/agents/canonical_tool_dispatcher.py
  netra_backend/app/agents/supervisor/agent_registry.py
  netra_backend/app/agents/supervisor/execution_engine.py
  netra_backend/app/clients/auth_client_cache.py
  netra_backend/app/clients/auth_client_config.py
  netra_backend/app/clients/auth_client_core.py
  netra_backend/app/database/request_scoped_session_factory.py
  netra_backend/app/websocket_core/unified_emitter.py
  netra_backend/app/websocket_core/unified_manager.py
  tests/canonical_tool_dispatcher/test_canonical_dispatcher_security.py
  tests/enhanced_error_handling_tests.py
  tests/mission_critical/test_agent_registry_isolation.py
  tests/performance/test_hardened_registry_concurrent_load.py
  tests/race_conditions/test_auth_cache_race_conditions.py
  tests/race_conditions/test_race_condition_elimination_suite.py
  tests/race_conditions/test_websocket_manager_race_conditions.py
  tests/security/websocket_security_verification.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test: update test coverage reports
  coverage.json
  coverage.xml
  junit.xml
Due: none

refactor(agents): improve agent infrastructure and SSOT consolidation
  netra_backend/app/agents/base_agent.py
  netra_backend/app/agents/reporting_sub_agent.py
  netra_backend/app/agents/supervisor/agent_registry.py
  netra_backend/app/agents/triage/unified_triage_agent.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(config): enhance UnifiedConfigurationManager with better validation
  netra_backend/app/core/managers/unified_configuration_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(agents): update agent tests to use SSOT patterns
  netra_backend/tests/unit/agents/test_agent_performance_benchmarks.py
  netra_backend/tests/unit/agents/test_base_agent_infrastructure.py
  netra_backend/tests/unit/agents/test_reporting_agent_golden.py
  netra_backend/tests/unit/agents/test_triage_agent_golden.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(core): consolidate core unit tests with SSOT patterns
  netra_backend/tests/unit/core/test_project_utils.py
  netra_backend/tests/unit/test_agent_lifecycle.py
  netra_backend/tests/unit/test_database_dependencies.py
  netra_backend/tests/unit/test_database_url_validation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(threads): update thread and session tests with SSOT patterns
  netra_backend/tests/unit/test_session_management_comprehensive.py
  netra_backend/tests/unit/test_thread_service_core_functionality.py
  netra_backend/tests/unit/test_threads_route_create.py
  netra_backend/tests/unit/test_threads_route_delete.py
  netra_backend/tests/unit/test_threads_route_get.py
  netra_backend/tests/unit/test_threads_route_list.py
  netra_backend/tests/unit/test_threads_route_messages.py
  netra_backend/tests/unit/test_threads_route_update.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(auth): update auth and deployment tests with SSOT patterns
  netra_backend/tests/unit/test_user_model_regression.py
  tests/unit/test_auth_service_redis_client_compatibility.py
  tests/unit/test_secret_key_staging_deployment_regression.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(infrastructure): add comprehensive test infrastructure files
  netra_backend/tests/unit/agents/supervisor/__init__.py
  netra_backend/tests/unit/agents/supervisor/test_agent_registry.py
  netra_backend/tests/unit/core/managers/test_results_summary.md
  netra_backend/tests/unit/core/managers/test_unified_configuration_manager.py
  netra_backend/tests/unit/core/managers/test_unified_state_manager.py
  netra_backend/tests/unit/db/test_database_manager.py
  netra_backend/tests/unit/websocket_core/TEST_SUMMARY.md
  netra_backend/tests/unit/websocket_core/__init__.py
  netra_backend/tests/unit/websocket_core/test_websocket_manager.py
  tests/integration/test_staging_deployment_script_compatibility.py
  tests/integration/test_staging_deployment_secret_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add SSOT consolidation and staging deployment analysis reports
  CRITICAL_STAGING_DEPLOYMENT_REGRESSION_ANALYSIS.md
  SSOT_UNIT_TEST_SUMMARY_REPORT.md
Due: docker-force-flag-prohibition

fix: eliminate SSOT violation by consolidating tool dispatchers
  .claude/settings.local.json
  AGENTS_ADDITIONAL_SSOT_VIOLATIONS_REPORT.md
  netra_backend/app/agents/canonical_tool_dispatcher.py
  netra_backend/app/agents/supervisor/agent_registry.py
  netra_backend/app/agents/unified_tool_execution.py
  netra_backend/app/core/tools/unified_tool_dispatcher.py
  tests/unified_tool_dispatcher/test_unified_dispatcher_security.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add configuration regression prevention system
  .env.development.template
  .env.production.template
  .env.staging.template
  .env.test.template
  CLAUDE.md
  CONFIG_DEPENDENCY_MAP_IMPLEMENTATION_REPORT.md
  CONFIG_REGRESSION_PREVENTION_IMPLEMENTATION.md
  CONFIG_REGRESSION_PREVENTION_PLAN.md
  OAUTH_REGRESSION_ANALYSIS_20250905.md
Due: docker-force-flag-prohibition

docs: add learnings for config regression prevention
  SPEC/learnings/config_env_regression_prevention_20250905.xml
  SPEC/learnings/gcp_staging_frontend_issues.xml
  SPEC/learnings/index.xml
  SPEC/learnings/staging_e2e_comprehensive_implementation.xml
  SPEC/learnings/staging_e2e_direct_testing_integration.xml
Due: none

fix: strengthen auth service config validation
  auth_service/auth_core/auth_environment.py
  auth_service/auth_core/config.py
  auth_service/auth_core/oauth/google_oauth.py
  config/staging_auth_service_config.json
  config/staging_test_report.json
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add comprehensive auth service test coverage
  auth_service/tests/integration/test_auth_api_integration.py
  auth_service/tests/integration/test_auth_e2e_flows.py
  auth_service/tests/unit/test_auth_config_comprehensive.py
  auth_service/tests/unit/test_auth_environment_urls.py
  auth_service/tests/unit/test_auth_service_basic.py
  auth_service/tests/unit/test_auth_service_comprehensive.py
  auth_service/tests/unit/test_database_repository_comprehensive.py
  auth_service/tests/unit/test_jwt_handler_comprehensive.py
  auth_service/tests/unit/test_oauth_comprehensive.py
  auth_service/tests/unit/test_oauth_redirect_uri_regression.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: add config dependency tracking system
  netra_backend/app/core/config_dependencies.py
  netra_backend/app/core/configuration/startup_validator.py
  netra_backend/app/core/configuration/validator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor: improve backend service configuration and recovery
  netra_backend/app/admin/corpus/compatibility.py
  netra_backend/app/auth_dependencies.py
  netra_backend/app/auth_integration/auth.py
  netra_backend/app/core/network_constants.py
  netra_backend/app/db/optimized_startup_checks.py
  netra_backend/app/dependencies.py
  netra_backend/app/services/session_service.py
  netra_backend/app/services/state_persistence.py
  netra_backend/app/websocket_core/error_recovery_handler.py
  netra_backend/app/websocket_core/reconnection_handler.py
  netra_backend/app/websocket_core/recovery.py
  netra_backend/app/websocket_core/state_synchronization_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: update backend tests for config validation
  netra_backend/tests/agents/test_corpus_admin_ssot_compliance.py
  netra_backend/tests/agents/test_data_helper_ssot_compliance.py
  netra_backend/tests/mission_critical/test_actions_to_meet_goals_ssot_compliance.py
  netra_backend/tests/unit/agents/supervisor/test_agent_registry.py
  netra_backend/tests/unit/agents/test_base_agent_infrastructure.py
  netra_backend/tests/unit/test_agent_lifecycle.py
  netra_backend/tests/unit/test_config_dependencies.py
  netra_backend/tests/unit/test_database_url_validation.py
  netra_backend/tests/unit/test_state_persistence_datetime_serialization.py
  netra_backend/tests/unit/test_state_persistence_user_creation.py
  netra_backend/tests/unit/test_threads_route_create.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: add shared configuration validation system
  shared/configuration/central_config_validator.py
  shared/configuration/cross_service_validator.py
  shared/cors_config_builder.py
  shared/database/session_validation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: add config validation scripts
  scripts/check_config_before_deploy.py
  scripts/demonstrate_config_protection.py
  scripts/deploy_to_gcp.py
  scripts/query_string_literals.py
  scripts/scan_string_literals.py
  scripts/staging_comprehensive_test.py
  scripts/validate_critical_tests.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add comprehensive config regression tests
  tests/e2e/integration/test_staging_health_validation.py
  tests/e2e/integration/test_staging_oauth_authentication.py
  tests/e2e/test_auth_flow_comprehensive.py
  tests/e2e/test_auth_service_staging.py
  tests/e2e/test_staging_api_with_auth.py
  tests/integration/test_auth_url_configuration.py
  tests/integration/test_cross_service_url_alignment.py
  tests/manual/staging_auth_test.py
  tests/mission_critical/test_staging_auth_url_regression.py
  tests/regression/test_config_regression.py
  tests/test_cors_regression.py
  tests/unit/test_config_regression_prevention.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test: update test reports and coverage
  STAGING_DEPLOYMENT_ANALYSIS.md
  STAGING_TEST_REPORT.md
  auth_service/coverage.json
  auth_service/coverage.xml
  auth_service/junit.xml
  coverage.json
  coverage.xml
  docs/E2E_STAGING_TESTING_REQUIREMENTS.md
  docs/E2E_TESTS_GCP_SECRETS_INTEGRATION_PLAN.md
  frontend/cypress/e2e/debug_chat_hanging.cy.ts
  junit.xml
  logs/staging_logs.json
  netra_backend/tests/unit/agents/test_base_agent_infrastructure.py
  test_cors_configuration.py
  test_staging.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(auth): add database persistence for user registration and authentication
  auth_service/auth_core/services/auth_service.py
  auth_service/tests/unit/test_registration_regression.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(auth/tests): correct import paths for auth repository tests
  auth_service/tests/unit/test_database_repository_comprehensive.py
  auth_service/tests/unit/test_oauth_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(test-framework): add flexible URL assertion utilities for dynamic ports
  test_framework/URL_ASSERTION_GUIDE.md
  test_framework/tests/test_url_assertions_example.py
  test_framework/url_assertions.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

perf(docker): optimize Alpine build with aggressive layer caching
  .dockerignore
  docker/backend.alpine.Dockerfile
Due: none

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
