Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

test: add unified ID manager tests and update test results
  junit.xml
  netra_backend/tests/core/test_unified_id_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(core): implement unified ID generation manager for SSOT compliance
  netra_backend/app/core/unified_id_manager.py
  netra_backend/demo_unified_id_manager.py
  netra_backend/tests/core/test_id_manager.py
  netra_backend/tests/core/test_unified_id_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): simplify agent bridge and improve thread routing
  netra_backend/app/routes/websocket.py
  netra_backend/app/services/agent_websocket_bridge.py
  netra_backend/tests/integration/test_websocket_thread_routing.py
  tests/mission_critical/test_websocket_bridge_critical_flows.py
  tests/mission_critical/test_websocket_comprehensive_validation_working.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test(framework): update ID fixtures and add test runner enhancements
  junit.xml
  scripts/migrate_test_ids.py
  test_framework/fixtures/id_fixtures.py
  tests/unified_test_runner.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(frontend): improve WebSocket event handling and payload mapping
  frontend/__tests__/utils/event-payload-mapper.test.ts
  frontend/store/websocket-agent-handlers.ts
  frontend/utils/event-payload-mapper.ts
Due: architecture-compliance, file-size-limit, type-safety-check

feat(config): enhance secrets management and exception handling
  docs/configuration_architecture.md
  netra_backend/app/core/configuration/secrets.py
  netra_backend/app/core/configuration/staging_validator.py
  netra_backend/app/core/exceptions_base.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(agents): update agent execution with unified ID patterns
  netra_backend/app/agents/admin_tool_dispatcher/admin_tool_execution.py
  netra_backend/app/agents/admin_tool_dispatcher/modern_execution_helpers.py
  netra_backend/app/agents/base/interface.py
  netra_backend/app/agents/unified_tool_execution.py
  netra_backend/app/core/interfaces_observability.py
  netra_backend/app/orchestration/agent_execution_registry.py
  netra_backend/app/services/database/run_repository.py
  netra_backend/app/services/thread_service.py
  netra_backend/app/services/user_execution_context.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(core): add GCP error reporting and enhance app factory
  netra_backend/app/core/app_factory.py
  netra_backend/app/core/app_factory_route_configs.py
  netra_backend/app/core/app_factory_route_imports.py
  netra_backend/app/routes/test_gcp_errors.py
  netra_backend/app/services/monitoring/gcp_error_reporter.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(db): add ClickHouse error handling and test improvements
  auth_service/tests/test_auth_comprehensive.py
  netra_backend/app/db/clickhouse.py
  test_staging.py
  tests/DOCKER_OPTIONAL_TESTING.md
  tests/test_docker_optional_demo.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add comprehensive analysis and remediation documentation
  CLICKHOUSE_ERROR_60_ANALYSIS.md
  ID_GENERATION_SSOT_REMEDIATION_PLAN.md
  STAGING_DEPLOYMENT_ANALYSIS.md
  STAGING_TEST_REPORT.md
  WEBSOCKET_EVENT_AUDIT.md
  WEBSOCKET_ID_INTEGRATION_COMPLETE.md
Due: docker-force-flag-prohibition

chore(deploy): update Docker Alpine configuration and deployment scripts
  docker-compose.alpine-test.yml
  scripts/deploy_to_gcp.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(core): complete unified ID migration and cleanup
  docs/CLICKHOUSE_STAGING_REMOTE_CONFIGURATION.md
  docs/GCP_ERROR_REPORTING_ARCHITECTURE.md
  docs/index.md
  netra_backend/app/core/id_manager.py
  netra_backend/app/routes/auth_proxy.py
  netra_backend/app/utils/run_id_generator.py
  netra_backend/tests/core/test_id_manager.py
  netra_backend/tests/e2e/thread_test_fixtures.py
  netra_backend/tests/integration/test_websocket_thread_routing.py
  netra_backend/tests/utils/test_run_id_generator.py
  shared/secret_mappings.py
  test_auth_endpoints.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add ID generation SSOT compliance report
  ID_GENERATION_SSOT_COMPLIANCE_REPORT.md
Due: docker-force-flag-prohibition

test: fix UUID format in WebSocket thread routing tests
  netra_backend/tests/integration/test_websocket_thread_routing.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(reliability): disable reliability features for stability
  RELIABILITY_FEATURES_DISABLED_SUMMARY.md
  scripts/disable_reliability_features.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(analysis): add comprehensive test failure and reliability analysis reports
  AGENT_RELIABILITY_ERROR_SUPPRESSION_ANALYSIS_20250903.md
  TEST_FAILURES_ANALYSIS_20250903.md
  UNIFIED_ID_MANAGER_BUGFIX_REPORT_20250903.md
  docs/AGENT_RELIABILITY_AND_HEALTH_MONITOR.md
Due: docker-force-flag-prohibition

feat(docker): add Alpine container support and unified Docker management
  .env.alpine-test
  .env.ci
  config/docker_environments.yaml
  docker-compose.test.yml
  docker-compose.unified.yml
  docs/docker_resource_health_config.md
  scripts/docker_validation_benchmark.py
  scripts/verify_alpine_containers.py
  test_framework/docker_config_loader.py
  test_framework/unified_docker_manager.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(infrastructure): add dynamic port allocation for parallel test execution
  docs/port_allocation_strategy.md
  scripts/allocate_test_ports.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(mission-critical): add unified ID manager integration tests and fixes
  junit.xml
  test_framework/fixtures/id_fixtures.py
  test_websocket_thread_fix.py
  tests/mission_critical/test_agent_resilience_patterns.py
  tests/mission_critical/test_unified_id_manager_integration.py
  tests/mission_critical/test_websocket_critical_validation.py
  tests/unified_test_runner.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

refactor(core): enhance agent execution and WebSocket stability
  netra_backend/app/agents/actions_to_meet_goals_sub_agent.py
  netra_backend/app/agents/base_agent.py
  netra_backend/app/agents/data_helper_agent.py
  netra_backend/app/agents/goals_triage_sub_agent.py
  netra_backend/app/agents/reporting_sub_agent.py
  netra_backend/app/agents/summary_extractor_sub_agent.py
  netra_backend/app/agents/supervisor/__init__.py
  netra_backend/app/agents/supervisor/agent_execution_core.py
  netra_backend/app/agents/supervisor_consolidated.py
  netra_backend/app/agents/tool_discovery_sub_agent.py
  netra_backend/app/core/fallback_utils.py
  netra_backend/app/routes/websocket.py
  netra_backend/app/schemas/data_ingestion_types.py
  netra_backend/app/services/agent_websocket_bridge.py
  netra_backend/app/websocket_core/agent_handler.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: resolve AgentHeartbeat import error in agent_execution_core
  netra_backend/app/agents/supervisor/agent_execution_core.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: complete AgentHeartbeat type hint fixes
  netra_backend/app/agents/supervisor/agent_execution_core.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: use self.logger instead of undefined logger in base_agent
  netra_backend/app/agents/base_agent.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(supervisor): resolve critical circular import blocking system startup
  SPEC/learnings/circular_import_supervisor_fix_20250903.xml
  SPEC/learnings/index.xml
  netra_backend/app/agents/supervisor/__init__.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(unified-id): handle edge cases in ID parsing including empty thread IDs
  UNIFIED_ID_MANAGER_EDGE_CASE_BUG_REPORT_20250903.md
  netra_backend/app/core/unified_id_manager.py
  netra_backend/tests/core/test_unified_id_manager.py
  tests/mission_critical/test_unified_id_manager_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

refactor(tool-dispatcher): add WebSocket context and break circular imports
  netra_backend/app/agents/tool_dispatcher_unified.py
  netra_backend/app/services/message_handlers.py
  netra_backend/app/services/websocket_event_emitter.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(infrastructure): enhance test base and categorization
  junit.xml
  netra_backend/tests/unit/test_base.py
  test_framework/config/categories.yaml
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(reports): add comprehensive audit reports and script updates
  CIRCULAR_IMPORT_FIX_REPORT_20250903.md
  DOCKER_INFRASTRUCTURE_COMPLETION_REPORT.md
  OTHER_ERROR_SUPPRESSION_PATTERNS_FOUND_20250903.md
  OVER_ENGINEERED_TESTS_AUDIT_REPORT.md
  OVER_ENGINEERING_AUDIT_REPORT.md
  SPEC/review.xml
  docs/testing/TESTING_GUIDE.md
  scripts/code_review_smoke_tests.py
  scripts/fix_comprehensive_imports.py
  scripts/review/smoke_tester.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: resolve 500 error on /api/agents/triage endpoint
  netra_backend/app/routes/agents_execute.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(logging): add GCP Cloud Logging JSON formatter support
  netra_backend/app/core/logging_formatters.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore(thread-service): add UnifiedIDManager import
  netra_backend/app/services/thread_service.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(logging): implement GCP Cloud Run severity mapping for loguru
  netra_backend/app/core/logging_formatters.py
  netra_backend/app/core/unified_logging.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Remove 25 over-engineered tests violating CLAUDE.md principles
  netra_backend/tests/agents/test_supervisor_bulletproof.py
  netra_backend/tests/agents/test_synthetic_data_ssot_compliance.py
  netra_backend/tests/integration/critical_paths/test_agent_cost_tracking.py
  netra_backend/tests/integration/critical_paths/test_agent_pipeline_real_llm.py
  netra_backend/tests/integration/critical_paths/test_api_request_transformation.py
  netra_backend/tests/integration/critical_paths/test_circuit_breaker_orchestration.py
  netra_backend/tests/integration/critical_paths/test_cross_region_consistency_l4.py
  netra_backend/tests/integration/critical_paths/test_dashboard_query_performance.py
  netra_backend/tests/integration/critical_paths/test_disaster_recovery_failover_l4.py
  netra_backend/tests/integration/critical_paths/test_enterprise_resource_isolation_l4.py
  netra_backend/tests/integration/critical_paths/test_high_performance_websocket_stress.py
  netra_backend/tests/integration/critical_paths/test_multi_tenant_config_isolation.py
  netra_backend/tests/integration/critical_paths/test_multitab_websocket_sync.py
  netra_backend/tests/integration/critical_paths/test_security_breach_response_l4.py
  netra_backend/tests/integration/critical_paths/test_session_invalidation_cascade.py
  netra_backend/tests/integration/critical_paths/test_session_persistence_restart.py
  netra_backend/tests/integration/critical_paths/test_websocket_auth_handshake.py
  netra_backend/tests/integration/critical_paths/test_websocket_heartbeat_zombie.py
  netra_backend/tests/integration/critical_paths/test_websocket_message_delivery_guarantee.py
  netra_backend/tests/integration/critical_paths/test_websocket_unified_critical.py
  netra_backend/tests/integration/test_core_basics_comprehensive.py
  netra_backend/tests/integration/test_websocket_auth_cold_start_extended.py
  netra_backend/tests/test_supervisor_ssot_comprehensive.py
  netra_backend/tests/unit/agents/test_base_agent_ssot_compliance.py
  netra_backend/tests/unit/test_mcp_service_core.py
  tests/e2e/integration/test_session_persistence_restart.py
  tests/e2e/test_websocket_auth_handshake.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(auth): prevent auth refresh loops and add database session to refresh endpoint
  AUTH_FIXES_SUMMARY.md
  AUTH_LOOP_FIX_REPORT.md
  auth_service/auth_core/routes/auth_routes.py
  frontend/lib/auth-interceptor.ts
  frontend/lib/auth-service-client.ts
  tests/e2e/test_auth_refresh_with_db.py
  tests/mission_critical/test_auth_loop_prevention.py
  tests/regression/test_auth_refresh_db_session_regression.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix(websocket): prevent handler accumulation memory leak
  netra_backend/app/routes/websocket.py
  tests/mission_critical/test_websocket_handler_leak_fix.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix(websocket): prevent request spamming with auth refresh coordination
  WEBSOCKET_REQUEST_SPAM_FIVE_WHYS.md
  frontend/services/webSocketService.ts
  scripts/deploy_to_gcp.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

🔧 fix(websocket): implement per-connection handler instances
  netra_backend/app/routes/websocket.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

📚 docs(learnings): document critical WebSocket handler per-connection pattern
  SPEC/learnings/index.xml
  SPEC/learnings/websocket_agent_integration_critical.xml
  SPEC/learnings/websocket_handler_per_connection_critical.xml
Due: none

✅ test(frontend): fix URLSearchParams mocking and timer handling
  frontend/__tests__/bugs/new-chat-navigation-simple.test.tsx
  frontend/__tests__/bugs/new-chat-url-race-condition.test.tsx
  frontend/__tests__/critical/app-startup.test.ts
  frontend/services/urlSyncService.ts
Due: architecture-compliance, file-size-limit, type-safety-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
