Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation, protect-staging-config

Path conditions:
  new-file-compliance: any of: \.(py|ts|tsx)$
  edited-lines-check: any of: \.(py|ts|tsx)$
  prevent-new-relative-imports: any of: \.py$
  main-code-quality: any of: ^(netra_backend/app|auth_service/auth_core|frontend/src)/.*\.(py|ts|tsx)$
  test-file-leniency: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  new-duplicate-prevention: any of: \.py$
  check-environment-isolation: any of: (test_.*\.py|.*_test\.py|tests/.*\.py|conftest\.py)$
  protect-staging-config: any of: netra_backend/app/schemas/config\.py$

refactor(env): consolidate environment variable access pattern
  netra_backend/app/agents/supervisor/execution_factory.py
  netra_backend/app/services/factory_adapter.py
  netra_backend/app/services/websocket_bridge_factory.py
  netra_backend/app/smd.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

feat(tools): add get_standard_tools() export function
  netra_backend/app/tools/__init__.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(supervisor): implement per-request tool dispatcher isolation
  netra_backend/app/agents/supervisor_consolidated.py
  netra_backend/app/startup_module.py
  netra_backend/tests/agents/test_agent_e2e_critical_setup.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs: add test suite remediation plan
  TEST_REMEDIATION_PLAN.md
Due: none

docs: add architectural analysis of LangGraph divergence
  why-we-moved-away-from-langraph.md
Due: none

docs: add focused test fix plan
  TEST_FIX_PLAN_FOCUSED.md
Due: none

feat(docker): add local build script to prevent Docker Hub pulls
  scripts/docker_build_local.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

feat(websocket): add tool dispatcher notification enhancement
  netra_backend/app/agents/unified_tool_execution.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

fix(docker): add Docker Hub rate limit mitigation
  test_framework/unified_docker_manager.py
  tests/unified_test_runner.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

fix(test-framework): resolve async/sync fixture scope mismatch
  test_framework/conftest_real_services.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(mission-critical): enhance WebSocket and smoke test suites
  tests/chat_system/test_imports.py
  tests/mission_critical/conftest.py
  tests/mission_critical/test_websocket_agent_events_suite.py
  tests/mission_critical/test_websocket_comprehensive_validation.py
  tests/smoke/test_startup_wiring_smoke.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs: add critical remediation plans for WebSocket and chat systems
  CHAT_IS_KING_AGENT_PROMPTS.md
  CHAT_IS_KING_REMEDIATION_PLAN.md
  CRITICAL_WEBSOCKET_ISSUES_REMEDIATION.md
  WEBSOCKET_PARALLEL_AGENT_REMEDIATION_PLAN.md
Due: none

build(pre-commit): add Python syntax validation hooks
  .pre-commit-config.yaml
  scripts/validate_syntax.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

fix(websocket): enhance WebSocket bridge factory robustness
  netra_backend/app/services/websocket_bridge_factory.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

fix(execution): add WebSocket emitter fallback mechanisms
  netra_backend/app/agents/supervisor/execution_factory.py
  netra_backend/app/agents/supervisor_consolidated.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(startup): enhance module initialization robustness
  netra_backend/app/smd.py
  netra_backend/app/startup_module.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test: improve test reliability and error handling
  tests/mission_critical/test_websocket_simple.py
  tests/smoke/test_startup_wiring_smoke.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

feat(agent-registry): add modern WebSocket enhancement patterns
  netra_backend/app/agents/supervisor/agent_registry.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

feat(websocket): add isolated event emitter for user context isolation
  netra_backend/app/websocket_core/isolated_event_emitter.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test(framework): add backend client and test context utilities
  test_framework/backend_client.py
  test_framework/test_context.py
  test_framework/tests/test_test_context.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(mission-critical): add fixture scope and infrastructure tests
  tests/mission_critical/test_fixture_scope_regression.py
  tests/mission_critical/test_infrastructure_fixes_comprehensive.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(integration): add comprehensive multi-agent test suite
  tests/integration/test_multi_agent_comprehensive.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(websocket): add comprehensive WebSocket test utilities
  run_websocket_comprehensive_test.py
  test_websocket_fixes.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs: add test reports and validation documentation
  SYNTAX_VALIDATION_REPORT.md
  TEST_UPDATE_AGENT_PROMPTS.md
  TEST_UPDATE_MASTER_PLAN.md
  websocket_comprehensive_test_report.md
Due: none

test(infrastructure): add simplified infrastructure validation tests
  test_infrastructure_simple.py
  test_infrastructure_simple_fixed.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(websocket): add comprehensive WebSocket isolation and factory tests
  tests/mission_critical/test_websocket_bridge_critical_flows.py
  tests/mission_critical/test_websocket_comprehensive_fixed.py
  tests/mission_critical/test_websocket_events_fixed.py
  tests/websocket/test_bridge_factory.py
  tests/websocket/test_connection_pool.py
  tests/websocket/test_user_emitter.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(auth): enhance authentication state and JWT validation tests
  tests/mission_critical/test_auth_state_consistency.py
  tests/mission_critical/test_jwt_secret_hard_requirements.py
  tests/mission_critical/test_staging_auth_cross_service_validation.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(docker): add comprehensive Docker lifecycle and stability tests
  tests/mission_critical/test_docker_lifecycle_management.py
  tests/mission_critical/test_docker_stability_comprehensive.py
  tests/mission_critical/test_docker_stability_suite.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(compliance): enhance SSOT and golden pattern compliance validation
  tests/mission_critical/test_actions_agent_golden_compliance.py
  tests/mission_critical/test_data_sub_agent_golden_ssot.py
  tests/mission_critical/test_no_ssot_violations.py
  tests/mission_critical/test_ssot_compliance_suite.py
  tests/mission_critical/test_supervisor_golden_compliance_quick.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

fix(startup): correct SupervisorAgent initialization arguments
  netra_backend/app/smd.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

docs: add validation and remediation reports
  INFRASTRUCTURE_FIXES_VALIDATION_REPORT.md
  SSOT_REMEDIATION_AGENT_PROMPTS.md
  SSOT_VIOLATIONS_REPORT.md
  WEBSOCKET_INFRASTRUCTURE_FIX_REPORT.md
Due: none

chore: add JUnit test output file
  junit.xml
Due: none

fix(supervisor): update agent initialization and execution patterns
  netra_backend/app/agents/supervisor/execution_factory.py
  netra_backend/app/agents/supervisor_consolidated.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(websocket): update bridge factory and SMD configuration
  netra_backend/app/services/websocket_bridge_factory.py
  netra_backend/app/smd.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test(golden): add comprehensive golden agent test suites
  tests/mission_critical/test_actions_agent_golden_compliance.py
  tests/mission_critical/test_actions_to_meet_goals_golden.py
  tests/mission_critical/test_goals_triage_golden.py
  tests/mission_critical/test_optimizations_agent_golden.py
  tests/mission_critical/test_reporting_agent_golden.py
  tests/mission_critical/test_summary_extractor_golden.py
  tests/mission_critical/test_tool_discovery_golden.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(agent): add comprehensive agent lifecycle and resilience tests
  tests/mission_critical/test_agent_communication_undefined_attributes.py
  tests/mission_critical/test_agent_death_fix_complete.py
  tests/mission_critical/test_agent_manager_lifecycle_events.py
  tests/mission_critical/test_agent_resilience_patterns.py
  tests/mission_critical/test_agent_type_safety_comprehensive.py
  tests/mission_critical/test_baseagent_edge_cases_comprehensive.py
  tests/mission_critical/test_baseagent_inheritance_violations.py
  tests/mission_critical/test_circuit_breaker_comprehensive.py
  tests/mission_critical/test_inheritance_architecture_violations.py
  tests/mission_critical/test_memory_leak_prevention_comprehensive.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(websocket): enhance WebSocket test coverage and reliability
  tests/mission_critical/test_websocket_agent_events_suite.py
  tests/mission_critical/test_websocket_bridge_edge_cases_20250902.py
  tests/mission_critical/test_websocket_bridge_isolation.py
  tests/mission_critical/test_websocket_bridge_lifecycle_comprehensive.py
  tests/mission_critical/test_websocket_chat_bulletproof.py
  tests/mission_critical/test_websocket_comprehensive_validation.py
  tests/mission_critical/test_websocket_e2e_proof.py
  tests/mission_critical/test_websocket_event_reliability_comprehensive.py
  tests/mission_critical/test_websocket_events_refresh_validation.py
  tests/mission_critical/test_websocket_json_agent_events.py
  tests/mission_critical/test_websocket_multi_agent_integration_20250902.py
  tests/mission_critical/test_websocket_reliability_focused.py
  tests/mission_critical/test_websocket_simple.py
  tests/websocket/test_connection_pool.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(docker): add comprehensive Docker orchestration test suite
  tests/mission_critical/test_docker_compliance_audit.py
  tests/mission_critical/test_docker_credential_configuration.py
  tests/mission_critical/test_docker_edge_cases.py
  tests/mission_critical/test_docker_full_integration.py
  tests/mission_critical/test_docker_performance.py
  tests/mission_critical/test_docker_rate_limiter_integration.py
  tests/mission_critical/test_docker_ssot_compliance.py
  tests/mission_critical/test_docker_unified_fixes_validation.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(auth): enhance JWT and authentication test coverage
  tests/mission_critical/test_backend_login_endpoint_fix.py
  tests/mission_critical/test_jwt_secret_synchronization_simple.py
  tests/mission_critical/test_jwt_sync_ascii.py
  tests/mission_critical/test_pre_post_deployment_jwt_verification.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(ssot): enhance SSOT and orchestration validation
  tests/mission_critical/test_deterministic_startup_validation.py
  tests/mission_critical/test_orchestration_edge_cases.py
  tests/mission_critical/test_orchestration_integration.py
  tests/mission_critical/test_orchestration_performance.py
  tests/mission_critical/test_orchestration_system_suite.py
  tests/mission_critical/test_ssot_backward_compatibility.py
  tests/mission_critical/test_ssot_framework_validation.py
  tests/mission_critical/test_ssot_integration.py
  tests/mission_critical/test_ssot_orchestration_consolidation.py
  tests/mission_critical/test_ssot_regression_prevention.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation
