Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$

docs(progress): add comprehensive testing progress report
  reports/testing/COMPREHENSIVE_PROGRESS_REPORT_20250109.md
Due: docker-force-flag-prohibition

Update ULTIMATE_TEST_DEPLOY_LOOP_AGENT_PROGRESSION_GOLDEN_PATH_20250909_FINAL.md
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_AGENT_PROGRESSION_GOLDEN_PATH_20250909_FINAL.md
Due: docker-force-flag-prohibition

resolve: merge conflicts in unit tests with SSOT ErrorContext
  tests/integration/golden_path/test_service_degradation_graceful_handling.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(merge): document complex merge conflict resolution
  merges/MERGEISSUE_20250909_135944.md
Due: docker-force-flag-prohibition

chore(tests): complete Windows line ending standardization post-merge
  netra_backend/tests/integration/golden_path/test_agent_lifecycle_state_management_advanced.py
  netra_backend/tests/integration/golden_path/test_authentication_flows_integration.py
  netra_backend/tests/integration/golden_path/test_multi_user_concurrency_isolation_advanced.py
  netra_backend/tests/integration/golden_path/test_websocket_advanced_edge_cases.py
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_CRITICAL_USER_NOTIFICATIONS_20250909.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(imports): complete AgentRegistry import path migration across remaining test infrastructure
  STAGING_TEST_REPORT_PYTEST.md
  auth_service/tests/integration/test_backend_auth_service_communication.py
  auth_service/tests/test_session_security_cycles_36_40.py
  scripts/test_agent_execution_websocket_integration.py
  tests/e2e/integration/test_websocket_message_streaming.py
  tests/integration/golden_path/test_golden_path_complete_e2e_comprehensive.py
  tests/integration/test_agent_llm_integration.py
  tests/netra_backend/agents/test_agent_isolation.py
  tests/netra_backend/agents/test_execution_isolation.py
  tests/test_request_scoped_executor.py
  tests/test_supply_database_manager_fix_validation.py
  tests/test_websocket_critical_fix_validation.py
  tests/test_websocket_fix_simple_validation.py
  tests/test_websocket_handler_per_connection.py
  tests/test_websocket_user_isolation_security.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore(testing): add priority_p0 pytest marker for critical business tests
  pytest.ini
Due: none

docs(testing): update staging test report with improved success metrics
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

feat(tests): enhance test framework with new markers and pipeline integration
  netra_backend/pytest.ini
  netra_backend/tests/integration/golden_path/test_agent_execution_pipeline_integration.py
  pytest.ini
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(tests): update test execution reports and analysis documentation
  STAGING_TEST_REPORT_PYTEST.md
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_AGENT_EXECUTION_PIPELINE_TIMEOUT_TESTS_20250909.md
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_CRITICAL_USER_NOTIFICATIONS_20250909.md
Due: docker-force-flag-prohibition

docs(tests): update staging test report with latest execution results
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

docs(tests): update timeout test results with confirmed root cause analysis
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_AGENT_EXECUTION_PIPELINE_TIMEOUT_TESTS_20250909.md
Due: docker-force-flag-prohibition

feat(tests): add toolregistry marker to pytest configuration
  netra_backend/pytest.ini
Due: none

feat(testing): add concurrent isolation and resource management pytest markers
  netra_backend/pytest.ini
  pytest.ini
Due: none

feat(websocket): add comprehensive WebSocket event delivery test infrastructure
  netra_backend/tests/integration/golden_path/test_websocket_event_delivery_integration.py
  test_framework/fixtures/no_docker_golden_path_fixtures.py
  tests/integration/golden_path/test_golden_path_suite_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(tests): integrate no-docker fixtures and clean up import references
  netra_backend/tests/database/test_repositories_comprehensive_index.py
  tests/integration/golden_path/test_golden_path_complete_e2e_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): resolve user execution context dependency in WebSocket bridge
  netra_backend/app/services/agent_websocket_bridge.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(golden-path): add WebSocket auth unit tests and refine no-docker fixtures
  netra_backend/tests/unit/golden_path/test_websocket_auth_business_logic.py
  test_framework/fixtures/no_docker_golden_path_fixtures.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(enterprise): add multi-user isolation integration tests and improve fixture lifecycle
  netra_backend/tests/integration/golden_path/test_multi_user_isolation_integration.py
  test_framework/fixtures/no_docker_golden_path_fixtures.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(websocket): enhance user context creation with SSOT UserExecutionContext
  netra_backend/app/services/agent_websocket_bridge.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(websocket-bridge): migrate ID generation to SSOT functions
  netra_backend/app/services/agent_websocket_bridge.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(golden-path): add comprehensive agent execution business logic validation
  netra_backend/tests/unit/golden_path/test_agent_execution_validation_business_logic.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(golden-path): add master documentation index hub
  docs/GOLDEN_PATH_DOCUMENTATION_INDEX.md
Due: docker-force-flag-prohibition

docs(critical-analysis): WebSocket connection failure root cause analysis and test results
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_CRITICAL_USER_NOTIFICATIONS_20250909.md
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_CRITICAL_USER_NOTIFICATIONS_SESSION.md
  tests/e2e/test_results/WEBSOCKET_CONNECTION_FAILURE_FIVE_WHYS_ANALYSIS_20250909.md
Due: docker-force-flag-prohibition

docs(navigation): integrate Golden Path Documentation Index into main navigation
  docs/GOLDEN_AGENT_INDEX.md
  docs/index.md
Due: docker-force-flag-prohibition

feat(chat-orchestrator): implement confidence-based routing with comprehensive testing
  netra_backend/app/agents/chat_orchestrator/confidence_manager.py
  netra_backend/tests/unit/test_chat_orchestrator_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore(testing): update test results after confidence manager implementation
  junit.xml
Due: none

feat(llm): add agenerate legacy compatibility interface
  netra_backend/app/llm/llm_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(chat-orchestrator): improve mock isolation and cache testing
  netra_backend/tests/unit/test_chat_orchestrator_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): correct NewType usage in business logic tests
  tests/unit/golden_path/test_shared_business_logic.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(monitoring): add real-time metrics aggregator and trace collector infrastructure
  audit/staging/auto-solve-loop/critical_database_connection_failures_20250909.md
  netra_backend/app/monitoring/real_time_aggregator.py
  netra_backend/app/monitoring/trace_collector.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(integration): add cost optimization business workflow validation
  tests/integration/business_logic/test_cost_optimization_business_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(websocket): add comprehensive agent events integration validation
  tests/integration/test_websocket_agent_events_integration_fix.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): resolve critical race condition in connection readiness validation
  netra_backend/app/websocket_core/utils.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(agent-bridge): migrate to SSOT agent context parameters
  netra_backend/app/services/agent_websocket_bridge.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): enhance agent execution WebSocket bridge integration
  netra_backend/app/agents/supervisor/agent_execution_core.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(security): add comprehensive security services infrastructure
  netra_backend/app/services/auth/__init__.py
  netra_backend/app/services/auth/token_security_validator.py
  netra_backend/app/services/compliance/__init__.py
  netra_backend/app/services/compliance/compliance_validator.py
  netra_backend/app/services/security/__init__.py
  netra_backend/app/services/security/input_validator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation
