Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: boundary-enforcer, file-size-check, function-complexity-check

boundary-enforcer:
  name: System Boundary Enforcer
  entry: python scripts/boundary_enforcer.py --enforce --fail-on-critical
  language: system
  stages:
  - commit

file-size-check:
  name: File Size Boundary Check
  entry: python scripts/boundary_enforcer.py --check-file-boundaries
  language: system
  stages:
  - commit

function-complexity-check:
  name: Function Complexity Boundary Check
  entry: python scripts/boundary_enforcer.py --check-function-boundaries
  language: system
  stages:
  - commit

a
  frontend/__tests__/integration/comprehensive/performance-benchmarks/concurrent-performance.test.tsx
Due: boundary-enforcer, file-size-check

a
  .dev_launcher_cache/startup_cache.json
  SPEC/learnings/websocket_agent_regression.xml
  agent_to_agent_status_updates/TESTS/integration_test_fixes_2025_08_19_PM.md
  frontend/__tests__/basic-chat/thread-management.test.tsx
  frontend/__tests__/first-time-user/error-recovery.test.tsx
  frontend/__tests__/first-time-user/onboarding-auth-recovery.test.tsx
  frontend/__tests__/first-time-user/onboarding-landing.test.tsx
  frontend/__tests__/first-time-user/onboarding-test-helpers.tsx
  frontend/__tests__/first-time-user/onboarding-welcome.test.tsx
  frontend/__tests__/first-time-user/onboarding.test.tsx
  frontend/__tests__/integration/comprehensive/performance-benchmarks/concurrent-performance.test.tsx
  test_websocket_agent_debug.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  .gitignore
  app/websocket/connection_executor.py
  frontend/__tests__/first-time-user/mobile-experience.test.tsx
  frontend/__tests__/first-time-user/tutorial-help-system.test.tsx
  terraform-gcp/staging.tfplan
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  .dev_launcher_cache/startup_cache.json
  .gitignore
  SPEC/learnings/deployment_staging.xml
  agent_to_agent_status_updates/TESTS/final_test_orchestration_summary_2025_08_19_PM.md
  app/tests/critical/test_websocket_circular_import_regression.py
  app/tests/integration/test_websocket_agent_integration.py
  app/tests/websocket/test_websocket_regression_prevention.py
  app/websocket/error_handler.py
  app/websocket/message_handler_core.py
  app/websocket/message_router.py
  app/websocket/websocket_broadcast_executor.py
  deploy-staging-fixed.ps1
  deploy-staging-reliable-backup.ps1
  deploy-staging-reliable.ps1
  deploy-staging-test.ps1
  frontend/__tests__/critical/chat-functionality/message-send-receive.test.tsx
  frontend/__tests__/critical/chat-functionality/thread-management.test.tsx
  frontend/__tests__/first-time-user/initial-chat.test.tsx
  frontend/__tests__/first-time-user/mobile-experience-helpers.tsx
  frontend/__tests__/first-time-user/mobile-experience.test.tsx
  terraform-gcp/deploy-all-staging-fixed.ps1
  terraform-gcp/deploy-all-staging.ps1
  test_circular_import_fix.py
  test_websocket_agent_debug.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  SPEC/deployment_naming_standards.xml
  test_reports/test_results.json
Due: none

a
  .dev_launcher_cache/startup_cache.json
  SPEC/learnings/websocket_execution_regression.xml
  app/monitoring/metrics_collector.py
  app/tests/critical/test_websocket_circular_import_regression.py
  app/websocket/connection_executor.py
  app/websocket/message_handler_core.py
  app/websocket/message_router.py
  app/websocket/websocket_broadcast_executor.py
  frontend/__tests__/critical/chat-functionality/file-upload.test.tsx
  frontend/__tests__/critical/chat-functionality/message-formatting.test.tsx
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  .dev_launcher_cache/startup_cache.json
  SPEC/learnings/auth.xml
  SPEC/websocket_ideal_state.xml
  app/agents/state.py
  app/tests/critical/test_websocket_execution_engine.py
  app/tests/integration/test_websocket_end_to_end.py
  app/websocket/connection.py
  app/websocket/connection_executor.py
  auth_service/auth_core/routes/auth_routes.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/schemas/agent_models.py
  auth_service/auth_core/services/auth_service.py
  test_reports/test_results.json
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  claude_test_context.md
Due: none

a
  app/tests/unit/test_state_model_regression.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  SPEC/learnings/index.xml
  SPEC/learnings/state_validation.xml
  test_reports/test_results.json
Due: none

a
  .dev_launcher_cache/startup_cache.json
  SPEC/learnings/websocket_errors.xml
  app/agents/base/error_handler.py
  app/tests/critical/test_websocket_circular_import_regression.py
  app/tests/unit/test_state_model_regression.py
  claude_code_system_prompt.md
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/tests/critical/test_execution_context_hashable_regression.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  .dev_launcher_cache/startup_cache.json
  SPEC/dev_launcher.xml
  SPEC/learnings/execution_context_hashable.xml
  SPEC/learnings/index.xml
  SPEC/learnings/websocket_metrics_errors.xml
  app/agents/base/error_handler.py
  app/agents/base/interface.py
  app/routes/utils/websocket_helpers.py
  app/services/agent_service_core.py
  app/services/message_handlers.py
  app/tests/critical/test_execution_context_hashable_regression.py
  app/tests/critical/test_websocket_metrics_regression.py
  app/websocket/connection_manager.py
  dev_launcher/launcher.py
  dev_launcher/process_manager.py
  test_reports/test_results.json
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  SPEC/learnings/index.xml
  SPEC/learnings/websocket_coroutine_error.xml
  SPEC/learnings/websocket_message_paradox.xml
  app/tests/critical/test_websocket_field_alignment.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  SPEC/learnings/websocket_message_paradox.xml
  app/routes/utils/websocket_helpers.py
  app/services/message_handler_base.py
  app/services/message_handlers.py
  app/tests/critical/test_websocket_agent_startup.py
  app/tests/critical/test_websocket_coroutine_regression.py
  app/tests/critical/test_websocket_message_regression.py
  app/tests/services/security_service_test_mocks.py
  app/websocket/unified/message_handlers.py
  test_reports/test_results.json
  tests/test_system_startup.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  SPEC/learnings/index.xml
  SPEC/learnings/websocket_coroutine_fix.xml
  SPEC/learnings/websocket_routing_critical_failure.xml
  app/routes/websockets.py
  app/tests/critical/test_websocket_message_regression.py
  app/tests/critical/test_websocket_message_routing_critical.py
  app/tests/integration/test_websocket_agent_integration.py
  app/tests/validation/test_websocket_message_validation.py
  app/websocket/unified/message_handlers.py
  test_reports/test_results.json
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  SPEC/learnings/index.xml
  SPEC/learnings/websocket_message_processing_fix.xml
  SPEC/learnings/websocket_routing_critical_failure.xml
  app/agents/supervisor_consolidated.py
  app/routes/websockets.py
  app/services/agent_service_core.py
  app/services/message_handlers.py
  app/services/message_processing.py
  app/tests/critical/test_websocket_inverted_logic_prevention.py
  frontend/components/chat/hooks/useMessageSending.ts
  test_reports/test_results.json
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  frontend/hooks/useAgentStart.ts
  frontend/providers/AgentProvider.tsx
  websocket_to_agent_flow.md
Due: boundary-enforcer, file-size-check

a
  frontend/components/chat/hooks/useMessageSending.ts
Due: boundary-enforcer, file-size-check

a
  frontend/components/chat/ExamplePrompts.tsx
  frontend/components/chat/hooks/useMessageSending.ts
Due: boundary-enforcer, file-size-check

aa
  SPEC/error_handling_principles.xml
  SPEC/learnings/index.xml
  SPEC/learnings/websocket_silent_failures.xml
  SPEC/shared_auth_integration.xml
  app/routes/utils/websocket_helpers.py
  app/routes/websockets.py
  app/tests/critical/test_auth_user_persistence_regression.py
  app/tests/critical/test_websocket_auth_regression.py
  auth_service/auth_core/routes/auth_routes.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  auth_service/auth_core/database/main_db_sync.py
Due: file-size-check, function-complexity-check

a
  auth_service/auth_core/database/main_db_sync.py
  auth_service/auth_core/routes/auth_routes.py
  auth_service/main.py
Due: file-size-check, function-complexity-check

a
  .env.auth.example
  auth_service/auth_core/config.py
  auth_service/auth_core/core/jwt_handler.py
  auth_service/auth_core/database/README.md
  auth_service/auth_core/database/connection.py
  auth_service/auth_core/database/main_db_sync.py
  auth_service/requirements.txt
  dev_launcher/auth_starter.py
  docs/deployment/DEPLOY_AUTH_SERVICE.md
  docs/deployment/DEPLOY_STAGING_COMMANDS.md
  terraform-gcp/auth_service.tf
  terraform-gcp/terraform.staging.tfvars
  terraform-gcp/variables.tf
  test_reports/test_results.json
Due: file-size-check, function-complexity-check

a
  auth_service/auth_core/config.py
  auth_service/auth_core/database/main_db_sync.py
  auth_service/main.py
  dev_launcher/auth_starter.py
Due: file-size-check, function-complexity-check

a
  auth_service/auth_core/database/main_db_sync.py
  test_reports/test_results.json
Due: file-size-check, function-complexity-check

a
  SPEC/learnings/interservice_auth_sync.xml
  auth_service/auth_core/database/main_db_sync.py
  auth_service/auth_core/routes/auth_routes.py
Due: file-size-check, function-complexity-check

a
  SPEC/learnings/dev_launcher_mac_compatibility.xml
  SPEC/learnings/index.xml
  SPEC/learnings/startup_optimization.xml
  app/clients/auth_client_config.py
  auth_service/auth_core/routes/auth_routes.py
  dev_launcher/__main__.py
  dev_launcher/auth_starter.py
  dev_launcher/config.py
  dev_launcher/launcher.py
  dev_launcher/log_filter.py
  dev_launcher/optimized_startup.py
  dev_launcher/process_manager.py
  dev_launcher/system_diagnostics.py
  dev_launcher/utils.py
  test_reports/test_results.json
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/clients/auth_client_cache.py
  dev_launcher/service_config.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  .dev_cache/startup_cache.json
  .dev_launcher_cache/dependency_cache.json
  .service_discovery/auth.json
  Dockerfile.auth
  app/websocket/connection_reliability.py
  auth_service_fixed.py
  test_auth_fix.py
  test_websocket_auth_fix.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  LOAD_TEST_RESULTS_REPORT.md
  dev_launcher/dependency_checker.py
  dev_launcher/service_startup.py
  dev_launcher/tests/test_phase3_multiprocessing.py
  test_reports/PERFORMANCE_VALIDATION_SUITE_IMPLEMENTATION_REPORT.md
  test_reports/performance_baseline.json
Due: file-size-check, function-complexity-check

a
  dev_launcher/parallel_executor.py
Due: file-size-check, function-complexity-check

a
  app/websocket/connection_manager.py
  auth_service/auth_core/core/session_manager.py
  auth_service/auth_core/routes/auth_routes.py
  dev_launcher/local_secrets.py
  dev_launcher/parallel_executor.py
  dev_launcher/phase3_demo.py
  dev_launcher/secret_cache.py
  dev_launcher/secret_loader.py
  test_reports/test_results.json
  tests/test_system_startup.py
  websocket_reliability_review.md
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/core/app_factory_route_configs.py
  app/core/app_factory_route_imports.py
  app/ws_manager.py
  dev_launcher/env_parser.py
  dev_launcher/google_secret_manager.py
  dev_launcher/local_secrets.py
  dev_launcher/secret_cache_validation.py
  dev_launcher/secret_config.py
  dev_launcher/secret_loader.py
  dev_launcher/secret_validator.py
  frontend/services/apiClientWrapper.ts
  test_reports/test_results.json
  tests/test_system_startup.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/routes/demo_handlers_templates.py
  app/routes/health.py
  app/services/mcp_service.py
  dev_launcher/quick_health.py
  dev_launcher/secret_cache.py
  dev_launcher/startup_profiler.py
  dev_launcher/startup_sequencer.py
  test_reports/test_results.json
Due: boundary-enforcer, file-size-check, function-complexity-check

Path conditions:
  boundary-enforcer: any of: ^(app|frontend|scripts)/
  file-size-check: any of: \.(py|ts|tsx)$
  function-complexity-check: any of: \.py$
