Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

fix(pytest): Add missing secret_loader and ssot markers to resolve Issue #687
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-ALL_TESTS-20250912-195117.md
  pyproject.toml
Due: docker-force-flag-prohibition

docs(ssot): Update Step 1 completion status for issue #686
  SSOT-incomplete-migration-multiple-execution-engine-implementations.md
Due: docker-force-flag-prohibition

docs(ssot): Update WebSocket SSOT remediation plan with test results
  SSOT-incomplete-migration-websocket-agent-integration-blocking-golden-path.md
Due: docker-force-flag-prohibition

docs(cleanup): Remove completed Issue #584 documentation files
  TEST_PLAN_ISSUE_584.md
  issue_584_audit_comment.md
  issue_584_test_plan_comment.md
  issue_584_test_results_comment.md
Due: docker-force-flag-prohibition

docs: Update SSOT tracking with test execution results
  SSOT-critical-environment-detection-error-policy-direct-os-access-golden-path-blocker.md
Due: docker-force-flag-prohibition

test(ssot): Enhance WebSocket SSOT violation and race condition tests
  tests/e2e/test_issue_449_gcp_staging_websocket_protocol.py
  tests/mission_critical/SSOT_WEBSOCKET_VIOLATION_TEST_RESULTS.md
  tests/mission_critical/websocket_emitter_consolidation/test_critical_event_delivery_inconsistency.py
  tests/mission_critical/websocket_emitter_consolidation/test_ssot_violation_multiple_emitter_instances.py
  tests/mission_critical/websocket_emitter_consolidation/test_websocket_handshake_race_conditions_cloud_run.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(prevention): Add UUID SSOT compliance checker for Issue #584
  tests/issue_584/test_id_generation_inconsistency.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(ssot): Complete Step 2 - Create 4 failing tests proving massive SSOT violations
  tests/e2e/golden_path/test_complete_golden_path_e2e_staging.py
  tests/integration/test_issue_449_fastapi_starlette_middleware_conflicts.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: Complete mega SSOT testing initiative with comprehensive test suite
  FIVE_WHYS_DETAILED_REMEDIATION_PLAN.md
  SSOT-incomplete-migration-JWT-validation-scattered-across-services.md
  merges/CYCLE3-COMPLETION-20250913-135947.md
  netra_backend/app/core/auth_startup_validator.py
  tests/mission_critical/test_factory_pattern_ssot_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs(e2e): Add comprehensive E2E deployment and remediation worklog
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-goldenpath-validation-2025-09-12.md
Due: docker-force-flag-prohibition

test(migration): Enhance ID migration E2E and integration tests
  SSOT-incomplete-migration-config-manager-duplication.md
  tests/migration/test_id_migration_e2e_staging.py
  tests/migration/test_id_migration_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(ssot): Add critical environment detection SSOT documentation and WebSocket validation
  tests/unit/websocket/test_websocket_configuration_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(ssot): Enhance error policy SSOT validation and regression tests
  netra_backend/tests/integration/test_error_policy_isolated_environment.py
  netra_backend/tests/unit/core/exceptions/test_error_policy_ssot.py
  netra_backend/tests/unit/core/exceptions/test_error_policy_ssot_regression.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(testing): Add comprehensive test execution reports and planning documentation
  ISSUE_686_SSOT_TEST_DISCOVERY_REPORT.md
  TEST_EXECUTION_REPORT_ISSUE_89_UNIFIED_ID_MANAGER_MIGRATION.md
  TEST_PLAN_ISSUE_669_WEBSOCKET_INTERFACE_VALIDATION.md
  TEST_STRATEGY_ISSUE_667_EXECUTION_SUMMARY.md
  merges/MERGEISSUE-2025-09-12-201000.md
Due: docker-force-flag-prohibition

docs(test-audit): Add comprehensive Issue #449 WebSocket uvicorn middleware test execution audit report
  ISSUE_449_TEST_EXECUTION_AUDIT_REPORT.md
Due: docker-force-flag-prohibition

test(ssot): Enhance factory pattern compliance test and add SSOT violation test runner
  scripts/run_config_ssot_violation_tests.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(business): Add WebSocket business value protection and performance validation tests
  tests/mission_critical/test_websocket_business_value_protection.py
  tests/unit/golden_path/test_performance_sla_logic_unit.py
  tests/validation/test_issue_668_import_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test(infrastructure): Add comprehensive E2E, integration, and security test directories
  tests/e2e/config_ssot/test_config_ssot_staging_validation.py
  tests/integration/staging/test_staging_jwt_secret_integration.py
  tests/unit/security/jwt/test_jwt_secret_manager_staging.py
  tests/unit/security/jwt/test_staging_configuration_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: Complete agent communication test infrastructure and validation
  SSOT-incomplete-migration-websocket-notifier-duplicate.md
  issue_675_phase1_test_execution_report.md
  tests/integration/golden_path/test_staging_connectivity_integration.py
  tests/interface_validation/__init__.py
  tests/interface_validation/test_websocket_notifier_interface_validation.py
  tests/mission_critical/test_secret_config_validation_issue_683.py
  tests/unit/ssot_validation/test_issue_686_execution_engine_consolidation.py
  tests/validation/test_issue_668_functionality_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs(gardener): Complete CYCLE 4 - Most complex SSOT testing infrastructure delivery
  merges/CYCLE4-COMPLETION-20250913-140547.md
Due: docker-force-flag-prohibition

test(final): Add remaining SSOT validation tests and interface validation suite
  tests/integration/golden_path/test_staging_connectivity_integration.py
  tests/unit/security/jwt/test_jwt_secret_manager_staging.py
  tests/validation/test_issue_668_functionality_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(issue-570): Create missing MissionCriticalTestHelper module for GitHub integration tests
  tests/mission_critical/helpers/test_helpers.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix: Update test infrastructure and add GitHub issue documentation
  ISSUE_669_GITHUB_COMMENT.md
  SSOT-critical-environment-detection-error-policy-direct-os-access-golden-path-blocker.md
  tests/mission_critical/test_agent_factory_ssot_validation.py
  tests/mission_critical/websocket_consolidation/test_concurrent_user_isolation.py
  tests/unit/security/jwt/test_staging_configuration_validation.py
  tests/validation/test_issue_668_functionality_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test(ssot): Refine SSOT violation detection logic in WebSocket emitter consolidation tests
  tests/mission_critical/websocket_emitter_consolidation/test_ssot_violation_multiple_emitter_instances.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test(ssot): Use print statements for clearer test output in SSOT violation tests
  tests/mission_critical/websocket_emitter_consolidation/test_ssot_violation_multiple_emitter_instances.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test(ssot): Add missing logging import in WebSocket event delivery isolation test
  tests/mission_critical/websocket_emitter_consolidation/test_event_delivery_wrong_user_isolation_failure.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs: Add comprehensive SSOT remediation plan for ErrorPolicy
  SSOT-critical-environment-detection-error-policy-direct-os-access-golden-path-blocker.md
Due: docker-force-flag-prohibition

docs(ssot): Update SSOT migration progress tracking documentation
  SSOT-incomplete-migration-websocket-agent-integration-blocking-golden-path.md
  tests/mission_critical/websocket_emitter_consolidation/test_critical_event_delivery_inconsistency.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs(ssot): Complete Step 3 - Design comprehensive 5-phase SSOT remediation strategy
  tests/mission_critical/websocket_emitter_consolidation/test_critical_event_delivery_inconsistency.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs(gardener): Update failing test gardener worklog with latest processing status
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-ALL_TESTS-20250912-195117.md
Due: docker-force-flag-prohibition

test(mission-critical): Add secret injection bridge test and WebSocket consolidation detection
  STAGING_TEST_REPORT_PYTEST.md
  temp_comment.md
  tests/integration/staging/test_staging_jwt_secret_integration.py
  tests/mission_critical/test_secret_injection_bridge_issue_683.py
  tests/mission_critical/websocket_consolidation/test_multiple_websocket_notifier_detection.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs: Update mission critical SSOT validation test
  tests/mission_critical/test_agent_factory_ssot_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test(e2e): Add health endpoints and staging config validation tests
  tests/e2e/test_issue_598_health_endpoints_simple.py
  tests/e2e/test_staging_config_validation_failures_issue_683.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore(issue-598): Add Redis configuration remediation plan and test execution report
  ISSUE_89_TEST_EXECUTION_REPORT.md
  docs/remediation/ISSUE_598_REDIS_CONFIG_REMEDIATION_PLAN.md
  netra_backend/tests/integration/health/test_redis_configuration_validation_integration.py
  tests/integration/id_migration/test_cross_service_id_consistency.py
  tests/integration/id_migration/test_multi_user_id_isolation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: Complete Phase 2 SSOT testing and implement Uvicorn protocol enhancements
  SSOT-incomplete-migration-websocket-emitter-proliferation.md
  netra_backend/app/core/middleware_setup.py
  netra_backend/app/middleware/uvicorn_protocol_enhancement.py
  tests/mission_critical/websocket_emitter_consolidation/PHASE_2_NEW_FAILING_TESTS_SUMMARY.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Enhance middleware setup with comprehensive Uvicorn compatibility
  netra_backend/app/core/middleware_setup.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(issue-598): Update RedisConfig to load from environment variables
  netra_backend/app/schemas/config.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(failing-test-gardener): Process Issue #7 missing dependencies cleanup
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-ALL_TESTS-20250912-195117.md
  netra_backend/app/middleware/gcp_websocket_readiness_middleware.py
  netra_backend/tests/integration/test_tool_execution_dispatch.py
  netra_backend/tests/unit/agent_execution/test_circuit_breaker_logic.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Complete GCP WebSocket readiness enhancement and SSOT test consolidation
  netra_backend/app/middleware/gcp_websocket_readiness_middleware.py
  netra_backend/tests/integration/test_tool_execution_dispatch.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Final GCP WebSocket readiness middleware uvicorn compatibility enhancement
  netra_backend/app/middleware/gcp_websocket_readiness_middleware.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
