Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation, protect-staging-config

Path conditions:
  new-file-compliance: any of: \.(py|ts|tsx)$
  edited-lines-check: any of: \.(py|ts|tsx)$
  prevent-new-relative-imports: any of: \.py$
  main-code-quality: any of: ^(netra_backend/app|auth_service/auth_core|frontend/src)/.*\.(py|ts|tsx)$
  test-file-leniency: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  new-duplicate-prevention: any of: \.py$
  check-environment-isolation: any of: (test_.*\.py|.*_test\.py|tests/.*\.py|conftest\.py)$
  protect-staging-config: any of: netra_backend/app/schemas/config\.py$

docs(learnings): add critical Docker stability analysis
  SPEC/learnings/docker_configuration_cache_loop_critical_fix.xml
  SPEC/learnings/docker_daemon_crash_resource_exhaustion.xml
  SPEC/learnings/docker_daemon_persistent_failure_analysis.xml
Due: none

tools(dev): add development utilities and Docker stability tools
  docker-compose.dev-minimal.yml
  scripts/demo_layer_system.py
  scripts/demo_orchestrator_integration.py
  scripts/setup_local_development.sh
  scripts/test_docker_stability.sh
  scripts/validate_layer_config.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

feat(test-framework): implement layered test architecture system
  test_framework/config/LAYERED_SYSTEM_SUMMARY.md
  test_framework/config/LAYER_IMPLEMENTATION_GUIDE.md
  test_framework/config/layer_schema.yaml
  test_framework/config/test_framework/config/test_layers.yaml
  test_framework/config/test_layers.yaml
  test_framework/layer_system.py
  test_framework/orchestration/__init__.py
  test_framework/orchestration/integration_test.py
  test_framework/orchestration/test_orchestrator_agent.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

feat(test-framework): add layer execution agent
  test_framework/orchestration/layer_execution_agent.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

learnings(startup): document supervisor initialization dependency fix
  SPEC/learnings/index.xml
  SPEC/learnings/supervisor_initialization_dependency_fix.xml
Due: none

docs(websocket): add staging environment fixes summary
  WEBSOCKET_STAGING_FIXES_SUMMARY.md
Due: none

fix(frontend): use backend API URL for agent endpoints
  SPEC/learnings/auth_state_race_condition_fix.xml
  config/staging.env
  frontend/auth/context.tsx
  frontend/components/chat/hooks/useMessageSending.ts
  netra_backend/app/core/configuration/secrets.py
  netra_backend/app/redis_manager.py
  netra_backend/app/routes/mcp/config.py
  netra_backend/app/startup_module.py
  netra_backend/tests/routes/test_mcp_config_staging.py
  shared/redis_config_builder.py
  test_error_fixes.py
  test_staging_auth_fix.py
  test_staging_services.py
  tests/mission_critical/test_websocket_startup_dependencies.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

fix(auth): resolve critical auth state race condition in frontend
  SPEC/learnings/websocket_staging_startup_fix.xml
  dev_launcher/auth_starter.py
  dev_launcher/backend_starter.py
  netra_backend/app/core/configuration/secrets.py
  netra_backend/app/routes/mcp/config.py
  netra_backend/app/routes/websocket.py
  test_error_fixes.py
  test_jwt_fix.py
  tests/mission_critical/test_auth_state_consistency.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs(learnings): add auth state race condition fix to index
  SPEC/learnings/index.xml
Due: none

refactor(test-framework): restructure test layer configuration system
  test_framework/config/test_layers.yaml
  test_framework/orchestration/__init__.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(orchestration): optimize test orchestrator agent architecture
  test_framework/orchestration/test_orchestrator_agent.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

feat(test-runner): integrate background E2E agent support
  scripts/unified_test_runner.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

feat(orchestration): add comprehensive background E2E agent system
  docs/background_e2e_agent_guide.md
  examples/background_e2e_demo.py
  scripts/demo_layer_execution_agent.py
  test_framework/orchestration/README.md
  test_framework/orchestration/background_e2e_agent.py
  test_framework/orchestration/test_background_e2e_agent.py
  test_framework/orchestration/test_integration_layer_execution.py
  test_framework/orchestration/test_layer_execution_agent.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(regression): add comprehensive tests for API URL configuration
  SPEC/learnings/frontend_api_url_configuration.xml
  SPEC/learnings/index.xml
  frontend/__tests__/regression/api-url-configuration.test.tsx
  netra_backend/app/routes/websocket.py
  netra_backend/app/startup_module.py
  netra_backend/tests/regression/test_agent_endpoints_configuration.py
  test_api_url_fix.py
  test_jwt_fix.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

chore: clean up temporary test files
  test_api_url_fix.py
  test_staging_auth_fix.py
  test_staging_services.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

fix(startup): implement deterministic startup sequence for critical chat services
  SPEC/startup_sequence_deterministic.xml
  netra_backend/app/startup_module.py
  netra_backend/app/startup_module_deterministic.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test(startup): add comprehensive tests for deterministic startup
  ERROR
  SPEC/learnings/deterministic_startup_critical.xml
  SPEC/learnings/index.xml
  docker-compose.dev-minimal.yml
  docker-compose.override.yml
  docker-compose.windows.yml
  tests/test_deterministic_startup.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

fix(staging): consolidate staging service URLs into SSOT
  netra_backend/app/core/network_constants.py
  tests/e2e/config.py
  tests/e2e/staging_auth_bypass.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

feat(testing): add staging environment support to unified test runner
  scripts/unified_test_runner.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

feat(orchestration): integrate resource management agent exports
  test_framework/orchestration/__init__.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(e2e): enhance staging authentication and API integration tests
  tests/e2e/integration/test_staging_oauth_authentication.py
  tests/e2e/test_auth_flow_comprehensive.py
  tests/e2e/test_auth_service_staging.py
  tests/e2e/test_staging_api_with_auth.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs(testing): add staging E2E testing integration documentation
  SPEC/learnings/staging_e2e_direct_testing_integration.xml
  docs/E2E_STAGING_TESTING_REQUIREMENTS.md
  docs/E2E_TESTS_GCP_SECRETS_INTEGRATION_PLAN.md
  netra_backend/tests/integration/test_mcp_service_critical_paths.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

feat(orchestration): add comprehensive agent system components
  test_framework/orchestration/RESOURCE_MANAGEMENT_AGENT.md
  test_framework/orchestration/demo_progress_streaming.py
  test_framework/orchestration/progress_streaming_agent.py
  test_framework/orchestration/progress_streaming_integration_example.py
  test_framework/orchestration/resource_management_agent.py
  test_framework/orchestration/test_progress_streaming_agent.py
  test_framework/orchestration/test_resource_management_agent.py
  test_framework/orchestration/test_resource_management_integration.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

fix(schemas): correct validation utils function name and regex pattern
  netra_backend/app/schemas/validation_utils.py
  shared/database_url_builder.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

feat(testing): enhance unified test runner with improved error handling
  scripts/unified_test_runner.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

fix(auth_service): add comprehensive test coverage validation
  auth_service/test_coverage_fix.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

feat(backend): add realistic MCP service integration test
  netra_backend/tests/integration/test_mcp_service_realistic.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

feat(orchestration): add master orchestration controller
  test_framework/orchestration/master_orchestration_controller.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

chore(auth_service): update test configuration and coverage reports
  auth_service/coverage.json
  auth_service/coverage.xml
  auth_service/junit.xml
  auth_service/pytest.ini
Due: none

docs(testing): add MCP service realistic testing documentation
  auth_service/test_coverage_fix.py
  docs/MCP_SERVICE_REALISTIC_TESTING.md
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

feat(testing): add orchestration integration test suite
  tests/integration/test_orchestration_integration.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

feat(infrastructure): add VPC connector for Redis/Cloud SQL access
  SPEC/learnings/redis_vpc_connector_requirement.xml
  terraform-gcp-staging/vpc-connector.tf
Due: none

test(e2e): add configuration validation and Docker testing utilities
  scripts/test_docker_config.py
  tests/e2e/test_configuration_e2e.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

fix(validation): update environment validator for proper database config checks
  netra_backend/app/core/environment_validator.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

feat(deploy): add VPC connector support to GCP deployment
  scripts/deploy_to_gcp.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

docs(learnings): document VPC connector requirement for Cloud Run
  SPEC/learnings/index.xml
Due: none

feat(auth): implement shared JWT secret manager for cross-service authentication
  auth_service/auth_core/config.py
  netra_backend/app/auth_integration/auth.py
  shared/jwt_secret_manager.py
  tests/integration/test_jwt_secret_sync.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation
