Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

test(infrastructure): improve test reliability and cleanup
  netra_backend/tests/unit/agents/test_base_agent_infrastructure.py
  shared/cors_config_builder.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore(tests): update test results and coverage reports
  auth_service/coverage.json
  auth_service/coverage.xml
  auth_service/junit.xml
  junit.xml
Due: none

docs: add Docker audit report documenting architecture findings
  docker_audit_report.md
Due: docker-force-flag-prohibition

refactor(agents): remove legacy triage sub-agent in favor of golden pattern
  netra_backend/app/agents/triage/triage_sub_agent.py
  netra_backend/tests/integration/agents/test_triage_infrastructure_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(agents): add data sub-agent compatibility modules
  netra_backend/app/agents/data_sub_agent/analysis_engine.py
  netra_backend/app/agents/data_sub_agent/query_builder.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: fix imports and code formatting in test suites
  netra_backend/tests/agents/test_data_sub_agent_golden_pattern.py
  netra_backend/tests/critical/test_websocket_execution_engine.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(agents): update unit tests for modern execution patterns
  netra_backend/tests/unit/agents/test_agent_edge_cases_critical.py
  netra_backend/tests/unit/agents/test_agent_performance_benchmarks.py
  netra_backend/tests/unit/agents/test_base_agent_infrastructure.py
  netra_backend/tests/unit/agents/test_base_agent_infrastructure_enhanced.py
  netra_backend/tests/unit/agents/test_reporting_agent_golden.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(oauth): establish SSOT for OAuth redirect URIs
  auth_service/auth_core/oauth/google_oauth.py
  auth_service/auth_core/routes/auth_routes.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

deprecate(auth): mark get_oauth_redirect_uri() as deprecated
  auth_service/auth_core/auth_environment.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

config(staging): deprecate OAUTH_REDIRECT_URI environment variables
  config/staging.env
Due: none

docs(config): document OAuth redirect URI deprecation in config map
  netra_backend/app/core/config_dependencies.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(oauth): add comprehensive OAuth SSOT analysis and architecture docs
  CODEBASE_ANTI_PATTERNS_AUDIT.md
  OAUTH_REDIRECT_URI_MISMATCH_AUDIT.md
  OAUTH_REDIRECT_URI_SSOT_ARCHITECTURE.md
  OAUTH_SSOT_COMPLIANCE_ANALYSIS.md
  SSOT_ANTI_PATTERNS_ANALYSIS.md
Due: docker-force-flag-prohibition

spec(learnings): document OAuth redirect URI SSOT fix
  SPEC/learnings/oauth_redirect_uri_ssot_fix_20250905.xml
Due: none

test(oauth): add regression test for OAuth redirect URI SSOT
  auth_service/tests/test_oauth_redirect_regression.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore(ssot): add anti-patterns remediation directory structure
  ssot_anti_patterns_remediation/EXECUTION_STRATEGY.md
  ssot_anti_patterns_remediation/MASTER_ORCHESTRATION_PLAN.md
  ssot_anti_patterns_remediation/team_01_environment_access.md
  ssot_anti_patterns_remediation/team_02_manager_consolidation.md
  ssot_anti_patterns_remediation/team_03_registry_unification.md
  ssot_anti_patterns_remediation/team_04_test_ssot_migration.md
  ssot_anti_patterns_remediation/team_05_migration_forcing.md
Due: docker-force-flag-prohibition

chore(test): update test coverage and junit reports
  coverage.json
  coverage.xml
  junit.xml
Due: none

docs(bug-fix): add auth 401 staging investigation report
  BUG_FIX_REPORT_AUTH_401_STAGING.md
Due: docker-force-flag-prohibition

fix(auth): add environment-specific JWT secret support for staging
  BUG_FIX_REPORT_AUTH_401_STAGING.md
  STAGING_DEPLOYMENT_PLAN.md
  auth_service/auth_core/auth_environment.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(staging): add GCP staging SERVICE_SECRET outage investigation
  CONFIG_DEPENDENCY_MAP_SERVICE_SECRET_20250905.md
  GCP_STAGING_FIVE_WHYS_AUDIT_20250905.md
  GCP_STAGING_REMEDIATION_PLAN_20250905.md
Due: docker-force-flag-prohibition

feat(scripts): add GCP staging SERVICE_SECRET deployment fix
  scripts/fix_gcp_staging_service_secret.sh
Due: docker-force-flag-prohibition, docker-security-audit

feat(config): enhance SERVICE_SECRET monitoring and regression prevention
  CONFIG_REGRESSION_PREVENTION_PLAN.md
  SPEC/MISSION_CRITICAL_NAMED_VALUES_INDEX.xml
Due: docker-force-flag-prohibition

test(config): add SERVICE_SECRET regression prevention test suite
  tests/integration/test_gcp_staging_config_validation.py
  tests/mission_critical/test_service_secret_dependency.py
  tests/mission_critical/test_service_secret_regression_simple.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test(auth): enhance post-deployment validation for SERVICE_SECRET
  tests/post_deployment/test_auth_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore(test): update coverage reports after SERVICE_SECRET test suite
  coverage.json
  coverage.xml
  junit.xml
Due: none

fix(auth): resolve deployment import error for MockAuthService
  auth_service/auth_core/routes/auth_routes.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(critical): restore SERVICE_SECRET loading from environment variables
  CONFIG_SECRET_LOADING_REGRESSION_20250905.md
  DOCKER_INFRASTRUCTURE_OVERHAUL_COMPLETE.md
  DOCKER_WORKFLOW_VALIDATION_FINAL_REPORT.md
  DOCKER_WORKFLOW_VALIDATION_REPORT.json
  DOCKER_WORKFLOW_VALIDATION_REPORT.md
  SPEC/learnings/auth_service_2_second_build_analysis.xml
  coverage.json
  coverage.xml
  deployment/secrets_config.py
  docker-compose.staging.alpine.yml
  docker/auth.staging.alpine.Dockerfile
  docker/backend.staging.alpine.Dockerfile
  docker/frontend.staging.alpine.Dockerfile
  docs/ALPINE_STAGING_DEPLOYMENT_GUIDE.md
  junit.xml
  netra_backend/app/agents/supervisor/agent_instance_factory.py
  netra_backend/app/database/session_manager.py
  netra_backend/app/schemas/config.py
  netra_backend/app/startup_checks/environment_checks.py
  requirements.txt
  scripts/deploy_to_gcp.py
  scripts/refresh_dev.py
  scripts/validate_deployment_config_fix.py
  scripts/validate_docker_workflow.py
  test_auth_registration.py
  tests/unit/test_api_versioning_fix.py
  tests/unit/test_config_secret_loading_regression.py
  tests/unit/test_env_file_staging_protection.py
  tests/unit/test_environment_isolation_simple.py
  tests/unit/test_factory_consolidation.py
  tests/unit/test_health_monitoring_bug.py
  tests/unit/test_session_isolation.py
  tests/utils/asyncio_test_utils.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(docker): remove automatic migrations from staging Alpine container
  docker/backend.staging.alpine.Dockerfile
  docker/migrations.alpine.Dockerfile
Due: none

feat(migrations): add Cloud SQL migration runner for staging
  scripts/run_cloud_migrations.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(config): add comprehensive environment-specific configuration classes
  netra_backend/app/schemas/config.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(unit): fix async generator cleanup and mock configurations
  tests/unit/test_session_isolation.py
  tests/unit/test_unified_env_loading.py
  tests/unit/test_unified_isolated_environment_migration.py
  tests/unit/test_websocket_notifications.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore(deps): clean up duplicate dependencies in requirements
  requirements.txt
Due: docker-force-flag-prohibition

docs(learnings): document Alpine staging deployment lessons
  SPEC/learnings/alpine_staging_deployment_issues_20250905.xml
Due: none

feat(supply): add dedicated SupplyDatabaseManager for supply research operations
  netra_backend/app/agents/supply_researcher/supply_database_manager.py
  tests/test_supply_database_manager_import_error.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(supply): update import paths to use local SupplyDatabaseManager
  netra_backend/app/agents/supply_researcher/__init__.py
  netra_backend/app/agents/supply_researcher/agent.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(supply): add bug fix report for SupplyDatabaseManager import error
  BUG_FIX_REPORT_SupplyDatabaseManager_Import.md
Due: docker-force-flag-prohibition

docs(staging): add Five Whys analysis for staging environment failures
  FIVE_WHYS_STAGING_CONFIG_FAILURE_20250905.md
  FIVE_WHYS_STAGING_WEBSOCKET_NO_CONNECTION.md
  STAGING_CONFIG_REMEDIATION_PLAN.md
Due: docker-force-flag-prohibition

learnings(spec): document Cloud Run configuration failure patterns
  SPEC/learnings/cloud_run_config_failure_20250905.xml
Due: none

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
