Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$

feat(ssot): track issue #709 agent factory singleton legacy remediation
  SSOT-incomplete-migration-agent-factory-singleton-legacy.md
Due: docker-force-flag-prohibition

fix(db): Add enhanced error classification keywords for ClickHouse operations
  netra_backend/app/db/transaction_errors.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(db): Add comprehensive ClickHouse exception specificity validation
  tests/unit/database/test_clickhouse_exception_specificity_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(ssot): Add progress tracker for execution engine factory chaos
  SSOT-incomplete-migration-execution-engine-factory-chaos.md
Due: docker-force-flag-prohibition

docs(ssot): Complete Phase 6 WebSocket emitter SSOT consolidation - PR created
  SSOT-incomplete-migration-websocket-emitter-proliferation.md
Due: docker-force-flag-prohibition

feat(ssot): track issue #711 environment access violations remediation
  SSOT-incomplete-migration-environment-access-violations.md
Due: docker-force-flag-prohibition

fix(auth): Complete UnifiedIDManager migration Phase 1 for Issue #89
  auth_service/auth_core/business_logic/user_business_logic.py
  netra_backend/app/auth_integration/auth.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(agents): Update agent factories for UnifiedIDManager compliance
  netra_backend/app/agents/supervisor/agent_instance_factory.py
  netra_backend/app/agents/supervisor/execution_engine_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(commands): Update test commands for UnifiedIDManager migration
  .claude/commands/runtests.md
  .claude/commands/ultimate-test-deploy-loop.md
Due: docker-force-flag-prohibition

feat(ssot): track issue #712 websocket manager golden path validation
  ISSUE_89_PROOF_RESULTS.md
  SSOT-validation-needed-websocket-manager-golden-path.md
Due: docker-force-flag-prohibition

docs(db): Complete Issue #673 ClickHouse API Completeness documentation
  ISSUE_673_COMPLETION_GITHUB_COMMENT.md
Due: docker-force-flag-prohibition

feat(ssot): COMPLETE WebSocket emitter SSOT consolidation process
  SSOT-incomplete-migration-websocket-emitter-proliferation.md
Due: docker-force-flag-prohibition

feat(ssot): MAJOR discovery - 417 relevant test files found for execution engine SSOT
  SSOT-incomplete-migration-execution-engine-factory-chaos.md
Due: docker-force-flag-prohibition

docs(issue-673): Add comprehensive GitHub issue completion validation
  ISSUE_673_COMPLETION_GITHUB_COMMENT.md
Due: docker-force-flag-prohibition

fix(clickhouse): Enhance error classification and handling robustness
  netra_backend/app/db/clickhouse.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(ssot): update issue #709 with test discovery results
  SSOT-incomplete-migration-agent-factory-singleton-legacy.md
Due: docker-force-flag-prohibition

test(golden-path): Enable WebSocket test helpers in business value validation
  tests/e2e/golden_path/test_complete_golden_path_business_value.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(issue-673): Add comprehensive final remediation report for ClickHouse API completeness
  ISSUE_673_FINAL_REMEDIATION_REPORT.md
  test_import_verification_issue_668.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

cleanup(issue-668): Remove temporary import verification test script
  test_import_verification_issue_668.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(backend): resolve P0 critical worker boot failure in thread_cleanup_manager
  netra_backend/app/core/thread_cleanup_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(e2e): Add agent-focused E2E testing worklog for staging validation
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-agents-2025-09-13-21.md
Due: docker-force-flag-prohibition

docs(testing): Add comprehensive test creation priorities strategy
  test_creation_priorities.md
Due: docker-force-flag-prohibition

docs(e2e): Update agent test results worklog with staging validation results
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-agents-2025-09-13-21.md
Due: docker-force-flag-prohibition

docs(ssot): Document P0 Golden Path blocker in AuthStartupValidator environment access
  SSOT-environment-access-auth-startup-validator-bypass.md
Due: docker-force-flag-prohibition

test(unit): Add comprehensive StringUtils security test suite
  netra_backend/tests/unit/test_utils_string_utils.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(unit): Add comprehensive DatetimeUtils timezone handling test suite
  netra_backend/tests/unit/test_utils_datetime_utils.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(ssot): Add Issue #716 test discovery and planning for AuthStartupValidator SSOT remediation
  SSOT-environment-access-auth-startup-validator-bypass.md
Due: docker-force-flag-prohibition

feat(tests): Add foundation unit tests for agents module - Issue #714 Step 2
  netra_backend/tests/unit/agents/supervisor/test_agent_execution_core_foundations.py
  netra_backend/tests/unit/agents/supervisor/test_agent_instance_factory_foundations.py
  netra_backend/tests/unit/agents/supervisor/test_agent_registry_foundations.py
  netra_backend/tests/unit/agents/test_base_agent_foundations.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(issue-714): Resolve critical test collection issues in foundation test files
  netra_backend/tests/unit/agents/supervisor/test_agent_registry_foundations.py
  netra_backend/tests/unit/agents/test_base_agent_foundations.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): Add e2e-testing subprotocol support for agent E2E tests
  netra_backend/app/websocket_core/unified_jwt_protocol_handler.py
  tests/e2e/staging_test_config.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(agents): Correct UserExecutionContext API signature parameter naming
  netra_backend/app/dependencies.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(test-coverage): Complete foundation unit tests for agents module - Phase 1 final cleanup
  STAGING_TEST_REPORT_PYTEST.md
  netra_backend/app/routes/websocket_ssot.py
  netra_backend/app/services/agent_websocket_bridge.py
  netra_backend/app/websocket_core/unified_init.py
  netra_backend/tests/unit/test_websocket_manager_factory.py
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-agents-e2e-2025-09-12-20.md
  tests/integration/test_user_context_isolation_factory.py
  tests/unit/agents/test_factory_method_pattern_compliance.py
  tests/unit/deprecation/test_deprecation_pattern_detection.py
  tests/unit/test_memory_management_factory_pattern.py
  tests/websocket_auth_protocol_tdd/test_jwt_extraction_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(test-coverage): Add comprehensive WebSocket unit tests for Issue #714 Phase 1
  netra_backend/tests/unit/websocket_core/test_event_monitor.py
  netra_backend/tests/unit/websocket_core/test_event_validation_framework.py
  netra_backend/tests/unit/websocket_core/test_unified_manager.py
  netra_backend/tests/unit/websocket_core/test_unified_websocket_auth.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(Issue #716): Remove SSOT environment access violations in AuthStartupValidator
  netra_backend/app/core/auth_startup_validator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(auth-integration): Issue #718 auth integration infrastructure fixes and comprehensive test suite
  netra_backend/app/agents/mixins/websocket_bridge_adapter.py
  netra_backend/app/agents/request_scoped_tool_dispatcher.py
  netra_backend/app/core/configuration/loader.py
  netra_backend/app/core/timeout_configuration.py
  tests/integration/auth/test_auth_error_recovery_integration.py
  tests/integration/auth/test_auth_performance_load_integration.py
  tests/integration/auth/test_auth_security_edge_cases_integration.py
  tests/integration/auth/test_cross_service_auth_validation_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(auth-tests): Add comprehensive unit tests for auth security, performance, audit, and compliance modules - Issue #718
  auth_service/tests/unit/test_audit_business_logic_comprehensive.py
  auth_service/tests/unit/test_auth_performance_metrics_comprehensive.py
  auth_service/tests/unit/test_compliance_business_logic_comprehensive.py
  auth_service/tests/unit/test_cross_service_validator_comprehensive.py
  auth_service/tests/unit/test_jwt_performance_comprehensive.py
  auth_service/tests/unit/test_security_middleware_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(test-coverage): Phase 1 foundation unit tests for agents module - Issue #714
  netra_backend/tests/agents/domain_experts/test_base_expert.py
  netra_backend/tests/agents/domain_experts/test_business_expert.py
  netra_backend/tests/agents/supervisor/test_agent_registry_isolation.py
  netra_backend/tests/agents/supervisor/test_agent_registry_lifecycle.py
  netra_backend/tests/agents/supervisor/test_user_execution_engine_context_isolation.py
  netra_backend/tests/agents/supervisor/test_user_execution_engine_state_management.py
  netra_backend/tests/agents/test_base_agent_initialization.py
  netra_backend/tests/agents/test_base_agent_user_context.py
  netra_backend/tests/agents/test_base_agent_websocket_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation
