Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$

test: add comprehensive SSOT deployment validation test suite
  tests/e2e/ssot/test_deployment_ssot_staging_validation.py
  tests/integration/ssot/test_deployment_ssot_integration.py
  tests/unit/ssot/test_deployment_canonical_source_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: complete WebSocket SSOT remediation with PR creation
  SSOT-regression-websocket-manager-duplication-blocks-golden-path.md
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-golden-path-20250910_1500.md
Due: docker-force-flag-prohibition

test: add mission critical SSOT deployment compliance validation
  tests/mission_critical/test_deployment_ssot_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(SSOT): complete AgentExecutionTracker consolidation - Phase 3 & 4
  netra_backend/app/agents/agent_state_tracker.py
  netra_backend/app/agents/execution_timeout_manager.py
  netra_backend/app/agents/supervisor/execution_engine.py
  tests/unit/ssot_validation/test_agent_execution_tracker_ssot_consolidation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(issue-220): complete Phase 2 AgentExecutionTracker SSOT consolidation
  netra_backend/app/agents/agent_state_tracker.py
  netra_backend/app/agents/execution_timeout_manager.py
  netra_backend/app/agents/supervisor/agent_execution_core.py
  netra_backend/app/llm/llm_manager.py
  netra_backend/docs/redis_ssot_remediation_plan.md
  netra_backend/redis_remediation_github_comment.md
  netra_backend/reports/testing/GITHUB_ISSUE_226_UPDATE.md
  netra_backend/reports/testing/REDIS_SSOT_VIOLATION_TEST_PLAN_ISSUE_226.md
  netra_backend/scripts/scan_redis_violations.py
  netra_backend/tests/integration/test_agent_execution_core.py
  netra_backend/tests/unit/agents/supervisor/test_agent_execution_core_comprehensive_unit.py
  netra_backend/tests/unit/agents/supervisor/test_agent_execution_core_concurrency.py
  netra_backend/tests/unit/agents/test_agent_execution_core_comprehensive.py
  netra_backend/tests/unit/test_agent_execution_core.py
  tests/COMPREHENSIVE_TEST_PLAN_ISSUE_220.md
  tests/ISSUE_220_IMMEDIATE_TEST_EXECUTION_GUIDE.md
  tests/integration/agent_execution_flows/test_agent_execution_timeout_management.py
  tests/integration/agent_execution_flows/test_agent_lifecycle_state_management.py
  tests/integration/agent_execution_flows/test_agent_state_persistence_recovery.py
  tests/integration/agent_execution_flows/test_concurrent_agent_state_management.py
  tests/integration/agent_execution_flows/test_deep_agent_state_transitions.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(SSOT): consolidate AgentExecutionTracker functionality - Phase 1
  netra_backend/app/core/agent_execution_tracker.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(SSOT): migrate imports to consolidated AgentExecutionTracker - Phase 2
  netra_backend/app/agents/supervisor/execution_engine.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: ensure WebSocketNotifier validation and improve E2E test mock setup - final SSOT deployment validation
  netra_backend/app/services/agent_websocket_bridge.py
  tests/e2e/test_real_agent_websocket_notifications.py
  tests/unit/ssot/test_deployment_configuration_consistency.py
  tests/unit/ssot/test_deployment_import_path_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: complete Git Commit Gardener FINAL Iteration 10 - comprehensive process completion
  merges/GIT_GARDENER_ITERATION_10_FINAL_COMPLETION_20250910.md
Due: docker-force-flag-prohibition

test: add final SSOT deployment violation prevention test suite
  tests/unit/ssot/test_deployment_ssot_violation_prevention.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add Golden Path E2E test execution results worklog
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-golden-path-20250910_1500.md
Due: docker-force-flag-prohibition

docs: update final completion report with successful remote merge integration
  merges/GIT_GARDENER_ITERATION_10_FINAL_COMPLETION_20250910.md
Due: docker-force-flag-prohibition

ssot: complete test creation for deployment canonical conflicts
  SSOT-incomplete-migration-deploy-script-canonical-source-conflicts.md
Due: docker-force-flag-prohibition

fix: resolve WebSocket import conflicts in E2E test collection
  tests/e2e/websocket_e2e_tests/README.md
  tests/e2e/websocket_e2e_tests/__init__.py
  tests/e2e/websocket_e2e_tests/auth/__init__.py
  tests/e2e/websocket_e2e_tests/auth/test_performance_optimization_validation.py
  tests/e2e/websocket_e2e_tests/auth/test_websocket_session_security.py
  tests/e2e/websocket_e2e_tests/auth/test_websocket_token_lifecycle.py
  tests/e2e/websocket_e2e_tests/test_agent_execution_websocket_integration.py
  tests/e2e/websocket_e2e_tests/test_agent_execution_websocket_integration.py.backup_pre_factory_migration
  tests/e2e/websocket_e2e_tests/test_chat_cloud_run_simulation.py
  tests/e2e/websocket_e2e_tests/test_complete_agent_execution_with_events.py
  tests/e2e/websocket_e2e_tests/test_complete_chat_business_value_flow.py
  tests/e2e/websocket_e2e_tests/test_complete_chat_business_value_flow.py.backup_pre_factory_migration
  tests/e2e/websocket_e2e_tests/test_gcp_race_condition_comprehensive_e2e.py
  tests/e2e/websocket_e2e_tests/test_isolation_violation_detection.py
  tests/e2e/websocket_e2e_tests/test_issue_174_state_machine_coordination.py
  tests/e2e/websocket_e2e_tests/test_multi_user_concurrent_agent_execution.py
  tests/e2e/websocket_e2e_tests/test_real_multi_user_websocket_isolation.py
  tests/e2e/websocket_e2e_tests/test_redis_race_condition_websocket_e2e.py
  tests/e2e/websocket_e2e_tests/test_websocket_1011_error_reproduction.py
  tests/e2e/websocket_e2e_tests/test_websocket_1011_error_solution_validation.py
  tests/e2e/websocket_e2e_tests/test_websocket_accept_race_condition_reproduction.py
  tests/e2e/websocket_e2e_tests/test_websocket_id_chat_flow_e2e.py
  tests/e2e/websocket_e2e_tests/test_websocket_multi_user_isolation_e2e.py
  tests/e2e/websocket_e2e_tests/test_websocket_race_condition_cloud_run_reproduction.py
  tests/e2e/websocket_e2e_tests/test_websocket_race_conditions_golden_path.py
  tests/e2e/websocket_e2e_tests/test_websocket_reconnection_during_agent_execution.py
  tests/e2e/websocket_e2e_tests/test_websocket_reconnection_during_agent_execution.py.backup_pre_factory_migration
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

ssot: complete remediation plan for deployment canonical conflicts
  SSOT-incomplete-migration-deploy-script-canonical-source-conflicts.md
Due: docker-force-flag-prohibition

fix: enhance WebSocketNotifier factory validation for Golden Path functionality
  FIVE_WHYS_WEBSOCKET_NOTIFIER_BUG_ANALYSIS.md
  netra_backend/app/services/agent_websocket_bridge.py
  test_websocket_notifier_fix_validation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: update import path from state_cache_manager to state_persistence
  THREE_TIER_STORAGE_ARCHITECTURE_TEST_PLAN.md
  netra_backend/tests/integration/golden_path/test_websocket_database_redis_integration.py
  netra_backend/tests/integration/performance/test_caching_performance_integration.py
  netra_backend/tests/integration/test_three_tier_message_flow_integration.py
  netra_backend/tests/test_ssot_startup.py
  netra_backend/tests/unit/services/test_state_cache_manager_redis_integration_unit.py
  netra_backend/tests/unit/test_state_cache_manager_redis_integration_unit.py
  tests/mission_critical/test_state_persistence_ssot_violations.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

ssot: complete Week 1 remediation execution for deployment conflicts
  SSOT-incomplete-migration-deploy-script-canonical-source-conflicts.md
Due: docker-force-flag-prohibition

fix(auth): complete unified_auth_interface UUID migration
  auth_service/auth_core/unified_auth_interface.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: resolve deployment script canonical source conflicts
  scripts/deploy_to_gcp.py
  terraform-gcp-staging/deploy.sh
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(auth): migrate database models to UnifiedIdGenerator
  auth_service/auth_core/database/models.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(auth): migrate unified_auth_interface.py to UnifiedIdGenerator
  auth_service/auth_core/unified_auth_interface.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(auth): migrate jwt_handler.py to UnifiedIdGenerator for JWT ID
  auth_service/auth_core/core/jwt_handler.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(auth): migrate auth_service.py to UnifiedIdGenerator
  auth_service/auth_core/services/auth_service.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(ssot): document resolved WebSocket and E2E import compatibility fixes
  SSOT_IMPORT_REGISTRY.md
Due: docker-force-flag-prohibition

feat(websocket): add compatibility layer and test infrastructure
  netra_backend/app/websocket_core/manager.py
  test_websocket_client.py
  test_websocket_golden_path.py
  test_websocket_server.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(agents): enhance workflow orchestrator and coordination validation
  netra_backend/app/agents/supervisor/agent_coordination_validator.py
  netra_backend/app/agents/supervisor/workflow_orchestrator.py
  validate_agent_coordination_fixes.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(tests): optimize test infrastructure and execution isolation
  netra_backend/tests/integration/golden_path/test_concurrent_user_high_load_integration.py
  pytest.ini
  tests/e2e/health_check_core.py
  tests/e2e/staging_test_helpers.py
  tests/integration/test_concurrent_user_execution_isolation.py
  tests/unit/ssot/test_deployment_ssot_violation_prevention.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: update project documentation and system status reports
  CLAUDE.md
  TEST_EXECUTION_GUIDE.md
  reports/DEFINITION_OF_DONE_CHECKLIST.md
  reports/MASTER_WIP_STATUS.md
  tests/e2e/auth_flow_testers.py
  tests/e2e/database_consistency_fixtures.py
  tests/e2e/enterprise_sso_helpers.py
  tests/e2e/export_pipeline_helpers.py
  tests/e2e/fixtures/core/thread_test_fixtures_core.py
  tests/e2e/helpers/auth/session_test_helpers.py
  tests/e2e/integration/thread_websocket_helpers.py
  tests/e2e/session_persistence_core.py
  tests/e2e/token_lifecycle_helpers.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore: add development tools and debugging infrastructure
  .claude/commands/gcploggardener.md
  .env.test.minimal
  collection_errors_list.md
  debug_concurrent_isolation.py
  debug_concurrent_isolation_simple.py
  debug_isolation_fixed.py
  netra_backend/app/websocket_core/websocket_manager_factory.py
  netra_backend/collection_errors.txt
  test_failures_list.md
  tests/e2e/concurrent_user_simulators.py
  tests/integration/test_concurrent_user_execution_isolation_fixed.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(ssot): add WebSocket manager factory import documentation
  SSOT_IMPORT_REGISTRY.md
  tests/unified_test_runner.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(ssot): update Golden Path test discovery metrics and completion status
  SSOT_IMPORT_REGISTRY.md
Due: docker-force-flag-prohibition

feat: complete Golden Path restoration - all 4 critical root causes resolved
  SSOT-incomplete-migration-deploy-script-canonical-source-conflicts.md
  SSOT_DEPLOYMENT_TEST_COVERAGE_REPORT.md
  docs/README.md
  netra_backend/app/agents/state.py
  netra_backend/app/services/agent_websocket_bridge.py
  scripts/build_staging.py
  scripts/deploy-docker.bat
  scripts/deploy-docker.sh
  scripts/deploy_to_gcp.py
  shared/types/user_types.py
  terraform-dev-postgres/DEPRECATION_NOTICE.md
  terraform-dev-postgres/README.md
  test_framework/base_integration_test.py
  tests/e2e/test_data_factory.py
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-golden-path-20250910_1500.md
  tests/unit/ssot/test_deployment_entry_point_audit.py
  tests/unit/ssot/test_deployment_ssot_violation_prevention.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add merge conflict resolution documentation for 2025-09-10
  merges/MERGEISSUE_2025-09-10.md
Due: docker-force-flag-prohibition

docs: complete Ultimate Test Deploy Loop - PR #249 created for Golden Path restoration
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-golden-path-20250910_1500.md
Due: docker-force-flag-prohibition

test: add mission critical auth service UUID migration validation
  tests/mission_critical/test_auth_service_id_migration_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

resolve: merge conflict in scripts/deploy_to_gcp.py - Week 1 SSOT remediation wrapper
  scripts/deploy_to_gcp.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(db): add Golden Path auth models compatibility layer
  netra_backend/app/db/models_auth.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation
