Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation, protect-staging-config

new-file-compliance:
  name: New File Standards (strict for new files only)
  entry: python scripts/permissive_hooks/check_new_files.py
  language: system
  stages:
  - commit
  description: Applies strict standards ONLY to newly created files

edited-lines-check:
  name: Modified Lines Check (incremental)
  entry: python scripts/permissive_hooks/check_edited_lines.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Validates only the lines being modified, not the entire file

prevent-new-relative-imports:
  name: Prevent New Relative Imports
  entry: python scripts/permissive_hooks/check_new_imports.py --warn-only
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Blocks new relative imports, warns about existing ones

main-code-quality:
  name: Main Codebase Quality (app > tests)
  entry: python scripts/permissive_hooks/prioritized_check.py --priority app
  language: system
  stages:
  - commit
  description: Prioritizes main application code quality over test files

test-file-leniency:
  name: Test File Check (permissive)
  entry: python scripts/permissive_hooks/test_check_lenient.py --max-lines 1000
  language: system
  stages:
  - commit
  description: Relaxed limits for test files - focus on functionality over form

new-duplicate-prevention:
  name: Prevent New Duplicates (incremental)
  entry: python scripts/permissive_hooks/check_new_duplicates.py --threshold 0.9
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents introduction of NEW duplicate patterns only

check-environment-isolation:
  name: Environment Isolation Check
  entry: python scripts/check_environment_isolation.py --strict
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents direct os.environ access in test files - use IsolatedEnvironment instead

protect-staging-config:
  name: Staging Configuration Protection
  entry: python scripts/protect_staging_config.py
  language: system
  stages:
  - commit
  pass_filenames: false
  always_run: false
  description: Prevents ClickHouse configs from defaulting to localhost which breaks staging

feat(backend): add WebSocket bridge pattern spec and mission critical tests
  SPEC/agent_websocket_bridge_pattern.xml
  netra_backend/tests/mission_critical/test_websocket_agent_events_bridge.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

feat(scripts): add Docker management and CLI utilities
  scripts/docker_health_manager_redirect.py
  scripts/unified_docker_cli.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

docs(reports): add final Docker SSOT compliance report
  DOCKER_SSOT_FINAL_COMPLIANCE_REPORT.md
Due: none

refactor(cypress): simplify auth flow and improve login command
  frontend/cypress/e2e/simple-auth-flow.cy.ts
  frontend/cypress/support/commands.ts
Due: new-file-compliance, edited-lines-check

refactor(frontend): consolidate auth service client to SSOT
  frontend/lib/auth-service-config.ts
Due: new-file-compliance, edited-lines-check

refactor(analytics): migrate tests to IsolatedEnvironment
  .gitignore
  analytics_service/tests/unit/test_isolated_environment.py
  test_framework/archived/experimental/test_isolation.py
  test_framework/base_e2e_test.py
  test_framework/test_helpers.py
  tests/unit/test_environment_isolation_simple.py
  tests/unit/test_unified_env_loading.py
  tests/unit/test_unified_isolated_environment_migration.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(auth-service): migrate tests to IsolatedEnvironment
  auth_service/tests/test_auth_port_configuration.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(dev-launcher): migrate tests to IsolatedEnvironment
  dev_launcher/tests/test_dev_user_flow.py
  dev_launcher/tests/test_env_loading_regression.py
  dev_launcher/tests/test_environment_conflicts.py
  dev_launcher/tests/test_environment_isolation_pytest_integration.py
  dev_launcher/tests/test_environment_source_tracking_comprehensive.py
  dev_launcher/tests/test_isolated_environment.py
  dev_launcher/tests/test_launcher_critical_mainline.py
  dev_launcher/tests/test_launcher_mainline_scenarios.py
  dev_launcher/tests/test_launcher_validation.py
  dev_launcher/tests/test_nextjs_config_validation.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(backend/critical): migrate critical tests to IsolatedEnvironment
  netra_backend/tests/critical/test_assistant_foreign_key_violation.py
  netra_backend/tests/critical/test_config_loader_core.py
  netra_backend/tests/critical/test_secret_key_configuration_staging_regression.py
  netra_backend/tests/critical/test_staging_config_loading.py
  netra_backend/tests/critical/test_staging_integration_flow.py
  netra_backend/tests/critical/test_staging_root_cause_validation.py
  netra_backend/tests/critical/test_staging_startup_initialization_order.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(backend/tests): migrate config, database, and compliance tests
  netra_backend/tests/compliance/test_environment_violations.py
  netra_backend/tests/config/test_config_environment.py
  netra_backend/tests/config/test_config_loader.py
  netra_backend/tests/database/test_redis_connection_fix_verified.py
  netra_backend/tests/database/test_redis_connection_python312.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(backend): migrate root test files and helpers
  netra_backend/app/services/test_environment.py
  netra_backend/tests/conftest.py
  netra_backend/tests/conftest_helpers.py
  netra_backend/tests/real_services_test_fixtures.py
  netra_backend/tests/test_health_monitor_checks.py
  netra_backend/tests/test_logging_patch.py
  netra_backend/tests/test_os_environ_violations.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(backend/integration): migrate integration tests
  netra_backend/tests/integration/critical_paths/test_auth_token_validation_cross_service.py
  netra_backend/tests/integration/critical_paths/test_basic_system_cold_startup.py
  netra_backend/tests/integration/critical_paths/test_cold_startup_readiness_detection.py
  netra_backend/tests/integration/critical_paths/test_database_transaction_consistency.py
  netra_backend/tests/integration/critical_paths/test_existing_user_login_flow.py
  netra_backend/tests/integration/critical_paths/test_new_user_registration_flow.py
  netra_backend/tests/integration/llm/shared_fixtures.py
  netra_backend/tests/integration/metrics/shared_fixtures.py
  netra_backend/tests/integration/test_helpers/team_collaboration_base.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(backend): migrate e2e and unit tests
  netra_backend/tests/e2e/test_admin_corpus_generation.py
  netra_backend/tests/e2e/test_complete_real_pipeline_e2e.py
  netra_backend/tests/unit/core/test_project_utils.py
  netra_backend/tests/unit/core/test_secret_manager_comprehensive.py
  netra_backend/tests/unit/db/test_database_manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(backend): complete remaining test migrations
  netra_backend/tests/agents/conftest.py
  netra_backend/tests/examples/test_feature_flag_environment_demo.py
  netra_backend/tests/helpers/auth_test_helper.py
  netra_backend/tests/integration/test_agent_pipeline_core.py
  netra_backend/tests/integration/test_auth_edge_cases.py
  netra_backend/tests/integration/test_database_connection_fix.py
  netra_backend/tests/integration/test_database_connection_reliability.py
  netra_backend/tests/integration/test_database_url_builder_integration.py
  netra_backend/tests/integration/test_redis_configuration_fix.py
  netra_backend/tests/integration/test_redis_session_performance.py
  netra_backend/tests/integration/test_user_login_flows.py
  netra_backend/tests/integration/test_websocket_auth_cold_start.py
  netra_backend/tests/integration/test_websocket_auth_cold_start_extended.py
  netra_backend/tests/llm/test_structured_generation.py
  netra_backend/tests/routes/test_health_route.py
  netra_backend/tests/routes/test_health_route_llm_issue.py
  netra_backend/tests/startup/test_backend_server_listening_fix.py
  netra_backend/tests/startup/test_startup_diagnostics.py
  netra_backend/tests/unified_system/test_harness.py
  netra_backend/tests/unit/test_config_management_cycle_66.py
  netra_backend/tests/unit/test_environment_validator.py
  netra_backend/tests/unit/test_oauth_config_validation.py
  netra_backend/tests/unit/test_secret_key_validation.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(scripts): migrate scripts to IsolatedEnvironment
  scripts/debug_supervisor_test.py
  scripts/run_agent_pipeline_test.py
  scripts/run_critical_test.py
  scripts/test_adaptive_workflow.py
  scripts/test_ansi_logging.py
  scripts/test_auth_client_debug.py
  scripts/test_backend.py
  scripts/test_backend_port_binding.py
  scripts/test_clickhouse_graceful_failure.py
  scripts/test_clickhouse_staging.py
  scripts/test_config_loading.py
  scripts/test_docker_websocket_fix.py
  scripts/test_environment_detection.py
  scripts/test_frontend.py
  scripts/test_oauth_dev_config.py
  scripts/test_redis_config_critical_failure.py
  scripts/test_secret_manager_debug.py
  scripts/test_staging.py
  scripts/test_staging_auth.py
  scripts/test_staging_config.py
  scripts/test_staging_login_automated.py
  scripts/test_staging_migrations.py
  scripts/test_staging_startup.py
  scripts/test_staging_threads_fix.py
  scripts/test_verify_workflow.py
  scripts/test_websocket_chat_simple.py
  scripts/test_websocket_chat_standalone.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(e2e): migrate e2e tests to IsolatedEnvironment
  tests/e2e/critical/test_dev_launcher_critical_path.py
  tests/e2e/frontend/test_frontend_chat_interactions.py
  tests/e2e/helpers/llm_config_detector.py
  tests/e2e/integration/auth_flow_manager.py
  tests/e2e/integration/test_agent_pipeline_real.py
  tests/e2e/integration/test_backend_frontend_state_synchronization.py
  tests/e2e/integration/test_cors_configuration.py
  tests/e2e/integration/test_database_connections.py
  tests/e2e/integration/test_dev_launcher_critical_path.py
  tests/e2e/integration/test_dev_launcher_startup.py
  tests/e2e/integration/test_dev_launcher_startup_complete.py
  tests/e2e/integration/test_frontend_build_script_staging_regression.py
  tests/e2e/integration/test_multi_session_isolation.py
  tests/e2e/integration/test_service_health_checks.py
  tests/e2e/integration/test_streaming_auth_validation.py
  tests/e2e/integration/test_websocket_auth_multiservice.py
  tests/e2e/integration/test_websocket_jwt_auth_real.py
  tests/e2e/integration/test_websocket_jwt_complete.py
  tests/e2e/journeys/test_cold_start_first_time_user_journey.py
  tests/e2e/journeys/test_complete_oauth_chat_journey.py
  tests/e2e/journeys/test_complete_user_journey.py
  tests/e2e/journeys/test_new_user_complete_real.py
  tests/e2e/journeys/test_real_unified_signup_login_chat.py
  tests/e2e/journeys/test_user_journey_complete_real.py
  tests/e2e/resilience/test_health_cascade_integration.py
  tests/e2e/resilience/test_health_check_cascade.py
  tests/e2e/resilience/test_response_persistence_recovery.py
  tests/e2e/staging/test_auth_routes.py
  tests/e2e/staging/test_oauth_configuration.py
  tests/e2e/staging/test_security_config_variations.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(tests): migrate integration and critical tests
  tests/clients/auth_client.py
  tests/critical/test_auth_cross_system_failures.py
  tests/integration/environment-configuration-authentication-failures.py
  tests/integration/test_auth_integration.py
  tests/integration/test_configuration_access_database_issues.py
  tests/integration/test_cross_service_integration_core_1.py
  tests/integration/test_database_auth_standalone.py
  tests/integration/test_dev_environment_initialization.py
  tests/integration/test_environment_interface_consistency.py
  tests/integration/test_jwt_secret_sync.py
  tests/integration/test_oauth_token_flow.py
  tests/integration/test_secret_manager_builder_integration.py
  tests/integration/test_secret_manager_timeout_behavior.py
  tests/integration/test_service_communication_failure.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(test-framework): complete environment migration
  ...prompts/prove-it.md
  BACKEND_DEPLOYMENT_AUDIT_REPORT.md
  CHAT_CRITICAL_FAILURE_AUDIT.md
  CHAT_IS_KING_TEST_FIX_REPORT.md
  CHAT_TEST_FAILURE_ANALYSIS_REPORT.md
  SSOT_REMEDIATION_PLAN.md
  SSOT_VIOLATIONS_AUDIT_REPORT.md
  STAGING_TEST_AUDIT_REPORT.md
  STAGING_TEST_SUITE_SUMMARY.md
  TEST_DOCKER_ENV_AUDIT_REPORT.md
  TEST_FIX_REPORT.md
  TOOL_EXECUTION_SSOT_AUDIT_REPORT.md
  TOOL_EXECUTION_UNIFICATION_COMPLETE.md
  WEBSOCKET_COMPLIANCE_REPORT.json
  WEBSOCKET_FIX_VERIFICATION_REPORT.md
  WEBSOCKET_SILENT_FAILURE_FIXES.md
  auth_service/tests/unit/test_docker_hostname_resolution.py
  backend_logs.txt
  backend_runtime_logs.txt
  backend_warnings_errors.txt
  frontend/cypress/e2e/debug-login.cy.ts
  netra_backend/tests/integration/red_team/tier2_3_security_performance/test_monitoring_observability.py
  test_results.txt
  tests/e2e/helpers/agent/agent_orchestration_runner.py
  tests/e2e/helpers/auth/auth_service_helpers.py
  tests/e2e/resource_isolation/suite/agent_manager.py
  tests/e2e/resource_isolation/suite/test_suite_core.py
  tests/run_agent_orchestration_tests.py
  tests/run_staging_tests.py
  tests/test_critical_dev_launcher_issues.py
  tests/test_dev_launcher_issues.py
  tests/test_websocket_agent_standalone.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(arch): rename WebSocketAgentOrchestrator to AgentExecutionRegistry
  SPEC/agent_websocket_bridge_pattern.xml
  SPEC/learnings/websocket_agent_bridge_analysis.md
  WEBSOCKET_AGENT_ORCHESTRATOR_MIGRATION_PLAN.md
  netra_backend/app/orchestration/websocket_agent_orchestrator.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

feat(bridge): implement AgentWebSocketBridge pattern with execution registry
  netra_backend/app/orchestration/agent_execution_registry.py
  netra_backend/app/services/agent_websocket_bridge.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

feat(services): integrate AgentWebSocketBridge into service layer
  netra_backend/app/services/agent_service_core.py
  netra_backend/app/websocket_core/event_monitor.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

feat(startup): configure AgentWebSocketBridge in application lifecycle
  netra_backend/app/startup_module.py
  netra_backend/app/startup_module_deterministic.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test(bridge): add comprehensive test coverage for bridge pattern
  netra_backend/tests/integration/test_monitoring_integration.py
  netra_backend/tests/mission_critical/test_websocket_agent_events_bridge.py
  netra_backend/tests/services/test_agent_service_bridge_integration.py
  netra_backend/tests/services/test_agent_websocket_bridge.py
  netra_backend/tests/unit/monitoring/__init__.py
  netra_backend/tests/unit/monitoring/test_monitorable_interface.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

feat(shared): add monitoring utilities for health tracking
  shared/monitoring/__init__.py
  shared/monitoring/interfaces.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

docs(bridge): add comprehensive bridge pattern documentation
  AGENT_WEBSOCKET_BRIDGE_MONITORING_INTEGRATION_PLAN.md
  AUDIT_REPORT_AgentWebSocketBridge_20250901.md
  DIAGRAMS_AgentWebSocketBridge_Flows.md
  REPORT_AgentWebSocketBridge_Architectural_Compliance.md
  REPORT_AgentWebSocketBridge_Business_Value_Justification.md
  REPORT_AgentWebSocketBridge_Comprehensive_Analysis.md
  REPORT_AgentWebSocketBridge_Integration_Health_Status.md
  netra_backend/AUDIT_REPORT_AgentWebSocketBridge_20250901.md
Due: none

Update test_websocket_agent_events_suite.py
  tests/mission_critical/test_websocket_agent_events_suite.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

Create SYSTEM_ACTIVATION_REPORT.md
  SYSTEM_ACTIVATION_REPORT.md
Due: none

fix(test): resolve Python syntax errors in dev launcher real startup test
  tests/e2e/test_dev_launcher_real_startup.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

feat(agents): integrate AgentWebSocketBridge across supervisor components
  netra_backend/app/agents/supervisor/pipeline_executor.py
  netra_backend/app/agents/supervisor/workflow_orchestrator.py
  netra_backend/app/agents/synthetic_data_sub_agent_modern.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

fix(core): enhance critical path validation for ExecutionEngine detection
  netra_backend/app/core/critical_path_validator.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

fix(services): resolve event loop initialization in AgentService bridge
  netra_backend/app/services/agent_service_core.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

feat(startup): add optional health service registry initialization
  netra_backend/app/startup_module_deterministic.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

feat(startup): restructure startup phases for better separation of concerns
  netra_backend/app/startup_module_deterministic.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

docs(startup): add comprehensive startup sequence analysis
  STARTUP_SEQUENCE_ANALYSIS.md
Due: none

fix(dev-launcher): resolve StartupOptimizer timing methods and parameter mismatch
  dev_launcher/launcher.py
  dev_launcher/startup_optimizer.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

fix(startup): resolve WebSocket handler registration and tool dispatcher enhancement
  netra_backend/app/startup_module_deterministic.py
  netra_backend/tests/conftest.py
  netra_backend/tests/test_dev_smoke_test.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

fix(critical-path): resolve WebSocket notifier detection in execution context
  CLAUDE.md
  LLM_MASTER_INDEX.md
  SPEC/docker_testing_ssot.xml
  SPEC/learnings/docker_centralized_management.xml
  SPEC/learnings/e2e_test_discovery_patterns.xml
  SPEC/learnings/environment_access_regression_prevention.xml
  SPEC/learnings/ssot_consolidation_20250825.xml
  SPEC/learnings/staging_e2e_direct_testing_integration.xml
  SPEC/learnings/test_launcher.xml
  SPEC/learnings/test_system_improvements.xml
  SPEC/llm_config_consolidation.xml
  SPEC/test_runner_real_services.xml
  docs/CYPRESS_PARALLEL_EXECUTION.md
  docs/CYPRESS_UNIFIED_TESTING.md
  docs/DEPLOYMENT_CHECKLIST.md
  docs/MCP_SERVICE_REALISTIC_TESTING.md
  docs/cypress-integration-guide.md
  docs/docker_testing_ssot.md
  netra_backend/app/core/critical_path_validator.py
  tests/README.md
  tests/unified_test_runner.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

fix(startup): resolve database migration duplicate table constraint errors
  netra_backend/app/startup_module.py
  netra_backend/tests/integration/critical_paths/test_database_initialization_duplication.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

fix(critical-path): resolve false positive WebSocket message handler validation
  netra_backend/app/core/critical_path_validator.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

Path conditions:
  new-file-compliance: any of: \.(py|ts|tsx)$
  edited-lines-check: any of: \.(py|ts|tsx)$
  prevent-new-relative-imports: any of: \.py$
  main-code-quality: any of: ^(netra_backend/app|auth_service/auth_core|frontend/src)/.*\.(py|ts|tsx)$
  test-file-leniency: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  new-duplicate-prevention: any of: \.py$
  check-environment-isolation: any of: (test_.*\.py|.*_test\.py|tests/.*\.py|conftest\.py)$
  protect-staging-config: any of: netra_backend/app/schemas/config\.py$
