Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$

docs(e2e): Add Golden Path test execution worklog for September 13
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-golden-2025-09-13-afternoon.md
Due: docker-force-flag-prohibition

chore(issue-483): Clean up temporary debugging files from test fix session
  fix_syntax_errors.py
  issue_551_github_comment.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(test): Update staging test report with latest pytest results
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

docs(test): Update staging test report with agent pipeline test results
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

feat: Complete thread propagation implementation for multi-user chat isolation
  issue_556_github_comment.md
  issue_556_thread_propagation_test_plan.md
  issue_601_analysis_comment.md
  issue_601_remediation_plan.md
  issue_601_remediation_summary.md
  issue_601_test_execution_results.md
  netra_backend/app/admin/corpus/compatibility.py
  netra_backend/app/agents/supervisor/agent_registry.py
  netra_backend/app/websocket_core/unified_manager.py
  tests/mission_critical/test_thread_propagation_verification.py
  thread_propagation_test_results.md
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs(merge): Add git commit gardener session documentation
  merges/MERGEISSUE-2025-09-13-afternoon-gardener.md
Due: docker-force-flag-prohibition

docs(staging): Update E2E test report with WebSocket connection failures
  tests/unit/test_issue_402_service_dependency_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(merge): Update gardener session documentation with first cycle completion
  merges/MERGEISSUE-2025-09-13-afternoon-gardener.md
Due: docker-force-flag-prohibition

fix(issue-402): Resolve service dependency validation "Expected 6, got 0" error
  netra_backend/app/core/startup_validation.py
  netra_backend/app/smd.py
  tests/unit/test_issue_402_service_dependency_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(e2e): Add Golden Path test worklog for September 13 13:00 session
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-golden-2025-09-13-13.md
Due: docker-force-flag-prohibition

fix(startup): resolve Issue #402 service dependency validation failure
  merges/CYCLE-2-SUCCESS-2025-09-13.md
Due: docker-force-flag-prohibition

fix(issue-466): Resolve ASGI application exceptions - database AttributeError fix
  netra_backend/app/auth_integration/auth.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(issue-466): Add comprehensive ASGI exception testing infrastructure
  fixes/issue_466/database_is_demo_mode_fix.py
  fixes/issue_466/jwt_staging_configuration_fix.py
  fixes/issue_466/websocket_asgi_scope_validation_fix.py
  reports/ISSUE_466_EXECUTION_RESULTS.md
  tests/issue_466/test_asgi_exception_reproduction.py
  tests/issue_466/validate_asgi_fixes.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(auth): add Issue #597 auth import validation test suite
  tests/unit/test_issue_597_auth_import_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(auth): add simple Issue #597 import validation test
  tests/unit/test_issue_597_simple_import_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): prioritize token-bearing subprotocols in negotiation
  netra_backend/app/websocket_core/unified_jwt_protocol_handler.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(auth): add comprehensive Issue #597 final validation test suite
  tests/unit/test_issue_597_final_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(git): add Git Commit Gardener Cycle 1 completion report
  merges/GITCOMMIT-GARDENER-CYCLE-1-SUCCESS-2025-09-13.md
Due: docker-force-flag-prohibition

test(issue-636): Add pytest collection error investigation tool
  test_pytest_skip_collection_errors.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(issue-597): Add comprehensive test validation report for auth import fix
  tests/reports/ISSUE_597_TEST_RESULTS_REPORT.md
Due: docker-force-flag-prohibition

docs(gardener): Add git commit gardener cycle 2 completion documentation
  merges/GITCOMMIT-GARDENER-CYCLE-2-SUCCESS-2025-09-13.md
Due: docker-force-flag-prohibition

fix(issue-636): Add comprehensive pytest.skip collection error fix script
  fix_pytest_skip_collection_errors.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(issue-379): Add WebSocket timeout inadequacy unit test
  tests/unit/websocket/test_issue_379_timeout_inadequacy_unit.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Update auth startup validator import statements for Issue #597
  netra_backend/tests/integration/startup/test_dependencies_phase_comprehensive.py
  netra_backend/tests/integration/test_auth_startup_failure.py
  netra_backend/tests/unit/agents/supervisor/test_user_execution_context_comprehensive.py
  netra_backend/tests/unit/database/test_migration_safety_validation.py
  netra_backend/tests/unit/database/test_sqlalchemy_orm_user_scoping.py
  netra_backend/tests/unit/database/test_user_session_isolation.py
  netra_backend/tests/unit/db/test_database_manager_comprehensive.py
  netra_backend/tests/unit/test_auth_startup_validation.py
  netra_backend/tests/unit/test_database_dependencies.py
  netra_backend/tests/unit/test_distributed_tracing_performance_overhead.py
  netra_backend/tests/unit/test_distributed_tracing_span_propagation.py
  netra_backend/tests/unit/test_execution_engine_factory_ssot.py
  netra_backend/tests/unit/test_real_auth_service_integration.py
  netra_backend/tests/unit/test_session_metrics_ssot_validation.py
  netra_backend/tests/unit/test_ssot_database_migrator.py
  netra_backend/tests/unit/test_ssot_interface_violations.py
  netra_backend/tests/unit/websocket_core/test_websocket_1011_error_prevention.py
  netra_backend/tests/unit/websocket_core/test_websocket_function_signature_quick.py
  netra_backend/tests/unit/websocket_core/test_websocket_serialization_comprehensive.py
  shared/lifecycle/startup_integration.py
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-golden-2025-09-13-13.md
  tests/integration/websocket/test_issue_379_confirmation_gaps_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(testing): Update staging E2E test results and golden path validation worklog
  STAGING_TEST_REPORT_PYTEST.md
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-goldenpath-2025-09-13-ultimate.md
Due: docker-force-flag-prohibition

fix(tests): resolve missing fixtures issue in simple WebSocket test
  tests/simple_websocket_test.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(test): Clean up pytest.skip collection errors and add Issue #379 test results
  fix_pytest_skip_collection_errors.py
  netra_backend/tests/unit/db/test_postgres_core_production_fix.py
  netra_backend/tests/unit/test_distributed_tracing_performance_overhead.py
  test_pytest_skip_collection_errors.py
  tests/issue_379/ISSUE_379_TEST_EXECUTION_RESULTS.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore: Automated cleanup and comprehensive Issue #379 documentation generation
  tests/issue_379/EXECUTIVE_SUMMARY.md
Due: docker-force-flag-prohibition

docs(process): Correct documentation terminology and merge log content
  .claude/commands/gitissueprogressorv2.md
  merges/MERGEISSUE-2025-09-12.md
Due: docker-force-flag-prohibition

docs(testing): Update staging test execution report with latest results
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

docs(analysis): Add comprehensive E2E golden path test analysis and GitHub issue prioritization
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-e2e-golden-2025-01-09.md
  github_issues_analysis.md
Due: docker-force-flag-prohibition

refactor: Update request_scoped_tool_dispatcher implementation
  netra_backend/app/agents/request_scoped_tool_dispatcher.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(testing): Update staging test monitoring report with continued execution
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

docs(failing-test-gardener): Add GitHub issue #666 reference for WebSocket service infrastructure down
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-e2e-golden-2025-01-09.md
Due: docker-force-flag-prohibition

docs(merge): Update PR worklog with new PR #650 discovery
  PR-WORKLOG-all-2025-09-12.md
Due: docker-force-flag-prohibition

docs(analysis): Expand E2E golden path analysis and complete merge operation documentation
  merges/MERGEISSUE-2025-09-12.md
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-goldenpath-2025-09-13-ultimate.md
Due: docker-force-flag-prohibition

docs(merge): Add merge documentation for automatic merge 20250912-194500
  merges/MERGEISSUE-20250912-194500.md
Due: docker-force-flag-prohibition

docs(audit): Add comprehensive SSOT compliance audit for WebSocket subprotocol fix
  reports/SSOT_COMPLIANCE_AUDIT_WEBSOCKET_SUBPROTOCOL_FIX.md
Due: docker-force-flag-prohibition

docs(safety): Document PR #650 safety violation analysis
  PR-WORKLOG-all-2025-09-12.md
Due: docker-force-flag-prohibition

docs(testing): Add E2E golden path validation test report
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-goldenpath-validation-2025-09-12.md
Due: docker-force-flag-prohibition
