Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: boundary-enforcer, file-size-check, function-complexity-check

boundary-enforcer:
  name: System Boundary Enforcer
  entry: python scripts/boundary_enforcer.py --enforce --fail-on-critical
  language: system
  stages:
  - commit

file-size-check:
  name: File Size Boundary Check
  entry: python scripts/boundary_enforcer.py --check-file-boundaries
  language: system
  stages:
  - commit

function-complexity-check:
  name: Function Complexity Boundary Check
  entry: python scripts/boundary_enforcer.py --check-function-boundaries
  language: system
  stages:
  - commit

a
  agents_function_violations_grouped.json
  app/agents/admin_tool_executors.py
  app/core/adaptive_circuit_breaker_core.py
  app/core/agent_error_handler.py
  app/core/agent_health_monitor.py
  app/core/agent_recovery_registry.py
  app/services/factory_status/value_calculator.py
  app/services/fallback_response/content_processor.py
  extract_function_violations.py
  find_long_functions.py
  process_core_violations.py
  test_reports/test_results.json
  violation_groups.json
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/agents/actions_to_meet_goals_sub_agent.py
  app/agents/corpus_admin/corpus_upload_handlers.py
  app/core/agent_error_handler.py
  app/core/agent_reliability_mixin.py
  app/core/alert_manager.py
  app/core/async_retry_logic.py
  app/core/config_validator.py
  app/db/cache_config.py
  app/db/cache_storage.py
  app/db/cache_strategies.py
  app/db/clickhouse.py
  app/db/clickhouse_init.py
  app/db/clickhouse_query_fixer.py
  app/db/health_checks.py
  app/db/index_optimizer_core.py
  app/db/migration_utils.py
  app/db/observability_alerts.py
  app/db/observability_core.py
  app/db/observability_metrics.py
  app/db/postgres_events.py
  app/db/postgres_index_optimizer.py
  app/db/postgres_query_analyzer.py
  app/db/testing.py
  app/db/transaction_errors.py
  app/db/transaction_stats.py
  app/services/fallback_response/diagnostics.py
  app/services/metrics/time_series.py
  app/services/quality_gate/metrics_core.py
  function_violations_top1000.json
  test_reports/test_results.json
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/agents/data_sub_agent/anomaly_detector.py
  app/db/cache_storage.py
  app/db/postgres_query_analyzer.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/agents/actions_to_meet_goals_sub_agent.py
  app/agents/corpus_admin/agent.py
  app/agents/corpus_admin/corpus_request_processor.py
  app/agents/data_sub_agent/clickhouse_operations.py
  app/agents/supervisor_consolidated.py
  app/agents/supply_researcher/research_engine.py
  app/agents/triage_sub_agent/llm_processor.py
  app/core/degradation_manager.py
  app/core/error_aggregation_metrics.py
  app/core/error_handlers.py
  app/db/postgres_query_analyzer.py
  app/services/apex_optimizer_agent/tools/policy_proposer.py
  app/services/mcp_request_handler.py
  test_reports/test_results.json
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/agents/base/monitoring.py
  app/agents/corpus_admin/corpus_operation_executor.py
  app/agents/data_sub_agent/anomaly_detector.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/core/error_aggregation_alerts.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  agent_to_agent_status_updates/TESTS/corpus_route_method_fix.md
  app/agents/admin_tool_executors.py
  app/agents/corpus_admin/corpus_upload_handlers.py
  app/agents/data_sub_agent/clickhouse_operations.py
  app/agents/data_sub_agent/performance_analyzer.py
  app/agents/triage_sub_agent/llm_processor.py
  app/agents/triage_sub_agent/processing_monitoring.py
  app/configuration/schemas.py
  app/core/error_logging_context.py
  app/core/error_report_generator.py
  app/core/exceptions_agent.py
  app/core/fallback_coordinator.py
  app/core/fallback_coordinator_emergency.py
  app/routes/corpus.py
  app/services/apex_optimizer_agent/tools/log_enricher_and_clusterer.py
  app/services/synthetic_data/generation_patterns.py
  app/services/synthetic_data/recovery_mixin.py
  app/tests/routes/test_corpus_routes.py
  test_framework/comprehensive_reporter.py
  test_reports/test_results.json
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/core/configuration/database.py
  app/core/error_recovery.py
  app/schemas/Config.py
  app/services/context.py
  app/websocket/connection_executor.py
  test_reports/test_results.json
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  agent_to_agent_status_updates/TESTS/deep_agent_state_validation_fix.md
  app/agents/demo_service/core.py
  app/agents/github_analyzer/pattern_matcher.py
  app/agents/quality_checks.py
  app/agents/synthetic_data_profile_parser.py
  app/agents/triage_sub_agent/llm_processor.py
  app/core/fallback_coordinator_health.py
  app/services/synthetic_data/generation_patterns.py
  app/websocket/error_handler.py
  app/websocket/message_handler_core.py
  app/websocket/message_router.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/core/configuration/database.py
  app/core/configuration/secrets.py
  app/db/clickhouse.py
  test_inventory.json
Due: boundary-enforcer, file-size-check, function-complexity-check

Create test_critical_missing_integration.py
  app/tests/integration/test_critical_missing_integration.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  frontend/__tests__/integration/basic-integration-auth.test.tsx
  frontend/app/admin/page.tsx
  frontend/hooks/useAgentUpdates.ts
  frontend/jest-setup.d.ts
  frontend/services/messageFormatter.ts
  frontend/tsconfig.json
  test_reports/test_results.json
Due: boundary-enforcer, file-size-check

a
  agent_to_agent_status_updates/TESTS/agent_tests_status_2025_08_18.md
  agent_to_agent_status_updates/TESTS/config_loader_import_fix.md
  app/agents/data_sub_agent/agent.py
  app/cloud_environment_detector.py
  app/config_exceptions.py
  app/config_loader.py
  app/config_validation.py
  frontend/@types/jest.d.ts
  frontend/__tests__/components/ChatComponents.test.tsx
  frontend/app/corpus/components/corpus-item.tsx
  frontend/app/corpus/page.tsx
  frontend/app/login/page.tsx
  frontend/tsconfig.json
  test_reports/test_results.json
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  agent_to_agent_status_updates/TESTS/config_loader_import_fix.md
  app/agents/triage_sub_agent/llm_processor.py
  app/config_environment_loader.py
  app/tests/core/test_agent_recovery_strategies.py
  dev_launcher/launcher.py
  dev_launcher/service_config.py
  frontend/__tests__/components/ChatComponents.test.tsx
  frontend/auth/context.tsx
  frontend/types/domains/auth.ts
  frontend/types/registry.ts
  frontend/types/shared/enums.ts
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  SPEC/learnings/frontend.xml
  app/agents/data_sub_agent/agent.py
  frontend/__tests__/integration/comprehensive/performance-memory.test.tsx
  frontend/auth/service.ts
  test_reports/test_results.json
Due: boundary-enforcer, file-size-check, function-complexity-check

Update index.xml
  SPEC/learnings/index.xml
Due: none

a
  SPEC/learnings/frontend.xml
  SPEC/learnings/frontend_comprehensive_checkup.xml
  SPEC/learnings/index.xml
  agent_to_agent/frontend_checkup_report_2025_08_18.md
  agent_to_agent/frontend_comprehensive_checkup_report.md
  agent_to_agent_status_updates/TESTS/agent_test_fixes_complete.md
  agent_to_agent_status_updates/TESTS/agent_tests_progress_2025_08_18.md
  agent_to_agent_status_updates/TESTS/circuit_breaker_metrics_fix.md
  agent_to_agent_status_updates/TESTS/execution_error_handler_fix.md
  app/agents/base/error_handler.py
  app/agents/base/executor.py
  app/agents/data_sub_agent/agent.py
  app/agents/data_sub_agent/agent_execution.py
  app/agents/triage_sub_agent/agent.py
  app/core/resilience/monitor.py
  app/schemas/monitoring.py
  app/tests/agents/test_agent_e2e_critical_core.py
  app/tests/core/test_agent_recovery_strategies.py
  frontend/__tests__/integration/basic-integration-ui.test.tsx
  frontend/__tests__/types/registry-exports.test.ts
  frontend/app/admin/page.tsx
  frontend/app/chat/[threadId]/page.tsx
  frontend/types/shared/base.ts
  frontend/utils/debug-logger.ts
  test_reports/test_results.json
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  agent_to_agent_status_updates/TESTS/agent_test_fixes.md
  agent_to_agent_status_updates/TESTS/agent_tests_final_fixes.md
  app/routes/corpus.py
  frontend/services/webSocketService.ts
Due: boundary-enforcer, file-size-check, function-complexity-check

Update optimistic-updates.ts
  frontend/services/optimistic-updates.ts
Due: boundary-enforcer, file-size-check

a
  agent_to_agent_status_updates/TESTS/agent_tests_summary_2025_08_18.md
  agent_to_agent_status_updates/TESTS/corpus_metadata_test_fix.md
  app/tests/routes/test_corpus_routes.py
  frontend/components/ChatHistorySection.tsx
  frontend/components/demo/DemoChat.tsx
  frontend/components/ui/reference-picker.tsx
  frontend/services/apiClientWrapper.ts
  test_reports/test_results.json
Due: boundary-enforcer, file-size-check, function-complexity-check

A
  agent_to_agent_status_updates/TESTS/config_import_fix_20250818.md
  agent_to_agent_status_updates/TESTS/test_status_2025_08_18_update.md
  app/agents/data_sub_agent/agent.py
  app/agents/data_sub_agent/data_sub_agent_helpers.py
  app/tests/agents/test_data_sub_agent_comprehensive_suite/test_data_sub_agent_basic.py
  app/tests/agents/test_data_sub_agent_data_ops.py
  app/tests/config/test_config_secrets_manager.py
  frontend/components/chat/ChatSidebarHandlers.ts
  frontend/components/chat/ChatSidebarHooks.ts
  frontend/components/chat/EventDiagnosticsPanel.tsx
  frontend/components/chat/ExamplePrompts.tsx
  frontend/components/chat/MainChat.tsx
  frontend/components/chat/ThreadSidebarActions.tsx
  frontend/components/chat/error-boundary-hooks.ts
  frontend/components/chat/error-reporter.ts
  frontend/components/chat/hooks/useMessageSender.ts
  frontend/components/chat/hooks/useMessageSending.ts
  test_reports/test_results.json
Due: boundary-enforcer, file-size-check, function-complexity-check

A
  agent_to_agent_status_updates/TESTS/integration_tests_status_2025_08_18.md
  app/tests/agents/test_agent_e2e_critical_tools.py
  frontend/components/chat/layers/slow-layer/ExportControls.tsx
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  agent_to_agent_status_updates/TESTS/database_health_checker_fix_20250818_130950.md
  agent_to_agent_status_updates/TESTS/error_aggregator_fix_20250818_130721.md
  agent_to_agent_status_updates/TESTS/final_test_alignment_report.md
  agent_to_agent_status_updates/TESTS/frontend_chatsidebar_data_fix_2025_08_18.md
  agent_to_agent_status_updates/TESTS/integration_test_fixes.md
  agent_to_agent_status_updates/TESTS/integration_test_fixes_2025_08_18.md
  agent_to_agent_status_updates/TESTS/test_alignment_status_2025_08_18.md
  app/agents/base/circuit_breaker_components.py
  app/agents/base/error_handler.py
  app/core/database_recovery_strategies.py
  app/services/quality_analytics.py
  app/services/quality_monitor.py
  app/startup/migration_state_manager.py
  app/tests/routes/test_quality_routes.py
  frontend/__tests__/components/ChatSidebar/interaction.test.tsx
  frontend/__tests__/components/ChatSidebar/setup.tsx
  test_reports/test_results.json
Due: boundary-enforcer, file-size-check, function-complexity-check

A
  SPEC/learnings/environment_loading.xml
  agent_to_agent_status_updates/TESTS/FINAL_FRONTEND_TEST_ALIGNMENT_2025_08_18.md
  agent_to_agent_status_updates/TESTS/final_test_alignment_report_20250818.md
  agent_to_agent_status_updates/TESTS/mainchat_remaining_fixes_20250818.md
  agent_to_agent_status_updates/TESTS/supervisor_test_fix_2025_08_18.md
  app/configuration/schemas.py
  app/tests/integration/test_compensation_engine_e2e.py
  app/tests/integration/test_free_to_paid_conversion.py
  app/tests/integration/test_multi_agent_collaboration.py
  app/tests/integration/test_supply_research_optimization.py
  app/tests/integration/test_websocket_reconnection.py
  app/tests/unit/test_metrics_collector_core.py
  app/tests/unit/test_metrics_collector_summary.py
  app/tests/unit/test_secret_manager_access.py
  app/tests/unit/test_secret_manager_core.py
  app/tests/unit/test_websocket_connection_manager.py
  frontend/__tests__/components/ChatHistorySection/basic.test.tsx
  frontend/__tests__/components/ChatHistorySection/edge-cases.test.tsx
  frontend/__tests__/components/ChatHistorySection/setup.ts
  frontend/__tests__/components/chat/MainChat.loading.test.tsx
  frontend/__tests__/components/chat/MainChat.websocket.test.tsx
  frontend/__tests__/components/demo/ROICalculator.test.ts
  frontend/__tests__/services/demoService.test.ts
  frontend/middleware.ts
  integration_tests/test_supervisor.py
  test_reports/test_results.json
Due: boundary-enforcer, file-size-check, function-complexity-check

A
  app/tests/unit/test_health_checkers_core.py
  app/tests/unit/test_health_checkers_system.py
  frontend/__tests__/components/ChatHistorySection.test.tsx
  frontend/__tests__/components/ChatHistorySection/index.test.tsx
  frontend/__tests__/components/ChatHistorySection/performance-accessibility.test.tsx
  frontend/__tests__/store/authStore.test.ts
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  app/auth_integration/auth.py
  app/tests/e2e/first_time_user/REFACTOR_SUMMARY.md
  app/tests/e2e/first_time_user/__init__.py
  app/tests/e2e/first_time_user/helpers.py
  app/tests/e2e/first_time_user/test_conversion_flow_e2e.py
  app/tests/e2e/first_time_user/test_onboarding_e2e.py
  app/tests/e2e/first_time_user/test_provider_connection_e2e.py
  app/tests/e2e/first_time_user/test_recovery_support_e2e.py
  app/tests/e2e/test_first_time_user_critical_e2e.py
  app/tests/integration/test_first_time_user_comprehensive_critical.py
  app/tests/integration/test_free_tier_value_demonstration_integration.py
  app/tests/unit/test_rate_limiter_unit.py
  app/tests/unit/test_usage_tracker_unit.py
  app/tests/unit/test_user_service_auth.py
  frontend/__tests__/components/demo/ROICalculator.calculations.test.ts
  frontend/components/demo/ROICalculator.calculations.ts
  test_reports/test_results.json
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  .gitignore
  agent_to_agent_status_updates/AI_FACTORY_PRODUCTIVITY_REPORT_2025_01_18.md
  app/tests/unit/test_first_time_user_real_critical.py
  deploy-staging-reliable.ps1
  setup-staging-auth.ps1
  test_framework/decorators.py
  test_framework/feature_flags.py
  test_reports/test_results.json
Due: boundary-enforcer, file-size-check, function-complexity-check

clean
  deploy-all-staging-backup.ps1
  deploy-all-staging-fixed.ps1
  deploy-all-staging.ps1
  deploy-staging-automated-clean.ps1
  deploy-staging-automated-fixed.ps1
  deploy-staging-automated.ps1
  deploy-staging-terraform.ps1
  deploy-staging.ps1
  test-syntax.ps1
  test_framework/runner.py
Due: file-size-check, function-complexity-check

a
  test_feature_flags.json
Due: none

a
  CLAUDE.md
  DEPLOYMENT_SOLUTION.md
  docs/TESTING_WITH_FEATURE_FLAGS.md
  frontend/__tests__/components/ChatSidebar/edge-cases.test.tsx
  frontend/lib/thread-error-recovery.ts
  test_reports/test_results.json
Due: boundary-enforcer, file-size-check

a
  SPEC/deployment.xml
  frontend/__tests__/components/ChatSidebar/setup.tsx
Due: boundary-enforcer, file-size-check

a
  CLAUDE.md
  agent_to_agent_status_updates/TESTS/frontend_test_fixes_2025_08_18_AM.md
  agent_to_agent_status_updates/TESTS/supply_disruption_service_fix_2025_08_18.md
  agent_to_agent_status_updates/TESTS/websocket_synthetic_data_fix_2025_08_18.md
  app/tests/integration/test_first_time_user_comprehensive_critical.py
  app/tests/routes/test_supply_management.py
  app/tests/unit/test_feature_flags_example.py
  deploy-staging-reliable.ps1
  docs/FEATURE_FLAGS_IMPLEMENTATION_SUMMARY.md
  docs/GCP_STAGING_DEPLOYMENT.md
  frontend/__tests__/components/ChatSidebar/edge-cases.test.tsx
  frontend/__tests__/components/ChatSidebar/setup.tsx
  frontend/__tests__/components/demo/ROICalculator.calculations.test.ts
  frontend/__tests__/helpers/feature-flag-helpers.ts
  frontend/test-utils/feature-flags.ts
  test_feature_flags.json
  test_framework/feature_flags.py
  test_framework/test_runner.py
  test_reports/test_results.json
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  agent_to_agent_status_updates/TESTS/frontend_test_final_status_2025_08_18_AM.md
  app/tests/routes/test_reference_management.py
Due: boundary-enforcer, file-size-check, function-complexity-check

A
  app/tests/routes/test_reference_management.py
Due: boundary-enforcer, file-size-check, function-complexity-check

a
  SPEC/learnings/testing.xml
  SPEC/testing.xml
Due: none

Path conditions:
  boundary-enforcer: any of: ^(app|frontend|scripts)/
  file-size-check: any of: \.(py|ts|tsx)$
  function-complexity-check: any of: \.py$
