Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

test: finalize comprehensive SSOT testing with resource leak validation
  test_framework/runner_legacy.py
  tests/e2e/ssot_remediation/test_websocket_resource_cleanup_id_patterns.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(integration): enhance agent execution core integration testing
  TEST_PLAN_DEEPAGENTSTATE_VULNERABILITY_REPRODUCTION.md
  netra_backend/app/core/auth_constants.py
  netra_backend/tests/integration/agents/supervisor/test_agent_execution_core_comprehensive_integration.py
  netra_backend/tests/performance/test_performance_cache.py
  netra_backend/tests/performance/test_performance_optimizations.py
  run_deepagentstate_vulnerability_tests.py
  test_framework/fixtures/auth.py
  tests/e2e/export_pipeline_helpers.py
  tests/e2e/real_services_manager.py
  tests/e2e/test_database_operations_no_mocks.py
  tests/integration/websocket_agent_bridge/test_websocket_ssot_agent_integration.py
  tests/unit/agents/supervisor/test_execution_core_ssot_compliance.py
  tests/unit/core/test_execution_tracker_ssot.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(final): complete comprehensive testing infrastructure and database operations
  netra_backend/tests/integration/agents/supervisor/test_agent_execution_core_comprehensive_integration.py
  tests/e2e/database_operations_business_critical_real.py
  tests/unit/websocket_ssot/test_complete_import_issue_summary.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: complete comprehensive test framework enhancements
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-ALL_TESTS-2025-09-10.md
  test_framework/runner.py
  tests/e2e/golden_path/test_complete_golden_path_e2e_staging.py
  tests/e2e/ssot_remediation/test_websocket_resource_cleanup_id_patterns.py
  tests/integration/golden_path/test_execution_engine_factory_isolation_integration.py
  tests/integration/golden_path/test_websocket_agent_coordination_comprehensive.py
  tests/integration/ssot_remediation/test_cross_component_id_compatibility.py
  tests/performance/golden_path/test_golden_path_performance_sla_comprehensive.py
  tests/unit/golden_path/test_user_context_isolation_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(e2e): eliminate database mock fallbacks with real business-critical validation
  netra_backend/tests/real/auth/test_real_auth_cross_service.py
  tests/e2e/database_operations_business_critical_real.py
  tests/e2e/database_test_operations.py
  tests/e2e/database_test_operations_legacy_with_mocks.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(test): add legacy test runner compatibility wrapper for SSOT transition
  merges/MERGE-SUCCESS-20250911-050000.md
  test_framework/runner_legacy.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: document fourth successful complex merge with comprehensive infrastructure
  netra_backend/tests/unit/agents/supervisor/test_agent_execution_core_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: document critical WebSocket Docker infrastructure issue
  tests/unit/ssot_remediation/test_agent_execution_id_uuid4_migration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: resolve circular import and enhance agent execution core testing
  netra_backend/tests/unit/agents/supervisor/test_agent_execution_core_comprehensive.py
  test_framework/runner_legacy.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(integration): enhance comprehensive agent execution integration testing
  netra_backend/tests/integration/agents/supervisor/test_agent_execution_core_comprehensive_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(e2e): add DatabaseManager GCP staging comprehensive validation
  reports/CRITICAL_BRITTLE_POINTS_AUDIT_20250110.md
  tests/e2e/test_database_manager_gcp_staging_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore: update local Claude settings with additional bash permissions
  .claude/settings.local.json
Due: none

docs: complete Git Commit Gardener session with comprehensive completion report
  merges/MERGE-SUCCESS-20250911-055500.md
  tests/mission_critical/test_ssot_remediation_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(ci): add SSOT-compliant CI/CD test execution workflow
  .github/workflows/test.yml
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-ALL_TESTS-2025-09-10.md
  netra_backend/tests/unit/agents/supervisor/test_agent_execution_core_comprehensive.py
  tests/unit/golden_path/test_websocket_event_validation_comprehensive.py
  tests/unit/ssot_remediation/test_agent_execution_id_uuid4_migration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(websocket): add WebSocket SSOT import validation tests
  tests/unit/websocket_ssot/test_import_path_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: enhance Golden Path WebSocket event validation and agent execution testing
  netra_backend/tests/unit/agents/supervisor/test_agent_execution_core_comprehensive.py
  tests/unit/golden_path/test_websocket_event_validation_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: refine agent execution core test mocking for business continuity
  netra_backend/tests/unit/agents/supervisor/test_agent_execution_core_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(ssot): add ExecutionState enum consistency and compliance validation
  tests/unit/agents/supervisor/test_execution_core_ssot_compliance.py
  tests/unit/websocket_ssot/test_execution_state_consistency.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(automation): add comprehensive SSOT migration automation tool
  scripts/ssot_migration_automation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: update SSOT dual systems conflict resolution progress
  SSOT-dual-systems-unified-id-manager-conflict.md
Due: docker-force-flag-prohibition

test(integration): enhance comprehensive agent execution and Golden Path integration testing
  netra_backend/tests/integration/agents/supervisor/test_agent_execution_core_comprehensive_integration.py
  tests/integration/execution/README.md
  tests/integration/execution/test_agent_execution_tracker_integration.py
  tests/integration/golden_path/test_execution_state_propagation.py
  tests/integration/websocket_agent_bridge/test_websocket_ssot_agent_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: fix mock variable references and WebSocket bridge method signatures
  auth_service/tests/unit/golden_path/__init__.py.ssot_backup
  auth_service/tests/unit/golden_path/test_auth_service_business_logic.py.ssot_backup
  netra_backend/tests/integration/golden_path/test_advanced_tool_pipeline_integration.py.ssot_backup
  netra_backend/tests/integration/golden_path/test_agent_execution_database_integration.py.ssot_backup
  netra_backend/tests/integration/golden_path/test_agent_execution_llm_partial_failures.py.ssot_backup
  netra_backend/tests/integration/golden_path/test_agent_execution_pipeline_comprehensive.py.ssot_backup
  netra_backend/tests/integration/golden_path/test_agent_execution_pipeline_integration.py.ssot_backup
  netra_backend/tests/unit/agents/supervisor/test_agent_execution_core_comprehensive.py
  tests/unit/golden_path/test_websocket_event_validation_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: finalize agent execution core mock configuration for async testing
  netra_backend/tests/unit/agents/supervisor/test_agent_execution_core_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: update test failure analysis with GitHub issue tracking
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-ALL_TESTS-2025-09-10.md
  tests/unit/golden_path/test_websocket_event_validation_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(ssot): add comprehensive SSOT logging pattern validation and regression prevention
  tests/unit/ssot_validation/test_golden_path_logging_disconnection_reproduction.py
  tests/unit/ssot_validation/test_logging_pattern_regression_prevention.py
  tests/unit/ssot_validation/test_unified_logging_pattern_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: enhance WebSocket bridge mock validation and event context handling
  tests/unit/golden_path/test_websocket_event_validation_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(e2e): enhance E2E testing infrastructure with staging WebSocket validation
  tests/e2e/harness_utils.py
  tests/e2e/staging/test_gcp_staging_websocket_agent_bridge_fix.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: complete WebSocket bridge validation with comprehensive event mocking
  tests/unit/golden_path/test_websocket_event_validation_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(auth): enhance real cross-service authentication testing with Docker integration
  SSOT-golden-path-mixed-logging-patterns-blocking-debug.md
  netra_backend/tests/real/auth/test_real_auth_cross_service.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: refine WebSocket bridge event validation assertion logic
  tests/unit/golden_path/test_websocket_event_validation_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(ssot): complete test creation for logging SSOT violation
  netra_backend/app/tools/result_aggregator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add comprehensive ClickHouse SSOT validation test suite
  netra_backend/tests/unit/db/test_clickhouse_ssot_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(test): document P0 security vulnerability in DeepAgentState usage
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-ALL_TESTS-2025-09-10.md
  SSOT_REMEDIATION_EXECUTION_COMPLETE_REPORT.md
  reports/coverage/UNIT_TEST_COVERAGE_100_PERCENT_MISSION.md
Due: docker-force-flag-prohibition

test(e2e): fix fallback mechanisms test with real system monitoring
  DEEPAGENTSTATE_TO_USEREXECUTIONCONTEXT_MIGRATION_PLAN.md
  PHASE_1_TECHNICAL_IMPLEMENTATION_GUIDE.md
  SSOT-dual-systems-unified-execution-tracker-conflict.md
  SSOT_IMPORT_REGISTRY.md
  audit/staging/auto-solve-loop/websocket_agent_bridge_missing_2025_09_10.md
  netra_backend/app/agents/supervisor/agent_instance_factory.py
  netra_backend/app/core/fallback_coordinator.py
  netra_backend/app/monitoring/websocket_dashboard_config.py
  netra_backend/app/routes/websocket_ssot.py
  pytest.ini
  tests/e2e/performance/test_cost_tracking_accuracy.py
  tests/e2e/performance/test_thread_performance.py
  tests/e2e/test_fallback_mechanisms.py
  tests/unit/golden_path/test_golden_path_business_value_protection.py
  tests/unit/ssot_validation/SSOT_LOGGING_TEST_CREATION_REPORT.md
  websocket_import_fix_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: update SSOT remediation execution completion status
  SSOT-TestRunner-DuplicateImplementation-BlockingGoldenPathValidation.md
Due: docker-force-flag-prohibition

docs(git): add merge documentation for successful 120-commit integration
  merges/MERGE-SUCCESS-20250911-GitGardener.md
Due: docker-force-flag-prohibition

test(clickhouse): add real service integration tests for analytics infrastructure
  netra_backend/tests/integration/db/test_clickhouse_real_service_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(test): correct import paths and add missing pytest marker
  pytest.ini
  tests/unit/golden_path/test_agent_execution_core_golden_path.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(ssot): update ID manager conflict resolution progress
  SSOT-dual-systems-unified-id-manager-conflict.md
Due: docker-force-flag-prohibition

feat(ssot): complete remediation planning for logging SSOT violation
  SSOT-golden-path-mixed-logging-patterns-blocking-debug.md
Due: docker-force-flag-prohibition

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
