Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

docs: update SSOT persistence service migration status
  SSOT-incomplete-migration-optimized-state-persistence-service-missing.md
Due: docker-force-flag-prohibition

docs: document critical git merge operation and successful branch switch
  merges/MERGEISSUE_20250910_121500.md
Due: docker-force-flag-prohibition

refactor(websocket): remove emergency fallback managers for SSOT compliance
  netra_backend/app/websocket_core/websocket_manager_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

ssot: complete tier 2 classes SSOT remediation - gardener process success
  netra_backend/app/websocket_core/websocket_manager_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: finalize Redis SSOT consolidation with test configuration updates
  pytest.ini
  tests/integration/agent_execution_flows/test_enhanced_tool_execution_workflows.py
  tests/integration/agent_execution_flows/test_pipeline_step_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

ssot: complete WebSocket class consolidation - convert wrappers to direct aliases
  netra_backend/app/websocket/connection_manager.py
  netra_backend/app/websocket_core/connection_manager.py
  netra_backend/app/websocket_core/migration_adapter.py
  netra_backend/app/websocket_core/protocols.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(websocket): standardize WebSocket manager naming for SSOT compliance
  netra_backend/app/websocket_core/unified_manager.py
  netra_backend/app/websocket_core/websocket_manager_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): resolve type annotation and import issues after naming standardization
  netra_backend/app/websocket_core/__init__.py
  netra_backend/app/websocket_core/migration_adapter.py
  netra_backend/app/websocket_core/protocols.py
  netra_backend/app/websocket_core/unified_manager.py
  netra_backend/app/websocket_core/websocket_manager_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: complete SSOT WebSocket manager consolidation (Steps 0-5)
  test_ssot_websocket_final_validation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

[SSOT] Complete PR #196 merge conflict resolution - execution engine consolidation
  PR-WORKLOG-196-20250910.md
Due: docker-force-flag-prohibition

docs: track SSOT WebSocket event emitter consolidation
  SSOT-incomplete-migration-WebSocket Event Emitter Consolidation.md
Due: docker-force-flag-prohibition

docs: complete WebSocket event test discovery and planning
  SSOT-incomplete-migration-WebSocket Event Emitter Consolidation.md
Due: docker-force-flag-prohibition

docs: PR-WORKLOG-195 safety assessment - merge operation halted
  PR-WORKLOG-195-20250910.md
Due: docker-force-flag-prohibition

docs: create SSOT SERVICE_ID violation tracker
  SSOT-regression-SERVICE_ID_hardcoding_cascade_failures_block_user_login.md
Due: docker-force-flag-prohibition

docs: track SSOT DatabaseManager violations blocking golden path
  SSOT-incomplete-migration-DatabaseManager WebSocket Factory Missing Breaking Golden Path.md
Due: docker-force-flag-prohibition

docs: create SSOT registry violation tracker for issue #205
  SSOT-incomplete-migration-configuration-base-layer-bypass.md
  SSOT-incomplete-migration-multiple-tool-dispatcher-registry-violations.md
Due: docker-force-flag-prohibition

docs: create SSOT remediation tracker for UnifiedStateManager factory pattern violation
  SSOT-regression-UnifiedStateManager-Direct-instantiation-bypasses-factory-pattern-in-tests.md
Due: docker-force-flag-prohibition

feat: create 22 SSOT WebSocket event emitter consolidation tests
  SSOT-incomplete-migration-WebSocket Event Emitter Consolidation.md
  pytest.ini
  tests/mission_critical/websocket_emitter_consolidation/README.md
  tests/mission_critical/websocket_emitter_consolidation/TEST_VALIDATION_REPORT.md
  tests/mission_critical/websocket_emitter_consolidation/__init__.py
  tests/mission_critical/websocket_emitter_consolidation/test_emitter_consolidation_preserves_golden_path.py
  tests/mission_critical/websocket_emitter_consolidation/test_event_source_validation_fails_with_duplicates.py
  tests/mission_critical/websocket_emitter_consolidation/test_multiple_emitter_race_condition_reproduction.py
  tests/mission_critical/websocket_emitter_consolidation/test_no_race_conditions_single_emitter.py
  tests/mission_critical/websocket_emitter_consolidation/test_single_emitter_performance_validation.py
  tests/mission_critical/websocket_emitter_consolidation/test_unified_emitter_ssot_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs: track SSOT AgentHealthMonitor violations blocking golden path
  SSOT-incomplete-migration-multiple-agent-health-monitors.md
  SSOT-incomplete-migration-websocket-import-inconsistencies.md
Due: docker-force-flag-prohibition

docs: SSOT audit progress tracker for WorkflowOrchestrator execution engines
  SSOT-incomplete-migration-WorkflowOrchestrator-multiple-execution-engines.md
Due: docker-force-flag-prohibition

docs: SSOT UserExecutionContext violation tracking
  SSOT-execution-engine-consolidation-user-isolation-blocking-golden-path.md
  SSOT-incomplete-migration-UserExecutionContext-duplicate-implementations.md
Due: docker-force-flag-prohibition

docs: SSOT AgentRegistry interface violation tracking
  SSOT-regression-AgentRegistry-interface-violation.md
Due: docker-force-flag-prohibition

docs: track SSOT EventValidator consolidation issue #214
  SSOT-incomplete-migration-eventvalidator-consolidation.md
Due: docker-force-flag-prohibition

docs: create SSOT OAuth validation duplication tracker for issue #213
  SSOT-incomplete-migration-oauth-validation-duplication.md
Due: docker-force-flag-prohibition

docs: create SSOT MessageRouter violation tracker for issue #217
  SSOT-incomplete-migration-MessageRouter-critical-violations.md
Due: docker-force-flag-prohibition

docs: SSOT-incomplete-migration-WebSocketNotifier tracking - Step 0 audit complete
  SSOT-incomplete-migration-WebSocketNotifier-multiple-implementations-blocking-Golden-Path.md
Due: docker-force-flag-prohibition

docs: update SSOT tracker - test discovery completed
  SSOT-incomplete-migration-multiple-tool-dispatcher-registry-violations.md
Due: docker-force-flag-prohibition

docs: track SSOT ToolExecutorFactory duplication issue #219
  SSOT-incomplete-migration-ToolExecutorFactory-vs-UnifiedToolDispatcher-duplication-blocks-golden-path.md
Due: docker-force-flag-prohibition

docs: complete test discovery and planning for DatabaseManager SSOT
  SSOT-incomplete-migration-DatabaseManager WebSocket Factory Missing Breaking Golden Path.md
Due: docker-force-flag-prohibition

docs: create SSOT violation tracking for RequestScopedToolDispatcher
  SSOT-incomplete-migration-RequestScopedToolDispatcher-blocking-golden-path.md
Due: docker-force-flag-prohibition

feat(logging): implement comprehensive GCP traceback capture with test coverage
  netra_backend/app/core/logging_formatters.py
  tests/e2e/logging/test_gcp_cloud_run_traceback_e2e.py
  tests/integration/logging/test_gcp_traceback_integration.py
  tests/mission_critical/test_gcp_traceback_capture_critical.py
  tests/unit/logging/test_gcp_traceback_formatter_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs: test strategy complete for UnifiedLifecycleManager → SystemLifecycle migration
  FIVE_WHYS_WEBSOCKET_1000_CONNECTION_FAILURE_ANALYSIS_20250910.md
  SSOT-incomplete-migration-AgentExecutionTracker-consolidation-multiple-execution-tracking-systems-violate-SSOT.md
  SSOT-incomplete-migration-lifecycle-manager-naming-violation.md
  SYSTEM_STABILITY_VALIDATION_ANALYSIS_ONLY_SESSION_20250910.md
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_GOLDEN_PATH_20250910_COMPREHENSIVE_SESSION.md
Due: docker-force-flag-prohibition

docs: complete test discovery phase for UnifiedStateManager SSOT remediation
  SSOT-regression-UnifiedStateManager-Direct-instantiation-bypasses-factory-pattern-in-tests.md
Due: docker-force-flag-prohibition

docs: add SSOT violation tracker for AuthCircuitBreakerManager
  SSOT-incomplete-migration-AuthCircuitBreakerManager_duplicate_implementation_blocks_user_login.md
Due: docker-force-flag-prohibition

docs: SSOT violation tracking for AgentExecutionTracker issue #220
  GOLDEN_PATH_E2E_STAGING_TEST_REPORT_20250910.md
  SSOT-incomplete-migration-WorkflowOrchestrator-multiple-execution-engines.md
  SSOT-incomplete-migration-configuration-base-layer-bypass.md
  SSOT-regression-SERVICE_ID_hardcoding_cascade_failures_block_user_login.md
  debug_websocket_staging.py
  simple_staging_test.py
  tests/mission_critical/test_execution_engine_ssot_consolidation_issues.py
  tests/unit/execution_engine_ssot/test_business_function_validation.py
  tests/unit/execution_engine_ssot/test_deprecated_engine_import_analysis.py
  tests/unit/execution_engine_ssot/test_factory_delegation_validation.py
  tests/unit/execution_engine_ssot/test_user_execution_engine_ssot_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs: complete Step 1 test discovery and planning for SERVICE_ID SSOT
  SSOT-incomplete-migration-UserExecutionContext-duplicate-implementations.md
Due: docker-force-flag-prohibition

docs: update merge decision log with second merge details
  merges/MERGEISSUE_20250910.md
Due: docker-force-flag-prohibition

docs: create SSOT LLMManager factory pattern violations tracker
  SSOT-incomplete-migration-llmmanager-factory-pattern-violations.md
Due: docker-force-flag-prohibition

docs: complete SSOT WebSocket event emitter remediation planning
  SSOT-incomplete-migration-WebSocket Event Emitter Consolidation.md
Due: docker-force-flag-prohibition

docs: link SSOT LLMManager tracker to GitHub issue #224
  SSOT-incomplete-migration-llmmanager-factory-pattern-violations.md
Due: docker-force-flag-prohibition

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
