Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

docs: Issue #843 Golden Path integration test coverage completion summary
  ISSUE_843_COMPLETION_SUMMARY.md
Due: docker-force-flag-prohibition

feat: finalize WebSocket SSOT consolidation and complete Issue #843
  netra_backend/app/websocket_core/__init__.py
  netra_backend/app/websocket_core/websocket_manager_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(testing): update test execution guide with Issue #843 golden path integration tests
  reports/TEST_EXECUTION_GUIDE.md
  tests/unit/websocket_config_847/test_docker_port_configuration_detection.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): replace deprecated datetime.utcnow with timezone-aware datetime
  netra_backend/app/websocket_core/unified_emitter.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(deployment): add REDIS_URL configuration to staging environment
  scripts/deployment/staging_config.yaml
Due: docker-force-flag-prohibition, docker-security-audit

fix: Resolve SSOT import violations causing deployment failures
  netra_backend/app/agents/supervisor/agent_instance_factory.py
  netra_backend/app/routes/websocket_ssot.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(issue-335): add comprehensive WebSocket race condition resolution documentation
  ISSUE_335_IMPLEMENTATION_COMPLETE_REPORT.md
  ISSUE_335_SYSTEM_STABILITY_VALIDATION_COMPLETE.md
  TEST_EXECUTION_RESULTS_Issue_335.md
  issue_335_remediation_plan.md
  issue_335_update.md
  issue_335_update_comment.md
Due: docker-force-flag-prohibition

docs(issue-732): add comprehensive test coverage improvement documentation
  ISSUE_732_COMPLETE_VALIDATION_REPORT.md
  ISSUE_732_IMPLEMENTATION_COMPLETE_REPORT.md
  ISSUE_732_TEST_EXECUTION_REPORT.md
Due: docker-force-flag-prohibition

feat: add Issue #847 staging fallback test and update WebSocket SSOT imports
  netra_backend/app/websocket_core/ssot_validation_enhancer.py
  tests/unit/websocket_config_847/test_staging_fallback_mechanism.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(websocket): add comprehensive WebSocket race condition test suite
  netra_backend/tests/integration/websocket_core/test_websocket_safe_close_race_conditions_integration.py
  netra_backend/tests/unit/websocket_core/test_websocket_safe_close_race_conditions_unit.py
  netra_backend/tests/websocket/test_websocket_race_condition_issue_335.py
  tests/integration/websocket_core/test_websocket_lifecycle_race_conditions_integration.py
  tests/integration/websocket_core/test_websocket_race_conditions_integration.py
  tests/unit/websocket_core/test_send_after_close_race_condition_reproduction.py
  tests/unit/websocket_core/test_websocket_send_after_close_race_conditions.py
  tests/unit/websocket_core/test_websocket_send_after_close_simple.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor: update WebSocket bridge factory to use canonical SSOT import
  netra_backend/app/services/websocket_bridge_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(id-generation): add comprehensive UUID4 violation detection test suite
  tests/integration/id_generation/test_cross_service_id_consistency.py
  tests/integration/id_generation/test_id_format_consistency_validation.py
  tests/integration/id_generation/test_migration_performance_impact.py
  tests/integration/id_generation/test_structured_id_patterns.py
  tests/integration/id_generation/test_unified_id_generator_adoption.py
  tests/unit/id_generation/test_audit_models_uuid4_violations.py
  tests/unit/id_generation/test_auth_session_uuid4_violations.py
  tests/unit/id_generation/test_factory_uuid4_violations.py
  tests/unit/id_generation/test_websocket_uuid4_violations.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(e2e): add staging environment end-to-end validation tests
  tests/e2e/staging/test_id_format_consistency_e2e.py
  tests/e2e/staging/test_websocket_send_after_close_staging.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(websocket/ssot): Issue #824 Phase 1 SSOT consolidation stability validation
  ISSUE_824_STABILITY_VALIDATION_REPORT.md
Due: docker-force-flag-prohibition

feat: add comprehensive Issue #847 configuration gap demonstration test
  tests/unit/websocket_config_847/test_configuration_gap_demonstration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(test-gardener): add failing test gardener worklog for golden path 2025-09-13
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-goldenpath-2025-09-13.md
Due: docker-force-flag-prohibition

docs: mark Issue #841 Step 5 test fix loop as complete
  SSOT-incomplete-migration-multiple-websocket-managers.md
Due: docker-force-flag-prohibition

feat: Complete Issue #844 Phase 1 SSOT WebSocket manager consolidation
  ISSUE_847_TEST_EXECUTION_SUMMARY.md
Due: docker-force-flag-prohibition

fix: Critical staging deployment blockers - SSOT import path fixes
  netra_backend/app/websocket_core/unified_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: Complete Issue #846 golden path unit test coverage (78% → 85-88%)
  ISSUE_846_PR_SUMMARY.md
Due: docker-force-flag-prohibition

feat: Update WebSocket bridge factory SSOT imports for Issue #844
  netra_backend/app/services/websocket_bridge_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Add Issue #335 staging deployment validation report
  staging_deployment_validation_report_issue_335.md
Due: docker-force-flag-prohibition

docs: Add merge resolution notes for Issue #335 pre-commit fixes
  merges/MERGEISSUE-2025-09-13-1720.md
Due: docker-force-flag-prohibition

chore: Update staging test results and log gardener worklog
  STAGING_TEST_REPORT_PYTEST.md
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-13.md
Due: docker-force-flag-prohibition

feat(orchestration): Enhanced Claude Instance Orchestrator with comprehensive testing capabilities
  scripts/claude-instance-orchestrator.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Update claude-instance-orchestrator.py
  scripts/claude-instance-orchestrator.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(orchestration): Restore missing comma in Python syntax
  scripts/claude-instance-orchestrator.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(orchestration): Restore ultimate-test-deploy-loop instance after merge
  scripts/claude-instance-orchestrator.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Track P1 SSOT violation - ThreadState duplicate definitions (Issue #858)
  SSOT-incomplete-migration-ThreadState-duplicate-definitions.md
Due: docker-force-flag-prohibition

docs: Update GCP log gardener worklog with latest backend service analysis
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-13.md
Due: docker-force-flag-prohibition

Add test suite corruption scanner for comprehensive validation
  tests/corruption/test_suite_corruption_scanner.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Add GCP log gardener worklog and test recovery validation
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-20250913-1742.md
  tests/corruption/test_recovery_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): Add thread safety to SSOT validation preventing dictionary iteration errors
  netra_backend/app/websocket_core/websocket_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore(testing): Add critical mission test failure analysis 2025-09-13
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-critical-2025-09-13.md
Due: docker-force-flag-prohibition

test: Add validation test for WebSocket SSOT thread safety fix
  test_websocket_ssot_fix.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(agents): Add Issue #845 SSOT AgentRegistry duplication analysis
  issue_845_analysis.md
Due: docker-force-flag-prohibition

enhance(test): Improve E2E test harness utilities with enhanced client management
  tests/e2e/harness_utils.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(agents): Add Issue #845 SSOT AgentRegistry test plan
  issue_845_test_plan.md
Due: docker-force-flag-prohibition

test(agents): Add comprehensive test plan for Issue #845 SSOT AgentRegistry consolidation
  SSOT-incomplete-migration-Multiple-Execution-Engine-Implementations-Blocking-Golden-Path.md
  tests/corruption/test_system_health_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore(testing): Add Golden Path test failure analysis 2025-09-13
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-goldenpath-2025-09-13-17-32.md
Due: docker-force-flag-prohibition

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
