Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

Update ssotgardener.md
  .claude/commands/ssotgardener.md
Due: docker-force-flag-prohibition

ssot: track execution engine consolidation progress
  SSOT-incomplete-migration-multiple-execution-engines-blocking-user-isolation.md
Due: docker-force-flag-prohibition

feat: add SSOT gardener progress tracker for critical execution engine factory isolation issue
  SSOT-incomplete-migration-execution-engine-factory-user-isolation.md
Due: docker-force-flag-prohibition

feat: SSOT Gardener tracking document for JWT auth violations
  SSOT-incomplete-migration-JWT authentication logic duplicated across services blocking golden path.md
Due: docker-force-flag-prohibition

feat: add WebSocket SSOT violation issue tracker
  SSOT-websocket-routes-massive-duplication-blocking-golden-path.md
Due: docker-force-flag-prohibition

feat: add SSOT WebSocket manager remediation tracking
  SSOT-recent-change-WebSocket-manager-fragmentation-blocks-golden-path-chat-functionality.md
Due: docker-force-flag-prohibition

docs: update SSOT gardener progress with existing test discovery
  SSOT-incomplete-migration-execution-engine-factory-user-isolation.md
Due: docker-force-flag-prohibition

ssot: complete step 1 test discovery for execution engines
  SSOT-incomplete-migration-multiple-execution-engines-blocking-user-isolation.md
Due: docker-force-flag-prohibition

feat: complete WebSocket SSOT test discovery and planning
  SSOT-websocket-routes-massive-duplication-blocking-golden-path.md
Due: docker-force-flag-prohibition

docs: complete SSOT test planning with 5 new factory validation tests
  SSOT-incomplete-migration-execution-engine-factory-user-isolation.md
Due: docker-force-flag-prohibition

update: SSOT Gardener Phase 1 test discovery complete
  SSOT-incomplete-migration-JWT authentication logic duplicated across services blocking golden path.md
Due: docker-force-flag-prohibition

feat: add SSOT remediation tracking for reporting agent JSON handling
  SSOT-incomplete-migration-reporting-agent-json-handling.md
Due: docker-force-flag-prohibition

ssot: track E2E BaseE2ETest migration issue #188
  SSOT-incomplete-migration-E2E-tests-using-BaseE2ETest-instead-of-SSOT-base-classes.md
Due: docker-force-flag-prohibition

ssot: create tracking for environment loading duplication issue
  SSOT-incomplete-migration-environment-loading-duplication.md
Due: docker-force-flag-prohibition

docs: update WebSocket SSOT remediation progress - Phase 1 complete
  SSOT-recent-change-WebSocket-manager-fragmentation-blocks-golden-path-chat-functionality.md
Due: docker-force-flag-prohibition

feat: SSOT Gardener progress tracker for critical Redis manager consolidation
  SSOT-incomplete-migration-multiple-redis-managers-blocking-user-chat.md
Due: docker-force-flag-prohibition

feat: complete test discovery and planning for ReportingSubAgent SSOT
  SSOT-incomplete-migration-reporting-agent-json-handling.md
Due: docker-force-flag-prohibition

ssot: complete step 1.1 test discovery for execution engines
  SSOT-incomplete-migration-environment-loading-duplication.md
Due: docker-force-flag-prohibition

fix(tests): resolve P0 critical import failures - Phase 1
  netra_backend/tests/e2e/test_websocket_authentication_timing_e2e.py
  netra_backend/tests/fixtures/database_test_fixtures.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: complete WebSocket SSOT test creation phase
  SSOT-websocket-routes-massive-duplication-blocking-golden-path.md
Due: docker-force-flag-prohibition

feat(tests): create missing test_rate_limit_analysis.py module - Phase 2
  netra_backend/tests/e2e/test_rate_limit_analysis.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: Complete Redis SSOT consolidation test strategy
  SSOT-incomplete-migration-multiple-redis-managers-blocking-user-chat.md
Due: docker-force-flag-prohibition

ssot: complete test strategy plan for E2E BaseE2ETest migration #188
  SSOT-incomplete-migration-E2E-tests-using-BaseE2ETest-instead-of-SSOT-base-classes.md
Due: docker-force-flag-prohibition

ssot: complete step 1.2 test planning for environment loading
  SSOT-incomplete-migration-environment-loading-duplication.md
Due: docker-force-flag-prohibition

feat(tests): add comprehensive SSOT validation tests for execution engine consolidation
  reports/ssot-validation/EXECUTION_ENGINE_SSOT_TEST_RESULTS.md
  tests/integration/ssot_validation/test_factory_pattern_migration.py
  tests/integration/ssot_validation/test_user_isolation_consistency.py
  tests/integration/ssot_validation/test_websocket_event_consistency.py
  tests/unit/ssot_validation/test_deprecated_engine_prevention.py
  tests/unit/ssot_validation/test_execution_engine_ssot_transition.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: Add SSOT violation detection tests for JWT authentication
  tests/mission_critical/test_backend_jwt_violation_detection.py
  tests/unit/auth/test_ssot_violation_inventory.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

ssot: complete step 2 SSOT test creation
  SSOT-incomplete-migration-multiple-execution-engines-blocking-user-isolation.md
Due: docker-force-flag-prohibition

feat: complete WebSocket SSOT validation tests - Phase 2 done
  SSOT-incomplete-migration-JWT authentication logic duplicated across services blocking golden path.md
  SSOT-recent-change-WebSocket-manager-fragmentation-blocks-golden-path-chat-functionality.md
  netra_backend/tests/unit/agents/test_reporting_sub_agent_ssot_json.py
  reports/testing/WEBSOCKET_SSOT_TEST_COMPLETION_SUMMARY.md
  reports/testing/WEBSOCKET_SSOT_VIOLATIONS_PROOF_REPORT.md
  tests/integration/execution_engine/test_execution_engine_factory_websocket_integration.py
  tests/integration/execution_engine/test_execution_engine_ssot_factory_compliance_integration.py
  tests/integration/redis_ssot/test_redis_import_migration_integration.py
  tests/integration/test_cross_service_environment_consistency.py
  tests/integration/test_environment_loading_ssot_integration.py
  tests/integration/test_websocket_ssot_golden_path.py
  tests/mission_critical/test_e2e_migration_validation.py
  tests/mission_critical/test_reporting_agent_ssot_json_compliance.py
  tests/ssot/test_websocket_route_consolidation.py
  tests/ssot/test_websocket_ssot_violations_reproduction.py
  tests/unit/execution_engine/test_execution_engine_factory_user_isolation_unit.py
  tests/unit/execution_engine/test_user_execution_context_factory_integration_unit.py
  tests/unit/redis_ssot/test_redis_manager_consolidation_unit.py
  tests/unit/websocket_ssot/test_import_standardization.py
  tests/unit/websocket_ssot/test_manager_factory_consolidation.py
  tests/unit/websocket_ssot/test_manager_interface_consistency.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat: complete WebSocket SSOT consolidation strategy planning
  SSOT-websocket-routes-massive-duplication-blocking-golden-path.md
Due: docker-force-flag-prohibition

feat: add 5 comprehensive SSOT factory validation tests
  SSOT-incomplete-migration-execution-engine-factory-user-isolation.md
  tests/unit/execution_engine/test_execution_engine_factory_resource_limits_unit.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

ssot: create validation tests for environment loading refactor
  SSOT-incomplete-migration-environment-loading-duplication.md
  tests/integration/test_staging_detection_environment_ssot.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: add comprehensive SSOT JSON compliance tests for ReportingSubAgent
  netra_backend/tests/integration/test_reporting_sub_agent_json_integration.py
  netra_backend/tests/unit/agents/test_reporting_sub_agent_ssot_json.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: Complete JWT SSOT remediation planning phase
  SSOT-incomplete-migration-JWT authentication logic duplicated across services blocking golden path.md
Due: docker-force-flag-prohibition

ssot: complete step 3 remediation planning
  SSOT-incomplete-migration-multiple-execution-engines-blocking-user-isolation.md
Due: docker-force-flag-prohibition

docs: comprehensive SSOT test execution results and remediation roadmap
  tests/mission_critical/REPORTING_AGENT_SSOT_TEST_EXECUTION_RESULTS.md
Due: docker-force-flag-prohibition

feat: complete WebSocket SSOT remediation planning - Phase 3 done
  SSOT-incomplete-migration-E2E-tests-using-BaseE2ETest-instead-of-SSOT-base-classes.md
  SSOT-incomplete-migration-execution-engine-factory-user-isolation.md
  SSOT-incomplete-migration-multiple-redis-managers-blocking-user-chat.md
  SSOT-incomplete-migration-reporting-agent-json-handling.md
  SSOT-recent-change-WebSocket-manager-fragmentation-blocks-golden-path-chat-functionality.md
  WEBSOCKET_SSOT_REMEDIATION_STRATEGY_DETAILED.md
  tests/integration/redis_ssot/__init__.py
  tests/integration/redis_ssot/test_websocket_redis_ssot_integration.py
  tests/integration/test_e2e_functionality_preservation.py
  tests/mission_critical/test_e2e_ssot_compliance.py
  tests/redis_ssot_test_execution_guide.md
  tests/unit/redis_ssot/__init__.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat: create SSOT compliance tests for ReportingSubAgent JSON handling
  SSOT-incomplete-migration-reporting-agent-json-handling.md
Due: docker-force-flag-prohibition

ssot: create E2E BaseE2ETest migration validation test suites #188
  netra_backend/app/agents/supervisor/execution_engine.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Implement Priority 3 timeout hierarchy for cloud-native GCP environment
  .env.test.local
  .env.websocket.test
  netra_backend/app/core/timeout_configuration.py
  scripts/validate_timeout_hierarchy.py
  test_websocket_race_condition_fix.py
  tests/e2e/staging_test_config.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

ssot: complete step 3 SSOT remediation architecture planning
  SSOT-incomplete-migration-environment-loading-duplication.md
Due: docker-force-flag-prohibition

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
