Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation, protect-staging-config

new-file-compliance:
  name: New File Standards (strict for new files only)
  entry: python scripts/permissive_hooks/check_new_files.py
  language: system
  stages:
  - commit
  description: Applies strict standards ONLY to newly created files

edited-lines-check:
  name: Modified Lines Check (incremental)
  entry: python scripts/permissive_hooks/check_edited_lines.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Validates only the lines being modified, not the entire file

prevent-new-relative-imports:
  name: Prevent New Relative Imports
  entry: python scripts/permissive_hooks/check_new_imports.py --warn-only
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Blocks new relative imports, warns about existing ones

main-code-quality:
  name: Main Codebase Quality (app > tests)
  entry: python scripts/permissive_hooks/prioritized_check.py --priority app
  language: system
  stages:
  - commit
  description: Prioritizes main application code quality over test files

test-file-leniency:
  name: Test File Check (permissive)
  entry: python scripts/permissive_hooks/test_check_lenient.py --max-lines 1000
  language: system
  stages:
  - commit
  description: Relaxed limits for test files - focus on functionality over form

new-duplicate-prevention:
  name: Prevent New Duplicates (incremental)
  entry: python scripts/permissive_hooks/check_new_duplicates.py --threshold 0.9
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents introduction of NEW duplicate patterns only

check-environment-isolation:
  name: Environment Isolation Check
  entry: python scripts/check_environment_isolation.py --strict
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents direct os.environ access in test files - use IsolatedEnvironment instead

protect-staging-config:
  name: Staging Configuration Protection
  entry: python scripts/protect_staging_config.py
  language: system
  stages:
  - commit
  pass_filenames: false
  always_run: false
  description: Prevents ClickHouse configs from defaulting to localhost which breaks staging

🔧 fix(core): allow underscores in run ID thread component
  netra_backend/app/core/id_manager.py
  scripts/migrate_test_ids.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

📝 docs: add implementation summaries and compliance reports
  ID_MANAGER_IMPLEMENTATION_SUMMARY.md
  WEBSOCKET_BRIDGE_FINAL_COMPLIANCE_REPORT_20250902.md
Due: none

📝 docs: update compliance reports and agent documentation
  DEFINITION_OF_DONE_CHECKLIST.md
  LLM_MASTER_INDEX.md
  TEST_INFRASTRUCTURE_SSOT_VIOLATIONS_REPORT.md
  docs/GOLDEN_AGENT_INDEX.md
Due: none

♻️ refactor(test-framework): enhance environment isolation and SSOT compliance
  test_framework/config/category_config.py
  test_framework/config/config_manager.py
  test_framework/conftest_base.py
  test_framework/decorators.py
  test_framework/docker_cleanup_scheduler.py
  test_framework/docker_force_flag_guardian.py
  test_framework/environment_markers.py
  test_framework/feature_flags.py
  test_framework/fixtures/auth.py
  test_framework/fixtures/config.py
  test_framework/fixtures/database_fixtures.py
  test_framework/fixtures/service_fixtures.py
  test_framework/integrated_test_runner.py
  test_framework/llm_config_manager.py
  test_framework/real_llm_config.py
  test_framework/ssot/__init__.py
  test_framework/ssot/base.py
  test_framework/unified_docker_manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

✨ feat(websocket): enhance thread resolution with 5-priority algorithm
  netra_backend/app/agents/summary_extractor_sub_agent.py
  netra_backend/app/agents/tool_discovery_sub_agent.py
  netra_backend/app/services/agent_websocket_bridge.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

🔧 fix(auth): update JWT handler with proper environment isolation
  auth_service/auth_core/core/jwt_handler.py
  auth_service/gunicorn_config.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

♻️ refactor(database): update scripts with IsolatedEnvironment pattern
  database_scripts/create_db.py
  database_scripts/refresh_db.py
  database_scripts/run_migrations.py
  database_scripts/test_create_auth.py
  database_scripts/validate_init.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

🧪 test(backend): update critical tests with environment isolation
  netra_backend/tests/auth_integration/test_jwt_secret_consistency.py
  netra_backend/tests/compliance/test_environment_violations.py
  netra_backend/tests/config/test_unified_config_e2e.py
  netra_backend/tests/config/test_unified_config_unit.py
  netra_backend/tests/critical/test_auth_user_persistence_regression.py
  netra_backend/tests/critical/test_clickhouse_connection_timeout_staging_regression.py
  netra_backend/tests/critical/test_clickhouse_reliability_cycles_16_20.py
  netra_backend/tests/critical/test_config_environment_detection.py
  netra_backend/tests/critical/test_config_secrets_manager.py
  netra_backend/tests/critical/test_gcp_staging_edge_cases_comprehensive.py
  netra_backend/tests/critical/test_redis_connection_warnings_staging_regression.py
  netra_backend/tests/critical/test_sqlalchemy_deprecation_warnings_regression.py
  netra_backend/tests/critical/test_staging_configuration_logging_circular_dependency.py
  netra_backend/tests/critical/test_staging_configuration_no_localhost.py
  netra_backend/tests/critical/test_startup_check_import_issue.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

🧪 test(integration): enhance critical path tests with real services
  netra_backend/tests/integration/critical_paths/test_agent_collaboration_workflow.py
  netra_backend/tests/integration/critical_paths/test_agent_pipeline_real_llm.py
  netra_backend/tests/integration/critical_paths/test_auth_service_recovery_crash.py
  netra_backend/tests/integration/critical_paths/test_compliance_audit_trail_l4.py
  netra_backend/tests/integration/critical_paths/test_database_failover_recovery_flow.py
  netra_backend/tests/integration/critical_paths/test_dev_login_cold_start.py
  netra_backend/tests/integration/critical_paths/test_free_tier_limitations_enforcement.py
  netra_backend/tests/integration/critical_paths/test_message_queue_processing_pipeline.py
  netra_backend/tests/integration/critical_paths/test_oauth_jwt_websocket_flow.py
  netra_backend/tests/integration/critical_paths/test_prometheus_metrics_collection.py
  netra_backend/tests/integration/critical_paths/test_redis_session_management_flow.py
  netra_backend/tests/integration/critical_paths/test_staging_environment_imports.py
  netra_backend/tests/integration/critical_paths/test_system_startup_sequences_l4.py
  netra_backend/tests/integration/critical_paths/test_user_onboarding_complete_flow.py
  netra_backend/tests/integration/critical_paths/test_webhook_delivery_reliability.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

🧪 test(mission-critical): add comprehensive WebSocket and Docker stability tests
  tests/mission_critical/conftest_isolated_websocket.py
  tests/mission_critical/run_docker_stability_tests.py
  tests/mission_critical/test_backend_login_endpoint_fix.py
  tests/mission_critical/test_chat_initialization.py
  tests/mission_critical/test_docker_edge_cases.py
  tests/mission_critical/test_docker_full_integration.py
  tests/mission_critical/test_docker_performance.py
  tests/mission_critical/test_docker_stability_comprehensive.py
  tests/mission_critical/test_docker_stability_suite.py
  tests/mission_critical/test_isolated_environment_compliance.py
  tests/mission_critical/test_jwt_secret_hard_requirements.py
  tests/mission_critical/test_mock_duplication_prevention.py
  tests/mission_critical/test_pre_post_deployment_jwt_verification.py
  tests/mission_critical/test_ssot_backward_compatibility.py
  tests/mission_critical/test_ssot_compliance_suite.py
  tests/mission_critical/test_ssot_framework_validation.py
  tests/mission_critical/test_ssot_integration.py
  tests/mission_critical/test_ssot_quick_validation.py
  tests/mission_critical/test_ssot_regression_prevention.py
  tests/mission_critical/test_ssot_test_runner_enforcement.py
  tests/mission_critical/test_staging_auth_cross_service_validation.py
  tests/mission_critical/test_summary_extractor_golden.py
  tests/mission_critical/test_tool_discovery_golden.py
  tests/mission_critical/test_websocket_agent_events_suite.py
  tests/mission_critical/test_websocket_bridge_critical_flows.py
  tests/mission_critical/test_websocket_bridge_edge_cases_20250902.py
  tests/mission_critical/test_websocket_bridge_integration.py
  tests/mission_critical/test_websocket_bridge_lifecycle_audit_20250902.py
  tests/mission_critical/test_websocket_bridge_lifecycle_comprehensive.py
  tests/mission_critical/test_websocket_bridge_lifecycle_comprehensive_fixed.py
  tests/mission_critical/test_websocket_bridge_minimal.py
  tests/mission_critical/test_websocket_bridge_runid_extraction.py
  tests/mission_critical/test_websocket_bridge_simple_validation.py
  tests/mission_critical/test_websocket_bridge_thread_resolution.py
  tests/mission_critical/test_websocket_bridge_thread_resolution_basic.py
  tests/mission_critical/test_websocket_direct.py
  tests/mission_critical/test_websocket_events_refresh_validation.py
  tests/mission_critical/test_websocket_simple.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

🔧 chore(scripts): add environment isolation enforcement utilities
  scripts/audit_docker_commands.py
  scripts/check_environment_isolation.py
  scripts/enforce_isolated_environment_compliance.py
  scripts/environment_validator.py
  scripts/environment_validator_core.py
  scripts/environment_validator_database.py
  scripts/fetch_secrets_to_env.py
  scripts/local_secrets_manager.py
  scripts/migrate_jwt_env_vars.py
  scripts/migrate_test_environment_access.py
  scripts/remediate_os_environ_violations.py
  scripts/run_docker_stability_tests.py
  scripts/scan_os_environ_violations.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

♻️ refactor(backend): update core services with environment isolation
  netra_backend/app/api/test_endpoints.py
  netra_backend/app/core/app_factory_route_imports.py
  netra_backend/app/llm/llm_defaults.py
  netra_backend/app/mcp_client/transports/stdio_client.py
  netra_backend/app/routes/health_check.py
  netra_backend/app/routes/system_info.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

♻️ refactor(analytics): update analytics service with SSOT compliance
  analytics_service/analytics_core/services/example_usage.py
  analytics_service/analytics_core/services/grafana_service.py
  analytics_service/run_ssot_compliance_tests.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

♻️ refactor(dev-launcher): enhance recovery and validation
  dev_launcher/recovery_manager.py
  dev_launcher/tests/test_config_validator.py
  dev_launcher/tests/test_launcher_config.py
  dev_launcher/tests/test_launcher_integration.py
  dev_launcher/tests/test_websocket_validator_fix.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

♻️ refactor(shared): update shared libraries with environment isolation
  shared/configuration/central_config_validator.py
  shared/database/core_database_manager.py
  shared/logging/unified_logger_factory.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

🧪 test(e2e): update end-to-end tests with proper isolation
  tests/chat_system/test_nacis_no_backend.py
  tests/chat_system/test_nacis_simple.py
  tests/critical/test_health_route_configuration_chaos.py
  tests/critical/test_health_route_duplication_audit.py
  tests/critical/test_health_route_integration_failures.py
  tests/deployment/test_oauth_staging_flow.py
  tests/e2e/test_docker_websocket_integration.py
  tests/integration/cors_validation_utils.py
  tests/integration/test_basic_service_url_alignment.py
  tests/integration/test_cors_comprehensive.py
  tests/integration/test_cors_integration_core.py
  tests/integration/test_cors_integration_fixtures.py
  tests/integration/test_cors_staging_specific.py
  tests/integration/test_cross_service_config_fixtures.py
  tests/integration/test_cross_service_integration_auth.py
  tests/integration/test_cross_service_integration_core_2.py
  tests/integration/test_cross_system_environment_alignment.py
  tests/integration/test_real_llm_rate_limiting.py
  tests/integration/test_websocket_reconnection_robust.py
  tests/integration/test_workflow_verification_l2.py
  tests/mission_critical/README_DOCKER_STABILITY_COMPREHENSIVE.md
  tests/run_staging_tests.py
  tests/security/test_service_secret_fallback_vulnerability.py
  tests/staging/run_staging_tests.py
  tests/staging/run_staging_tests_ORIGINAL.py
  tests/staging_errors/test_auth_service_deployment.py
  tests/stress/test_rapid_refresh_stress.py
  tests/test_dev_launcher_issues.py
  tests/unified_test_runner.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

♻️ refactor(test-framework): consolidate mocks and archived patterns
  test_framework/archived/executors/test_execution_engine.py
  test_framework/archived/experimental/integrate_ultra.py
  test_framework/archived/experimental/patterns.py
  test_framework/archived/experimental/resource_monitor.py
  test_framework/archived/experimental/test_isolation.py
  test_framework/mocks/background_jobs_mock/job_manager.py
  test_framework/mocks/background_jobs_mock/queue.py
  test_framework/mocks/background_jobs_mock/worker.py
  test_framework/repositories/test_repository_factory_integration.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

♻️ refactor(test-infra): update test infrastructure utilities
  organized_root/utilities/run_compliance.py
  organized_root/utilities/run_migrations.py
  organized_root/utilities/start_dev.py
  standalone_test/test_agent_components.py
  test_framework/cypress_runner.py
  test_framework/integrated_test_runner_ORIGINAL.py
  test_framework/isolated_environment_fixtures.py
  test_framework/performance_helpers.py
  test_framework/port_conflict_fix.py
  test_framework/pytest_bad_test_plugin.py
  test_framework/report_generators.py
  test_framework/seed_data_manager.py
  test_framework/test_environment_setup.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

🧪 test(root): update root-level test files and configurations
  junit.xml
  run_staging_tests.py
  staging_auth_e2e_tests.py
  test_base_agent_isolated.py
  test_websocket_bridge_isolated.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

📝 docs: add mission completion and compliance reports
  DOCKER_AVAILABILITY_IMPACT_20250902.md
  DOCKER_FORCE_FLAG_COMPLIANCE_REPORT_20250902.md
  DOCKER_FORCE_FLAG_PROHIBITION_AUDIT_REPORT.md
  DOCKER_P2_REMEDIATION_COMPLETE_20250902.md
  DOCKER_WEBSOCKET_INTEGRATION_VALIDATION_REPORT_20250902.md
  GOLDEN_PATTERN_MIGRATION_FINAL_REPORT_20250902.md
  ISOLATED_ENVIRONMENT_ENFORCEMENT_COMPLETE.md
  ISOLATED_ENVIRONMENT_MIGRATION_REPORT.md
  MISSION_COMPLETION_REPORT_20250902.md
  MISSION_CRITICAL_TEST_VALIDATION_REPORT_20250902.md
  MOCK_CONSOLIDATION_COMPLETE_REPORT.md
  SPEC/learnings/docker_daemon_crash_audit_20250902.xml
  SSOT_MIGRATION_GUIDE.md
  SSOT_TEST_VALIDATION_REPORT_COMPREHENSIVE_20250902.md
  TEST_INFRASTRUCTURE_COMPLIANCE_REPORT_FINAL.md
  TEST_RUNNER_CONSOLIDATION_MISSION_COMPLETE.md
  TEST_VALIDATION_REPORT_20250902.md
Due: none

🔧 chore(scripts): update CI and test runner scripts
  scripts/ci/generate_fix.py
  scripts/permissive_hooks/claude_commit_hook.py
  scripts/permissive_hooks/emergency_check.py
  scripts/test/run_staging_tests.py
  scripts/test/run_staging_tests_wrapper.py
  scripts/test/run_supervisor_tests.py
  scripts/test/validate_staging_tests.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

🔥 refactor(docker): remove MailHog email testing service
  SPEC/docker_testing_ssot.xml
  docker-compose.test.yml
  docs/docker_testing_ssot.md
  scripts/audit_docker_services.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

🐛 fix(startup): correct SupervisorAgent initialization
  SPEC/learnings/supervisor_initialization_fix_20250902.xml
  netra_backend/app/startup_module_deterministic.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

♻️ refactor(test-runner): simplify Docker initialization
  tests/unified_test_runner.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

📝 docs: add Docker stability audit 5-whys analysis
  DOCKER_STABILITY_AUDIT_5_WHYS_20250902.md
Due: none

🚀 feat(docker): add Docker stability management infrastructure
  scripts/docker_stability_monitor.py
  test_fix_docker_ports.py
  test_framework/docker_stability_manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

♻️ refactor(docker): enhance UnifiedDockerManager with stability features
  test_framework/unified_docker_manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

🔧 fix(test-framework): update configuration for Docker stability
  test_framework/conftest_real_services.py
  test_framework/environment_isolation.py
  test_framework/service_availability.py
  test_framework/test_config.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

✨ feat(agents): add WebSocket tool enhancement module
  netra_backend/app/agents/websocket_tool_enhancement.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

🐛 fix(e2e): stabilize integration tests with Docker improvements
  tests/e2e/integration/test_database_user_sync.py
  tests/e2e/integration/test_service_health_checks.py
  tests/e2e/integration/test_service_startup_health_real.py
  tests/e2e/integration/test_staging_complete_e2e.py
  tests/e2e/integration/test_staging_websocket_messaging.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

⚡ perf(e2e): enhance performance tests with Docker awareness
  tests/e2e/performance/test_concurrent_user_load.py
  tests/e2e/performance/test_cost_tracking_accuracy.py
  tests/e2e/performance/test_rate_limiting.py
  tests/e2e/performance/test_thread_performance.py
  tests/e2e/performance/test_thread_performance_core.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

🛡️ fix(e2e): stabilize resilience and journey tests
  tests/e2e/journeys/test_complete_user_journey.py
  tests/e2e/journeys/test_real_unified_signup_login_chat.py
  tests/e2e/resilience/test_scaling_edge_cases.py
  tests/e2e/resilience/test_scaling_integrity.py
  tests/e2e/resilience/test_scaling_metrics.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

🔧 fix(e2e): comprehensive E2E test stability improvements
  tests/e2e/fixtures/rapid_message_fixtures.py
  tests/e2e/frontend/test_websocket_startup_race_condition.py
  tests/e2e/test_auth_race_conditions_core.py
  tests/e2e/test_database_migration_recovery_consistency.py
  tests/e2e/test_dev_mode_comprehensive_suite.py
  tests/e2e/test_error_recovery.py
  tests/e2e/test_failure_recovery.py
  tests/e2e/test_first_user_journey.py
  tests/e2e/test_helpers/throughput_helpers.py
  tests/e2e/test_inter_service_communication_dependency_validation.py
  tests/e2e/test_latency_targets.py
  tests/e2e/test_mixed_content_https.py
  tests/e2e/test_protocol_edge_cases.py
  tests/e2e/test_resource_usage.py
  tests/e2e/test_secret_manager_builder_requirement.py
  tests/e2e/test_service_independence_validation.py
  tests/e2e/test_session_persistence.py
  tests/e2e/test_soak_testing.py
  tests/e2e/test_staging_deployment_errors.py
  tests/e2e/test_staging_import_and_config_issues.py
  tests/e2e/test_thread_management.py
  tests/e2e/test_websocket_connectivity_realtime_features.py
  tests/e2e/test_websocket_integration.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

♻️ refactor(test-runner): integrate Docker stability improvements
  tests/unified_test_runner.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

📝 docs: add Docker stability diagnostics and troubleshooting guides
  docker_diagnostic_report.md
  e2e_docker_test_issue_report.md
  test_troubleshooting_plan.md
Due: none

🐳 config(docker): stabilize test environment with persistent volumes
  docker-compose.base.yml
  docker-compose.test.yml
Due: none

🔧 fix(backend): improve reliability wrapper and database transaction handling
  netra_backend/app/core/reliability/__init__.py
  netra_backend/app/startup_module.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

♻️ refactor(orchestration): consolidate SSOT enums and eliminate duplication
  test_framework/orchestration/background_e2e_agent.py
  test_framework/orchestration/background_e2e_manager.py
  test_framework/orchestration/layer_execution_agent.py
  test_framework/orchestration/layer_execution_manager.py
  test_framework/orchestration/progress_streaming_agent.py
  test_framework/orchestration/progress_streaming_manager.py
  test_framework/ssot/orchestration.py
  test_framework/ssot/orchestration_enums.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

Path conditions:
  new-file-compliance: any of: \.(py|ts|tsx)$
  edited-lines-check: any of: \.(py|ts|tsx)$
  prevent-new-relative-imports: any of: \.py$
  main-code-quality: any of: ^(netra_backend/app|auth_service/auth_core|frontend/src)/.*\.(py|ts|tsx)$
  test-file-leniency: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  new-duplicate-prevention: any of: \.py$
  check-environment-isolation: any of: (test_.*\.py|.*_test\.py|tests/.*\.py|conftest\.py)$
  protect-staging-config: any of: netra_backend/app/schemas/config\.py$
