Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$

chore: cleanup temporary test files and update logging after merge
  shared/logging/unified_logging_ssot.py
  test_integrated_keyerror_fix.py
  test_keyerror_fix_verification.py
  test_simple_keyerror_fix.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(e2e): rebuild agent startup integration - complete framework reconstruction
  reports/E2E_TEST_FAKE_REMOVAL_PROGRESS_REPORT.md
Due: docker-force-flag-prohibition

refactor(golden-path-tests): replace WebSocket bridge mocks with real services
  tests/integration/golden_path/test_agent_orchestration_execution_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add final logging fixes validation test
  test_logging_fixes.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: update logging test with Mock import and enhanced validation
  test_logging_fixes.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(issue-248): add WebSocketEvent dataclass to websocket_bridge_factory
  netra_backend/app/services/websocket_bridge_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(golden-path-tests): standardize assertions and update state management API
  tests/integration/golden_path/test_agent_orchestration_execution_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(chat-workflow-tests): update ExecutionEngineFactory usage patterns
  tests/integration/test_authenticated_chat_workflow_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add e2e GCP staging golden path test failure analysis
  tests/e2e/test_results/FAILING-TEST-GARDENER-WORKLOG-e2e-gcp-staging-remote-golden-path-2025-09-10.md
Due: docker-force-flag-prohibition

refactor(golden-path-tests): standardize agent factory method calls to create_agent_instance
  tests/integration/golden_path/test_agent_orchestration_execution_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add GCP log gardener worklog with GitHub issue tracking results
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-11.md
Due: docker-force-flag-prohibition

feat(websocket): enhance core infrastructure with connection lifecycle management
  netra_backend/app/websocket_core/connection_manager.py
  netra_backend/app/websocket_core/migration_adapter.py
  netra_backend/app/websocket_core/websocket_manager_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(websocket): add error validation service for test infrastructure compatibility
  netra_backend/app/services/websocket_error_validator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(test-framework): add unittest-style assertion methods to SSOT base test case
  test_framework/ssot/base_test_case.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(golden-path-tests): update agent result aggregation patterns
  tests/integration/golden_path/test_agent_orchestration_execution_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(websocket): implement comprehensive test compatibility infrastructure
  netra_backend/app/services/websocket_bridge_factory.py
  netra_backend/app/services/websocket_error_validator.py
  netra_backend/app/websocket_core/websocket_manager_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(websocket): add comprehensive SSOT user context validation for factory
  netra_backend/app/websocket_core/websocket_manager_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(auth): add E2E OAuth simulation key validation tests (issue #254)
  tests/integration/test_e2e_auth_bypass.py
  tests/unit/test_e2e_oauth_key_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(staging): add URL configuration validation tests (issue #257)
  tests/unit/test_staging_url_configuration_fix.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add comprehensive KeyError fix validation report
  KEYERROR_FIX_VALIDATION_REPORT.md
Due: docker-force-flag-prohibition

chore: remove temporary test file
  test_logging_fixes.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(websocket): enhance test compatibility with staging safety and reset functions
  merges/MERGEISSUE-2025-09-10-200226.md
  netra_backend/app/services/websocket_error_validator.py
  netra_backend/app/websocket_core/websocket_manager_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(e2e-tests): integrate URLConstants for consistent staging URL configuration
  netra_backend/tests/e2e/test_agent_execution_core_complete_flow.py
  netra_backend/tests/e2e/test_websocket_notifier_complete_e2e.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(e2e-auth): enhance auth bypass test cases with comprehensive JSON payloads
  tests/integration/test_e2e_auth_bypass.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(golden-path-tests): add comprehensive agent factory configuration for test reliability
  netra_backend/tests/e2e/test_workflow_orchestrator_golden_path.py
  tests/integration/golden_path/test_agent_orchestration_execution_comprehensive.py
  tests/integration/test_api_route_inconsistency_reproduction.py
  tests/integration/test_e2e_auth_bypass.py
  tests/unit/test_e2e_oauth_key_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): resolve agent factory configuration and E2E auth validation issues
  tests/integration/golden_path/test_agent_orchestration_execution_comprehensive.py
  tests/integration/test_e2e_auth_bypass.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

style(test): standardize assertion format in E2E auth test
  netra_backend/app/routes/users.py
  tests/integration/test_e2e_auth_bypass.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(api): complete API route consistency fixes and Golden Path test enhancements
  netra_backend/app/core/app_factory_route_configs.py
  tests/integration/golden_path/test_agent_orchestration_execution_comprehensive.py
  tests/integration/test_api_route_inconsistency_reproduction.py
  tests/integration/test_e2e_auth_bypass.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(agents): improve execution tracking with separate create and start phases
  merges/MERGEISSUE-2025-09-10-200449.md
  netra_backend/app/agents/supervisor/agent_execution_core.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(agents): correct transition method calls from transition_phase to transition_state
  netra_backend/app/agents/supervisor/agent_execution_core.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(agents): enhance execution flow with context validation and direct timeout management
  netra_backend/app/agents/supervisor/agent_execution_core.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(perf): add memory profiler dependency for performance monitoring
  requirements.txt
Due: docker-force-flag-prohibition

refactor(tests): clean up unused imports in database model tests
  netra_backend/tests/db/test_database_models_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(agents): add comprehensive execution state tracking with thinking phase
  netra_backend/app/agents/supervisor/agent_execution_core.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(unit): add ExecutionResult API compatibility validation suite (issue #261)
  github_issue_update.md
  tests/e2e/test_basic_triage_response_staging_e2e.py
  tests/unit/test_execution_result_api_compatibility.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: update unit test for AgentExecutionResult compatibility
  github_issue_update.md
  tests/unit/test_execution_result_api_compatibility.py
  tests/unit/test_staging_url_configuration_fix.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(unit): improve staging URL config validation with robust parenthesis parsing
  tests/unit/test_staging_url_configuration_fix.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(issue-261): comprehensive test plan for ExecutionResult API standardization
  TEST_PLAN_EXECUTION_RESULT_API_ISSUE_261.md
Due: docker-force-flag-prohibition

test(issue-263): comprehensive reproduction suite for SSOT base class compatibility
  tests/validation/test_github_issue_263_reproduction.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(issue-261): comprehensive ExecutionResult API test suite for Golden Path validation
  tests/unit/test_execution_result_api_fix_validation.py
  tests/unit/test_execution_result_api_reproduction.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation
