Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

feat(docker): add staging Google OAuth env vars to docker-compose
  docker-compose.yml
Due: docker-force-flag-prohibition, docker-security-audit

fix: resolve WebSocket agent execution issues
  .claude/settings.local.json
  netra_backend/app/agents/supervisor_consolidated.py
  netra_backend/app/agents/tool_dispatcher_core.py
  netra_backend/app/services/message_handlers.py
  netra_backend/app/services/message_processing.py
  test_websocket_message.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: wrap tools properly with LangChain BaseTool and fix agent registry configuration
  netra_backend/app/agents/supervisor_consolidated.py
  netra_backend/app/agents/tools/langchain_wrappers.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: restore chat functionality and UserExecutionContext flow
  AGENT_CONSTRUCTOR_FIX_SUMMARY.md
  netra_backend/app/agents/supervisor/agent_instance_factory.py
  netra_backend/app/agents/supervisor_consolidated.py
  netra_backend/app/agents/tool_dispatcher_unified.py
  netra_backend/app/core/startup_validation.py
  netra_backend/app/smd.py
  test_websocket.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(env): improve prohibited environment file detection
  dev_launcher/env_file_loader.py
  tests/audit/test_no_environment_files.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(docker): restore full dependencies in test container
  docker/backend.test.Dockerfile
Due: none

feat(startup): add comprehensive startup validation fixes
  STARTUP_VALIDATION_FIX_REPORT.md
  netra_backend/app/core/critical_path_validator.py
  netra_backend/app/core/startup_validation_fix.py
  netra_backend/app/smd.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(websocket): enhance agent WebSocket integration
  netra_backend/app/agents/chat_orchestrator_main.py
  netra_backend/app/agents/supervisor/agent_registry.py
  netra_backend/app/agents/unified_tool_execution.py
  netra_backend/app/agents/websocket_tool_enhancement.py
  netra_backend/app/websocket_core/manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: improve test suite resilience and accuracy
  netra_backend/tests/unit/agents/test_agent_performance_benchmarks.py
  tests/mission_critical/test_websocket_basic.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix(scripts): improve deployment and testing scripts
  scripts/deploy_to_gcp.py
  scripts/test/run_staging_tests.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: resolve sub-agent instantiation failures and enable successful agent flow
  netra_backend/app/agents/supervisor/agent_instance_factory.py
  test_agent_creation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(docker): improve container orchestration and deployment
  deployment/docker/backend.gcp.Dockerfile
  docker/backend.Dockerfile
  docs/docker_orchestration.md
  scripts/deploy_to_gcp.py
  test_framework/unified_docker_manager.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(frontend): enhance thread switching and sidebar functionality
  frontend/components/chat/ChatSidebar.tsx
  frontend/components/chat/ChatSidebarHandlers.ts
  frontend/hooks/useThreadSwitching.ts
Due: architecture-compliance, file-size-limit, type-safety-check

feat(agents): add comprehensive WebSocket event notifications
  netra_backend/app/agents/actions_to_meet_goals_sub_agent.py
  netra_backend/app/agents/data_sub_agent/data_sub_agent.py
  netra_backend/app/agents/supervisor_consolidated.py
  netra_backend/app/agents/triage_sub_agent/agent.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(clickhouse): improve connection management and error handling
  netra_backend/app/core/clickhouse_connection_manager.py
  netra_backend/app/database/__init__.py
  netra_backend/app/db/clickhouse.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add comprehensive frontend and metadata propagation tests
  frontend/__tests__/components/Button.test.tsx
  frontend/__tests__/critical/app-startup.test.ts
  frontend/__tests__/hooks/useCounter.test.ts
  frontend/__tests__/integration/auth-flow.test.ts
  frontend/__tests__/integration/thread-switching-e2e.test.tsx
  frontend/__tests__/lib/utils.test.ts
  frontend/__tests__/services/api.test.ts
  frontend/__tests__/store/appStore.test.ts
  frontend/__tests__/utils/helpers.test.ts
  scripts/fix_staging_websocket_timeouts.py
  test_metadata_propagation.py
  test_metadata_propagation_simple.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add comprehensive audit reports and analysis documentation
  AGENT_METADATA_AUDIT.md
  APPLY_STARTUP_VALIDATION_FIXES_AUDIT.md
  CLICKHOUSE_ARCHITECTURE_REFACTOR_REPORT.md
  GCP_STAGING_CHAT_THREAD_AUDIT_REPORT.md
  THREAD_SWITCHING_BUG_REPORT.md
  WEBSOCKET_AGENT_EVENT_AUDIT.md
  WEBSOCKET_PATTERN_ANALYSIS.md
Due: docker-force-flag-prohibition

fix(websocket): improve core WebSocket handler and manager
  netra_backend/app/websocket_core/agent_handler.py
  netra_backend/app/websocket_core/manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(websocket): implement loud failure patterns for WebSocket communication
  netra_backend/app/agents/supervisor/agent_instance_factory.py
  netra_backend/app/agents/unified_tool_execution.py
  netra_backend/app/core/websocket_exceptions.py
  netra_backend/app/websocket_core/message_buffer.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(threads): enhance thread validation and error handling
  netra_backend/app/routes/utils/thread_creators.py
  netra_backend/app/routes/utils/thread_handlers.py
  netra_backend/app/routes/utils/thread_validators.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(frontend): add safety checks for thread switching operations
  frontend/components/chat/ChatSidebar.tsx
  frontend/hooks/useThreadSwitching.ts
Due: architecture-compliance, file-size-limit, type-safety-check

refactor(utils): improve run ID generation and SMD initialization
  netra_backend/app/smd.py
  netra_backend/app/utils/run_id_generator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore(docker): update backend Dockerfile and deployment script
  docker/backend.Dockerfile
  scripts/deploy_to_gcp.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add mission critical WebSocket and thread switching tests
  frontend/__tests__/integration/chat-sidebar-thread-switch.test.tsx
  frontend/__tests__/integration/thread-switching-diagnostic.test.tsx
  frontend/__tests__/integration/thread-switching-simple.test.tsx
  netra_backend/tests/test_thread_loading_fix.py
  tests/mission_critical/test_loud_websocket_failures.py
  tests/mission_critical/test_websocket_startup_verification.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs: add critical failure audits and implementation summaries
  CRITICAL_SILENT_FAILURES_AUDIT_20250903.md
  LOUD_FAILURES_IMPLEMENTATION_SUMMARY.md
  THREAD_NAMING_FIVE_WHYS_AUDIT.md
  WEBSOCKET_STARTUP_BUG_FIX_20250903.md
  WEBSOCKET_STARTUP_FIX_FIVE_WHYS_20250903.md
Due: docker-force-flag-prohibition

fix(websocket): add thread association management for proper message routing
  netra_backend/app/services/message_handlers.py
  netra_backend/app/websocket_core/agent_handler.py
  netra_backend/app/websocket_core/manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(frontend): improve new chat creation with proper thread switching
  frontend/components/chat/ChatSidebar.tsx
  frontend/components/chat/ChatSidebarHandlers.ts
Due: architecture-compliance, file-size-limit, type-safety-check

refactor(agents): improve supervisor agent error handling and cleanup
  netra_backend/app/agents/supervisor_consolidated.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(backend): enhance supervisor and run ID generator tests
  netra_backend/tests/test_supervisor_ssot_comprehensive.py
  netra_backend/tests/test_supervisor_ssot_simple.py
  netra_backend/tests/utils/test_run_id_generator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore(deployment): clean up startup validation and deployment script
  netra_backend/app/startup_module.py
  scripts/deploy_to_gcp.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore(docker): remove docker-compose override file
  docker-compose.override.yml
Due: docker-force-flag-prohibition, docker-security-audit

test(mission-critical): add WebSocket and thread validation tests
  tests/mission_critical/test_websocket_emission_fix.py
  tests/mission_critical/test_websocket_thread_association.py
  tests/mission_critical/validate_loud_failures.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test(frontend): add new chat navigation and bug reproduction tests
  frontend/__tests__/bugs/new-chat-navigation-bug.test.tsx
  frontend/__tests__/integration/new-chat-url-update.test.tsx
Due: architecture-compliance, file-size-limit, type-safety-check

docs: add critical bug fix documentation and audit reports
  BUG_FIX_NEW_CHAT_NAVIGATION_20250903.md
  LOUD_FAILURE_IMPLEMENTATION_COMPLETE_20250903.md
  SIMILAR_NAMING_ISSUES_AUDIT.md
  SUSPICIOUS_RUN_ID_FIVE_WHYS_AUDIT.md
  THREAD_NAMING_FIX_VALIDATION_REPORT.md
  WEBSOCKET_EMISSION_FAILURE_BUG_FIX_20250903.md
  WEBSOCKET_EMISSION_METHOD_FIX_20250903.md
  WEBSOCKET_THREAD_CONNECTION_BUG_FIX_20250903.md
Due: docker-force-flag-prohibition

docs: add WebSocket thread association learning and verification test
  SPEC/learnings/websocket_thread_association_critical_20250903.xml
  frontend/__tests__/integration/new-chat-fix-verification.test.tsx
Due: architecture-compliance, file-size-limit, type-safety-check

docs: update learnings index with WebSocket thread association entry
  SPEC/learnings/index.xml
Due: none

feat: transform tool system from global singletons to UserContext-based isolation
  docs/USER_CONTEXT_TOOL_SYSTEM_MIGRATION.md
  netra_backend/app/agents/supervisor_consolidated.py
  netra_backend/app/agents/tool_dispatcher_unified.py
  netra_backend/app/agents/user_context_tool_factory.py
  netra_backend/app/smd.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add complete UserContext isolation architecture documentation
  docs/USERCONTEXT_ISOLATION_COMPLETE_ARCHITECTURE.md
  netra_backend/app/agents/supervisor/agent_instance_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: create comprehensive UserContext migration roadmap
  USERCONTEXT_MIGRATION_ROADMAP.md
Due: docker-force-flag-prohibition

feat: add factory methods to all agents for UserContext isolation
  netra_backend/app/agents/actions_to_meet_goals_sub_agent.py
  netra_backend/app/agents/data_helper_agent.py
  netra_backend/app/agents/data_sub_agent/data_sub_agent.py
  netra_backend/app/agents/goals_triage_sub_agent.py
  netra_backend/app/agents/optimizations_core_sub_agent.py
  netra_backend/app/agents/reporting_sub_agent.py
  netra_backend/app/agents/synthetic_data_sub_agent.py
  netra_backend/app/agents/triage_sub_agent/agent.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
