Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

test(mission-critical): refine SSOT violation detection with enhanced pytest.fail patterns
  netra_backend/tests/unit/logging/__pycache__/__init__.cpython-312.pyc
  netra_backend/tests/unit/logging/__pycache__/test_auth_trace_logger_none_error_bug.cpython-312-pytest-8.4.1.pyc
  netra_backend/tests/unit/logging/__pycache__/test_auth_trace_logger_none_error_bug.cpython-312.pyc
  netra_backend/tests/unit/logging/__pycache__/test_auth_trace_logger_race_conditions.cpython-312-pytest-8.4.1.pyc
  netra_backend/tests/unit/logging/__pycache__/test_auth_trace_logger_race_conditions.cpython-312.pyc
  netra_backend/tests/unit/logging/__pycache__/test_correlation_id_generation.cpython-312-pytest-8.4.1.pyc
  netra_backend/tests/unit/logging/__pycache__/test_correlation_id_generation.cpython-312.pyc
  netra_backend/tests/unit/logging/__pycache__/test_debug_utilities_completeness.cpython-312-pytest-8.4.1.pyc
  netra_backend/tests/unit/logging/__pycache__/test_debug_utilities_completeness.cpython-312.pyc
  netra_backend/tests/unit/logging/__pycache__/test_gcp_error_integration_gap.cpython-312-pytest-8.4.1.pyc
  netra_backend/tests/unit/logging/__pycache__/test_gcp_error_integration_gap.cpython-312.pyc
  netra_backend/tests/unit/logging/__pycache__/test_log_formatter_effectiveness.cpython-312-pytest-8.4.1.pyc
  netra_backend/tests/unit/logging/__pycache__/test_log_formatter_effectiveness.cpython-312.pyc
  netra_backend/tests/unit/logging/__pycache__/test_log_formatter_gcp_traceback_comprehensive.cpython-312-pytest-8.4.1.pyc
  netra_backend/tests/unit/logging/__pycache__/test_log_formatter_gcp_traceback_comprehensive.cpython-312.pyc
  netra_backend/tests/unit/logging/__pycache__/test_sensitive_data_filter_comprehensive.cpython-312-pytest-8.4.1.pyc
  netra_backend/tests/unit/logging/__pycache__/test_sensitive_data_filter_comprehensive.cpython-312.pyc
  netra_backend/tests/unit/logging/__pycache__/test_unified_logger_traceback_filtering_comprehensive.cpython-312-pytest-8.4.1.pyc
  netra_backend/tests/unit/logging/__pycache__/test_unified_logger_traceback_filtering_comprehensive.cpython-312.pyc
  shared/isolated_environment.py
  shared/logging/unified_logging_ssot.py
  shared/tests/unit/logging/__pycache__/__init__.cpython-312.pyc
  shared/tests/unit/logging/__pycache__/test_unified_logging_ssot_comprehensive.cpython-312-pytest-8.4.1.pyc
  shared/tests/unit/logging/__pycache__/test_unified_logging_ssot_comprehensive.cpython-312.pyc
  tests/mission_critical/test_state_persistence_ssot_violations.py
  tests/unit/websocket/test_ssot_websocket_manager_single_source_truth.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(tests): implement comprehensive Redis SSOT test infrastructure
  tests/integration/redis_ssot/test_redis_shared_pool_integration.py
  tests/integration/redis_ssot/test_redis_shared_pool_integration_simple.py
  tests/unit/redis_ssot/test_redis_connection_pool_conflicts_unit.py
  tests/unit/redis_ssot/test_redis_import_source_validation_unit.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(e2e): add GCP Redis WebSocket golden path staging tests
  tests/e2e/staging/test_gcp_redis_websocket_golden_path.py
  tests/e2e/staging/test_gcp_redis_websocket_golden_path_simple.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add PR worklog and pytest marker remediation planning
  PR-WORKLOG-195-20250910.md
  pytest_marker_remediation_plan.md
Due: docker-force-flag-prohibition

feat(tests): add agent resilience and Redis SSOT consolidation infrastructure
  netra_backend/pytest.ini
  reports/redis_ssot_consolidation/REDIS_SSOT_CONSOLIDATION_PLAN_ISSUE_190.md
  tests/e2e/staging/test_gcp_redis_websocket_golden_path.py
  tests/integration/agent_execution_flows/test_agent_failure_recovery_patterns.py
  tests/integration/agent_execution_flows/test_agent_timeout_resource_exhaustion.py
  tests/integration/agent_execution_flows/test_comprehensive_agent_resilience_disaster_recovery.py
  tests/integration/agent_execution_flows/test_distributed_agent_failure_coordination.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

ssot: complete test execution for optimized state persistence
  SSOT-incomplete-migration-optimized-state-persistence-service-missing.md
Due: docker-force-flag-prohibition

feat(post-merge): integrate additional test infrastructure and merge logging
  merges/MERGEISSUE_20250910_210740.md
  netra_backend/app/cache/redis_cache_manager.py
  netra_backend/app/redis_manager.py
  netra_backend/pytest.ini
  tests/integration/agent_execution_flows/test_agent_rollback_transaction_consistency.py
  tests/integration/redis_ssot/test_redis_shared_pool_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(redis): add Redis cache manager SSOT compatibility wrapper
  netra_backend/app/cache/redis_cache_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(markers): add final pytest marker categories for comprehensive test coverage
  netra_backend/pytest.ini
Due: none

fix(redis): update auth service Redis manager with SSOT compatibility
  auth_service/auth_core/redis_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(markers): add comprehensive test marker expansion for complete coverage
  netra_backend/pytest.ini
Due: none

test(websocket-ssot): enhance core SSOT violation detection
  tests/unit/websocket/test_ssot_websocket_manager_single_source_truth.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(websocket-ssot): add comprehensive factory and interface validation tests
  tests/unit/websocket/test_websocket_manager_factory_consolidation_validation.py
  tests/unit/websocket/test_websocket_manager_interface_unification.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(redis): complete Redis cache manager SSOT compatibility layer
  netra_backend/app/cache/redis_cache_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(test-results): add state persistence SSOT test execution report
  TEST_EXECUTION_RESULTS_STATE_PERSISTENCE_SSOT.md
Due: docker-force-flag-prohibition

feat(ssot): finalize Redis SSOT integration and test framework expansion
  auth_service/auth_core/redis_manager.py
  netra_backend/pytest.ini
  tests/integration/agent_execution_flows/test_agent_lifecycle_state_management.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(final): complete Redis SSOT session management and final test markers
  auth_service/auth_core/redis_manager.py
  netra_backend/pytest.ini
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(redis): finalize auth Redis manager with complete SSOT redirect methods
  auth_service/auth_core/redis_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: update broken import in test_3tier_persistence_integration.py
  netra_backend/tests/db/test_3tier_persistence_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: complete SSOT WebSocket test execution (Step 2)
  SSOT-incomplete-migration-optimized-state-persistence-service-missing.md
  SSOT-incomplete-migration-websocket-manager-fragmentation-blocks-golden-path-chat-functionality.md
  scripts/demo_optimized_persistence.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: SSOT logging test validation SUCCESS - system stability confirmed (Step 5)
  SSOT-incomplete-migration-logging-config-chaos.md
  tests/integration/agent_execution_flows/test_agent_state_persistence_recovery.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: finalize SSOT logging remediation documentation (Step 6 prep)
  netra_backend/tests/unit/ssot/test_state_persistence_ssot_compliance.py
  tests/unit/websocket/SSOT_VALIDATION_TEST_RESULTS.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(test-ssot): remove deprecated state_persistence_optimized service references
  netra_backend/tests/unit/ssot/test_state_persistence_ssot_compliance.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: add 104 missing pytest markers - restore unit test execution
  netra_backend/pytest.ini
Due: none

ssot: complete remediation execution for optimized state persistence
  SSOT-incomplete-migration-optimized-state-persistence-service-missing.md
Due: docker-force-flag-prohibition

feat: complete SSOT WebSocket remediation planning (Step 3)
  SSOT-incomplete-migration-websocket-manager-fragmentation-blocks-golden-path-chat-functionality.md
Due: docker-force-flag-prohibition

feat: SSOT logging remediation MISSION ACCOMPLISHED (Step 6 complete)
  SSOT-incomplete-migration-logging-config-chaos.md
Due: docker-force-flag-prohibition

feat: enhance primary Redis SSOT manager with cache and auth methods
  netra_backend/app/redis_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: complete SSOT logging remediation mission documentation
  SSOT_LOGGING_REMEDIATION_MISSION_COMPLETE.md
Due: docker-force-flag-prohibition

refactor: create auth service Redis SSOT compatibility layer
  auth_service/auth_core/redis_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: add Redis SSOT migration tools and mission critical tests
  scripts/redis_ssot_import_migration.py
  tests/mission_critical/test_redis_ssot_consolidation.py
  tests/mission_critical/test_websocket_1011_fixes.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

refactor: migrate 24 files to use Redis SSOT import patterns
  auth_service/auth_core/__init__.py
  auth_service/auth_core/core/jwt_cache.py
  auth_service/auth_core/core/jwt_handler.py
  auth_service/auth_core/performance/jwt_performance.py
  auth_service/auth_core/performance/startup_optimizer.py
  auth_service/services/health_check_service.py
  auth_service/services/redis_service.py
  auth_service/tests/conftest.py
  auth_service/tests/integration/test_auth_database_business_integration.py
  auth_service/tests/integration/test_auth_e2e_flows.py
  auth_service/tests/integration/test_auth_service_startup.py
  auth_service/tests/integration/test_user_business_logic_integration.py
  auth_service/tests/test_auth_comprehensive.py
  auth_service/tests/test_auth_real_services_comprehensive.py
  auth_service/tests/test_redis_staging_connectivity_fixes.py
  auth_service/tests/test_redis_staging_fixes.py
  netra_backend/tests/integration/critical_paths/l4_staging_critical_base.py
  netra_backend/tests/integration/critical_paths/test_data_persistence_redis.py
  netra_backend/tests/integration/critical_paths/test_websocket_handshake_state_registry_integration.py
  netra_backend/tests/integration/test_database_redis_persistence_integration.py
  netra_backend/tests/integration/test_interservice_communication_comprehensive.py
  netra_backend/tests/integration/test_redis_caching_real_services.py
  pytest.ini
  tests/e2e/test_golden_path_state_registry_race_condition.py
  tests/integration/agent_execution_flows/test_agent_execution_context_management.py
  tests/integration/agent_execution_flows/test_agent_execution_timeout_management.py
  tests/integration/agent_execution_flows/test_agent_failure_recovery_patterns.py
  tests/integration/factory_ssot/test_factory_ssot_database_over_abstraction.py
  tests/integration/gcp_error_handling/test_basic_error_message_creation.py
  tests/integration/golden_path/test_agent_orchestration_execution_comprehensive.py
  tests/security/test_cache_key_collision_vulnerability.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Redis SSOT consolidation - eliminate WebSocket 1011 errors
  auth_service/auth_core/redis_manager.py
  netra_backend/app/redis_manager.py
  netra_backend/pytest.ini
  pytest.ini
  scripts/demo_optimized_persistence.py
  tests/integration/agent_execution_flows/test_agent_rollback_transaction_consistency.py
  tests/integration/agent_execution_flows/test_agent_state_persistence_recovery.py
  tests/integration/agent_execution_flows/test_agent_timeout_resource_exhaustion.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(ssot): complete state persistence SSOT consolidation
  SSOT-incomplete-migration-optimized-state-persistence-service-missing.md
  docs/OPTIMIZED_PERSISTENCE_USAGE.md
  netra_backend/app/services/state_cache_manager.py.SSOT_CONSOLIDATED
  netra_backend/app/services/state_persistence.py
  netra_backend/app/websocket_core/connection_manager.py
  netra_backend/app/websocket_core/unified_manager.py
  netra_backend/app/websocket_core/websocket_manager_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore: remove test cache files
  netra_backend/tests/unit/logging/__pycache__/__init__.cpython-312.pyc
  netra_backend/tests/unit/logging/__pycache__/test_auth_trace_logger_none_error_bug.cpython-312-pytest-8.4.1.pyc
  netra_backend/tests/unit/logging/__pycache__/test_auth_trace_logger_none_error_bug.cpython-312.pyc
  netra_backend/tests/unit/logging/__pycache__/test_auth_trace_logger_race_conditions.cpython-312-pytest-8.4.1.pyc
  netra_backend/tests/unit/logging/__pycache__/test_auth_trace_logger_race_conditions.cpython-312.pyc
  netra_backend/tests/unit/logging/__pycache__/test_correlation_id_generation.cpython-312-pytest-8.4.1.pyc
  netra_backend/tests/unit/logging/__pycache__/test_correlation_id_generation.cpython-312.pyc
  netra_backend/tests/unit/logging/__pycache__/test_debug_utilities_completeness.cpython-312-pytest-8.4.1.pyc
  netra_backend/tests/unit/logging/__pycache__/test_debug_utilities_completeness.cpython-312.pyc
  netra_backend/tests/unit/logging/__pycache__/test_gcp_error_integration_gap.cpython-312-pytest-8.4.1.pyc
  netra_backend/tests/unit/logging/__pycache__/test_gcp_error_integration_gap.cpython-312.pyc
  netra_backend/tests/unit/logging/__pycache__/test_log_formatter_effectiveness.cpython-312-pytest-8.4.1.pyc
  netra_backend/tests/unit/logging/__pycache__/test_log_formatter_effectiveness.cpython-312.pyc
  netra_backend/tests/unit/logging/__pycache__/test_log_formatter_gcp_traceback_comprehensive.cpython-312-pytest-8.4.1.pyc
  netra_backend/tests/unit/logging/__pycache__/test_log_formatter_gcp_traceback_comprehensive.cpython-312.pyc
  netra_backend/tests/unit/logging/__pycache__/test_sensitive_data_filter_comprehensive.cpython-312-pytest-8.4.1.pyc
  netra_backend/tests/unit/logging/__pycache__/test_sensitive_data_filter_comprehensive.cpython-312.pyc
  netra_backend/tests/unit/logging/__pycache__/test_unified_logger_traceback_filtering_comprehensive.cpython-312-pytest-8.4.1.pyc
  netra_backend/tests/unit/logging/__pycache__/test_unified_logger_traceback_filtering_comprehensive.cpython-312.pyc
  shared/tests/unit/logging/__pycache__/__init__.cpython-312.pyc
  shared/tests/unit/logging/__pycache__/test_unified_logging_ssot_comprehensive.cpython-312-pytest-8.4.1.pyc
  shared/tests/unit/logging/__pycache__/test_unified_logging_ssot_comprehensive.cpython-312.pyc
Due: none

refactor(ssot): complete remaining SSOT consolidation references
  netra_backend/app/websocket/connection_manager.py
  tests/integration/test_3tier_persistence_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: finalize pytest marker remediation - add final 2 markers and correct imports
  netra_backend/pytest.ini
  tests/integration/agent_execution_flows/test_comprehensive_agent_resilience_disaster_recovery.py
  tests/integration/agent_execution_flows/test_deep_agent_state_transitions.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(ssot): finalize SSOT consolidation across all components
  netra_backend/app/websocket_core/migration_adapter.py
  netra_backend/app/websocket_core/websocket_manager_factory.py
  tests/integration/golden_path/test_state_persistence_dataflow_comprehensive.py
  tests/load/test_production_load_persistence.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: correct final import paths in distributed agent failure coordination test
  tests/integration/agent_execution_flows/test_distributed_agent_failure_coordination.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: complete SSOT WebSocket remediation implementation (Step 4 Phase 1)
  SSOT-incomplete-migration-websocket-manager-fragmentation-blocks-golden-path-chat-functionality.md
  reports/ssot-compliance/SSOT_INDEX.md
Due: docker-force-flag-prohibition

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
