Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

test: add comprehensive WebSocket signature error tests (issue #405)
  netra_backend/tests/integration/websocket_core/test_websocket_message_creation_signature_integration.py
  netra_backend/tests/integration/websocket_core/test_websocket_signature_issue_reproduction.py
  netra_backend/tests/unit/websocket_core/test_create_server_message_signature_error.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(middleware): resolve SessionMiddleware hasattr error in auth context extraction
  netra_backend/app/middleware/gcp_auth_context_middleware.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(testing): add failing test gardener worklog for e2e/goldenpath/websockets
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-e2e-goldenpath-websockets-20250911_114352.md
Due: docker-force-flag-prohibition

feat: complete failing test gardener analysis for AGENT EXECUTION
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-AGENT-EXECUTION-2025-09-11T14-30.md
Due: docker-force-flag-prohibition

feat: Comprehensive tool registry exception handling improvements (Issue #390)
  netra_backend/app/core/tool_validator.py
  test_issue_406_staging.py
  test_issue_406_staging_simple.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(migration): complete Issue #406 UserExecutionContext migration and validation
  netra_backend/tests/agents/test_supervisor_consolidated_execution.py
  test_defensive_auth_simple.py
  test_defensive_auth_staging_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(infrastructure): Add comprehensive infrastructure remediation system
  infrastructure/vpc_connectivity_fix.py
  infrastructure/websocket_auth_remediation.py
  netra_backend/app/infrastructure/remediation_validator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): Enhance WebSocket auth and agent execution reliability
  netra_backend/app/core/agent_execution_tracker.py
  netra_backend/app/services/agent_websocket_bridge.py
  netra_backend/app/websocket_core/auth_remediation.py
  shared/types/core_types.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(websocket): Comprehensive WebSocket testing infrastructure
  netra_backend/tests/e2e/test_websocket_agent_events_comprehensive.py
  netra_backend/tests/integration/websocket/test_websocket_heartbeat_mechanisms.py
  netra_backend/tests/integration/websocket/test_websocket_message_routing.py
  netra_backend/tests/integration/websocket/test_websocket_multi_user_isolation.py
  netra_backend/tests/integration/websocket/test_websocket_persistence_recovery.py
  netra_backend/tests/integration/websocket_core/test_websocket_auth_protocol_integration.py
  test_framework/ssot/real_websocket_test_client.py
  test_framework/ssot/websocket.py
  test_framework/ssot/websocket_golden_path_helpers.py
  tests/clients/websocket_client.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(critical): Add mission-critical validation and documentation
  ISSUE_408_VALIDATION_SUMMARY.md
  STAGING_TEST_REPORT_PYTEST.md
  WEBSOCKET_DEPRECATION_FIX_SUMMARY.md
  netra_backend/tests/unit/agent_execution/test_timeout_configuration.py
  tests/integration/test_websocket_components_real_connection_integration.py
  tests/mission_critical/test_infrastructure_remediation_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(tests): Comprehensive test suite for cluster issue validation
  netra_backend/tests/clickhouse/test_clickhouse_exception_specificity.py
  netra_backend/tests/clickhouse/test_clickhouse_schema_exception_types.py
  netra_backend/tests/db/test_database_initializer_error_context.py
  netra_backend/tests/db/test_database_manager_exception_handling.py
  netra_backend/tests/integration/agent_execution/test_error_recovery_integration.py
  netra_backend/tests/integration/agent_execution/test_execution_persistence.py
  netra_backend/tests/integration/agent_execution/test_multi_user_isolation.py
  netra_backend/tests/integration/agent_execution/test_state_tracking_comprehensive.py
  netra_backend/tests/integration/agent_execution/test_websocket_integration.py
  netra_backend/tests/security/TEST_EXECUTION_SUMMARY.md
  netra_backend/tests/security/test_deepagentstate_vulnerability_reproduction.py
  netra_backend/tests/security/test_user_execution_context_isolation.py
  netra_backend/tests/unit/agent_execution/README.md
  netra_backend/tests/unit/agents/test_supervisor_missing_attributes_issue_408.py
  netra_backend/tests/unit/tools/test_tool_event_confirmation.py
  netra_backend/tests/unit/websocket/test_websocket_silent_failure_minimal.py
  netra_backend/tests/unit/websocket/test_websocket_silent_failure_patterns_unit.py
  netra_backend/tests/unit/websocket/test_websocket_source_code_analysis.py
  tests/e2e/staging/test_tool_execution_user_experience.py
  tests/e2e/test_tool_execution_user_visibility.py
  tests/e2e/test_tool_execution_visibility_simple.py
  tests/integration/test_tool_event_delivery_confirmation.py
  tests/integration/websocket/test_websocket_failure_integration_no_docker.py
  tests/integration/websocket_core/test_tool_event_delivery.py
  tests/unit/websocket_core/test_tool_event_confirmation.py
  tests/unit/websocket_core/test_tool_event_confirmation_simple.py
  tests/unit/websocket_event_delivery/TEST_RESULTS_ISSUE_373.md
  tests/unit/websocket_event_delivery/test_run_id_user_id_confusion.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(validation): complete Issue #169 SessionMiddleware staging deployment validation
  SESSIONMIDDLEWARE_STAGING_DEPLOYMENT_VALIDATION_REPORT.md
  netra_backend/tests/agents/test_supervisor_consolidated_execution.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(tools): implement event confirmation system for WebSocket events
  netra_backend/app/core/tools/unified_tool_dispatcher.py
  netra_backend/app/services/agent_websocket_bridge.py
  netra_backend/app/services/event_delivery_tracker.py
  tests/integration/test_tool_execution_event_confirmation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(cleanup): Remove test file and add validation artifacts
  ISSUE_370_STABILITY_PROOF_COMPREHENSIVE.md
  p0_security_stability_validation.py
  test_websocket_staging.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(base_agent): fix reliability_manager property to return actual instance
  netra_backend/app/agents/base_agent.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(supervisor): add missing workflow_executor and _create_supervisor_execution_context
  netra_backend/app/agents/supervisor_consolidated.py
  netra_backend/app/agents/supervisor_ssot.py
  netra_backend/app/core/tools/unified_tool_dispatcher.py
  netra_backend/app/services/agent_websocket_bridge.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: complete failing test gardener processing for agent execution e2e
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-AGENT-EXECUTION-2025-09-11T14-30.md
Due: docker-force-flag-prohibition

feat(websocket): implement tool execution event confirmation system
  netra_backend/app/services/agent_websocket_bridge.py
  netra_backend/app/websocket_core/event_delivery_tracker.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Update staging test reports and security validation artifacts
  P0_SECURITY_STABILITY_VALIDATION_REPORT.md
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

feat(security): Complete DeepAgentState to UserExecutionContext migration for test_supervisor_consolidated_execution.py
  netra_backend/tests/agents/test_supervisor_consolidated_execution.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): eliminate silent WebSocket event failures in core components
  SSOT_IMPORT_REGISTRY.md
  netra_backend/app/agents/reporting_sub_agent.py
  netra_backend/app/agents/supervisor/agent_execution_core.py
  reports/testing/AGENT_EXECUTION_TEST_CREATION_REPORT_2025_09_11.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(websocket): add comprehensive validation for silent failure remediation
  tests/unit/test_websocket_silent_failure_remediation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(validation): complete Issue #395 auth timeout remediation staging validation
  STAGING_AUTH_TIMEOUT_DEPLOYMENT_VALIDATION_REPORT.md
Due: docker-force-flag-prohibition

test: add comprehensive unit tests for issue #373 WebSocket event delivery failures
  tests/unit/websocket_event_delivery/test_run_id_user_id_confusion.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: resolve issue #373 - eliminate silent WebSocket event delivery failures
  netra_backend/app/services/agent_websocket_bridge.py
  netra_backend/app/websocket_core/unified_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): add missing REST API endpoints at /api/v1/websocket
  netra_backend/app/routes/websocket_ssot.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(database): enhance transaction_errors module with additional error types
  netra_backend/app/db/transaction_errors.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(database): integrate transaction_errors in DatabaseManager - Issue #374
  netra_backend/app/db/database_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(database): integrate transaction_errors in ClickHouse client - Issue #374
  netra_backend/app/db/clickhouse.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(agents): resolve SupervisorAgent missing attributes issue #408
  netra_backend/app/agents/supervisor/execution_factory.py
  netra_backend/tests/agents/test_supervisor_basic.py
  netra_backend/tests/agents/test_supervisor_consolidated_core.py
  netra_backend/tests/agents/test_supervisor_patterns.py
  netra_backend/tests/unit/agents/supervisor/test_agent_execution_core_unit.py
  test_framework/ssot/mock_factory.py
  tests/agents/test_supervisor_missing_attributes_408.py
  tests/integration/test_tool_execution_event_confirmation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(docker): implement timeout enforcement and graceful degradation for issue #411
  test_framework/unified_docker_manager.py
  tests/mission_critical/test_websocket_agent_events_suite.py
  tests/mission_critical/websocket_real_test_base.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test(websocket): add comprehensive tool event confirmation test suite
  ISSUE_377_SYSTEM_STABILITY_ANALYSIS.md
  SYSTEM_STABILITY_SECURITY_VALIDATION_REPORT.md
Due: docker-force-flag-prohibition

fix(websocket): complete WebSocket REST API implementation and auth integration
  cloudbuild-frontend.yaml
  netra_backend/app/websocket_core/unified_websocket_auth.py
  scripts/deploy_to_gcp_actual.py
  test_framework/fixtures/real_services.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(database): implement Golden Path issue #414 Phase 1 (P0) database pool fixes
  netra_backend/app/db/database_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(isolation): implement Golden Path issue #414 Phase 2 (P1) user isolation and WebSocket event contamination fixes
  netra_backend/app/services/user_execution_context.py
  netra_backend/app/websocket_core/unified_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add staging deployment validation report for Issue #379 tool execution event confirmation
  staging_deployment_validation_report_379.md
Due: docker-force-flag-prohibition

fix(auth): implement Golden Path issue #414 Phase 3 (P2) authentication token reuse prevention
  netra_backend/app/auth_integration/auth.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: enhance WebSocket event contamination prevention (Issue #414)
  TEST_PLAN_ISSUE_411_WEBSOCKET_DOCKER_TIMEOUT.md
  WEBSOCKET_AUTHENTICATION_STABILITY_VALIDATION_REPORT.md
  WEBSOCKET_REST_API_VALIDATION_REPORT.md
  tests/issue_411/ISSUE_411_TEST_EXECUTION_REPORT.md
  tests/issue_411/test_docker_fast_fail_validation.py
  tests/issue_411/test_docker_timeout_reproduction.py
  tests/mission_critical/test_websocket_race_condition_fixes_validation.py
  validate_websocket_race_fixes.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix: prevent authentication token reuse to block race conditions (Issue #414)
  GITHUB_ISSUE_411_COMMENT.md
  GITHUB_ISSUE_411_STAGING_DEPLOYMENT_REPORT.md
Due: docker-force-flag-prohibition

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
