Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation, protect-staging-config

Path conditions:
  new-file-compliance: any of: \.(py|ts|tsx)$
  edited-lines-check: any of: \.(py|ts|tsx)$
  prevent-new-relative-imports: any of: \.py$
  main-code-quality: any of: ^(netra_backend/app|auth_service/auth_core|frontend/src)/.*\.(py|ts|tsx)$
  test-file-leniency: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  new-duplicate-prevention: any of: \.py$
  check-environment-isolation: any of: (test_.*\.py|.*_test\.py|tests/.*\.py|conftest\.py)$
  protect-staging-config: any of: netra_backend/app/schemas/config\.py$

refactor: update core services with Phase 1 isolation
  netra_backend/app/database/session_manager.py
  netra_backend/app/dependencies.py
  netra_backend/app/services/websocket_bridge_factory.py
  netra_backend/app/startup_module.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

docs: add Phase 1 migration completion reports
  COMPREHENSIVE_TEST_SUITE_REPORT.md
  PHASE1_MIGRATION_COMPLETE.md
  PHASE1_PERFORMANCE_REPORT.md
  PHASE1_SECURITY_AUDIT.md
Due: none

refactor: simplify test framework initialization
  test_framework/__init__.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

fix: correct memory tracker baseline initialization
  tests/critical/test_memory_optimization_extreme.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

fix: remove tmpfs from Docker configurations to prevent crashes
  COMPREHENSIVE_VALIDATION_REPORT.md
  Dockerfile.pytest-optimized
  PHASE_2_EXECUTION_SUMMARY.md
  PHASE_2_MIGRATION_COMPLETE_REPORT.md
  SPEC/learnings/docker_tmpfs_stability_issue.xml
  SPEC/learnings/index.xml
  test_framework/docker_test_utils.py
  tests/performance_baseline.json
  tests/phase2_migration/test_phase2_simple_validation.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test: add Docker memory testing script
  docker_memory_test.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor: migrate agents to UserExecutionContext pattern
  netra_backend/app/agents/corpus_admin/agent.py
  netra_backend/app/agents/summary_extractor_sub_agent.py
  netra_backend/app/agents/supply_researcher/agent.py
  netra_backend/app/agents/tool_discovery_sub_agent.py
  netra_backend/app/agents/validation_sub_agent.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test: add Docker memory and collection testing infrastructure
  Dockerfile.collection-demo
  Dockerfile.comparison-test
  Dockerfile.final-demo
  Dockerfile.memory-test
Due: none

refactor: migrate admin tool dispatcher to UserExecutionContext pattern
  netra_backend/app/agents/admin_tool_dispatcher/admin_tool_execution.py
  netra_backend/app/agents/admin_tool_dispatcher/corpus_handlers_base.py
  netra_backend/app/agents/admin_tool_dispatcher/execution_helpers.py
  netra_backend/app/agents/admin_tool_dispatcher/tool_handlers.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor: update agent initialization for UserExecutionContext pattern
  netra_backend/app/agents/supervisor/agent_class_initialization.py
  netra_backend/app/agents/supervisor/agent_registry.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor: migrate TriageSubAgent to UserExecutionContext pattern
  netra_backend/app/agents/triage_sub_agent.py
  netra_backend/app/agents/triage_sub_agent/agent.py
  netra_backend/app/agents/triage_sub_agent/core.py
  netra_backend/app/agents/triage_sub_agent/processing.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor: enhance ClickHouse client with user isolation support
  netra_backend/app/db/clickhouse.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor: implement Redis key isolation for user context
  netra_backend/app/redis_manager.py
  netra_backend/app/services/redis_service.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor: update SMD with isolation patterns
  netra_backend/app/smd.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test: add comprehensive isolation tests
  netra_backend/tests/test_clickhouse_client_comprehensive.py
  netra_backend/tests/test_redis_key_isolation.py
  tests/test_clickhouse_cache_isolation.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test: update Phase 2 migration validation tests
  tests/phase2_migration/test_phase2_simple_validation.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

feat: add data isolation infrastructure
  netra_backend/app/agents/supervisor/data_access_integration.py
  netra_backend/app/data_contexts/__init__.py
  netra_backend/app/data_contexts/user_data_context.py
  netra_backend/app/factories/__init__.py
  netra_backend/app/factories/clickhouse_factory.py
  netra_backend/app/factories/data_access_factory.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test: add mission-critical data isolation tests
  tests/mission_critical/DATA_LAYER_ISOLATION_SECURITY_REPORT.md
  tests/mission_critical/README_ISOLATION_TESTS.md
  tests/mission_critical/demonstrate_vulnerabilities.py
  tests/mission_critical/run_isolation_tests.py
  tests/mission_critical/test_data_isolation_simple.py
  tests/mission_critical/test_data_layer_isolation.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs: add isolation implementation documentation
  AGENT_SSOT_AUDIT_PLAN.md
  CLICKHOUSE_CACHE_ISOLATION_IMPLEMENTATION.md
  PHASE_2_FINAL_COMPLETION_REPORT.md
  REDIS_KEY_ISOLATION_IMPLEMENTATION.md
  THREE_TIER_AUDIT_REPORT.md
Due: none

feat: add isolation demo and SSOT violation finder
  demo_clickhouse_cache_isolation.py
  scripts/find_ssot_violations.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

chore: add Docker override and GTM configuration
  docker-compose.override.yml
  docs/GTM_CONFIGURATION_NOTE.md
Due: none

feat(factories): implement SSOT-compliant factory patterns
  demo_clickhouse_factory.py
  netra_backend/app/factories/__init__.py
  netra_backend/app/factories/clickhouse_factory.py
  netra_backend/app/factories/data_access_factory.py
  netra_backend/app/factories/redis_factory.py
  netra_backend/app/services/factory_adapter.py
  netra_backend/app/services/websocket_bridge_factory.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test: add comprehensive SSOT compliance test suites
  netra_backend/tests/agents/test_corpus_admin_ssot_compliance.py
  netra_backend/tests/agents/test_synthetic_data_ssot_compliance.py
  netra_backend/tests/mission_critical/test_action_plan_builder_ssot.py
  netra_backend/tests/mission_critical/test_actions_to_meet_goals_ssot_compliance.py
  netra_backend/tests/test_clickhouse_factory.py
  netra_backend/tests/test_clickhouse_factory_simple.py
  netra_backend/tests/test_goals_triage_ssot_simple.py
  netra_backend/tests/test_goals_triage_ssot_violations.py
  netra_backend/tests/test_redis_factory.py
  netra_backend/tests/test_supervisor_ssot_comprehensive.py
  netra_backend/tests/test_supervisor_ssot_simple.py
  netra_backend/tests/test_supervisor_ssot_validation.py
  tests/integration/test_data_access_integration.py
  tests/mission_critical/REPORTING_AGENT_CACHE_AUDIT.md
  tests/mission_critical/REPORTING_AGENT_CONTEXT_AUDIT.md
  tests/mission_critical/REPORTING_AGENT_ENV_AUDIT.md
  tests/mission_critical/REPORTING_AGENT_FIXES_IMPLEMENTED.md
  tests/mission_critical/REPORTING_AGENT_JSON_AUDIT.md
  tests/mission_critical/REPORTING_AGENT_SSOT_COMPLETE.md
  tests/mission_critical/REPORTING_AGENT_WEBSOCKET_AUDIT.md
  tests/mission_critical/test_data_sub_agent_ssot_compliance.py
  tests/mission_critical/test_reporting_agent_ssot_violations.py
  tests/mission_critical/test_triage_agent_ssot_compliance.py
  tests/mission_critical/test_triage_agent_ssot_violations.py
  tests/test_three_tier_isolation_complete.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(data-agent): migrate to SSOT-compliant architecture
  netra_backend/app/agents/data_helper_agent.py
  netra_backend/app/agents/data_sub_agent/core/data_analysis_core.py
  netra_backend/app/agents/data_sub_agent/data_sub_agent.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(triage-agent): complete SSOT migration and cleanup
  netra_backend/app/agents/goals_triage_sub_agent.py
  netra_backend/app/agents/triage_sub_agent/agent.py
  netra_backend/app/agents/triage_sub_agent/cache_utils.py
  netra_backend/app/agents/triage_sub_agent/core.py
  netra_backend/app/agents/triage_sub_agent/processing.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(reporting-agent): implement comprehensive SSOT compliance
  netra_backend/app/agents/reporting_sub_agent.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(action-agents): migrate to SSOT-compliant patterns
  netra_backend/app/agents/actions_goals_plan_builder.py
  netra_backend/app/agents/actions_to_meet_goals_sub_agent.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(synthetic-agents): standardize SSOT patterns
  netra_backend/app/agents/synthetic_data_sub_agent.py
  netra_backend/app/agents/synthetic_data_sub_agent_modern.py
  netra_backend/app/agents/synthetic_data_sub_agent_workflow.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(admin-tools): consolidate SSOT patterns
  netra_backend/app/agents/admin_tool_dispatcher/admin_tool_execution.py
  netra_backend/app/agents/admin_tool_dispatcher/execution_helpers.py
  netra_backend/app/agents/admin_tool_dispatcher/tool_handlers.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(supervisor): enhance SSOT compliance and isolation
  netra_backend/app/agents/supervisor/agent_class_registry.py
  netra_backend/app/agents/supervisor/agent_registry.py
  netra_backend/app/agents/supervisor/comprehensive_observability.py
  netra_backend/app/agents/supervisor/execution_engine.py
  netra_backend/app/agents/supervisor/execution_factory.py
  netra_backend/app/agents/supervisor/flow_logger.py
  netra_backend/app/agents/supervisor/observability_flow.py
  netra_backend/app/agents/supervisor/user_execution_engine.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(tool-dispatcher): major SSOT consolidation
  netra_backend/app/agents/tool_dispatcher_core.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(core): update utilities for SSOT compliance
  netra_backend/app/agents/corpus_admin/agent.py
  netra_backend/app/agents/utils.py
  netra_backend/app/core/logging_config.py
  netra_backend/app/core/project_utils.py
  netra_backend/app/mcp_client/transports/stdio_client.py
  netra_backend/app/smd.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

docs: add SSOT migration reports and learnings
  ...prompts/remediate_prompts.md
  AGENT_SSOT_AUDIT_PHASE2_COMPLETE.md
  DATA_SUB_AGENT_AUDIT_COMPLETION.md
  ISOLATION_FIX_VALIDATION_COMPLETE.md
  PHASE_3_COMPLETION_REPORT.md
  SPEC/learnings/data_sub_agent_ssot_audit_20250902.xml
  SPEC/learnings/goals_triage_ssot_remediation_20250902.xml
  SPEC/learnings/index.xml
  THREE_TIER_ISOLATION_COMPLETE.md
  THREE_TIER_ISOLATION_TEST_SUMMARY.md
  TRIAGE_AGENT_SSOT_MIGRATION_REPORT.md
Due: none

cleanup: remove legacy triage_sub_agent.py
  netra_backend/app/agents/triage_sub_agent.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

feat(agents): complete Phase 3 SSOT remediation for supporting services
  PHASE_3_SSOT_REMEDIATION_REPORT.md
  netra_backend/tests/agents/test_data_helper_ssot_compliance.py
  run_isolation_test.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

Update unified_docker_manager.py
  test_framework/unified_docker_manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

fix(docker): improve ClickHouse health checks and startup reliability
  docker-compose.alpine-test.yml
  docker-compose.base.yml
  docker-compose.test.yml
  test_framework/unified_docker_manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

fix(docker): add lz4-libs to Alpine containers for ClickHouse support
  docker/auth.alpine.Dockerfile
  docker/backend.alpine.Dockerfile
Due: none

test: update agent and smoke tests for new Supervisor initialization
  netra_backend/tests/agents/test_agent_e2e_critical_setup.py
  tests/smoke/test_startup_wiring_smoke.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation
