Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

test(infrastructure): add comprehensive pytest marker consolidation and test discovery audit
  defined_markers.txt
  found_markers.txt
  pytest.ini
Due: docker-force-flag-prohibition

test(integration): add comprehensive UnifiedTestRunner integration testing infrastructure
  tests/integration/test_infrastructure/test_unified_test_runner_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: Golden Path test suite refresh and validation
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-ALL_TESTS-20250910.md
  GOLDEN_PATH_TESTS_REFRESH_WORKLOG_20250910.md
  temp_p0_issue_update.md
  temp_p0_security_worklog_update.md
  temp_uncollectable_issue.md
  test_framework/runner_legacy.py
  tests/e2e/staging/test_clickhouse_gcp_production_analytics.py
  tests/unified_test_runner.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: resolve agent orchestration metadata key mismatch - Issue #267
  netra_backend/app/agents/data_helper_agent.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(migration): add comprehensive DeepAgentState to UserExecutionContext migration validation
  tests/migration/test_deepagentstate_to_userexecutioncontext_migration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(ssot): implement Phase 1 SSOT compatibility methods in UnifiedIdGenerator
  merges/MERGEISSUE-2025-09-11-023000-GitGardener-Cycle.md
  shared/id_generation/unified_id_generator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(ssot): complete Golden Path SSOT logging remediation with execution results
  SSOT-golden-path-mixed-logging-patterns-blocking-debug.md
Due: docker-force-flag-prohibition

refactor(ssot): complete test framework consolidation and cleanup
  CLICKHOUSE_SSOT_TEST_SUITE_SUMMARY.md
  backup/ssot_remediation/runner_backup_20250910_234727.py
  backup/ssot_remediation/runner_legacy_backup_20250910_234738.py
  netra_backend/app/core/id_migration_bridge.py
  scripts/validate_agent_tests.py
  temp_p0_issue_update.md
  temp_p0_security_worklog_update.md
  temp_uncollectable_issue.md
  test_framework/websocket_deployment_runner.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore: remove obsolete temporary marker files and validation scripts
  defined_markers.txt
  found_markers.txt
  netra_backend/app/core/agent_execution_tracker.py
  websocket_import_fix_validation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(test): update failing test analysis with critical security findings
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-ALL_TESTS-2025-09-10.md
  netra_backend/app/websocket_core/utils.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(clickhouse): add circuit breaker and cache test coverage validation
  CLICKHOUSE_CIRCUIT_BREAKER_CACHE_TEST_VALIDATION.md
Due: docker-force-flag-prohibition

docs(migration): add comprehensive SSOT ExecutionTracker remediation and deployment procedures
  ExecutionState_ExecutionTracker_SSOT_REMEDIATION_PLAN.md
  MIGRATION_DEPLOYMENT_CHECKLIST.md
  MIGRATION_ROLLBACK_PROCEDURES.md
Due: docker-force-flag-prohibition

docs(test): finalize critical security vulnerability analysis
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-ALL_TESTS-2025-09-10.md
Due: docker-force-flag-prohibition

feat(core): enhance Agent Registry with hardened user isolation and SSOT compliance
  SSOT-dual-systems-unified-execution-tracker-conflict.md
  netra_backend/app/agents/supervisor/agent_registry.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): enhance unified manager SSOT compatibility
  netra_backend/app/websocket_core/unified_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(infrastructure): enhance critical WebSocket, business logic, and UnifiedTestRunner testing
  tests/critical/test_websocket_cloud_run_race_conditions.py
  tests/integration/business_logic/test_agent_orchestration_business_integration.py
  tests/integration/test_infrastructure/test_unified_test_runner_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): resolve critical WebSocket agent bridge import error in staging
  EXECUTIVE_SUMMARY_DEEPAGENTSTATE_MIGRATION.md
  audit/staging/auto-solve-loop/websocket_agent_bridge_missing_2025_09_10.md
  netra_backend/app/agents/execution_tracking/registry.py
  netra_backend/app/core/execution_tracker.py
  netra_backend/tests/integration/agents/supervisor/test_concurrent_agent_execution_stress_testing.py
  netra_backend/tests/integration/agents/supervisor/test_concurrent_agent_execution_user_isolation.py
  tests/e2e/database_test_operations.py
  tests/e2e/test_circuit_breaker_edge_cases.py
  tests/integration/business_logic/test_cost_optimization_business_integration.py
  tests/integration/business_logic/test_data_processing_business_integration.py
  tests/integration/business_logic/test_reporting_analytics_business_integration.py
  tests/integration/test_infrastructure/test_unified_test_runner_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(e2e): eliminate circuit breaker health checker mocks with real monitoring
  netra_backend/app/agents/supervisor/agent_registry.py
  tests/integration/test_infrastructure/test_unified_test_runner_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(core): finalize CYCLE 5 Git Commit Gardener execution tracking and test infrastructure
  SSOT_IMPORT_REGISTRY.md
  audit/staging/auto-solve-loop/websocket_agent_bridge_missing_2025_09_10.md
  final_collection.txt
  netra_backend/app/agents/execution_tracking/__init__.py
  netra_backend/app/agents/execution_tracking/registry.py
  netra_backend/app/agents/supervisor/agent_execution_core.py
  netra_backend/app/agents/supervisor/agent_registry.py
  tests/e2e/fixtures/core/thread_performance_utils.py
  tests/e2e/fixtures/core/thread_test_fixtures_core.py
  tests/integration/test_infrastructure/test_unified_test_runner_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(ssot): enhance WebSocket ID pattern normalization for 1011 error prevention
  shared/id_generation/unified_id_generator.py
  test_ssot_phase1_validation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

ssot: implement Phase 1 dual ID manager remediation (issue #301)
  SSOT-dual-systems-unified-id-manager-conflict.md
Due: docker-force-flag-prohibition

test: add comprehensive Agent Registry business critical unit test suite
  netra_backend/tests/unit/agents/supervisor/test_agent_registry_business_critical_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(security): enhance UserExecutionContext validation in agent execution core
  netra_backend/app/agents/supervisor/agent_execution_core.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(infrastructure): enhance test stability with improved categorization and typing
  tests/integration/edge_cases_error_scenarios/test_agent_execution_dependency_failures.py
  tests/integration/test_infrastructure/test_unified_test_runner_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(e2e): add Enterprise disaster recovery testing utilities
  tests/e2e/disaster_recovery_helpers.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: SSOT TestRunner Step 5 complete - validation successful
  SSOT-TestRunner-DuplicateImplementation-BlockingGoldenPathValidation.md
Due: docker-force-flag-prohibition

feat(ssot): fix Golden Path logging correlation - resolve mixed patterns in agent execution chain
  SSOT-dual-systems-unified-execution-tracker-conflict.md
  SSOT-golden-path-mixed-logging-patterns-blocking-debug.md
  SSOT_IMPORT_REGISTRY.md
  netra_backend/app/agents/supervisor/user_execution_engine.py
  netra_backend/app/agents/supervisor/workflow_orchestrator.py
  netra_backend/app/services/agent_websocket_bridge.py
  tests/integration/edge_cases_error_scenarios/test_memory_exhaustion_agent_execution.py
  tests/unit/websocket_ssot/test_execution_state_consistency.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(websocket): migrate connection executor from DeepAgentState to UserExecutionContext
  netra_backend/app/websocket_core/connection_executor.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): correct line continuation syntax in SSOT ExecutionState validation
  tests/unit/websocket_ssot/test_execution_state_consistency.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(ssot): complete SSOT UnifiedTestRunner violation remediation (issue #299)
  netra_backend/app/agents/supervisor/agent_execution_core.py
  tests/integration/agents/supervisor/test_agent_registry_real_services_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(testing): update staging test report with clean baseline
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

docs: complete SSOT Gardener Phase 6 - issue #309 resolution documentation
  SSOT-golden-path-mixed-logging-patterns-blocking-debug.md
  netra_backend/app/websocket_core/unified_manager.py
  tests/unit/agents/supervisor/test_execution_core_ssot_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: enhance SSOT compliance validation and test infrastructure robustness
  netra_backend/app/agents/supervisor/agent_routing.py
  tests/integration/edge_cases_error_scenarios/test_resource_contention_agent_execution.py
  tests/integration/test_infrastructure/test_unified_test_runner_integration.py
  tests/unit/agents/supervisor/test_execution_core_ssot_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(tests): update API method calls and enhance test infrastructure validation
  tests/unit/agents/supervisor/test_execution_core_ssot_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: minor SSOT compatibility enhancement in agent routing
  netra_backend/app/agents/supervisor/agent_routing.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): enhance UserExecutionContext with required thread_id and run_id
  netra_backend/app/websocket_core/websocket_manager_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(e2e): add comprehensive GCP staging Golden Path validation suite
  tests/e2e/agents/supervisor/test_agent_registry_gcp_staging_golden_path.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

merge: resolve agent execution core security conflicts preserving enhanced validation
  SSOT-dual-systems-unified-execution-tracker-conflict.md
  netra_backend/app/agents/supervisor/agent_execution_core.py
  tests/e2e/fixtures/core/thread_test_fixtures_core.py
  tests/integration/test_infrastructure/test_unified_test_runner_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(ssot): complete SSOT Gardener mission - logging violation resolved
  SSOT-golden-path-mixed-logging-patterns-blocking-debug.md
Due: docker-force-flag-prohibition

docs(testing): add comprehensive Agent Registry test suite guide
  AGENT_REGISTRY_TEST_SUITE_COMPREHENSIVE_GUIDE.md
Due: docker-force-flag-prohibition

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
