Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

new-file-compliance:
  name: New File Standards (strict for new files only)
  entry: python scripts/permissive_hooks/check_new_files.py
  language: system
  stages:
  - commit
  description: Applies strict standards ONLY to newly created files

edited-lines-check:
  name: Modified Lines Check (incremental)
  entry: python scripts/permissive_hooks/check_edited_lines.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Validates only the lines being modified, not the entire file

prevent-new-relative-imports:
  name: Prevent New Relative Imports
  entry: python scripts/permissive_hooks/check_new_imports.py --warn-only
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Blocks new relative imports, warns about existing ones

main-code-quality:
  name: Main Codebase Quality (app > tests)
  entry: python scripts/permissive_hooks/prioritized_check.py --priority app
  language: system
  stages:
  - commit
  description: Prioritizes main application code quality over test files

test-file-leniency:
  name: Test File Check (permissive)
  entry: python scripts/permissive_hooks/test_check_lenient.py --max-lines 1000
  language: system
  stages:
  - commit
  description: Relaxed limits for test files - focus on functionality over form

new-duplicate-prevention:
  name: Prevent New Duplicates (incremental)
  entry: python scripts/permissive_hooks/check_new_duplicates.py --threshold 0.9
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents introduction of NEW duplicate patterns only

refactor: Archive and remove legacy implementations
  LEGACY_ITEMS_REMOVED.md
  SPEC/archived_implementations/admin_unified_experience.xml
  netra_backend/app/agents/actions_agent_legacy.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

docs: Update SPEC documentation and learnings
  SPEC/agent_tracking.xml
  SPEC/ai_native_meta_process.xml
  SPEC/ai_slop_prevention_philosophy.xml
  SPEC/ai_slop_prevention_spec.xml
  SPEC/alembic_configuration.xml
  SPEC/architecture.xml
  SPEC/auth_microservice_migration_plan.xml
  SPEC/build_bot.xml
  SPEC/claude_testing_prompt_spec.xml
  SPEC/coverage_requirements.xml
  SPEC/enhanced_testing.xml
  SPEC/failing_test_management.xml
  SPEC/gcp_deployment.xml
  SPEC/learnings/deployment.xml
  SPEC/learnings/frontend_deployment.xml
  SPEC/learnings/websocket_consolidation.xml
  SPEC/missing_tests.xml
  SPEC/nextjs_deployment.xml
  SPEC/team_updates.xml
Due: none

feat: Enhance auth service with Redis manager and validation
  auth_service/README.md
  auth_service/auth_core/core/session_manager.py
  auth_service/auth_core/database/connection.py
  auth_service/auth_core/database/database_manager.py
  auth_service/auth_core/database/staging_validation.py
  auth_service/auth_core/redis_manager.py
  auth_service/auth_core/security/oauth_security.py
  auth_service/auth_core/validation/pre_deployment_validator.py
  auth_service/tests/README.md
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor: Consolidate actions agent into modular components
  netra_backend/app/agents/actions_agent_core.py
  netra_backend/app/agents/actions_agent_execution.py
  netra_backend/tests/agents/test_data_sub_agent_consolidated.py
  netra_backend/tests/agents/test_mcp_integration.py
  netra_backend/tests/core/test_fallback_coordinator_core.py
  netra_backend/tests/core/test_fallback_coordinator_integration.py
  netra_backend/tests/core/test_health_checkers.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

test: Update test framework and E2E helpers
  test_framework/README.md
  test_framework/UNIFIED_ORCHESTRATOR.md
  test_reports/progress/progress_run_1756054629.json
  test_reports/progress/progress_run_1756054671.json
  test_reports/progress/progress_run_1756054705.json
  test_reports/progress/progress_run_1756054755.json
  test_reports/progress/progress_run_1756054803.json
  test_reports/progress/progress_run_1756054817.json
  test_reports/progress/progress_run_1756054835.json
  test_reports/progress/progress_run_1756054850.json
  test_reports/progress/progress_run_1756054869.json
  test_reports/progress/progress_run_1756054875.json
  test_reports/progress/progress_run_1756054878.json
  test_reports/progress/progress_run_1756054887.json
  test_reports/progress/progress_run_1756054907.json
  test_reports/test_report_20250824_095716.json
  test_reports/test_report_20250824_095757.json
  test_reports/test_report_20250824_095834.json
  test_reports/test_report_20250824_095923.json
  test_reports/test_report_20250824_100012.json
  test_reports/test_report_20250824_100025.json
  test_reports/test_report_20250824_100044.json
  test_reports/test_report_20250824_100058.json
  test_reports/test_report_20250824_100120.json
  test_reports/test_report_20250824_100126.json
  test_reports/test_report_20250824_100140.json
  test_reports/test_report_20250824_100157.json
  tests/e2e/helpers/auth/auth_service_helpers.py
  tests/e2e/helpers/core/microservice_isolation_helpers.py
  unified_test_runner.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

fix: Update deployment scripts and cloud build configuration
  cloudbuild-backend.yaml
  scripts/build_staging.py
  scripts/fix_deployment_logging.py
  scripts/unified_test_runner.py
  scripts/validate_staging_deployment.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

refactor: Reorganize dev launcher into dedicated module
  dev_launcher.py
  dev_launcher/database_connector.py
  dev_launcher/dev_launcher_config.py
  dev_launcher/dev_launcher_core.py
  dev_launcher/dev_launcher_improved.py
  dev_launcher/dev_launcher_monitoring.py
  dev_launcher/dev_launcher_processes.py
  dev_launcher/dev_launcher_secrets.py
  dev_launcher/dev_launcher_service.py
  dev_launcher/enhance_dev_launcher_boundaries.py
  start_dev.sh
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

cleanup: Remove legacy dev launcher scripts from scripts directory
  scripts/dev_launcher_config.py
  scripts/dev_launcher_core.py
  scripts/dev_launcher_improved.py
  scripts/dev_launcher_monitoring.py
  scripts/dev_launcher_processes.py
  scripts/dev_launcher_secrets.py
  scripts/dev_launcher_service.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

test: Update test files for improved stability
  netra_backend/tests/core/test_health_checkers.py
  netra_backend/tests/critical/test_websocket_agent_startup.py
  test_framework/__init__.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

test: Clean up test files and improve stability
  frontend/__tests__/components/MessageInput/complete-coverage.test.tsx
  netra_backend/tests/agents/test_data_sub_agent_consolidated.py
  netra_backend/tests/critical/test_websocket_coroutine_regression.py
  netra_backend/tests/e2e/test_agent_pipeline.py
  netra_backend/tests/e2e/test_multi_service.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

refactor: Improve dev launcher stability and remove legacy script
  dev_launcher/database_connector.py
  scripts/dev_launcher.py
  start_dev.sh
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

feat: Add synchronous connection methods to Redis manager
  auth_service/auth_core/redis_manager.py
  auth_service/tests/test_single_database.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

test: Fix import issues and clean up test files
  netra_backend/tests/agents/test_mcp_integration.py
  netra_backend/tests/examples/test_real_functionality_examples.py
  netra_backend/tests/integration/critical_paths/test_staging_environment_imports.py
  netra_backend/tests/integration/test_agent_reliability_integration.py
  netra_backend/tests/integration/test_critical_path_integration.py
  netra_backend/tests/integration/test_health_checkers_l3_real.py
  netra_backend/tests/integration/test_system_component_integration.py
  netra_backend/tests/integration/test_system_resilience.py
  netra_backend/tests/integration/test_thread_initialization.py
  tests/e2e/integration/test_auth_oauth_flows.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

feat: Add minimal test setup for MessageInput component
  frontend/__tests__/components/chat/MessageInput/minimal-test-setup.ts
Due: new-file-compliance, edited-lines-check

docs: Update CLAUDE.md with latest mission objectives
  CLAUDE.md
Due: none

chore: Add utility scripts for testing and debugging
  fix_syntax.py
  test_database_connections.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

chore: Add test_reports to gitignore
  .gitignore
Due: none

test: Refactor and simplify test infrastructure
  dev_launcher/database_connector.py
  netra_backend/tests/integration/test_critical_path_integration.py
  netra_backend/tests/integration/test_service_discovery_health_checks.py
  test_database_connections.py
  tests/e2e/integration/test_staging_startup_core.py
  tests/e2e/journeys/test_real_oauth_google_flow.py
  tests/e2e/test_auth_oauth_flows.py
  tests/e2e/test_auth_service_health_check_integration.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

test: Update first-time user tests and auth fixtures
  netra_backend/tests/integration/test_first_time_user_integration.py
  test_framework/fixtures/auth.py
  tests/e2e/test_first_user_journey.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

fix: Add remaining test improvements
  auth_service/tests/test_auth_startup_integration.py
  netra_backend/tests/integration/critical_paths/test_dashboard_query_performance.py
  netra_backend/tests/integration/critical_paths/test_websocket_resilience_recovery.py
  scripts/iterative_test_fix_loop.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

fix: Update imports to use absolute paths from netra_backend
  netra_backend/app/agents/base_agent.py
  netra_backend/app/agents/chat_orchestrator/model_cascade.py
  netra_backend/app/agents/chat_orchestrator_main.py
  netra_backend/app/core/configuration/__init__.py
  netra_backend/app/core/configuration/base.py
  netra_backend/app/core/configuration/database.py
  netra_backend/app/core/configuration/environment.py
  netra_backend/app/core/configuration/environment_detector.py
  netra_backend/app/core/configuration/secrets.py
  netra_backend/app/core/configuration/services.py
  netra_backend/app/core/configuration/unified_secrets.py
  netra_backend/app/core/environment_constants.py
  netra_backend/app/core/health_configuration.py
  netra_backend/app/core/isolated_environment.py
  netra_backend/app/core/startup_config.py
  netra_backend/app/db/database_initializer.py
  netra_backend/app/db/database_manager.py
  netra_backend/app/db/postgres_core.py
  netra_backend/app/guardrails/input_filters.py
  netra_backend/app/main.py
  netra_backend/app/schemas/Config.py
  netra_backend/app/services/cache/semantic_cache.py
  netra_backend/app/services/startup_fixes_integration.py
  netra_backend/app/services/unified_health_service.py
  netra_backend/app/startup_module.py
  netra_backend/app/tools/deep_research_api.py
  netra_backend/app/tools/sandboxed_interpreter.py
  netra_backend/tests/conftest.py
  netra_backend/tests/e2e/conftest.py
  netra_backend/tests/helpers/llm_manager_helpers.py
  netra_backend/tests/helpers/staging_base.py
  netra_backend/tests/integration/critical_missing/shared_infrastructure/containerized_services.py
  netra_backend/tests/integration/critical_paths/l4_staging_critical_base.py
  netra_backend/tests/integration/staging_config/base.py
  netra_backend/tests/integration/test_database_connection_reliability.py
  netra_backend/tests/integration/test_dev_launcher_startup.py
  netra_backend/tests/routes/test_agent_routes.py
  netra_backend/tests/routes/test_corpus_routes.py
  netra_backend/tests/routes/test_mcp_routes.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

test: Improve test infrastructure and performance tests
  netra_backend/tests/integration/critical_paths/test_dashboard_query_performance.py
  netra_backend/tests/integration/critical_paths/test_session_invalidation_cascade.py
  netra_backend/tests/performance/test_performance_batching.py
  netra_backend/tests/performance/test_performance_optimizations.py
  netra_backend/tests/routes/test_admin_routes.py
  netra_backend/tests/test_config_helpers.py
  netra_backend/tests/test_performance_batching.py
  netra_backend/tests/test_route_fixtures.py
  test_framework/fixtures/config.py
  test_framework/fixtures/routes.py
  test_framework/performance.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

fix: Improve core infrastructure and middleware
  netra_backend/app/core/logging_context.py
  netra_backend/app/core/middleware_setup.py
  netra_backend/app/core/unified_logging.py
  netra_backend/app/core/websocket_cors.py
  netra_backend/app/websocket_core/batch_message_core.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

chore: Add test helper files and update frontend dependencies
  fix_import_issues.py
  frontend/package.json
  import_fix_report.txt
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

feat: Improve environment isolation and configuration management
  SPEC/learnings/microservice_environment_independence.xml
  auth_service/auth_core/config.py
  auth_service/auth_core/database/connection_events.py
  auth_service/auth_core/isolated_environment.py
  auth_service/auth_core/secret_loader.py
  dev_launcher/service_config.py
  netra_backend/app/core/configuration/database.py
  netra_backend/app/core/configuration/environment.py
  netra_backend/app/core/configuration/environment_detector.py
  netra_backend/app/core/configuration/unified_secrets.py
  netra_backend/app/schemas/Config.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

feat: Enhance health monitoring and error aggregation
  check_error.py
  check_error2.py
  netra_backend/app/core/error_aggregation_alerts.py
  netra_backend/app/core/health/unified_health_checker.py
  netra_backend/app/core/health_configuration.py
  netra_backend/app/error_aggregation_utils.py
  netra_backend/app/error_aggregator.py
  netra_backend/app/services/unified_health_service.py
  netra_backend/tests/test_health_monitor_adaptive.py
  netra_backend/tests/test_health_monitor_checks.py
  netra_backend/tests/test_health_monitor_lifecycle.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

refactor: Improve core infrastructure resilience and isolation
  netra_backend/app/agents/base_agent.py
  netra_backend/app/agents/chat_orchestrator/model_cascade.py
  netra_backend/app/agents/chat_orchestrator_main.py
  netra_backend/app/core/logging_context.py
  netra_backend/app/core/resilience/unified_retry_handler.py
  netra_backend/app/core/startup_config.py
  netra_backend/app/core/unified_logging.py
  netra_backend/app/db/database_initializer.py
  netra_backend/app/db/database_manager.py
  netra_backend/app/db/postgres_core.py
  netra_backend/app/guardrails/input_filters.py
  netra_backend/app/migration_models.py
  netra_backend/app/services/cache/semantic_cache.py
  netra_backend/app/services/startup_fixes_integration.py
  netra_backend/app/startup/__init__.py
  netra_backend/app/startup/migration_tracker.py
  netra_backend/app/startup_module.py
  netra_backend/app/tools/deep_research_api.py
  netra_backend/app/tools/sandboxed_interpreter.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test: Enhance integration tests with better isolation
  auth_service/tests/test_auth_startup_integration.py
  auth_service/tests/test_database_manager.py
  auth_service/tests/test_postgres_compliance.py
  netra_backend/tests/e2e/conftest.py
  netra_backend/tests/integration/critical_missing/shared_infrastructure/containerized_services.py
  netra_backend/tests/integration/critical_paths/l4_staging_critical_base.py
  netra_backend/tests/integration/staging_config/base.py
  netra_backend/tests/integration/test_agent_registry_initialization_validation.py
  netra_backend/tests/integration/test_database_connection_reliability.py
  netra_backend/tests/integration/test_dev_launcher_startup.py
  netra_backend/tests/integration/test_websocket_infrastructure_startup_validation.py
  netra_backend/tests/startup/test_startup_diagnostics.py
  netra_backend/tests/test_mcp_integration_core.py
  netra_backend/tests/test_mcp_integration_fixtures.py
  netra_backend/tests/test_mcp_integration_services.py
  netra_backend/tests/test_websocket_bidirectional_types.py
  pytest.ini
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

docs: Update learnings and add utility scripts
  SPEC/learnings/index.xml
  scripts/fix_duplicate_try_blocks.py
  test_framework/fixtures/websocket_types.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

fix: Remove duplicate imports and clean up import statements
  fix_import_issues.py
  netra_backend/app/agents/base_agent.py
  netra_backend/app/agents/chat_orchestrator/model_cascade.py
  netra_backend/app/agents/chat_orchestrator_main.py
  netra_backend/app/guardrails/input_filters.py
  netra_backend/app/schemas/Config.py
  netra_backend/app/services/cache/semantic_cache.py
  netra_backend/app/tools/deep_research_api.py
  netra_backend/app/tools/sandboxed_interpreter.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor: Simplify configuration modules and remove duplicates
  netra_backend/app/core/configuration/database.py
  netra_backend/app/core/configuration/environment.py
  netra_backend/app/core/configuration/environment_detector.py
  netra_backend/app/core/configuration/unified_secrets.py
  netra_backend/app/core/health_configuration.py
  netra_backend/app/core/startup_config.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor: Improve database initialization and startup modules
  netra_backend/app/database/__init__.py
  netra_backend/app/db/database_initializer.py
  netra_backend/app/db/postgres_core.py
  netra_backend/app/main.py
  netra_backend/app/services/startup_fixes_integration.py
  netra_backend/app/services/unified_health_service.py
  netra_backend/app/startup_module.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

feat: Enhance test framework with new fixtures and utilities
  dev_launcher/enhanced_health_monitor.py
  test_framework/__init__.py
  test_framework/base_e2e_test.py
  test_framework/fixtures/__init__.py
  test_framework/fixtures/compression.py
  test_framework/fixtures/health.py
  test_framework/fixtures/real_services.py
  test_framework/import_tester.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

test: Improve test coverage and remove obsolete tests
  netra_backend/tests/conftest.py
  netra_backend/tests/e2e/conftest.py
  netra_backend/tests/integration/critical_missing/shared_infrastructure/containerized_services.py
  netra_backend/tests/integration/critical_paths/l4_staging_critical_base.py
  netra_backend/tests/integration/staging_config/base.py
  netra_backend/tests/integration/test_database_connection_reliability.py
  netra_backend/tests/integration/test_dev_launcher_startup.py
  netra_backend/tests/startup/test_staged_health_monitor_index.py
  netra_backend/tests/test_compression_auth.py
  netra_backend/tests/test_config_helpers.py
  netra_backend/tests/test_health_monitor_checks.py
  netra_backend/tests/test_websocket_production_realistic.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

test: Add E2E tests and improve resource isolation
  tests/e2e/resource_isolation/infrastructure/data_models.py
  tests/e2e/resource_isolation/suite/agent_manager.py
  tests/e2e/test_dev_launcher_e2e.py
  tests/e2e/test_helpers/agent_isolation_base.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

refactor: Clean up core modules and database manager
  netra_backend/app/core/environment_constants.py
  netra_backend/app/core/logging_context.py
  netra_backend/app/core/unified_logging.py
  netra_backend/app/db/database_manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor: Clean up isolated environment imports across codebase
  netra_backend/app/core/configuration/__init__.py
  netra_backend/app/core/configuration/base.py
  netra_backend/app/core/configuration/secrets.py
  netra_backend/app/core/configuration/services.py
  netra_backend/app/db/database_manager.py
  netra_backend/tests/helpers/llm_manager_helpers.py
  netra_backend/tests/helpers/staging_base.py
  netra_backend/tests/integration/critical_paths/test_staging_worker_startup_validation.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

fix: Update staging test to use isolated environment consistently
  netra_backend/tests/integration/critical_paths/test_staging_worker_startup_validation.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

Path conditions:
  new-file-compliance: any of: \.(py|ts|tsx)$
  edited-lines-check: any of: \.(py|ts|tsx)$
  prevent-new-relative-imports: any of: \.py$
  main-code-quality: any of: ^(netra_backend/app|auth_service/auth_core|frontend/src)/.*\.(py|ts|tsx)$
  test-file-leniency: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  new-duplicate-prevention: any of: \.py$
