Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$

refactor(docker): replace DATABASE_URL with POSTGRES_* variables
  .github/workflows/deploy-staging.yml
  docker-compose.alpine-dev.yml
Due: docker-force-flag-prohibition, docker-security-audit

fix(scripts): update database validation error messages
  scripts/validate_database_connections.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(auth): add token validation endpoint and service authentication
  auth_service/auth_core/routes/auth_routes.py
  auth_service/auth_core/services/auth_service.py
  netra_backend/app/clients/auth_client_core.py
  netra_backend/app/schemas/config.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): prevent resource exhaustion during pytest collection on Windows
  tests/conftest.py
  tests/conftest_base.py
  tests/conftest_e2e.py
  tests/conftest_mocks.py
  tests/conftest_services.py
  tests/mission_critical/conftest_isolated_websocket.py
  tests/unified_test_runner.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs: update architecture documentation and SSOT compliance
  CLAUDE.md
  docs/docker_architecture_diagrams.md
  docs/index.md
  reports/ssot-compliance/SSOT_INDEX.md
Due: docker-force-flag-prohibition

chore: remove obsolete reports and test files
  INVESTOR_SYSTEM_DIAGRAMS.md
  e2e_test_tracking/unified_failure_report.md
  reports/iterations/COMPLETE_100_ITERATION_JOURNEY_SUMMARY.md
  reports/iterations/FINAL_TEST_CYCLES_91_100_COMPREHENSIVE_REPORT.md
  reports/iterations/ITERATIONS_51_75_FINAL_SUMMARY.md
  reports/iterations/ITERATIONS_51_75_SUMMARY.md
  reports/iterations/ITERATION_41_50_SUMMARY.md
  reports/iterations/ITERATION_51_60_FINAL_REPORT.md
  reports/migration/DATABASE_DEPENDENCY_MIGRATION_PHASE2.md
  reports/migration/METADATA_STORAGE_MIGRATION_AUDIT.md
  reports/migration/METADATA_STORAGE_MIGRATION_REMEDIATION_PROMPTS.md
  reports/migration/TOOL_DISPATCHER_MIGRATION_COMPLETE.md
  standalone_test/test_agent_components.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(learnings): add recent Windows and Docker fixes to knowledge base
  SPEC/learnings/docker_crash_pytest_collection_windows_20250107.xml
  SPEC/learnings/frontend_dockerfile_missing_directories_fix_20250107.xml
  SPEC/learnings/index.xml
  SPEC/learnings/pytest_conftest_imports_fix_20250107.xml
  SPEC/learnings/service_authentication_mismatch_fix_20250107.xml
Due: none

feat(tests): add comprehensive E2E test suite for all critical paths
  tests/e2e/WINDOWS_SAFE_TESTING_GUIDE.md
  tests/e2e/run_safe_windows.py
  tests/e2e/test_minimal_docker.py
  tests/e2e/test_real_agent_execution_engine.py
  tests/e2e/test_real_agent_factory_patterns.py
  tests/e2e/test_real_agent_registry_initialization.py
  tests/e2e/test_real_agent_supervisor_orchestration.py
  tests/e2e/test_real_agent_tool_dispatcher.py
  tests/e2e/test_real_agent_triage_workflow.py
  tests/e2e/test_real_agent_websocket_notifications.py
  tests/e2e/test_real_chat_output_validation.py
  tests/e2e/test_real_clickhouse_connection.py
  tests/e2e/test_real_clickhouse_data_ingestion.py
  tests/e2e/test_real_e2e_agent_execution.py
  tests/e2e/test_real_e2e_chat_interaction.py
  tests/e2e/test_real_e2e_first_time_user.py
  tests/e2e/test_real_e2e_free_to_paid_conversion.py
  tests/e2e/test_real_e2e_provider_connection.py
  tests/e2e/test_real_e2e_team_collaboration.py
  tests/e2e/test_real_e2e_user_onboarding.py
  tests/e2e/test_simple_chat_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add regression and staging authentication tests
  tests/regression/test_service_authentication_regression.py
  tests/staging/test_staging_service_auth.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add testing documentation and progress reports
  WINDOWS_E2E_TESTING_SSOT.md
  reports/e2e_test_creation_report.md
  reports/staging_error_audit_20250107.md
  reports/testing/clickhouse_test_creation_progress.md
  reports/testing/test_creation_progress_log.md
Due: docker-force-flag-prohibition

feat(scripts): add utility scripts for testing and Docker management
  .claude/commands/test-create.md
  scripts/docker_gradual_start.py
  scripts/run_tool_dispatcher_e2e_test.py
  test_pytest_collection_fix.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add agent execution order E2E test
  tests/e2e/test_real_agent_execution_order.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: update test creation progress log
  reports/testing/test_creation_progress_log.md
Due: docker-force-flag-prohibition

fix(auth): enhance token cache with E2E test compatibility and proper async methods
  netra_backend/app/clients/auth_client_cache.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(framework): add real_services_fixture for E2E testing support
  test_framework/fixtures/real_services.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(auth): add unit test for token cache regression prevention
  netra_backend/tests/unit/test_token_cache_regression.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(bugfix): document token cache AttributeError fix and root cause analysis
  reports/bugfixes/TOKEN_CACHE_ATTRIBUTE_ERROR_FIX_20250907.md
Due: docker-force-flag-prohibition

test(e2e): add comprehensive E2E test suite for real agent workflows
  tests/e2e/test_real_agent_data_helper_flow.py
  tests/e2e/test_real_agent_error_handling.py
  tests/e2e/test_real_agent_llm_integration.py
  tests/e2e/test_real_agent_multi_agent_collaboration.py
  tests/e2e/test_real_agent_optimization_pipeline.py
  tests/e2e/test_real_agent_state_persistence.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(auth): add comprehensive health endpoint with database connectivity
  auth_service/auth_core/routes/auth_routes.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(docker): rename SHARED to DEDICATED environment type for clarity
  test_framework/ssot/docker.py
  test_framework/tests/test_ssot_complete.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(imports): update Docker manager import paths across scripts
  scripts/manage_test_services.py
  scripts/test_parallel_docker_manager.py
  scripts/unified_docker_cli.py
  scripts/validate_docker_workflow.py
  scripts/verify_docker_fixes.py
  test_framework/cypress_runner.py
  test_scripts/manual_alpine_test.py
  test_scripts/test_alpine_functionality.py
  test_scripts/test_fix_docker_ports.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(mission-critical): update Docker credential tests with improved validation
  tests/mission_critical/test_docker_credential_configuration.py
  tests/mission_critical/websocket_real_test_base.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test(e2e): add comprehensive WebSocket full flow E2E tests
  tests/e2e/dev_launcher_test_fixtures.py
  tests/e2e/test_websocket_full_flow.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(results): update junit test results with latest test runs
  junit.xml
Due: none

docs(testing): add E2E test fix plans and WebSocket staging reports
  E2E_TEST_FIX_PLAN.md
  E2E_TEST_STATUS_REPORT.md
  WEBSOCKET_STAGING_TEST_REPORT.md
Due: docker-force-flag-prohibition

fix(frontend): resolve CSP violations for worker creation and external APIs
  docs/CSP_MANAGEMENT_GUIDE.md
  frontend/next.config.ts
  reports/bugfix/CSP_WORKER_BLOB_ERROR_FIX_20250107.md
Due: architecture-compliance, file-size-limit, type-safety-check, docker-force-flag-prohibition

test(csp): add regression tests for CSP configuration
  scripts/validate_csp_fix.py
  tests/e2e/test_csp_regression.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(auth): resolve auth token cache async/await compatibility bug
  netra_backend/app/clients/auth_client_cache.py
  netra_backend/app/clients/auth_client_core.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(redis): use BackendEnvironment SSOT for Redis URL configuration
  netra_backend/app/redis_manager.py
  netra_backend/app/services/test_environment.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(auth): support environment-specific JWT secrets to match auth service
  netra_backend/app/websocket_core/user_context_extractor.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): remove incorrect auth_service import violations
  netra_backend/tests/unit/agents/data_sub_agent/test_data_validator.py
  netra_backend/tests/unit/core/test_configuration_validation.py
  netra_backend/tests/unit/core/test_error_handling_enhanced.py
  netra_backend/tests/unit/core/test_jwt_secret_ssot_compliance.py
  netra_backend/tests/unit/core/test_logging_color_output.py
  netra_backend/tests/unit/core/test_startup_initialization.py
  netra_backend/tests/unit/test_app_factory.py
  netra_backend/tests/unit/test_clickhouse_graceful_degradation.py
  netra_backend/tests/unit/test_compliance_validation_comprehensive.py
  netra_backend/tests/unit/test_cost_limit_enforcement.py
  netra_backend/tests/unit/test_cost_tracker.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(cors): add test environment headers to CORS configuration
  shared/cors_config_builder.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): remove remaining auth_service import violations
  netra_backend/tests/unit/test_environment_validator.py
  netra_backend/tests/unit/test_message.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): complete auth_service import violation cleanup
  netra_backend/tests/unit/test_oauth_config_validation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(e2e): update staging test configuration and critical test fixes
  tests/e2e/staging/test_priority1_critical_REAL.py
  tests/e2e/staging_test_config.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): finalize auth_service import violation cleanup across test suite
  netra_backend/tests/unit/agents/data/test_unified_data_agent.py
  netra_backend/tests/unit/test_distributed_circuit_breaker_observability.py
  netra_backend/tests/unit/test_integration_scenarios.py
  netra_backend/tests/unit/test_secret_key_validation.py
  netra_backend/tests/unit/test_security_monitoring_integration.py
  netra_backend/tests/unit/test_supervisor_flow_logger.py
  netra_backend/tests/unit/test_system_resilience_final.py
  netra_backend/tests/unit/test_thread_switch_data_loading.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(testing): update test progress reports and staging results
  reports/testing/test_creation_progress_log.md
  tests/e2e/staging/STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

docs(bugfixes): add comprehensive bug fix analysis reports
  reports/bugfixes/AUTH_TOKEN_CACHE_ASYNC_BUG_20250907.md
  reports/bugfixes/JWT_AUTH_STAGING_FAILURE_20250907.md
  reports/bugfixes/REDIS_DEV_CONFIG_FIX_20250907.md
  reports/bugfixes/UNIT_TEST_IMPORT_VIOLATIONS_20250907.md
  reports/bugfixes/WEBSOCKET_AUTH_STAGING_FAILURE_ANALYSIS_20250907.md
Due: docker-force-flag-prohibition

docs(e2e): add staging test fixes and root cause analysis reports
  reports/E2E_STAGING_FIXES_IMPLEMENTED.md
  reports/E2E_STAGING_ROOT_CAUSE_ANALYSIS.md
Due: docker-force-flag-prohibition

test(e2e): add E2E test infrastructure and JWT regression test
  tests/e2e/E2E_STAGING_TEST_GUIDE.md
  tests/e2e/e2e_test_config.py
  tests/e2e/staging/STAGING_CONNECTIVITY_REPORT.md
  tests/e2e/test_jwt_environment_secret_regression.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation
