Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

.pre-commit-config.yaml:

# Permissive Pre-commit Configuration for Netra Apex
# Focus: New files and edited sections only, not entire legacy codebase
# Philosophy: Progressive enhancement over rigid enforcement

repos:
  - repo: local
    hooks:
      # NEW FILES ONLY: Strict enforcement for new code
      - id: new-file-compliance
        name: New File Standards (strict for new files only)
        entry: python scripts/permissive_hooks/check_new_files.py
        language: system
        files: '\.(py|ts|tsx)$'
        stages: [commit]
        description: 'Applies strict standards ONLY to newly created files'
        
      # EDITED SECTIONS: Check only modified lines, not entire file
      - id: edited-lines-check
        name: Modified Lines Check (incremental)
        entry: python scripts/permissive_hooks/check_edited_lines.py
        language: system
        files: '\.(py|ts|tsx)$'
        stages: [commit]
        pass_filenames: true
        description: 'Validates only the lines being modified, not the entire file'
        
      # CRITICAL IMPORTS: Prevent new relative imports (warning for existing)
      - id: prevent-new-relative-imports
        name: Prevent New Relative Imports
        entry: python scripts/permissive_hooks/check_new_imports.py --warn-only
        language: system
        files: '\.py$'
        stages: [commit]
        pass_filenames: true
        description: 'Blocks new relative imports, warns about existing ones'
        
      # MAIN CODE PRIORITY: Stricter for app code, lenient for tests
      - id: main-code-quality
        name: Main Codebase Quality (app > tests)
        entry: python scripts/permissive_hooks/prioritized_check.py --priority app
        language: system
        files: '^(netra_backend/app|auth_service/auth_core|frontend/src)/.*\.(py|ts|tsx)$'
        stages: [commit]
        description: 'Prioritizes main application code quality over test files'
        
      # TEST FILE LENIENCY: Relaxed rules for test files
      - id: test-file-leniency
        name: Test File Check (permissive)
        entry: python scripts/permissive_hooks/test_check_lenient.py --max-lines 1000
        language: system
        files: '(test_.*\.py|.*_test\.py|tests/.*\.py)$'
        stages: [commit]
        description: 'Relaxed limits for test files - focus on functionality over form'
        
      # DUPLICATE DETECTION: Only for new code patterns
      - id: new-duplicate-prevention
        name: Prevent New Duplicates (incremental)
        entry: python scripts/permissive_hooks/check_new_duplicates.py --threshold 0.9
        language: system
        files: '\.py$'
        stages: [commit]
        pass_filenames: true
        description: 'Prevents introduction of NEW duplicate patterns only'
        
      # EMERGENCY BYPASS: Allow quick fixes with flag
      - id: emergency-bypass-check
        name: Emergency Fix Mode
        entry: python scripts/permissive_hooks/emergency_check.py
        language: system
        stages: [commit]
        pass_filenames: false
        description: 'Allows bypass with EMERGENCY_FIX flag in commit message'
        
      # PROGRESSIVE ENHANCEMENT: Track improvement over time
      - id: progress-tracker
        name: Code Quality Progress Tracker
        entry: python scripts/permissive_hooks/track_progress.py --log-only
        language: system
        stages: [commit]
        pass_filenames: false
        always_run: true
        description: 'Tracks quality improvements without blocking commits'

# Configuration for different severity levels
# These can be toggled based on development phase
default_stages: [commit]
fail_fast: true   # Stop at first failure for faster feedback
verbose: true     # Show detailed feedback to help developers

# Environment-specific overrides
# Development: More permissive
# Staging: Moderate enforcement  
# Production: Strict enforcement (use original config)

feat: Enhance health monitoring and database connectivity
  auth_service/auth_core/database/connection.py
  auth_service/auth_core/isolated_environment.py
  netra_backend/app/core/health/checks.py
  netra_backend/app/core/health/interface.py
  netra_backend/app/core/health_types.py
  netra_backend/app/schemas/core_models.py
  netra_backend/app/services/unified_health_service.py
  test_framework/environment_isolation.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

feat: Add WebSocket reconnection handling and state sync
  netra_backend/app/routes/websocket.py
  netra_backend/app/websocket_core/connection_info.py
  netra_backend/app/websocket_core/error_recovery_handler.py
  netra_backend/app/websocket_core/reconnection_handler.py
  netra_backend/app/websocket_core/recovery.py
  netra_backend/app/websocket_core/state_synchronizer.py
  netra_backend/app/websocket_core/sync_types.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor: Consolidate test helpers and improve test infrastructure
  netra_backend/tests/datetime_string_test_helpers.py
  netra_backend/tests/helpers/model_setup_helpers.py
  netra_backend/tests/json_file_crypto_test_helpers.py
  netra_backend/tests/mock_services.py
  netra_backend/tests/network_pagination_test_helpers.py
  netra_backend/tests/rate_retry_monitoring_test_helpers.py
  netra_backend/tests/validation_formatting_test_helpers.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

fix: Update frontend auth service imports and interceptor
  frontend/lib/auth-interceptor.ts
  frontend/lib/unified-auth-service.ts
Due: new-file-compliance, edited-lines-check

test: Enhance test coverage and add startup readiness tests
  netra_backend/tests/integration/critical_paths/test_cold_startup_readiness_detection.py
  netra_backend/tests/test_health_monitor_checks.py
  netra_backend/tests/test_imports.py
  netra_backend/tests/test_websocket_type_safety.py
  netra_backend/tests/unified_system/test_websocket_state.py
  netra_backend/tests/unit/test_threads_route_rename.py
  netra_backend/tests/utils/test_file_crypto_validation_utils.py
  netra_backend/tests/utils/test_pagination_rate_retry_utils.py
  netra_backend/tests/validation/test_websocket_message_validation.py
  netra_backend/tests/websocket/test_websocket_comprehensive.py
  netra_backend/tests/websocket/test_websocket_e2e_complete.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

fix: Update WebSocket and auth endpoints for consistency
  auth_service/tests/integration/test_auth_oauth_errors.py
  auth_service/tests/test_auth_database_connection.py
  docs/WEBSOCKET_IMPLEMENTATION_GUIDE.md
  netra_backend/app/agents/actions_agent_core.py
  netra_backend/app/auth_integration/auth.py
  netra_backend/app/core/middleware_setup.py
  netra_backend/app/db/postgres.py
  netra_backend/app/routes/websocket.py
  netra_backend/app/websocket_core/compression.py
  netra_backend/app/websocket_core/utils.py
  netra_backend/tests/test_health_monitor_checks.py
  netra_backend/tests/test_websocket_type_safety.py
  netra_backend/tests/websocket/test_websocket_comprehensive.py
  netra_backend/tests/websocket/test_websocket_e2e_complete.py
  netra_backend/tests/websocket/test_websocket_integration_performance.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

test: Enhance test stability and coverage across services
  auth_service/tests/integration/test_auth_oauth_errors.py
  auth_service/tests/integration/test_oauth_flows_auth.py
  auth_service/tests/integration/test_oauth_flows_core.py
  auth_service/tests/integration/test_oauth_flows_sync.py
  auth_service/tests/utils/test_client.py
  dev_launcher/tests/test_environment_conflicts.py
  dev_launcher/tests/test_environment_isolation_pytest_integration.py
  netra_backend/tests/critical/test_config_environment_detection.py
  netra_backend/tests/db/test_alembic_ini_path.py
  netra_backend/tests/e2e/test_system_startup.py
  netra_backend/tests/integration/critical_missing/tier1_critical/test_agent_tool_execution_pipeline.py
  netra_backend/tests/integration/test_clickhouse_schema_validation_comprehensive.py
  netra_backend/tests/integration/test_configuration_validation_environment_parity.py
  netra_backend/tests/integration/test_database_connection_pool_initialization_validation.py
  netra_backend/tests/integration/test_environment_secrets_loading_validation.py
  netra_backend/tests/integration/test_error_recovery_startup_resilience_validation.py
  netra_backend/tests/integration/test_llm_api_connectivity_validation_all_providers.py
  netra_backend/tests/integration/test_metric_collection_initialization_validation.py
  netra_backend/tests/integration/test_redis_session_store_initialization_validation.py
  netra_backend/tests/integration/test_service_health_integration.py
  netra_backend/tests/integration/test_staging_production_parity_validation.py
  netra_backend/tests/integration/test_startup_health_check_comprehensive_validation.py
  netra_backend/tests/security/test_oauth_jwt_security_vulnerabilities.py
  netra_backend/tests/startup/mock_health_monitor.py
  netra_backend/tests/startup/test_health_monitor_adaptive.py
  netra_backend/tests/startup/test_startup_quick.py
  netra_backend/tests/test_chat_send_receive.py
  netra_backend/tests/test_health_monitor_checks.py
  netra_backend/tests/unified_system/test_oauth_flow.py
  netra_backend/tests/unit/db/test_database_manager.py
  netra_backend/tests/websocket/test_websocket_integration_performance.py
  netra_backend/tests/websocket/test_websocket_reliability_fixes.py
  netra_backend/tests/websocket/test_websocket_resilience.py
  scripts/unified_test_runner.py
  test_framework/environment_isolation.py
  tests/e2e/integration/test_dev_launcher_startup_validation.py
  tests/e2e/test_first_user_journey.py
  tests/integration/test_basic_service_url_alignment.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

refactor: Improve service architecture and health monitoring
  dev_launcher/isolated_environment.py
  netra_backend/app/agents/base/executor.py
  netra_backend/app/agents/data_sub_agent/data_sub_agent.py
  netra_backend/app/agents/triage_sub_agent/agent.py
  netra_backend/app/alembic/versions/66e0e5d9662d_add_missing_tables_and_columns_complete.py
  netra_backend/app/core/configuration/secrets.py
  netra_backend/app/db/database_manager.py
  netra_backend/app/main.py
  netra_backend/app/routes/health.py
  netra_backend/app/services/email_service.py
  netra_backend/app/services/unified_health_service.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test: Minor test improvements and fixes
  netra_backend/tests/agents/test_data_sub_agent_consolidated.py
  netra_backend/tests/unit/db/test_database_manager.py
  tests/e2e/integration/test_dev_launcher_startup_validation.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

fix: Set startup_complete flag to resolve health endpoint "Startup state unknown" error
  netra_backend/app/startup_module.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(auth): improve OAuth security and test coverage
  auth_service/auth_core/security/oauth_security.py
  auth_service/debug_db_test.py
  auth_service/tests/conftest.py
  auth_service/tests/integration/test_auth_oauth_errors.py
  auth_service/tests/integration/test_oauth_comprehensive_failures.py
  auth_service/tests/integration/test_oauth_flows_sync.py
  auth_service/tests/test_auth_database_manager_missing_method.py
  auth_service/tests/test_auth_service_integration_reliability.py
  auth_service/tests/unit/test_oauth_models.py
  auth_service/tests/unit/test_oauth_state_security.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

refactor(backend): improve core infrastructure and startup flow
  netra_backend/app/auth_integration/auth.py
  netra_backend/app/core/app_factory_route_configs.py
  netra_backend/app/core/app_factory_route_imports.py
  netra_backend/app/core/exceptions_agent.py
  netra_backend/app/core/health/responses.py
  netra_backend/app/core/startup_manager.py
  netra_backend/app/db/clickhouse.py
  netra_backend/app/db/database_manager.py
  netra_backend/app/db/postgres_core.py
  netra_backend/app/db/postgres_session.py
  netra_backend/app/routes/api_v1_compatibility.py
  netra_backend/app/routes/health.py
  netra_backend/app/routes/websocket.py
  netra_backend/app/schemas/Config.py
  netra_backend/app/services/database/health_checker.py
  netra_backend/app/startup_module.py
  netra_backend/app/utils/formatting_utils.py
  netra_backend/app/websocket_core/auth.py
  netra_backend/app/websocket_core/state_synchronizer.py
  netra_backend/app/websocket_core/sync_types.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

feat: improve dev launcher and environment management
  debug_db_connection.py
  debug_db_connection_v2.py
  dev_launcher/isolated_environment.py
  dev_launcher/launcher.py
  dev_launcher/tests/test_environment_source_tracking_comprehensive.py
  dev_launcher/utils.py
  test_agent_supervisor.py
  test_supervisor_simple.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

refactor: improve agent architecture and execution
  netra_backend/app/agents/admin_tool_dispatcher/admin_tool_execution.py
  netra_backend/app/agents/admin_tool_dispatcher/execution_helpers.py
  netra_backend/app/agents/data_sub_agent/clickhouse_client.py
  netra_backend/app/agents/data_sub_agent/data_sub_agent.py
  netra_backend/app/agents/demo_service/core.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

chore: update scripts and utilities
  scripts/check_imports.py
  scripts/compliance/real_test_validator.py
  scripts/deploy_to_gcp.py
  scripts/fix_imports.py
  scripts/generate_frontend_types.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

fix: improve auth service configuration and secret loading
  auth_service/auth_core/config.py
  auth_service/auth_core/secret_loader.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

fix: migrate to multi-part PostgreSQL configuration for staging
  SPEC/database_url_migration.xml
  STAGING_DATABASE_FIX_SUMMARY.md
  STAGING_DATABASE_ISSUES_FIXED.md
  config/.env.template
  dev_launcher/dev_launcher_secrets.py
  dev_launcher/google_secret_manager.py
  dev_launcher/launcher.py
  dev_launcher/secret_config.py
  netra_backend/app/core/configuration/README.md
  netra_backend/app/core/configuration/database.py
  netra_backend/app/core/configuration/secrets.py
  netra_backend/app/core/environment_constants.py
  netra_backend/app/core/secret_manager.py
  netra_backend/app/routes/health.py
  netra_backend/app/services/startup_fixes_integration.py
  scripts/fix_staging_database_url.py
  scripts/migrate_staging_postgres_secrets.py
  scripts/migrate_staging_postgres_secrets_auto.py
  scripts/test_staging_db_direct.py
  scripts/update_postgres_password.py
  scripts/update_postgres_password_sdk.py
  scripts/validate_staging_db_connection.py
  staging_database_url.txt
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

refactor: update scripts for multi-part PostgreSQL configuration
  docs/development/ENVIRONMENT_LOADER.md
  scripts/deploy_to_gcp.py
  scripts/environment_validator.py
  scripts/environment_validator_database.py
  scripts/fetch_secrets_to_env.py
  scripts/unified_test_runner.py
  scripts/update_staging_secrets.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

test: update tests for multi-part PostgreSQL configuration
  dev_launcher/tests/test_database_connector_consistency.py
  dev_launcher/tests/test_database_validation_resilience.py
  dev_launcher/tests/test_database_validation_url_fix.py
  netra_backend/tests/clickhouse/README.md
  netra_backend/tests/conftest.py
  netra_backend/tests/integration/critical_paths/test_auth_failover_scenarios_l4.py
  netra_backend/tests/integration/critical_paths/test_auth_middleware_chain_validation.py
  netra_backend/tests/integration/test_helpers/team_collaboration_base.py
  tests/e2e/test_cold_start_critical_issues.py
  tests/e2e/test_cold_start_fixes_validation.py
  tests/e2e/test_deployment_configuration_validation.py
  tests/unit/test_unified_env_loading.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

fix: eliminate silent configuration fallbacks for critical services
  SPEC/learnings/database_connection_best_practices.xml
  SPEC/learnings/index.xml
  SPEC/learnings/no_silent_fallbacks.xml
  SPEC/learnings/startup.xml
  auth_service/auth_core/config.py
  auth_service/auth_core/core/jwt_handler.py
  auth_service/auth_core/secret_loader.py
  auth_service/auth_core/security/oauth_security.py
  netra_backend/app/core/configuration/database.py
  netra_backend/app/middleware/cors_middleware.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

chore: update environment templates for database configuration
  .env.unified.template
  .secrets
Due: none

test: improve test reliability and environment handling
  auth_service/tests/test_critical_staging_issues.py
  netra_backend/tests/integration/critical_paths/test_basic_system_cold_startup.py
  tests/unit/test_environment_isolation_simple.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

refactor: centralize database URL building logic
  auth_service/auth_core/config.py
  debug_db_connection.py
  netra_backend/app/core/configuration/database.py
  shared/database_url_builder.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

docs: add configuration audit report and database learnings
  CONFIGURATION_AUDIT_REPORT.md
  SPEC/learnings/database_url_centralization.xml
Due: none

fix: update deployment script for database configuration
  scripts/deploy_to_gcp.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

refactor: complete centralization of database URL building with DatabaseURLBuilder
  DATABASE_URL_BUILDER_AUDIT.md
  DATABASE_URL_BUILDER_COMPLIANCE_AUDIT.md
  DATABASE_URL_CENTRALIZATION_AUDIT.md
  DOCKER_DATABASE_CONFIG_AUDIT.md
  SPEC/database_connectivity_architecture.xml
  SPEC/learnings/cloud_sql_url_handling.xml
  SPEC/learnings/database_connection_best_practices.xml
  auth_service/tests/test_password_hashing_basics.py
  dev_launcher/auth_starter.py
  dev_launcher/database_connector.py
  dev_launcher/database_initialization.py
  fix_postgres_password.py
  netra_backend/app/core/error_handlers.py
  netra_backend/app/core/error_handlers/api/api_error_handler.py
  netra_backend/app/core/error_handlers/handler.py
  netra_backend/tests/integration/test_user_logout_security.py
  netra_backend/tests/websocket/test_websocket_basic_connection.py
  netra_backend/tests/websocket/test_websocket_routes_basic.py
  scripts/create_staging_secrets_complete.py
  scripts/environment_validator_database.py
  scripts/fix_staging_database_url.py
  scripts/test_staging_db_direct.py
  scripts/validate_staging_db_connection.py
  shared/database_url_builder.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

fix: standardize auth API endpoints and improve database connectivity
  auth_service/auth_core/database/database_manager.py
  auth_service/tests/integration/test_oauth_state_csrf_vulnerability.py
  auth_service/tests/unit/test_oauth_pkce_validation.py
  dev_launcher/auth_starter.py
  dev_launcher/database_connector.py
  dev_launcher/isolated_environment.py
  frontend/__tests__/auth/auth-test-setup.ts
  frontend/__tests__/auth/useAuth-missing.test.tsx
  frontend/__tests__/mocks/auth-service-mock.ts
  frontend/__tests__/setup/auth-service-setup.ts
  frontend/auth/unified-auth-service.ts
  frontend/lib/unified-api-config.ts
  netra_backend/tests/integration/test_basic_user_signin_chat.py
  netra_backend/tests/websocket/test_websocket_basic_connection.py
  test_connection_fix.py
  tests/integration/test_cross_system_environment_alignment.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

chore: apply linter fixes and formatting corrections
  SPEC/learnings/database_url_centralization.xml
  frontend/__tests__/integration/thread-navigation.test.tsx
  netra_backend/tests/database/test_connection_pool_management.py
  netra_backend/tests/database/test_ssl_configuration.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

docs: add SSOT and architecture documentation
  SPEC/learnings/postgresql_duplication_resolution.xml
  SPEC/shared_component_architecture.xml
  SPEC/ssot_audit_report.xml
  SPEC/ssot_remediation_plan.xml
Due: none

test: add critical auth service failure test coverage
  auth_service/tests/test_critical_oauth_environment_failures.py
  auth_service/tests/test_critical_service_id_configuration_failures.py
  auth_service/tests/test_critical_staging_database_failures.py
  auth_service/tests/test_critical_staging_shutdown_timeouts.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

test: add backend critical and agent unit tests
  netra_backend/tests/critical/test_gcp_staging_clickhouse_config_corruption.py
  netra_backend/tests/critical/test_gcp_staging_database_index_creation_skipped.py
  netra_backend/tests/critical/test_gcp_staging_postgres_health_check_failures.py
  netra_backend/tests/critical/test_gcp_staging_redis_connection_timeouts.py
  netra_backend/tests/unit/agents/data_sub_agent/test_clickhouse_client.py
  netra_backend/tests/unit/agents/data_sub_agent/test_data_validator.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

feat: add shared CORS config and comprehensive test coverage
  shared/cors_config.py
  tests/e2e/conftest.py
  tests/e2e/test_critical_auth_service_cascade_failures.py
  tests/e2e/test_frontend_port_conflict_resolution.py
  tests/integration/test_frontend_port_allocation_fix.py
  tests/unit/scripts/test_deploy_to_gcp.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

docs: add SPEC learnings and circuit breaker analysis
  SPEC/analysis/circuit_breaker_feature_matrix.xml
  SPEC/learnings/critical_staging_issues_test_creation.xml
  SPEC/learnings/frontend_port_conflict_resolution.xml
Due: none
