Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation, protect-staging-config

Path conditions:
  new-file-compliance: any of: \.(py|ts|tsx)$
  edited-lines-check: any of: \.(py|ts|tsx)$
  prevent-new-relative-imports: any of: \.py$
  main-code-quality: any of: ^(netra_backend/app|auth_service/auth_core|frontend/src)/.*\.(py|ts|tsx)$
  test-file-leniency: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  new-duplicate-prevention: any of: \.py$
  check-environment-isolation: any of: (test_.*\.py|.*_test\.py|tests/.*\.py|conftest\.py)$
  protect-staging-config: any of: netra_backend/app/schemas/config\.py$

ULTIMATE(COMPLETION): factory integration and seamless migration support
  netra_backend/app/agents/supervisor/agent_registry.py
  netra_backend/app/services/user_execution_context.py
  test_simple_integration.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

final(cleanup): reorganize test structure and enhance dependencies
  debug_test.py
  netra_backend/app/dependencies.py
  test_simple_integration.py
  tests/netra_backend/agents/test_agent_isolation.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

perfection(ultimate): final test enhancement and cleanup fixtures
  tests/integration/test_split_architecture_integration.py
  tests/mission_critical/conftest_enhanced_cleanup.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

FINAL(ABSOLUTE): perfect migration logic with fallback registry detection
  netra_backend/app/agents/supervisor/agent_registry.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

COMPLETION(ABSOLUTE-PERFECTION): comprehensive factory dependencies and phase completion
  PHASE_1_ITEM_3_COMPLETION_REPORT.md
  netra_backend/app/agents/supervisor/execution_context_manager.py
  netra_backend/app/dependencies.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

ULTIMATE(END): fixture cleanup verification test completes perfection
  tests/mission_critical/test_fixture_cleanup_verification.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(agents): add deprecation warnings and migration support to ExecutionEngine
  netra_backend/app/agents/supervisor/execution_engine.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

feat(agents): implement RequestScopedExecutionEngine for user isolation
  netra_backend/app/agents/supervisor/request_scoped_execution_engine.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test(integration): add Alpine container switching and Docker validation tests
  tests/integration/test_alpine_regular_switching.py
  tests/mission_critical/test_docker_unified_fixes_validation.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs: add WebSocket fixture cleanup report
  WEBSOCKET_FIXTURE_CLEANUP_REPORT.md
Due: none

refactor(dependencies): implement request-scoped dependency injection
  netra_backend/app/dependencies.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

feat(agents): add ExecutionContextManager for request-scoped execution
  netra_backend/app/agents/supervisor/execution_context_manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

fix(docker): enhance UnifiedDockerManager with Alpine container support
  test_framework/unified_docker_manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

feat(websocket): implement UserWebSocketEmitter and EventRouter for isolation
  netra_backend/app/services/user_websocket_emitter.py
  netra_backend/app/services/websocket_event_router.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

feat(scripts): add Docker fixes verification script
  scripts/verify_docker_fixes.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

docs: add comprehensive reports for Docker fixes and phase completion
  DOCKER_P0_P1_FIXES_SUMMARY.md
  PHASE_1_ITEM_2_COMPLETION_REPORT.md
  tests/integration/README_alpine_regular_switching.md
Due: none

feat(docker): add Alpine container support for 50% performance improvement
  ALPINE_CONTAINERS_IMPLEMENTATION_COMPLETE.md
  ALPINE_REGRESSION_TEST_REPORT.md
  docs/alpine_containers.md
  docs/alpine_migration_guide.md
Due: none

feat(agents): implement request-scoped dependency injection pattern
  docs/REQUEST_SCOPED_DEPENDENCY_INJECTION.md
  netra_backend/app/agents/request_scoped_tool_dispatcher.py
  netra_backend/app/agents/tool_executor_factory.py
  netra_backend/tests/agents/test_request_scoped_tool_dispatcher.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

feat(database): implement session isolation and context management
  DATABASE_SESSION_ISOLATION_COMPLETE.md
  netra_backend/app/database/session_manager.py
  tests/netra_backend/database/test_session_isolation.py
  tests/unit/test_session_isolation.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

feat(websocket): implement user isolation and security audit
  netra_backend/app/routes/websocket_factory.py
  netra_backend/app/services/websocket_connection_pool.py
  netra_backend/app/services/websocket_security_audit.py
  netra_backend/tests/services/test_websocket_isolation.py
  tests/test_websocket_user_isolation_security.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(supervisor): implement user-scoped execution engine architecture
  netra_backend/app/agents/supervisor/execution_engine.py
  netra_backend/app/agents/supervisor/execution_engine_factory.py
  netra_backend/app/agents/supervisor/execution_state_store.py
  netra_backend/app/agents/supervisor/pipeline_executor.py
  netra_backend/app/agents/supervisor/state_checkpoint_manager.py
  netra_backend/app/agents/supervisor/state_manager_core.py
  netra_backend/app/agents/supervisor/state_recovery_manager.py
  netra_backend/app/agents/supervisor/user_execution_engine.py
  tests/netra_backend/agents/test_execution_isolation.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test: add migration validation and test infrastructure updates
  junit.xml
  test_basic_migration.py
  test_singleton_migration_validation.py
  tests/unified_test_runner.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs: update architecture docs with Alpine containers and isolation patterns
  CLAUDE.md
  DEFINITION_OF_DONE_CHECKLIST.md
  docs/docker_orchestration.md
  docs/testing/real_service_testing_guide.md
Due: none

docs: add phase 3 remediation reports and learnings
  AUDIT_REPORT_ALPINE_CONTAINERS.md
  PHASE3_ITEM1_REMEDIATION_REPORT.md
  SPEC/learnings/singleton_removal_phase2_20250902_084436.xml
Due: none

refactor(agents): update core agents for request-scoped isolation
  netra_backend/app/agents/base_agent.py
  netra_backend/app/agents/chat_orchestrator/model_cascade.py
  netra_backend/app/agents/corpus_admin/agent.py
  netra_backend/app/agents/supervisor_consolidated.py
  netra_backend/app/agents/tool_dispatcher_core.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(core): integrate request-scoped dependencies throughout system
  netra_backend/app/dependencies.py
  netra_backend/app/models/user_execution_context.py
  netra_backend/app/orchestration/agent_execution_registry.py
  netra_backend/app/routes/agent_route.py
  netra_backend/app/services/agent_websocket_bridge.py
  netra_backend/app/startup_module_deterministic.py
  netra_backend/app/websocket_core/manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test: update concurrent user isolation mission-critical tests
  tests/mission_critical/test_concurrent_user_isolation.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs: add critical issues audit and phase 1 implementation reports
  CRITICAL_ISSUES_AUDIT_REPORT_20250902.md
  PHASE1_IMPLEMENTATION_REPORT.md
Due: none

docs: add Docker backend Five Whys bug analysis report
  DOCKER_BACKEND_FIVE_WHYS_BUG_REPORT.md
Due: none

🔧 fix(test-framework): resolve merge conflicts in unified docker manager
  scripts/test_init_db.sql
  shared/port_discovery.py
  test_framework/conftest_real_services.py
  test_framework/docker_port_discovery.py
  test_framework/environment_isolation.py
  test_framework/isolated_environment_manager.py
  test_framework/repositories/test_repository_factory.py
  test_framework/test_config.py
  tests/conftest.py
  tests/e2e/integration/test_database_user_sync.py
  tests/e2e/test_supervisor_real_llm_integration.py
  tests/integration/test_database_auth_logging_focused.py
  tests/integration/test_database_auth_logging_issues.py
  tests/integration/test_database_auth_standalone.py
  tests/integration/test_e2e_service_orchestration_integration.py
  tests/integration/test_oauth_token_flow.py
  tests/unified_test_runner.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

fix: ensure CORS headers are added to all responses including errors
  netra_backend/app/middleware/cors_fix_middleware.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

Create CLAUDE.md
  CLAUDE.md
Due: none

Update CLAUDE.md
  CLAUDE.md
Due: none

docs: update architecture and migration documentation
  CRITICAL_SECURITY_IMPLEMENTATION_SUMMARY.md
  README.md
  TOOL_DISPATCHER_MIGRATION_GUIDE.md
  WEBSOCKET_MODERNIZATION_REPORT.md
  docs/AGENT_SYSTEM_ARCHITECTURE.md
  docs/CLICKHOUSE_HEALTH_CHECK_DEPENDENCY_FIX.md
  docs/index.md
Due: none

build: add optimized Docker and pytest infrastructure
  build_test_images.sh
  config/docker_environments.yaml
  docker-compose.alpine-test.yml
  docker-compose.pytest.yml
  docker/pytest.collection.Dockerfile
  docker/pytest.execution.Dockerfile
  docker/pytest.stress.Dockerfile
  docker_optimization.md
  dockerfile_optimization.md
  pytest-collection.ini
  pytest-docker.ini
  pytest.ini
  pytest_memory_plugin.py
  pytest_optimization.md
  scripts/pytest_resource_monitor.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

feat: implement comprehensive WebSocket monitoring system
  WEBSOCKET_MONITORING_IMPLEMENTATION_SUMMARY.md
  netra_backend/app/monitoring/websocket_alert_system.py
  netra_backend/app/monitoring/websocket_dashboard_config.py
  netra_backend/app/monitoring/websocket_health_checks.py
  netra_backend/app/monitoring/websocket_logging_enhanced.py
  netra_backend/app/monitoring/websocket_monitoring_integration.py
  netra_backend/app/monitoring/websocket_notification_monitor.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor: modernize agent system with Phase 1 patterns
  netra_backend/app/agents/actions_to_meet_goals_sub_agent.py
  netra_backend/app/agents/data_sub_agent/core/data_analysis_core.py
  netra_backend/app/agents/data_sub_agent/data_sub_agent.py
  netra_backend/app/agents/enhanced_execution_agent.py
  netra_backend/app/agents/goals_triage_sub_agent.py
  netra_backend/app/agents/optimizations_core_sub_agent.py
  netra_backend/app/agents/reporting_sub_agent.py
  netra_backend/app/agents/supervisor_consolidated.py
  netra_backend/app/agents/synthetic_data/core.py
  netra_backend/app/agents/synthetic_data_batch_processor.py
  netra_backend/app/agents/synthetic_data_generation_flow.py
  netra_backend/app/agents/synthetic_data_generator.py
  netra_backend/app/agents/synthetic_data_sub_agent.py
  netra_backend/app/agents/synthetic_data_sub_agent_modern.py
  netra_backend/app/agents/tool_event_bus.py
  netra_backend/app/agents/triage_sub_agent.py
  netra_backend/app/agents/triage_sub_agent/agent.py
  netra_backend/app/agents/unified_tool_execution.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention
