Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation, protect-staging-config

new-file-compliance:
  name: New File Standards (strict for new files only)
  entry: python scripts/permissive_hooks/check_new_files.py
  language: system
  stages:
  - commit
  description: Applies strict standards ONLY to newly created files

edited-lines-check:
  name: Modified Lines Check (incremental)
  entry: python scripts/permissive_hooks/check_edited_lines.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Validates only the lines being modified, not the entire file

prevent-new-relative-imports:
  name: Prevent New Relative Imports
  entry: python scripts/permissive_hooks/check_new_imports.py --warn-only
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Blocks new relative imports, warns about existing ones

main-code-quality:
  name: Main Codebase Quality (app > tests)
  entry: python scripts/permissive_hooks/prioritized_check.py --priority app
  language: system
  stages:
  - commit
  description: Prioritizes main application code quality over test files

test-file-leniency:
  name: Test File Check (permissive)
  entry: python scripts/permissive_hooks/test_check_lenient.py --max-lines 1000
  language: system
  stages:
  - commit
  description: Relaxed limits for test files - focus on functionality over form

new-duplicate-prevention:
  name: Prevent New Duplicates (incremental)
  entry: python scripts/permissive_hooks/check_new_duplicates.py --threshold 0.9
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents introduction of NEW duplicate patterns only

check-environment-isolation:
  name: Environment Isolation Check
  entry: python scripts/check_environment_isolation.py --strict
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents direct os.environ access in test files - use IsolatedEnvironment instead

protect-staging-config:
  name: Staging Configuration Protection
  entry: python scripts/protect_staging_config.py
  language: system
  stages:
  - commit
  pass_filenames: false
  always_run: false
  description: Prevents ClickHouse configs from defaulting to localhost which breaks staging

refactor(test-framework): migrate to unified Docker management system
  test_framework/centralized_docker_manager.py.deprecated
  test_framework/conftest_real_services.py
  test_framework/cypress_runner.py
  test_framework/service_orchestrator.py.deprecated
  test_framework/unified_docker_manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(frontend): update frontend tests and chat components
  frontend/__tests__/chat/auth-connection.test.tsx
  frontend/__tests__/chat/chatUIUXCore.test.tsx
  frontend/__tests__/chat/message-content-rendering.test.tsx
  frontend/__tests__/chat/message-exchange.test.tsx
  frontend/__tests__/components/ChatSidebar/edge-cases.test.tsx
  frontend/__tests__/components/chat/send-flow.test.tsx
  frontend/__tests__/components/chat/streaming.test.tsx
  frontend/components/chat/MainChat.tsx
  frontend/components/demo/DemoChat.components.tsx
Due: new-file-compliance, edited-lines-check

test(cypress): enhance E2E test coverage and reliability
  frontend/cypress/e2e/auth.cy.ts
  frontend/cypress/e2e/basic-ui-test.cy.ts
  frontend/cypress/e2e/chat.cy.ts
  frontend/cypress/e2e/file-references-simple.cy.ts
  frontend/cypress/e2e/performance-metrics-data.cy.ts
  frontend/cypress/e2e/roi-calculator-inputs.cy.ts
  frontend/cypress/e2e/simple-websocket.cy.ts
  frontend/cypress/e2e/synthetic-data-performance.cy.ts
  frontend/cypress/e2e/thread-basic-operations.cy.ts
  frontend/cypress/e2e/utils/chat-test-helpers.ts
  frontend/cypress/e2e/websocket-resilience.cy.ts
  frontend/cypress/fixtures/mock-backend.js
Due: new-file-compliance, edited-lines-check

docs: add critical fix reports and compliance audits
  CHAT_IS_KING_COMPLIANCE_AUDIT.md
  CYPRESS_TEST_UPGRADE_FINAL_REPORT.md
  INFRASTRUCTURE_FIX_REPORT.md
  WEBSOCKET_EVENTS_BUG_FIX_REPORT.md
Due: none

fix(backend): update agent service core for improved WebSocket handling
  netra_backend/app/services/agent_service_core.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

feat(scripts): add service management and test utilities
  SPEC/learnings/docker_centralized_management.xml
  scripts/docker_cleanup.py
  scripts/start_backend_services.py
  scripts/test_parallel_docker_manager.py
  scripts/test_service_orchestration.py
  scripts/unified_test_runner.py
  test_websocket_events_fix.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs(architecture): update WebSocket implementation documentation
  docs/architecture/WEBSOCKET_IMPLEMENTATION.md
Due: none

test(staging): enhance staging environment test coverage
  tests/e2e/staging/test_auth_routes.py
  tests/e2e/staging/test_environment_configuration.py
  tests/e2e/staging/test_oauth_configuration.py
  tests/e2e/staging/test_secret_key_validation.py
  tests/e2e/staging/test_security_config_variations.py
  tests/staging/test_staging_endpoints.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(e2e): update E2E tests for real service integration
  tests/e2e/test_agent_pipeline_real.py
  tests/e2e/test_oauth_redirect_uri_configuration.py
  tests/e2e/test_staging_fallback_database_failures.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(integration): enhance database connectivity validation
  tests/integration/test_comprehensive_database_connectivity_validation.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs: add final remediation and alignment reports
  CHAT_IS_KING_REMEDIATION_COMPLETE.md
  WEBSOCKET_ALIGNMENT_REPORT.md
Due: none

feat(backend): add orchestration module structure
  netra_backend/app/orchestration/__init__.py
  netra_backend/app/orchestration/websocket_agent_orchestrator.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

Update test_staging_service_initialization_regression.py
  tests/e2e/integration/test_staging_service_initialization_regression.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test: comprehensive E2E and integration test improvements
  tests/e2e/frontend/test_frontend_auth_complete_journey.py
  tests/e2e/integration/test_agent_pipeline_real.py
  tests/e2e/integration/test_backend_frontend_state_synchronization.py
  tests/e2e/integration/test_concurrent_llm_execution.py
  tests/e2e/integration/test_database_connections.py
  tests/e2e/integration/test_dev_launcher_startup_complete.py
  tests/e2e/integration/test_session_persistence_complete.py
  tests/e2e/integration/test_staging_startup_core.py
  tests/e2e/staging_test_helpers.py
  tests/e2e/test_auth_e2e_flow.py
  tests/e2e/test_cors_comprehensive_e2e.py
  tests/e2e/test_cors_dynamic_ports.py
  tests/e2e/test_critical_initialization.py
  tests/e2e/test_database_postgres_connectivity_e2e.py
  tests/e2e/test_dev_launcher_real_startup.py
  tests/e2e/test_oauth_google_login_500_error.py
  tests/e2e/test_quality_gates.py
  tests/e2e/test_service_launcher.py
  tests/e2e/test_staging_e2e_comprehensive.py
  tests/integration/test_comprehensive_database_connectivity_validation.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

fix(tests): add missing os import in enforce_real_services
  tests/e2e/enforce_real_services.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

fix(tests): replace direct os.environ access with IsolatedEnvironment
  tests/e2e/test_service_launcher.py
  tests/e2e/test_staging_e2e_comprehensive.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs(websocket): add comprehensive learnings and prevention strategies
  SPEC/learnings/index.xml
  SPEC/learnings/websocket_agent_integration_critical.xml
  SPEC/learnings/websocket_injection_fix_comprehensive.xml
  SPEC/learnings/websocket_learnings_summary.md
  SPEC/learnings/websocket_silent_failure_prevention_masterclass.xml
  SPEC/learnings/websocket_silent_failures.xml
Due: none

feat(test-framework): enhance service availability and real services management
  scripts/unified_test_runner.py
  test_framework/centralized_docker_manager.py
  test_framework/real_services.py
  test_framework/service_availability.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(shared): improve configuration and secret management
  shared/config_builder_base.py
  shared/jwt_secret_manager.py
  shared/port_discovery.py
  shared/secret_manager_builder.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

test(backend): improve test utilities and WebSocket test coverage
  netra_backend/app/core/logging_config.py
  netra_backend/tests/test_utils.py
  netra_backend/tests/websocket/test_websocket_auth_edge_cases.py
  tests/e2e/critical/test_dev_launcher_critical_path.py
  tests/e2e/enterprise_sso_helpers.py
  tests/integration/test_l4_critical_core_integration.py
  tests/integration/test_websocket_reconnection_robust.py
  tests/integration/test_websocket_token_refresh_bulletproof.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

fix(startup): correct WebSocket notifier validation check
  docs/CYPRESS_PARALLEL_EXECUTION.md
  frontend/cypress-parallel.js
  frontend/cypress.parallel.config.ts
  frontend/package.json
  netra_backend/app/startup_module_deterministic.py
  scripts/cypress_parallel_runner.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

docs: update master index and system status reports
  LLM_MASTER_INDEX.md
  docs/configuration_architecture.md
  reports/DEFINITION_OF_DONE_CHECKLIST.md
  reports/MASTER_WIP_STATUS.md
Due: none

test: add test infrastructure and helpers
  TEST_FIX_REPORT.md
  tests/helpers/README.md
  tests/helpers/__init__.py
  tests/helpers/auth_test_utils.py
  tests/test_docker_infrastructure.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

chore(frontend): update package-lock.json
  frontend/package-lock.json
Due: none

fix(validation): correct middleware and monitoring validation
  netra_backend/app/core/startup_validation.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

feat(backend): enhance agent service core and add WebSocket bridge
  netra_backend/app/services/agent_service_core.py
  netra_backend/app/services/agent_websocket_bridge.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(testing): consolidate service orchestration and Docker management
  test_framework/unified_docker_manager.py
  tests/e2e/agent_startup_test_utils.py
  tests/e2e/integration/service_orchestrator.py
  tests/e2e/service_orchestrator.py
  tests/e2e/unified_service_orchestrator.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs(spec): add WebSocket agent bridge implementation learnings
  SPEC/learnings/agent_websocket_bridge_implementation.xml
  SPEC/learnings/websocket_agent_bridge_analysis.md
Due: none

test(integration): add database connectivity and JWT config validation
  tests/integration/FIXES/test_comprehensive_database_connectivity_validation_report.md
  tests/integration/FIXES/test_jwt_config_builder_critical_report.md
  verify_env_fixes.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

docs(reports): add comprehensive system audit and remediation reports
  CRITICAL_CHECKS_REPORT.md
  DOCKER_SSOT_AUDIT_REPORT.md
  DOCKER_SSOT_REMEDIATION_PLAN.md
  E2E_ENVIRONMENT_MIGRATION_COMPLETE.md
  E2E_ENVIRONMENT_MIGRATION_COMPLETE_REPORT.md
  LEGACY_WEBSOCKET_AGENT_CLEANUP_REPORT.md
  PREDEPLOYMENT_CHECK_REPORT.md
  STAGING_AUDIT_REPORT.md
  TEAM_UPDATE_REPORT_20250901.md
  WEBSOCKET_AGENT_ORCHESTRATOR_MIGRATION_PLAN.md
Due: none

test(backend): add WebSocket bridge unit tests
  netra_backend/tests/services/test_agent_websocket_bridge.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(auth): migrate tests to IsolatedEnvironment
  auth_service/test_auth_direct.py
  auth_service/tests/test_environment_loading.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(test-launcher): migrate environment manager to IsolatedEnvironment
  test_launcher/isolation/environment.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs(spec): finalize WebSocket bridge implementation learnings
  SPEC/learnings/agent_websocket_bridge_implementation.xml
  SPEC/learnings/websocket_agent_integration_critical.xml
Due: none

feat(test-framework): enhance Docker introspection and management
  test_framework/docker_introspection.py
  test_framework/unified_docker_manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

fix(tests): correct syntax error in database test setup
  tests/e2e/integration/test_database_connections.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

fix(frontend): correct type exports test syntax and imports
  frontend/__tests__/startup/type-exports.test.tsx
Due: new-file-compliance, edited-lines-check

Path conditions:
  new-file-compliance: any of: \.(py|ts|tsx)$
  edited-lines-check: any of: \.(py|ts|tsx)$
  prevent-new-relative-imports: any of: \.py$
  main-code-quality: any of: ^(netra_backend/app|auth_service/auth_core|frontend/src)/.*\.(py|ts|tsx)$
  test-file-leniency: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  new-duplicate-prevention: any of: \.py$
  check-environment-isolation: any of: (test_.*\.py|.*_test\.py|tests/.*\.py|conftest\.py)$
  protect-staging-config: any of: netra_backend/app/schemas/config\.py$
