Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$

fix: enhance core system stability and JWT validation
  netra_backend/app/core/logging_formatters.py
  netra_backend/app/core/startup_validation_fix.py
  netra_backend/app/monitoring/staging_health_monitor.py
  netra_backend/app/smd.py
  netra_backend/app/startup_module.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: enhance shared JWT secret manager with robust validation
  shared/jwt_secret_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: enhance WebSocket and integration test coverage
  netra_backend/tests/database/test_migration_system.py
  netra_backend/tests/e2e/websocket_core/test_websocket_agent_communication_e2e.py
  netra_backend/tests/integration/agent_execution/test_agent_communication_handoffs.py
  netra_backend/tests/integration/agent_execution/test_websocket_agent_events.py
  netra_backend/tests/integration/test_agent_context_isolation_integration_cycle2.py
  netra_backend/tests/integration/test_websocket_connection_management_integration_cycle2.py
  netra_backend/tests/unit/test_isolated_environment_usage_validation.py
  netra_backend/tests/unit/test_websocket_connection_lifecycle_cycle2.py
  tests/integration/test_startup_system_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add comprehensive config validation and SSOT compliance tests
  SPEC/learnings/ssot_duplicate_agent_registry_violation_fix_20250908.xml
  netra_backend/tests/integration/test_config_environment_service_integration.py
  netra_backend/tests/integration/test_config_validation_cascade_prevention.py
  netra_backend/tests/unit/test_config_regression_prevention_algorithms.py
  netra_backend/tests/unit/test_smd.py
  netra_backend/tests/unit/test_startup_module_enhanced.py
  tests/integration/test_configuration_environment_consistency.py
  tests/integration/test_user_isolation_factory_pattern_regression.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: update pytest configuration and test execution results
  junit.xml
  pytest.ini
Due: none

feat: add frontend test infrastructure with integration testing
  frontend/tests/__init__.py
  frontend/tests/conftest.py
  frontend/tests/integration/__init__.py
  frontend/tests/integration/test_frontend_backend_integration.py
  frontend/tests/integration/test_frontend_routing_auth.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add comprehensive analysis reports and bug fix documentation
  .claude/commands/refresh-upate-tests.md
  COMPREHENSIVE_MODULE_IMPORT_ANALYSIS_REPORT.md
  FRONTEND_INTEGRATION_TESTS_COMPLETION_REPORT.md
  STAGING_CONNECTIVITY_REPORT.md
  STAGING_TEST_REPORT_PYTEST.md
  reports/INTEGRATION_TEST_REMEDIATION_COMPLETE_REPORT.md
  reports/UNIT_TEST_REMEDIATION_REPORT_20250908.md
  reports/bugs/INTEGRATION_TEST_IMPORT_ERRORS_BUG_FIX_REPORT.md
  reports/bugs/SMD_JWT_VALIDATION_DETERMINISTIC_FALLBACK_BUGFIX_20250908.md
  reports/bugs/STAGING_503_SERVICE_UNAVAILABLE_FIVE_WHYS_ANALYSIS.md
  reports/bugs/USER_EXECUTION_CONTEXT_CREATE_CHILD_PARAMETER_MISMATCH_BUGFIX_20250908.md
Due: docker-force-flag-prohibition

docs: update CLAUDE.md with enhanced guidelines and critical references
  CLAUDE.md
Due: docker-force-flag-prohibition

feat: comprehensive analytics service integration tests with SSOT compliance
  analytics_service/analytics_core/services/event_processor.py
  analytics_service/tests/conftest.py
  analytics_service/tests/integration/test_analytics_data_pipeline_integration.py
  analytics_service/tests/integration/test_simple_analytics_validation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: fix model import system for database table validation
  netra_backend/app/startup_module.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: add PostgreSQL-compatible migration for missing database tables
  netra_backend/app/alembic/versions/882759db46ce_add_missing_tables_for_agent_executions_.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add comprehensive Five Whys analysis and cycle completion report
  reports/bugs/STAGING_503_SERVICE_UNAVAILABLE_FIVE_WHYS_ANALYSIS.md
  reports/testing/ULTIMATE_TEST_DEPLOY_LOOP_CYCLE_1_COMPLETE_REPORT.md
Due: docker-force-flag-prohibition

feat: add comprehensive startup module unit tests with business value validation
  netra_backend/tests/e2e/test_startup_complete_e2e.py
  netra_backend/tests/e2e/test_startup_performance_e2e.py
  netra_backend/tests/integration/test_startup_smd_integration.py
  netra_backend/tests/mission_critical/test_startup_websocket_events.py
  netra_backend/tests/unit/test_smd.py
  reports/testing/STARTUP_SMD_TEST_SUITE_REFRESH_REPORT_20250908.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: frontend build configuration for ultimate-test-deploy-loop
  SPEC/learnings/domain_configuration_static_domains_20250908.xml
  SPEC/learnings/frontend_build_tailwind_postcss_20250908.xml
  frontend/package.json
  frontend/postcss.config.mjs
Due: none

feat: add comprehensive SMD unit test suites for startup reliability
  netra_backend/tests/unit/core/test_app_state_contracts_comprehensive.py
  netra_backend/tests/unit/test_startup_module_smd_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: resolve pytest fixture signature issues in SupplyResearcherAgent tests
  netra_backend/app/agents/supply_researcher/agent.py
  netra_backend/tests/agents/test_supply_researcher_agent_core.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: resolve MagicMock await expression errors in integration tests
  SPEC/learnings/index.xml
  SPEC/learnings/redis_terraform_instance_migration_20250908.xml
  netra_backend/tests/clickhouse/test_query_correctness.py
  netra_backend/tests/integration/agents/supervisor/test_agent_execution_core_enhanced_integration.py
  reports/bugs/INTEGRATION_TESTS_MAGICMOCK_ASYNC_FIX_20250908.md
  shared/redis_configuration_builder.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: comprehensive system stabilization and test suite improvements
  STAGING_TEST_REPORT_PYTEST.md
  auth_service/tests/conftest.py
  coverage.json
  coverage.xml
  junit.xml
  netra_backend/app/core/unified_id_manager.py
  netra_backend/app/database/request_scoped_session_factory.py
  netra_backend/app/services/agent_websocket_bridge.py
  netra_backend/app/smd.py
  netra_backend/tests/clickhouse/test_performance_edge_cases.py
  netra_backend/tests/integration/performance/test_comprehensive_performance_integration.py
  netra_backend/tests/integration/test_websocket_authentication_flows_comprehensive.py
  netra_backend/tests/integration/websocket/test_websocket_agent_events_integration_comprehensive.py
  netra_backend/tests/integration/websocket/test_websocket_connection_authentication.py
  netra_backend/tests/integration/websocket/test_websocket_error_handling.py
  netra_backend/tests/unit/core/test_websocket_message_handler_comprehensive.py
  reports/bugs/STARTUP_FAILURE_FIVE_WHYS_ANALYSIS_20250908.md
  reports/bugs/WEBSOCKET_AUTH_NO_TOKEN_FIVE_WHYS_ANALYSIS_PERSISTENT_20250908.md
  reports/system_startup_test_execution_report.md
  test_framework/ssot/websocket.py
  tests/e2e/performance/test_comprehensive_performance_e2e.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: WebSocket async/await coroutine error causing staging auth failures
  netra_backend/app/agents/example_message_processor.py
  netra_backend/app/agents/synthetic_data_progress_tracker.py
  netra_backend/app/core/backend_environment.py
  netra_backend/app/core/interfaces_data.py
  netra_backend/app/core/unified_id_manager.py
  netra_backend/app/dependencies.py
  netra_backend/app/routes/agents_execute.py
  netra_backend/app/routes/utils/thread_title_generator.py
  netra_backend/app/routes/websocket.py
  netra_backend/app/routes/websocket_factory.py
  netra_backend/app/services/agent_service_core.py
  netra_backend/app/services/agent_websocket_bridge.py
  netra_backend/app/services/corpus/clickhouse_operations.py
  netra_backend/app/services/generation_job_manager.py
  netra_backend/app/services/message_handlers.py
  netra_backend/app/services/message_processing.py
  netra_backend/app/services/thread_service.py
  netra_backend/app/services/user_execution_context.py
  netra_backend/app/services/websocket/message_handler.py
  netra_backend/app/services/websocket/message_queue.py
  netra_backend/app/services/websocket/quality_alert_handler.py
  netra_backend/app/services/websocket/quality_manager.py
  netra_backend/app/services/websocket/quality_message_router.py
  netra_backend/app/services/websocket/quality_metrics_handler.py
  netra_backend/app/services/websocket/quality_report_handler.py
  netra_backend/app/services/websocket/quality_validation_handler.py
  netra_backend/app/websocket_core/__init__.py
  netra_backend/app/websocket_core/agent_handler.py
  netra_backend/app/websocket_core/handlers.py
  netra_backend/app/websocket_core/reconnection_handler.py
  netra_backend/app/websocket_core/unified_init.py
  netra_backend/app/websocket_core/websocket_manager_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: comprehensive WebSocket failure analysis and SSOT compliance audit
  reports/ssot_compliance_audit_websocket_20250908.md
  reports/websocket_five_whys_analysis_20250908.md
Due: docker-force-flag-prohibition

feat: add comprehensive unit test coverage for websocket and auth startup SSOT classes
  netra_backend/tests/unit/core/test_auth_startup_validator_comprehensive_enhanced.py
  netra_backend/tests/unit/core/test_websocket_message_handler_comprehensive.py
  netra_backend/tests/unit/websocket_core/test_websocket_manager_factory_comprehensive.py
  reports/coverage/UNIT_TEST_COVERAGE_100_PERCENT_MISSION.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: comprehensive WebSocket test suite with CLAUDE.md compliance
  reports/STAGING_E2E_TEST_RESULTS_20250908.md
  reports/websocket_test_refresh_progress_20250908.md
  tests/e2e/staging/test_priority1_critical.py
  tests/e2e/test_websocket_agent_event_sequence_authenticated.py
  tests/e2e/test_websocket_business_value_validation_authenticated.py
  tests/e2e/test_websocket_multi_user_concurrent_authenticated.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: add comprehensive WebSocket SSOT unit tests for 100% coverage
  netra_backend/tests/unit/websocket/test_message_serialization.py
  netra_backend/tests/unit/websocket/test_unified_websocket_manager.py
  netra_backend/tests/unit/websocket/test_websocket_notifier.py
  reports/bugs/WEBSOCKET_TEST_TIMEOUT_ROOT_CAUSE_ANALYSIS_20250908.md
  reports/staging_test_execution_results_20250908.md
  tests/e2e/staging/test_priority1_critical.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: add comprehensive Auth SSOT unit tests for security and performance
  auth_service/tests/integration/test_multi_environment_oauth_comprehensive.py
  auth_service/tests/unit/test_auth_environment_performance_comprehensive.py
  auth_service/tests/unit/test_oauth_provider_security_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: update unit test coverage report with WebSocket and Auth achievements
  reports/coverage/UNIT_TEST_COVERAGE_100_PERCENT_MISSION.md
Due: docker-force-flag-prohibition

feat: implement WebSocket Event Routing type safety remediation
  netra_backend/app/websocket_core/protocols.py
  netra_backend/app/websocket_core/unified_manager.py
  netra_backend/app/websocket_core/utils.py
  netra_backend/app/websocket_core/websocket_manager_factory.py
  netra_backend/tests/integration/test_websocket_event_routing_multi_user_integration_failures.py
  netra_backend/tests/unit/websocket/test_websocket_event_routing_protocol_contract_violations.py
  netra_backend/tests/unit/websocket/test_websocket_event_routing_type_unit_failure_suite.py
  tests/e2e/test_websocket_event_routing_e2e_cross_user_contamination.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: add comprehensive user context isolation test suite
  netra_backend/tests/unit/tool_dispatcher/test_tool_dispatcher_user_isolation.py
  netra_backend/tests/unit/user_isolation/test_child_context_inheritance_isolation.py
  netra_backend/tests/unit/user_isolation/test_concurrent_multi_user_isolation.py
  netra_backend/tests/unit/user_isolation/test_factory_user_context_isolation.py
  netra_backend/tests/unit/websocket/test_websocket_event_user_isolation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: resolve frontend build import and export errors for deployment
  frontend/types/backend_schema_tools.ts
  frontend/types/domains/messages.ts
  frontend/types/domains/tools.ts
  frontend/types/shared/base.ts
  frontend/utils/unique-id-generator.ts
  reports/test_creation/USER_CONTEXT_TEST_SUITE_CREATION_REPORT_20250908.md
Due: architecture-compliance, file-size-limit, type-safety-check, docker-force-flag-prohibition

fix: resolve SessionMetrics import error in session management
  shared/session_management/user_session_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: Add comprehensive logging and debugging test suite
  netra_backend/tests/integration/logging/test_cross_service_log_correlation.py
  netra_backend/tests/integration/logging/test_error_propagation_gcp_integration.py
  netra_backend/tests/integration/logging/test_multi_user_logging_isolation.py
  netra_backend/tests/integration/logging/test_websocket_logging_integration.py
  netra_backend/tests/unit/logging/test_correlation_id_generation.py
  netra_backend/tests/unit/logging/test_debug_utilities_completeness.py
  netra_backend/tests/unit/logging/test_gcp_error_integration_gap.py
  netra_backend/tests/unit/logging/test_log_formatter_effectiveness.py
  reports/testing/LOGGING_TEST_SUITE_IMPLEMENTATION_REPORT.md
  tests/e2e/logging/test_agent_execution_logging_e2e.py
  tests/e2e/logging/test_end_to_end_logging_completeness.py
  tests/e2e/logging/test_gcp_error_reporting_e2e.py
  tests/e2e/logging/test_production_debugging_scenarios.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Update WebSocket auth test to use SSOT-compliant fixture
  netra_backend/tests/integration/test_websocket_authentication_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: comprehensive ID validation and SSOT test suite implementation
  netra_backend/tests/e2e/test_multi_user_id_isolation.py
  netra_backend/tests/integration/test_id_persistence_isolation.py
  netra_backend/tests/integration/test_websocket_id_routing_integrity.py
  netra_backend/tests/unit/test_real_type_validation_scan.py
  netra_backend/tests/unit/test_strongly_typed_id_validation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: resolve WebSocket Factory SSOT validation failures in GCP staging
  netra_backend/app/websocket_core/websocket_manager_factory.py
  reports/STAGING_E2E_TEST_RESULTS_20250908.md
  reports/system_stability_validation_20250908.md
  reports/testing/ID_GETTERS_CREATION_SSOT_TEST_IMPLEMENTATION_REPORT.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Add comprehensive SessionMetrics SSOT fix documentation
  reports/SESSIONMETRICS_SSOT_VALIDATION_REPORT.md
  reports/bugs/SESSIONMETRICS_SSOT_CRITICAL_FIX_REPORT_20250908.md
Due: docker-force-flag-prohibition

fix: ultra-defensive GCP staging environment detection for WebSocket Factory SSOT validation
  netra_backend/app/websocket_core/websocket_manager_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: simplified GCP staging environment detection for WebSocket Factory
  netra_backend/app/websocket_core/websocket_manager_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation
