Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

fix(core): resolve UnifiedDatabaseManager compatibility and enhance agent execution core tests
  netra_backend/app/core/unified/__init__.py
  netra_backend/tests/unit/test_agent_execution_core.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(auth): add comprehensive JWT validation and WebSocket auth security tests
  netra_backend/tests/integration/auth_user_management/test_jwt_validation_integration.py
  netra_backend/tests/unit/core/service_dependencies/test_golden_path_jwt_validation.py
  netra_backend/tests/unit/websocket_auth/test_unified_websocket_authenticator_core.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(critical-business): CLAUDE.md feature freeze mandate for revenue protection
  CLAUDE.md
Due: docker-force-flag-prohibition

test(websocket): add critical time import error validation tests for WebSocket core
  netra_backend/tests/websocket_core/test_graceful_degradation_time_error.py
  netra_backend/tests/websocket_core/test_websocket_auth_circuit_breaker_time_error.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

audit(websocket): WebSocket coroutine regression analysis completion with critical auth findings
  audit/staging/auto-solve-loop/websocket_coroutine_attribute_error_20250909.md
Due: docker-force-flag-prohibition

test(golden-path): add comprehensive user sessions table validation for Golden Path workflow
  tests/integration/golden_path/test_user_sessions_golden_path_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(tests): comprehensive test suite expansion and JWT validator compatibility enhancements
  AGENT_EXECUTION_CORE_TESTS_SUMMARY.md
  netra_backend/app/core/unified/jwt_validator.py
  netra_backend/tests/integration/agent_execution/test_agent_execution_lifecycle_comprehensive_integration.py
  netra_backend/tests/unit/test_agent_execution_core.py
  netra_backend/tests/unit/websocket_state/test_connection_state_machine_logic.py
  netra_backend/tests/websocket_core/test_graceful_degradation_time_error.py
  tests/e2e/auth/test_golden_path_jwt_auth_flow.py
  tests/e2e/test_user_sessions_authentication_flow.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(audit): comprehensive test strategy for WebSocket Cloud Run dynamic import failure
  audit/staging/auto-solve-loop/websocket_time_import_error_debug_20250910.md
Due: docker-force-flag-prohibition

test(jwt): add verification token fix test and critical JWT validation mission tests
  test_verify_token_fix.py
  tests/mission_critical/test_jwt_validation_critical.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test(final): complete WebSocket auth and time error integration test suite
  netra_backend/tests/unit/core/service_dependencies/test_golden_path_jwt_validation.py
  netra_backend/tests/unit/websocket_auth/test_websocket_auth_result_processing.py
  netra_backend/tests/websocket_core/test_websocket_time_error_integration.py
  test_verify_token_fix.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(websocket): implement circuit breaker and connection reliability enhancements
  frontend/__tests__/websocket/test_websocket_connection.test.tsx
  frontend/providers/WebSocketProvider.tsx
  frontend/services/webSocketService.ts
  netra_backend/app/routes/websocket.py
  netra_backend/app/websocket_core/circuit_breaker.py
  netra_backend/app/websocket_core/unified_manager.py
  netra_backend/app/websocket_core/unified_websocket_auth.py
  test_websocket_quick.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore(cleanup): remove temporary test_verify_token_fix.py file
  test_verify_token_fix.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(security): implement SSOT security validation and threat detection
  netra_backend/app/core/unified_error_handler.py
  netra_backend/app/services/error_handling/error_classifier.py
  netra_backend/app/services/security/data_sanitizer.py
  netra_backend/app/services/security/injection_detector.py
  netra_backend/app/services/security/input_validator.py
  netra_backend/app/services/security/threat_detection.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(auth): enhance authentication models and comprehensive test coverage
  audit/staging/auto-solve-loop/integration_test_syntax_errors_critical_20250909_cycle1.md
  auth_service/auth_core/database/models.py
  auth_service/tests/unit/test_password_hashing.py
  frontend/__tests__/auth/test_auth_complete_flow.test.tsx
  frontend/__tests__/e2e/auth-websocket-simple.test.tsx
  frontend/__tests__/integration/auth-provider-initialization.test.tsx
  frontend/__tests__/integration/auth-provider-simple.test.tsx
  netra_backend/app/auth/__init__.py
  netra_backend/app/auth/models.py
  netra_backend/tests/unit/test_auth_validation.py
  reports/syntax_error_detection_report.json
  tests/integration/test_syntax_error_detection.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(database): implement robust database infrastructure with connection management
  netra_backend/app/database/connection_pool.py
  netra_backend/app/database/retry_handler.py
  netra_backend/app/database/transaction_handler.py
  netra_backend/tests/integration/database/test_clickhouse_logging_integration.py
  netra_backend/tests/integration/race_conditions/test_database_transaction_races.py
  netra_backend/tests/integration/race_conditions/test_redis_cache_races.py
  netra_backend/tests/unit/database/test_clickhouse_logging_level_unit.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(agents): enhance agent execution pipeline with comprehensive testing
  frontend/lib/thread-operation-manager.ts
  netra_backend/app/agents/supervisor/agent_registry.py
  netra_backend/app/controllers/__init__.py
  netra_backend/app/controllers/auth_controller.py
  netra_backend/app/exceptions/__init__.py
  netra_backend/app/exceptions/custom_exceptions.py
  netra_backend/app/managers/__init__.py
  netra_backend/app/managers/redis_manager.py
  netra_backend/app/models/unified_agent_testing.py
  tests/integration/agents/test_agent_timeout_pipeline_integration.py
  tests/integration/golden_path/test_agent_execution_pipeline_comprehensive.py
  tests/integration/test_agent_registry_websocket_bridge.py
  tests/unit/agents/test_agent_execution_timeout_reproduction.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(audit): comprehensive syntax error detection system for staging validation
  debug_redis_validation.py
  deploy_e2e_oauth_key.py
  netra_backend/app/core/managers/unified_configuration_manager.py
  pytest.ini
  scripts/deploy_to_gcp.py
  tests/integration/golden_path/test_error_handling_edge_cases_comprehensive.py
  validate_clickhouse_logging_tests.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(core): enhance core infrastructure with environment safety and isolation
  netra_backend/app/core/backend_environment.py
  netra_backend/app/core/windows_asyncio_safe.py
  netra_backend/app/database/request_scoped_session_factory.py
  netra_backend/app/db/clickhouse_schema.py
  netra_backend/app/routes/websocket_isolated.py
  netra_backend/app/services/service_initialization/graceful_degradation_handler.py
  netra_backend/app/websocket_core/types.py
  netra_backend/tests/db/test_clickhouse_schema.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(framework): comprehensive testing infrastructure with business logic validation
  DATA_HELPER_INFRASTRUCTURE_GAP_ANALYSIS_REPORT.md
  E2E_OAUTH_DEPLOYMENT_COMMANDS.md
  P0_CRITICAL_FIXES_IMPLEMENTATION_REPORT.md
  frontend/__tests__/integration/auth-provider-initialization.test.tsx
  netra_backend/tests/unit/test_agent_factory.py
  netra_backend/tests/unit/test_configuration_management_core.py
  netra_backend/tests/unit/test_corpus_handlers.py
  netra_backend/tests/unit/test_error_handling.py
  netra_backend/tests/unit/test_error_handling_recovery_business_logic.py
  netra_backend/tests/unit/test_request_scoped_resources.py
  netra_backend/tests/unit/test_session_management.py
  netra_backend/tests/unit/test_thread_management.py
  netra_backend/tests/unit/test_tool_execution_engine.py
  netra_backend/tests/unit/test_websocket_coroutine_regression_unit.py
  netra_backend/tests/unit/websocket_core/test_redis_timeout_fix_unit.py
  tests/integration/golden_path/test_error_handling_edge_cases_comprehensive.py
  validate_p0_fixes.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(mission-critical): implement comprehensive golden path and reliability testing
  tests/e2e/golden_path/test_complete_golden_path_user_journey_comprehensive.py
  tests/integration/golden_path/test_performance_sla_compliance_comprehensive.py
  tests/integration/golden_path/test_service_integration_validation_comprehensive.py
  tests/mission_critical/golden_path/DATA_AGENT_EXECUTION_ORDER_TEST_SUMMARY.md
  tests/mission_critical/golden_path/test_agent_state_isolation_never_fail.py
  tests/mission_critical/golden_path/test_data_agent_execution_order_never_fail.py
  tests/mission_critical/golden_path/test_multi_user_isolation_under_load.py
  tests/mission_critical/golden_path/test_windows_asyncio_deadlock_protection.py
  tests/mission_critical/test_clickhouse_logging_fix_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test(e2e): comprehensive WebSocket and staging infrastructure testing
  frontend/__tests__/websocket/websocket-retry-simple.test.tsx
  frontend/tests/unit/test_websocket_client.py
  tests/e2e/health/test_health_ready_timeout_fix_e2e.py
  tests/e2e/observability/test_clickhouse_golden_path_logging_e2e.py
  tests/e2e/test_staging_data_helper_infrastructure.py
  tests/e2e/test_websocket_coroutine_focused_e2e.py
  tests/e2e/test_websocket_coroutine_regression_e2e.py
  tests/integration/test_websocket_coroutine_focused.py
  tests/integration/test_websocket_coroutine_regression_integration.py
  tests/integration/type_ssot/__init__.py
  tests/integration/type_ssot/test_type_ssot_auth_context_consolidation.py
  tests/integration/type_ssot/test_type_ssot_frontend_backend_sync.py
  tests/integration/type_ssot/test_type_ssot_jwt_payload_validation.py
  tests/integration/type_ssot/test_type_ssot_props_state_scattered_patterns.py
  tests/integration/type_ssot/test_type_ssot_report_data_violations.py
  tests/integration/type_ssot/test_type_ssot_schema_generation_validation.py
  tests/integration/type_ssot/test_type_ssot_schema_sync_enforcement.py
  tests/integration/type_ssot/test_type_ssot_thread_state_agent_coordination.py
  tests/integration/type_ssot/test_type_ssot_thread_state_consolidation.py
  tests/integration/type_ssot/test_type_ssot_thread_state_manager_coordination.py
  tests/integration/type_ssot/test_type_ssot_thread_state_websocket_events.py
  tests/performance/test_health_endpoint_timing_benchmarks.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(audit): comprehensive staging validation and bug fix documentation
  STAGING_TEST_REPORT_PYTEST.md
  audit/staging/auto-solve-loop/backend_health_ready_timeout_issue_20250910.md
  audit/staging/auto-solve-loop/clickhouse_error_logging_golden_path_issue_20250909.md
  audit/staging/auto-solve-loop/integration_test_syntax_errors_critical_20250909_cycle1.md
  frontend/audit/staging/auth_complete_flow_bug_fix_20250910.md
  frontend/audit/staging/final_test_failures_resolution_20250910.md
  frontend/audit/staging/remaining_test_failures_bug_fix_20250910.md
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_BASIC_DATA_HELPER_UVS_REPORTING_20250910.md
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_BASIC_TRIAGE_RESPONSE_20250910.md
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_GOLDEN_PATH_DATA_AGENT_FOCUS_20250910.md
Due: docker-force-flag-prohibition

docs(analysis): comprehensive root cause analysis and issue reproduction reports
  COMPREHENSIVE_IMPORT_REMEDIATION_SUMMARY_20250909.md
  REDIS_CONFIGURATION_VALIDATION_BUG_FIX_REPORT.md
  REDIS_DEPENDENCY_FIX_REPORT.md
  TEST_REPRODUCTION_REPORT_ISSUE_128.md
  WEBSOCKET_1011_FIVE_WHYS_ROOT_CAUSE_ANALYSIS_20250910.md
  WEBSOCKET_1011_INFRASTRUCTURE_TEST_EXECUTION_REPORT.md
  reports/analysis/WEBSOCKET_1011_FIVE_WHYS_ROOT_CAUSE_ANALYSIS.md
  reports/bugs/auth_import_error_20250909.md
  reports/bugs/comprehensive_import_analysis_20250909.md
  reports/bugs/comprehensive_import_analysis_tool.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(core): enhance JWT validation in golden path validator and key manager
  netra_backend/app/core/service_dependencies/golden_path_validator.py
  netra_backend/app/services/key_manager.py
  netra_backend/tests/unit/core/service_dependencies/test_golden_path_jwt_validation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore(debug): add debugging utilities and staging health monitoring
  debug_test_exact.py
  staging_health_check_20250909_171058.json
  staging_health_check_20250909_172804.json
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): resolve time import errors in websocket core tests
  netra_backend/tests/websocket_core/test_graceful_degradation_time_error.py
  netra_backend/tests/websocket_core/test_websocket_auth_circuit_breaker_time_error.py
  netra_backend/tests/websocket_core/test_websocket_time_error_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(audit): update websocket time import error debug log
  audit/staging/auto-solve-loop/websocket_time_import_error_debug_20250910.md
Due: docker-force-flag-prohibition

feat(testing): Ultimate test deploy loop - Data agent pipeline validation
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_GOLDEN_PATH_DATA_AGENT_FOCUS_20250910.md
Due: docker-force-flag-prohibition

docs(analysis): add comprehensive root cause validation report
  ROOT_CAUSE_VALIDATION_REPORT.md
Due: docker-force-flag-prohibition

test(jwt): add comprehensive JWT fix validation test script
  test_jwt_fix.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): enhance staging environment detection for authentication bypass
  netra_backend/app/websocket_core/unified_websocket_auth.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(auth): add user sessions table deployment integration test
  auth_service/tests/integration/test_user_sessions_table_deployment.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(backend): add comprehensive integration test suite
  netra_backend/tests/integration/multi_user/test_websocket_user_isolation_auth.py
  netra_backend/tests/integration/test_golden_path_validator_database_integration.py
  netra_backend/tests/integration/user_context/test_factory_isolation_patterns_comprehensive_integration.py
  netra_backend/tests/integration/websocket_auth/test_websocket_auth_service_integration.py
  netra_backend/tests/integration/websocket_state/test_state_machine_auth_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(unit): add websocket utilities and import validation tests
  netra_backend/tests/unit/test_websocket_utilities.py
  tests/unit/websocket/test_import_chain_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(e2e): add authentication golden path and cloud run integration tests
  tests/e2e/test_authentication_golden_path_complete.py
  tests/integration/websocket/test_cloud_run_import_failures.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(tests): add pytest markers for golden path mission critical tests
  audit/staging/auto-solve-loop/websocket_coroutine_attribute_error_20250909.md
Due: docker-force-flag-prohibition

fix(tests): correct WebSocket helper parameter name in critical failure test
  tests/mission_critical/golden_path/test_websocket_critical_failure_reproduction.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix(websocket): resolve critical coroutine attribute error blocking chat functionality
  GOLDEN_PATH_TEST_REFRESH_IMPLEMENTATION_COMPLETE_REPORT_20250910.md
  netra_backend/app/websocket_core/gcp_initialization_validator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(tests): add comprehensive golden path test refresh implementation report
  netra_backend/tests/integration/health/test_health_ready_endpoint_performance_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(health): resolve Backend /health/ready timeout - Redis 30s->3s
  audit/staging/auto-solve-loop/backend_health_ready_timeout_issue_20250910.md
Due: docker-force-flag-prohibition

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
