Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

a
  SPEC/learnings/index.xml
  STAGING_TEST_REPORT_PYTEST.md
  netra_backend/tests/integration/golden_path/test_tool_execution_pipeline_comprehensive.py
  reports/testing/COMPREHENSIVE_TEST_CREATION_PLAN_20250109.md
  reports/testing/PRIORITY_TEST_CREATION_20250109.md
  tests/integration/golden_path/ERROR_HANDLING_EDGE_CASES_TEST_REPORT.md
  tests/integration/golden_path/test_regression_detection_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: update shared types and junit configuration
  junit.xml
  shared/types/__init__.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

merge: integrate remote changes with local development work
  GOLDEN_PATH_TEST_REFRESH_IMPLEMENTATION_SUMMARY_20250909.md
Due: docker-force-flag-prohibition

Update unified_id_manager.py
  netra_backend/app/core/unified_id_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: consolidate agent observability imports to SSOT schema modules
  netra_backend/app/agents/agent_observability.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: implement multi-user thread ID isolation in unified ID generator
  shared/id_generation/unified_id_generator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add critical SSOT fixes validation report for staging deployment
  reports/validation/CRITICAL_SSOT_FIXES_VALIDATION_REPORT_20250909.md
Due: docker-force-flag-prohibition

docs: complete ultimate test-deploy-loop execution log with full process
  tests/e2e/test_results/ultimate_test_deploy_loop_log_20250909.md
Due: docker-force-flag-prohibition

feat(tests): Add comprehensive golden path test suite enhancements
  reports/golden_path/GOLDEN_PATH_COMPREHENSIVE_IMPLEMENTATION_FINAL_REPORT_20250909.md
  reports/testing/GOLDEN_PATH_TEST_EXECUTION_EVIDENCE_20250909.md
  tests/integration/golden_path/test_golden_path_suite_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(agents): Resolve SSOT compliance issues with SessionManager imports
  SPEC/learnings/testing.xml
  netra_backend/app/agents/base_agent.py
  netra_backend/app/agents/data_sub_agent/core/data_analysis_core.py
  netra_backend/app/agents/goals_triage_sub_agent.py
  netra_backend/app/agents/summary_extractor_sub_agent.py
  netra_backend/app/agents/supervisor/agent_execution_core.py
  netra_backend/app/agents/synthetic_data_sub_agent.py
  netra_backend/app/agents/synthetic_data_sub_agent_modern.py
  netra_backend/app/agents/tool_discovery_sub_agent.py
  netra_backend/app/agents/validation_sub_agent.py
  netra_backend/app/schemas/agent_models.py
  netra_backend/app/schemas/agent_result_types.py
  netra_backend/app/services/agent_service_core.py
  netra_backend/app/services/agent_websocket_bridge.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(config): Enhance pytest configuration for golden path testing
  auth_service/pytest.ini
  config/test.env
  pytest.ini
Due: none

feat(tests): Comprehensive golden path test suite refresh and enhancement
  auth_service/tests/unit/golden_path/test_auth_service_business_logic.py
  netra_backend/tests/integration/golden_path/test_agent_lifecycle_state_management_advanced.py
  netra_backend/tests/integration/golden_path/test_agent_response_quality_validation.py
  netra_backend/tests/integration/golden_path/test_error_recovery_resilience.py
  netra_backend/tests/integration/golden_path/test_multi_user_concurrency_isolation_advanced.py
  netra_backend/tests/integration/golden_path/test_performance_timing_requirements.py
  netra_backend/tests/integration/golden_path/test_user_session_progression_integration.py
  netra_backend/tests/integration/golden_path/test_websocket_advanced_edge_cases.py
  netra_backend/tests/integration/test_agent_execution_database.py
  netra_backend/tests/integration/test_agent_registry.py
  netra_backend/tests/integration/test_agent_websocket_events.py
  netra_backend/tests/integration/test_data_helper_core_functionality_batch1.py
  netra_backend/tests/integration/test_execution_engine.py
  netra_backend/tests/integration/test_state_manager.py
  netra_backend/tests/integration/test_tool_dispatcher.py
  netra_backend/tests/integration/uvs/__init__.py
  netra_backend/tests/integration/uvs/test_reporting_context_integration.py
  netra_backend/tests/integration/uvs/test_user_context_factory_isolation.py
  netra_backend/tests/integration/uvs/test_user_isolation_validation_core.py
  netra_backend/tests/unit/test_agent_error_types.py
  netra_backend/tests/unit/test_agent_observability.py
  netra_backend/tests/unit/test_agent_state.py
  netra_backend/tests/unit/test_circuit_breaker_components.py
  netra_backend/tests/unit/test_timing_aggregator.py
  tests/e2e/test_auth_agent_flow.py
  tests/e2e/test_auth_complete_flow.py
  tests/e2e/test_results/AGENT_EXECUTION_PIPELINE_FIVE_WHYS_ANALYSIS_20250909.md
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_AGENT_PROGRESSION_GOLDEN_PATH_20250909_FINAL.md
  tests/e2e/test_results/ultimate_test_deploy_loop_log_20250909.md
  tests/integration/golden_path/test_golden_path_complete_e2e_comprehensive.py
  tests/integration/test_auth_integration.py
  tests/integration/test_cors_staging_specific.py
  tests/integration/test_session_continuity_context_management.py
  tests/unit/golden_path/test_agent_execution_order_validator.py
  tests/unit/golden_path/test_persistence_exit_point_logic.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(tests): Add comprehensive unit tests for golden path SSOT classes
  netra_backend/tests/unit/core/test_unified_error_handler_comprehensive.py
  netra_backend/tests/unit/services/test_state_cache_manager_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(tests): Add comprehensive WebSocket core SSOT unit tests
  netra_backend/tests/unit/websocket_core/test_handlers_business_logic.py
  netra_backend/tests/unit/websocket_core/test_websocket_authentication_business_logic.py
  netra_backend/tests/unit/websocket_core/test_websocket_manager_business_logic.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(tests): Add mission-critical WebSocket agent events and services unit tests
  netra_backend/tests/unit/services/websocket/test_message_handler_business_logic.py
  netra_backend/tests/unit/websocket_core/test_connection_lifecycle_multiuser_business_logic.py
  netra_backend/tests/unit/websocket_core/test_critical_agent_events_business_logic.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(tests): Add comprehensive authentication SSOT unit tests
  netra_backend/tests/unit/test_auth_constants_comprehensive.py
  netra_backend/tests/unit/test_auth_exceptions_comprehensive.py
  netra_backend/tests/unit/test_auth_validators_comprehensive.py
  netra_backend/tests/unit/test_user_auth_service_compatibility.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(coverage): Update unit test coverage report with Session 16 achievements
  reports/coverage/UNIT_TEST_COVERAGE_100_PERCENT_MISSION.md
Due: docker-force-flag-prohibition

docs: add comprehensive agent execution pipeline analysis and testing reports
  AGENT_EXECUTION_INTEGRATION_FAILURE_ANALYSIS_20250909.md
  SYSTEM_STABILITY_VALIDATION_REPORT_AGENT_EXECUTION_PIPELINE.md
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_AGENT_PROGRESSION_GOLDEN_PATH_20250909_FINAL.md
  tests/unit/golden_path/test_websocket_event_validator.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore(tools): enhance GitCommitGardener command with safety features
  .claude/commands/gitcommitgardener.md
Due: docker-force-flag-prohibition

feat(api-gateway): implement comprehensive rate limiting system
  netra_backend/app/services/api_gateway/__init__.py
  netra_backend/app/services/api_gateway/rate_limiter.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(database): add PostgreSQL pool manager with asyncpg interface
  netra_backend/app/database/postgresql_pool_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(golden-path): add comprehensive business logic validation tests
  netra_backend/tests/unit/golden_path/test_ai_agent_orchestration_business_logic.py
  netra_backend/tests/unit/golden_path/test_customer_lifecycle_business_logic.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(process): add comprehensive merge conflict resolution documentation
  merges/MERGEISSUE_20250909_133823.md
Due: docker-force-flag-prohibition

refactor(exceptions): consolidate SSOT exception imports in agent exceptions
  netra_backend/app/core/exceptions/agent_exceptions.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(golden-path): add WebSocket event delivery validation + cleanup
  netra_backend/app/api/test_endpoints.py
  netra_backend/tests/unit/golden_path/test_websocket_event_delivery_business_logic.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(config): enhance configuration validation and environment detection
  netra_backend/app/core/configuration/validator.py
  netra_backend/app/core/environment_constants.py
  netra_backend/app/schemas/config.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(env): improve isolation variable source handling in IsolatedEnvironment
  shared/isolated_environment.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): add required operation field to ErrorContext in agent error tests
  netra_backend/tests/unit/test_agent_error_types.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(tests): enhance E2E failure recovery and configuration integration tests
  tests/e2e/test_agent_failure_recovery.py
  tests/integration/test_configuration_management_integration_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(tests): update ultimate test deploy loop results documentation
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_AGENT_PROGRESSION_GOLDEN_PATH_20250909_FINAL.md
Due: docker-force-flag-prohibition

feat(tests): add comprehensive integration test suite for core system reliability
  netra_backend/tests/integration/test_agent_lifecycle.py
  netra_backend/tests/integration/test_circuit_breaker.py
  netra_backend/tests/integration/test_error_handling.py
  netra_backend/tests/integration/test_observability.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(tests): add golden path and UVS specialized integration tests
  netra_backend/tests/integration/golden_path/test_advanced_tool_pipeline_integration.py
  netra_backend/tests/integration/uvs/test_error_handling_edge_cases.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(tests): add comprehensive E2E test suite for performance and isolation
  tests/e2e/test_agent_performance_under_load.py
  tests/e2e/test_complete_agent_chat_flow.py
  tests/e2e/test_multi_user_agent_isolation.py
  tests/e2e/test_websocket_reconnection_flow.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(validation): add Golden Path and UVS test validation utilities
  tests/golden_path_validation.py
  validate_uvs_tests.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(websocket): add comprehensive WebSocket integration testing suite
  websocket_app_integration_test.py
  websocket_integration_fixed.py
  websocket_minimal_test.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(analysis): add comprehensive Golden Path and WebSocket analysis reports
  WEBSOCKET_TIMEOUT_ROOT_CAUSE_ANALYSIS.md
  reports/GOLDEN_PATH_INTEGRATION_TESTS_COMPLETION_REPORT.md
  reports/GOLDEN_PATH_TEST_AUDIT_REPORT.md
  reports/golden_path_validation_data.json
Due: docker-force-flag-prohibition

docs(testing): add comprehensive test batch completion and UVS test suite reports
  reports/testing/INTEGRATION_TESTS_BATCH_1_COMPLETION_REPORT.md
  reports/testing/UVS_COMPREHENSIVE_TEST_SUITE_REPORT.md
Due: docker-force-flag-prohibition

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
