Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

test(isolation): enhance data isolation and chat tests
  tests/mission_critical/test_chat_initialization.py
  tests/mission_critical/test_chat_responsiveness_under_load.py
  tests/mission_critical/test_concurrent_user_isolation.py
  tests/mission_critical/test_data_isolation_simple.py
  tests/mission_critical/test_data_layer_isolation.py
  tests/mission_critical/test_datahelper_websocket_integration.py
  tests/mission_critical/test_staging_endpoints_direct.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(websocket): add event validation framework and monitoring
  netra_backend/app/monitoring/websocket_metrics.py
  netra_backend/app/websocket_core/VALIDATION_FRAMEWORK_USAGE.md
  netra_backend/app/websocket_core/event_validation_framework.py
  netra_backend/app/websocket_core/validation_integration.py
  netra_backend/tests/websocket_core/test_event_validation_framework.py
  netra_backend/tests/websocket_core/test_validation_integration.py
  tests/e2e/test_websocket_agent_events_e2e.py
  tests/integration/test_websocket_factory_integration.py
  tests/mission_critical/test_presence_detection_enhanced.py
  tests/mission_critical/test_security_boundaries_comprehensive.py
  tests/mission_critical/test_staging_websocket_agent_events_enhanced.py
  tests/performance/test_websocket_performance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

refactor(mcp): rename MCPToolExecutor to AgentMCPToolExecutor for clarity
  netra_backend/app/services/agent_mcp_bridge.py
  netra_backend/app/services/mcp_client_service.py
  netra_backend/app/services/mcp_client_tool_executor.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(websocket): add metrics collection to event delivery system
  netra_backend/app/services/websocket_bridge_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(startup): enhance startup validation with comprehensive checks
  tests/mission_critical/test_startup_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test(websocket): improve subagent event validation and reliability
  tests/mission_critical/test_websocket_subagent_events.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test(tools): add comprehensive bulletproof tool progress validation
  tests/mission_critical/test_tool_progress_bulletproof.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix(startup): add null checks for tool_dispatcher to prevent AttributeError
  netra_backend/app/smd.py
  netra_backend/app/websocket_core/heartbeat_manager.py
  netra_backend/app/websocket_core/modern_websocket_abstraction.py
  netra_backend/app/websocket_core/scaling_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(env): migrate from os.environ to IsolatedEnvironment pattern
  netra_backend/app/core/logging_config.py
  netra_backend/app/core/project_utils.py
  shared/configuration/central_config_validator.py
  test_framework/decorators.py
  test_framework/unified_docker_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(websocket): consolidate WebSocket manager with heartbeat integration
  netra_backend/app/monitoring/websocket_dashboard_config.py
  netra_backend/app/services/websocket/quality_manager.py
  netra_backend/app/websocket_core/__init__.py
  netra_backend/app/websocket_core/manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(framework): standardize WebSocket testing infrastructure
  test_framework/fixtures/__init__.py
  test_framework/fixtures/auth.py
  tests/mission_critical/test_actions_agent_golden_compliance.py
  tests/mission_critical/test_websocket_agent_events_fixed.py
  tests/mission_critical/test_websocket_agent_events_suite.py
  tests/mission_critical/test_websocket_subagent_events.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix(integration): update service integration points for new infrastructure
  netra_backend/tests/unit/test_auth_staging_url_configuration.py
  netra_backend/tests/unit/test_distributed_tracing_performance_overhead.py
  test_framework/port_conflict_fix.py
  test_framework/resource_monitor.py
  test_framework/service_availability.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(migration): update Tool Dispatcher Migration Guide
  TOOL_DISPATCHER_MIGRATION_GUIDE.md
Due: docker-force-flag-prohibition

fix(supervisor): add startup registry for validation and infrastructure setup
  netra_backend/app/agents/supervisor_consolidated.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(test-framework): enhance Docker manager and WebSocket test utilities
  test_framework/unified_docker_manager.py
  test_framework/websocket_helpers.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(e2e): update E2E tests for improved agent orchestration validation
  tests/e2e/journeys/test_complete_user_journey.py
  tests/e2e/test_agent_orchestration_real_critical.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(mission-critical): add comprehensive Docker lifecycle and stability tests
  tests/mission_critical/test_docker_lifecycle_critical.py
  tests/mission_critical/test_docker_lifecycle_management.py
  tests/mission_critical/test_docker_stability_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test(auth): enhance staging auth cross-service validation tests
  tests/mission_critical/test_staging_auth_cross_service_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

refactor(websocket): streamline WebSocket agent events test suite
  tests/mission_critical/test_websocket_agent_events_suite.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test(e2e): add comprehensive E2E test suites for critical flows
  tests/e2e/test_agent_pipeline_e2e.py
  tests/e2e/test_billing_compensation_e2e.py
  tests/e2e/test_comprehensive_message_flow.py
  tests/mission_critical/websocket_real_test_base.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs(reports): add test analysis and validation reports
  USER_JOURNEY_VALIDATION_BATCH4_COMPLETE.md
  WEBSOCKET_SSOT_CLAIMS_VERIFICATION.md
  WEBSOCKET_TEST_ANALYSIS_REPORT.md
  WEBSOCKET_TEST_FIX_REPORT.md
  junit.xml
Due: docker-force-flag-prohibition

style(tests): apply linter formatting to mission critical tests
  tests/mission_critical/test_staging_auth_cross_service_validation.py
  tests/mission_critical/test_websocket_agent_events_suite.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test(docker): add comprehensive Docker lifecycle stability tests
  tests/mission_critical/test_docker_stability_comprehensive.py
  tests/mission_critical/test_staging_auth_cross_service_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(agents): enhance WebSocket integration and tool dispatcher compatibility
  netra_backend/app/agents/admin_tool_dispatcher/dispatcher_core.py
  netra_backend/app/agents/supervisor_admin_init.py
  netra_backend/app/agents/supervisor_consolidated.py
  netra_backend/app/agents/tool_dispatcher_unified.py
  netra_backend/app/smd.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(mission-critical): add comprehensive validation and security test suites
  tests/mission_critical/test_auth_state_consistency.py
  tests/mission_critical/test_comprehensive_compliance_validation.py
  tests/mission_critical/test_docker_lifecycle_critical.py
  tests/mission_critical/test_jwt_secret_hard_requirements.py
  tests/mission_critical/test_pre_post_deployment_jwt_verification.py
  tests/mission_critical/test_staging_auth_cross_service_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test(websocket): enhance WebSocket test suites with real connection validation
  tests/mission_critical/test_websocket_agent_events_suite.py
  tests/mission_critical/test_websocket_bridge_critical_flows.py
  tests/mission_critical/test_websocket_chat_bulletproof.py
  tests/mission_critical/test_websocket_comprehensive_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test(infrastructure): enhance test fixtures and critical path validation
  netra_backend/tests/integration/critical_paths/test_basic_system_cold_startup.py
  netra_backend/tests/integration/test_chat_orchestrator_nacis_real_llm.py
  netra_backend/tests/websocket/test_websocket_regression_prevention.py
  tests/mission_critical/conftest.py
  tests/mission_critical/conftest_enhanced_cleanup.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

refactor(docker): enhance Docker manager and Alpine container configuration
  docker-compose.alpine-test.yml
  test_framework/unified_docker_manager.py
  tests/e2e/staging_test_helpers.py
  tests/integration/test_auth_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(analysis): add comprehensive analysis and migration reports
  FIVE_WHYS_ANALYSIS_20250903.md
  MOCK_REMEDIATION_PLAN.md
  SMD_STARTUP_AUDIT_REPORT.md
  WEBSOCKET_MOCK_TO_REAL_MIGRATION_REPORT.md
  docs/AGENT_ARCHITECTURE_DISAMBIGUATION_GUIDE.md
  tests/TEST_ARCHITECTURE_VISUAL_OVERVIEW.md
Due: docker-force-flag-prohibition

test(websocket): add new WebSocket validation and real connection test infrastructure
  netra_backend/tests/test_clickhouse_import.py
  test_framework/real_websocket_manager.py
  test_real_websocket_validation.py
  tests/mission_critical/test_websocket_comprehensive_validation_working.py
  tests/mission_critical/test_websocket_critical_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs(architecture): add Agent Architecture Disambiguation Guide reference
  CLAUDE.md
  docs/index.md
Due: docker-force-flag-prohibition

refactor(websocket): remove deprecated unified manager imports
  netra_backend/app/websocket_core/__init__.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(infrastructure): enhance test fixtures and critical path validation
  netra_backend/tests/integration/agents/test_execution_patterns_ssot.py
  netra_backend/tests/integration/critical_paths/test_cold_startup_readiness_detection.py
  netra_backend/tests/integration/critical_paths/test_data_analysis_helper_flow.py
  netra_backend/tests/integration/critical_paths/test_existing_user_login_flow.py
  netra_backend/tests/integration/critical_paths/test_new_user_registration_flow.py
  netra_backend/tests/integration/test_helpers/team_collaboration_base.py
  test_framework/fixtures/websocket_manager_mock.py
  test_framework/fixtures/websocket_test_helpers.py
  tests/mission_critical/test_docker_lifecycle_critical.py
  tests/mission_critical/test_websocket_agent_events_suite.py
  tests/mission_critical/test_websocket_bridge_critical_flows.py
  tests/mission_critical/test_websocket_bridge_isolation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

chore(docker): update test environment configurations
  docker-compose.pytest.yml
  docker-compose.test.yml
Due: docker-force-flag-prohibition, docker-security-audit

chore(scripts): update deployment and test environment scripts
  scripts/deploy_to_gcp.py
  scripts/docker_env_manager.py
  scripts/launch_test_env.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(backend): remove OAuth requirements from backend service
  netra_backend/app/core/configuration/secrets.py
  netra_backend/app/core/configuration/staging_validator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add comprehensive test architecture documentation references
  CLAUDE.md
  docs/index.md
  tests/TEST_ARCHITECTURE_VISUAL_OVERVIEW.md
Due: docker-force-flag-prohibition

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
