Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation, protect-staging-config

Path conditions:
  new-file-compliance: any of: \.(py|ts|tsx)$
  edited-lines-check: any of: \.(py|ts|tsx)$
  prevent-new-relative-imports: any of: \.py$
  main-code-quality: any of: ^(netra_backend/app|auth_service/auth_core|frontend/src)/.*\.(py|ts|tsx)$
  test-file-leniency: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  new-duplicate-prevention: any of: \.py$
  check-environment-isolation: any of: (test_.*\.py|.*_test\.py|tests/.*\.py|conftest\.py)$
  protect-staging-config: any of: netra_backend/app/schemas/config\.py$

feat(settings): add user settings page components
  frontend/app/settings/components/ApiKeysSection.tsx
  frontend/app/settings/components/NotificationsSection.tsx
  frontend/app/settings/components/PrivacySection.tsx
  frontend/app/settings/components/ProfileSection.tsx
  frontend/app/settings/components/SecuritySection.tsx
  frontend/app/settings/components/SettingsLayout.tsx
  frontend/app/settings/page.tsx
Due: new-file-compliance, edited-lines-check

chore(test): improve test infrastructure and utilities
  frontend/components/chat/ConnectionStatusIndicator.test.tsx
  frontend/fix-hanging-tests.js
  frontend/jest.setup.js
  frontend/lib/event-queue.test.ts
  frontend/run-test.js
  frontend/test-hang-fixes.js
  frontend/test-synthetic-data-cypress.md
  frontend/validate-critical-tests.js
Due: new-file-compliance, edited-lines-check

test(critical): add mission critical WebSocket and auth tests
  test_agent_execution_websocket_integration.py
  test_agent_pipeline_simple.py
  test_framework/agent_test_helpers.py
  test_standalone_websocket.py
  test_websocket_chat_simple.py
  test_websocket_chat_standalone.py
  test_websocket_direct.py
  test_websocket_standalone.py
  tests/critical/test_core_auth_logic.py
  tests/e2e/test_agent_orchestration_real_critical.py
  tests/e2e/test_critical_agent_chat_flow_simplified.py
  tests/e2e/test_simplified_auth_flow_critical.py
  tests/mission_critical/conftest.py
  tests/mission_critical/test_websocket_agent_events_suite.py
  tests/mission_critical/test_websocket_basic.py
  tests/mission_critical/test_websocket_final.py
  tests/mission_critical/test_websocket_mission_critical_fixed.py
  tests/mission_critical/test_websocket_simple.py
  validate_critical_tests.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

Update ChatSidebarThreadList.tsx
  frontend/components/chat/ChatSidebarThreadList.tsx
Due: new-file-compliance, edited-lines-check

a
  frontend/__tests__/components/ui/button.test.tsx
  frontend/__tests__/components/ui/select.test.tsx
Due: new-file-compliance, edited-lines-check

refactor(auth): standardize secret management and auth configuration
  auth_service/auth_core/secret_loader.py
  database_scripts/test_create_auth.py
  netra_backend/app/core/configuration/unified_secrets.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(testing): enhance test framework for real services and mock elimination
  scripts/compliance/mock_justification_checker.py
  scripts/generate_startup_integration_tests.py
  test_framework/__init__.py
  test_framework/conftest_real_services.py
  test_framework/decorators.py
  test_framework/mock_utils.py
  test_framework/mocks/websocket_mocks.py
  test_framework/real_services.py
  test_framework/websocket_helpers.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(test-helpers): update WebSocket and infrastructure test helpers
  netra_backend/tests/helpers/llm_mocks.py
  netra_backend/tests/helpers/quality_gate_comprehensive_helpers.py
  netra_backend/tests/helpers/redis_test_fixtures.py
  netra_backend/tests/helpers/redis_test_helpers.py
  netra_backend/tests/helpers/tool_permission_helpers.py
  netra_backend/tests/helpers/websocket_test_helpers.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(critical-paths): update WebSocket critical path test coverage
  netra_backend/tests/integration/critical_paths/test_websocket_auth_handshake.py
  netra_backend/tests/integration/critical_paths/test_websocket_binary_message_handling.py
  netra_backend/tests/integration/critical_paths/test_websocket_broadcast_performance.py
  netra_backend/tests/integration/critical_paths/test_websocket_connection_draining.py
  netra_backend/tests/integration/critical_paths/test_websocket_connection_pooling.py
  netra_backend/tests/integration/critical_paths/test_websocket_first_load.py
  netra_backend/tests/integration/critical_paths/test_websocket_heartbeat_monitoring.py
  netra_backend/tests/integration/critical_paths/test_websocket_heartbeat_zombie.py
  netra_backend/tests/integration/critical_paths/test_websocket_jwt_encoding.py
  netra_backend/tests/integration/critical_paths/test_websocket_message_compression.py
  netra_backend/tests/integration/critical_paths/test_websocket_message_delivery_guarantee.py
  netra_backend/tests/integration/critical_paths/test_websocket_rate_limiting_per_client.py
  netra_backend/tests/integration/critical_paths/test_websocket_reconnection_state_recovery.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(critical-paths): update agent and configuration critical path tests
  netra_backend/tests/integration/critical_paths/test_agent_quality_gate_pipeline.py
  netra_backend/tests/integration/critical_paths/test_agent_state_recovery.py
  netra_backend/tests/integration/critical_paths/test_agent_tool_authorization.py
  netra_backend/tests/integration/critical_paths/test_configuration_validation_pipeline.py
  netra_backend/tests/integration/critical_paths/test_cross_service_config_consistency.py
  netra_backend/tests/integration/critical_paths/test_data_analysis_helper_flow.py
  netra_backend/tests/integration/critical_paths/test_oauth_jwt_websocket_flow.py
  netra_backend/tests/integration/critical_paths/test_redis_websocket_state_sync.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(integration): update comprehensive integration test suite
  netra_backend/tests/integration/agent_pipeline_mocks.py
  netra_backend/tests/integration/critical_missing/shared_infrastructure/containerized_services.py
  netra_backend/tests/integration/database_migration_validators.py
  netra_backend/tests/integration/metrics/shared_fixtures.py
  netra_backend/tests/integration/staging/test_staging_database_connection_resilience.py
  netra_backend/tests/integration/test_agent_database_integration_comprehensive.py
  netra_backend/tests/integration/test_agent_database_resilience.py
  netra_backend/tests/integration/test_agent_registry_initialization_validation.py
  netra_backend/tests/integration/test_clickhouse_schema_validation_comprehensive.py
  netra_backend/tests/integration/test_database_connection_pool_initialization_validation.py
  netra_backend/tests/integration/test_database_pool_integration.py
  netra_backend/tests/integration/test_environment_secrets_loading_validation.py
  netra_backend/tests/integration/test_error_recovery_startup_resilience_validation.py
  netra_backend/tests/integration/test_free_to_paid_conversion.py
  netra_backend/tests/integration/test_llm_api_connectivity_validation_all_providers.py
  netra_backend/tests/integration/test_logging_audit_integration_helpers.py
  netra_backend/tests/integration/test_message_flow_auth_helpers.py
  netra_backend/tests/integration/test_metric_collection_initialization_validation.py
  netra_backend/tests/integration/test_microservice_dependency_startup_sequence.py
  netra_backend/tests/integration/test_redis_session_store_initialization_validation.py
  netra_backend/tests/integration/test_staging_production_parity_validation.py
  netra_backend/tests/integration/test_startup_health_check_comprehensive_validation.py
  netra_backend/tests/integration/test_startup_performance_timing_validation.py
  netra_backend/tests/integration/test_thread_auto_creation.py
  netra_backend/tests/integration/test_unified_message_flow_fixtures.py
  netra_backend/tests/integration/test_unified_message_flow_helpers.py
  netra_backend/tests/integration/test_websocket_infrastructure_startup_validation.py
  netra_backend/tests/integration/test_websocket_redis_pubsub.py
  netra_backend/tests/integration/websocket_recovery_fixtures.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(e2e): update end-to-end test suite for real service integration
  tests/e2e/journeys/test_websocket_user_journey_integration_helpers.py
  tests/e2e/real_services_manager.py
  tests/e2e/reconnection_test_helpers.py
  tests/e2e/resilience/test_response_persistence_recovery.py
  tests/e2e/service_failure_tester.py
  tests/e2e/startup_sequence_validator.py
  tests/e2e/test_auth_websocket_basic_flows.py
  tests/e2e/test_latency_targets.py
  tests/e2e/test_multi_agent_collaboration_response.py
  tests/e2e/test_quality_gate_response_validation.py
  tests/e2e/test_state_persistence.py
  tests/e2e/test_supervisor_persistence_e2e.py
  tests/e2e/test_websocket_auth_handshake.py
  tests/e2e/test_websocket_core_functionality.py
  tests/e2e/test_websocket_integration.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(cross-service): update cross-service integration tests
  tests/integration/test_auth_client_cross_service.py
  tests/integration/test_cross_service_session_state_synchronization.py
  tests/integration/test_multi_agent_orchestration_state_management.py
  tests/integration/test_websocket_auth_handshake_complete_flow.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(services/unit): update service and unit test infrastructure
  netra_backend/tests/services/test_generation_service_comprehensive.py
  netra_backend/tests/services/test_redis_manager_basic_operations.py
  netra_backend/tests/services/test_tool_permission_basic.py
  netra_backend/tests/services/test_tool_permission_business_rate.py
  netra_backend/tests/services/test_tool_permission_main.py
  netra_backend/tests/services/test_ws_connection_basic.py
  netra_backend/tests/services/test_ws_connection_mocks.py
  netra_backend/tests/services/test_ws_connection_performance.py
  netra_backend/tests/services/test_ws_manager_connection_pool.py
  netra_backend/tests/unified_system/test_websocket_state.py
  netra_backend/tests/unit/agents/data_sub_agent/test_clickhouse_client.py
  netra_backend/tests/unit/db/test_database_manager.py
  netra_backend/tests/unit/test_health_checkers_core.py
  netra_backend/tests/unit/test_mcp_service_core.py
  netra_backend/tests/unit/test_subagent_logging.py
  netra_backend/tests/unit/test_websocket_memory_leaks.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(backend): update agent, config, and WebSocket regression tests
  netra_backend/tests/agents/test_data_sub_agent_core.py
  netra_backend/tests/config/test_unified_config_integration.py
  netra_backend/tests/critical/test_websocket_message_regression.py
  netra_backend/tests/e2e/test_websocket_integration_core.py
  netra_backend/tests/e2e/test_websocket_integration_fixtures.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(mission-critical): update mission critical WebSocket test suite
  tests/mission_critical/test_pre_post_deployment_jwt_verification.py
  tests/mission_critical/test_websocket_agent_events_fixed.py
  tests/mission_critical/test_websocket_agent_events_suite.py
  tests/mission_critical/test_websocket_basic_events.py
  tests/mission_critical/test_websocket_load_minimal.py
  tests/mission_critical/test_websocket_reliability_focused.py
  tests/mission_critical/test_websocket_subagent_events.py
  tests/mission_critical/test_websocket_subagent_real.py
  tests/websocket/test_secure_websocket.py
  tests/websocket/test_websocket_integration_fixtures.py
  tests/websocket/test_websocket_integration_helpers.py
  websocket_performance_standalone_test.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(deployment): update GCP deployment script tests
  tests/unit/scripts/test_deploy_to_gcp.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs(spec): add comprehensive mock elimination and JWT standardization learnings
  SPEC/learnings/comprehensive_mock_elimination_complete.xml
  SPEC/learnings/index.xml
  SPEC/learnings/jwt_secret_standardization_hard_requirements.xml
Due: none

feat(testing): add mock cleanup utilities and standalone WebSocket tests
  complete_remaining_mock_cleanup.py
  comprehensive_mock_cleanup.py
  junit.xml
  netra_backend/tests/critical/test_websocket_message_routing_real_standalone.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs(prompts): add mock elimination and WebSocket issue documentation
  ...prompts/mock-fix.md
  mock-sockets-issue.md
Due: none

cleanup: remove obsolete debug and test files
  debug_auth_env.py
  test_jwt_staging_consistency.py
  test_websocket_api_signatures.py
  test_websocket_simple.py
  tests/mission_critical/conftest.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(stress): update high-performance WebSocket stress test and add audit learnings
  SPEC/learnings/websocket_test_audit_real_components.xml
  netra_backend/tests/integration/critical_paths/test_high_performance_websocket_stress.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

fix(docker): improve Docker Compose configuration for stability
  docker-compose.override.yml
  docker-compose.yml
Due: none

test(frontend): enhance authentication test coverage
  frontend/__tests__/auth/auth-login.test.ts
  frontend/__tests__/auth/auth-logout.test.ts
  frontend/__tests__/auth/auth-persistence-unified-service.test.ts
  frontend/__tests__/auth/auth-security.test.ts
  frontend/__tests__/auth/auth-token.test.ts
Due: new-file-compliance, edited-lines-check

test(frontend): improve component test stability
  frontend/__tests__/components/AuthGuard.test.tsx
  frontend/__tests__/components/InitializationProgress.test.tsx
  frontend/__tests__/components/ui/ActionButtons.test.tsx
  frontend/__tests__/components/ui/Button.complete.test.tsx
  frontend/__tests__/components/ui/IconButton.test.tsx
  frontend/__tests__/components/ui/Input.complete.test.tsx
  frontend/__tests__/components/ui/SearchInput.test.tsx
  frontend/__tests__/components/ui/TextArea.test.tsx
  frontend/__tests__/components/ui/button.test.tsx
  frontend/__tests__/components/ui/select.test.tsx
Due: new-file-compliance, edited-lines-check

test(frontend): enhance React hook test coverage
  frontend/__tests__/hooks/useChatWebSocket.test.ts
  frontend/__tests__/hooks/useError.test.ts
Due: new-file-compliance, edited-lines-check

feat(docker): add Windows-specific Docker support and fixes
  SPEC/learnings/docker_windows_crash_fixes.xml
  docker-compose.windows.yml
  frontend/fix-setup-antihang.js
  scripts/docker_windows_helper.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

docs(spec): add critical learnings for configuration validation and WebSocket gaps
  SPEC/learnings/central_configuration_validator_ssot_implementation.xml
  SPEC/learnings/chat_king_websocket_gap_analysis.xml
  SPEC/learnings/configuration_hardening_patterns_no_fallbacks.xml
  SPEC/learnings/index.xml
Due: none

feat(config): implement central configuration validator for SSOT enforcement
  shared/configuration/__init__.py
  shared/configuration/central_config_validator.py
  tests/mission_critical/test_central_validator_integration.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

fix(auth): update secret loader and critical auth tests
  auth_service/auth_core/secret_loader.py
  auth_service/tests/test_critical_bugs.py
  auth_service/tests/test_refresh_endpoint.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

chore(test): update auth service test coverage reports
  auth_service/coverage.json
  auth_service/coverage.xml
  auth_service/junit.xml
  junit.xml
Due: none

fix(backend): update agent registry and configuration components
  netra_backend/app/agents/supervisor/agent_registry.py
  netra_backend/app/core/configuration/unified_secrets.py
  netra_backend/app/dependencies.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

fix(websocket): critical WebSocket agent event integration fixes
  netra_backend/app/routes/websocket.py
  netra_backend/app/services/message_handlers.py
  netra_backend/app/websocket_core/agent_handler.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test(backend): update WebSocket test fixtures and helpers
  netra_backend/tests/e2e/test_websocket_integration_fixtures.py
  netra_backend/tests/helpers/websocket_test_helpers.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(integration): update agent registry and database integration tests
  netra_backend/tests/integration/test_agent_registry_initialization_validation.py
  netra_backend/tests/integration/test_api_database_integration.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(unit): update database and ClickHouse client unit tests
  netra_backend/tests/unit/agents/data_sub_agent/test_clickhouse_client.py
  netra_backend/tests/unit/db/test_database_manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(critical): add comprehensive WebSocket chat flow validation tests
  netra_backend/tests/mission_critical/test_websocket_chat_flow_complete.py
  tests/mission_critical/test_websocket_agent_events_suite.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(framework): update real services test framework utilities
  test_framework/real_services.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation
