Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

fix(tests): Remove unused RedisTestManager imports from unit tests
  netra_backend/tests/unit/test_key_parameters_pydantic_access.py
  netra_backend/tests/unit/test_metrics_collector_core.py
  netra_backend/tests/unit/test_metrics_collector_summary.py
  netra_backend/tests/unit/test_multi_tenant_data_isolation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): Update RedisTestManager usage to use redis_manager singleton
  netra_backend/tests/unit/test_action_plan_uvs.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

GCP Log Gardener: Process latest backend service issues and create GitHub issues
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-13.md
Due: docker-force-flag-prohibition

fix(config-ssot): Issue #667 - CI failure resolution tests and critical fixes
  netra_backend/app/core/thread_cleanup_manager.py
  netra_backend/app/services/token_optimization/context_manager.py
  netra_backend/tests/unit/core/test_thread_cleanup_nonetype_fix.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(config-ssot): Issue #667 - System stability proof and merge analysis documentation
  ISSUE_667_SYSTEM_STABILITY_PROOF.md
  merges/MERGEISSUE-20250913-033054.md
Due: docker-force-flag-prohibition

refactor(config-ssot): Issue #667 - Final SSOT configuration standardization
  deployment/secrets_config.py
  scripts/gcp_auth_config.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Fix: Add missing create_legacy_global method to UnifiedToolDispatcherFactory
  netra_backend/app/agents/tool_dispatcher.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(websocket-auth-integration): Step 2 createtestsv2 - Execute and analyze websocket auth integration tests
  debug_subprocess_env.py
  docs/JSON_OUTPUT_SIZE_OPTIMIZATION_REMEDIATION_PLAN.md
  temp_comment.md
  temp_resolution_comment.md
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-golden-2025-09-13-16.md
  tests/integration/environment_ssot/test_os_environ_legacy_violations_integration.py
  tests/integration/test_issue_722_environment_consistency.py
  tests/integration/test_ssot_configuration_access_integration.py
  tests/mission_critical/test_issue_722_ssot_fix_validation.py
  tests/unified_test_runner.py
  tests/unit/admin/corpus/test_unified_corpus_admin_ssot_compliance.py
  tests/unit/middleware/test_error_recovery_middleware_ssot_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Complete Phase 3: SSOT Remediation Strategy planned
  SSOT-incomplete-migration-agent-factory-singleton-legacy.md
Due: docker-force-flag-prohibition

feat: Complete SSOT test creation for Issue #722 (Step 2)
  SSOT-legacy-environment-access-direct-osgetenv-bypassing-ssot.md
  tests/unified_test_runner.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

failingtestsgardener: Complete e2e test analysis and GitHub issue integration
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-e2e-2025-09-13-03-50.md
  netra_backend/tests/unit/websocket_core/test_websocket_cors_comprehensive.py
  netra_backend/tests/unit/websocket_core/test_websocket_manager_compatibility_layer.py
  netra_backend/tests/unit/websocket_core/test_websocket_manager_factory_functions.py
  tests/integration/configuration_ssot/__init__.py
  tests/integration/configuration_ssot/test_issue_724_configuration_manager_integration.py
  tests/integration/test_agent_execution_flow_integration.py
  tests/integration/test_database_service_integration.py
  tests/integration/test_websocket_agent_communication_integration.py
  tests/unit/environment_ssot/__init__.py
  tests/unit/environment_ssot/test_issue_724_ssot_violations.py
  tests/unit/redis_integration/test_action_plan_uvs_redis_integration.py
  tests/unit/redis_integration/test_redis_import_validation.py
  tests/unit/redis_integration/test_ssot_compliance_validation.py
  tests/unit/ssot_validation/test_issue_722_ssot_violations.py
  tests/unit/websocket_core/test_websocket_types_ssot_violations.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

SSOT Gardener: Complete Step 2 - Test Plan Execution (Issue #724)
  SSOT-incomplete-migration-Configuration Manager Direct Environment Access Violations.md
Due: docker-force-flag-prohibition

SSOT Gardener: Preserve local SSOT improvements before sync
  netra_backend/app/agents/supervisor/request_scoped_execution_engine.py
  netra_backend/app/agents/supervisor_ssot.py
  netra_backend/app/dependencies.py
  netra_backend/app/services/agent_websocket_bridge.py
  netra_backend/app/services/token_optimization/context_manager.py
  tests/mission_critical/test_websocket_agent_events_suite.py
  tests/unified_test_runner.py
  tests/unit/websocket_manager/test_ssot_direct_instantiation_prevention.py
  tests/unit/websocket_manager/test_ssot_user_isolation_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat: Add comprehensive WebSocket core manager test coverage - Issue #727
  netra_backend/tests/unit/websocket_core/WEBSOCKET_CORE_COVERAGE_SUMMARY.md
  netra_backend/tests/unit/websocket_core/test_websocket_routes_ssot_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

FAILING-TEST-GARDENER: Integration tests issue discovery and GitHub tracking
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-integration-2025-09-13-03.md
Due: docker-force-flag-prohibition

feat: Complete SSOT remediation planning for Issue #722 (Step 3)
  SSOT-legacy-environment-access-direct-osgetenv-bypassing-ssot.md
Due: docker-force-flag-prohibition

Resolve merge conflicts and preserve SSOT improvements
  netra_backend/app/smd.py
  netra_backend/app/websocket_core/unified_websocket_auth.py
  netra_backend/tests/agents/test_base_agent_monitoring_health.py
  netra_backend/tests/unit/test_base_agent_comprehensive.py
  test_framework/websocket_helpers.py
  tests/mission_critical/test_websocket_agent_events_suite.py
  tests/unit/runners/test_unified_test_runner_json_optimization.py
  tests/unit/websocket_core/test_websocket_types_ssot_violations.py
  tests/unit/websocket_manager/test_ssot_direct_instantiation_prevention.py
  tests/unit/websocket_manager/test_ssot_user_isolation_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Complete Phase A1: SupervisorAgent SSOT interface compatibility and first migration
  ISSUE_712_TEST_EXECUTION_SUMMARY.md
  SSOT-incomplete-migration-agent-factory-singleton-legacy.md
  netra_backend/app/admin/corpus/unified_corpus_admin.py
  netra_backend/app/logging/auth_trace_logger.py
  netra_backend/app/websocket_core/unified_websocket_auth.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Save local token optimization and test improvements before merge
  netra_backend/app/core/database_recovery_strategies.py
  netra_backend/app/core/security_monitoring.py
  netra_backend/app/services/token_optimization/context_manager.py
  netra_backend/tests/agents/test_base_agent_token_optimization.py
  netra_backend/tests/unit/test_base_agent_comprehensive.py
  netra_backend/tests/unit/test_cost_limit_enforcement.py
  netra_backend/tests/unit/test_state_checkpoint_session_fix.py
  netra_backend/tests/unit/test_toolregistry_basemodel_filtering.py
  netra_backend/tests/unit/test_websocket_ghost_connections.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Fix websocket auth integration tests - Major JWT token handling improvements
  netra_backend/app/websocket_core/types.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(e2e): Complete test infrastructure improvements and analysis corrections
  ISSUE_722_REMEDIATION_PLAN.md
  reports/TEST_EXECUTION_GUIDE.md
  tests/e2e/test_issue_686_golden_path_execution_engine_conflicts.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Fix SSOT parameter mapping: websocket_manager -> websocket_emitter
  netra_backend/app/admin/corpus/unified_corpus_admin.py
  netra_backend/app/agents/tool_dispatcher.py
  netra_backend/app/logging/auth_trace_logger.py
  netra_backend/app/websocket_core/types.py
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-golden-2025-09-13-16.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: Complete SSOT remediation implementation for Issue #722 (Step 4)
  SSOT-incomplete-migration-websocket-agent-integration-blocking-golden-path.md
  SSOT-legacy-environment-access-direct-osgetenv-bypassing-ssot.md
  netra_backend/app/middleware/error_recovery_middleware.py
  reports/validation/COMPREHENSIVE_VALIDATION_REPORT_ISSUE_714.md
  tests/unit/websocket_manager/test_ssot_user_isolation_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Complete SSOT Gardener Phase A1: Final tracking file update
  SSOT-incomplete-migration-agent-factory-singleton-legacy.md
  netra_backend/app/schemas/llm_config_types.py
  netra_backend/tests/unit/test_cost_limit_enforcement.py
  netra_backend/tests/unit/test_state_checkpoint_session_fix.py
  netra_backend/tests/unit/test_websocket_ghost_connections.py
  tests/unit/websocket_manager/test_ssot_user_isolation_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Final test structure improvements for comprehensive analysis
  netra_backend/tests/unit/test_cost_limit_enforcement.py
  tests/unit/websocket_manager/test_ssot_user_isolation_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(agents): Fix critical BaseAgent test infrastructure failures
  netra_backend/tests/agents/test_base_agent_factory_patterns.py
  netra_backend/tests/agents/test_base_agent_migration_validation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Final test syntax cleanup for comprehensive analysis PR
  netra_backend/tests/fixtures/test_fixtures.py
  netra_backend/tests/startup/test_config_core.py
  netra_backend/tests/unit/test_cost_limit_enforcement.py
  tests/unit/websocket_manager/test_ssot_user_isolation_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Update E2E test results and deployment worklog
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-golden-2025-09-13-16.md
Due: docker-force-flag-prohibition

SSOT Gardener: Complete Configuration Manager SSOT Remediation (Issue #724)
  netra_backend/tests/fixtures/test_fixtures.py
  netra_backend/tests/unit/test_cost_limit_enforcement.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Update startup integration test for comprehensive validation
  netra_backend/tests/integration/test_startup_fixes_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Phase 1 P0 integration test infrastructure fixes
  tests/integration/test_agent_execution_flow_integration.py
  tests/integration/test_database_service_integration.py
  tests/integration/test_websocket_agent_communication_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Issue #724: Complete SSOT Configuration Manager final documentation updates
  docs/GOLDEN_AGENT_INDEX.md
  docs/GOLDEN_PATH_DOCUMENTATION_INDEX.md
  docs/GOLDEN_PATH_USER_FLOW_COMPLETE.md
  docs/testing/TEST_EXECUTION_GUIDE.md
  netra_backend/app/core/auth_startup_validator.py
  reports/MASTER_WIP_STATUS.md
  tests/unit/docker/test_compose_path_validation.py
  tests/unit/docker/test_dockerfile_path_consistency.py
  tests/unit/test_deploy_to_gcp_comprehensive.py
  tests/unit/websocket_manager/test_ssot_user_isolation_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

SSOT remediation: Fix direct environment access violations (Issue #724)
  ISSUE_722_COMPLETION_SUMMARY.md
  ISSUE_722_STABILITY_PROOF_REPORT.md
  docs/GOLDEN_AGENT_INDEX.md
  docs/GOLDEN_PATH_DOCUMENTATION_INDEX.md
  docs/GOLDEN_PATH_USER_FLOW_COMPLETE.md
  netra_backend/app/admin/corpus/unified_corpus_admin.py
  netra_backend/app/middleware/error_recovery_middleware.py
  netra_backend/app/services/agent_websocket_bridge.py
  netra_backend/app/websocket_core/unified_manager.py
  netra_backend/app/websocket_core/websocket_manager.py
  reports/TEST_COVERAGE_REPORT_2025_09_13.md
  shared/logging/__init__.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): Replace RedisTestManager usage with redis_manager SSOT pattern
  netra_backend/app/websocket_core/unified_manager.py
  netra_backend/tests/integration/test_fixtures_common.py
  netra_backend/tests/startup/test_config_core.py
  netra_backend/tests/startup/test_config_validation.py
  reports/JSON_OUTPUT_SIZE_OPTIMIZATION_COMPLETE_REPORT.md
  tests/unit/websocket_manager/test_ssot_user_isolation_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(validation): Add comprehensive Issue #725 resolution validation tests
  netra_backend/app/websocket_core/websocket_manager.py
  tests/unit/redis_integration/test_issue_725_redis_manager_import_resolution.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Final Issue #725 Redis import resolution - all RedisTestManager() usage eliminated
  apply_all_factory_patches.py
  apply_factory_patch.py
  apply_issue_712_patch.py
  fix_remaining_factory_tokens.py
  netra_backend/app/agents/supervisor/user_execution_engine.py
  netra_backend/app/websocket_core/unified_manager_modifications.py
  netra_backend/app/websocket_core/websocket_manager.py
  netra_backend/app/websocket_core/websocket_manager_factory.py
  netra_backend/tests/integration/test_fixtures_common.py
  netra_backend/tests/startup/test_config_core.py
  netra_backend/tests/startup/test_config_validation.py
  test_direct_instantiation.py
  tests/mission_critical/test_issue_722_ssot_fix_validation.py
  tests/unit/ssot_validation/test_issue_722_ssot_violations.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
