Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$

docs(issue-200): WebSocket emitter SSOT remediation completion report
  WEBSOCKET_EMITTER_REMEDIATION_COMPLETION_REPORT.md
Due: docker-force-flag-prohibition

docs(git-gardener): iteration 3 branch merge analysis and conflict detection
  merges/MERGEISSUE_20250910_ITERATION3.md
Due: docker-force-flag-prohibition

docs: SSOT remediation tracker for WebSocket manager duplication
  SSOT-regression-websocket-manager-duplication-blocks-golden-path.md
Due: docker-force-flag-prohibition

docs: complete test discovery for WebSocket SSOT remediation
  SSOT-regression-websocket-manager-duplication-blocks-golden-path.md
Due: docker-force-flag-prohibition

docs(issue-200): system stability validation passed - ready for staging
  ISSUE-WORKLOG-200-2025-01-09.md
Due: docker-force-flag-prohibition

docs: finalize Git Commit Gardener Iteration 4 completion report
  merges/GIT_GARDENER_ITERATION_4_COMPLETION_20250910.md
Due: docker-force-flag-prohibition

feat: implement WebSocket event batch processing enhancements
  netra_backend/app/websocket_core/unified_emitter.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add comprehensive WebSocket SSOT validation and merge analysis
  WEBSOCKET_EMITTER_SSOT_VALIDATION_REPORT.md
  merges/MERGEISSUE_ITERATION4_20250910.md
Due: docker-force-flag-prohibition

feat(issue-200): deploy WebSocket emitter SSOT consolidation
  tests/ssot/test_websocket_ssot_import_violations.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add comprehensive WebSocket SSOT violation test suite
  tests/ssot/test_websocket_ssot_factory_violations.py
  tests/ssot/test_websocket_ssot_integration_violations.py
  tests/ssot/test_websocket_ssot_regression_prevention.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add WebSocket SSOT connection lifecycle validation tests
  tests/ssot/test_websocket_ssot_connection_lifecycle.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add WebSocket SSOT event ordering validation tests
  tests/ssot/test_websocket_ssot_event_ordering.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(staging): resolve UnifiedExecutionEngineFactory missing configure method
  netra_backend/app/agents/execution_engine_unified_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): resolve SSOT test framework inheritance and logging issues
  SSOT-regression-websocket-manager-duplication-blocks-golden-path.md
  tests/ssot/test_websocket_ssot_import_violations.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: complete SSOT test creation for WebSocket manager consolidation
  WEBSOCKET_SSOT_TEST_CREATION_REPORT.md
  tests/ssot/test_websocket_ssot_configuration_violations.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: complete Iteration 5 Git Commit Gardener analysis and reporting
  merges/MERGE_ANALYSIS_ITERATION_5_20250910.md
Due: docker-force-flag-prohibition

Resolve merge conflicts: consolidate Redis SSOT import patterns
  SSOT-regression-websocket-manager-duplication-blocks-golden-path.md
Due: docker-force-flag-prohibition

docs: complete SSOT remediation planning for WebSocket manager
  SSOT-regression-websocket-manager-duplication-blocks-golden-path.md
Due: docker-force-flag-prohibition

Phase 1: Remove factory imports from startup module
  netra_backend/app/startup_module.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Phase 2 partial: Update critical files to use SSOT imports
  netra_backend/app/dependencies.py
  tests/ssot/test_websocket_ssot_factory_violations.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor: complete WebSocket manager SSOT import migration
  merges/MERGEISSUE_ITERATION6_20250910.md
Due: docker-force-flag-prohibition

docs: update ultimate-test-deploy-loop command with SSOT compliance focus
  .claude/commands/ultimate-test-deploy-loop.md
Due: docker-force-flag-prohibition

Phase 2 complete: Update test files to use SSOT imports
  tests/ssot/test_websocket_ssot_configuration_violations.py
  tests/ssot/test_websocket_ssot_connection_lifecycle.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Phase 3 complete: Remove WebSocket manager factory file
  .claude/commands/ultimate-test-deploy-loop.md
  netra_backend/app/websocket_core/__init__.py
  netra_backend/app/websocket_core/websocket_manager_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(issue-200): staging deployment and e2e testing completed successfully
  ISSUE-WORKLOG-200-2025-01-09.md
Due: docker-force-flag-prohibition

Phase 4 complete: Remove manager.py compatibility shim
  .claude/commands/ultimate-test-deploy-loop.md
  merges/MERGEISSUE_ITERATION7_20250910.md
  netra_backend/app/agents/supervisor/agent_registry.py
  netra_backend/app/websocket_core/manager.py
  tests/ssot/test_websocket_ssot_import_violations.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: enhance ultimate-test-deploy-loop command with GitHub integration
  .claude/commands/ultimate-test-deploy-loop.md
Due: docker-force-flag-prohibition

refactor: complete SSOT migration in WebSocket migration adapter
  netra_backend/app/websocket_core/__init__.py
  netra_backend/app/websocket_core/migration_adapter.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: complete WebSocket manager SSOT remediation execution
  SSOT-regression-websocket-manager-duplication-blocks-golden-path.md
Due: docker-force-flag-prohibition

docs(issue-200): complete worklog - issue #200 fully resolved
  ISSUE-WORKLOG-200-2025-01-09.md
Due: docker-force-flag-prohibition

ssot: track deployment canonical source conflicts issue
  SSOT-incomplete-migration-deploy-script-canonical-source-conflicts.md
Due: docker-force-flag-prohibition

fix: add backward compatibility wrapper for create_websocket_manager
  netra_backend/app/websocket_core/__init__.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

ssot: complete test discovery for deployment canonical conflicts
  SSOT-incomplete-migration-deploy-script-canonical-source-conflicts.md
Due: docker-force-flag-prohibition

docs: complete Git Commit Gardener Iteration 8 merge documentation
  merges/MERGEISSUE-2025-09-10.md
Due: docker-force-flag-prohibition

merge(post-processing): finalize Redis SSOT merge integration
  .claude/commands/ultimate-test-deploy-loop.md
  netra_backend/app/services/agent_websocket_bridge.py
  netra_backend/app/websocket_core/handlers.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Update ultimate-test-deploy-loop.md
  .claude/commands/ultimate-test-deploy-loop.md
Due: docker-force-flag-prohibition

fix: update import path from state_cache_manager to state_persistence
  netra_backend/tests/unit/services/test_state_cache_manager_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: complete test validation for WebSocket SSOT remediation
  SSOT-regression-websocket-manager-duplication-blocks-golden-path.md
Due: docker-force-flag-prohibition

docs: complete Git Commit Gardener Iteration 9 - main branch synchronization
  merges/GIT_GARDENER_ITERATION_9_COMPLETION_20250910.md
Due: docker-force-flag-prohibition

docs: update staging test report with latest E2E results
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition
