Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

test: update WebSocket event source validation for SSOT consolidation
  tests/mission_critical/websocket_emitter_consolidation/test_event_source_validation_fails_with_duplicates.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test(agents): enhance multi-user agent execution isolation and integration testing
  netra_backend/tests/concurrency/test_multi_user_agent_execution_isolation_comprehensive.py
  netra_backend/tests/integration/agents/supervisor/test_agent_execution_core_enhanced_integration.py
  netra_backend/tests/integration/agents/test_agent_communication_comprehensive_golden_path.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(deploy): enhance GCP deployment and pre-deployment audit infrastructure
  scripts/deploy_to_gcp.py
  scripts/pre_deployment_audit.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(websocket): enhance event source validation for duplicate emitter detection
  tests/mission_critical/websocket_emitter_consolidation/test_event_source_validation_fails_with_duplicates.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs(git): document Cycle #2 continuation merge decisions and process validation
  SSOT-incomplete-migration-llmmanager-factory-pattern-violations.md
  auth_service/services/health_check_service.py
  auth_service/services/redis_service.py
  merges/MERGEISSUE_cycle2_continuation_20250910.md
  netra_backend/app/agents/execution_engine_unified_factory.py
  netra_backend/app/websocket_core/unified_emitter.py
  netra_backend/tests/integration/test_database_redis_persistence_integration.py
  tests/e2e/staging/STAGING_TEST_REPORT_PYTEST.md
  tests/mission_critical/run_isolation_tests.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat: complete active SSOT development - auth health check and performance mode
  auth_service/services/health_check_service.py
  netra_backend/app/websocket_core/unified_emitter.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor: complete final lifecycle manager and OAuth validation SSOT compliance
  SSOT-incomplete-migration-UserExecutionContext-duplicate-implementations.md
  SSOT-regression-SERVICE_ID_hardcoding_cascade_failures_block_user_login.md
  netra_backend/app/agents/execution_engine_consolidated.py
  netra_backend/app/core/managers/__init__.py
  netra_backend/app/core/managers/unified_lifecycle_manager.py
  netra_backend/app/routes/auth_routes/oauth_validation.py
  tests/e2e/test_auth_websocket_basic_flows.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: ExecutionEngine SSOT remediation completed - major breakthrough
  SSOT-execution-engine-consolidation-user-isolation-blocking-golden-path.md
Due: docker-force-flag-prohibition

refactor: finalize auth validators and lifecycle manager with mission critical testing
  SSOT-incomplete-migration-eventvalidator-consolidation.md
  netra_backend/app/agents/supervisor/execution_engine.py
  netra_backend/app/auth_integration/validators.py
  netra_backend/app/core/managers/unified_lifecycle_manager.py
  tests/mission_critical/test_websocket_agent_events_suite.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs: update EventValidator SSOT issue #214 status
  SSOT-incomplete-migration-eventvalidator-consolidation.md
Due: docker-force-flag-prohibition

docs: complete Step 3 MessageRouter SSOT remediation planning
  SSOT-incomplete-migration-MessageRouter-critical-violations.md
Due: docker-force-flag-prohibition

docs: mark SSOT OAuth consolidation COMPLETE in issue #213 tracker
  SSOT-incomplete-migration-oauth-validation-duplication.md
Due: docker-force-flag-prohibition

feat: safety checkpoint before MessageRouter SSOT remediation Phase 1
  netra_backend/app/agents/execution_engine_consolidated.py
  netra_backend/app/agents/supervisor/execution_engine.py
  netra_backend/app/core/managers/__init__.py
  netra_backend/app/core/managers/unified_lifecycle_manager.py
  netra_backend/tests/unit/test_service_dependencies_unit.py
  test_framework/real_services.py
  tests/e2e/test_agent_orchestration.py
  tests/e2e/test_auth_websocket_basic_flows.py
  tests/interface_violations/test_websocket_dual_interface_violations.py
  tests/ssot/test_lifecycle_manager_ssot_migration.py
  tests/unit/websocket_ssot/test_constructor_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: complete SSOT AgentHealthMonitor gardener process - mission successful
  SSOT-incomplete-migration-multiple-agent-health-monitors.md
Due: docker-force-flag-prohibition

docs: complete step 5 SSOT validation success #223
  SSOT-regression-critical-websocket-auth-bypass-blocks-golden-path.md
Due: docker-force-flag-prohibition

refactor(ci): remove emojis from SSOT migration scripts for compliance
  .github/scripts/failure_analysis.py
  scripts/deploy_to_gcp.py
  tests/mission_critical/run_isolation_tests.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

refactor(auth): consolidate Redis manager imports to SSOT pattern
  auth_service/tests/conftest.py
  auth_service/tests/test_auth_real_services_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(agents): add comprehensive deprecation notices for execution engine migration
  netra_backend/app/agents/execution_engine_consolidated.py
  netra_backend/app/agents/execution_engine_unified_factory.py
  netra_backend/app/agents/supervisor/execution_engine.py
  netra_backend/app/dependencies.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: update SSOT issue tracker - remediation execution complete
  SSOT-incomplete-migration-ExecutionEngine-shared-state-violates-user-isolation.md
Due: docker-force-flag-prohibition

feat(websocket): extend emitter factory with performance and auth patterns
  netra_backend/app/websocket_core/unified_emitter.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(tests): complete SSOT migration for test runner deprecation wrappers
  tests/e2e/run_chat_ui_tests.py
  tests/run_staging_tests.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: complete SSOT WebSocket auth bypass remediation - closes issue #223
  STAGING_E2E_TEST_EXECUTION_REPORT_20250910.md
  auth_service/tests/integration/test_auth_database_business_integration.py
  auth_service/tests/integration/test_user_business_logic_integration.py
  auth_service/tests/test_auth_comprehensive.py
  auth_service/tests/test_redis_staging_fixes.py
  netra_backend/app/smd.py
  netra_backend/app/startup_module.py
  netra_backend/app/websocket_core/supervisor_factory.py
  scripts/pre_deployment_audit.py
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_CONTINUATION_20250910.md
  tests/mission_critical/websocket_emitter_consolidation/test_single_emitter_performance_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs(ssot): update SSOT migration progress and supervisor factory improvements
  SSOT-incomplete-migration-UnifiedTestRunner-bypass-violations-blocking-Golden-Path.md
  netra_backend/app/core/supervisor_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: update RedisManager SSOT migration after Phase 1A completion
  SSOT-incomplete-migration-RedisManager-import-pattern-cleanup.md
Due: docker-force-flag-prohibition

perf(tests): enhance WebSocket emitter performance validation and test documentation
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_CONTINUATION_20250910.md
  tests/mission_critical/websocket_emitter_consolidation/test_single_emitter_performance_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs(ssot): complete WebSocket auth bypass remediation Phase 6
  SSOT-regression-critical-websocket-auth-bypass-blocks-golden-path.md
  docker-compose.alpine-test.yml
  netra_backend/app/core/supervisor_factory.py
  tests/mission_critical/websocket_emitter_consolidation/test_single_emitter_performance_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix: complete Phase 1-2 LLMManager SSOT factory pattern remediation
  docker-compose.alpine-test.yml
  tests/mission_critical/websocket_emitter_consolidation/test_single_emitter_performance_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs: update SSOT LLMManager remediation progress - Phase 1-2 complete
  SSOT-incomplete-migration-llmmanager-factory-pattern-violations.md
Due: docker-force-flag-prohibition

docs: document critical service restoration and golden path recovery
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_CONTINUATION_20250910.md
Due: docker-force-flag-prohibition

fix: correct SSotBaseTestCase import in Redis validation test
  SSOT-incomplete-migration-WebSocket Event Emitter Consolidation.md
  tests/mission_critical/test_redis_validation_ssot_critical.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs: test fix loop cycle 1 - identified and resolved SSOT gaps
  .gitattributes
  tests/mission_critical/websocket_emitter_consolidation/test_single_emitter_performance_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

🚨 CRITICAL: SSOT ExecutionEngine test failures - security violation detected
  SSOT-incomplete-migration-ExecutionEngine-shared-state-violates-user-isolation.md
Due: docker-force-flag-prohibition

docs: log Git Commit Gardening cycle #4 completion status
  merges/MERGEISSUE_20250910_cycle4_already_processed.md
Due: docker-force-flag-prohibition

feat: complete SSOT migration Phase 5 system stability validation
  SSOT-incomplete-migration-UnifiedTestRunner-bypass-violations-blocking-Golden-Path.md
Due: docker-force-flag-prohibition

docs: complete RedisManager SSOT migration Phase 1A validation results
  SSOT-incomplete-migration-RedisManager-import-pattern-cleanup.md
Due: docker-force-flag-prohibition

feat: add critical ExecutionEngine SSOT consolidation fix script
  scripts/fix_execution_engine_ssot.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: complete SSOT UnifiedTestRunner remediation - all phases accomplished
  SSOT-incomplete-migration-UnifiedTestRunner-bypass-violations-blocking-Golden-Path.md
  netra_backend/app/agents/execution_engine_consolidated.backup_1757538478
  netra_backend/app/agents/supervisor/execution_engine.backup_1757538478
  netra_backend/app/agents/supervisor/request_scoped_execution_engine.backup_1757538478
  scripts/fix_execution_engine_ssot.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

🚨 CRITICAL: deprecate ExecutionEngine implementations for SSOT consolidation
  merges/CYCLE7_COMPLETION_20250910.md
  netra_backend/app/agents/execution_engine_consolidated.py
  netra_backend/app/agents/supervisor/execution_engine.py
  netra_backend/app/agents/supervisor/request_scoped_execution_engine.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add Git Commit Gardening cycle #4 continuation success log
  merges/CYCLE4_CONTINUATION_SUCCESS_20250910.md
Due: docker-force-flag-prohibition

docs: create IND tracker for RedisManager SSOT import cleanup
  SSOT-incomplete-migration-RedisManager-import-pattern-cleanup.md
Due: docker-force-flag-prohibition

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
