Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

fix: resolve unresolved shell variables in PR worklog template
  PR-WORKLOG-332-TEMPLATE-CLEANUP.md
Due: docker-force-flag-prohibition

docs: complete GCP log gardener worklog - 6 backend issues processed
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-11T15-00-00.md
Due: docker-force-flag-prohibition

docs: add failing test gardener worklog for e2e golden path tests
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-e2e-golden-path-2025-09-11-075949.md
Due: docker-force-flag-prohibition

docs: golden path E2E analysis - WebSocket optimization identified
  STAGING_TEST_REPORT_PYTEST.md
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-golden-path-2025-09-11-08.md
Due: docker-force-flag-prohibition

feat: comprehensive 10x logging improvements for critical WebSocket event validation
  netra_backend/app/websocket_core/event_validator.py
  tests/WEBSOCKET_EVENT_VALIDATION_TEST_SUITE_DOCUMENTATION.md
  tests/integration/websocket/test_event_emission_validation.py
  tests/mission_critical/test_websocket_event_typo_prevention.py
  tests/unit/websocket_core/test_event_validator_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs: enhance GitHub style guide with local config guidance
  GITHUB_STYLE_GUIDE.md
Due: docker-force-flag-prohibition

docs: complete Golden Path E2E analysis with PR creation status
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-golden-path-2025-09-11-08.md
Due: docker-force-flag-prohibition

docs: add emergency security consolidation strategy for Issue #271 cluster
  EMERGENCY_SECURITY_CONSOLIDATION_STRATEGY_ISSUE_271_CLUSTER.md
  ISSUE_271_CLUSTER_TRACKING.md
Due: docker-force-flag-prohibition

docs: add WebSocket infrastructure consolidation roadmap
  reports/WebSocket_Infrastructure_Consolidation_Roadmap.md
Due: docker-force-flag-prohibition

feat: add emergency security validation script for Issue #271
  scripts/emergency_security_validation_issue_271.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add merge decision log for develop-long-lived branch reconciliation
  merges/MERGEISSUE:2025-09-11.md
Due: docker-force-flag-prohibition

docs: PR #289 resolution worklog complete
  PR-WORKLOG.md
Due: docker-force-flag-prohibition

docs: complete PR #333 merge assessment process with safety decision
  PR-WORKLOG.md
Due: docker-force-flag-prohibition

fix: add merge strategy for Windows-incompatible filename
  .gitattributes
Due: none

Update gitcommitgardener.md
  .claude/commands/gitcommitgardener.md
Due: docker-force-flag-prohibition

Create FAILING-TEST-GARDENER-WORKLOG-goldenpath-blocking-20250911-093239.md
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-goldenpath-blocking-20250911-093239.md
Due: docker-force-flag-prohibition

docs: SSOT gardener progress tracker for missing execute_agent function
  SSOT-regression-missing-execute-agent-blocks-golden-path.md
Due: docker-force-flag-prohibition

docs: add git safety note to prevent dangerous operations
  CLAUDE.md
Due: docker-force-flag-prohibition

fix(security): enhance DeepAgentState isolation barriers
  netra_backend/app/agents/state.py
  netra_backend/app/agents/supervisor/agent_execution_core.py
  netra_backend/app/core/timeout_configuration.py
  netra_backend/app/routes/websocket_ssot.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add comprehensive test suite for Issue #341 streaming timeouts
  ISSUE_341_REMEDIATION_COMPLETE.md
  tests/ISSUE_341_STREAMING_TIMEOUT_TEST_EXECUTION_REPORT.md
  tests/e2e/staging/test_enterprise_streaming_timeouts.py
  tests/integration/streaming/test_long_running_agent_streaming.py
  tests/unit/streaming/test_streaming_timeout_configuration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): enhance JWT subprotocol format support
  netra_backend/app/websocket_core/unified_jwt_protocol_handler.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(websocket): consolidate SSOT routes and middleware
  netra_backend/app/middleware/gcp_auth_context_middleware.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(infrastructure): enhance WebSocket testing capabilities
  pytest.ini
  test_framework/websocket_helpers.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: update worklog and test reports for current sprint
  PR-WORKLOG-332-20250911-195400.md
  STAGING_TEST_REPORT_PYTEST.md
  merges/MERGEISSUE:2025-09-11.md
  tests/unit/test_websocket_subprotocol_authentication_bug.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: implement WebSocket subprotocol authentication remediation for Issue #342
  CRITICAL_SECURITY_REMEDIATION_STRATEGY_P0.md
  TEST_ANALYSIS_ISSUE_342_WEBSOCKET_AUTH.md
  WEBSOCKET_AUTHENTICATION_HANDSHAKE_REMEDIATION_PLAN.md
Due: docker-force-flag-prohibition

fix(redis): correct Redis connection check from callable to property
  netra_backend/app/websocket_core/gcp_initialization_validator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(redis): add comprehensive test suite for Redis callable fix
  tests/integration/gcp/test_redis_callable_fix_integration_334.py
  tests/reproduction/test_redis_issue_334_reproduction.py
  tests/unit/websocket_core/test_gcp_initialization_validator_redis_fix_334.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(websocket): add WebSocket authentication compliance test suite
  test_framework/websocket_handshake_test_utilities.py
  tests/integration/test_websocket_http_auth_parity.py
  tests/integration/test_websocket_unified_auth_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(testing): add WebSocket handshake test plan and automation
  scripts/run_websocket_handshake_tests.py
  scripts/validate_websocket_test_plan.py
  test_plans/README_WebSocket_Handshake_Testing.md
  test_plans/websocket_auth_handshake_comprehensive_test_plan.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add test execution results and remediation plans
  REDIS_BOOL_CALLABLE_REMEDIATION_PLAN_334.md
  TEST_PLAN_REDIS_BOOL_CALLABLE_ISSUE_334.md
  WEBSOCKET_HANDSHAKE_TEST_PLAN_SUMMARY.md
  test_results/websocket_handshake_test_report_20250911_092337.json
  test_results/websocket_handshake_test_report_20250911_092453.json
Due: docker-force-flag-prohibition

docs: add merge tracking and WebSocket implementation guides
  PR-WORKLOG-332-CONFLICT-ANALYSIS.md
  PR-WORKLOG-333-20250911-143052.md
  WEBSOCKET_REMEDIATION_IMPLEMENTATION_GUIDE.md
  merges/MERGEISSUE-2025-09-11.md
Due: docker-force-flag-prohibition

docs: add comprehensive PR worklogs and validation reports
  KEYERROR_VALIDATION_TEST_EXECUTION_REPORT.md
  PR-WORKLOG-332-20250911-091224.md
  PR-WORKLOG-332-20250911_141500.md
Due: docker-force-flag-prohibition

test: add comprehensive middleware and Redis test suites
  auth_service/tests/integration/logging/test_auth_service_logging_keyerror_integration.py
  auth_service/tests/unit/logging/test_loguru_keyerror_reproduction.py
  netra_backend/tests/integration/middleware/test_secret_key_loading_chain_failure.py
  netra_backend/tests/unit/middleware/test_sessionmiddleware_installation_failure_reproduction.py
  tests/unit/redis/test_redis_bool_callable_issue_334.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(core): add session utilities for improved session management
  netra_backend/app/core/session_utils.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(middleware): enhance middleware setup and Redis testing
  netra_backend/app/core/middleware_setup.py
  test_redis_property_fix.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: enhance WebSocket subprotocol format support for Issue #342
  test_redis_property_fix.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Golden Path failing test gardener worklog with GitHub issues
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-goldenpath-blocking-20250911-093239.md
Due: docker-force-flag-prohibition

docs: update project status and add session tracking for Issue #342
  STAGING_TEST_REPORT_PYTEST.md
  merges/COMMIT_SESSION_2025-09-11.md
  netra_backend/app/core/middleware_setup.py
  netra_backend/app/core/unified_secret_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: correct SSOT issue diagnosis - execute_agent exists, Mock validation issue
  SSOT-regression-missing-execute-agent-blocks-golden-path.md
Due: docker-force-flag-prohibition

refactor: consolidate UserExecutionContext to SSOT pattern in corpus admin
  netra_backend/app/admin/corpus/unified_corpus_admin.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
