Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation, protect-staging-config

new-file-compliance:
  name: New File Standards (strict for new files only)
  entry: python scripts/permissive_hooks/check_new_files.py
  language: system
  stages:
  - commit
  description: Applies strict standards ONLY to newly created files

edited-lines-check:
  name: Modified Lines Check (incremental)
  entry: python scripts/permissive_hooks/check_edited_lines.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Validates only the lines being modified, not the entire file

prevent-new-relative-imports:
  name: Prevent New Relative Imports
  entry: python scripts/permissive_hooks/check_new_imports.py --warn-only
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Blocks new relative imports, warns about existing ones

main-code-quality:
  name: Main Codebase Quality (app > tests)
  entry: python scripts/permissive_hooks/prioritized_check.py --priority app
  language: system
  stages:
  - commit
  description: Prioritizes main application code quality over test files

test-file-leniency:
  name: Test File Check (permissive)
  entry: python scripts/permissive_hooks/test_check_lenient.py --max-lines 1000
  language: system
  stages:
  - commit
  description: Relaxed limits for test files - focus on functionality over form

new-duplicate-prevention:
  name: Prevent New Duplicates (incremental)
  entry: python scripts/permissive_hooks/check_new_duplicates.py --threshold 0.9
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents introduction of NEW duplicate patterns only

check-environment-isolation:
  name: Environment Isolation Check
  entry: python scripts/check_environment_isolation.py --strict
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents direct os.environ access in test files - use IsolatedEnvironment instead

protect-staging-config:
  name: Staging Configuration Protection
  entry: python scripts/protect_staging_config.py
  language: system
  stages:
  - commit
  pass_filenames: false
  always_run: false
  description: Prevents ClickHouse configs from defaulting to localhost which breaks staging

refactor(json): consolidate JSON handling into unified SSOT handler
  netra_backend/app/agents/utils_json_extraction.py
  netra_backend/app/agents/utils_json_parsers.py
  netra_backend/app/agents/utils_json_validators.py
  netra_backend/app/core/json_parsing_utils.py
  netra_backend/app/core/json_utils.py
  netra_backend/app/core/serialization/unified_json_handler.py
  netra_backend/app/llm/llm_structured_operations.py
  netra_backend/app/schemas/llm_request_types.py
  netra_backend/app/schemas/shared_types.py
  netra_backend/app/schemas/validation_utils.py
  netra_backend/app/utils/json_utils.py
  netra_backend/tests/agents/test_json_extraction_direct.py
  netra_backend/tests/test_json_extraction.py
  netra_backend/tests/unit/test_json_fragment_parsing.py
  netra_backend/tests/unit/test_json_utils.py
  netra_backend/tests/utils/test_datetime_string_json_utils.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(analytics): remove ClickHouse dependency from analytics service
  analytics_service/analytics_core/database/clickhouse.py
  analytics_service/analytics_core/models/events.py
  analytics_service/analytics_core/services/clickhouse_service.py
  analytics_service/analytics_core/services/event_processor.py
  analytics_service/examples/clickhouse_usage.py
  analytics_service/main.py
  analytics_service/requirements.txt
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

refactor(environment): strengthen environment isolation across all services
  analytics_service/tests/unit/test_config.py
  analytics_service/tests/unit/test_isolated_environment.py
  netra_backend/app/core/environment_validator.py
  netra_backend/app/core/isolated_environment.py
  netra_backend/app/core/project_utils.py
  netra_backend/tests/test_os_environ_violations.py
  test_framework/conftest_base.py
  test_framework/environment_isolation.py
  test_framework/test_config.py
  tests/conftest.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(agents): update import paths to use unified JSON handler
  netra_backend/app/agents/actions_goals_plan_builder.py
  netra_backend/app/agents/corpus_admin/parsers.py
  netra_backend/app/agents/data_sub_agent/agent_data_processing.py
  netra_backend/app/agents/data_sub_agent/agent_execution.py
  netra_backend/app/agents/github_analyzer/config_parser.py
  netra_backend/app/agents/optimizations_core_sub_agent.py
  netra_backend/app/agents/reporting_sub_agent.py
  netra_backend/app/agents/state.py
  netra_backend/app/agents/supervisor/execution_engine.py
  netra_backend/app/agents/synthetic_data_profile_parser.py
  netra_backend/app/agents/tool_dispatcher_core.py
  netra_backend/app/agents/triage_sub_agent/core.py
  netra_backend/app/agents/triage_sub_agent/models.py
  netra_backend/app/agents/triage_sub_agent/result_processor.py
  netra_backend/app/websocket_core/manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test: update test suites and configurations for consolidated changes
  .gitignore
  analytics_service/tests/unit/test_event_ingestion.py
  analytics_service/tests/unit/test_event_processor.py
  analytics_service/tests/unit/test_health_endpoints.py
  analytics_service/tests/unit/test_main.py
  auth_service/requirements.txt
  auth_service/tests/conftest.py
  auth_service/tests/test_auth_comprehensive.py
  auth_service/tests/test_critical_bugs.py
  auth_service/tests/test_refresh_endpoint.py
  auth_service/tests/test_refresh_endpoint_simple.py
  auth_service/tests/test_signup_flow_comprehensive.py
  docker-compose.yml
  frontend/__tests__/components/chat/MessageInput/send-button.test.tsx
  frontend/__tests__/components/chat/interface/advanced-chat-features.test.tsx
  frontend/__tests__/components/form-validation.test.tsx
  netra_backend/tests/conftest.py
  requirements.txt
  tests/e2e/test_agent_circuit_breaker_simple.py
  tests/e2e/test_agent_collaboration_real.py
  tests/mission_critical/test_websocket_agent_events_suite.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

chore: update test coverage and result files
  auth_service/coverage.json
  auth_service/coverage.xml
  auth_service/junit.xml
  junit.xml
Due: none

feat(analytics): enhance event processing with FrontendEvent factory
  analytics_service/analytics_core/__init__.py
  analytics_service/analytics_core/models/__init__.py
  analytics_service/analytics_core/models/events.py
  analytics_service/analytics_core/services/event_processor.py
  analytics_service/requirements.txt
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

refactor(agents): migrate to unified JSON handler across all agents
  netra_backend/app/agents/data_sub_agent/agent_execution.py
  netra_backend/app/agents/data_sub_agent/models.py
  netra_backend/app/agents/triage_sub_agent/result_processor.py
  netra_backend/app/agents/utils.py
  netra_backend/app/core/serialization/unified_json_handler.py
  netra_backend/app/schemas/shared_types.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(serialization): migrate to unified JSON handler
  netra_backend/app/agents/data_sub_agent/agent_data_processing.py
  netra_backend/app/agents/data_sub_agent/agent_execution.py
  netra_backend/app/agents/data_sub_agent/models.py
  netra_backend/app/agents/github_analyzer/config_parser.py
  netra_backend/app/agents/triage_sub_agent/result_processor.py
  netra_backend/app/agents/utils.py
  netra_backend/app/core/serialization/unified_json_handler.py
  netra_backend/app/schemas/shared_types.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

docs(claude): update WebSocket mission critical documentation
  CLAUDE.md
Due: none

test(auth): eliminate mocks for real service testing
  analytics_service/analytics_core/__init__.py
  analytics_service/tests/integration/test_service_integration.py
  auth_service/tests/conftest.py
  auth_service/tests/test_auth_comprehensive.py
  auth_service/tests/test_critical_bugs.py
  auth_service/tests/test_refresh_endpoint.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(websocket): strengthen WebSocket event validation
  netra_backend/tests/conftest.py
  netra_backend/tests/integration/critical_paths/test_websocket_auth_handshake.py
  netra_backend/tests/integration/test_agent_pipeline_core.py
  netra_backend/tests/integration/test_message_flow_auth_helpers.py
  netra_backend/tests/integration/test_message_flow_errors_helpers.py
  netra_backend/tests/integration/test_message_flow_performance_helpers.py
  netra_backend/tests/integration/test_message_flow_routing_helpers.py
  netra_backend/tests/integration/test_model_cascade_real_selection.py
  netra_backend/tests/test_dev_smoke_test.py
  netra_backend/tests/websocket/test_connection_manager.py
  netra_backend/tests/websocket/test_message_handler.py
  tests/mission_critical/test_websocket_agent_events_suite.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(tests): relocate agent initialization test to proper directory
  netra_backend/tests/agents/test_agent_initialization.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(auth): strengthen Redis integration tests with real services
  auth_service/tests/conftest.py
  auth_service/tests/test_redis_staging_fixes.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(infrastructure): enhance integration tests with real service validation
  docker-compose.test.yml
  junit.xml
  netra_backend/tests/integration/test_model_cascade_real_selection.py
  netra_backend/tests/services/test_tool_dispatcher.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(database): streamline test database initialization scripts
  scripts/test_init_clickhouse.sql
  scripts/test_init_db.sql
Due: none

refactor(testing): improve test runner resilience and clean up prompts
  ...prompts/test_prompts.md
  scripts/unified_test_runner.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

feat(websocket): enhance WebSocket performance and reliability for concurrent users
  ...prompts/remediate_prompts.md
  REMEDIATE_chat.md
  SPEC/learnings/frontend_circular_dependency_white_screen.xml
  WEBSOCKET_CONCURRENCY_OPTIMIZATION_REPORT.md
  WEBSOCKET_PERFORMANCE_IMPROVEMENT_REPORT.md
  frontend/__tests__/architecture/circular-dependency.test.ts
  frontend/__tests__/lib/logger-context-fix.test.tsx
  frontend/__tests__/regression/logger-context-binding.regression.test.tsx
  frontend/lib/logger.ts
  frontend/lib/unified-api-config.ts
  frontend/providers/WebSocketProvider.tsx
  netra_backend/app/agents/enhanced_tool_execution.py
  netra_backend/app/agents/supervisor/agent_registry.py
  netra_backend/app/agents/supervisor/execution_engine.py
  netra_backend/app/agents/supervisor/periodic_update_manager.py
  netra_backend/app/agents/supervisor/websocket_notifier.py
  netra_backend/app/core/websocket_reconnection_handler.py
  netra_backend/app/websocket_core/manager.py
  netra_backend/app/websocket_core/message_buffer.py
  netra_backend/tests/integration/websocket_performance_validation.py
  scripts/run_comprehensive_orchestration_tests.py
  test_framework/real_services.py
  tests/e2e/TEST_2_AGENT_ORCHESTRATION_REMEDIATION_REPORT.md
  tests/e2e/test_agent_orchestration_e2e_comprehensive.py
  tests/e2e/test_agent_orchestration_e2e_mock.py
  tests/e2e/validate_orchestration_tests.py
  tests/mission_critical/conftest_isolated.py
  tests/mission_critical/test_chat_responsiveness_under_load.py
  tests/mission_critical/test_websocket_event_reliability_comprehensive.py
  tests/mission_critical/test_websocket_load_minimal.py
  tests/mission_critical/test_websocket_reliability_focused.py
  tests/test_enhanced_websocket_events.py
  websocket_performance_standalone_test.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

feat(analytics): implement real database connections and health checks
  analytics_service/analytics_core/database/connection.py
  netra_backend/tests/integration/test_performance_analyzer_real_data.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(critical-remediation): enhance system stability with comprehensive test improvements and docker health management
  DOCKER_BRITTLENESS_FIXES.md
  analytics_service/analytics_core/config.py
  analytics_service/analytics_core/database/clickhouse_manager.py
  analytics_service/main.py
  analytics_service/test_connection.py
  docker-compose.test.yml
  docker-compose.yml
  frontend/cypress/e2e/demo-chat-core.cy.ts
  frontend/cypress/e2e/demo-landing-page.cy.ts
  frontend/cypress/e2e/thread-management-simple.cy.ts
  frontend/cypress/e2e/utils/chat-test-helpers.ts
  netra_backend/tests/integration/critical_paths/test_integration_failures_audit.py
  netra_backend/tests/unit/test_distributed_tracing_context_preservation.py
  netra_backend/tests/unit/test_distributed_tracing_performance_overhead.py
  netra_backend/tests/unit/test_distributed_tracing_span_propagation.py
  netra_backend/tests/unit/test_json_fragment_parsing.py
  scripts/docker_health_manager.py
  scripts/test_docker_manager.py
  test_framework/docker_test_manager.py
  tests/e2e/test_primary_chat_websocket_flow.py
  tests/e2e/test_websocket_core_functionality.py
  tests/integration/test_auth_service_verification_fixes.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

feat(config): update environment configurations for critical remediation
  .env.dev
  .env.development
  .env.staging.example
  .env.staging.template
  config/staging.env
  staging_auth_service_config.json
Due: none

feat(websocket): enhance WebSocket connection stability and error handling
  frontend/providers/WebSocketProvider.tsx
  frontend/services/webSocketService.ts
Due: new-file-compliance, edited-lines-check

refactor(backend): improve ClickHouse configuration and connection handling
  netra_backend/app/core/configuration/database.py
  netra_backend/app/db/clickhouse.py
  scripts/deploy_to_gcp.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(testing): enhance test infrastructure for critical remediation
  netra_backend/pytest.ini
  netra_backend/tests/clickhouse/conftest.py
  netra_backend/tests/integration/critical_paths/test_integration_failures_audit.py
  netra_backend/tests/integration/test_triage_real_services.py
  netra_backend/tests/integration/test_unified_message_flow_fixtures.py
  netra_backend/tests/integration/test_unified_message_flow_helpers.py
  test_framework/conftest_real_services.py
  tests/conftest.py
  tests/e2e/test_cold_start_critical_issues.py
  tests/integration/test_l4_critical_core_integration.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs(spec): update project documentation and learning index
  CLAUDE.md
  SPEC/learnings/index.xml
  SPEC/real_service_testing.xml
  junit.xml
  jwt_secrets_audit.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

feat(learnings): add critical test infrastructure and auth debug analysis
  SPEC/learnings/critical_test_infrastructure_failure_analysis.xml
  SPEC/learnings/cypress_test_upgrade_systematic.xml
  SPEC/learnings/websocket_logger_dual_import_context_binding_issue.xml
  debug_auth_env.py
  test_jwt_staging_consistency.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(auth): enhance secret management and WebSocket test coverage
  auth_service/auth_core/secret_loader.py
  netra_backend/app/core/configuration/unified_secrets.py
  tests/mission_critical/test_websocket_subagent_events.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(critical): add comprehensive WebSocket and JWT security test coverage
  frontend/__tests__/integration/critical/websocket-logger-browser-context.test.tsx
  frontend/__tests__/static-analysis/dual-import-pattern-detection.test.ts
  netra_backend/tests/critical/test_websocket_message_routing_real.py
  test_websocket_api_signatures.py
  test_websocket_simple.py
  tests/mission_critical/test_jwt_secret_hard_requirements.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(a11y): update accessibility test suites
  frontend/__tests__/a11y/components-basic.a11y.test.tsx
  frontend/__tests__/a11y/components-complex.a11y.test.tsx
  frontend/__tests__/a11y/components-ui.a11y.test.tsx
  frontend/__tests__/a11y/forms-groups-basic.a11y.test.tsx
  frontend/__tests__/a11y/forms-groups-dynamic.a11y.test.tsx
  frontend/__tests__/a11y/forms-groups-validation.a11y.test.tsx
  frontend/__tests__/a11y/forms-groups.a11y.test.tsx
  frontend/__tests__/a11y/forms-input.a11y.test.tsx
  frontend/__tests__/a11y/forms-keyboard.a11y.test.tsx
  frontend/__tests__/a11y/forms-validation.a11y.test.tsx
  frontend/__tests__/a11y/navigation-focus.a11y.test.tsx
  frontend/__tests__/a11y/navigation-keyboard.a11y.test.tsx
  frontend/__tests__/a11y/navigation-landmarks.a11y.test.tsx
  frontend/__tests__/a11y/navigation-screen-reader.a11y.test.tsx
  frontend/__tests__/accessibility/keyboard-navigation.test.tsx
Due: new-file-compliance, edited-lines-check

test(components): update UI and component test suites
  frontend/__tests__/components/AgentStatusPanel.test.tsx
  frontend/__tests__/components/AppWithLayout.test.tsx
  frontend/__tests__/components/AuthGuard.test.tsx
  frontend/__tests__/components/ChatHistorySection.test.tsx
  frontend/__tests__/components/FinalReportView.test.tsx
  frontend/__tests__/components/InitializationProgress.test.tsx
  frontend/__tests__/components/MessageInput/complete-coverage.test.tsx
  frontend/__tests__/components/MessageInput/complete.test.tsx
  frontend/__tests__/components/MessageInput/edge-cases-backup.test.tsx
  frontend/__tests__/components/MessageInput/edge-cases.test.tsx
  frontend/__tests__/components/MessageInput/length-validation.test.tsx
  frontend/__tests__/components/MessageInput/mobile-navigation.test.tsx
  frontend/__tests__/components/MessageInput/validation-final.test.tsx
  frontend/__tests__/components/MessageInput/validation-simple.test.tsx
  frontend/__tests__/components/MessageInput/validation-working.test.tsx
  frontend/__tests__/components/Sidebar/complete.test.tsx
  frontend/__tests__/components/StartButton.test.tsx
  frontend/__tests__/components/SubAgentStatus.test.tsx
  frontend/__tests__/components/TestLoginComponent.test.tsx
  frontend/__tests__/components/ThinkingIndicator.test.tsx
  frontend/__tests__/components/ThreadList.test.tsx
  frontend/__tests__/components/ThreadList/navigation.test.tsx
  frontend/__tests__/components/UIComponents.test.tsx
  frontend/__tests__/components/auth-mock-test.test.tsx
  frontend/__tests__/components/button-accessibility.test.tsx
  frontend/__tests__/components/demo/ROICalculator.calculations.test.ts
  frontend/__tests__/components/demo/ROICalculator.test.ts
  frontend/__tests__/components/form-validation.test.tsx
  frontend/__tests__/components/forms/user-profile-form.test.tsx
  frontend/__tests__/components/loading-states.test.tsx
  frontend/__tests__/components/ui/ActionButtons.test.tsx
  frontend/__tests__/components/ui/Button.complete.test.tsx
  frontend/__tests__/components/ui/IconButton.test.tsx
  frontend/__tests__/components/ui/Input.complete.test.tsx
  frontend/__tests__/components/ui/SearchInput.test.tsx
  frontend/__tests__/components/ui/TextArea.test.tsx
  frontend/__tests__/components/ui/button.test.tsx
  frontend/__tests__/components/ui/select.test.tsx
  frontend/__tests__/components/websocket-provider-timing.test.tsx
Due: new-file-compliance, edited-lines-check

test(hooks/store): update state management and hook tests
  frontend/__tests__/hooks/additionalHooks.test.tsx
  frontend/__tests__/hooks/custom-hooks.test.tsx
  frontend/__tests__/hooks/useAgent.test.tsx
  frontend/__tests__/hooks/useAuthState.test.tsx
  frontend/__tests__/hooks/useChatWebSocket.test.ts
  frontend/__tests__/hooks/useError.test.ts
  frontend/__tests__/hooks/useInitializationCoordinator.test.tsx
  frontend/__tests__/hooks/useKeyboardShortcuts.test.tsx
  frontend/__tests__/hooks/useLoadingState.test.tsx
  frontend/__tests__/hooks/useMCPTools.test.tsx
  frontend/__tests__/hooks/usePerformanceMetrics.test.tsx
  frontend/__tests__/hooks/useStore.integration.test.tsx
  frontend/__tests__/hooks/useThreads.auth.test.tsx
  frontend/__tests__/hooks/useWebSocket-error-handling.test.tsx
  frontend/__tests__/hooks/useWebSocket.test.tsx
  frontend/__tests__/hooks/useWebSocketLifecycle.test.tsx
  frontend/__tests__/store/auth-store-authentication.test.ts
  frontend/__tests__/store/auth-store-permissions.test.ts
  frontend/__tests__/store/auth-store-state-management.test.ts
  frontend/__tests__/store/authStore.test.ts
  frontend/__tests__/store/cache-management.test.ts
  frontend/__tests__/store/chatStore.test.ts
  frontend/__tests__/store/corpusStore.test.ts
  frontend/__tests__/store/error-state-recovery.test.ts
  frontend/__tests__/store/localStorage-persistence.test.ts
  frontend/__tests__/store/middleware-behavior.test.ts
  frontend/__tests__/store/multi-tab-sync.test.ts
  frontend/__tests__/store/offline-mode.test.ts
  frontend/__tests__/store/optimistic-updates.test.ts
  frontend/__tests__/store/state-migration.test.ts
  frontend/__tests__/store/store-actions-reducers.test.ts
  frontend/__tests__/store/store-configuration.test.ts
  frontend/__tests__/store/undo-redo-history.test.ts
  frontend/__tests__/store/unified-chat-batching.test.tsx
  frontend/__tests__/store/unified-chat-layer-updates.test.ts
  frontend/__tests__/store/unified-chat-state-management.test.ts
  frontend/__tests__/store/unified-chat-websocket-events.test.ts
  frontend/__tests__/store/unified-chat.test.ts
  frontend/__tests__/store/websocket-state-sync.test.tsx
Due: new-file-compliance, edited-lines-check

test(critical): update critical path and e2e test suites
  frontend/__tests__/critical/auth-flow/signup-flow.test.tsx
  frontend/__tests__/critical/chat-functionality/file-upload.test.tsx
  frontend/__tests__/critical/chat-functionality/message-formatting.test.tsx
  frontend/__tests__/critical/chat-functionality/message-send-receive.test.tsx
  frontend/__tests__/critical/chat-functionality/thread-management.test.tsx
  frontend/__tests__/critical/chat-init/first-message.test.tsx
  frontend/__tests__/critical/first-load/landing-page-final.test.tsx
  frontend/__tests__/critical/first-load/landing-page-setup-mock.test.tsx
  frontend/__tests__/critical/first-load/landing-page.test.tsx
  frontend/__tests__/critical/memory-exhaustion.test.tsx
  frontend/__tests__/critical/start-button/comprehensive.test.tsx
  frontend/__tests__/e2e/chat-interaction-simple.test.tsx
  frontend/__tests__/e2e/chat-interaction.test.tsx
  frontend/__tests__/e2e/complete-conversation.playwright.test.tsx
  frontend/__tests__/e2e/multi-tab-sync.playwright.test.tsx
  frontend/__tests__/e2e/onboarding-flow.test.tsx
  frontend/__tests__/e2e/performance-load.playwright.test.tsx
Due: new-file-compliance, edited-lines-check

Path conditions:
  new-file-compliance: any of: \.(py|ts|tsx)$
  edited-lines-check: any of: \.(py|ts|tsx)$
  prevent-new-relative-imports: any of: \.py$
  main-code-quality: any of: ^(netra_backend/app|auth_service/auth_core|frontend/src)/.*\.(py|ts|tsx)$
  test-file-leniency: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  new-duplicate-prevention: any of: \.py$
  check-environment-isolation: any of: (test_.*\.py|.*_test\.py|tests/.*\.py|conftest\.py)$
  protect-staging-config: any of: netra_backend/app/schemas/config\.py$
