Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$

docs: Add Issue #722 SSOT remediation completion documentation
  reports/ISSUE_728_GITHUB_UPDATE.md
  reports/ISSUE_728_PHASE_1_SUCCESS_PROOF.md
  reports/SSOT_COMPLIANCE_STATUS_REPORT_2025_09_13.md
  tests/e2e/test_issue_686_golden_path_execution_engine_conflicts.py
  tests/unit/execution_engine_ssot/test_execution_engine_duplication_detection.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

FAILING-TEST-GARDENER: Integration tests issue discovery and GitHub tracking
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-integration-2025-09-13-03.md
Due: docker-force-flag-prohibition

Issue #724: Complete SSOT Configuration Manager final documentation updates
  docs/GOLDEN_AGENT_INDEX.md
  docs/GOLDEN_PATH_DOCUMENTATION_INDEX.md
  docs/GOLDEN_PATH_USER_FLOW_COMPLETE.md
  docs/testing/TEST_EXECUTION_GUIDE.md
  netra_backend/app/core/auth_startup_validator.py
  reports/MASTER_WIP_STATUS.md
  tests/unit/docker/test_compose_path_validation.py
  tests/unit/docker/test_dockerfile_path_consistency.py
  tests/unit/test_deploy_to_gcp_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Update master documentation with Issue #722 completion status
  reports/MASTER_WIP_STATUS.md
  reports/implementations/SSOT_MIGRATION_GUIDE.md
Due: docker-force-flag-prohibition

SSOT remediation: Fix direct environment access violations (Issue #724)
  ISSUE_722_COMPLETION_SUMMARY.md
  ISSUE_722_STABILITY_PROOF_REPORT.md
  docs/GOLDEN_AGENT_INDEX.md
  docs/GOLDEN_PATH_DOCUMENTATION_INDEX.md
  docs/GOLDEN_PATH_USER_FLOW_COMPLETE.md
  netra_backend/app/admin/corpus/unified_corpus_admin.py
  netra_backend/app/middleware/error_recovery_middleware.py
  netra_backend/app/services/agent_websocket_bridge.py
  netra_backend/app/websocket_core/unified_manager.py
  netra_backend/app/websocket_core/websocket_manager.py
  reports/TEST_COVERAGE_REPORT_2025_09_13.md
  shared/logging/__init__.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(e2e): Complete test infrastructure improvements and analysis corrections
  ISSUE_722_REMEDIATION_PLAN.md
  reports/TEST_EXECUTION_GUIDE.md
  tests/e2e/test_issue_686_golden_path_execution_engine_conflicts.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Phase 1 P0 integration test infrastructure fixes
  tests/integration/test_agent_execution_flow_integration.py
  tests/integration/test_database_service_integration.py
  tests/integration/test_websocket_agent_communication_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: Add staging validation scripts for Issue #722 verification
  scripts/run_staging_validation.sh
  scripts/staging_environment_validation_suite.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: Issue #683 - Final staging environment validation complete
  ISSUE_683_FINAL_VALIDATION_REPORT.md
  test_results.txt
  tests/validation/test_issue_683_final_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): Enhance agent WebSocket integration test infrastructure
  netra_backend/tests/agents/test_base_agent_websocket_integration.py
  netra_backend/tests/unit/agents/test_execution_engine_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(websocket): Issue #712 Phase 1 SSOT validation implementation
  netra_backend/app/agents/supervisor/user_execution_engine.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(staging): Enable OpenTelemetry tracing and optimize WebSocket event validation
  netra_backend/backend_requirements.txt
  netra_backend/tests/agents/test_base_agent_websocket_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Complete Issue #728 Phase 1 P0 Integration Test Coverage
  docs/DOCKER_INDEX.md
  docs/GO_TO_SYMBOL_NAVIGATION_GUIDE.md
  docs/SYSTEM_ARCHITECTURE_OVERVIEW.md
  docs/architecture/API_DOCUMENTATION.md
  docs/architecture/ARCHITECTURE.md
  docs/development/DEVELOPMENT_SETUP.md
  docs/operations/MONITORING_GUIDE.md
  docs/testing/TEST_EXECUTION_GUIDE.md
  reports/ISSUE_728_COMPLETION_REPORT.md
  staging_validation_results.json
Due: docker-force-flag-prohibition

fix(websocket): Complete Issue #712 createtestsv2 final fixes - compatibility layer and factory method
  netra_backend/app/agents/supervisor/user_execution_engine.py
  netra_backend/tests/unit/websocket_core/test_websocket_manager_compatibility_layer.py
  pr_update_body.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: Complete SSOT Gardener process for Issue #722 (Final)
  SSOT-legacy-environment-access-direct-osgetenv-bypassing-ssot.md
Due: docker-force-flag-prohibition

fix(tests): Enhance concurrent user isolation testing in BaseAgent WebSocket integration
  netra_backend/tests/agents/test_base_agent_websocket_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Clean up createtestsv2 process completion - remove temporary PR files
  netra_backend/tests/unit/websocket_core/test_websocket_manager_compatibility_layer.py
  pr_update_body.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): Enhance WebSocket compatibility layer for E2E testing
  test_framework/websocket_helpers.py
  tests/e2e/golden_path/test_complete_golden_path_e2e_staging.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(status): Update Issue #714 BaseAgent Phase 1 completion in master status
  reports/MASTER_WIP_STATUS.md
Due: docker-force-flag-prohibition

feat: Complete Issue #712 Golden Path WebSocket Manager validation
  STAGING_TEST_REPORT_PYTEST.md
  TEST_PLAN_ISSUE_712_WEBSOCKET_MANAGER_GOLDEN_PATH_VALIDATION.md
  netra_backend/app/services/user_execution_context.py
  scripts/deploy_to_gcp_actual.py
  tests/e2e/staging/test_deployment_validation.py
  tests/integration/deployment/test_config_validation_bridge.py
  tests/unit/deployment/test_secrets_config_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: Implement automated secret injection bridge for Issue #683
  tests/integration/test_secret_injection_bridge_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): Replace direct UnifiedWebSocketManager instantiation with factory pattern
  netra_backend/app/services/websocket_bridge_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(config): Remove deprecated REDIS_URL from deployment configuration
  deployment/secrets_config.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(websocket): Issue #712 Phase 4 SSOT validation factory pattern compliance
  netra_backend/app/services/websocket_bridge_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(websocket): Issue #712 Phase 4 SSOT validation comprehensive test suite
  netra_backend/tests/unit/websocket_core/test_agent_websocket_bridge_unit.py
  netra_backend/tests/unit/websocket_core/test_websocket_manager_factory_functions.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(performance): Issue #677 - Implement staging-optimized performance thresholds
  tests/e2e/golden_path/test_complete_golden_path_e2e_staging.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(validation): Issue #677 - System stability validation proof and documentation
  ISSUE_677_STABILITY_VALIDATION_PROOF.md
Due: docker-force-flag-prohibition

test(issue-677): Comprehensive focused test suite and final resolution analysis
  reports/ISSUE_677_FINAL_RESOLUTION_RECOMMENDATION.md
  tests/issue_677/test_focused_staging_connectivity_validation.py
  tests/issue_677/test_performance_threshold_adjustment.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(issue-677): Complete Issue #677 documentation and migration planning
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-e2e-golden-2025-01-09.md
  WEBSOCKET_PARAMETER_MIGRATION_PLAN.md
Due: docker-force-flag-prohibition

feat(deployment): Implement automated secret injection bridge for staging environment
  scripts/deploy_to_gcp_actual.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(websocket): Update WebSocket bridge and manager tests for secret injection compatibility
  netra_backend/tests/unit/websocket_core/test_agent_websocket_bridge_unit.py
  netra_backend/tests/unit/websocket_core/test_unified_websocket_manager_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(jwt-config): Add comprehensive JWT configuration crisis validation tests
  tests/failing_demonstration/test_jwt_crisis_failing_proof.py
  tests/integration/test_websocket_jwt_auth_crisis_integration.py
  tests/staging/test_jwt_config_staging_environment.py
  tests/unit/jwt_config/test_jwt_secret_staging_crisis_unit.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(jwt-config): Add JWT configuration crisis test plan and validation strategy
  JWT_CONFIG_CRISIS_TEST_PLAN.md
Due: docker-force-flag-prohibition

config(staging): Update service account configuration for automated secret injection
  config/netra-deployer-netra-staging.json
Due: none

fix: Issue #403 - Fix EnvironmentContextService initialization in startup
  netra_backend/app/smd.py
  tests/unit/test_issue_403_environment_context_initialization.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(uvicorn): Issue #449 - Enhanced uvicorn protocol validation and middleware improvements
  netra_backend/app/services/agent_websocket_bridge.py
  netra_backend/app/startup_module.py
  netra_backend/app/websocket_core/unified_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(uvicorn): Issue #449 - Comprehensive test suite for middleware validation
  netra_backend/tests/unit/websocket_core/test_websocket_event_delivery_unit.py
  tests/integration/test_issue_449_middleware_compatibility_validation.py
  tests/mission_critical/test_thread_propagation_verification.py
  tests/unit/test_issue_449_asgi_scope_validation.py
  tests/unit/test_issue_449_uvicorn_error_handling_improvements.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs(uvicorn): Issue #449 - System stability proof and validation documentation
  ISSUE_449_FINAL_STABILITY_VALIDATION_SUMMARY.md
  ISSUE_449_SYSTEM_STABILITY_PROOF_REPORT.md
  ISSUE_449_VALIDATION_REPORT.md
Due: docker-force-flag-prohibition
