Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation, protect-staging-config

Path conditions:
  new-file-compliance: any of: \.(py|ts|tsx)$
  edited-lines-check: any of: \.(py|ts|tsx)$
  prevent-new-relative-imports: any of: \.py$
  main-code-quality: any of: ^(netra_backend/app|auth_service/auth_core|frontend/src)/.*\.(py|ts|tsx)$
  test-file-leniency: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  new-duplicate-prevention: any of: \.py$
  check-environment-isolation: any of: (test_.*\.py|.*_test\.py|tests/.*\.py|conftest\.py)$
  protect-staging-config: any of: netra_backend/app/schemas/config\.py$

chore(docker): finalize docker-compose configuration
  docker-compose.yml
Due: none

docs(spec): update learnings index with staging definitions
  SPEC/learnings/index.xml
  SPEC/staging_tests_definition.xml
Due: none

docs: enhance Docker development guide and add SSOT documentation
  docs/DOCKER_DEV_GUIDE.md
  docs/SSOT_importance.md
Due: none

test(backend): refactor test helpers and mocks
  netra_backend/tests/helpers/quality_gate_comprehensive_helpers.py
  netra_backend/tests/helpers/redis_test_helpers.py
  netra_backend/tests/integration/agent_pipeline_mocks.py
  netra_backend/tests/integration/critical_paths/test_cors_auth_service_l4.py
  netra_backend/tests/integration/critical_paths/test_oauth_staging_url_consistency_l4.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test: improve E2E and integration test reliability
  tests/e2e/integration/test_websocket_message_streaming.py
  tests/e2e/real_services_manager.py
  tests/e2e/reconnection_test_helpers.py
  tests/e2e/resilience/test_response_persistence_recovery.py
  tests/e2e/startup_sequence_validator.py
  tests/e2e/test_iteration2_new_issues.py
  tests/e2e/test_latency_targets.py
  tests/e2e/test_multi_agent_collaboration_response.py
  tests/e2e/test_quality_gate_response_validation.py
  tests/e2e/test_streaming_endpoint_singleton.py
  tests/e2e/test_supervisor_pattern_compliance.py
  tests/e2e/test_system_resilience.py
  tests/e2e/test_websocket_integration.py
  tests/integration/test_websocket_auth_handshake_complete_flow.py
  tests/unit/scripts/test_deploy_to_gcp.py
  tests/websocket/test_secure_websocket.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

feat(scripts): enhance staging build script
  scripts/build_staging.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

test: add mission critical WebSocket validation tests
  tests/mission_critical/test_websocket_standalone_proof.py
  tests/standalone/test_websocket_robustness_proof.py
  tests/standalone/websocket_audit_simple.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs: add WebSocket robustness and syntax error audit reports
  TEST_SYNTAX_ERROR_FIX_REPORT.md
  WEBSOCKET_ROBUSTNESS_AUDIT_REPORT.md
Due: none

chore: add troubleshooting and validation utilities
  fix_indentation_errors.py
  identify_syntax_errors.py
  test_docker_stability.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

chore(docker): add minimal Docker Compose setup for development
  .env.development
  docker-compose.minimal.yml
Due: none

test(frontend): update chat interface tests and auth helpers
  frontend/__tests__/components/chat/interface/comprehensive-chat-interface.test.tsx
  frontend/__tests__/components/chat/interface/shared-test-setup.tsx
  frontend/__tests__/utils/auth-test-helpers.ts
Due: new-file-compliance, edited-lines-check

refactor(frontend): restructure types with shared module pattern
  frontend/types/index.ts
  frontend/types/shared/base.ts
  frontend/types/shared/index.ts
  frontend/types/shared/validation.ts
Due: new-file-compliance, edited-lines-check

refactor(orchestration): replace agents with managers pattern
  test_framework/orchestration/background_e2e_manager.py
  test_framework/orchestration/layer_execution_manager.py
  test_framework/orchestration/progress_streaming_manager.py
  test_framework/orchestration/resource_management_manager.py
  test_framework/orchestration/test_background_e2e_manager.py
  test_framework/orchestration/test_layer_execution_manager.py
  test_framework/orchestration/test_orchestrator_manager.py
  test_framework/orchestration/test_progress_streaming_manager.py
  test_framework/orchestration/test_resource_management_manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs: add top 10 remediation plan for critical issues
  REMEDIATION_PLAN_TOP10.md
Due: none

docs(spec): update learnings for WebSocket and staging improvements
  SPEC/learnings/index.xml
  SPEC/learnings/ssot_consolidation_2025.xml
  SPEC/learnings/staging_e2e_comprehensive_implementation.xml
  SPEC/learnings/staging_e2e_direct_testing_integration.xml
  SPEC/learnings/websocket_docker_fixes.xml
  SPEC/learnings/websocket_rapid_disconnect_fix.xml
  SPEC/websockets.xml
Due: none

docs: update Docker and staging documentation
  ...prompts/test_prompts.md
  docs/DOCKER_DEV_GUIDE.md
  docs/E2E_STAGING_AUTH.md
  docs/STAGING_E2E_TEST_GUIDE.md
  docs/docker-dual-environment-setup.md
  docs/websocket_disconnect_analysis_report.md
  docs/websocket_docker_troubleshooting.md
  netra_backend/tests/integration/red_team/tier4_user_management/IMPLEMENTATION_SUMMARY.md
Due: none

test: update E2E and security test suites
  netra_backend/tests/auth_integration/test_models_security_comprehensive.py
  netra_backend/tests/helpers/auth_test_helper.py
  netra_backend/tests/unified_system/test_dev_mode.py
  netra_backend/tests/unit/test_api_health_endpoint_cycle_56.py
  tests/e2e/frontend/test_frontend_error_handling.py
  tests/e2e/staging_auth_bypass.py
  tests/e2e/staging_auth_client.py
  tests/e2e/staging_config.py
  tests/e2e/test_development_thread_handling.py
  tests/e2e/test_real_user_signup_login_chat.py
  tests/e2e/test_staging_api_with_auth.py
  tests/e2e/test_staging_e2e_comprehensive.py
  tests/e2e/test_websocket_comprehensive.py
  tests/run_staging_tests.py
  tests/security/test_jwt_signature_exploitation.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

chore: update configuration and utility scripts
  SPEC/docker_volume_optimization.xml
  STAGING_TEST_ACTION_PLAN.md
  auth_service/auth_core/unified_auth_interface.py
  docker-compose.yml
  scripts/setup_e2e_bypass_key.py
  scripts/setup_local_development.sh
  scripts/test_docker_websocket_fix.py
  scripts/test_websocket_cors_comprehensive.py
  scripts/test_websocket_manual.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

Update deploy_to_gcp.py
  scripts/deploy_to_gcp.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

Update STAGING_TEST_ACTION_PLAN.md
  STAGING_TEST_ACTION_PLAN.md
Due: none

docs(spec): update learnings index with isolated environment migration
  SPEC/learnings/clickhouse_staging_secret_mapping.xml
  SPEC/learnings/index.xml
Due: none

refactor(analytics): migrate to unified isolated environment
  analytics_service/analytics_core/config.py
  analytics_service/analytics_core/routes/analytics_routes.py
  analytics_service/analytics_core/routes/health_routes.py
  analytics_service/analytics_core/routes/websocket_routes.py
  analytics_service/tests/compliance/test_clickhouse_ssot_violations.py
  analytics_service/tests/conftest.py
  analytics_service/tests/integration/integration_config.py
  analytics_service/tests/integration/run_integration_tests.py
  analytics_service/tests/integration/test_api_integration.py
  analytics_service/tests/integration/test_database_integration.py
  analytics_service/tests/integration/test_event_pipeline.py
  analytics_service/tests/integration/test_real_analytics_service.py
  analytics_service/tests/integration/test_service_integration.py
  analytics_service/tests/integration/test_utils.py
  analytics_service/tests/unit/test_config.py
  analytics_service/tests/unit/test_event_ingestion.py
  analytics_service/tests/unit/test_health_endpoints.py
  analytics_service/tests/unit/test_isolated_environment.py
  analytics_service/tests/unit/test_main.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(auth): migrate to unified isolated environment
  auth_service/auth_core/config.py
  auth_service/auth_core/core/jwt_handler.py
  auth_service/auth_core/database/connection.py
  auth_service/auth_core/database/database_manager.py
  auth_service/auth_core/database/staging_validation.py
  auth_service/auth_core/isolated_environment.py
  auth_service/auth_core/oauth/google_oauth.py
  auth_service/auth_core/oauth_manager.py
  auth_service/auth_core/performance/startup_optimizer.py
  auth_service/auth_core/redis_manager.py
  auth_service/auth_core/routes/auth_routes.py
  auth_service/auth_core/secret_loader.py
  auth_service/auth_core/security/middleware.py
  auth_service/auth_core/security/oauth_security.py
  auth_service/auth_core/services/auth_service.py
  auth_service/auth_core/validation/pre_deployment_validator.py
  auth_service/debug_db_test.py
  auth_service/gunicorn_config.py
  auth_service/health_check.py
  auth_service/health_config.py
  auth_service/main.py
  auth_service/test_actual_staging_credentials.py
  auth_service/test_staging_db_connection.py
  auth_service/test_url_construction.py
  auth_service/tests/auth-service-down-critical-scenarios.py
  auth_service/tests/conftest.py
  auth_service/tests/critical/test_oauth_configuration_missing_staging_regression.py
  auth_service/tests/integration/test_database_connection.py
  auth_service/tests/test_auth_comprehensive.py
  auth_service/tests/test_auth_port_configuration.py
  auth_service/tests/test_critical_bugs.py
  auth_service/tests/test_environment_loading.py
  auth_service/tests/test_redis_staging_fixes.py
  auth_service/tests/test_refresh_endpoint.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(dev-launcher): migrate to unified isolated environment
  database_scripts/create_db.py
  database_scripts/refresh_db.py
  database_scripts/run_migrations.py
  database_scripts/validate_init.py
  dev_launcher/__main__.py
  dev_launcher/auth_starter.py
  dev_launcher/config.py
  dev_launcher/config_validator.py
  dev_launcher/database_connector.py
  dev_launcher/database_initialization.py
  dev_launcher/docker_services.py
  dev_launcher/enhanced_health_monitor.py
  dev_launcher/env_file_loader.py
  dev_launcher/env_parser.py
  dev_launcher/environment_manager.py
  dev_launcher/frontend_starter.py
  dev_launcher/isolated_environment.py
  dev_launcher/launcher.py
  dev_launcher/log_filter.py
  dev_launcher/migration_runner.py
  dev_launcher/secret_loader.py
  dev_launcher/service_availability_checker.py
  dev_launcher/service_config.py
  dev_launcher/service_coordination.py
  dev_launcher/service_discovery.py
  dev_launcher/tests/test_critical_dev_launcher_issues.py
  dev_launcher/tests/test_database_validation_url_fix.py
  dev_launcher/tests/test_env_loading_regression.py
  dev_launcher/tests/test_environment_conflicts.py
  dev_launcher/tests/test_environment_isolation_pytest_integration.py
  dev_launcher/tests/test_environment_source_tracking_comprehensive.py
  dev_launcher/tests/test_event_loop_conflict.py
  dev_launcher/tests/test_isolated_environment.py
  dev_launcher/unicode_utils.py
  dev_launcher/utils.py
  dev_launcher/websocket_validator.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

feat(shared): add unified isolated environment implementation
  shared/isolated_environment.py
  shared/secret_manager_builder.py
  test_framework/conftest_base.py
  test_framework/conftest_real_services.py
  test_framework/cypress/config_manager.py
  test_framework/cypress/service_manager.py
  test_framework/docker_test_manager.py
  test_framework/environment_isolation.py
  test_framework/environment_markers.py
  test_framework/external_service_integration.py
  test_framework/isolated_environment_manager.py
  test_framework/jwt_test_utils.py
  test_framework/orchestration/background_e2e_agent.py
  test_framework/orchestration/background_e2e_manager.py
  test_framework/orchestration/layer_execution_agent.py
  test_framework/orchestration/layer_execution_manager.py
  test_framework/orchestration/master_orchestration_controller.py
  test_framework/orchestration/production_monitoring.py
  test_framework/orchestration/progress_streaming_agent.py
  test_framework/orchestration/progress_streaming_manager.py
  test_framework/orchestration/resource_management_agent.py
  test_framework/orchestration/resource_management_manager.py
  test_framework/robust_websocket_test_helper.py
  test_framework/service_availability.py
  test_framework/staging_websocket_test_helper.py
  test_framework/staging_websocket_utilities.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

chore(scripts): update validation and migration tools
  scripts/benchmark_agent_performance.py
  scripts/benchmark_agents_real_llm.py
  scripts/check_environment_isolation.py
  scripts/cleanup_staging_environments.py
  scripts/create_additional_shims.py
  scripts/deploy_to_gcp.py
  scripts/diagnose_migration_state.py
  scripts/fix_authentication_system.py
  scripts/fix_authentication_test_tokens.py
  scripts/fix_environment_duplicates.py
  scripts/migrate_isolated_environment_imports.py
  scripts/optimize_test_performance.py
  scripts/remediate_os_environ_violations.py
  scripts/scan_os_environ_violations.py
  scripts/setup_test_environment.py
  scripts/test_collection_audit.py
  scripts/test_environment_validation_clean.py
  scripts/test_improved_environment_validation.py
  scripts/test_remediation_sample.py
  scripts/test_secret_manager_builder_critical.py
  scripts/test_service_startup_with_missing_optionals.py
  scripts/test_staging_websocket_comprehensive.py
  scripts/unified_test_runner.py
  scripts/validate_environment_compliance.py
  scripts/validate_staging_config.py
  scripts/validate_staging_db_connection.py
  scripts/validate_websocket_staging_setup.py
  scripts/verify_clickhouse_connection.py
  scripts/verify_clickhouse_fix.py
  scripts/verify_oauth_config.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs: add migration reports and deployment guides
  AGENT_REGISTRY_CONSOLIDATION_REPORT.md
  CLICKHOUSE_STAGING_CONFIG_BUG_REPORT.md
  CLICKHOUSE_STAGING_FIX_REPORT.md
  CRITICAL_JWT_SECURITY_REMEDIATION_REPORT.md
  DOCKER_DEPLOYMENT_GUIDE.md
  DOCKER_OPTIMIZATION_COMPLETE.md
  ISOLATED_ENVIRONMENT_MIGRATION_REPORT.md
  JWT_SECURITY_FIXES_SUMMARY.md
  OS_ENVIRON_VIOLATIONS_REMEDIATION_REPORT.md
  SESSION_MANAGEMENT_CONSOLIDATION_REPORT.md
  SSOT_MAJOR_VIOLATIONS_AUDIT_REPORT.md
  SSOT_REMEDIATION_FINAL_REPORT.md
  STAGING_TEST_REMEDIATION_REPORT.md
  TOOL_EXECUTION_CONSOLIDATION_REPORT.md
  WEBSOCKET_SSOT_FIX_REPORT.md
  config/staging.env
  coverage.json
  coverage.xml
  deploy-docker.bat
  deploy-docker.sh
  docker-compose.dev.override.yml
  docker-compose.dev.yml
  docker-compose.optimized.yml
  junit.xml
  run_staging_tests.bat
  run_staging_tests.py
  start-netra-dev.bat
  test_staging_quick.py
  validate-netra-dev.bat
  validate_staging_tests.py
  verify_docker_optimization.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

deep think
  docker-compose.yml
Due: none

fix: standardize ClickHouse staging secret naming
  SPEC/learnings/clickhouse_staging_secret_mapping.xml
  scripts/create_staging_secrets.py
  scripts/fix_staging_secrets.py
  tests/e2e/test_deployment_configuration_validation.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor: migrate analytics service to IsolatedEnvironment
  analytics_service/analytics_core/utils/config.py
  analytics_service/analytics_core/utils/security.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

feat: add auth service configuration to docker-compose
  docker-compose.yml
Due: none

fix: standardize ClickHouse secret naming in staging test
  scripts/test_staging_startup.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor: migrate environment validators to IsolatedEnvironment
  netra_backend/app/core/configuration_validator.py
  netra_backend/app/core/environment_validator.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention
