Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

fix: resolve HTTP 307 redirect for /api/health endpoint
  netra_backend/app/routes/health_check.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: complete unified ID manager migration remediation for SSOT compliance
  reports/bug_fixes/UNIFIED_ID_MANAGER_MIGRATION_REMEDIATION_REPORT_20250908.md
  test_unified_id_migration_stability.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: resolve streaming endpoint timeout with SSOT supervisor factory
  netra_backend/app/core/supervisor_factory.py
  netra_backend/app/routes/messages.py
  reports/staging/STEP5_SSOT_AUDIT_RESULTS.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: eliminate pytest.skip patterns in critical WebSocket E2E tests
  tests/e2e/websocket/test_agent_execution_websocket_integration.py
  tests/e2e/websocket/test_complete_chat_business_value_flow.py
  tests/e2e/websocket/test_websocket_reconnection_during_agent_execution.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: replace fake service dependencies with real services in cold start tests
  tests/e2e/test_cold_start_critical_issues.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: eliminate pytest.skip patterns in multi-service E2E tests
  tests/e2e/agent_isolation/test_multi_tenant_isolation.py
  tests/e2e/configuration/test_multi_service_configuration_e2e.py
  tests/e2e/database/test_complete_database_workflows_e2e.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: remove deprecated mock fixtures and implement real OAuth test patterns
  tests/e2e/agent_orchestration_fixtures.py
  tests/e2e/dev_mode_integration_utils_core.py
  tests/e2e/integration/test_auth_oauth_flows.py
  tests/e2e/oauth_test_providers.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add comprehensive fake test cleanup progress report
  reports/testing/FAKE_TEST_CLEANUP_PROGRESS_REPORT.md
Due: docker-force-flag-prohibition

fix: resolve critical WebSocket Factory resource leak bug
  netra_backend/app/websocket_core/websocket_manager_factory.py
  shared/id_generation/unified_id_generator.py
  test_thread_id_consistency_fix.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: add SSOT auto-initialization to DatabaseManager
  netra_backend/app/db/database_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: ensure explicit DatabaseManager initialization during startup
  netra_backend/app/startup_module.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: critical database initialization analysis and staging test results
  reports/staging/CRITICAL_DATABASE_INITIALIZATION_BUG_FIX_REPORT_20250908.md
  reports/staging/SSOT_COMPLIANCE_AUDIT_REPORT_20250908.md
  reports/staging/ULTIMATE_TEST_DEPLOY_LOOP_AGENT_RESULTS_20250908.md
Due: docker-force-flag-prohibition

fix: enhance auth service core models and security validation
  auth_service/auth_core/models/oauth_token.py
  auth_service/auth_core/models/oauth_user.py
  auth_service/auth_core/security/__init__.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: consolidate error handling with unified response architecture
  netra_backend/app/core/error_response.py
  netra_backend/app/core/error_response_models.py
  netra_backend/app/core/unified_error_handler.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: strengthen exception architecture with service-specific handling
  netra_backend/app/core/exceptions/__init__.py
  netra_backend/app/core/exceptions_agent.py
  netra_backend/app/core/exceptions_service.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: enhance agent execution architecture with better isolation
  netra_backend/app/agents/base_agent.py
  netra_backend/app/agents/supervisor/agent_execution_core.py
  netra_backend/app/agents/supervisor/execution_context.py
  netra_backend/app/agents/supervisor/mcp_execution_engine.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: improve WebSocket routing and agent execution tracking
  ERROR_HANDLING_JSON_DEBUG_FIELDS_IMPLEMENTATION_REPORT.md
  ERROR_HANDLING_JSON_FIELD_ENHANCEMENTS_STABILITY_REPORT.md
  netra_backend/app/core/agent_execution_tracker.py
  netra_backend/app/routes/websocket.py
  netra_backend/app/startup_module.py
  netra_backend/tests/integration/test_error_handling_debug_info_integration.py
  netra_backend/tests/unit/error_handling/test_error_json_field_enhancements.py
  netra_backend/tests/unit/security/test_error_response_security.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: enhance client architecture with circuit breaker improvements
  netra_backend/app/clients/auth_client_core.py
  netra_backend/app/clients/circuit_breaker.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: strengthen database architecture with proper session management
  netra_backend/app/core/database_timeout_config.py
  netra_backend/app/database/__init__.py
  netra_backend/app/database/request_scoped_session_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: implement enhanced supervisor initialization with retry logic and fail-fast staging behavior
  test_framework/containers_utils.py
  test_framework/fixtures/validation_fixtures.py
  test_framework/ssot/configuration_validator.py
  test_framework/ssot/e2e_auth_helper.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: consolidate remaining core backend improvements
  netra_backend/app/core/exceptions_service.py
  netra_backend/app/db/clickhouse.py
  netra_backend/app/schemas/config.py
  netra_backend/app/services/corpus/corpus_creation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: enhance shared utilities and staging configuration
  shared/test_only_guard.py
  tests/e2e/staging_config.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: strengthen auth service test coverage and validation
  auth_service/tests/integration/test_oauth_provider_integration_comprehensive.py
  auth_service/tests/unit/test_auth_business_logic_validation_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: enhance critical integration test coverage
  netra_backend/tests/integration/test_agent_execution_context_corruption_critical.py
  netra_backend/tests/integration/test_thread_creation_comprehensive.py
  netra_backend/tests/integration/test_websocket_comprehensive.py
  netra_backend/tests/integration/test_websocket_event_misrouting_critical.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: consolidate unit test coverage improvements
  netra_backend/tests/unit/test_base.py
  netra_backend/tests/unit/test_websocket_connection_lifecycle_cycle2.py
  netra_backend/tests/unit/tools/test_tool_dispatcher_isolation_critical.py
  netra_backend/tests/unit/websocket/test_message_serialization.py
  netra_backend/tests/unit/websocket/test_unified_websocket_manager.py
  netra_backend/tests/unit/websocket_core/test_websocket_serialization_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: enhance ClickHouse testing infrastructure
  netra_backend/tests/clickhouse/clickhouse_test_fixtures.py
  netra_backend/tests/clickhouse/test_realistic_log_ingestion.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

config: standardize pytest configuration across services
  netra_backend/pytest.ini
  pytest.ini
Due: none

docs: update staging test reports and deployment loop results
  STAGING_TEST_REPORT_PYTEST.md
  reports/staging/ULTIMATE_TEST_DEPLOY_LOOP_RESULTS_20250908.md
  reports/testing/PRIORITY_TEST_CREATION_SESSION_20250908.md
Due: docker-force-flag-prohibition

feat: enhance ultimate test deploy loop command functionality
  .claude/commands/ultimate-test-deploy-loop.md
  netra_backend/tests/integration/test_exception_docker_import.py
  netra_backend/tests/unit/core/test_exception_import_reliability.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

cleanup: remove obsolete audit commands and temporary test files
  .claude/commands/audit-gcp-logs-loop.md
  SERVICEERROR_IMPORTERROR_BUG_FIX_REPORT.md
  netra_backend/tests/integration/test_container_import_environment.py
  test_thread_id_consistency_fix.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

reports: update coverage and test execution reports
  auth_service/coverage.json
  auth_service/coverage.xml
  auth_service/junit.xml
  coverage.json
  coverage.xml
  junit.xml
Due: none

reports: update HTML coverage reports with latest test results
  SERVICEERROR_IMPORTERROR_REMEDIATION_COMPLETE.md
  SERVICEERROR_IMPORTERROR_REMEDIATION_PLAN.md
  SERVICEERROR_IMPORTERROR_REPRODUCTION_REPORT.md
  SERVICEERROR_IMPORTERROR_STABILITY_ASSESSMENT.md
  reports/coverage/html/z_04cd3645af7f5dd3_clickhouse_connection_manager_py.html
  reports/coverage/html/z_04cd3645af7f5dd3_database_timeout_config_py.html
  reports/coverage/html/z_04cd3645af7f5dd3_error_response_models_py.html
  reports/coverage/html/z_04cd3645af7f5dd3_error_response_py.html
  reports/coverage/html/z_04cd3645af7f5dd3_exceptions_agent_py.html
  reports/coverage/html/z_04cd3645af7f5dd3_exceptions_database_py.html
  reports/coverage/html/z_04cd3645af7f5dd3_exceptions_service_py.html
  reports/coverage/html/z_04cd3645af7f5dd3_project_utils_py.html
  reports/coverage/html/z_04cd3645af7f5dd3_supervisor_factory_py.html
  reports/coverage/html/z_04cd3645af7f5dd3_unified_error_handler_py.html
  reports/coverage/html/z_04cd3645af7f5dd3_unified_logging_py.html
  reports/coverage/html/z_31d86e8a90d8f371___init___py.html
  reports/coverage/html/z_31d86e8a90d8f371_content_generator_py.html
  reports/coverage/html/z_6b4250e885e85823_analysis_engine_py.html
  reports/coverage/html/z_6b4250e885e85823_query_builder_py.html
  reports/coverage/html/z_7fb78f3478493e6c_base_py.html
  reports/coverage/html/z_7fb78f3478493e6c_validator_database_py.html
  reports/coverage/html/z_b10c3dfd4a83094a_request_scoped_session_factory_py.html
  reports/coverage/html/z_b55fee14d7b0156d___init___py.html
  reports/coverage/html/z_b55fee14d7b0156d_content_corpus_py.html
  reports/coverage/html/z_c6532d6ed947e187___init___py.html
  reports/coverage/html/z_d06f20064c66a946___init___py.html
  reports/coverage/html/z_e635c78437f23ecb_auth_client_core_py.html
  reports/coverage/html/z_e635c78437f23ecb_circuit_breaker_py.html
Due: docker-force-flag-prohibition

test: finalize agent execution core enhanced integration testing
  netra_backend/tests/integration/agents/supervisor/test_agent_execution_core_enhanced_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: comprehensive ServiceError ImportError analysis and testing framework
  reports/testing/ServiceError_ImportError_Test_Plan.md
Due: docker-force-flag-prohibition

feat: iteration 2 complete with WebSocket race condition fixes for Cloud Run
  netra_backend/app/routes/websocket.py
  reports/staging/AGENT_EXECUTION_TIMEOUT_BUG_FIX_REPORT_20250908.md
  reports/staging/ULTIMATE_TEST_DEPLOY_LOOP_ITERATION_2_REPORT_20250908.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: comprehensive WebSocket staging test analysis and validation
  reports/staging/E2E_OAUTH_SIMULATION_KEY_FIVE_WHYS_ANALYSIS_20250908.md
  reports/staging/SSOT_COMPLIANCE_AUDIT_WEBSOCKET_FIXES_20250908.md
  reports/staging/SYSTEM_STABILITY_PROOF_WEBSOCKET_FIXES_20250908.md
  reports/staging/ULTIMATE_TEST_DEPLOY_LOOP_WEBSOCKET_RESULTS_20250908.md
Due: docker-force-flag-prohibition

feat: create comprehensive unit tests for top 3 business critical SSOT classes
  netra_backend/tests/unit/business/__init__.py
  netra_backend/tests/unit/business/test_credit_manager_comprehensive.py
  netra_backend/tests/unit/business/test_subscription_manager_comprehensive.py
  netra_backend/tests/unit/clients/test_auth_client_config_comprehensive.py
  reports/coverage/UNIT_TEST_COVERAGE_100_PERCENT_MISSION.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: resolve critical WebSocket race condition in Cloud Run environments
  netra_backend/app/routes/websocket.py
  netra_backend/app/websocket_core/utils.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add comprehensive WebSocket race condition E2E test suite
  tests/e2e/test_websocket_race_condition_critical.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
