Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$

fix(auth): apply formatting to authentication flow test
  tests/integration/golden_path/test_user_authentication_flow_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(format): apply formatting to WebSocket state machine integration tests
  netra_backend/tests/integration/websocket_state_machine/test_core_state_machine_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(compliance): SSOT SOC2 compliance validator service implementation
  netra_backend/app/services/compliance/soc2_validator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(compliance): add SOC2 enterprise validation framework
  tests/integration/test_websocket_scaling_performance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(tests): add agent execution core integration tests report
  AGENT_EXECUTION_CORE_INTEGRATION_TESTS_REPORT.md
Due: docker-force-flag-prohibition

test(auth): improve test data uniqueness in authentication token business logic tests
  auth_service/tests/unit/golden_path/test_auth_service_business_logic.py
  netra_backend/tests/unit/golden_path/test_authentication_token_business_logic.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(performance): add memory usage leak detection and monitoring
  tests/integration/test_memory_usage_leak_detection_performance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Update gitissueprogressor.md
  .claude/commands/gitissueprogressor.md
Due: docker-force-flag-prohibition

test(auth): enhance business logic validation with tier escalation and subscription security
  auth_service/tests/unit/golden_path/test_auth_service_business_logic.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(tests): correct NewType instance validation in data validation tests
  netra_backend/tests/unit/golden_path/test_data_validation_transformation_business_logic.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(integration): comprehensive integration test remediation success report
  reports/integration_test_remediation_20250909.md
Due: docker-force-flag-prohibition

fix(comprehensive): complete race condition test suite and authentication flow updates
  netra_backend/tests/integration/application_state_websocket/test_websocket_agent_execution_performance_monitoring_integration.py
  netra_backend/tests/integration/race_conditions/test_execution_engine_registry_races.py
  netra_backend/tests/unit/agents/test_agent_execution_state_machine_comprehensive_unit.py
  tests/integration/golden_path/test_user_authentication_flow_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(performance): add comprehensive SLA compliance validation framework
  tests/integration/test_response_time_sla_compliance_performance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(validation): enforce strict API response structure for business integration
  netra_backend/tests/unit/golden_path/test_data_validation_transformation_business_logic.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): remove unused import in connection state integration
  netra_backend/app/routes/websocket.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(websocket): add comprehensive state machine integration test suite
  netra_backend/tests/integration/websocket_state_machine/test_core_state_machine_integration.py
  netra_backend/tests/unit/race_conditions/test_agent_execution_state_races.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(isolation): add comprehensive multi-user state machine isolation integration tests
  netra_backend/tests/integration/isolation/test_multi_user_state_machine_isolation_comprehensive_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(agents): add comprehensive AgentRegistry unit test suite with SSOT business logic focus
  netra_backend/tests/unit/agents/test_agent_registry_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(testing): add database connection pooling performance tests and config enhancements
  .coveragerc
  UNIT_TEST_REMEDIATION_COMPLETE_REPORT_20250909.md
  config/test_config_unified.ini
  netra_backend/app/agents/supervisor/agent_execution_core.py
  tests/integration/test_database_connection_pooling_performance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(e2e): add race conditions multi-user WebSocket isolation E2E tests
  netra_backend/tests/unit/agents/test_agent_registry_comprehensive.py
  tests/e2e/race_conditions/test_multi_user_websocket_isolation_e2e.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(concurrency): add comprehensive race condition and concurrent execution validation
  netra_backend/tests/integration/application_state_websocket/test_websocket_multi_agent_concurrent_execution_isolation.py
  netra_backend/tests/unit/agents/supervisor/test_agent_execution_core_concurrency.py
  netra_backend/tests/unit/websocket_core/test_websocket_manager_race_conditions.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(diagnostics): add WebSocket 1011 error validation tool
  test_websocket_validation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(websocket): add high-frequency load performance validation
  netra_backend/tests/integration/application_state_websocket/test_websocket_application_state_performance_high_frequency_loads_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(merge): document Git Gardener Cycle 12 branch resolution
  merges/MERGEISSUE_20250909_cycle12.md
Due: docker-force-flag-prohibition

feat(types): add SSOT agent execution types for enhanced validation
  shared/types/__init__.py
  shared/types/agent_types.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(tests): migrate to SSOT WebSocket event types in agent orchestration test
  netra_backend/tests/unit/agents/test_agent_execution_orchestration_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(golden-path): migrate to SSOT execution and type imports in advanced tests
  netra_backend/tests/integration/golden_path/test_multi_user_concurrency_isolation_advanced.py
  netra_backend/tests/integration/golden_path/test_websocket_advanced_edge_cases.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(testing): add comprehensive tool execution integration test suite
  netra_backend/tests/integration/tool_execution/test_tool_dispatcher_factory_isolation.py
  netra_backend/tests/integration/tool_execution/test_tool_security_sandboxing.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(staging): add websocket agent events validation test
  staging_websocket_agent_events_test.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(tests): migrate to SSOT type imports in message lifecycle integration test
  netra_backend/tests/integration/golden_path/test_message_lifecycle_real_services_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(audit): complete critical database compatibility remediation
  audit/staging/auto-solve-loop/critical_database_connection_failures_20250909.md
Due: docker-force-flag-prohibition

feat(testing): add pytest-cov availability detection to unified test runner
  tests/unified_test_runner.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(websocket): add enterprise conflict resolution integration test
  netra_backend/tests/integration/application_state_websocket/test_websocket_application_state_versioning_conflict_resolution_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(audit): add comprehensive frontend authentication state mismatch remediation report
  audit/staging/auto-solve-loop/frontend_auth_state_mismatch_remediation_20250909.md
Due: docker-force-flag-prohibition

docs(testing): add test creation progress report session 1
  test_creation_progress_report_session_1.md
Due: docker-force-flag-prohibition

docs(remediation): add database API compatibility complete implementation report
  DATABASE_API_COMPATIBILITY_REMEDIATION_COMPLETE_REPORT.md
Due: docker-force-flag-prohibition

test(websocket): add application state rollback mechanisms validation
  netra_backend/tests/integration/application_state_websocket/test_websocket_application_state_rollback_mechanisms_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(analytics): update database integration test
  analytics_service/tests/integration/test_database_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(testing): enhance test framework and database compatibility
  netra_backend/tests/integration/golden_path/test_configuration_management_integration.py
  netra_backend/tests/unit/database/test_sqlalchemy_pool_async_compatibility.py
  test_framework/base_integration_test.py
  test_framework/fixtures/real_services.py
  tests/e2e/test_golden_path_system_auth_fix.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(security): add cross-user isolation validation for WebSocket state
  netra_backend/tests/integration/application_state_websocket/test_websocket_application_state_cross_user_isolation_validation_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation
