Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

docs: add Issue #373 staging deployment validation reports
  staging_deployment_validation_report_373.md
  staging_deployment_validation_report_issue_373.md
Due: docker-force-flag-prohibition

docs: add comprehensive ultimate test deploy loop worklog
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-golden-path-agent-websocket-2025-09-11-19.md
Due: docker-force-flag-prohibition

docs(test-gardener): update golden path e2e test analysis worklog
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-ALL_TESTS-20250911_092851.md
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-e2e-golden-2025-09-11-123715-UPDATED.md
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-e2e-golden-2025-09-11-123715.md
Due: docker-force-flag-prohibition

docs(system-health): update staging test reports and system status
  STAGING_TEST_REPORT_PYTEST.md
  reports/MASTER_WIP_STATUS.md
Due: docker-force-flag-prohibition

docs(merge-log): update merge completion status and safety verification
  merges/MERGEISSUE-20250911_130817.md
Due: docker-force-flag-prohibition

docs(merge): add PR worklog documenting merge process and safety verification
  PR-WORKLOG-latest-2025-09-11T13-09.md
Due: docker-force-flag-prohibition

feat(database): merge Issue #374 enhanced exception handling with Issue #414 user isolation
  netra_backend/app/db/database_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore: commit intermediate database manager changes
  PR-WORKLOG-430-429-427-418-20250911.md
Due: docker-force-flag-prohibition

refactor(scripts): Update scripts implementation
  scripts/git_commit_gardener_monitor.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: Add comprehensive PR merge analysis work log - 4 PRs assessed
  PR-WORKLOG-430-429-427-418-20250911.md
Due: docker-force-flag-prohibition

feat(golden-path): complete Issue #414 remediation with comprehensive test suite
  GOLDEN_PATH_ISSUE_414_REMEDIATION_PLAN.md
  STAGING_TEST_REPORT_PYTEST.md
  docs/phase1_immediate_execution_guide.md
  docs/remediation/ISSUE_411_DOCKER_TIMEOUT_REMEDIATION_PLAN.md
  docs/unified_remediation_plan_deprecation_cleanup.md
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-golden-path-agent-websocket-2025-09-11-19.md
  tests/integration/golden_path/ISSUE_414_TEST_EXECUTION_REPORT.md
  tests/integration/golden_path/test_issue_414_database_session_lifecycle.py
  tests/integration/golden_path/test_issue_414_multi_user_concurrency.py
  tests/integration/golden_path/test_issue_414_user_context_factory_isolation.py
  tests/integration/golden_path/test_issue_414_websocket_event_contamination.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

resolve(conflicts): Consolidate unified WebSocket manager modes for SSOT compliance
  netra_backend/app/websocket_core/unified_manager.py
  tests/e2e/staging/conftest.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(logs): add GCP log gardener worklog 2025-09-11
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-20250911.md
Due: docker-force-flag-prohibition

feat: complete WebSocket unit test failure gardening with GitHub issue tracking
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-WEBSOCKET_EVENT_VERIFICATION_CHECKLIST-unit-20250911.md
Due: docker-force-flag-prohibition

final: complete Issue #374 database exception handling remediation
  ISSUE_387_TEST_EXECUTION_RESULTS.md
  MCP_DEPENDENCY_REMEDIATION_REPORT.md
  STAGING_DEPLOYMENT_VALIDATION_REPORT_374_FINAL.md
  comment_body.txt
  netra_backend/pytest.ini
  pytest.ini
  scripts/diagnose_mcp_dependencies.py
  test_database_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add merge conflict resolution log for develop-long-lived integration
  merges/MERGEISSUE-20250911-145500.md
Due: docker-force-flag-prohibition

test: add simple logging validation script
  test_logging_simple.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add failing test gardener worklog for WebSocket event verification integration issues
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-WEBSOCKET_EVENT_VERIFICATION_CHECKLIST-integration-2025-09-11-130737.md
  WEBSOCKET_EVENT_VERIFICATION_INTEGRATION_ISSUES_SUMMARY.md
Due: docker-force-flag-prohibition

feat(agents): implement agent execution prerequisites validation for Issue #387
  .claude/commands/gitissueprogressor.md
  PR-WORKLOG-latest-20250911.md
  netra_backend/app/agents/supervisor/agent_execution_core.py
  netra_backend/app/agents/supervisor/agent_execution_prerequisites.py
  netra_backend/app/agents/supervisor/agent_registry.py
  netra_backend/app/agents/supervisor/prerequisites_validator.py
  netra_backend/app/core/agent_execution_tracker.py
  netra_backend/tests/integration/agent_execution/test_agent_failure_recovery_integration.py
  netra_backend/tests/integration/agent_execution/test_agent_performance_reliability.py
  netra_backend/tests/integration/agent_execution/test_agent_websocket_events_integration.py
  netra_backend/tests/integration/agent_execution/test_multi_agent_workflow_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: restore TransactionEventCoordinator for PR #436 WebSocket reliability
  netra_backend/app/db/database_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(auth): enhance authentication logging for Issue #438 Priority 1 remediation
  netra_backend/app/auth_integration/auth.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(staging): enhance staging E2E test configuration for improved reliability
  tests/e2e/staging/conftest.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(websocket): fix WebSocket bridge integration test with proper mock patterns
  tests/unit/golden_path/test_websocket_event_validation_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(merge): document Git Commit Gardener merge resolution - Step 0c complete
  merges/MERGE-RESOLUTION-GARDENER-20250911-144000.md
Due: docker-force-flag-prohibition

refactor(logging): finalize Issue #438 Priority 1 logging coverage enhancements
  netra_backend/app/auth_integration/auth.py
  tests/e2e/ssot/test_golden_path_event_validator_integration.py
  tests/e2e/staging/test_ssot_event_validator_staging.py
  tests/logging_coverage/test_service_dependency_failure_logging.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: update existing tests for prerequisites validation integration - issue #387
  netra_backend/tests/integration/agent_execution/test_agent_execution_orchestration.py
  netra_backend/tests/integration/agent_execution/test_agent_failure_recovery_integration.py
  netra_backend/tests/integration/agent_execution/test_agent_websocket_events_integration.py
  netra_backend/tests/integration/agent_execution/test_concurrent_agent_execution_integration.py
  netra_backend/tests/integration/agent_execution/test_multi_agent_workflow_integration.py
  netra_backend/tests/unit/agents/supervisor/test_user_execution_engine_comprehensive.py
  tests/integration/ssot_validation/test_user_isolation_consistency.py
  tests/integration/ssot_validation/test_websocket_event_consistency.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(core-types): add WebSocketEventType enum serialization for frontend compatibility
  shared/types/core_types.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Resolve merge conflicts for PR #459: Keep SSOT compliance and security fixes
  merges/MERGEISSUE-20250911.md
Due: docker-force-flag-prohibition

fix(scripts): standardize environment imports to SSOT shared pattern
  scripts/remediate_os_environ_violations.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(ssot): update import registry with IsolatedEnvironment correction
  SSOT_IMPORT_REGISTRY.md
Due: docker-force-flag-prohibition

docs(remediation): add comprehensive plan for Issue #441 ConnectionInfo SSOT fix
  REMEDIATION_PLAN_ISSUE_441.md
Due: docker-force-flag-prohibition

feat(logging): add comprehensive logging coverage validation runner
  run_logging_coverage_validation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(staging): update test report with latest pytest execution results
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

fix(websocket): consolidate ConnectionInfo SSOT implementation - Issue #441
  netra_backend/app/websocket_core/connection_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(validation): add Priority 1 logging gap remediation validator
  validate_logging_fix.py
  validate_logging_simple.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(validation): remove duplicate validation script
  validate_logging_fix.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore: update integration tests and add WebSocket cold start testing
  PR_459_MERGE_CONFLICT_RESOLUTION_REPORT.md
  netra_backend/app/agents/supervisor/execution_engine.py
  netra_backend/tests/integration/agent_execution/test_agent_execution_orchestration.py
  simple_websocket_test.py
  test_websocket_cold_start.py
  tests/mission_critical/test_agent_prerequisites_validation.py
  websocket_cold_start_test.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs(validation): add Priority 1 logging stability validation report
  PRIORITY_1_LOGGING_STABILITY_VALIDATION_REPORT.md
Due: docker-force-flag-prohibition

docs: complete PR #459 merge process final verification and documentation
  PR-WORKLOG-latest-20250911.md
Due: docker-force-flag-prohibition

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
