Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$

fix(supply): resolve SupplyDatabaseManager import and ClickHouse driver issues
  BUG_FIX_REPORT_SupplyDatabaseManager_Import.md
  netra_backend/app/agents/supply_researcher/supply_database_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): resolve connection race conditions and improve error handling
  WEBSOCKET_CONNECTION_FIX_PLAN.md
  netra_backend/app/routes/websocket.py
  netra_backend/app/websocket_core/unified_manager.py
  tests/mission_critical/test_websocket_connection_race_condition.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix(deployment): add missing dependencies for staging environment
  deployment/docker/backend.gcp.Dockerfile
  docker/backend.staging.alpine.Dockerfile
  requirements.txt
Due: docker-force-flag-prohibition

test(deployment): add comprehensive validation tests
  tests/integration/test_deployment_config_e2e.py
  tests/test_supply_database_manager_fix_validation.py
  tests/unit/test_deployment_config_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(analysis): add Five Whys root cause analyses for critical failures
  CLICKHOUSE_DRIVER_DEPENDENCY_FIX.md
  FIVE_WHYS_CLICKHOUSE_STAGING_20250905.md
  FIVE_WHYS_FACTORY_PATTERN_V2_API_20250905.md
  FIVE_WHYS_LLM_CONFIG_FAILURE_20250905.md
Due: docker-force-flag-prohibition

feat(audit): add regression audit report and LLM config fix utility
  REGRESSION_AUDIT_REPORT_20250905.md
  scripts/fix_llm_config.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(claude): add critical regression prevention warnings
  CLAUDE.md
Due: docker-force-flag-prohibition

docs(websocket): add race condition fix summary
  WEBSOCKET_RACE_CONDITION_FIX_SUMMARY.md
Due: docker-force-flag-prohibition

docs(claude): clarify environment-specific config SSOT policy
  CLAUDE.md
Due: docker-force-flag-prohibition

feat(frontend): add unified API configuration and V2 agent service
  frontend/lib/unified-api-config.ts
  frontend/services/agentServiceV2.ts
Due: architecture-compliance, file-size-limit, type-safety-check

refactor(scripts): streamline staging configuration and deployment
  scripts/deploy_to_gcp.py
  scripts/setup_staging_secrets.py
  scripts/test_staging_config.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(config): add API keys SSOT analysis document
  CONFIG_LOAD_API_KEYS_SSOT_ANALYSIS.md
Due: docker-force-flag-prohibition

feat(frontend): enhance test agent page and message sending hook
  frontend/app/test-agent/page.tsx
  frontend/components/chat/hooks/useMessageSending.ts
Due: architecture-compliance, file-size-limit, type-safety-check

feat(critical): migrate WebSocket handler to v2 factory patterns for multi-user safety
  STAGING_GSM_FIX_CORRECT_SOLUTION.md
  frontend/lib/unified-api-config.ts
  netra_backend/app/websocket_core/agent_handler.py
  scripts/deploy_to_gcp.py
  scripts/fix_staging_gsm_secrets.py
  scripts/setup_staging_secrets.py
  scripts/test_staging_config.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(critical): comprehensive multi-user security audit reveals catastrophic vulnerabilities
  .github/workflows/e2e-docker-fix.yml
  .github/workflows/test.yml
  CLAUDE.md
  CRITICAL_MULTIUSER_SECURITY_AUDIT_20250905.md
  E2E_GITHUB_ACTIONS_FIXES_SUMMARY.md
  SPEC/learnings/websocket_v2_migration_critical_miss_20250905.xml
  WEBSOCKET_MOCK_REQUEST_REMEDIATION_PLAN.md
  docs/GCP_STAGING_DEPLOYMENT_CONFIG.md
  netra_backend/app/startup_module.py
  scripts/ci_docker_setup.sh
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(websocket): implement factory pattern for multi-user isolation
  netra_backend/app/websocket_core/context.py
  netra_backend/app/websocket_core/migration_adapter.py
  netra_backend/app/websocket_core/supervisor_factory.py
  netra_backend/app/websocket_core/user_context_extractor.py
  netra_backend/app/websocket_core/websocket_manager_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(websocket): migrate core modules to factory pattern
  netra_backend/app/routes/websocket.py
  netra_backend/app/websocket_core/__init__.py
  netra_backend/app/websocket_core/agent_handler.py
  netra_backend/app/websocket_core/unified_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

security(auth): enhance authentication with factory pattern support
  netra_backend/app/auth_integration/auth.py
  netra_backend/app/clients/auth_client_cache.py
  netra_backend/app/clients/auth_client_core.py
  netra_backend/app/websocket_core/auth.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

security(admin): fix privilege escalation vulnerability in admin routes
  netra_backend/app/routes/admin.py
  netra_backend/tests/security/test_admin_privilege_escalation_fix.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(agents): migrate agents to factory pattern with context isolation
  netra_backend/app/agents/base_agent.py
  netra_backend/app/agents/supervisor/pipeline_executor.py
  netra_backend/app/agents/supervisor/workflow_orchestrator.py
  netra_backend/app/agents/supply_researcher/agent.py
  netra_backend/app/core/supervisor_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(services): update service layer for factory pattern compatibility
  netra_backend/app/services/agent_service_core.py
  netra_backend/app/services/agent_websocket_bridge.py
  netra_backend/app/services/message_handlers.py
  netra_backend/app/services/message_processing.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(core): update LLM manager and dependencies for factory pattern
  netra_backend/app/dependencies.py
  netra_backend/app/llm/llm_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(security): add comprehensive multi-user isolation test suite
  tests/mission_critical/test_multiuser_security_isolation.py
  tests/mission_critical/test_websocket_factory_security_validation.py
  tests/mission_critical/test_websocket_singleton_vulnerability.py
  tests/security/test_factory_pattern_isolation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test(websocket): add WebSocket isolation and antipattern tests
  tests/critical/test_agent_websocket_bridge_multiuser_isolation.py
  tests/websocket/test_mock_request_antipattern.py
  tests/websocket/test_mock_request_antipattern_fixed.py
  tests/websocket/test_websocket_supervisor_isolation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(integration): add advanced multi-user integration test suite
  tests/integration/test_agent_supervisor_isolation_advanced.py
  tests/integration/test_agent_workflow_tool_notifications_advanced.py
  tests/integration/test_configuration_cascade_environments_advanced.py
  tests/integration/test_realistic_load_simulation_advanced.py
  tests/integration/test_thread_continuity_multi_session_advanced.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(websocket): add WebSocket core unit and integration tests
  netra_backend/tests/integration/websocket_core/test_agent_handler_integration.py
  netra_backend/tests/unit/websocket_core/__init__.py
  netra_backend/tests/unit/websocket_core/test_agent_handler_message_validation.py
  netra_backend/tests/unit/websocket_core/test_agent_handler_unit.py
  netra_backend/tests/unit/websocket_core/test_agent_handler_unit_fixed.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(deployment): enhance GCP deployment with security hardening
  SPEC/gcp_deployment_working_config.xml
  docs/GCP_STAGING_DEPLOYMENT_CONFIG.md
  scripts/deploy_to_gcp.py
  scripts/deployment/staging_config.yaml
  scripts/validate_deployment_config.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(specs): add integration test specifications
  tests/integration/specifications/integration_test_specifications_1_5.md
Due: docker-force-flag-prohibition

tools(validation): add factory migration validation scripts
  test_websocket_factory_migration.py
  test_websocket_patterns.py
  verify_websocket_migration.py
  websocket_performance_analysis.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(design): add WebSocket factory pattern design documentation
  docs/design/websocket_factory_pattern_design.md
Due: docker-force-flag-prohibition

docs(reports): add WebSocket factory migration validation reports
  AGENT_WEBSOCKET_BRIDGE_SECURITY_AUDIT_FINAL_REPORT.md
  WEBSOCKET_BRIDGE_MIGRATION_VALIDATION_REPORT.md
  WEBSOCKET_CODE_REVIEW_VALIDATION.md
  WEBSOCKET_FACTORY_SECURITY_AUDIT.md
  WEBSOCKET_MOCK_REQUEST_REMEDIATION_PHASE2_SUMMARY.md
  WEBSOCKET_REMEDIATION_TEST_REPORT.md
  WEBSOCKET_SINGLETON_TO_FACTORY_MIGRATION_REPORT.md
Due: docker-force-flag-prohibition

docs(reports): add auth fix and E2E test readiness reports
  AUTH_SECRET_LOADING_BUG_FIX_REPORT.md
  E2E_TESTS_GITHUB_ACTIONS_READY.md
  GITHUB_ACTIONS_E2E_TEST_SUMMARY.md
  netra_backend/tests/TEST_SUITE_SUMMARY.md
Due: docker-force-flag-prohibition

refactor(config): enhance configuration for factory pattern support
  netra_backend/app/core/configuration/base.py
  netra_backend/app/schemas/config.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore(meta): update test coverage and prompt documentation
  ...prompts/remediate_prompts.md
  coverage.json
  coverage.xml
  junit.xml
Due: docker-force-flag-prohibition

security(analytics): add user context isolation to event processor
  analytics_service/analytics_core/services/event_processor.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

style(test): apply linter formatting to WebSocket validation tests
  netra_backend/tests/unit/websocket_core/test_agent_handler_message_validation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(security): add final security validation and performance reports
  ADMIN_PRIVILEGE_ESCALATION_SECURITY_FIX_REPORT.md
  WEBSOCKET_BRIDGE_SECURITY_AUDIT_EVIDENCE_REPORT.md
  WEBSOCKET_MIGRATION_VALIDATION.md
  WEBSOCKET_MOCK_REQUEST_REMEDIATION_PERFORMANCE_ANALYSIS.md
  WEBSOCKET_PERFORMANCE_VALIDATION.md
  WEBSOCKET_REMEDIATION_FINAL_REPORT.md
Due: docker-force-flag-prohibition

test(security): add WebSocket vulnerability proof-of-concept test
  test_websocket_vulnerability_proof.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

tools(ci): add GitHub Actions auto-fix monitoring script
  scripts/github_ci_auto_fix_loop.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(security): add secure background task manager with context isolation
  netra_backend/app/services/secure_background_task_manager.py
  scripts/github_ci_auto_fix_loop.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation
