Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

feat(types): add SSOT agent execution types for enhanced validation
  shared/types/__init__.py
  shared/types/agent_types.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(gardener): complete Git Commit Gardener Cycle 13 with exceptional results
  merges/GIT_GARDENER_CYCLE_13_COMPLETION_20250909.md
  netra_backend/tests/integration/test_agent_orchestrator_access_integration_issue_118.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(e2e): overhaul golden path system auth fix tests for staging validation
  tests/e2e/test_golden_path_system_auth_fix.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(testing): add comprehensive tool orchestration and middleware validation tests
  netra_backend/tests/integration/tool_execution/test_multi_tool_orchestration_flows.py
  netra_backend/tests/unit/middleware/test_middleware_order_validation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(gardener): complete Git Commit Gardener Cycle 13 with exceptional results
  merges/GIT_GARDENER_CYCLE_13_COMPLETION_20250909.md
  netra_backend/tests/integration/test_agent_orchestrator_access_integration_issue_118.py
  netra_backend/tests/unit/test_orchestrator_factory_pattern_issue_118.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(staging): add websocket agent events validation test
  staging_websocket_agent_events_test.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(testing): add middleware session dependency and service auth component tests
  netra_backend/tests/integration/middleware/test_session_dependency_integration.py
  tests/unit/test_service_auth_components.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(testing): add comprehensive Issue #110 test plan and P0 staging report
  COMPREHENSIVE_TEST_PLAN_GITHUB_ISSUE_110.md
  CRITICAL_P0_STAGING_TEST_REPORT.md
Due: docker-force-flag-prohibition

refactor(tests): correct SSOT import paths in integration and unit tests
  auth_service/tests/unit/test_jwt_handler_business_logic.py
  auth_service/tests/unit/test_oauth_integration_business_logic.py
  netra_backend/tests/integration/golden_path/test_multi_user_isolation_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(testing): add websocket tool execution integration test and final test results
  netra_backend/tests/integration/tool_execution/__init__.py
  netra_backend/tests/integration/tool_execution/test_websocket_tool_execution_integration.py
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_GOLDEN_PATH_COMPREHENSIVE_20250909_FINAL.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(config): suppress resource monitor warnings in pytest configuration
  auth_service/pytest.ini
Due: none

feat(testing): add tool execution test suite validation and Issue #117 test plan
  netra_backend/tests/integration/tool_execution/test_suite_validation.py
  tests/test_plans/GITHUB_ISSUE_117_COMPREHENSIVE_TEST_PLAN.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(testing): enhance mission critical test error handling for dependency issues
  tests/mission_critical/test_system_user_auth_reproduction.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(testing): add tool execution integration documentation and websocket unit tests
  netra_backend/tests/integration/tool_execution/README.md
  tests/unit/websocket/test_websocket_json_ssot_violations_reproduction.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(testing): improve mission critical auth test logging and timing precision
  tests/mission_critical/test_system_user_auth_reproduction.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix(config): exclude coverage HTML reports from git tracking
  .gitignore
Due: none

feat(testing): add middleware dependency and websocket race condition tests
  netra_backend/tests/unit/middleware/test_middleware_dependency_demonstration.py
  netra_backend/tests/unit/test_toolregistry_basemodel_filtering.py
  tests/e2e/test_websocket_race_conditions_staging.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(coverage): update root coverage reports and add message routing unit test
  coverage.json
  coverage.xml
  tests/unit/message_routing/test_execute_agent_message_type_reproduction.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(coverage): finalize HTML coverage report updates for comprehensive test execution
  reports/coverage/html/CUsersanthoOneDriveDesktopNetranetra-core-generation-1test_websocket_events_simple_py.html
  reports/coverage/html/batch_execution_factory_update_py.html
  reports/coverage/html/batch_import_update_py.html
  reports/coverage/html/batch_import_update_simple_py.html
  reports/coverage/html/z_1c1c3cd1a5417cd3___init___py.html
  reports/coverage/html/z_6f8006801089e28d___init___py.html
  reports/coverage/html/z_8e80378ee613f809___init___py.html
  reports/coverage/html/z_ccf2ea189d410c11___init___py.html
  reports/coverage/html/z_ccf2ea189d410c11_example_usage_py.html
  reports/coverage/html/z_ccf2ea189d410c11_main_py.html
  reports/coverage/html/z_ccf2ea189d410c11_run_ssot_compliance_tests_py.html
  reports/coverage/html/z_e15c5c22e0d602c5___init___py.html
  reports/coverage/html/z_e15c5c22e0d602c5_database_py.html
  reports/coverage/html/z_e15c5c22e0d602c5_demo_refresh_fix_py.html
  reports/coverage/html/z_e15c5c22e0d602c5_gunicorn_config_py.html
  reports/coverage/html/z_e15c5c22e0d602c5_health_check_py.html
  reports/coverage/html/z_e15c5c22e0d602c5_health_config_py.html
  reports/coverage/html/z_e15c5c22e0d602c5_init_database_py.html
  reports/coverage/html/z_e15c5c22e0d602c5_main_py.html
  reports/coverage/html/z_e15c5c22e0d602c5_services_init_py.html
Due: none

fix(config): exclude coverage data files from git tracking
  .gitignore
Due: none

feat(validation): add agent execution validator and update gitignore for coverage exclusions
  netra_backend/app/agents/supervisor/agent_execution_validator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(testing): add comprehensive Issue #112 test execution results
  TEST_EXECUTION_RESULTS_ISSUE_112.md
  why1_evidence.json
Due: docker-force-flag-prohibition

test(issue-118): consolidate SSOT import paths for WebSocket orchestrator testing
  netra_backend/tests/integration/test_agent_orchestrator_access_integration_issue_118.py
  netra_backend/tests/unit/test_orchestrator_factory_pattern_issue_118.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

perf(test-framework): optimize MockAgentExecutionEngine timing and business responses
  test_framework/fixtures/no_docker_golden_path_fixtures.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(performance): add performance concurrency report integration test suite
  netra_backend/tests/integration/test_performance_concurrency_report_integration.py
  test_framework/fixtures/no_docker_golden_path_fixtures.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(golden-path): add mock service support for persistence validation
  tests/integration/golden_path/test_golden_path_complete_e2e_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

enhance(test-framework): add WebSocket close method and improve business value response
  test_framework/fixtures/no_docker_golden_path_fixtures.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(stability): add comprehensive system stability proof for Issue #122 database compatibility
  SYSTEM_STABILITY_PROOF_REPORT_20250909.md
Due: docker-force-flag-prohibition

test(fixtures): enhance mock WebSocket service with database simulation and improved timing
  test_framework/fixtures/no_docker_golden_path_fixtures.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(enterprise-security): add comprehensive WebSocket multi-user isolation testing
  netra_backend/tests/integration/application_state_websocket/test_websocket_user_context_multi_user_complete_isolation_integration.py
  netra_backend/tests/integration/application_state_websocket/test_websocket_user_context_session_concurrent_message_isolation_integration.py
  netra_backend/tests/integration/test_thread_switching_concurrent_operations_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(error-handling): add comprehensive fallback report integration test suite
  netra_backend/tests/integration/test_error_handling_fallback_report_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(enterprise-reliability): add comprehensive user state isolation validation across events and database
  netra_backend/tests/integration/application_state_websocket/test_websocket_user_context_state_database_events_isolation_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(staging): update pytest test report timestamp and duration
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

feat(agents): add business rule validator for tier-based access control
  netra_backend/app/agents/base/agent_business_rules.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(integration): add websocket lifecycle race condition detection tests
  tests/integration/test_websocket_lifecycle_management.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(golden-path): add class-level validation result storage for persistence
  tests/integration/golden_path/test_golden_path_suite_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(mission-critical): add chat business value restoration validation suite
  tests/mission_critical/test_chat_business_value_restoration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
