Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention, check-environment-isolation, protect-staging-config

new-file-compliance:
  name: New File Standards (strict for new files only)
  entry: python scripts/permissive_hooks/check_new_files.py
  language: system
  stages:
  - commit
  description: Applies strict standards ONLY to newly created files

edited-lines-check:
  name: Modified Lines Check (incremental)
  entry: python scripts/permissive_hooks/check_edited_lines.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Validates only the lines being modified, not the entire file

prevent-new-relative-imports:
  name: Prevent New Relative Imports
  entry: python scripts/permissive_hooks/check_new_imports.py --warn-only
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Blocks new relative imports, warns about existing ones

main-code-quality:
  name: Main Codebase Quality (app > tests)
  entry: python scripts/permissive_hooks/prioritized_check.py --priority app
  language: system
  stages:
  - commit
  description: Prioritizes main application code quality over test files

test-file-leniency:
  name: Test File Check (permissive)
  entry: python scripts/permissive_hooks/test_check_lenient.py --max-lines 1000
  language: system
  stages:
  - commit
  description: Relaxed limits for test files - focus on functionality over form

new-duplicate-prevention:
  name: Prevent New Duplicates (incremental)
  entry: python scripts/permissive_hooks/check_new_duplicates.py --threshold 0.9
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents introduction of NEW duplicate patterns only

check-environment-isolation:
  name: Environment Isolation Check
  entry: python scripts/check_environment_isolation.py --strict
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents direct os.environ access in test files - use IsolatedEnvironment instead

protect-staging-config:
  name: Staging Configuration Protection
  entry: python scripts/protect_staging_config.py
  language: system
  stages:
  - commit
  pass_filenames: false
  always_run: false
  description: Prevents ClickHouse configs from defaulting to localhost which breaks staging

fix(base_agent): add missing newlines and legacy update methods
  netra_backend/app/agents/base_agent.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

feat(compliance): add MRO auditor for inheritance analysis
  scripts/compliance/mro_auditor.py
  scripts/compliance/orchestrator.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

refactor(compliance): remove BaseExecutionInterface references from MRO auditor
  scripts/check_architecture_compliance.py
  scripts/compliance/cli.py
  scripts/compliance/mro_auditor.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

refactor(agents): simplify base agent execution patterns
  netra_backend/app/agents/base/__init__.py
  netra_backend/app/agents/base/interface.py
  netra_backend/app/agents/base_agent.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(triage): simplify TriageSubAgent using BaseAgent infrastructure
  netra_backend/app/agents/triage_sub_agent.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test: update test suites for BaseExecutionInterface removal
  tests/e2e/test_critical_websocket_agent_events.py
  tests/integration/test_agent_websocket_ssot.py
  tests/mission_critical/test_agent_type_safety_comprehensive.py
  tests/mission_critical/test_inheritance_architecture_violations.py
  tests/mission_critical/test_websocket_bridge_consistency.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs: add MRO auditor implementation and SSOT consolidation summary
  base_agent_ssot_consolidation_summary.md
  docs/mro_auditor_implementation.md
Due: none

test: add unit tests for base agent infrastructure and triage agent
  netra_backend/tests/unit/agents/test_base_agent_infrastructure.py
  netra_backend/tests/unit/agents/test_triage_agent_golden.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs: add critical action prompts and refactor planning
  ...prompts/gap_real_system.md
  ...prompts/major-refactor-process.md
  ...prompts/prove-it.md
  ...prompts/remediate_prompts.md
  ...prompts/test_prompts.md
  ...prompts/weakest_link_value_protection.md
Due: none

refactor(triage): complete BaseAgent infrastructure adoption
  netra_backend/app/agents/triage_sub_agent.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test: add comprehensive agent test infrastructure
  netra_backend/tests/integration/agents/test_triage_infrastructure_integration.py
  netra_backend/tests/unit/agents/test_agent_edge_cases_critical.py
  netra_backend/tests/unit/agents/test_agent_performance_benchmarks.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(core): rename BaseSubAgent to BaseAgent throughout infrastructure
  netra_backend/app/agents/agent_communication.py
  netra_backend/app/agents/agent_lifecycle.py
  netra_backend/app/agents/base/__init__.py
  netra_backend/app/agents/base/interface.py
  netra_backend/app/agents/base/timing_decorators.py
  netra_backend/app/agents/base_agent.py
  netra_backend/app/agents/base_sub_agent.py
  netra_backend/app/schemas/shared_types.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(agents): migrate all agent implementations to BaseAgent class
  netra_backend/app/agents/actions_agent_core.py
  netra_backend/app/agents/actions_to_meet_goals_sub_agent.py
  netra_backend/app/agents/analyst.py
  netra_backend/app/agents/corpus_admin/agent.py
  netra_backend/app/agents/data_helper_agent.py
  netra_backend/app/agents/data_sub_agent/agent.py
  netra_backend/app/agents/data_sub_agent/agent_core.py
  netra_backend/app/agents/data_sub_agent/data_sub_agent.py
  netra_backend/app/agents/demo_service/core.py
  netra_backend/app/agents/demo_service/reporting.py
  netra_backend/app/agents/demo_service/triage.py
  netra_backend/app/agents/domain_experts/base_expert.py
  netra_backend/app/agents/enhanced_execution_agent.py
  netra_backend/app/agents/example_message_processor.py
  netra_backend/app/agents/github_analyzer/agent.py
  netra_backend/app/agents/initialization_manager.py
  netra_backend/app/agents/optimizations_core_sub_agent.py
  netra_backend/app/agents/reporting_sub_agent.py
  netra_backend/app/agents/supply_researcher/agent.py
  netra_backend/app/agents/synthetic_data_sub_agent.py
  netra_backend/app/agents/synthetic_data_sub_agent_modern.py
  netra_backend/app/agents/triage_sub_agent.py
  netra_backend/app/agents/triage_sub_agent/agent.py
  netra_backend/app/agents/validation_sub_agent.py
  netra_backend/app/agents/validator.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(supervisor): update supervisor and execution core for BaseAgent
  netra_backend/app/agents/supervisor/agent_execution_core.py
  netra_backend/app/agents/supervisor/agent_execution_core_enhanced.py
  netra_backend/app/agents/supervisor/agent_registry.py
  netra_backend/app/agents/supervisor_consolidated.py
  netra_backend/app/core/critical_path_validator.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test(backend): update backend test suite for BaseAgent refactoring
  netra_backend/tests/agents/test_agent_e2e_critical_setup.py
  netra_backend/tests/agents/test_base_agent_reliability_ssot.py
  netra_backend/tests/agents/test_context_length_validation.py
  netra_backend/tests/agents/test_context_window_isolation.py
  netra_backend/tests/agents/test_corpus_admin_unit.py
  netra_backend/tests/agents/test_supervisor_bulletproof.py
  netra_backend/tests/agents/test_supervisor_consolidated_core.py
  netra_backend/tests/agents/test_synthetic_data_unit.py
  netra_backend/tests/agents/test_synthetic_data_validation.py
  netra_backend/tests/critical/test_agent_state_consistency_cycles_51_55.py
  netra_backend/tests/critical/test_agent_workflow_reliability_cycles_56_60.py
  netra_backend/tests/examples/test_real_functionality_examples.py
  netra_backend/tests/unified_system/test_agent_activation.py
  netra_backend/tests/unit/agents/test_agent_edge_cases_critical.py
  netra_backend/tests/unit/agents/test_agent_performance_benchmarks.py
  netra_backend/tests/unit/agents/test_base_agent_infrastructure.py
  netra_backend/tests/unit/agents/test_base_agent_ssot_compliance.py
  netra_backend/tests/unit/agents/test_triage_agent_golden.py
  netra_backend/tests/unit/test_agent.py
  netra_backend/tests/unit/test_base_agent_comprehensive.py
  netra_backend/tests/unit/test_subagent_logging.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(integration): migrate integration tests to BaseAgent pattern
  netra_backend/tests/integration/agents/test_circuit_breaker_ssot.py
  netra_backend/tests/integration/agents/test_triage_infrastructure_integration.py
  netra_backend/tests/integration/coordination/shared_fixtures.py
  netra_backend/tests/integration/critical_paths/test_agent_communication_basic.py
  netra_backend/tests/integration/critical_paths/test_agent_context_isolation_boundaries.py
  netra_backend/tests/integration/critical_paths/test_agent_cost_tracking.py
  netra_backend/tests/integration/critical_paths/test_agent_dependency_resolution.py
  netra_backend/tests/integration/critical_paths/test_agent_failure_recovery_cascade.py
  netra_backend/tests/integration/critical_paths/test_agent_lifecycle_management.py
  netra_backend/tests/integration/critical_paths/test_agent_pipeline_circuit_breaking.py
  netra_backend/tests/integration/critical_paths/test_agent_pipeline_real_llm.py
  netra_backend/tests/integration/critical_paths/test_agent_quality_gate_pipeline.py
  netra_backend/tests/integration/critical_paths/test_agent_resource_pool_management.py
  netra_backend/tests/integration/critical_paths/test_agent_state_recovery.py
  netra_backend/tests/integration/critical_paths/test_agent_tool_authorization.py
  netra_backend/tests/integration/critical_paths/test_circuit_breaker_orchestration.py
  netra_backend/tests/integration/critical_paths/test_integration_failures_audit.py
  netra_backend/tests/integration/critical_paths/test_llm_provider_failover.py
  netra_backend/tests/integration/critical_paths/test_multi_agent_orchestration.py
  netra_backend/tests/integration/critical_paths/test_supervisor_to_subagent_delegation.py
  netra_backend/tests/integration/llm/shared_fixtures.py
  netra_backend/tests/integration/test_base_agent_real_services.py
  netra_backend/tests/integration/test_critical_integration_fixtures.py
  netra_backend/tests/integration/test_critical_integration_helpers.py
  netra_backend/tests/integration/test_timing_integration.py
  tests/integration/test_agent_error_recovery.py
  tests/integration/test_agent_websocket_ssot.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(e2e): update E2E tests for BaseAgent architecture
  tests/e2e/agent_response_test_utilities.py
  tests/e2e/integration/test_agent_orchestration.py
  tests/e2e/integration/test_concurrent_llm_execution.py
  tests/e2e/journeys/test_agent_response_flow.py
  tests/e2e/performance/test_agent_orchestration_production.py
  tests/e2e/performance/test_multi_agent_performance_integration.py
  tests/e2e/performance/test_performance_sla_validation.py
  tests/e2e/test_agent_context_accumulation.py
  tests/e2e/test_agent_context_isolation_integration.py
  tests/e2e/test_agent_pipeline_real.py
  tests/e2e/test_agent_write_review_refine_integration_core.py
  tests/e2e/test_llm_quality_gate_integration.py
  tests/e2e/test_multi_agent_collaboration_integration.py
  tests/e2e/test_multi_agent_collaboration_response.py
  tests/e2e/test_real_llm_core.py
  tests/e2e/test_user_message_agent_pipeline.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

test(mission-critical): update mission critical tests and utilities
  mro_analysis_script.py
  scripts/benchmark_agent_performance.py
  scripts/compliance/mro_auditor.py
  test_inheritance_direct.py
  test_inheritance_minimal.py
  test_inheritance_simple.py
  test_original_violations_fixed.py
  tests/mission_critical/conftest_isolated_websocket.py
  tests/mission_critical/test_agent_communication_undefined_attributes.py
  tests/mission_critical/test_inheritance_architecture_violations.py
  tests/mission_critical/test_inheritance_refactor_validation.py
  tests/mission_critical/test_websocket_bridge_consistency.py
  tests/mission_critical/test_websocket_bridge_lifecycle_comprehensive.py
  tests/mission_critical/test_websocket_dead_code_removal.py
  tests/mission_critical/test_websocket_subagent_events.py
  tests/performance/test_agent_performance_metrics.py
  validate_inheritance_fix.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(agents): enhance BaseAgent infrastructure with SSOT compliance
  netra_backend/app/agents/base/circuit_breaker.py
  netra_backend/app/agents/base/executor.py
  netra_backend/app/agents/base/reliability_manager.py
  netra_backend/app/agents/base/retry_manager.py
  netra_backend/app/agents/base_agent.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(core): consolidate reliability infrastructure for SSOT
  netra_backend/app/core/async_retry_logic.py
  netra_backend/app/core/circuit_breaker_core.py
  netra_backend/app/core/critical_path_validator.py
  netra_backend/app/core/reliability.py
  netra_backend/app/core/reliability/__init__.py
  netra_backend/app/core/reliability/migration_adapters.py
  netra_backend/app/core/reliability/unified_reliability_manager.py
  netra_backend/app/core/retry_compatibility.py
  netra_backend/app/core/retry_strategy_executor.py
  netra_backend/app/core/unified_error_handler.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(agents): migrate agent implementations to SSOT patterns
  auth_service/auth_core/services/auth_service.py
  mro_analysis_script.py
  netra_backend/app/agents/data_sub_agent/data_sub_agent.py
  netra_backend/app/agents/github_analyzer/agent.py
  netra_backend/app/agents/security/circuit_breaker.py
  netra_backend/app/agents/supervisor/agent_execution_core.py
  netra_backend/app/agents/supervisor/agent_execution_core_enhanced.py
  netra_backend/app/agents/supervisor/agent_registry.py
  netra_backend/app/agents/supply_researcher/agent.py
  netra_backend/app/llm/fallback_handler.py
  netra_backend/app/orchestration/agent_execution_registry.py
  netra_backend/app/schemas/shared_types.py
  netra_backend/app/services/circuit_breaker/__init__.py
  netra_backend/app/services/database/run_repository.py
  netra_backend/app/services/supply_research/research_executor.py
  netra_backend/app/services/thread_service.py
  netra_backend/app/services/unified_tool_registry/tool_handlers.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test: comprehensive test infrastructure for SSOT compliance
  coverage.json
  coverage.xml
  junit.xml
  netra_backend/tests/agents/corpus_admin/test_agent_comprehensive.py
  netra_backend/tests/agents/test_data_sub_agent_golden_pattern.py
  netra_backend/tests/integration/agents/test_circuit_breaker_ssot.py
  netra_backend/tests/integration/agents/test_execution_patterns_ssot.py
  netra_backend/tests/integration/agents/test_reliability_patterns_ssot.py
  netra_backend/tests/integration/critical_paths/test_agent_pipeline_circuit_breaking.py
  netra_backend/tests/integration/critical_paths/test_auth_service_circuit_breaker_cascade.py
  netra_backend/tests/integration/critical_paths/test_security_breach_response_l4.py
  netra_backend/tests/unit/agents/test_base_agent_infrastructure_enhanced.py
  netra_backend/tests/unit/agents/test_base_agent_ssot_compliance.py
  test_base_agent_isolated.py
  test_framework/test_utils.py
  tests/e2e/resilience/test_error_recovery_complete.py
  tests/mission_critical/WEBSOCKET_BRIDGE_TEST_REPORT.md
  tests/mission_critical/agent_websocket_compliance_report.md
  tests/mission_critical/test_actions_agent_websocket_events.py
  tests/mission_critical/test_baseagent_edge_cases_comprehensive.py
  tests/mission_critical/test_circuit_breaker_comprehensive.py
  tests/mission_critical/test_reliability_consolidation_ssot.py
  tests/mission_critical/test_retry_reliability_comprehensive.py
  tests/mission_critical/test_websocket_bridge_integration.py
  tests/mission_critical/test_websocket_bridge_lifecycle_comprehensive_fixed.py
  tests/mission_critical/test_websocket_bridge_minimal.py
  tests/mission_critical/test_websocket_bridge_runid_extraction.py
  tests/mission_critical/test_websocket_direct.py
  tests/mission_critical/test_websocket_simple.py
  tests/mission_critical/validate_websocket_bridge_e2e.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs: comprehensive documentation for BaseAgent architecture
  AGENT_ARCHITECTURE_ANALYSIS_20250902.md
  AGENT_EXECUTION_CORE_SSOT_ANALYSIS.md
  AGENT_EXECUTION_CORE_SSOT_COMPLIANCE_REPORT.md
  AUDIT_WEBSOCKET_BRIDGE_LIFECYCLE_20250902.md
  BASEAGENT_ARCHITECTURE_FINAL_SUMMARY.md
  BASEAGENT_DOUBLE_INITIALIZATION_FIX_REPORT.md
  BASEAGENT_INFRASTRUCTURE_ANALYSIS_REPORT.md
  BASEAGENT_REFACTORING_PLAN_20250902.md
  BASE_AGENT_AUDIT_REPORT.md
  CIRCUIT_BREAKER_CONSOLIDATION_PLAN.md
  CIRCUIT_BREAKER_SSOT_MIGRATION_REPORT.md
  CLAUDE.md
  EXECUTION_PATTERN_STANDARDIZATION_ANALYSIS.md
  LLM_MASTER_INDEX.md
  MRO_ANALYSIS_BASEAGENT_20250902.md
  RELIABILITY_CONSOLIDATION_PLAN.md
  RELIABILITY_INFRASTRUCTURE_ANALYSIS.md
  RETRY_LOGIC_CONSOLIDATION_PLAN.md
  RETRY_LOGIC_CONSOLIDATION_REPORT.md
  SSOT_COMPLIANCE_TESTS_SUMMARY.md
  SSOT_CONSOLIDATION_SUMMARY_20250902.md
  TEST_INFRASTRUCTURE_ENHANCEMENT.md
  TEST_INFRASTRUCTURE_SSOT_VIOLATIONS_REPORT.md
  WEBSOCKET_BRIDGE_PROPAGATION_AUDIT_20250902.md
  WEBSOCKET_BRIDGE_REMEDIATION_COMPLETE_20250902.md
  base_agent_ssot_violation_analysis_report.md
  docs/GOLDEN_AGENT_INDEX.md
  docs/adr/agent_ssot_consolidation.md
  docs/agent_golden_pattern_guide.md
  docs/agent_migration_checklist.md
  docs/agent_quick_reference.md
  docs/execution_patterns_migration_guide.md
  readme.md
Due: none

chore: update specs and configuration for SSOT architecture
  ...prompts/remediate_prompts.md
  SPEC/agent_golden_pattern.xml
  SPEC/learnings/index.xml
  SPEC/unified_reliability_infrastructure.xml
Due: none

refactor(actions-agent): consolidate to SSOT golden pattern
  netra_backend/app/agents/actions_agent_core.py
  netra_backend/app/agents/actions_agent_execution.py
  netra_backend/app/agents/actions_agent_llm.py
  netra_backend/app/agents/actions_agent_monitoring.py
  netra_backend/app/agents/actions_to_meet_goals_sub_agent.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(data-agents): migrate to golden pattern architecture
  netra_backend/app/agents/data_helper_agent.py
  netra_backend/app/agents/data_sub_agent/data_sub_agent.py
  netra_backend/app/agents/data_sub_agent/delegation.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(reporting-agent): streamline to SSOT golden pattern
  netra_backend/app/agents/reporting_sub_agent.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(core): optimize supervisor and circuit breaker
  netra_backend/app/agents/supervisor_consolidated.py
  netra_backend/app/services/circuit_breaker.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test: comprehensive golden pattern test suites
  analyze_actions_agent_mro.py
  analyze_mro_baseagent.py
  junit.xml
  netra_backend/tests/agents/test_data_sub_agent_golden_pattern.py
  netra_backend/tests/agents/test_data_sub_agent_golden_pattern_simplified.py
  netra_backend/tests/agents/validate_data_agent_websocket.py
  netra_backend/tests/unit/agents/test_reporting_agent_golden.py
  test_websocket_audit.py
  test_websocket_bridge_isolated.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

docs: comprehensive SSOT compliance documentation
  ...prompts/remediate_prompts.md
  ACTIONS_AGENT_GOLDEN_ALIGNMENT_REPORT_20250902.md
  BASEAGENT_COMPLIANCE_REPORT.md
  BASEAGENT_REMEDIATION_COMPLETE.md
  COMPREHENSIVE_TEST_SUITE_REPORT.md
  DATA_SUB_AGENT_GOLDEN_PATTERN_COMPLIANCE_REPORT.md
  DATA_SUB_AGENT_WEBSOCKET_VALIDATION_REPORT.md
  MASTER_COMPLIANCE_STATUS.md
  SPEC/learnings/SSOT_LEARNINGS_20250902.xml
  SUPERVISOR_GOLDEN_PATTERN_AUDIT.md
  WEBSOCKET_BRIDGE_AUDIT_REPORT.md
  WEBSOCKET_BRIDGE_FINAL_AUDIT_REPORT_20250902.md
  WEBSOCKET_BRIDGE_FIXES_REPORT_20250902.md
  WEBSOCKET_BRIDGE_MISSING_CONNECTIONS_ANALYSIS.md
  WEBSOCKET_VALIDATION_REPORT.md
  docs/GOLDEN_AGENT_INDEX.md
  docs/actions_agent_websocket_flow.md
Due: none

test(mission-critical): add comprehensive test infrastructure
  tests/e2e/test_actions_agent_full_flow.py
  tests/integration/agents/test_actions_agent_ssot.py
  tests/mission_critical/test_actions_agent_golden_compliance.py
  tests/mission_critical/test_datahelper_golden_alignment.py
  tests/mission_critical/test_datahelper_websocket_integration.py
  tests/mission_critical/test_memory_leak_prevention_comprehensive.py
  tests/mission_critical/test_supervisor_golden_pattern.py
  tests/mission_critical/test_websocket_bridge_lifecycle_audit_20250902.py
  tests/mission_critical/test_websocket_e2e_proof.py
  tests/performance/test_critical_path_benchmarks_comprehensive.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(agents): add ExecutionResult creation methods to agents
  netra_backend/app/agents/admin_tool_dispatcher/admin_tool_execution.py
  netra_backend/app/agents/reporting_sub_agent.py
  netra_backend/app/agents/supervisor_consolidated.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(data-sub-agent): consolidate core functionality
  netra_backend/app/agents/data_sub_agent/__consolidation_backup__.py
  netra_backend/app/agents/data_sub_agent/core/__init__.py
  netra_backend/app/agents/data_sub_agent/core/data_analysis_core.py
  netra_backend/app/agents/data_sub_agent/data_sub_agent.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

feat(core): enhance observability and resilience
  netra_backend/app/core/interfaces_observability.py
  netra_backend/app/core/resilience/domain_circuit_breakers.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(services): update orchestration and utilities
  netra_backend/app/orchestration/agent_execution_registry.py
  netra_backend/app/services/database/run_repository.py
  netra_backend/app/services/thread_service.py
  netra_backend/app/utils/run_id_generator.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test(mission-critical): add comprehensive test coverage
  netra_backend/tests/unit/agents/test_reporting_agent_golden.py
  test_reporting_agent_debug.py
  test_reporting_simple.py
  tests/mission_critical/test_baseagent_inheritance_violations.py
  tests/mission_critical/test_supervisor_golden_compliance.py
  tests/mission_critical/test_supervisor_golden_compliance_comprehensive.py
  tests/mission_critical/test_websocket_event_guarantees.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

refactor(tools): replace MRO analysis script
  analyze_mro_baseagent.py
  analyze_supervisor_mro.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

docs: add comprehensive audit and analysis reports
  SUPERVISOR_GOLDEN_PATTERN_MIGRATION_REPORT.md
  SUPERVISOR_MRO_ANALYSIS_REPORT.md
  TEST_INFRASTRUCTURE_SSOT_VIOLATIONS_REPORT.md
  THREAD_RUN_ID_SSOT_AUDIT_REPORT.md
  WEBSOCKET_BRIDGE_LIFECYCLE_AUDIT_REPORT_20250902.md
Due: none

refactor(data-sub-agent): complete SSOT consolidation
  DATA_SUB_AGENT_SSOT_CONSOLIDATION_REPORT.md
  netra_backend/app/agents/data_sub_agent/__init__.py
  netra_backend/app/agents/data_sub_agent/agent_core_legacy.py
  netra_backend/app/agents/data_sub_agent/agent_legacy_massive.py
  netra_backend/app/agents/data_sub_agent/core/anomaly_detector.py
  netra_backend/app/agents/data_sub_agent/core/data_processor.py
  netra_backend/app/agents/data_sub_agent/data_sub_agent.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

refactor(test-framework): implement SSOT architecture
  SPEC/test_framework_ssot_architecture.xml
  SPEC/test_infrastructure_ssot.xml
  TEST_RUNNER_ARCHITECTURE_ANALYSIS_REPORT.md
  TEST_RUNNER_CONSOLIDATION_REPORT.md
  test_framework/integrated_test_runner.py
  test_framework/repositories/README.md
  test_framework/repositories/__init__.py
  test_framework/repositories/examples.py
  test_framework/repositories/test_repository_factory.py
  test_framework/repositories/test_repository_factory_integration.py
  test_framework/ssot/__init__.py
  test_framework/ssot/base_test_case.py
  test_framework/ssot/mock_factory.py
  test_framework/test_helpers.py
  test_framework/tests/test_ssot_framework.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention, check-environment-isolation

Path conditions:
  new-file-compliance: any of: \.(py|ts|tsx)$
  edited-lines-check: any of: \.(py|ts|tsx)$
  prevent-new-relative-imports: any of: \.py$
  main-code-quality: any of: ^(netra_backend/app|auth_service/auth_core|frontend/src)/.*\.(py|ts|tsx)$
  test-file-leniency: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  new-duplicate-prevention: any of: \.py$
  check-environment-isolation: any of: (test_.*\.py|.*_test\.py|tests/.*\.py|conftest\.py)$
  protect-staging-config: any of: netra_backend/app/schemas/config\.py$
