Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

.pre-commit-config.yaml:

# Permissive Pre-commit Configuration for Netra Apex
# Focus: New files and edited sections only, not entire legacy codebase
# Philosophy: Progressive enhancement over rigid enforcement

repos:
  - repo: local
    hooks:
      # NEW FILES ONLY: Strict enforcement for new code
      - id: new-file-compliance
        name: New File Standards (strict for new files only)
        entry: python scripts/permissive_hooks/check_new_files.py
        language: system
        files: '\.(py|ts|tsx)$'
        stages: [commit]
        description: 'Applies strict standards ONLY to newly created files'
        
      # EDITED SECTIONS: Check only modified lines, not entire file
      - id: edited-lines-check
        name: Modified Lines Check (incremental)
        entry: python scripts/permissive_hooks/check_edited_lines.py
        language: system
        files: '\.(py|ts|tsx)$'
        stages: [commit]
        pass_filenames: true
        description: 'Validates only the lines being modified, not the entire file'
        
      # CRITICAL IMPORTS: Prevent new relative imports (warning for existing)
      - id: prevent-new-relative-imports
        name: Prevent New Relative Imports
        entry: python scripts/permissive_hooks/check_new_imports.py --warn-only
        language: system
        files: '\.py$'
        stages: [commit]
        pass_filenames: true
        description: 'Blocks new relative imports, warns about existing ones'
        
      # MAIN CODE PRIORITY: Stricter for app code, lenient for tests
      - id: main-code-quality
        name: Main Codebase Quality (app > tests)
        entry: python scripts/permissive_hooks/prioritized_check.py --priority app
        language: system
        files: '^(netra_backend/app|auth_service/auth_core|frontend/src)/.*\.(py|ts|tsx)$'
        stages: [commit]
        description: 'Prioritizes main application code quality over test files'
        
      # TEST FILE LENIENCY: Relaxed rules for test files
      - id: test-file-leniency
        name: Test File Check (permissive)
        entry: python scripts/permissive_hooks/test_check_lenient.py --max-lines 1000
        language: system
        files: '(test_.*\.py|.*_test\.py|tests/.*\.py)$'
        stages: [commit]
        description: 'Relaxed limits for test files - focus on functionality over form'
        
      # DUPLICATE DETECTION: Only for new code patterns
      - id: new-duplicate-prevention
        name: Prevent New Duplicates (incremental)
        entry: python scripts/permissive_hooks/check_new_duplicates.py --threshold 0.9
        language: system
        files: '\.py$'
        stages: [commit]
        pass_filenames: true
        description: 'Prevents introduction of NEW duplicate patterns only'
        
      # EMERGENCY BYPASS: Allow quick fixes with flag
      - id: emergency-bypass-check
        name: Emergency Fix Mode
        entry: python scripts/permissive_hooks/emergency_check.py
        language: system
        stages: [commit]
        pass_filenames: false
        description: 'Allows bypass with EMERGENCY_FIX flag in commit message'
        
      # PROGRESSIVE ENHANCEMENT: Track improvement over time
      - id: progress-tracker
        name: Code Quality Progress Tracker
        entry: python scripts/permissive_hooks/track_progress.py --log-only
        language: system
        stages: [commit]
        pass_filenames: false
        always_run: true
        description: 'Tracks quality improvements without blocking commits'

# Configuration for different severity levels
# These can be toggled based on development phase
default_stages: [commit]
fail_fast: true   # Stop at first failure for faster feedback
verbose: true     # Show detailed feedback to help developers

# Environment-specific overrides
# Development: More permissive
# Staging: Moderate enforcement  
# Production: Strict enforcement (use original config)

chore: final cleanup and test reorganization
  SPEC/learnings/index.xml
  tests/e2e/test_websocket_auth_timing.py
  tests/manual/frontend_integration_test.py
  tests/manual/staging_auth_test.py
  tests/manual/staging_e2e_manual_tests.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

test: add critical database connectivity and websocket auth test coverage
  dev_launcher/tests/test_database_connectivity_failures.py
  tests/e2e/test_websocket_auth_timing.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

feat: implement auth backend desynchronization vulnerability test - Cycle 1 Round 2
  requirements.txt
  test_file_logging.py
  tests/e2e/test_websocket_auth_timing.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

chore: remove test_file_logging.py
  test_file_logging.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

feat: implement Configuration Drift SSL Parameter Cascade Failure Detection test
  LLM_MASTER_INDEX.md
  SPEC/learnings/startup.xml
  netra_backend/tests/startup/test_configuration_drift_detection.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

fix: comprehensive system stability improvements and fixes
  SPEC/learnings/database_connectivity_fixes.xml
  SPEC/learnings/index.xml
  SPEC/learnings/logging_color_configuration.xml
  SPEC/learnings/websocket_auth_timing.xml
  dev_launcher/database_connector.py
  dev_launcher/database_initialization.py
  frontend/cypress.config.ts
  frontend/providers/WebSocketProvider.tsx
  netra_backend/app/core/configuration/unified_secrets.py
  netra_backend/app/core/logging_formatters.py
  netra_backend/app/core/websocket_cors.py
  netra_backend/app/db/postgres_core.py
  netra_backend/app/llm/llm_provider_manager.py
  netra_backend/app/services/monitoring/quota_monitor.py
  netra_backend/app/websocket_core/auth.py
  netra_backend/app/websocket_core/manager.py
  netra_backend/tests/config/test_unified_config_e2e.py
  netra_backend/tests/config/test_unified_config_integration.py
  netra_backend/tests/critical/test_third_party_api_quota_cascade_failure.py
  netra_backend/tests/unit/core/test_logging_color_output.py
  netra_backend/tests/unit/test_auth_staging_url_configuration.py
  netra_backend/tests/unit/test_circuit_breaker_core.py
  netra_backend/tests/unit/test_new_user_critical_flows.py
  requirements.txt
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

refactor: remove legacy dev_launcher code and add Docker development setup
  dev_launcher/PHASE_6_INTEGRATION_SUMMARY.md
  dev_launcher/README.md
  dev_launcher/boundary_monitor.py
  dev_launcher/cache_manager.py
  dev_launcher/crash_detector.py
  dev_launcher/crash_recovery_models.py
  dev_launcher/crash_reporter.py
  dev_launcher/dev_launcher_config.py
  dev_launcher/dev_launcher_core.py
  dev_launcher/dev_launcher_improved.py
  dev_launcher/dev_launcher_monitoring.py
  dev_launcher/dev_launcher_processes.py
  dev_launcher/dev_launcher_secrets.py
  dev_launcher/dev_launcher_service.py
  dev_launcher/enhance_dev_launcher_boundaries.py
  dev_launcher/error_detector.py
  dev_launcher/log_filter.py
  dev_launcher/recovery_actions.py
  dev_launcher/recovery_manager.py
  dev_launcher/service_discovery_enhanced.py
  dev_launcher/system_diagnostics.py
  dev_launcher/tests/PARALLEL_EXECUTOR_TEST_SUMMARY.md
  docker-compose.dev.yml
  docker/auth.Dockerfile
  docker/backend.Dockerfile
  docker/frontend.Dockerfile
  frontend/cypress-results-summary.json
  frontend/cypress.config.ts
  scripts/docker_dev_launcher.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

fix: improve database initialization order and validation consistency
  .dockerignore
  SPEC/learnings/database_validation_consistency.xml
  SPEC/learnings/index.xml
  dev_launcher/launcher.py
  docs/DOCKER_DEV_GUIDE.md
  scripts/docker_dev_launcher.py
  scripts/init_clickhouse.sql
  scripts/init_db.sql
  scripts/wait_for_db.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

update to latest per deep research
  requirements.txt
Due: none

docs: add security audit and remediation report
  SECURITY_AUDIT_REMEDIATION_REPORT_2025_08_26.md
Due: none

refactor: auth service improvements and legacy cleanup
  SPEC/auth_environment_isolation.xml
  SPEC/auth_microservice_migration_plan.xml
  SPEC/auth_subdomain_architecture.xml
  auth-proxy/main.py
  auth-proxy/requirements.txt
  auth_service/README.md
  auth_service/auth_core/database/models.py
  auth_service/auth_core/routes/auth_routes.py
  auth_service/auth_core/secret_loader.py
  auth_service/requirements.txt
  auth_service/tests/requirements-test.txt
  docs/auth/AUTHENTICATION_SECURITY.md
  organized_root/deployment/cloudbuild-auth.yaml
  organized_root/utilities/diagnose_auth_service.py
  scripts/test_oauth_dev_config.py
  tests/e2e/helpers/auth/auth_service_helpers.py
  tests/e2e/test_auth_service_staging.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

refactor: database models and Alembic configuration updates
  SPEC/alembic_configuration.xml
  database_scripts/check_users.py
  database_scripts/create_test_user.py
  netra_backend/alembic.ini
  netra_backend/app/database/__init__.py
  netra_backend/app/db/base.py
  netra_backend/app/db/database_manager.py
  netra_backend/app/db/models_agent_state.py
  netra_backend/app/db/models_user.py
  netra_backend/app/models/session.py
  netra_backend/app/schemas/tenant.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

test: update testing infrastructure and helpers
  SPEC/import_path_requirements.xml
  junit.xml
  netra_backend/tests/services/security_service_test_mocks.py
  test_framework/unified/base_interfaces.py
  tests/e2e/helpers/core/microservice_isolation_helpers.py
  tests/unit/scripts/test_deploy_to_gcp.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

feat: deployment infrastructure and GCP improvements
  .env.unified.template
  .github/staging.yml
  SPEC/deployment_architecture.xml
  SPEC/gcp_deployment.xml
  SPEC/nextjs_deployment.xml
  deployments/issues/powershell_script_encoding_issue.txt
  docker-compose.dev.yml
  docker/frontend.development.Dockerfile
  organized_root/deployment/cloudbuild-backend.yaml
  organized_root/deployment/cloudbuild-frontend.yaml
  scripts/build_staging.py
  scripts/dependency_installer.py
  terraform-gcp-staging/cloud-armor-loadbalancer-plan.md
  terraform-gcp-staging/cloud-armor.tf
  terraform-gcp-staging/load-balancer.tf
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

docs: add learnings and architectural documentation
  SPEC/learnings/cold_start_fixes.xml
  SPEC/learnings/cors_dynamic_ports.xml
  SPEC/learnings/database.xml
  SPEC/learnings/deployment.xml
  SPEC/learnings/deployment_staging.xml
  SPEC/learnings/docker_compose_profiles.xml
  SPEC/learnings/frontend_deployment.xml
  SPEC/learnings/gcp_staging_frontend_issues.xml
  SPEC/learnings/index.xml
  SPEC/learnings/project_structure_enforcement.xml
  SPEC/learnings/pydantic_v2_migration.xml
  SPEC/learnings/ssot_consolidation_20250825.xml
  SPEC/learnings/staging_deployment_errors_2025.xml
  SPEC/learnings/testing.xml
  SPEC/tombstones/auth_proxy_removal.xml
Due: none

test: update Cypress E2E tests
  frontend/cypress/e2e/auth.cy.ts
  frontend/cypress/e2e/basic-ui-test.cy.ts
  frontend/cypress/e2e/chat.cy.ts
  frontend/cypress/e2e/simple-websocket.cy.ts
Due: new-file-compliance, edited-lines-check

chore: miscellaneous updates and dependencies
  SPEC/folder_structure_rules.md
  SPEC/frontend_base_url_configuration.xml
  SQLAlchemy_2_Migration_Report.md
  frontend/cypress.config.ts
  iteration_tracking.json
  logs/requirements.txt
  netra_backend/app/core/interfaces_repository.py
  netra_backend/app/routes/health.py
  netra_backend/app/services/supply_catalog_service.py
  requirements-update-deep-research.txt
  requirements.txt
  runbooks/docker-requirements-refresh.md
  test_sqlalchemy_2_migration.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

fix: update Google AI SDK integration and add OAuth configuration tools
  .env.unified.template
  netra_backend/tests/e2e/infrastructure/llm_test_manager.py
  scripts/ci/generate_fix.py
  scripts/setup_dev_oauth.py
  scripts/verify_oauth_config.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

docs: add comprehensive learnings and architectural documentation
  LLM_MASTER_INDEX.md
  SPEC/docker_service_requirements.xml
  SPEC/learnings/clickhouse_ssl_connection.xml
  SPEC/learnings/frontend_health_check_proxy_issue.xml
  SPEC/learnings/index.xml
  SPEC/learnings/migrations/package_upgrade_2025.xml
  SPEC/learnings/staging_cors_audit_findings.xml
  SPEC/learnings/websocket_cors_localhost_ip.xml
  SPEC/mcp_integration.xml
  SPEC/oauth_port_configuration.xml
  runbooks/docker-requirements-refresh.md
Due: none

fix: improve CORS handling and database connectivity
  netra_backend/app/core/websocket_cors.py
  netra_backend/app/db/clickhouse.py
  shared/cors_config.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test: enhance E2E testing infrastructure and recovery mechanisms
  frontend/cypress/e2e/agent-feedback-retry-recovery.cy.ts
  frontend/cypress/e2e/utils/recovery-test-helpers.ts
  netra_backend/tests/e2e/infrastructure/llm_mock_client.py
  netra_backend/tests/e2e/infrastructure/llm_test_manager.py
  netra_backend/tests/e2e/infrastructure/test_llm_test_manager.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

feat: enhance infrastructure and deployment configurations
  docker-compose.dev.yml
  docker/frontend.development.Dockerfile
  requirements.txt
  terraform-gcp-staging/DEPLOYMENT_SUMMARY.md
  terraform-gcp-staging/DOMAIN_MIGRATION_STEPS.md
  terraform-gcp-staging/cloud-armor.tf
  terraform-gcp-staging/load-balancer.tf
  terraform-gcp-staging/tfplan-loadbalancer
  terraform-gcp-staging/variables.tf
Due: none

docs: add critical remediation and deployment documentation
  REMEDIATION_PLAN_HEALTH_CHECKS.md
  SPEC/learnings/index.xml
  SPEC/learnings/llm_test_model_standardization.xml
  SPEC/learnings/load_balancer_deployment.xml
  SPEC/websocket_security_audit.xml
  docs/COMPLETE_LOAD_BALANCER_DEPLOYMENT_GUIDE.md
  docs/LEARNING_LOAD_BALANCER_ROUTING.md
  terraform-gcp-staging/LIVE_STATUS_VERIFICATION.md
Due: none

feat: enhance middleware and security improvements
  auth_service/auth_core/routes/auth_routes.py
  junit.xml
  netra_backend/app/core/app_factory.py
  netra_backend/app/core/middleware_setup.py
  netra_backend/app/middleware/security_headers_middleware.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

feat: enhance Docker service management and configuration
  docker-compose.dev.yml
  docs/DOCKER_CONFIGURATION_INDEX.md
  docs/docker-services-guide.md
  scripts/docker_services.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

fix: improve CORS configuration and auth service integration
  auth_service/main.py
  frontend/lib/auth-service-client.ts
  scripts/test_and_fix_cors.py
  shared/cors_config.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

docs: add comprehensive audit reports for critical system paths
  CRITICAL_PATH_AUDIT.md
  WEBSOCKET_MIDDLEWARE_AUDIT_REPORT.md
Due: none

fix: resolve WebSocket CORS issues and enhance GCP deployment
  SPEC/gcp_deployment.xml
  SPEC/gcp_deployment_validation.xml
  SPEC/learnings/cors_fastapi_middleware_issue.xml
  SPEC/learnings/gcp_load_balancer_implementation.xml
  SPEC/learnings/gcp_load_balancer_requirements.xml
  SPEC/learnings/index.xml
  docker-compose.dev.yml
  frontend/services/webSocketService.ts
  netra_backend/app/core/app_factory.py
  netra_backend/app/core/middleware_setup.py
  netra_backend/app/core/websocket_cors.py
  netra_backend/app/middleware/cors_fix_middleware.py
  netra_backend/app/middleware/security_headers_middleware.py
  netra_backend/app/routes/websocket.py
  netra_backend/app/websocket_core/auth.py
  netra_backend/app/websocket_core/manager.py
  scripts/deploy_to_gcp.py
  scripts/test_docker_websocket_fix.py
  scripts/test_websocket_cors_comprehensive.py
  scripts/test_websocket_simple.py
  scripts/validate_gcp_deployment.py
  scripts/validate_load_balancer_config.py
  scripts/validate_load_balancer_config_simple.py
  shared/cors_config.py
  terraform-gcp-staging/load-balancer.tf
  terraform-gcp-staging/variables.tf
  tests/e2e/test_gcp_deployment_requirements.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

fix: comprehensive WebSocket and infrastructure improvements
  LLM_MASTER_INDEX.md
  MASTER_WIP_STATUS.md
  SPEC/learnings/cors_middleware_fix_solution.xml
  SPEC/learnings/gcp_terraform_deployment.xml
  SPEC/learnings/index.xml
  SPEC/learnings/websocket_docker_fixes.xml
  SPEC/learnings/websocket_rapid_disconnect_fix.xml
  SPEC/websockets.xml
  docs/audit_reports/gcp_load_balancer_critical_issue.md
  docs/audit_reports/gcp_load_balancer_implementation_report.md
  docs/audit_reports/staging_mixed_content_issue_audit.md
  docs/terraform-deployment-audit-20250827.md
  docs/websocket_docker_troubleshooting.md
  netra_backend/app/routes/websocket.py
  terraform-gcp-staging/cloud-armor.tf
  terraform-gcp-staging/load-balancer.tf
  terraform-gcp-staging/main.tf
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

fix: use existing SSL certificate data source in load balancer
  terraform-gcp-staging/load-balancer.tf
Due: none

docs: add WebSocket analysis and SSL certificate learnings
  SPEC/learnings/ssl_certificate_regression_prevention.xml
  docs/websocket_disconnect_analysis_report.md
Due: none

test: add WebSocket connection test utilities and results
  test_websocket_connection.py
  test_websocket_manual.py
  websocket_cors_test_results_1756265548.json
  websocket_cors_test_results_1756265609.json
  websocket_cors_test_results_1756265631.json
  websocket_cors_test_results_1756265690.json
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

chore: add terraform plan output file
  terraform-gcp-staging/tfplan_fixed
Due: none

fix: implement Cloud Armor OAuth security improvements and WebSocket state management
  REMEDIATION_PLAN_OAUTH_CLOUD_ARMOR.md
  SPEC/cloud_armor_security.xml
  SPEC/learnings/cloud_armor_oauth_comprehensive.xml
  SPEC/learnings/cloud_armor_oauth_fix.xml
  SPEC/learnings/fastapi_dependency_injection_async_sessions.xml
  SPEC/learnings/index.xml
  SPEC/learnings/websocket_cloud_armor_block.xml
  SPEC/learnings/websocket_state_management.xml
  SPEC/websockets.xml
  checklists/cloud_armor_deployment_checklist.md
  docs/CLOUD_ARMOR_TROUBLESHOOTING.md
  netra_backend/app/auth_integration/auth.py
  netra_backend/app/routes/utils/websocket_helpers.py
  netra_backend/app/routes/websocket.py
  netra_backend/app/websocket_core/auth.py
  netra_backend/app/websocket_core/handlers.py
  netra_backend/app/websocket_core/manager.py
  netra_backend/app/websocket_core/utils.py
  netra_backend/tests/critical/test_websocket_state_regression.py
  scripts/analyze_cloud_armor_logs.py
  scripts/monitor_oauth_health.py
  tests/e2e/test_oauth_cloud_armor.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

feat: enhance authentication security with service-to-service auth
  auth_service/auth_core/secret_loader.py
  auth_service/main.py
  netra_backend/app/clients/auth_client_core.py
  netra_backend/app/middleware/fastapi_auth_middleware.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

fix: improve database models and thread route handling
  netra_backend/app/db/models_agent.py
  netra_backend/app/routes/threads_route.py
  netra_backend/app/services/database/base_crud.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention
