Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

docs(ssot): Complete SSOT registry consolidation remediation analysis
  SSOT-regression-duplicate-agent-registries-blocking-golden-path.md
Due: docker-force-flag-prohibition

docs(testing): Update staging test report with latest validation results
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

fix(staging): Add auth service URL getter for staging test configuration
  tests/e2e/staging_config.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(ssot): Complete Step 3 - WebSocket manager SSOT remediation plan ready
  SSOT-incomplete-migration-WebSocket Manager fragmentation blocking Golden Path.md
  tests/e2e/gcp_staging/test_agent_business_value_scenarios_staging.py
  tests/e2e/gcp_staging/test_agent_error_recovery_staging.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(ssot): Complete Issue #1034 validation - SSOT consolidation successful
  SSOT-regression-duplicate-agent-registries-blocking-golden-path.md
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

docs(ssot): Add Phase A interface validation results for WebSocket Manager SSOT
  SSOT-regression-WebSocket-Manager-Duplication.md
  SSOT-regression-duplicate-agent-registries-blocking-golden-path.md
Due: docker-force-flag-prohibition

docs(ssot): Final completion of Issue #1034 SSOT gardener session - agent registry consolidation successful
  netra_backend/app/core/supervisor_factory.py
  tests/mission_critical/test_agent_registry_import_path_violations_issue_914.py
  tests/mission_critical/test_agent_registry_ssot_duplication_issue_914.py
  tests/websocket/test_websocket_integration_fixtures.py
  tests/websocket/test_websocket_integration_helpers.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix(ssot): Complete WebSocket manager SSOT import pattern updates
  PHASE_A_WEBSOCKET_SSOT_INTERFACE_VALIDATION_REPORT.md
  netra_backend/app/agents/example_message_processor.py
  netra_backend/app/agents/synthetic_data_progress_tracker.py
  tests/mission_critical/test_execution_engine_lifecycle.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix(unit-tests): Resolve Issue #842 unit test failures and SSOT consolidation
  netra_backend/app/core/interfaces_data.py
  netra_backend/app/websocket_core/protocols.py
  tests/mission_critical/test_execution_engine_lifecycle.py
  tests/mission_critical/test_websocket_events_routing.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix(staging-tests): Convert asyncSetUp to setup_class for staging URL config
  tests/e2e/staging/event_validator_ssot/test_golden_path_event_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(ssot): BREAKTHROUGH SUCCESS - WebSocket manager SSOT consolidation complete
  SSOT-incomplete-migration-WebSocket Manager fragmentation blocking Golden Path.md
  pyproject.toml
Due: docker-force-flag-prohibition

docs(ssot): Complete system stability validation for WebSocket Manager SSOT Phase A
  SSOT-regression-WebSocket-Manager-Duplication.md
Due: docker-force-flag-prohibition

feat(ssot): Complete Step 4 - Mission Critical Base Class Migration executed
  SSOT-incomplete-migration-websocket-agent-testing-foundation.md
Due: docker-force-flag-prohibition

feat(ssot): Complete WebSocket Manager SSOT Phase A - Foundation and Validation
  pyproject.toml
  reports/MISSION_CRITICAL_BASE_CLASS_MIGRATION_REPORT_FINAL.md
Due: docker-force-flag-prohibition

a
  merges/MERGEISSUE-20250914.md
  tests/unit/agents/test_execution_engine_migration_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Update merge worklog before PR merge operations
  merges/MERGEISSUE-2025-09-14.md
Due: docker-force-flag-prohibition

docs(staging): Update pytest staging test results - 11 tests executed
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

feat(SSOT): Mission Critical Base Class Migration - WebSocket/Agent Testing Foundation (#1054)
  E2E_TEST_REMEDIATION_PROOF_REPORT.md
  SSOT-incomplete-migration-WebSocket Manager fragmentation blocking Golden Path.md
  SSOT-incomplete-migration-websocket-agent-testing-foundation.md
  backup/websocket_id_migration/netra_backend_app_agents_supervisor_agent_registry.py
  netra_backend/app/core/interfaces_websocket.py
  tests/e2e/gcp_staging/test_agent_business_value_scenarios_staging.py
  tests/e2e/gcp_staging/test_agent_performance_sla_staging.py
  tests/e2e/staging_config.py
  tests/e2e/test_golden_path_websocket_auth_staging.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(staging): Update E2E pytest results - 80% pass rate achieved
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

docs(staging): Update pytest results to 80% pass rate - significant improvement
  SSOT-incomplete-migration-WebSocket_Manager_fragmentation_blocking_Golden_Path.md
Due: docker-force-flag-prohibition

feat(ssot): Track WebSocket Manager fragmentation SSOT violation - Issue #1055
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-14-1447-UTC.md
Due: docker-force-flag-prohibition

SSOT Gardener: Create Issue #1056 tracking for message router fragmentation
  SSOT-incomplete-migration-message-router-fragmentation-blocking-golden-path.md
Due: docker-force-flag-prohibition

feat: Add SSOT gardener tracking for WebSocket auth violations
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-agents-2025-09-14-104900.md
  SSOT-regression-WebSocket-Authentication-path-fragmentation-blocking-Golden-Path.md
  SSOT-regression-execution-engine-migration-test-merge-conflict.md
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-all-2025-09-14-16-30.md
Due: docker-force-flag-prohibition

docs(logs): Add development activity logs from 2025-09-14
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-critical-2025-09-14-064500.md
Due: docker-force-flag-prohibition

docs(staging): Update staging E2E test execution report
  SSOT-incomplete-migration-websocket-event-broadcasting-duplication.md
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

docs(ssot): Add WebSocket event broadcasting duplication migration doc
  scripts/check_architecture_compliance.py
  scripts/compliance/cli.py
  scripts/compliance/core.py
  scripts/compliance/mock_justification_checker.py
  scripts/compliance/orchestrator.py
  scripts/compliance/reporter.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(staging): Update staging test report with latest execution results
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

feat(ssot): Add progress tracker for WebSocket event broadcasting duplication issue #1058
  SSOT-regression-WebSocket-Authentication-path-fragmentation-blocking-Golden-Path.md
  test_plans/agent_golden_path_messages_e2e_plan_20250914.md
Due: docker-force-flag-prohibition

docs(ssot): Complete WebSocket authentication fragmentation documentation
  SSOT-incomplete-migration-WebSocket_Manager_fragmentation_blocking_Golden_Path.md
Due: docker-force-flag-prohibition

feat(auth): Add comprehensive service-to-service authentication test suite
  SSOT-incomplete-migration-duplicate-agent-message-handlers.md
  issue_1037_comprehensive_test_strategy.md
  tests/e2e/gcp_staging/test_service_auth_failures_staging.py
  tests/integration/auth/test_service_to_service_auth_failures.py
  tests/unit/auth/test_service_secret_validation_failures.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(ssot-gardener): Track P0 WebSocket factory legacy violation
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-critical-20250914-110500.md
  SSOT-regression-deprecated-websocket-factory-imports.md
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-20250914-1830.md
Due: docker-force-flag-prohibition

feat(ssot-gardener): Add progress tracker for critical testing infrastructure SSOT violations
  SSOT-testing-massive-test-infrastructure-duplication-blocking-ssot-consolidation.md
Due: docker-force-flag-prohibition

feat(ssot): add triage sub agent tool recommender compatibility layer
  SSOT-incomplete-migration-Message-Router-Consolidation-Blocking-Golden-Path.md
  netra_backend/app/agents/triage_sub_agent/tool_recommender.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add comprehensive WebSocket core unit tests and pytest collection warnings reproduction
  netra_backend/tests/unit/websocket_core/test_agent_message_handler_core_comprehensive.py
  tests/unit/test_pytest_collection_warnings_issue_999.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Update gitcommitgardener.md
  .claude/commands/gitcommitgardener.md
Due: docker-force-flag-prohibition

feat(validation): add pytest collection warnings validation script for issue #999
  validate_reproduction.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(ssot): Add SSOT gardener tracking for WebSocket bridge violations
  SSOT-critical-agent-websocket-bridge-bypass-violation.md
Due: docker-force-flag-prohibition

feat(gcp-logs): Escalate SessionMiddleware issue to P1 critical with active user impact
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-20250914-current.md
Due: docker-force-flag-prohibition

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
