Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

feat(config): add SESSION_SECRET_KEY across all service configurations
  deployment/secrets_config.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(auth): add comprehensive demo mode authentication test suite
  tests/auth/demo_mode/IMPLEMENTATION_SUMMARY.md
  tests/auth/demo_mode/README_DEMO_MODE_TESTS.md
  tests/auth/demo_mode/__init__.py
  tests/auth/demo_mode/run_demo_mode_tests.py
  tests/auth/demo_mode/test_circuit_breaker_relaxed.py
  tests/auth/demo_mode/test_demo_mode_configuration.py
  tests/auth/demo_mode/test_jwt_validation_permissive.py
  tests/auth/demo_mode/test_user_creation_flexible.py
  tests/auth/demo_mode/validate_tests_fail.py
  tests/integration/test_demo_mode_auth_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(tests): add failing test gardener worklog for e2e websocket auth
  tests/FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-e2e-websockets-auth-frontend-oauth-2025-09-11-20-44.md
Due: docker-force-flag-prohibition

test(websocket): add race condition prevention tests for Issue #372
  tests/integration/test_websocket_handshake_race_prevention.py
  tests/unit/test_websocket_timeout_race_conditions.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(ssot): complete WebSocket SSOT test creation for issue #507
  SSOT-regression-websocket-url-env-var-duplication.md
  tests/e2e/websocket/ssot/__init__.py
  tests/e2e/websocket/ssot/test_websocket_ssot_golden_path_protection.py
  tests/integration/websocket/ssot/__init__.py
  tests/unit/websocket/ssot/__init__.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

WIP: Save current work before P1 issue processing
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-e2e-golden-path-frontend-staging-gcp-real-2025-09-12.md
  test_framework/test_helpers.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

SSOT Gardener: Initial WebSocket Factory Pattern SSOT violation tracking
  SSOT-incomplete-migration-WebSocket-Manager-Factory-Pattern-Fragmentation-Blocking-Golden-Path.md
Due: docker-force-flag-prohibition

fix(issue-169): resolve SESSION_SECRET_KEY missing from GCP Secret Manager
  netra_backend/app/core/redis_connection_handler.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

SSOT Gardener: Issue #515 tracking document - WebSocket Bridge Factory Proliferation
  SSOT-incomplete-migration-WebSocket Bridge Factory Proliferation.md
Due: docker-force-flag-prohibition

docs: Golden Path remediation action completed - WebSocket protocol issue resolved
  reports/golden_path_remediation_complete_20250911.md
Due: docker-force-flag-prohibition

feat(auth): implement comprehensive demo mode authentication system
  auth_service/auth_core/auth_environment.py
  auth_service/auth_core/config.py
  tests/FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-e2e-websockets-auth-frontend-oauth-2025-09-11-20-44.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(auth): add comprehensive Issue #501 authentication failure test suite
  tests/e2e/test_staging_auth_403_issue_501.py
  tests/integration/test_auth_cross_service_flow_issue_501.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(websocket): add E2E staging race condition reproduction for Issue #372
  tests/e2e/staging/test_websocket_race_condition_reproduction.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

SSOT Gardener: Step 1 Complete - WebSocket test discovery and planning
  SSOT-incomplete-migration-WebSocket-Manager-Factory-Pattern-Fragmentation-Blocking-Golden-Path.md
Due: docker-force-flag-prohibition

test(infra): add Golden Path test discovery and syntax validation infrastructure
  tests/integration/test_collection/test_golden_path_test_discovery.py
  tests/unit/syntax_validation/test_userexecutioncontext_import_syntax.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(ssot): complete WebSocket URL SSOT remediation planning for issue #507
  docs/SSOT-regression-websocket-url-env-var-duplication.md
Due: docker-force-flag-prohibition

docs(merges): update merge decision log for Cycle 2 completion
  merges/MERGEISSUE-2025-09-11.md
Due: docker-force-flag-prohibition

SSOT Gardener: Step 1 Complete - WebSocket Bridge Test Discovery
  SSOT-incomplete-migration-WebSocket Bridge Factory Proliferation.md
Due: docker-force-flag-prohibition

feat(test): complete Issue #502 syntax validation implementation
  ISSUE_502_GITHUB_COMMENT.md
  TEST_PLAN_ISSUE_502_SYNTAX_VALIDATION.md
  fix_syntax_errors.py
  tests/unit/test_issue_502_syntax_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(websocket): comprehensive WebSocket bridge SSOT consolidation test strategy
  WEBSOCKET_BRIDGE_SSOT_CONSOLIDATION_TEST_PLAN.md
Due: docker-force-flag-prohibition

gcp: add GCP Log Gardener worklog with 5 critical backend issues
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-20250912-045430.md
Due: docker-force-flag-prohibition

feat(demo): complete cross-service demo mode authentication system
  auth_service/auth_core/core/jwt_handler.py
  auth_service/auth_core/security/password_policy_validator.py
  auth_service/auth_core/services/auth_service.py
  netra_backend/app/auth_integration/auth.py
  netra_backend/app/clients/circuit_breaker.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(ssot): complete Phase 1 WebSocket URL SSOT remediation for issue #507
  docs/SSOT-regression-websocket-url-env-var-duplication.md
Due: docker-force-flag-prohibition

feat(ssot): Comprehensive WebSocket factory SSOT compliance test suite
  tests/e2e/staging/test_websocket_ssot_golden_path.py
  tests/integration/ssot/test_websocket_manager_migration_safety.py
  tests/mission_critical/test_ssot_websocket_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix(ssot): complete WebSocket URL SSOT consolidation for issue #507
  docs/SSOT-regression-websocket-url-env-var-duplication.md
  frontend/lib/unified-api-config.ts
Due: architecture-compliance, file-size-limit, type-safety-check, docker-force-flag-prohibition

fix(ssot): finalize WebSocket URL environment variable consolidation
  WEBSOCKET_FACTORY_SSOT_REMEDIATION_PLAN.md
  analytics_service/tests/unit/test_event_processor.py
  analytics_service/tests/unit/test_health_endpoints.py
  docker/docker-compose.staging.alpine.yml
  docker/docker-compose.staging.yml
  netra_backend/tests/helpers/test_agent_orchestration_pytest_fixtures.py
  netra_backend/tests/integration/golden_path/test_configuration_management_integration.py
  netra_backend/tests/integration/golden_path/test_websocket_event_delivery_integration.py
  netra_backend/tests/integration/startup/test_cache_phase_comprehensive.py
  netra_backend/tests/integration/test_websocket_comprehensive_integration.py
  netra_backend/tests/integration/thread_routing/test_message_delivery_precision.py
  netra_backend/tests/unit/core/service_dependencies/test_golden_path_validator_monolithic_flaw.py
  netra_backend/tests/unit/test_config_golden_path_comprehensive.py
  scripts/deploy_to_gcp_actual.py
  tests/e2e/auth/test_golden_path_jwt_auth_flow.py
  tests/e2e/gcp_staging/test_state_persistence_gcp_staging.py
  tests/e2e/gcp_staging/test_unified_state_manager_gcp_staging.py
  tests/e2e/golden_path/test_websocket_infrastructure_dependencies_e2e.py
  tests/e2e/infrastructure/test_gcp_redis_connectivity_golden_path.py
  tests/e2e/integration/test_agent_orchestration_real_llm.py
  tests/e2e/performance/test_rate_limiting_complete.py
  tests/e2e/service_dependencies/test_service_dependency_golden_path_simple.py
  tests/e2e/staging/README_ENVIRONMENT_AUTH_SEPARATION.md
  tests/e2e/staging/test_environment_auth_separation.py
  tests/e2e/staging/validate_environment_auth_separation.py
  tests/e2e/test_cache_contention_core.py
  tests/e2e/test_comprehensive_e2e_integration.py
  tests/e2e/test_startup_services.py
  tests/e2e/test_websocket_race_conditions_golden_path.py
  tests/e2e/websocket/test_websocket_race_conditions_golden_path.py
  tests/e2e/websocket_e2e_tests/test_websocket_race_conditions_golden_path.py
  tests/integration/business_logic/test_agent_orchestration_business_integration.py
  tests/integration/golden_path/test_golden_path_complete_e2e_comprehensive.py
  tests/integration/golden_path/test_golden_path_suite_validation.py
  tests/integration/test_docker_redis_connectivity.py
  tests/integration/websocket_auth/LIFECYCLE_MISMATCH_FINDINGS.md
  tests/integration/websocket_auth/test_auth_lifecycle_mismatches_simple.py
  tests/mission_critical/test_websocket_agent_events_revenue_protection.py
  tests/telemetry/integration/test_opentelemetry_auto_framework_discovery.py
  tests/telemetry/performance/test_opentelemetry_auto_instrumentation_overhead.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(ssot): complete SSOT Gardener process for issue #507
  docs/SSOT-regression-websocket-url-env-var-duplication.md
Due: docker-force-flag-prohibition

feat(ssot): Phase 1 P0 Critical WebSocket factory deprecation remediation
  netra_backend/app/routes/websocket_ssot.py
  scripts/business_health_check.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(ssot): Phase 1 WebSocket SSOT remediation - Core authentication and testing
  netra_backend/app/websocket_core/auth_remediation.py
  netra_backend/app/websocket_core/unified_websocket_auth.py
  netra_backend/app/websocket_core/user_context_extractor.py
  test_framework/common_imports.py
  tests/e2e/test_comprehensive_e2e_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(testing): add test reporting and development worklog documentation
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-websockets-goldenpath-2025-09-12.md
  STAGING_TEST_REPORT_PYTEST.md
  issue_514_github_comment.md
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-websockets-auth-20250912.md
Due: docker-force-flag-prohibition

feat(staging): enhance staging integration test infrastructure
  run_staging_integration_tests.py
  test_staging_env_setup.py
  websocket_debug_test.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(testing): establish staging integration test infrastructure
  .env.staging.tests
  STAGING_INTEGRATION_TESTS_SETUP.md
  setup_staging_tests.py
  test_staging_connection_basic.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(websocket): add SSOT pattern enforcement validation suite
  tests/integration/test_websocket_deprecated_pattern_elimination.py
  tests/ssot/test_websocket_factory_pattern_enforcement.py
  tests/unit/websocket_bridge/test_ssot_consolidation_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(deploy): add E2E deployment remediation worklog for WebSocket and auth issues
  E2E-DEPLOY-REMEDIATE-WORKLOG-websockets-auth-20250912.md
Due: docker-force-flag-prohibition

docs(ssot): add tracking for websocket JWT validation consolidation
  SSOT-incomplete-migration-websocket-jwt-validation-consolidation.md
Due: docker-force-flag-prohibition

fix(imports): add missing redis import to rate_limiter module
  netra_backend/app/services/tool_permissions/rate_limiter.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(async): resolve async/await syntax errors across test infrastructure
  netra_backend/tests/integration/service_dependencies/test_service_dependency_resolution_integration.py
  netra_backend/tests/test_gcp_staging_redis_connection_issues.py
  test_framework/utilities/external_service_integration.py
  tests/integration/test_docker_redis_connectivity.py
  tests/mission_critical/test_ssot_backward_compatibility.py
  tests/mission_critical/test_ssot_regression_prevention.py
  tests/telemetry/integration/test_opentelemetry_auto_framework_discovery.py
  tests/telemetry/performance/test_opentelemetry_auto_instrumentation_overhead.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(deploy): add GCP Cloud Build configuration for backend staging
  cloudbuild-backend.yaml
Due: docker-force-flag-prohibition, docker-security-audit

docs(testing): add failing test gardener analysis for auth and websocket issues
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-auth-websockets-20250912.md
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-e2e-auth-websockets-2025-09-12.md
Due: docker-force-flag-prohibition

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
