Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$

fix(agents): Phase 2 timing and logger fixes for Issue #872
  SSOT-incomplete-migration-multiple-execution-engine-factories-blocking-ai-responses.md
  frontend/lib/cors-utils.ts
  netra_backend/app/core/unified_id_manager.py
  netra_backend/tests/agents/test_agent_lifecycle_core.py
  test_framework/tests/integration/github_integration/test_github_api_real_connection.py
  test_framework/tests/unit/github_integration/conftest_unit.py
  test_outputs/performance_concurrency_e2e_report.txt
  test_websocket_staging_validation.py
  tests/integration/test_cors_staging_specific.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(regression): enhance Issue #877 DeepAgentState regression detection
  test_api_compatibility_fix.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(test): Add WebSocket routing remediation plan and API compatibility test
  WEBSOCKET_ROUTING_REMEDIATION_PLAN.md
Due: docker-force-flag-prohibition

fix(test-framework): improve GitHub API real connection integration test
  test_framework/tests/integration/github_integration/test_github_api_real_connection.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Complete Step 4 - SSOT remediation executed successfully
  SSOT-incomplete-migration-IDType-RUN-Missing.md
Due: docker-force-flag-prohibition

docs(issue-335): add comprehensive proof validation report
  ISSUE_335_COMPREHENSIVE_PROOF_VALIDATION_REPORT.md
  TEST_EXECUTION_RESULTS_REMEDIATION_PLAN_STEP2.md
Due: docker-force-flag-prohibition

docs: MAJOR MILESTONE - Phase 1 SSOT Interface Compatibility COMPLETE
  SSOT-AgentState-DuplicateDeepAgentStateDefinitions.md
Due: docker-force-flag-prohibition

docs: Add Issue #870 integration test execution results and remediation plan
  ISSUE_870_INTEGRATION_TEST_EXECUTION_ANALYSIS.md
Due: docker-force-flag-prohibition

test(critical): Update WebSocket emergency cleanup failure test
  tests/critical/test_websocket_emergency_cleanup_failure.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(test-helpers): enhance WebSocket E2E testing utilities
  STAGING_TEST_REPORT_PYTEST.md
  tests/e2e/test_helpers/websocket_helpers.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(ssot): Add Issue #871 DeepAgentState SSOT remediation plan
  ISSUE_871_DEEPAGENTSTATE_SSOT_REMEDIATION_PLAN.md
  tests/critical/test_websocket_emergency_cleanup_failure.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(fix): Fix WebSocket emergency cleanup factory fixture and update E2E worklog
  tests/critical/test_websocket_emergency_cleanup_failure.py
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-all-2025-09-14.md
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Add wait_for_websocket_event export to websocket_helpers.py
  SSOT-incomplete-migration-multiple-execution-engine-factories-blocking-ai-responses.md
Due: docker-force-flag-prohibition

feat(validation): Update business health report and add UserExecutionContext validation
  BUSINESS_HEALTH_REPORT.json
  netra_backend/app/agents/agent_lifecycle.py
  netra_backend/app/websocket_core/gcp_initialization_validator.py
  netra_backend/tests/unit/websocket/test_manager_factory_business_logic.py
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-all-2025-09-14.md
  validate_user_execution_context_fix.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Add get_jwt_token_for_user instance method to E2EAuthHelper
  test_framework/ssot/e2e_auth_helper.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Add missing functions and compatibility attributes to staging_config.py
  tests/e2e/staging_config.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(agents): Fix agent lifecycle post-run parameter and enhance WebSocket validation
  netra_backend/app/agents/agent_lifecycle.py
  netra_backend/app/middleware/gcp_websocket_readiness_middleware.py
  netra_backend/app/websocket_core/gcp_initialization_validator.py
  netra_backend/tests/unit/websocket/test_manager_factory_business_logic.py
  tests/critical/test_websocket_emergency_cleanup_failure.py
  validate_user_execution_context_fix.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Issue #874 Phase 1: Update production code to use SSOT ExecutionEngineFactory
  THREADSTATE_SSOT_REMEDIATION_PLAN.md
  netra_backend/app/core/app_state_contracts.py
  netra_backend/app/dependencies.py
  netra_backend/app/services/factory_adapter.py
  netra_backend/app/smd.py
  netra_backend/tests/unit/websocket_core/test_websocket_manager_factory_security_comprehensive.py
  netra_backend/tests/unit/websocket_core/test_websocket_manager_factory_ssot_validation.py
  netra_backend/tests/unit/websocket_core/test_websocket_manager_race_conditions.py
  tests/e2e/test_data_factory.py
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-all-2025-09-14-1835.md
  tests/integration/core/test_idtype_run_ssot_integration.py
  tests/unit/core/test_idtype_run_generation_unit.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(agent): Complete agent lifecycle and WebSocket infrastructure improvements
  netra_backend/app/agents/agent_lifecycle.py
  netra_backend/app/websocket_core/gcp_initialization_validator.py
  netra_backend/tests/unit/websocket/test_manager_factory_business_logic.py
  validate_phase1_fix.py
  validate_user_execution_context_fix.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(agents): Fix agent lifecycle parameter references and enhance validation tools
  STAGING_TEST_REPORT_PYTEST.md
  netra_backend/app/agents/agent_lifecycle.py
  netra_backend/app/agents/synthetic_data_sub_agent_validation.py
  netra_backend/app/agents/tool_dispatcher_execution.py
  netra_backend/tests/unit/websocket/test_manager_factory_business_logic.py
  tests/critical/test_websocket_production_leak_scenarios.py
  validate_phase1_fix.py
  validate_user_execution_context_fix.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Complete ExecutionEngine SSOT consolidation Phase 2
  netra_backend/app/agents/supervisor/execution_engine.py
  netra_backend/app/agents/supervisor/user_execution_engine.py
  netra_backend/tests/unit/websocket_core/test_websocket_security_focused.py
  netra_backend/tests/unit/websocket_core/test_websocket_systems_integration.py
  tests/e2e/test_domain_experts_e2e_comprehensive.py
  tests/integration/core/test_idtype_run_ssot_integration.py
  tests/unit/core/test_idtype_run_validation_formats_unit.py
  websocket_test.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Complete SSOT factory consolidation and IDType.RUN test infrastructure
  netra_backend/app/agents/execution_engine_unified_factory.py
  netra_backend/app/agents/supervisor/agent_instance_factory.py
  tests/unit/core/test_idtype_run_validation_formats_unit.py
  websocket_test.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(development): continuous development cycle with agent and validation fixes
  netra_backend/app/agents/agent_lifecycle.py
  netra_backend/app/agents/synthetic_data/validation.py
  netra_backend/tests/unit/websocket/test_manager_factory_business_logic.py
  validate_phase1_fix.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(agent): Final agent lifecycle and factory test improvements
  netra_backend/app/agents/agent_lifecycle.py
  netra_backend/app/agents/synthetic_data/generation_workflow.py
  tests/critical/test_websocket_production_leak_scenarios.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(agents): Fix agent lifecycle execution error handling with consistent parameters
  STAGING_TEST_REPORT_PYTEST.md
  netra_backend/app/agents/agent_lifecycle.py
  netra_backend/app/agents/synthetic_data/approval_flow.py
  netra_backend/app/services/query_builder.py
  netra_backend/tests/unit/websocket/test_manager_factory_business_logic.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore: Pre-issue-884 staging - preserve local changes before pull
  netra_backend/app/agents/agent_lifecycle.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(final): Complete all remaining infrastructure improvements
  netra_backend/app/agents/data_sub_agent/__init__.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(agents): Complete agent lifecycle WebSocket error handling cleanup
  netra_backend/app/agents/agent_lifecycle.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(agent-lifecycle): add final WebSocket disconnection logging
  netra_backend/app/agents/agent_lifecycle.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(agent): Complete final agent lifecycle and test infrastructure
  netra_backend/app/agents/quality_checks.py
  netra_backend/app/agents/quality_supervisor.py
  netra_backend/tests/unit/websocket/test_manager_factory_business_logic.py
  tests/critical/test_websocket_production_leak_scenarios.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: Complete SSOT import path consolidation and staging validation enhancements
  netra_backend/app/dependencies.py
  netra_backend/app/services/factory_adapter.py
  phase3_validation_results.md
  tests/e2e/e2e_test_config.py
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-all-2025-09-14-1835.md
  websocket_test.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Complete Step 5 - comprehensive test validation successful
  SSOT-incomplete-migration-IDType-RUN-Missing.md
Due: docker-force-flag-prohibition

Issue #874 Fix: Update smd.py references to use SSOT ExecutionEngineFactory
  netra_backend/app/smd.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(e2e): Phase 2 remediation for issue #872 agent execution and WebSocket issues
  frontend/__tests__/utils/thread-test-helpers.ts
Due: architecture-compliance, file-size-limit, type-safety-check

fix: Complete Issue #883 SSOT remediation with comprehensive test validation
  AGENT_SESSION_2025-09-14-1430_COMPLETION_REPORT.md
  netra_backend/app/agents/execution_engine_legacy_adapter.py
  netra_backend/app/agents/supervisor/execution_factory.py
  netra_backend/app/dependencies.py
  netra_backend/tests/integration/agent_execution/test_multi_user_isolation.py
  netra_backend/tests/integration/test_agent_execution_pipeline_integration.py
  netra_backend/tests/integration/test_user_context_factory_integration.py
  netra_backend/tests/integration/test_websocket_notification_integration.py
  netra_backend/tests/test_ssot_startup.py
  tests/e2e/test_agent_performance_concurrency_e2e.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(merge): Update SSOT documentation and merge resolution with latest integration
  SSOT-AgentState-DuplicateDeepAgentStateDefinitions.md
  merges/MERGEISSUE-2025-09-13.md
  netra_backend/app/agents/agent_lifecycle.py
  tests/e2e/config_ssot/test_config_ssot_staging_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(merge): Complete merge resolution documentation and add temp lifecycle file
  netra_backend/app/agents/agent_lifecycle_temp.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Issue #874 Fix: Correct SSOT ExecutionEngineFactory configuration
  SSOT-incomplete-migration-IDType-RUN-Missing.md
  netra_backend/app/agents/execution_engine_consolidated.py
  netra_backend/app/agents/execution_engine_legacy_adapter.py
  netra_backend/app/agents/supervisor/execution_engine_factory.py
  netra_backend/app/agents/supervisor/execution_factory.py
  netra_backend/app/smd.py
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-all-2025-09-14-1835.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: Complete GCP Log Gardener Critical Issues Discovery and GitHub Integration
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-13-180251.md
Due: docker-force-flag-prohibition

fix(agents): Consolidate agent lifecycle improvements and clean up temp files
  netra_backend/app/agents/agent_lifecycle.py
  netra_backend/app/agents/agent_lifecycle_temp.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation
