Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$

feat(scripts): add automated database import fix utility
  scripts/fix_database_imports.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(frontend): add Cypress E2E configuration file
  frontend/cypress.e2e.config.ts
Due: architecture-compliance, file-size-limit, type-safety-check

fix(test-framework): update unified Docker manager database imports
  test_framework/unified_docker_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(analysis): add multi-agent testing analysis document
  MULTI_AGENT_TESTING_ANALYSIS.md
Due: docker-force-flag-prohibition

feat(test-framework): enhance Docker manager with improved health checks
  test_framework/unified_docker_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add IsolatedEnvironment imports to analytics and CI test files
  .github/scripts/test_matrix_config.py
  analytics_service/test_connection.py
  analytics_service/tests/compliance/test_clickhouse_ssot_violations.py
  analytics_service/tests/e2e/test_dashboards.py
  analytics_service/tests/e2e/test_full_flow.py
  analytics_service/tests/e2e/test_performance.py
  analytics_service/tests/e2e/test_realtime_analytics.py
  analytics_service/tests/e2e/test_user_journeys.py
  analytics_service/tests/integration/test_api_endpoints.py
  analytics_service/tests/integration/test_api_integration.py
  analytics_service/tests/integration/test_clickhouse_integration.py
  analytics_service/tests/integration/test_database_integration.py
  analytics_service/tests/integration/test_event_pipeline.py
  analytics_service/tests/integration/test_real_analytics_service.py
  analytics_service/tests/integration/test_service_integration.py
  analytics_service/tests/integration/test_utils.py
  analytics_service/tests/unit/test_event_ingestion.py
  analytics_service/tests/unit/test_event_processor.py
  analytics_service/tests/unit/test_health_endpoints.py
  analytics_service/tests/unit/test_main.py
  analytics_service/tests/unit/test_models.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(dev-launcher): update database connectivity and launcher tests
  database_scripts/test_create_auth.py
  dev_launcher/tests/test_config_validator.py
  dev_launcher/tests/test_critical_dev_launcher_issues.py
  dev_launcher/tests/test_database_connectivity_failures.py
  dev_launcher/tests/test_database_connector_consistency.py
  dev_launcher/tests/test_database_validation_resilience.py
  dev_launcher/tests/test_database_validation_url_fix.py
  dev_launcher/tests/test_default_launcher.py
  dev_launcher/tests/test_dev_user_flow.py
  dev_launcher/tests/test_env_loading_regression.py
  dev_launcher/tests/test_environment_isolation_pytest_integration.py
  dev_launcher/tests/test_environment_source_tracking_comprehensive.py
  dev_launcher/tests/test_event_loop_conflict.py
  dev_launcher/tests/test_frontend_duplicate_exports.py
  dev_launcher/tests/test_health_registration.py
  dev_launcher/tests/test_isolated_environment.py
  dev_launcher/tests/test_launcher_config.py
  dev_launcher/tests/test_launcher_critical_mainline.py
  dev_launcher/tests/test_launcher_health.py
  dev_launcher/tests/test_launcher_integration.py
  dev_launcher/tests/test_launcher_mainline_scenarios.py
  dev_launcher/tests/test_launcher_validation.py
  dev_launcher/tests/test_nextjs_config_validation.py
  dev_launcher/tests/test_parallel_executor_comprehensive.py
  dev_launcher/tests/test_path_resolution.py
  dev_launcher/tests/test_path_validation_integration.py
  dev_launcher/tests/test_phase3_multiprocessing.py
  dev_launcher/tests/test_port_binding_race_condition.py
  dev_launcher/tests/test_service_coordination_integration.py
  dev_launcher/tests/test_websocket_connection_issue.py
  dev_launcher/tests/test_websocket_type_validation.py
  dev_launcher/tests/test_websocket_validator_fix.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(core): enhance Redis and WebSocket managers with resilience features
  frontend/services/webSocketService.ts
  netra_backend/app/mcp_client/connection_manager.py
  netra_backend/app/redis_manager.py
  netra_backend/app/services/websocket/message_queue.py
  netra_backend/app/websocket_core/unified_manager.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): improve factory isolation and emitter security
  netra_backend/app/routes/websocket_factory.py
  netra_backend/app/websocket_core/__init__.py
  netra_backend/app/websocket_core/unified_emitter.py
  netra_backend/app/websocket_core/unified_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(dependencies): enhance request isolation and WebSocket bridge
  netra_backend/app/dependencies.py
  netra_backend/app/services/agent_websocket_bridge.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(github-analyzer): correct agent registration and WebSocket integration
  netra_backend/app/agents/github_analyzer/agent.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(websocket): remove debug output from mission critical test suite
  tests/mission_critical/test_websocket_agent_events_suite.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(debug): enhance database connectivity debug utility
  database_connectivity_debug.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(learnings): document fake staging tests critical failure
  SPEC/learnings/fake_staging_tests_critical_failure_20250905.xml
  SPEC/learnings/index.xml
Due: none

test(critical): add database pool resilience and WebSocket security tests
  AGENT_REGISTRATION_ISSUES_FIXED_REPORT.md
  netra_backend/tests/critical/test_database_pool_resilience.py
  test_websocket_security_fixes_validation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(frontend): add memory safety and rate limiting to WebSocket service
  frontend/services/urlSyncService.ts
  frontend/services/webSocketService.ts
Due: architecture-compliance, file-size-limit, type-safety-check

feat(frontend): enhance thread operations with mutex and debouncing
  frontend/__tests__/providers/WebSocketProvider.context-trace.test.tsx
  frontend/lib/thread-operation-manager.ts
  frontend/providers/WebSocketProvider.tsx
Due: architecture-compliance, file-size-limit, type-safety-check

fix(backend): correct async/await patterns in agent registry
  netra_backend/app/agents/supervisor/agent_registry.py
  netra_backend/app/agents/supervisor/execution_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(tests): simplify unified test runner configuration
  tests/unified_test_runner.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(critical): add comprehensive resilience and security tests
  netra_backend/tests/critical/test_mcp_connection_resilience.py
  test_database_fix.py
  test_websocket_integration.py
  tests/critical/test_jwt_authentication_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add critical analysis reports and test documentation
  CRITICAL_ALERT_FAKE_STAGING_TESTS.md
  FRONTEND_TEST_FAILURES_REPORT_20250905.md
  WEBSOCKET_SECURITY_FIXES_REPORT.md
  tests/e2e/staging/FAKE_TEST_ANALYSIS_REPORT.json
  tests/e2e/staging/STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

feat(debug): add database connectivity diagnostic utility
  fix_database_connectivity.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(backend): minor corrections in database and MCP managers
  netra_backend/app/db/database_manager.py
  netra_backend/app/mcp_client/connection_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(tests): fix ValidationStatus import paths across test suite
  netra_backend/tests/agents/test_triage_sub_agent.py
  netra_backend/tests/agents/test_uvs_requirements.py
  netra_backend/tests/auth_integration/test_jwt_secret_consistency.py
  netra_backend/tests/database/test_message_repository.py
  netra_backend/tests/database/test_repositories_comprehensive.py
  netra_backend/tests/e2e/test_agent_message_flow.py
  netra_backend/tests/helpers/triage_test_helpers.py
  netra_backend/tests/integration/agents/test_triage_infrastructure_integration.py
  netra_backend/tests/integration/critical_missing/tier1_critical/test_agent_tool_execution_pipeline.py
  netra_backend/tests/integration/critical_paths/test_agent_cost_tracking_l3.py
  netra_backend/tests/integration/critical_paths/test_compliance_audit_trail_l4.py
  netra_backend/tests/integration/critical_paths/test_configuration_hot_reload_l3.py
  netra_backend/tests/integration/security/test_data_access_audit.py
  netra_backend/tests/integration/test_critical_integration_fixtures.py
  netra_backend/tests/integration/test_critical_integration_helpers.py
  netra_backend/tests/integration/test_sso_saml_integration.py
  netra_backend/tests/startup/test_startup_quick.py
  netra_backend/tests/test_agent_response_serialization.py
  netra_backend/tests/test_websocket_response_serialization.py
  netra_backend/tests/unit/agents/test_agent_edge_cases_critical.py
  netra_backend/tests/unit/agents/test_agent_performance_benchmarks.py
  netra_backend/tests/unit/agents/test_base_agent_infrastructure.py
  netra_backend/tests/unit/agents/test_triage_agent_golden.py
  netra_backend/tests/unit/test_new_user_critical_flows.py
  netra_backend/tests/websocket/test_websocket_serialization_critical.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(testing): enhance critical agent test runner with memory monitoring
  scripts/run_critical_agent_tests.py
  test_framework/resource_monitor.py
  test_framework/unified_docker_manager.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(testing): add critical testing and memory monitoring documentation
  CRITICAL_AGENT_TESTS_README.md
  MEMORY_MONITORING_ENHANCEMENT_REPORT.md
  import_fix_summary.md
Due: docker-force-flag-prohibition

feat(scripts): add import fix and memory monitoring utilities
  fix_all_import_errors.py
  test_memory_monitoring_enhanced.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(services): add LLM fallback config and supply research modules
  netra_backend/app/llm/fallback_config.py
  netra_backend/app/services/supply_research/result_manager.py
  netra_backend/app/services/supply_research/schedule_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(frontend): resolve chat race condition with thread state machine
  frontend/__tests__/bugs/new-chat-race-condition-fixed.test.tsx
  frontend/components/chat/ChatSidebar.tsx
  frontend/lib/thread-state-machine.ts
Due: architecture-compliance, file-size-limit, type-safety-check

refactor(backend): enhance message handling with better error recovery
  netra_backend/app/services/message_handler_base.py
  netra_backend/app/services/message_handler_utils.py
  netra_backend/app/services/message_handlers.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(backend): improve database operations and shutdown handling
  netra_backend/app/services/corpus/clickhouse_operations.py
  netra_backend/app/shutdown.py
  netra_backend/app/websocket_core/unified_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(critical): add comprehensive WebSocket and security validation tests
  netra_backend/tests/critical/test_mcp_connection_resilience.py
  test_websocket_integration.py
  tests/critical/test_websocket_events_comprehensive_validation.py
  tests/critical/test_websocket_security_comprehensive.py
  tests/staging/real_staging_test_framework.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(e2e): enhance staging test infrastructure and validation
  tests/e2e/staging/FIX_FAKE_TESTS.py
  tests/e2e/staging/STAGING_TEST_REPORT_PYTEST.md
  tests/e2e/staging/conftest.py
  tests/e2e/staging/test_priority1_critical_REAL.py
  tests/e2e/staging/validate_test_duration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation
