Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

feat: implement Phase 2 SSOT consolidation runtime integration
  netra_backend/app/schemas/config.py
  netra_backend/app/services/agent_websocket_bridge.py
  tests/integration/websocket_ssot_compliance_suite.py
  tests/unit/websocket_ssot_security_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: update test infrastructure with SSOT compliance improvements
  netra_backend/tests/unit/agents/base/test_executor_comprehensive.py
  tests/integration/golden_path/test_agent_orchestration_execution_comprehensive.py
  tests/mission_critical/ssot/test_ssot_websocket_manager_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test: add comprehensive handler tests and validation results
  merges/MERGEISSUE_2025-09-10_15-22.md
  netra_backend/tests/unit/agents/base/test_executor_comprehensive.py
  netra_backend/tests/unit/websocket_core/handlers/test_agent_handler_comprehensive.py
  reports/UNIT_TEST_VALIDATION_RESULTS_20250910.md
  test_framework/base_integration_test.py
  tests/mission_critical/ssot/test_ssot_websocket_manager_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs: complete SSOT gardener mission - WebSocket Phase 1 successful
  SSOT-regression-websocket-manager-duplicates.md
Due: docker-force-flag-prohibition

docs: complete EventValidator SSOT violation remediation - ALL STEPS DONE
  SSOT-incomplete-migration-EventValidator-violations.md
Due: docker-force-flag-prohibition

test: enhance integration tests with improved validation
  netra_backend/tests/integration/startup/test_finalize_phase_comprehensive.py
  tests/integration/websocket_golden_path/test_manager_consolidation_integration.py
  tests/mission_critical/ssot/test_ssot_websocket_manager_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix(tests): remove broken test_websocket_fix_simple_validation.py
  tests/mission_critical/test_eventvalidator_ssot_violations.py
  tests/mission_critical/test_websocket_import_stability.py
  tests/test_websocket_fix_simple_validation.py
  tests/websocket/test_websocket_integration_fixtures.py
  tests/websocket/test_websocket_integration_helpers.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test: update integration tests with improved service setup
  netra_backend/tests/integration/startup/test_services_phase_comprehensive.py
  tests/integration/websocket_golden_path/test_manager_consolidation_integration.py
  tests/mission_critical/ssot/test_ssot_websocket_manager_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

script: add WebSocketNotifier import migration utility
  scripts/fix_websocket_notifier_imports.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: SSOT gardener COMPLETE - ConfigurationValidator Phase 1 delivered
  SSOT-incomplete-migration-configuration-validator-duplication.md
Due: docker-force-flag-prohibition

test: add environment detector comprehensive test and update integration tests
  create_pr_info.md
  netra_backend/tests/integration/startup/test_services_phase_comprehensive.py
  netra_backend/tests/unit/core/configuration/test_environment_detector_comprehensive.py
  tests/integration/websocket_golden_path/test_manager_consolidation_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: save event validator changes before SSOT remediation
  netra_backend/app/websocket_core/event_validator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add execution factory comprehensive test and enhance SSOT validation
  netra_backend/tests/integration/startup/test_services_phase_comprehensive.py
  netra_backend/tests/unit/agents/supervisor/test_execution_factory_comprehensive.py
  netra_backend/tests/unit/core/configuration/test_environment_detector_comprehensive.py
  tests/mission_critical/ssot/test_ssot_websocket_manager_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix: complete EventValidator SSOT migration in WebSocket core
  netra_backend/app/websocket_core/unified_manager.py
  netra_backend/app/websocket_core/websocket_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: migrate agent execution engines to EventValidator SSOT
  netra_backend/app/agents/supervisor/mcp_execution_engine.py
  netra_backend/app/agents/supervisor/pipeline_executor.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: migrate integration tests to EventValidator SSOT
  tests/integration/test_agent_error_recovery.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: complete system validation for SSOT logging fixes issue #232
  SSOT-regression-logging-chaos-1121-violations.md
Due: docker-force-flag-prohibition

SSOT: Migrate WebSocket imports to canonical paths for better compliance
  P0_INFRASTRUCTURE_STABILITY_PROOF.py
  netra_backend/app/websocket_core/unified_manager.py
  netra_backend/app/websocket_core/websocket_manager.py
  tests/e2e/test_agent_orchestration.py.backup_pre_ssot_migration
  tests/e2e/test_real_agent_execution_order.py.backup_pre_ssot_migration
  tests/e2e/test_real_agent_factory_patterns.py.backup_pre_ssot_migration
  tests/e2e/test_real_agent_supervisor_orchestration.py.backup_pre_ssot_migration
  tests/e2e/test_real_agent_triage_workflow.py.backup_pre_ssot_migration
  tests/e2e/test_real_agent_websocket_notifications.py.backup_pre_ssot_migration
  tests/mission_critical/test_websocket_id_event_delivery.py.backup_pre_ssot_migration
  tests/regression/test_websocket_context_import_regression_mission_critical.py.backup_pre_ssot_migration
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add SSOT EventValidator completion report for issue #232
  EVENTVALIDATOR_SSOT_COMPLETION_REPORT.md
Due: docker-force-flag-prohibition

test: enhance comprehensive tests with additional validation
  netra_backend/tests/integration/startup/test_services_phase_comprehensive.py
  netra_backend/tests/unit/agents/supervisor/test_execution_factory_comprehensive.py
  netra_backend/tests/unit/core/configuration/test_environment_detector_comprehensive.py
  netra_backend/tests/unit/test_websocket_manager_factory.py
  pytest.ini
  tests/mission_critical/ssot/test_ssot_authentication_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat: Phase 1 WebSocketNotifier SSOT import consolidation
  netra_backend/app/websocket_core/unified_manager.py
  tests/unit/test_message_router_ssot_violations_quick.py
  websocket_notifier_import_migration_report.txt
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: complete SSOT logging foundation project for issue #232
  SSOT-regression-logging-chaos-1121-violations.md
Due: docker-force-flag-prohibition

fix: update IsolatedWebSocketManager imports for SSOT compliance
  fix_isolated_websocket_manager_imports.py
  netra_backend/tests/integration/test_multi_user_isolation_routing.py
  netra_backend/tests/unit/agents/supervisor/test_execution_factory_comprehensive.py
  netra_backend/tests/unit/websocket/test_manager_factory_business_logic.py
  tests/mission_critical/ssot/test_ssot_authentication_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat: Phase 3 WebSocketNotifier SSOT validation complete
  MESSAGEROUTER_SSOT_REMEDIATION_PROOF_ISSUE217.md
  websocket_notifier_ssot_compliance_report_20250910_153921.txt
Due: docker-force-flag-prohibition

fix: consolidate WebSocketNotifier SSOT implementations for Golden Path
  netra_backend/app/websocket_core/unified_manager.py
  netra_backend/app/websocket_core/websocket_manager_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(websocket): resolve migration adapter import compatibility
  netra_backend/app/websocket_core/migration_adapter.py
  netra_backend/app/websocket_core/unified_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: comprehensive golden path unit test coverage for critical SSOT components
  netra_backend/tests/unit/agents/test_supervisor_agent_modern_comprehensive.py
  netra_backend/tests/unit/websocket_core/test_event_manager_comprehensive.py
  reports/coverage/UNIT_TEST_COVERAGE_100_PERCENT_MISSION.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: finalize MessageRouter SSOT Phase 1 remediation documentation
  reports/WEBSOCKET_SSOT_REMEDIATION_STABILITY_REPORT.md
  staging_fix_report.json
  test_cloud_run_staging.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(config): resolve critical circular import blocking agent startup
  netra_backend/app/core/configuration/base.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: enhance GitHub issue workflow with safety and progress tracking
  .claude/commands/gitissueprogressor.md
  GITHUB_STYLE_GUIDE.md
Due: docker-force-flag-prohibition

feat(tests): create comprehensive P0 SSOT unit test coverage
  config/pytest.ini
  netra_backend/app/agents/base/circuit_breaker.py
  netra_backend/tests/unit/agents/base/test_circuit_breaker_comprehensive.py
  netra_backend/tests/unit/agents/base/test_reliability_manager_comprehensive.py
  netra_backend/tests/unit/core/configuration/test_staging_validator_comprehensive.py
  netra_backend/tests/unit/core/configuration/test_startup_validator_comprehensive.py
  netra_backend/tests/unit/websocket_core/TEST_EVENT_MANAGER_COMPREHENSIVE_SUMMARY.md
  pytest.ini
  reports/coverage/UNIT_TEST_COVERAGE_100_PERCENT_MISSION.md
  tests/mission_critical/ssot/README.md
  tests/mission_critical/ssot/test_ssot_agent_registry_compliance.py
  tests/mission_critical/ssot/test_ssot_comprehensive_integration.py
  tests/mission_critical/ssot/test_ssot_database_manager_compliance.py
  tests/mission_critical/ssot/test_ssot_environment_access_compliance.py
  tests/mission_critical/ssot/test_ssot_factory_pattern_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

test: add LLM Manager factory pattern violations detection for issue #224
  tests/unit/test_llm_manager_factory_violations_issue224.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: complete Git Gardener iteration #2 process documentation
  merges/GIT_GARDENER_ITERATION_2_COMPLETION_20250910.md
Due: docker-force-flag-prohibition

docs: add worklog for issue #235 status audit
  ISSUE-WORKLOG-235-20250910.md
  tests/integration/test_llm_manager_concurrent_agent_violations_issue224.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: document critical merge issue requiring manual intervention
  merges/MERGEISSUE_20250910_161806.md
Due: docker-force-flag-prohibition

docs: add SSOT singleton violation tracking for issue #240
  SSOT-incomplete-migration-singleton-user-isolation-violations.md
Due: docker-force-flag-prohibition

fix(tests): update SSOT comprehensive integration test method names and error handling
  tests/mission_critical/ssot/test_ssot_comprehensive_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
