Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

fix(e2e): improve auth state mismatch test reliability with timeout adjustments
  frontend/__tests__/e2e/auth-state-mismatch-e2e.test.tsx
Due: architecture-compliance, file-size-limit, type-safety-check

refactor(process): restructure unit test command with SNST workflow integration
  .claude/commands/run-unit-tests.md
Due: docker-force-flag-prohibition

fix(agents): make AgentInstanceFactory more permissive for WebSocket bridge configuration
  netra_backend/app/agents/supervisor/agent_instance_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(tests): implement comprehensive test suite for golden path validation and critical infrastructure
  netra_backend/tests/integration/golden_path/test_golden_path_service_boundaries.py
  netra_backend/tests/integration/test_websocket_auth_variable_scoping.py
  netra_backend/tests/unit/core/service_dependencies/test_golden_path_validator_monolithic_flaw.py
  netra_backend/tests/websocket/test_unified_websocket_auth_scoping.py
  tests/e2e/staging/test_golden_path_validation_staging_current.py
  tests/e2e/test_staging_deployment.py
  tests/e2e/test_websocket_agent_events_missing.py
  tests/e2e/test_websocket_auth_staging_scoping.py
  tests/integration/test_cloud_run_port_config.py
  tests/integration/test_execution_engine_factory_delegation.py
  tests/integration/test_health_endpoints.py
  tests/integration/test_per_user_emitter_factory_failure.py
  tests/integration/test_websocket_agent_integration_gap.py
  tests/unit/test_deployment_configs.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

style(agents): fix indentation in WebSocket bridge configuration
  netra_backend/app/agents/supervisor/agent_instance_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(audit): add comprehensive audit reports and architectural analysis
  CLOUD_RUN_PORT_CONFIGURATION_TEST_SUITE_IMPLEMENTATION_COMPLETE_20250109.md
  audit/staging/auto-solve-loop/cloud_run_port_configuration_error_20250109.md
  audit/staging/auto-solve-loop/is_production_undefined_websocket_bug_20250909.md
  reports/architecture/GOLDEN_PATH_VALIDATOR_ARCHITECTURAL_ANALYSIS_20250909.md
  reports/bug_fixes/E2E_AUTH_TEST_MESSAGE_COUNT_FAILURE_FIVE_WHYS_ANALYSIS.md
Due: docker-force-flag-prohibition

fix(supervisor): enhance error handling and debugging in agent instance creation
  netra_backend/app/agents/supervisor_consolidated.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(debug): add comprehensive debugging scripts and additional test validation
  DEPLOYMENT_VALIDATION_TEST_PLAN_ISSUE_128.md
  test_agent_creation_debug.py
  test_execution_report_scoping_bug.md
  test_minimal_supervisor_debug.py
  tests/integration/test_port_environment_simulation.py
  tests/mission_critical/test_websocket_integration_regression.py
  tests/unit/deployment_validation/test_asyncio_selector_optimization.py
  tests/unit/deployment_validation/test_circuit_breaker_readiness.py
  tests/unit/deployment_validation/test_websocket_timeout_config_gap.py
  tests/unit/test_alpine_port_configuration.py
  tests/unit/test_dockerfile_configuration_drift.py
  tests/unit/websocket_message_processing_reproduction/test_agent_message_handler_service_initialization_failure.py
  websocket_1011_test_plan_comment.md
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs(audit): update WebSocket bug analysis and add comprehensive test plan
  ISSUE_117_COMPREHENSIVE_TEST_PLAN.md
  audit/staging/auto-solve-loop/is_production_undefined_websocket_bug_20250909.md
  tests/integration/deployment_validation/test_websocket_performance_post_deployment.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(golden-path): update CLAUDE.md priorities and add final debugging tools
  CLAUDE.md
  ISSUE_117_GITHUB_COMMENT_UPDATE.md
  debug_factory_direct.py
  tests/integration/test_dockerfile_configuration_analysis.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(websocket): add staging baseline validation and message processing reproduction
  CLAUDE.md
  tests/integration/deployment_validation/test_staging_websocket_baseline.py
  tests/integration/websocket_message_processing_reproduction/test_websocket_manager_factory_initialization_failure.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(golden-path): final refinements for staging GCP focus and WebSocket improvements
  CLAUDE.md
  STAGING_TEST_REPORT_PYTEST.md
  debug_factory_direct.py
  netra_backend/app/agents/supervisor/agent_instance_factory.py
  netra_backend/app/websocket_core/unified_websocket_auth.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(service-health): add service health client and finalize test infrastructure improvements
  CLAUDE.md
  netra_backend/app/core/service_dependencies/service_health_client.py
  tests/integration/test_port_environment_simulation.py
  tests/unit/test_alpine_port_configuration.py
  tests/unit/test_dockerfile_configuration_drift.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(deployment): finalize deployment validation and auth service improvements
  auth_service/main.py
  netra_backend/tests/unit/websocket/test_unified_websocket_auth_scoping.py
  run_deployment_validation_tests.py
  tests/integration/test_dockerfile_configuration_analysis.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(test-framework): complete WebSocket integration gap test implementation and enhance base test case
  reports/testing/WEBSOCKET_INTEGRATION_GAP_TEST_IMPLEMENTATION_COMPLETE.md
  test_framework/ssot/base_test_case.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(alpine): enhance Alpine port configuration test with improved setup and validation
  tests/unit/test_alpine_port_configuration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(core): enhance triage agent, golden path validator, and health endpoints with reproduction tests
  netra_backend/app/agents/triage/unified_triage_agent.py
  netra_backend/app/core/service_dependencies/golden_path_validator.py
  netra_backend/app/routes/health.py
  tests/reproduction/websocket_1011_error_scenario/test_websocket_1011_error_reproduction_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(test-reports): update staging test report and enhance Alpine port configuration tests
  STAGING_TEST_REPORT_PYTEST.md
  tests/unit/test_alpine_port_configuration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(audit-completion): complete WebSocket bug audit with fix discovery and enhance golden path validator
  audit/staging/auto-solve-loop/is_production_undefined_websocket_bug_20250909.md
  netra_backend/app/core/service_dependencies/golden_path_validator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(final): complete comprehensive test infrastructure with enhanced reproduction capabilities
  CLAUDE.md
  STAGING_TEST_REPORT_PYTEST.md
  debug_each_agent.py
  tests/integration/websocket_message_processing_reproduction/test_websocket_manager_factory_initialization_failure.py
  tests/unit/websocket_message_processing_reproduction/test_agent_message_handler_service_initialization_failure.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(agents): add factory pattern support for DataHelperAgent and DataSubAgent
  netra_backend/app/agents/data_helper_agent.py
  netra_backend/app/agents/data_sub_agent/agent.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(tests): standardize ID generation and clean test imports
  tests/integration/websocket_message_processing_reproduction/test_websocket_manager_factory_initialization_failure.py
  tests/reproduction/websocket_1011_error_scenario/test_websocket_1011_error_reproduction_comprehensive.py
  tests/unit/test_alpine_port_configuration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(integration): enhance Cloud Run port environment simulation testing
  tests/integration/test_port_environment_simulation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(claude): standardize documentation reference links with @ prefix
  CLAUDE.md
Due: docker-force-flag-prohibition

fix(agents): improve factory method tool dispatcher initialization
  netra_backend/app/agents/data_helper_agent.py
  netra_backend/app/agents/data_sub_agent/agent.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(audit): update staging auto-solve-loop audit reports with latest findings
  audit/staging/auto-solve-loop/cloud_run_port_configuration_error_20250109.md
  audit/staging/auto-solve-loop/is_production_undefined_websocket_bug_20250909.md
Due: docker-force-flag-prohibition

docs(websocket): add comprehensive remediation plans and test infrastructure
  WEBSOCKET_AUTH_SCOPING_REMEDIATION_PLAN_20250909.md
  WEBSOCKET_TEST_INFRASTRUCTURE_FIVE_WHYS_ANALYSIS.md
  staging_websocket_connectivity_test.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(supervisor): enhance agent registry initialization and WebSocket integration
  netra_backend/app/agents/supervisor_consolidated.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore(cleanup): remove temporary debug scripts after successful debugging
  debug_each_agent.py
  debug_factory_direct.py
  test_agent_creation_debug.py
  test_minimal_supervisor_debug.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(websocket): enhance staging connectivity testing and add issue remediation plan
  ISSUE_136_WEBSOCKET_1011_VALIDATION_REMEDIATION_PLAN.md
  staging_websocket_connectivity_test.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(websocket): complete SSOT validation and supervisor execution engine enhancements
  ISSUE_136_GITHUB_COMMENT.md
  PHASE_1_WEBSOCKET_SSOT_VALIDATION_RESULTS.md
  netra_backend/app/agents/supervisor/execution_engine.py
  netra_backend/tests/integration/test_websocket_auth_variable_scoping.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(websocket): comprehensive SSOT authentication system with staged testing
  netra_backend/app/routes/websocket.py
  netra_backend/app/websocket_core/unified_websocket_auth.py
  netra_backend/tests/integration/test_websocket_auth_variable_scoping.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(tools): enhance unified tool execution system reliability and logging
  netra_backend/app/agents/unified_tool_execution.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(reports): add comprehensive staging test report and agent audit documentation
  AGENT_AUDIT_TRIAGE_ISSUES_20250909.md
  STAGING_TEST_REPORT_PYTEST.md
Due: docker-force-flag-prohibition

feat(docker): enhance Alpine Dockerfile configurations for staging deployment
  dockerfiles/auth.alpine.Dockerfile
  dockerfiles/backend.alpine.Dockerfile
  dockerfiles/backend.staging.alpine.Dockerfile
Due: none

test(e2e): comprehensive staging WebSocket authentication and mission-critical event testing
  tests/e2e/staging_config.py
  tests/e2e/test_websocket_auth_staging_scoping.py
  tests/mission_critical/test_websocket_agent_events_staging.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs(golden-path): comprehensive infrastructure remediation roadmap with priority matrix
  docs/GOLDEN_PATH_USER_FLOW_COMPLETE.md
Due: docker-force-flag-prohibition

feat(websocket-core): enhanced security and staging authentication with factory improvements
  netra_backend/app/websocket_core/unified_websocket_auth.py
  netra_backend/app/websocket_core/websocket_manager_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(agents): enhance supervisor agent registry with mission-critical staging validation
  netra_backend/app/agents/supervisor/agent_registry.py
  netra_backend/app/routes/websocket.py
  tests/mission_critical/test_websocket_agent_events_staging.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs(deployment): comprehensive deployment gap validation report for Issue #128
  DEPLOYMENT_GAP_VALIDATION_REPORT_ISSUE_128.md
Due: docker-force-flag-prohibition

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
