Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

docs: update SSOT OAuth tracker with comprehensive remediation plan
  SSOT-incomplete-migration-oauth-validation-duplication.md
Due: docker-force-flag-prohibition

fix: final SSOT consolidation - SERVICE_ID remediation and tool executor updates
  SERVICE_ID_SSOT_REMEDIATION_COMPREHENSIVE_PLAN.md
  netra_backend/app/agents/supervisor/agent_registry.py
  netra_backend/app/agents/tool_executor_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: update MessageRouter SSOT enforcement test with canonical path
  tests/mission_critical/test_message_router_ssot_enforcement.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat: complete SSOT AgentHealthMonitor consolidation implementation
  netra_backend/app/agents/supervisor/agent_registry.py
  netra_backend/app/services/memory_optimization_service.py
  tests/e2e/execution_engine_ssot/test_golden_path_execution.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: complete SSOT remediation implementation for WorkflowOrchestrator
  SSOT-incomplete-migration-WorkflowOrchestrator-multiple-execution-engines.md
Due: docker-force-flag-prohibition

docs: complete EventValidator SSOT remediation planning - issue #214
  SSOT-incomplete-migration-eventvalidator-consolidation.md
Due: docker-force-flag-prohibition

fix: final system-wide SSOT compliance and test suite updates
  auth_service/auth_core/core/jwt_handler.py
  netra_backend/app/agents/data_helper_agent.py
  netra_backend/app/agents/supervisor/user_execution_engine.py
  netra_backend/app/agents/tool_executor_factory.py
  shared/configuration/central_config_validator.py
  shared/tests/integration/test_configuration_management_critical_integration.py
  shared/tests/unit/test_configuration_management.py
  test_framework/real_services.py
  tests/mission_critical/test_websocket_agent_events_suite.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs: add test creation results for LLMManager SSOT remediation
  SSOT-incomplete-migration-llmmanager-factory-pattern-violations.md
Due: docker-force-flag-prohibition

docs: update SSOT issue tracker - test execution complete
  SSOT-incomplete-migration-ExecutionEngine-shared-state-violates-user-isolation.md
Due: docker-force-flag-prohibition

test(integration): add comprehensive user isolation validation for execution engine
  tests/integration/test_execution_engine_user_isolation_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(ssot): implement Redis import pattern standardization and validation infrastructure
  scripts/verify_ssot_violation_tests.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: verify SSOT enforcement test working correctly
  SSOT-incomplete-migration-UnifiedTestRunner-bypass-violations-blocking-Golden-Path.md
Due: docker-force-flag-prohibition

docs: consolidate all SSOT test execution and progress updates
  LLM_MANAGER_SSOT_TEST_IMPLEMENTATION_SUMMARY.md
  REDIS_SSOT_IMPORT_PATTERN_REMEDIATION_STRATEGY.md
  SSOT-regression-critical-websocket-auth-bypass-blocks-golden-path.md
  auth_service/auth_core/core/jwt_handler.py
  docs/SSOT_TEST_RUNNER_REMEDIATION_PLAN.md
  netra_backend/app/services/websocket/transparent_websocket_events.py
  netra_backend/app/websocket_core/user_context_extractor.py
  tests/e2e/test_llm_manager_golden_path_ssot.py
  tests/integration/test_execution_engine_performance_regression.py
  tests/integration/test_llm_manager_user_isolation.py
  tests/mission_critical/test_execution_engine_ssot_violations.py
  tests/mission_critical/test_user_execution_engine_ssot_validation.py
  tests/mission_critical/test_websocket_event_consistency_execution_engine.py
  tests/unit/test_llm_manager_ssot_violations.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs: update RedisManager SSOT migration after remediation planning
  SSOT-incomplete-migration-RedisManager-import-pattern-cleanup.md
Due: docker-force-flag-prohibition

docs: update SSOT issue tracker - remediation planning complete
  SSOT-incomplete-migration-ExecutionEngine-shared-state-violates-user-isolation.md
Due: docker-force-flag-prohibition

docs: sync all SSOT work including test validation
  SSOT-incomplete-migration-MessageRouter-critical-violations.md
  test_framework/test_helpers.py
  tests/e2e/test_staging_deployment_errors.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: update SSOT Phase 1 completion for issue #219
  SSOT-incomplete-migration-ToolExecutorFactory-vs-UnifiedToolDispatcher-duplication-blocks-golden-path.md
Due: docker-force-flag-prohibition

docs: complete test validation phase for SSOT tool dispatcher remediation
  SSOT-incomplete-migration-multiple-tool-dispatcher-registry-violations.md
Due: docker-force-flag-prohibition

docs: ISSUE RESOLVED - AuthCircuitBreakerManager SSOT migration already complete
  SSOT-incomplete-migration-AuthCircuitBreakerManager_duplicate_implementation_blocks_user_login.md
Due: docker-force-flag-prohibition

cleanup: remove temporary database manager duplicate fix script
  SSOT-incomplete-migration-AuthCircuitBreakerManager_duplicate_implementation_blocks_user_login.md
  SSOT-incomplete-migration-configuration-base-layer-bypass.md
  SSOT-incomplete-migration-multiple-tool-dispatcher-registry-violations.md
  fix_database_manager_duplicate.py
  netra_backend/app/agents/supervisor/agent_registry.py
  test_framework/real_services.py
  tests/MESSAGE_ROUTER_SSOT_TEST_EXECUTION_GUIDE.md
  tests/mission_critical/test_first_message_experience.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs: add websocket notifier import update script
  scripts/update_websocket_notifier_imports.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: stash unstaged changes before pull
  SSOT-incomplete-migration-UserExecutionContext-duplicate-implementations.md
Due: docker-force-flag-prohibition

docs: complete SSOT consolidation validation with enhanced WebSocket handling
  SSOT_CONSOLIDATION_STABILITY_VALIDATION_REPORT.md
  emergency_table_fix.py
  test_framework/test_helpers.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(ssot): enhance user execution engine isolation and configuration testing
  SSOT-incomplete-migration-AgentExecutionTracker-consolidation-multiple-execution-tracking-systems-violate-SSOT.md
  SSOT_AuthCircuitBreakerManager_VALIDATION_REPORT_20250910.md
  fix_database_manager_duplicate.py
  merges/MERGEISSUE_20250910.md
  netra_backend/app/agents/supervisor/user_execution_engine.py
  netra_backend/app/agents/tool_executor_factory.py
  shared/configuration/central_config_validator.py
  shared/tests/integration/test_configuration_management_critical_integration.py
  shared/tests/integration/test_configuration_regression_prevention.py
  test_framework/real_services.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

WIP: Force commit all changes
  SSOT-incomplete-migration-WorkflowOrchestrator-multiple-execution-engines.md
  WEBSOCKET_SSOT_REMEDIATION_STRATEGY_COMPREHENSIVE.md
  test_framework/test_helpers.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: commit remaining unstaged files before pull
  SSOT-incomplete-migration-MessageRouter-critical-violations.md
  netra_backend/app/agents/supervisor/agent_registry.py
  netra_backend/app/dependencies.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: Complete Tool Dispatcher SSOT consolidation Phase 1
  netra_backend/app/core/tools/unified_tool_dispatcher.py
  netra_backend/app/schemas/config.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: complete comprehensive SSOT remediation planning
  SSOT-incomplete-migration-UnifiedTestRunner-bypass-violations-blocking-Golden-Path.md
  SSOT-regression-critical-websocket-auth-bypass-blocks-golden-path.md
  docs/SSOT_REMEDIATION_EXECUTIVE_SUMMARY.md
  docs/SSOT_REMEDIATION_IMPLEMENTATION_GUIDE.md
  netra_backend/app/services/websocket/transparent_websocket_events.py
  netra_backend/app/websocket_core/user_context_extractor.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(auth): finalize auth client core and OAuth validation improvements
  SSOT-incomplete-migration-websocket-import-inconsistencies.md
  netra_backend/app/agents/tool_executor_factory.py
  netra_backend/app/clients/auth_client_core.py
  netra_backend/app/core/tools/unified_tool_dispatcher.py
  scripts/update_websocket_notifier_imports.py
  scripts/validate_oauth_configuration.py
  test_framework/real_services.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: AgentRegistry SSOT remediation execution complete
  SSOT-regression-AgentRegistry-interface-violation.md
Due: docker-force-flag-prohibition

docs: Update SSOT documentation and OAuth validation script
  auth_service/auth_core/routes/auth_routes.py
  scripts/validate_oauth_configuration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: complete SSOT redirection for TransparentWebSocketEmitter
  netra_backend/app/services/websocket/transparent_websocket_events.py
  netra_backend/tests/test_ssot_startup.py
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_CONTINUATION_20250910.md
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: complete SSOT gardener process for WorkflowOrchestrator execution engines
  SSOT-incomplete-migration-WorkflowOrchestrator-multiple-execution-engines.md
Due: docker-force-flag-prohibition

docs: SSOT GARDENER COMPLETE - CircuitBreakerManager issue resolved
  SSOT-incomplete-migration-multiple-agent-health-monitors.md
Due: docker-force-flag-prohibition

refactor: finalize WebSocket manager factory SSOT compliance
  SSOT-incomplete-migration-multiple-tool-dispatcher-registry-violations.md
  netra_backend/app/core/managers/__init__.py
  netra_backend/app/services/agent_websocket_bridge.py
  netra_backend/app/websocket_core/websocket_manager_factory.py
  shared/configuration/cross_service_validator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Phase 1: Update critical WebSocketNotifier imports to SSOT pattern
  tests/mission_critical/test_helpers.py
  tests/mission_critical/test_websocket_agent_events_core.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

docs: complete SSOT consolidation with PR closure and final service updates
  SSOT-incomplete-migration-AuthCircuitBreakerManager_duplicate_implementation_blocks_user_login.md
  SSOT-incomplete-migration-multiple-agent-health-monitors.md
  SSOT-incomplete-migration-multiple-tool-dispatcher-registry-violations.md
  auth_service/auth_core/services/auth_service.py
  netra_backend/app/monitoring/configuration_drift_monitor.py
  netra_backend/app/websocket_core/websocket_manager_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: implement EventValidator SSOT consolidation with enhanced WebSocket integration
  GIT_COMMIT_GARDENER_SUCCESS_REPORT_20250910.md
  SSOT-incomplete-migration-RequestScopedToolDispatcher-blocking-golden-path.md
  auth_service/auth_core/api/service_auth.py
  auth_service/auth_core/routes/auth_routes.py
  netra_backend/app/agents/tool_executor_factory.py
  netra_backend/app/websocket_core/event_validator.py
  netra_backend/app/websocket_core/unified_manager.py
  netra_backend/app/websocket_core/websocket_manager_factory.py
  netra_backend/tests/integration/test_agent_registry.py
  netra_backend/tests/integration/test_agent_websocket_events.py
  netra_backend/tests/integration/test_execution_engine.py
  test_framework/ssot/isolated_test_helper.py
  tests/integration/test_websocket_bridge_startup_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: update execution engine golden path test for SSOT consolidation
  netra_backend/tests/unit/agents/test_execution_engine_comprehensive_golden_path.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

ci: update failure analysis script for SSOT patterns
  .github/scripts/failure_analysis.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
