Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

.pre-commit-config.yaml:

# Permissive Pre-commit Configuration for Netra Apex
# Focus: New files and edited sections only, not entire legacy codebase
# Philosophy: Progressive enhancement over rigid enforcement

repos:
  - repo: local
    hooks:
      # NEW FILES ONLY: Strict enforcement for new code
      - id: new-file-compliance
        name: New File Standards (strict for new files only)
        entry: python scripts/permissive_hooks/check_new_files.py
        language: system
        files: '\.(py|ts|tsx)$'
        stages: [commit]
        description: 'Applies strict standards ONLY to newly created files'
        
      # EDITED SECTIONS: Check only modified lines, not entire file
      - id: edited-lines-check
        name: Modified Lines Check (incremental)
        entry: python scripts/permissive_hooks/check_edited_lines.py
        language: system
        files: '\.(py|ts|tsx)$'
        stages: [commit]
        pass_filenames: true
        description: 'Validates only the lines being modified, not the entire file'
        
      # CRITICAL IMPORTS: Prevent new relative imports (warning for existing)
      - id: prevent-new-relative-imports
        name: Prevent New Relative Imports
        entry: python scripts/permissive_hooks/check_new_imports.py --warn-only
        language: system
        files: '\.py$'
        stages: [commit]
        pass_filenames: true
        description: 'Blocks new relative imports, warns about existing ones'
        
      # MAIN CODE PRIORITY: Stricter for app code, lenient for tests
      - id: main-code-quality
        name: Main Codebase Quality (app > tests)
        entry: python scripts/permissive_hooks/prioritized_check.py --priority app
        language: system
        files: '^(netra_backend/app|auth_service/auth_core|frontend/src)/.*\.(py|ts|tsx)$'
        stages: [commit]
        description: 'Prioritizes main application code quality over test files'
        
      # TEST FILE LENIENCY: Relaxed rules for test files
      - id: test-file-leniency
        name: Test File Check (permissive)
        entry: python scripts/permissive_hooks/test_check_lenient.py --max-lines 1000
        language: system
        files: '(test_.*\.py|.*_test\.py|tests/.*\.py)$'
        stages: [commit]
        description: 'Relaxed limits for test files - focus on functionality over form'
        
      # DUPLICATE DETECTION: Only for new code patterns
      - id: new-duplicate-prevention
        name: Prevent New Duplicates (incremental)
        entry: python scripts/permissive_hooks/check_new_duplicates.py --threshold 0.9
        language: system
        files: '\.py$'
        stages: [commit]
        pass_filenames: true
        description: 'Prevents introduction of NEW duplicate patterns only'
        
      # EMERGENCY BYPASS: Allow quick fixes with flag
      - id: emergency-bypass-check
        name: Emergency Fix Mode
        entry: python scripts/permissive_hooks/emergency_check.py
        language: system
        stages: [commit]
        pass_filenames: false
        description: 'Allows bypass with EMERGENCY_FIX flag in commit message'
        
      # PROGRESSIVE ENHANCEMENT: Track improvement over time
      - id: progress-tracker
        name: Code Quality Progress Tracker
        entry: python scripts/permissive_hooks/track_progress.py --log-only
        language: system
        stages: [commit]
        pass_filenames: false
        always_run: true
        description: 'Tracks quality improvements without blocking commits'

# Configuration for different severity levels
# These can be toggled based on development phase
default_stages: [commit]
fail_fast: true   # Stop at first failure for faster feedback
verbose: true     # Show detailed feedback to help developers

# Environment-specific overrides
# Development: More permissive
# Staging: Moderate enforcement  
# Production: Strict enforcement (use original config)

fix(clickhouse): simplify test configuration and improve performance tests
  netra_backend/app/db/clickhouse.py
  netra_backend/tests/clickhouse/conftest.py
  netra_backend/tests/clickhouse/test_clickhouse_performance.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

feat(agents): add context observability and improve triage agent imports
  SPEC/learnings/chat_first_load_glitch_prevention.xml
  netra_backend/app/agents/context_observability.py
  netra_backend/app/agents/triage_sub_agent/__init__.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

fix(config): improve configuration handling and hot reload script
  netra_backend/app/core/configuration/base.py
  netra_backend/tests/core/test_configuration_loop.py
  scripts/test_hot_reload.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

test(e2e): update E2E tests with improved stability
  tests/e2e/test_agent_pipeline_critical.py
  tests/e2e/test_corpus_admin_e2e.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

docs: update test reports and learnings index
  AGENT_CONTEXT_WINDOW_AUDIT_REPORT.md
  SPEC/learnings/index.xml
  debug_clickhouse_test.py
  docker_issues_report_dev.md
  e2e_test_failure_report.md
  test_coverage_report_chat_glitch_fix.md
  test_failure_report.md
  test_failures_unified_report.md
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

fix(frontend): improve initialization coordinator reliability
  frontend/__tests__/components/AuthGuard.test.tsx
  frontend/__tests__/hooks/useInitializationCoordinator.test.tsx
  frontend/hooks/useInitializationCoordinator.ts
Due: new-file-compliance, edited-lines-check

fix(backend): add transaction safety to database operations
  netra_backend/app/services/database/unit_of_work.py
  netra_backend/app/services/thread_service.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

test(agents): enhance agent test coverage and reliability
  netra_backend/tests/agents/business_logic/test_data_helper_clarity.py
  netra_backend/tests/agents/business_logic/test_triage_decisions.py
  netra_backend/tests/agents/fixtures/llm_agent_fixtures.py
  netra_backend/tests/agents/flows/test_flow_transitions_handoffs.py
  netra_backend/tests/agents/flows/test_insufficient_data_flow.py
  netra_backend/tests/agents/flows/test_partial_data_flow.py
  netra_backend/tests/agents/flows/test_sufficient_data_flow.py
  netra_backend/tests/unit/test_agent.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

test(clickhouse): improve performance test stability
  netra_backend/tests/clickhouse/test_clickhouse_performance.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

refactor(config): enhance configuration and secret management
  shared/redis_config_builder.py
  shared/secret_manager_builder.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

feat(scripts): add comprehensive database wait utility
  scripts/wait_for_db.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

chore: remove debug test file
  debug_clickhouse_test.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

docs: update test failure reports
  test_failure_report.md
  test_failures_unified_report.md
Due: none

feat(backend): add critical infrastructure components
  netra_backend/app/agents/models.py
  netra_backend/app/core/clickhouse_port_discovery.py
  netra_backend/app/services/database/assistant_repository.py
  netra_backend/tests/clickhouse/test_clickhouse_performance_simple.py
  netra_backend/tests/critical/test_assistant_foreign_key_violation.py
  netra_backend/tests/services/test_state_cache_manager.py
  scripts/docker_log_monitor.py
  tests/fixtures/golden_datasets.py
  tests/integration/test_3tier_persistence_integration.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, test-file-leniency, new-duplicate-prevention

docs: add comprehensive audit and remediation reports
  TEST_REMEDIATION_REPORT.md
  UX_AUDIT_REPORT_20250829.md
  docker_issues_dev.json
  test_fixes_summary.md
Due: none

refactor(database): enforce SSOT for session management
  netra_backend/app/database/__init__.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

fix(websocket): add explicit json mode to model_dump calls
  netra_backend/app/agents/supervisor/pipeline_executor.py
  netra_backend/app/websocket_core/handlers.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

feat(config): expand Gemini API key mappings for LLM configs
  netra_backend/app/core/configuration/secrets.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

docs(claude): add NO MOCKS IN DEV MODE critical section
  CLAUDE.md
Due: none

test(clickhouse): modernize fixtures to use async/await properly
  netra_backend/tests/clickhouse/test_clickhouse_workload.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

docs(3tier): add 3-tier persistence architecture references
  LLM_MASTER_INDEX.md
  SPEC/learnings/index.xml
Due: none

feat(persistence): add 3-tier enterprise persistence architecture
  SPEC/3tier_persistence_architecture.xml
  docs/3tier_persistence_architecture.md
Due: none

test(backend): add critical validation tests for recent fixes
  netra_backend/tests/critical/test_websocket_json_serialization.py
  netra_backend/tests/database/test_session_generatorexit_fix.py
  netra_backend/tests/unit/test_llm_config_api_keys.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

docs(claude): expand NO MOCKS policy to staging and production environments
  CLAUDE.md
Due: none

feat(frontend): add initialization progress component for better UX
  frontend/__tests__/components/InitializationProgress.test.tsx
  frontend/components/InitializationProgress.tsx
  frontend/components/chat/MainChat.tsx
  frontend/providers/WebSocketProvider.tsx
Due: new-file-compliance, edited-lines-check

fix(backend): improve database connection handling and startup robustness
  netra_backend/app/core/configuration/secrets.py
  netra_backend/app/database/__init__.py
  netra_backend/app/db/clickhouse.py
  netra_backend/app/schemas/config.py
  netra_backend/app/startup_module.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, main-code-quality, new-duplicate-prevention

fix(dev-launcher): improve error handling and retry logic
  dev_launcher/launcher.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

test(agents): enhance business logic tests with better assertions
  netra_backend/tests/agents/business_logic/test_optimization_value.py
  netra_backend/tests/agents/business_logic/test_triage_decisions.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

test(e2e): add comprehensive startup and persistence validation tests
  tests/e2e/test_startup_comprehensive_e2e.py
  tests/e2e/test_supervisor_persistence_e2e.py
  tests/fixtures/golden_datasets.py
  tests/integration/test_3tier_persistence_integration.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

test(core): add configuration Docker integration and regression tests
  netra_backend/tests/core/test_configuration_docker_integration.py
  netra_backend/tests/core/test_configuration_regression.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

test(integration): add checkpoint recovery and ClickHouse migration tests
  netra_backend/tests/integration/test_checkpoint_recovery.py
  netra_backend/tests/integration/test_clickhouse_migration.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

feat(scripts): add configuration loop monitoring tool
  scripts/monitor_configuration_loops.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

feat(testing): add continuous E2E test runner with tracking
  e2e_continuous_runner.py
  e2e_test_tracking/session_20250829_100651.json
  e2e_test_tracking/skip_list.json
  e2e_test_tracking/unified_failure_report.md
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, new-duplicate-prevention

test(load): add load testing infrastructure directory
  tests/load/README.md
  tests/load/__init__.py
  tests/load/run_load_tests.py
  tests/load/test_production_load_persistence.py
Due: new-file-compliance, edited-lines-check, prevent-new-relative-imports, test-file-leniency, new-duplicate-prevention

ci(github): add configuration loop detection workflow
  .github/workflows/config-loop-check.yml
Due: none

docs: add technical analysis reports and troubleshooting guides
  database_session_audit_report.md
  docker_monitoring_summary.md
  docs/configuration-loop-fix.md
  e2e_test_failures.md
Due: none

spec(learnings): document WebSocket JSON serialization fix
  SPEC/learnings/websocket_json_serialization.xml
Due: none

improve
  CLAUDE.md
Due: none
