Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

fix: resolve P0 critical test import failures - recover 23 tests
  netra_backend/pytest.ini
  netra_backend/tests/e2e/test_usage_increase_analysis.py
  test_framework/ssot/mock_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: BREAKTHROUGH - complete WebSocket SSOT consolidation implementation
  SSOT-websocket-routes-massive-duplication-blocking-golden-path.md
Due: docker-force-flag-prohibition

ssot: complete step 4 SSOT remediation implementation
  SSOT-incomplete-migration-environment-loading-duplication.md
Due: docker-force-flag-prohibition

feat: complete SSOT remediation planning for ReportingSubAgent JSON handling
  SSOT-incomplete-migration-reporting-agent-json-handling.md
  auth_service/auth_core/api/jwt_validation.py
  auth_service/auth_core/api/websocket_auth.py
  auth_service/auth_core/performance/jwt_performance.py
  netra_backend/app/agents/base/executor.py
  netra_backend/app/agents/execution_engine_consolidated.py
  netra_backend/app/agents/supervisor/execution_factory.py
  netra_backend/app/agents/supervisor/mcp_execution_engine.py
  netra_backend/app/agents/supervisor/request_scoped_execution_engine.py
  netra_backend/app/routes/websocket.py
  netra_backend/app/routes/websocket_factory.py
  netra_backend/app/routes/websocket_ssot.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: implement SSOT JSON handling remediation for ReportingSubAgent
  SSOT-incomplete-migration-reporting-agent-json-handling.md
  SSOT-websocket-routes-massive-duplication-blocking-golden-path.md
  auth_service/auth_core/api/service_auth.py
  auth_service/auth_core/migration/migration_support.py
  auth_service/main.py
  netra_backend/app/agents/reporting_sub_agent.py
  netra_backend/app/agents/supervisor/execution_factory.py
  netra_backend/app/agents/supervisor/request_scoped_execution_engine.py
  netra_backend/app/main.py
  netra_backend/app/routes/websocket_isolated.py
  netra_backend/app/routes/websocket_unified.py
  netra_backend/app/websocket_core/canonical_imports.py
  netra_backend/app/websocket_core/unified_manager.py
  netra_backend/app/websocket_core/websocket_manager_factory.py
  shared/environment_loading_ssot.py
  tests/integration/execution_engine/test_execution_engine_factory_websocket_integration.py
  tests/integration/execution_engine/test_execution_engine_ssot_factory_compliance_integration.py
  tests/unit/execution_engine/test_execution_engine_factory_user_isolation_unit.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

ssot: complete step 4 phase 1 remediation execution
  SSOT-incomplete-migration-multiple-execution-engines-blocking-user-isolation.md
Due: docker-force-flag-prohibition

ssot: complete remediation strategy for E2E BaseE2ETest migration #188
  SSOT-incomplete-migration-E2E-tests-using-BaseE2ETest-instead-of-SSOT-base-classes.md
Due: docker-force-flag-prohibition

feat: Complete Redis SSOT remediation strategy - Step 3
  SSOT-incomplete-migration-multiple-redis-managers-blocking-user-chat.md
  auth_service/auth_core/api/service_auth.py
  auth_service/tests/integration/test_jwt_ssot_phase1_apis.py
  tests/integration/execution_engine/test_execution_engine_factory_websocket_integration.py
  validate_ssot_progress.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

ssot: update progress tracking for step 4 completion
  SSOT-recent-change-WebSocket-manager-fragmentation-blocks-golden-path-chat-functionality.md
  auth_service/auth_core/api/service_auth.py
  auth_service/auth_core/api/websocket_auth.py
  tests/integration/execution_engine/test_execution_engine_factory_websocket_integration.py
  tests/mission_critical/test_reporting_agent_ssot_json_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat: COMPLETE Redis SSOT Gardener session - Ready for implementation
  SSOT-incomplete-migration-multiple-redis-managers-blocking-user-chat.md
  tests/mission_critical/test_reporting_agent_ssot_json_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

migrate: SSOT Phase 1 - test_real_e2e_chat_interaction.py to SSotAsyncTestCase
  tests/e2e/test_real_e2e_chat_interaction.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: complete SSOT remediation validation with perfect success
  SSOT-incomplete-migration-reporting-agent-json-handling.md
  auth_service/PHASE_1_JWT_SSOT_IMPLEMENTATION_SUMMARY.md
  auth_service/auth_core/auth_environment.py
  auth_service/junit.xml
  tests/integration/execution_engine/test_execution_engine_factory_websocket_integration.py
  tests/unit/ssot_validation/test_deprecated_engine_prevention.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(timeout): implement Priority 3 timeout hierarchy for cloud-native GCP environment
  netra_backend/app/schemas/config.py
  tests/e2e/staging/test_3_agent_pipeline_staging.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(agents): add comprehensive golden path test coverage for agent orchestration
  netra_backend/tests/concurrency/test_multi_user_agent_execution_isolation_comprehensive.py
  netra_backend/tests/integration/agents/test_agent_communication_comprehensive_golden_path.py
  netra_backend/tests/unit/agents/test_execution_engine_comprehensive_golden_path.py
  netra_backend/tests/unit/agents/test_pipeline_executor_comprehensive_golden_path.py
  netra_backend/tests/unit/agents/test_workflow_orchestrator_comprehensive_golden_path.py
  tests/unit/websocket_golden_path/__init__.py
  tests/unit/websocket_golden_path/test_websocket_agent_handler_comprehensive.py
  tests/unit/websocket_golden_path/test_websocket_authentication_comprehensive.py
  tests/unit/websocket_golden_path/test_websocket_connection_handler_comprehensive.py
  tests/unit/websocket_golden_path/test_websocket_handlers_comprehensive.py
  tests/unit/websocket_golden_path/test_websocket_manager_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: Complete JWT SSOT Phase 1 - Auth service enhancement
  SSOT-incomplete-migration-JWT authentication logic duplicated across services blocking golden path.md
  auth_service/auth_core/auth_environment.py
  tests/e2e/test_agent_websocket_events_real.py
  tests/integration/execution_engine/test_execution_engine_factory_websocket_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

update: Additional Phase 1 auth service and test enhancements
  auth_service/auth_core/auth_environment.py
  tests/e2e/test_agent_websocket_events_real.py
  tests/integration/execution_engine/test_execution_engine_factory_websocket_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(reports): add Priority 3 timeout implementation reports and validation tools
  PRIORITY_3_TIMEOUT_HIERARCHY_IMPLEMENTATION_REPORT.md
  PRIORITY_3_TIMEOUT_VALIDATION_REPORT.md
  STAGING_TEST_REPORT_PYTEST.md
  TEST_COVERAGE_SUMMARY_REPORT.md
  debug_timeout_env.py
  test_timeout_integration.py
  tests/e2e/test_results/ULTIMATE_TEST_DEPLOY_LOOP_CRITICAL_P0_P2_P3_CONTINUATION_20250910.md
  validate_timeout_hierarchy_fixes.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: finalize SSOT remediation with golden path protection
  SSOT-websocket-routes-massive-duplication-blocking-golden-path.md
  auth_service/auth_core/auth_environment.py
  tests/integration/execution_engine/test_execution_engine_factory_websocket_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

ssot: step 5 test validation reveals critical regressions
  SSOT-incomplete-migration-multiple-execution-engines-blocking-user-isolation.md
Due: docker-force-flag-prohibition

docs(merge): finalize merge documentation and add remaining config tests
  merges/MERGEISSUE_20250910.md
  netra_backend/tests/unit/test_config_database_comprehensive.py
  netra_backend/tests/unit/test_config_golden_path_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: finalize SSOT consolidation project completion tracking
  SSOT-incomplete-migration-reporting-agent-json-handling.md
  auth_service/auth_core/auth_environment.py
  netra_backend/app/websocket_core/websocket_manager_factory.py
  tests/integration/execution_engine/test_execution_engine_factory_websocket_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor: finalize SSOT consolidation with environment refresh and WebSocket API updates
  auth_service/auth_core/auth_environment.py
  tests/e2e/test_multi_user_session_isolation_e2e.py
  tests/integration/execution_engine/test_execution_engine_factory_websocket_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: SSOT Gardener mission complete - perfect execution achieved
  netra_backend/tests/e2e/test_websocket_authentication_timing_e2e.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

migrate: SSOT Phase 1 - test_multi_user_session_isolation_e2e.py to SSotAsyncTestCase
  tests/e2e/test_multi_user_session_isolation_e2e.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: restore final WebSocket manager and test refinements post-rebase
  netra_backend/app/websocket_core/websocket_manager_factory.py
  netra_backend/tests/e2e/test_websocket_authentication_timing_e2e.py
  tests/integration/execution_engine/test_execution_engine_factory_websocket_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

migrate: SSOT Phase 1 - test_critical_auth_service_cascade_failures.py to SSotAsyncTestCase
  tests/e2e/test_critical_auth_service_cascade_failures.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat: add SSOT logging config violation tracking
  SSOT-incomplete-migration-logging-config-chaos.md
Due: docker-force-flag-prohibition

migrate: SSOT Phase 1 - test_websocket_race_conditions_golden_path.py to SSotAsyncTestCase
  tests/e2e/websocket/test_websocket_race_conditions_golden_path.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

migrate: SSOT Phase 1 - test_websocket_auth_events.py to SSotAsyncTestCase
  tests/mission_critical/test_websocket_auth_events.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat: complete SSOT remediation with critical discovery - factory was already working
  SSOT-incomplete-migration-execution-engine-factory-user-isolation.md
Due: docker-force-flag-prohibition

ssot: complete Phase 1 golden path SSOT migration #188
  SSOT-incomplete-migration-E2E-tests-using-BaseE2ETest-instead-of-SSOT-base-classes.md
Due: docker-force-flag-prohibition

fix: complete SSOT ExecutionEngine factory validation tests - resolves user isolation validation
  CLAUDE.md
  SSOT-websocket-routes-massive-duplication-blocking-golden-path.md
  auth_service/auth_core/auth_environment.py
  netra_backend/app/agents/supervisor/user_execution_engine.py
  netra_backend/app/websocket_core/migration_adapter.py
  netra_backend/app/websocket_core/websocket_manager_factory.py
  reports/testing/WEBSOCKET_SSOT_TEST_COMPLETION_SUMMARY.md
  tests/integration/agent_websocket_coordination/test_user_execution_engine_websocket_integration.py
  tests/integration/execution_engine/test_execution_engine_factory_websocket_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

ssot: complete step 5 test validation with 86% critical test pass rate
  SSOT-incomplete-migration-environment-loading-duplication.md
Due: docker-force-flag-prohibition

feat: complete SSOT logging test discovery and planning (Step 1)
  SSOT-incomplete-migration-logging-config-chaos.md
Due: docker-force-flag-prohibition

docs: finalize SSOT environment loading consolidation documentation
  SSOT-incomplete-migration-environment-loading-duplication.md
  netra_backend/app/agents/supervisor/user_execution_engine.py
  netra_backend/app/websocket_core/migration_adapter.py
  tests/integration/agent_websocket_coordination/test_user_execution_engine_websocket_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix: update user execution engine for final SSOT state
  netra_backend/app/agents/supervisor/user_execution_engine.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
