Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

docs(SSOT): Complete Step 1 test discovery for execution engine fragmentation
  SSOT-incomplete-migration-ExecutionEngine-Fragmentation-Blocks-Golden-Path.md
Due: docker-force-flag-prohibition

feat(Issue #1081): Add BaseAgent message integration tests with user isolation validation
  tests/integration/test_base_agent_message_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(Issue #1081): Add message processing pipeline integration tests
  tests/integration/test_message_processing_pipeline_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(gcp-log-gardener): Add GCP Log Gardener worklog with GitHub issue tracking
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-14.md
Due: docker-force-flag-prohibition

feat(Issue #1128): Complete SSOT WebSocket factory import cleanup and quality message routing
  netra_backend/app/services/websocket/quality_alert_handler.py
  netra_backend/app/services/websocket/quality_metrics_handler.py
  netra_backend/app/services/websocket/quality_report_handler.py
  netra_backend/app/websocket_core/handlers.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(Issue #1081): Correct import paths for WebSocket and agent components
  tests/integration/test_base_agent_message_integration.py
  tests/integration/test_message_processing_pipeline_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(failing-test-gardener): Add comprehensive agent test failure analysis and GitHub issue tracking
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-agents-2025-09-14-1546.md
Due: docker-force-flag-prohibition

feat(SSOT): Complete test plan execution for WebSocket Factory Dual Pattern (Issue #1144)
  SSOT-incomplete-migration-WebSocket Factory Dual Pattern Blocking Golden Path.md
Due: docker-force-flag-prohibition

feat(Issue #1081): Add comprehensive agent golden path e2e tests for 85% coverage
  tests/e2e/agent_goldenpath/test_advanced_user_scenarios_e2e.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Update git-managed-mermaid.md
  scripts/git-managed-mermaid.md
Due: docker-force-flag-prohibition

Update gitcommitgardener.md
  .claude/commands/gitcommitgardener.md
Due: docker-force-flag-prohibition

refactor(websocket): standardize WebSocket manager import paths
  netra_backend/app/services/user_scoped_websocket_event_router.py
  netra_backend/app/services/websocket_broadcast_service.py
  netra_backend/app/services/websocket_event_router.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(websocket): standardize WebSocket manager import paths
  netra_backend/app/agents/supervisor/modern_execution_helpers.py
  netra_backend/app/agents/synthetic_data_approval_handler.py
  netra_backend/app/factories/tool_dispatcher_factory.py
  netra_backend/tests/test_ssot_startup.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(infrastructure): update remediation plans and status reports
  ISSUE_1032_INFRASTRUCTURE_REMEDIATION_PLAN.md
  SSOT-regression-MessageRouter-fragmentation-blocking-Golden-Path.md
  reports/MASTER_WIP_STATUS.md
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-all-2025-09-14-224631.md
Due: docker-force-flag-prohibition

config(scripts): add git automation commands to golden config
  scripts/config-all-golden.json
Due: none

feat(tests): add comprehensive test suite and remediation documentation
  Issue-864-Remediation-Plan.md
  Issue_1097_SSOT_Migration_Remediation_Plan.md
  SSOT_FRAGMENTED_TEST_EXECUTION_REMEDIATION_RESULTS.md
  issue_1094_test_plan.md
  netra_backend/tests/unit/agents/test_agent_event_emission_validation.py
  netra_backend/tests/unit/agents/test_critical_websocket_events_comprehensive.py
  test_issue_1147_validation.py
  tests/WEBSOCKET_DUAL_PATTERN_SSOT_TEST_RESULTS.md
  tests/integration/test_execution_engine_consolidation_validation_1146.py
  tests/mission_critical/test_execution_engine_ssot_violation_detection.py
  tests/unit/test_execution_engine_regression_prevention_1146.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(Issue #1097): Migrate test_agent_registry_import_path_violations_issue_914.py to SSotBaseTestCase
  tests/mission_critical/test_agent_registry_import_path_violations_issue_914.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(Issue #1097): Migrate test_agent_registry_ssot_duplication_issue_914.py to SSotBaseTestCase
  tests/mission_critical/test_agent_registry_ssot_duplication_issue_914.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(Issue #1097): Migrate test_collection_validation.py and test_configuration_regression_prevention.py to SSotBaseTestCase
  tests/mission_critical/test_collection_validation.py
  tests/mission_critical/test_configuration_regression_prevention.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(Issue #1141): Complete thread ID confusion fix
  frontend/auth/context.tsx
  frontend/services/demoService.ts
Due: architecture-compliance, file-size-limit, type-safety-check

feat(Issue #1140): Eliminate HTTP dual-path architecture in demo service
  frontend/services/demoService.ts
  tests/mission_critical/test_configuration_validator_ssot_violations.py
  tests/mission_critical/test_execution_engine_lifecycle.py
  tests/mission_critical/test_import_statement_integrity.py
  tests/mission_critical/test_issue_962_configuration_ssot_final_validation.py
  tests/mission_critical/test_message_router_failure.py
  tests/mission_critical/test_message_router_ssot_compliance.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix(Issue #1097): Fix SSotBaseTestCase migration issue - replace self.fail with assert statements
  tests/mission_critical/test_collection_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(Issue #1128): Complete Phase 1 websocket_core.factory SSOT remediation
  tests/integration/websocket_factory/test_ssot_factory_patterns.py
  tests/unit/ssot/test_websocket_factory_import_validation.py
  tests/unit/ssot/test_websocket_ssot_compliance_validation.py
  tests/unit/websocket_ssot/test_canonical_imports.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(Issue #1037): Complete WebSocket import path SSOT remediation and infrastructure stability
  ISSUE_1128_COMPREHENSIVE_REMEDIATION_PLAN.md
  docs/SSOT_IMPORT_REGISTRY.md
  issue_1139_stability_proof.md
  netra_backend/app/agents/example_message_processor.py
  netra_backend/app/agents/message_router.py
  netra_backend/app/agents/registry.py
  netra_backend/app/agents/supervisor/user_execution_engine.py
  netra_backend/app/agents/synthetic_data_progress_tracker.py
  netra_backend/app/auth_integration/auth.py
  netra_backend/app/core/app_factory.py
  netra_backend/app/core/interfaces_data.py
  netra_backend/app/core/message_router.py
  netra_backend/app/core/sentry_integration.py
  netra_backend/app/core/service_interfaces.py
  netra_backend/app/core/startup_validation.py
  netra_backend/app/core/supervisor_factory.py
  netra_backend/app/services/message_router.py
  netra_backend/app/websocket/connection_manager.py
  netra_backend/app/websocket_core/canonical_imports.py
  netra_backend/app/websocket_core/connection_manager.py
  netra_backend/app/websocket_core/handlers.py
  netra_backend/app/websocket_core/protocols.py
  netra_backend/app/websocket_core/utils.py
  netra_backend/tests/unit/agents/test_agent_message_pipeline_integration_unit.py
  netra_backend/tests/unit/agents/test_message_routing_validation_comprehensive.py
  reports/THREAD_ID_FIX_VALIDATION_REPORT.md
  staging_thread_id_validation_test.py
  tests/integration/agent_golden_path/test_message_pipeline_integration.py
  tests/integration/goldenpath/test_agent_execution_pipeline_no_docker.py
  tests/integration/websocket/test_websocket_user_isolation_1116.py
  tests/unit/ssot/test_issue_1101_messagerouter_proxy_removal_impact_unit.py
  tests/unit/websocket_core/test_emit_critical_event_structure_reproduction.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(Issue #1101): Complete MessageRouter SSOT remediation
  ISSUE_1128_PHASE_1_RESULTS.md
  issue_1139_remediation_plan.md
  netra_backend/app/agents/supervisor/user_execution_engine.py
  pyproject.toml
  tests/integration/test_message_router_core_functionality.py
  validate_thread_id_fix_final.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Update CLAUDE.md
  CLAUDE.md
Due: docker-force-flag-prohibition

feat(Issue #1146): Phase 2 ToolExecutionEngine consolidation - UserExecutionEngine interface bridge
  netra_backend/app/agents/tool_dispatcher_execution.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(Issue #863): Phase 1-3 SSOT Agent Registry consolidation complete
  netra_backend/tests/unit/services/test_agent_websocket_bridge_core.py
  tests/integration/config_ssot/test_issue_962_authentication_flow_validation.py
  tests/integration/deployment/test_configuration_bridge_integration.py
  tests/integration/test_issue_971_websocket_manager_alias.py
  tests/integration/test_message_router_user_isolation.py
  tests/integration/websocket_ssot/test_websocket_events_ssot_delivery.py
  tests/integration/websocket_ssot/test_websocket_import_path_ssot_consolidation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(Issue #863): Add SSOT consolidation validation documentation
  THREAD_ID_FIX_STAGING_DEPLOYMENT_REPORT.md
Due: docker-force-flag-prohibition

a
  ISSUE_1065_GITHUB_COMMENT_UPDATE.md
  ISSUE_1065_TEST_EXECUTION_REPORT.md
  ISSUE_1123_EXECUTION_ENGINE_FACTORY_CONSOLIDATION_REMEDIATION_PLAN.md
  ISSUE_1126_EXECUTION_RESULTS.md
  ISSUE_884_TEST_STRATEGY_PLAN.md
  issue_884_test_strategy_comment.md
  netra_backend/app/agents/supervisor/execution_engine_factory.py
  netra_backend/app/websocket_core/handlers.py
  tests/e2e/staging/test_execution_engine_factory_884_golden_path.py
  tests/integration/agents/supervisor/test_execution_engine_factory_884_agent_workflow.py
  tests/integration/agents/supervisor/test_execution_engine_factory_884_websocket_integration.py
  tests/integration/agents/test_issue_1142_golden_path_startup_contamination.py
  tests/integration/ssot/test_mock_consistency_validation.py
  tests/unit/agents/supervisor/test_execution_engine_factory_884_import_fragmentation.py
  tests/unit/agents/supervisor/test_execution_engine_factory_884_ssot_violations.py
  tests/unit/agents/supervisor/test_execution_engine_factory_884_user_isolation.py
  tests/unit/agents/test_issue_1142_startup_singleton_contamination.py
  tests/unit/ssot/test_mock_pattern_detection_engine.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(Issue #1100): Add comprehensive Sentry configuration schema
  netra_backend/app/schemas/config.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(Issue #1100): Complete deployment validation report
  ISSUE_1100_DEPLOYMENT_VALIDATION_REPORT.md
Due: docker-force-flag-prohibition

docs(Issue #1060): Add SSOT JWT remediation stability proof
  ISSUE_1060_STABILITY_PROOF_REPORT.md
Due: docker-force-flag-prohibition

test(SSOT): Add validation tests for issues #1097 and #1146
  test_issue_1097_validation.py
  test_issue_1146_phase_2_validation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(Infrastructure): Complete post-Issue #1140 system consolidation
  netra_backend/app/schemas/config.py
  netra_backend/tests/unit/services/test_agent_websocket_bridge_core.py
  test_issue_1146_phase_2_validation.py
  tests/integration/test_concurrent_user_execution_isolation_fixed.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(Configuration): Complete Sentry configuration for all environments
  netra_backend/app/schemas/config.py
  tests/mission_critical/test_websocket_events_routing.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(Configuration): Complete Sentry configuration for all environments final
  netra_backend/app/schemas/config.py
  tests/mission_critical/test_websocket_event_consistency_execution_engine.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
