Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$

merge: Complete git commit gardening with merge conflict resolution
  SSOT-incomplete-migration-websocket-event-broadcasting-duplication.md
  merges/MERGEISSUE-2025-09-14.md
Due: docker-force-flag-prohibition

feat(ssot-gardener): Complete Step 1 test discovery and planning
  SSOT-regression-deprecated-websocket-factory-imports.md
Due: docker-force-flag-prohibition

update(ssot-gardener): Step 1 complete - Comprehensive test protection inventory
  SSOT-testing-massive-test-infrastructure-duplication-blocking-ssot-consolidation.md
Due: docker-force-flag-prohibition

feat(ssot): Complete test discovery and planning for execution engine SSOT fix
  SSOT-incomplete-migration-message-router-fragmentation-blocking-golden-path.md
  SSOT-regression-execution-engine-migration-test-merge-conflict.md
Due: docker-force-flag-prohibition

docs(failing-tests): Add critical test failure gardener worklog
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-critical-20250914-110500.md
Due: docker-force-flag-prohibition

feat(ssot): Complete Step 1 test discovery and planning for issue #1064
  SSOT-AgentWebSocket-DualMessagePatterns.md
Due: docker-force-flag-prohibition

feat(gcp-logs): Complete GCP Log Gardener processing of critical authentication and performance issues
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-20250914-1830.md
Due: docker-force-flag-prohibition

SSOT Gardener: Issue #1056 test discovery complete
  AGENT_GOLDENPATH_MESSAGES_INTEGRATION_TEST_PLAN.md
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-agents-2025-09-14-104900.md
  MessageRouter_SSOT_Test_Discovery_and_Planning_Report.md
  SSOT-incomplete-migration-message-router-duplication.md
  STAGING_TEST_REPORT_PYTEST.md
  docs/ARCHITECTURE_CHECKER_IMPROVEMENTS.md
  docs/RELAXED_CHECKER_IMPLEMENTATION.md
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-14T18-30.md
  issue_1021_github_comment.md
  issue_1037_github_comment.md
  netra_backend/tests/unit/agents/messaging/test_agent_message_processing_pipeline.py
  netra_backend/tests/unit/agents/websocket/test_websocket_agent_events_golden_path.py
  scripts/check_architecture_compliance.py
  scripts/compliance/cli.py
  scripts/compliance/core.py
  scripts/compliance/mock_justification_checker.py
  scripts/compliance/orchestrator.py
  scripts/compliance/reporter.py
  test_framework/business_value_validators.py
  tests/e2e/agent_goldenpath/test_business_value_validation_e2e.py
  tests/e2e/agent_goldenpath/test_error_recovery_e2e.py
  tests/e2e/agent_goldenpath/test_multi_user_isolation_e2e.py
  tests/e2e/agent_goldenpath/test_websocket_event_validation_e2e.py
  tests/e2e/golden_path/test_complete_golden_path_user_journey_e2e.py
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-all-2025-09-14-11.md
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-all-2025-09-14-16-30.md
  tests/integration/agent_golden_path/test_agent_message_persistence_integration.py
  tests/integration/agent_golden_path/test_agent_message_pipeline_end_to_end.py
  tests/integration/agent_golden_path/test_multi_user_concurrent_message_processing.py
  tests/integration/agent_golden_path/test_websocket_event_sequence_integration.py
  tests/integration/websocket_core/test_real_agent_event_structures.py
  tests/mission_critical/test_websocket_agent_events_suite.py
  tests/unit/auth/test_service_secret_validation_failures.py
  tests/unit/websocket_core/test_event_structure_validation.py
  tests/unit/websocket_core/test_ssot_import_path_consistency_validation.py
  tests/unit/websocket_core/test_websocket_factory_consolidation_validation.py
  tests/unit/websocket_core/test_websocket_import_path_consistency_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(ssot-gardener): Create progress tracker for WebSocket auth SSOT consolidation
  SSOT-incomplete-migration-message-router-fragmentation.md
  SSOT-incomplete-migration-websocket-authentication-chaos.md
  ssot_test_infrastructure_violations_1075.md
Due: docker-force-flag-prohibition

feat(ssot-gardener): Update message routing testing strategy plan
  SSOT-incomplete-migration-Message-Router-Consolidation-Blocking-Golden-Path.md
Due: docker-force-flag-prohibition

feat(ssot): Update Phase 1 complete - WebSocket bridge test discovery
  SSOT-critical-agent-websocket-bridge-bypass-violation.md
Due: docker-force-flag-prohibition

feat(gcp-logs): GCP Log Gardener analysis for backend staging warnings and errors
  SSOT-JWT-token-handling-duplicated-between-auth-service-and-backend-bypasses-auth-SSOT.md
  gcp/log-gardener/GCP-LOG-GARDENER-WORKLOG-latest-2025-09-14-1815.md
Due: docker-force-flag-prohibition

feat(ssot): Initialize JWT token handling duplication remediation tracking
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-agents-2025-09-14-1816.md
  claude-code-streaming-headless.md
  coverage_intelligence_report.json
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-all-2025-09-14-111743.md
Due: docker-force-flag-prohibition

docs(gcp-log-gardener): Complete GCP log analysis session 2025-09-14
  gcp/log-gardener/GCP-LOG-GARDENER-COMPLETION-SUMMARY-2025-09-14-1500.md
  issue_1059_phase1_implementation_summary.md
Due: docker-force-flag-prohibition

feat(ssot-gardener): Initialize message routing SSOT violation tracking for issue #1077
  SSOT-message-router-fragmentation.md
Due: docker-force-flag-prohibition

feat(ssot-gardener): Add AgentRegistry SSOT violation tracking
  SSOT-incomplete-migration-AgentRegistry-Golden-Path-Blocking.md
Due: docker-force-flag-prohibition

feat(ssot): Complete Step 1.2 - Comprehensive SSOT Test Planning
  SSOT-incomplete-migration-websocket-event-broadcasting-duplication.md
  STAGING_CONNECTIVITY_REPORT.md
  STAGING_TEST_REPORT_PYTEST.md
  five_whys_analysis_1072.md
  five_whys_analysis_887.md
  issue_1037_authentication_regression_test_plan.md
  netra_backend/app/websocket_core/gcp_initialization_validator.py
  netra_backend/app/websocket_core/unified_manager.py
  netra_backend/tests/unit/agents/communication/__init__.py
  netra_backend/tests/unit/agents/communication/test_realtime_communication_golden_path.py
  netra_backend/tests/unit/agents/messaging/__init__.py
  netra_backend/tests/unit/agents/websocket/__init__.py
  test_websocket_health_fix.py
  tests/e2e/golden_path/test_complete_golden_path_user_journey_e2e.py
  tests/integration/agent_golden_path/test_real_time_response_streaming.py
  tests/integration/auth/test_service_to_service_auth_failures.py
  tests/mission_critical/test_websocket_event_structure_golden_path.py
  tests/unit/websocket_core/test_ssot_factory_pattern_consolidation_validation.py
  tests/unit/websocket_core/test_ssot_race_condition_reproduction.py
  tests/unit/websocket_core/test_websocket_race_condition_reproduction.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(ssot-gardener): Complete Step 1 - Test discovery and planning
  ssot_test_infrastructure_violations_1075.md
Due: docker-force-flag-prohibition

docs(ssot): Create tracking doc for critical Docker Manager SSOT violation
  SSOT-incomplete-migration-Duplicate-Docker-Manager-Blocking-Golden-Path-Tests.md
Due: docker-force-flag-prohibition

feat(ssot-gardener): Complete Step 1 test discovery for message routing SSOT issue #1077
  SSOT-message-router-fragmentation.md
Due: docker-force-flag-prohibition

feat(ssot): Complete Step 1.1 - JWT auth test discovery
  SSOT-JWT-token-handling-duplicated-between-auth-service-and-backend-bypasses-auth-SSOT.md
Due: docker-force-flag-prohibition

feat(ssot-gardener): Complete Step 1 test discovery and planning
  SSOT-incomplete-migration-AgentRegistry-Golden-Path-Blocking.md
Due: docker-force-flag-prohibition

feat(ssot-gardener): Step 2 complete - New SSOT validation tests created
  SSOT-testing-massive-test-infrastructure-duplication-blocking-ssot-consolidation.md
Due: docker-force-flag-prohibition

feat(ssot-gardener): Complete Step 1.2 test strategy for WebSocket auth SSOT
  SSOT-incomplete-migration-websocket-authentication-chaos.md
Due: docker-force-flag-prohibition

feat(ssot-gardener): Track message router SSOT violations - Issue #1074
  tests/integration/agent_golden_path/test_agent_error_recovery_workflows.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(ssot-gardener): Complete Step 2 SSOT compliance test creation
  SSOT-regression-deprecated-websocket-factory-imports.md
Due: docker-force-flag-prohibition

feat(ssot): Complete Step 1.2 - JWT SSOT test planning
  SSOT-JWT-token-handling-duplicated-between-auth-service-and-backend-bypasses-auth-SSOT.md
Due: docker-force-flag-prohibition

feat(test-gardener): Complete agent test failure discovery and GitHub integration
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-agents-2025-09-14-1816.md
Due: docker-force-flag-prohibition

feat(testing): Add agent golden path message integration tests
  tests/integration/agent_golden_path/__init__.py
  tests/integration/agent_golden_path/test_agent_response_quality_integration.py
  tests/integration/agent_golden_path/test_message_pipeline_integration.py
  tests/integration/agent_golden_path/test_multi_user_message_isolation_integration.py
  tests/integration/agent_golden_path/test_websocket_event_sequence_integration.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(golden-path): Add comprehensive golden path integration test
  SSOT-incomplete-migration-WebSocket_Manager_fragmentation_blocking_Golden_Path.md
  netra_backend/app/websocket_core/handlers.py
  netra_backend/tests/unit/agents/test_golden_path_integration_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(ssot): Complete Step 2 - Execute SSOT test plan for WebSocket Manager Issue #1055
  SSOT-incomplete-migration-websocket-manager-import-fragmentation.md
Due: docker-force-flag-prohibition

docs(merge): Add Cycle 2 merge resolution record
  merges/MERGEISSUE-2025-09-14-cycle2.md
Due: docker-force-flag-prohibition

feat(ssot): Add tracking for WebSocket Manager Import Fragmentation issue #1090 sue #1059
  CRITICAL_TEST_FAILURES_REMEDIATION_PLAN.md
  DATABASE_MANAGER_BACKUP_CLEANUP_TEST_PLAN.md
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-critical-2025-09-14-164500.md
  SPECIFIC_FILE_CHANGES_MAPPING.md
  SSOT-incomplete-migration-Duplicate-Docker-Manager-Blocking-Golden-Path-Tests.md
  SSOT-incomplete-migration-websocket-event-broadcasting-duplication.md
  STAGING_TEST_REPORT_PYTEST.md
  docs/RELAXED_CHECKER_FINAL_SUMMARY.md
  github_issue_1055_step2_update.md
  issue_1021_github_comment.md
  issue_1059_github_comment.md
  issue_870_github_update.md
  netra_backend/tests/integration/agents/supervisor/test_agent_execution_core_integration.py
  netra_backend/tests/unit/websocket_core/test_ssot_broadcast_consolidation.py
  ssot_report.json
  tests/e2e/gcp_staging/test_service_auth_failures_staging.py
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-all-2025-09-14-11.md
  tests/integration/auth/test_service_secret_authentication_regression.py
  tests/integration/test_issue_1040_affected_files_validation.py
  tests/integration/test_jwt_ssot_enforcement.py
  tests/unit/auth/test_service_secret_configuration_mismatch.py
  tests/unit/test_issue_1040_import_registry_compliance.py
  tests/unit/test_issue_1040_regression_prevention.py
  tests/unit/test_issue_1040_service_availability_import_reproduction.py
  tests/unit/test_issue_1040_ssot_enum_validation.py
  tests/unit/websocket_core/test_message_router_implementation_uniqueness.py
  tests/unit/websocket_core/test_message_router_interface_completeness.py
  tests/unit/websocket_core/test_message_router_ssot_import_validation.py
  tests/unit/websocket_core/test_message_routing_consistency.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(ssot): Complete Step 2 NEW SSOT test creation for issue #1064
  SSOT-AgentWebSocket-DualMessagePatterns.md
Due: docker-force-flag-prohibition

fix(tests): resolve ScopeMismatch in agent state isolation fixtures
  tests/mission_critical/golden_path/test_agent_state_isolation_never_fail.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

feat(ssot-gardener): Create Issue #1092 WebSocket event broadcasting SSOT violation tracker
  SSOT-incomplete-migration-websocket-agent-message-handler-fragmentation.md
Due: docker-force-flag-prohibition

docs(ssot): Track WebSocket agent message handler fragmentation issue
  netra_backend/tests/integration/agents/supervisor/test_agent_execution_core_integration.py
  tests/unit/websocket_core/test_message_router_ssot_regression_prevention.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(testing): Add agent failing test gardener worklog 2025-09-14
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-agents-2025-09-14-1104.md
  SSOT-testing-massive-test-infrastructure-duplication-blocking-ssot-consolidation.md
Due: docker-force-flag-prohibition

feat(ssot-gardener): Complete Step 2 - Create 4 comprehensive SSOT violation tests
  auth_service/test_auth_direct.py
  netra_backend/tests/integration/agents/test_agent_websocket_event_delivery_integration.py
  netra_backend/tests/integration/test_agent_execution_pipeline_integration.py
  netra_backend/tests/integration/test_multi_user_isolation_routing.py
  netra_backend/tests/integration/test_user_context_factory_integration.py
  netra_backend/tests/integration/websocket_core/test_websocket_message_creation_signature_integration.py
  netra_backend/tests/integration/websocket_race_conditions/test_websocket_handshake_race_conditions.py
  ssot_test_infrastructure_violations_1075.md
  test_framework/ssot/e2e_auth_helper.py
  tests/critical/test_websocket_emergency_cleanup_failure.py
  tests/integration/agent_response/test_agent_response_quality_validation.py
  tests/mission_critical/test_direct_pytest_bypass_reproduction.py
  tests/mission_critical/test_message_router_ssot_compliance.py
  tests/mission_critical/test_multiple_basetestcase_consolidation.py
  tests/mission_critical/test_orchestration_duplication_validation.py
  tests/mission_critical/test_ssot_violations_remediation_complete.py
  tests/mission_critical/test_websocket_agent_events_suite.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

refactor(tests): Simplify WebSocket agent events test dependencies
  FAILING-TEST/gardener/FAILING-TEST-GARDENER-WORKLOG-agents-2025-09-14-104900.md
  netra_backend/tests/unit/agents/websocket/test_websocket_agent_events_golden_path.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation
