Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$

test(frontend): update regression tests for stability
  frontend/__tests__/regression/auth-flow-stability.test.tsx
  frontend/__tests__/regression/websocket-connection-stability.test.tsx
Due: architecture-compliance, file-size-limit, type-safety-check

feat(agents): enhance reporting agent and LLM manager
  netra_backend/app/agents/reporting_sub_agent.py
  netra_backend/app/llm/llm_manager.py
  netra_backend/tests/unit/agents/test_reporting_agent_golden.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add bug analysis and health monitoring reports
  HEALTH_MONITORING_BUG_REPORT.md
  database_regression_five_whys_analysis.md
Due: docker-force-flag-prohibition

test(frontend): fix auth flow stability test cleanup
  frontend/__tests__/regression/auth-flow-stability.test.tsx
Due: architecture-compliance, file-size-limit, type-safety-check

refactor(backend): update config schema and base agent tests
  netra_backend/app/schemas/config.py
  netra_backend/tests/unit/test_base_agent_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add critical bug reproduction tests
  netra_backend/tests/unit/test_llm_manager_method_fix.py
  tests/mission_critical/test_clickhouse_driver_dependency_bug.py
  tests/unit/test_health_monitoring_bug.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

fix(auth): improve environment and database management
  auth_service/auth_core/auth_environment.py
  auth_service/auth_core/database/database_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore: update dependency requirements
  docker/requirements/requirements-analytics.txt
  netra_backend/backend_requirements.txt
Due: docker-force-flag-prohibition

refactor: improve startup module and critical path tests
  netra_backend/app/startup_module.py
  netra_backend/tests/integration/critical_paths/test_health_check_cascade_initialization.py
  netra_backend/tests/unit/test_base_agent_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(docker): make docker-rebuild command service-specific with proper cache removal
  .claude/commands/docker-rebuild.md
Due: docker-force-flag-prohibition

fix(config): add DatabaseURLBuilder integration to test config
  netra_backend/app/schemas/config.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: add health monitoring fix verification test
  tests/unit/test_health_monitoring_fix_verification.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore: update final test coverage and junit reports
  coverage.json
  coverage.xml
  junit.xml
Due: none

fix(startup): improve health check initialization
  netra_backend/app/startup_health_checks.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore(auth): update auth service test reports
  auth_service/coverage.json
  auth_service/coverage.xml
  auth_service/junit.xml
Due: none

refactor(startup): adapt validation for factory pattern architecture
  netra_backend/app/core/startup_validation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(startup): handle factory pattern in validation fixer
  netra_backend/app/core/startup_validation_fix.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(database): add Docker hostname resolution support
  auth_service/tests/unit/test_docker_hostname_resolution.py
  shared/database_url_builder.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(config): remove DATABASE_URL requirement in favor of POSTGRES_* vars
  netra_backend/app/core/backend_environment.py
  netra_backend/app/core/configuration/staging_validator.py
  netra_backend/app/startup_checks/environment_checks.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(database): integrate DatabaseURLBuilder as SSOT for URL construction
  netra_backend/app/database/__init__.py
  netra_backend/app/db/database_initializer.py
  netra_backend/app/db/database_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(deploy): add Redis and SECRET_KEY environment variables to Cloud Run
  scripts/deploy_to_gcp.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test: update test coverage and junit reports
  coverage.json
  coverage.xml
  junit.xml
Due: none

docs: add database SSOT regression analysis and WebSocket test
  database_ssot_regression_analysis.md
  tests/unit/test_websocket_warnings_fix.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(docker): improve Docker hostname resolution tests and learnings
  SPEC/learnings/docker_hostname_resolution.xml
  auth_service/tests/unit/test_docker_hostname_resolution.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(auth-service): critical staging deployment fixes
  GCP_DEPLOYMENT_STATUS_REPORT.md
  auth_service/main.py
  junit.xml
  netra_backend/app/agents/base/reliability_manager.py
  netra_backend/app/agents/base_agent.py
  scripts/deploy_to_gcp.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(auth): implement missing /auth/dev/login endpoint
  auth_service/auth_core/routes/auth_routes.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(auth): add comprehensive tests for dev login endpoint
  auth_service/tests/test_dev_login_endpoint.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add Five Whys analysis for dev login 404 regression
  BUG_ANALYSIS_DEV_LOGIN_404.md
Due: docker-force-flag-prohibition

refactor(auth): improve Redis status logging on startup
  auth_service/main.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore(auth): update test coverage reports
  auth_service/coverage.json
  auth_service/coverage.xml
  auth_service/junit.xml
Due: none

fix(health): use canonical database access pattern for readiness check
  netra_backend/app/routes/health.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(deployment): add centralized secrets configuration to prevent regressions
  deployment/secrets_config.py
  scripts/deploy_to_gcp.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(agents): add golden pattern methods to ReportingSubAgent
  netra_backend/app/agents/reporting_sub_agent.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs: add LLM token optimization implementation plan and code examples
  LLM_TOKEN_OPTIMIZATION_IMPLEMENTATION_PLAN.md
  TOKEN_OPTIMIZATION_CODE_EXAMPLES.md
Due: docker-force-flag-prohibition

docs: add Five Whys analysis for critical regression prevention
  FIVE_WHYS_DATABASEMANAGER_GET_ASYNC_SESSION_REGRESSION.md
  FIVE_WHYS_SECRET_KEY_REGRESSION_PREVENTION.md
Due: docker-force-flag-prohibition

docs: add multi-agent SSOT compliance review and corrections
  AGENT_3_SSOT_COMPLIANCE_CRITIQUE.md
  AGENT_4_CORRECTED_TOKEN_OPTIMIZATION_IMPLEMENTATION.md
  AGENT_4_VIOLATION_CORRECTION_SUMMARY.md
Due: docker-force-flag-prohibition

feat(deployment): implement centralized secret configuration to prevent regressions
  FIVE_WHYS_AUTH_CONFIG_REGRESSION.md
  netra_backend/app/agents/triage/models.py
  netra_backend/app/agents/triage/triage_sub_agent.py
  netra_backend/app/core/health_checkers.py
  netra_backend/app/db/database_manager.py
  test_health_fix.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(auth): add core authentication methods to AuthService
  auth_service/auth_core/services/auth_service.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(auth): implement comprehensive authentication endpoints
  auth_service/auth_core/routes/auth_routes.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(auth): implement missing auth endpoints to resolve 404 errors
  auth_service/tests/test_restored_endpoints.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation
