Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

docs: complete E2E golden auth test validation worklog
  tests/e2e/test_results/E2E-DEPLOY-REMEDIATE-WORKLOG-golden-auth-2025-09-12.md
Due: docker-force-flag-prohibition

docs(ssot): document successful remediation implementation
  SSOT-incomplete-migration-websocket-jwt-validation-consolidation.md
Due: docker-force-flag-prohibition

docs(issue-521): complete Issue #521 resolution with validation results
  ISSUE_521_SPECIFIC_REMEDIATION_PLAN.md
Due: docker-force-flag-prohibition

fix: resolve golden auth E2E test failures - enable Golden Path validation
  AUTH_PERMISSIVENESS_TEST_EXECUTION_REPORT.md
  ISSUE_523_PROOF_VALIDATION_REPORT.md
Due: docker-force-flag-prohibition

fix(redis): complete Redis connection handler async/sync method compatibility
  issue_521_stability_validation.py
  netra_backend/app/core/redis_connection_handler.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(redis): simplify Redis client creation in connection handler
  netra_backend/app/core/redis_connection_handler.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(redis): comprehensive Redis import fix for staging container failures
  issue_521_stability_validation.py
  netra_backend/app/services/tool_permission_service.py
  netra_backend/app/services/tool_permissions/rate_limiter.py
  netra_backend/app/services/tool_permissions/tool_permission_service_main.py
  netra_backend/app/utils/redis_utils.py
  netra_backend/app/websocket_core/unified_websocket_auth.py
  netra_backend/app/websocket_core/user_context_extractor.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(websocket): add SSOT auth interface for user context extraction
  netra_backend/app/websocket_core/user_context_extractor.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(redis): add missing redis import in tool_permission_service_main.py
  netra_backend/app/services/tool_permissions/tool_permission_service_main.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(ssot): document successful test validation and system stability
  SSOT-incomplete-migration-websocket-jwt-validation-consolidation.md
Due: docker-force-flag-prohibition

docs(ssot): complete Issue #525 tracking with PR #524 linkage
  SSOT-incomplete-migration-websocket-jwt-validation-consolidation.md
Due: docker-force-flag-prohibition

fix(redis): add missing redis import in rate_limiter.py for Issue #517
  netra_backend/app/services/tool_permissions/rate_limiter.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(auth): add JWT backwards compatibility test infrastructure for Issue #520
  tests/integration/auth/test_jwt_frontend_test_compatibility.py
  tests/unit/auth/test_jwt_token_creation_backwards_compatibility.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(auth): add multi-level authentication permissiveness system
  netra_backend/app/auth_integration/auth_permissiveness.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(redis): document Issue #517 remediation execution results
  ISSUE_517_REMEDIATION_EXECUTION_RESULTS.md
Due: docker-force-flag-prohibition

fix(auth): implement JWT backwards compatibility for Issue #520
  test_framework/fixtures/auth.py
  tests/integration/auth/test_jwt_calling_patterns_comprehensive.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(auth): implement comprehensive authentication circuit breaker protection
  netra_backend/app/auth_integration/auth_circuit_breaker.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(websocket): integrate auth circuit breaker with WebSocket SSOT routing
  netra_backend/app/routes/websocket_ssot.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(auth): add comprehensive authentication monitoring endpoints and configuration schema
  netra_backend/app/routes/websocket_ssot.py
  netra_backend/app/schemas/config.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(auth): enhance JWT token creation documentation with comprehensive API specification
  test_framework/fixtures/auth.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(stability): add Issue #517 Redis service recovery validation report
  ISSUE_517_STABILITY_VALIDATION_REPORT.md
Due: docker-force-flag-prohibition

feat(auth): add comprehensive authentication configuration schema
  netra_backend/app/auth_integration/auth_config.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(auth): add comprehensive authentication permissiveness remediation tests
  tests/integration/test_auth_permissiveness_remediation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(websocket): add comprehensive WebSocket 1011 error remediation integration tests
  tests/integration/test_websocket_1011_remediation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(auth): avoid reserved key 'created_at' in emergency authentication context
  netra_backend/app/auth_integration/auth_permissiveness.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(scripts): archive legacy WebSocket migration scripts
  scripts/archived/README.md
  scripts/archived/migrate_websocket_to_unified.py
  scripts/archived/migrate_websocket_v2_critical_services.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(docker): add Issue #458 Alpine image build validation test
  tests/integration/test_issue_458_alpine_build_validation.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(tests): archive legacy validation and update E2E context tests
  tests/archived/v2_legacy_validation.py
  tests/e2e/test_context_cross_service_failures.py
Due: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

docs(migration): update consolidated migration paths documentation
  docs/MIGRATION_PATHS_CONSOLIDATED.md
Due: docker-force-flag-prohibition

fix(docker): correct dockerfile paths in alpine-test compose file
  docker/docker-compose.alpine-test.yml
Due: docker-force-flag-prohibition, docker-security-audit

docs: update V2 legacy WebSocket test execution report
  docs/V2_LEGACY_WEBSOCKET_TEST_EXECUTION_REPORT.md
Due: docker-force-flag-prohibition

docs(websocket): add V2 legacy cleanup completion report for Issue #447
  V2_LEGACY_CLEANUP_COMPLETION_REPORT.md
Due: docker-force-flag-prohibition

docs(websocket): add V3 SSOT developer guide for ongoing development
  docs/WEBSOCKET_V3_DEVELOPER_GUIDE.md
Due: docker-force-flag-prohibition

feat(health): add staging health endpoint 422 validation error diagnostic script
  test_staging_health_issue518.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(health): add detailed 422 validation error analysis for Issue #518
  test_issue518_detailed.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(test): standardize user context handling in agent execution integration tests
  netra_backend/tests/integration/agents/supervisor/test_agent_execution_core_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(test): add missing run_id parameter to UserExecutionContext in agent integration test
  netra_backend/tests/integration/agents/supervisor/test_agent_execution_core_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(agents): standardize DeepAgentState import and remove mock usage
  netra_backend/tests/integration/agents/supervisor/test_agent_execution_core_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(auth/websocket): comprehensive auth permissiveness and legacy cleanup
  AUTH_PERMISSIVENESS_WEBSOCKET_LEGACY_REMEDIATION_REPORT.md
Due: docker-force-flag-prohibition

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
