Repository netra-systems/zen: changes, and which pre-commit hooks are due for each by the changed paths.
All: architecture-compliance, file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation, mission-critical-syntax-check

architecture-compliance:
  name: Architecture Compliance Enforcer
  entry: python scripts/enforce_limits.py --mode strict --fail-fast
  language: system
  stages:
  - commit
  description: Enforces 450-line file and 25-line function limits

file-size-limit:
  name: File Size Limit (300 lines)
  entry: python scripts/enforce_limits.py --check-files-only --max-lines 300
  language: system
  stages:
  - commit
  pass_filenames: true

function-complexity-limit:
  name: Function Complexity Limit (8 lines)
  entry: python scripts/enforce_limits.py --check-functions-only --max-function-lines 8
  language: system
  stages:
  - commit
  pass_filenames: true

type-safety-check:
  name: Type Safety and Duplicate Prevention
  entry: python scripts/enforce_limits.py --check-types --prevent-duplicates
  language: system
  stages:
  - commit

test-stub-prevention:
  name: Test Stub Prevention
  entry: python scripts/enforce_limits.py --check-stubs --fail-on-stubs
  language: system
  stages:
  - commit

test-file-size-enforcement:
  name: Test File Size Enforcement (300 lines)
  entry: python scripts/compliance/test_size_validator.py --strict --format json
  language: system
  stages:
  - commit
  description: Test files MUST follow same 450-line limit as production code (SPEC/testing.xml)

prevent-numbered-files:
  name: Prevent Numbered File Names
  entry: python scripts/prevent_numbered_files.py
  language: system
  pass_filenames: true
  stages:
  - commit
  description: Prevents non-semantic numbered file naming patterns like _1.py, _2.py, _core_1.py

unified-import-compliance:
  name: Unified Import Compliance Check
  entry: python scripts/unified_import_manager.py precommit
  language: system
  stages:
  - commit
  description: Enforces canonical import patterns across backend, tests, and frameworks

import-path-validation:
  name: Import Path Pattern Validation
  entry: python scripts/check_netra_backend_imports.py
  language: system
  stages:
  - commit
  description: Validates that all netra_backend imports follow canonical patterns

prevent-relative-imports:
  name: Prevent Relative Imports
  entry: python scripts/check_relative_imports.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Prevents relative imports (. or ..) - all imports must be absolute

duplicate-code-detection:
  name: Duplicate Code Detection
  entry: python scripts/precommit_duplicate_detector.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: Detects duplicate classes, functions, and WebSocket pattern regressions

docker-force-flag-prohibition:
  name: Docker Force Flag Prohibition
  entry: python scripts/enforce_docker_force_prohibition.py
  language: system
  stages:
  - commit
  pass_filenames: true
  description: 'CRITICAL: Prevents Docker -f/--force flags that cause daemon crashes ($2M+ ARR impact)'

refactor(analytics): consolidate database management and remove redundant managers
  analytics_service/analytics_core/database/__init__.py
  analytics_service/analytics_core/database/clickhouse_manager.py
  analytics_service/analytics_core/database/connection.py
  analytics_service/analytics_core/database/redis.py
  analytics_service/analytics_core/database/redis_manager.py
  analytics_service/analytics_core/utils/security.py
  analytics_service/tests/integration/integration_config.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(auth): consolidate security management and simplify auth architecture
  auth_service/auth_core/__init__.py
  auth_service/auth_core/core/security_manager.py
  auth_service/auth_core/core/session_manager.py
  auth_service/auth_core/database/database_manager.py
  auth_service/auth_core/oauth_manager.py
  auth_service/auth_core/redis_manager.py
  auth_service/auth_core/routes/auth_routes.py
  auth_service/auth_core/security/oauth_security.py
  auth_service/auth_core/services/auth_service.py
  auth_service/auth_core/unified_auth_interface.py
  auth_service/tests/integration/test_database_connection.py
  auth_service/tests/test_auth_real_services_comprehensive.py
  auth_service/tests/test_session_security_cycles_36_40.py
  auth_service/tests/test_token_validation_security_cycles_31_35.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(dev-launcher): remove redundant service management modules
  .github/scripts/manage_test_services.py
  dev_launcher/cache_manager.py
  dev_launcher/crash_recovery.py
  dev_launcher/dependency_manager.py
  dev_launcher/docker_services.py
  dev_launcher/environment_manager.py
  dev_launcher/google_secret_manager.py
  dev_launcher/log_streamer.py
  dev_launcher/port_manager.py
  dev_launcher/process_manager.py
  dev_launcher/race_condition_manager.py
  dev_launcher/readiness_checker.py
  dev_launcher/recovery_manager.py
  dev_launcher/tests/test_environment_conflicts.py
  dev_launcher/tests/test_frontend_backend_integration.py
  dev_launcher/tests/test_launcher.py
  dev_launcher/tests/test_launcher_process.py
  dev_launcher/tests/test_startup_comprehensive.py
  dev_launcher/windows_process_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(agents): remove admin tool dispatcher and consolidate permissions
  netra_backend/app/agents/admin_tool_dispatcher/__init__.py
  netra_backend/app/agents/admin_tool_dispatcher/admin_tool_execution.py
  netra_backend/app/agents/admin_tool_dispatcher/corpus_handlers_base.py
  netra_backend/app/agents/admin_tool_dispatcher/corpus_models.py
  netra_backend/app/agents/admin_tool_dispatcher/corpus_modern_handlers.py
  netra_backend/app/agents/admin_tool_dispatcher/corpus_tool_handlers.py
  netra_backend/app/agents/admin_tool_dispatcher/corpus_tools.py
  netra_backend/app/agents/admin_tool_dispatcher/corpus_validators.py
  netra_backend/app/agents/admin_tool_dispatcher/dispatcher_core.py
  netra_backend/app/agents/admin_tool_dispatcher/dispatcher_helpers.py
  netra_backend/app/agents/admin_tool_dispatcher/execution_helpers.py
  netra_backend/app/agents/admin_tool_dispatcher/execution_pattern_helpers.py
  netra_backend/app/agents/admin_tool_dispatcher/factory.py
  netra_backend/app/agents/admin_tool_dispatcher/migration_helper.py
  netra_backend/app/agents/admin_tool_dispatcher/modern_execution_helpers.py
  netra_backend/app/agents/admin_tool_dispatcher/modernized_wrapper.py
  netra_backend/app/agents/admin_tool_dispatcher/operation_helpers.py
  netra_backend/app/agents/admin_tool_dispatcher/tool_handler_helpers.py
  netra_backend/app/agents/admin_tool_dispatcher/tool_handler_operations.py
  netra_backend/app/agents/admin_tool_dispatcher/tool_handlers.py
  netra_backend/app/agents/admin_tool_dispatcher/tool_handlers_core.py
  netra_backend/app/agents/admin_tool_dispatcher/tool_info_helpers.py
  netra_backend/app/agents/admin_tool_dispatcher/validation.py
  netra_backend/app/agents/admin_tool_dispatcher/validation_helpers.py
  netra_backend/app/agents/admin_tool_permissions.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(corpus-admin): remove XML outputs and value-based corpus system
  netra_backend/app/agents/corpus_admin/categorized_xml_output/netra-ai-optimization-dynamic.xml
  netra_backend/app/agents/corpus_admin/categorized_xml_output/netra-ai-optimization-occasional.xml
  netra_backend/app/agents/corpus_admin/categorized_xml_output/netra-general-dynamic.xml
  netra_backend/app/agents/corpus_admin/categorized_xml_output/netra-general-occasional.xml
  netra_backend/app/agents/corpus_admin/categorized_xml_output/netra-general-static.xml
  netra_backend/app/agents/corpus_admin/categorized_xml_output/netra-links-dynamic.xml
  netra_backend/app/agents/corpus_admin/categorized_xml_output/netra-links-static.xml
  netra_backend/app/agents/corpus_admin/categorized_xml_output/netra-pricing-dynamic.xml
  netra_backend/app/agents/corpus_admin/categorized_xml_output/netra-pricing-occasional.xml
  netra_backend/app/agents/corpus_admin/categorized_xml_output/netra-security-dynamic.xml
  netra_backend/app/agents/corpus_admin/categorized_xml_output/netra-security-occasional.xml
  netra_backend/app/agents/corpus_admin/categorized_xml_output/netra-strategy-dynamic.xml
  netra_backend/app/agents/corpus_admin/categorized_xml_output/netra-strategy-occasional.xml
  netra_backend/app/agents/corpus_admin/categorized_xml_output/suspicious-general-static.xml
  netra_backend/app/agents/corpus_admin/corpus-content.json
  netra_backend/app/agents/corpus_admin/corpus_creation_validation.py
  netra_backend/app/agents/corpus_admin/corpus_error_compensation.py
  netra_backend/app/agents/corpus_admin/value_based_corpus/__init__.py
  netra_backend/app/agents/corpus_admin/value_based_corpus/create_value_corpus.py
  netra_backend/app/agents/corpus_admin/value_based_corpus/value_corpus.json
  netra_backend/app/agents/corpus_admin/value_based_corpus/value_corpus_to_xml.py
  netra_backend/app/agents/corpus_admin/value_based_corpus/value_corpus_validation.py
  netra_backend/app/agents/corpus_admin/value_based_corpus/value_corpus_xml/General.xml
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(corpus-admin): consolidate corpus operations and handlers
  netra_backend/app/agents/corpus_admin/__init__.py
  netra_backend/app/agents/corpus_admin/agent.py
  netra_backend/app/agents/corpus_admin/corpus_creation_helpers.py
  netra_backend/app/agents/corpus_admin/corpus_creation_io.py
  netra_backend/app/agents/corpus_admin/corpus_creation_storage.py
  netra_backend/app/agents/corpus_admin/corpus_error_types.py
  netra_backend/app/agents/corpus_admin/corpus_indexing_handlers.py
  netra_backend/app/agents/corpus_admin/corpus_upload_handlers.py
  netra_backend/app/agents/corpus_admin/corpus_validation_handlers.py
  netra_backend/app/agents/corpus_admin/models.py
  netra_backend/app/agents/corpus_admin/operations.py
  netra_backend/app/agents/corpus_admin/operations_analysis.py
  netra_backend/app/agents/corpus_admin/operations_crud.py
  netra_backend/app/agents/corpus_admin/operations_execution.py
  netra_backend/app/agents/corpus_admin/operations_handler.py
  netra_backend/app/agents/corpus_admin/parsers.py
  netra_backend/app/agents/corpus_admin/suggestion_profiles.py
  netra_backend/app/agents/corpus_admin/validators.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(triage-agent): remove entire triage sub-agent module
  netra_backend/app/agents/triage_sub_agent/__init__.py
  netra_backend/app/agents/triage_sub_agent/agent.py
  netra_backend/app/agents/triage_sub_agent/cache_utils.py
  netra_backend/app/agents/triage_sub_agent/config.py
  netra_backend/app/agents/triage_sub_agent/core.py
  netra_backend/app/agents/triage_sub_agent/entity_extraction.py
  netra_backend/app/agents/triage_sub_agent/entity_extractor.py
  netra_backend/app/agents/triage_sub_agent/error_core.py
  netra_backend/app/agents/triage_sub_agent/error_recovery.py
  netra_backend/app/agents/triage_sub_agent/error_reporting.py
  netra_backend/app/agents/triage_sub_agent/error_types.py
  netra_backend/app/agents/triage_sub_agent/execution_helpers.py
  netra_backend/app/agents/triage_sub_agent/executor.py
  netra_backend/app/agents/triage_sub_agent/fallback.py
  netra_backend/app/agents/triage_sub_agent/intent_detection.py
  netra_backend/app/agents/triage_sub_agent/intent_detector.py
  netra_backend/app/agents/triage_sub_agent/llm_processor.py
  netra_backend/app/agents/triage_sub_agent/models.py
  netra_backend/app/agents/triage_sub_agent/processing.py
  netra_backend/app/agents/triage_sub_agent/processing_monitoring.py
  netra_backend/app/agents/triage_sub_agent/prompt_builder.py
  netra_backend/app/agents/triage_sub_agent/result_processor.py
  netra_backend/app/agents/triage_sub_agent/tool_recommendation.py
  netra_backend/app/agents/triage_sub_agent/tool_recommender.py
  netra_backend/app/agents/triage_sub_agent/validation.py
  netra_backend/app/agents/triage_sub_agent/validator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(agents): consolidate core agent modules and interfaces
  netra_backend/app/agents/artifact_validator.py
  netra_backend/app/agents/base_agent.py
  netra_backend/app/agents/config.py
  netra_backend/app/agents/corpus_admin_sub_agent.py
  netra_backend/app/agents/interfaces.py
  netra_backend/app/agents/request_scoped_tool_dispatcher.py
  netra_backend/app/agents/state.py
  netra_backend/app/agents/supervisor_admin_init.py
  netra_backend/app/agents/supervisor_consolidated.py
  netra_backend/app/agents/synthetic_data_sub_agent_modern.py
  netra_backend/app/agents/tool_discovery_sub_agent.py
  netra_backend/app/agents/tool_dispatcher.py
  netra_backend/app/agents/tool_dispatcher_core.py
  netra_backend/app/agents/tool_event_bus.py
  netra_backend/app/agents/tool_executor_factory.py
  netra_backend/app/agents/unified_tool_execution.py
  netra_backend/app/agents/user_context_tool_factory.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(supervisor): consolidate agent execution and state management
  netra_backend/app/agents/base/execution_context.py
  netra_backend/app/agents/base/interface.py
  netra_backend/app/agents/base/rate_limiter.py
  netra_backend/app/agents/base/reliability_manager.py
  netra_backend/app/agents/base/retry_manager.py
  netra_backend/app/agents/chat_orchestrator/confidence_manager.py
  netra_backend/app/agents/execution_tracking/timeout.py
  netra_backend/app/agents/mcp_integration/context_manager.py
  netra_backend/app/agents/security/security_manager.py
  netra_backend/app/agents/supervisor/agent_class_initialization.py
  netra_backend/app/agents/supervisor/agent_execution_core.py
  netra_backend/app/agents/supervisor/agent_instance_factory.py
  netra_backend/app/agents/supervisor/agent_manager.py
  netra_backend/app/agents/supervisor/agent_registry.py
  netra_backend/app/agents/supervisor/execution_context_manager.py
  netra_backend/app/agents/supervisor/execution_engine.py
  netra_backend/app/agents/supervisor/execution_factory.py
  netra_backend/app/agents/supervisor/fallback_manager.py
  netra_backend/app/agents/supervisor/lifecycle_manager.py
  netra_backend/app/agents/supervisor/observability_integration.py
  netra_backend/app/agents/supervisor/periodic_update_manager.py
  netra_backend/app/agents/supervisor/request_scoped_execution_engine.py
  netra_backend/app/agents/supervisor/request_scoped_executor.py
  netra_backend/app/agents/supervisor/state_checkpoint_manager.py
  netra_backend/app/agents/supervisor/state_manager.py
  netra_backend/app/agents/supervisor/state_manager_core.py
  netra_backend/app/agents/supervisor/state_recovery_manager.py
  netra_backend/app/agents/supervisor/unified_agent_registry.py
  netra_backend/app/agents/supervisor/user_execution_engine.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(agents): remove legacy tool dispatcher and registry modules
  netra_backend/app/agents/communication_manager.py
  netra_backend/app/agents/initialization_manager.py
  netra_backend/app/agents/quality_fallback.py
  netra_backend/app/agents/quality_hooks.py
  netra_backend/app/agents/tool_dispatcher_consolidated.py
  netra_backend/app/agents/tool_dispatcher_registry.py
  netra_backend/app/agents/tool_dispatcher_unified.py
  netra_backend/app/agents/tool_registry_unified.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(config): consolidate configuration and secret management
  netra_backend/app/app_secrets/__init__.py
  netra_backend/app/core/configuration/__init__.py
  netra_backend/app/core/configuration/base.py
  netra_backend/app/core/configuration/database.py
  netra_backend/app/core/configuration/loader.py
  netra_backend/app/core/configuration/secrets.py
  netra_backend/app/core/configuration/services.py
  netra_backend/app/core/configuration/unified_secrets.py
  netra_backend/app/core/configuration/validator.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(core): remove redundant infrastructure modules
  netra_backend/app/core/agent_heartbeat.py
  netra_backend/app/core/agent_recovery.py
  netra_backend/app/core/alert_manager.py
  netra_backend/app/core/async_resource_manager.py
  netra_backend/app/core/cache/__init__.py
  netra_backend/app/core/cross_service_auth.py
  netra_backend/app/core/database_recovery_strategies.py
  netra_backend/app/core/degradation_manager.py
  netra_backend/app/core/error_logging_context.py
  netra_backend/app/core/fallback_coordinator_emergency.py
  netra_backend/app/core/interfaces_cache.py
  netra_backend/app/core/recovery_manager.py
  netra_backend/app/core/resource_manager.py
  netra_backend/app/core/retry_strategy_manager.py
  netra_backend/app/core/security_monitoring.py
  netra_backend/app/core/trace_persistence.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(core): consolidate health, telemetry, and auth integration
  netra_backend/app/auth_integration/__init__.py
  netra_backend/app/auth_integration/interfaces.py
  netra_backend/app/core/error_recovery.py
  netra_backend/app/core/execution_tracker.py
  netra_backend/app/core/health/telemetry.py
  netra_backend/app/core/health/telemetry_manager.py
  netra_backend/app/core/health_checks.py
  netra_backend/app/core/interfaces_execution.py
  netra_backend/app/core/interfaces_websocket.py
  netra_backend/app/core/performance_optimization_manager.py
  netra_backend/app/core/startup_validator.py
  netra_backend/app/core/telemetry.py
  netra_backend/app/core/tracing.py
  netra_backend/app/core/type_validators.py
  netra_backend/app/core/unified_id_manager.py
  netra_backend/app/core/unified_trace_context.py
  netra_backend/app/core/websocket_exceptions.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(resilience): consolidate circuit breakers and fallback mechanisms
  netra_backend/app/core/reliability/migration_adapters.py
  netra_backend/app/core/reliability/unified_reliability_manager.py
  netra_backend/app/core/resilience/__init__.py
  netra_backend/app/core/resilience/domain_circuit_breakers.py
  netra_backend/app/core/resilience/external_services.py
  netra_backend/app/core/resilience/fallback.py
  netra_backend/app/core/resilience/policy.py
  netra_backend/app/core/resilience/retry_manager.py
  netra_backend/app/core/resilience/unified_circuit_breaker.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(database): consolidate database management and remove redundant modules
  netra_backend/app/database/__init__.py
  netra_backend/app/database/session_manager.py
  netra_backend/app/db/__init__.py
  netra_backend/app/db/alembic_state_recovery.py
  netra_backend/app/db/cache_strategies.py
  netra_backend/app/db/clickhouse.py
  netra_backend/app/db/client_config.py
  netra_backend/app/db/client_manager.py
  netra_backend/app/db/client_postgres_session.py
  netra_backend/app/db/database_index_manager.py
  netra_backend/app/db/database_manager.py
  netra_backend/app/db/graceful_degradation_manager.py
  netra_backend/app/db/index_optimizer.py
  netra_backend/app/db/migration_manager.py
  netra_backend/app/db/observability_collectors.py
  netra_backend/app/db/postgres_async.py
  netra_backend/app/db/postgres_cloud.py
  netra_backend/app/db/postgres_index_connection.py
  netra_backend/app/db/postgres_index_creator.py
  netra_backend/app/db/postgres_resilience.py
  netra_backend/app/db/session.py
  netra_backend/app/db/transaction_core.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(llm): consolidate LLM management and remove redundant modules
  netra_backend/app/llm/__init__.py
  netra_backend/app/llm/client_circuit_breaker.py
  netra_backend/app/llm/fallback_config.py
  netra_backend/app/llm/llm_config_manager.py
  netra_backend/app/llm/llm_management_utilities.py
  netra_backend/app/llm/llm_manager.py
  netra_backend/app/llm/llm_provider_handlers.py
  netra_backend/app/llm/llm_provider_manager.py
  netra_backend/app/llm/llm_structured_operations.py
  netra_backend/app/llm/overload_handler.py
  netra_backend/app/llm/resource_cache.py
  netra_backend/app/llm/schemas.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(monitoring): consolidate alerting and remove dashboard configs
  netra_backend/app/middleware/metrics_middleware.py
  netra_backend/app/middleware/metrics_middleware_compact.py
  netra_backend/app/monitoring/alert_evaluator.py
  netra_backend/app/monitoring/alert_manager_compact.py
  netra_backend/app/monitoring/alert_manager_core.py
  netra_backend/app/monitoring/alert_notifications.py
  netra_backend/app/monitoring/alert_rules.py
  netra_backend/app/monitoring/isolation_dashboard_config.py
  netra_backend/app/monitoring/performance_alerting.py
  netra_backend/app/monitoring/system_monitor.py
  netra_backend/app/monitoring/websocket_dashboard_config.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(websocket): consolidate WebSocket core and remove batch processing
  netra_backend/app/websocket/__init__.py
  netra_backend/app/websocket/connection_handler.py
  netra_backend/app/websocket/connection_manager.py
  netra_backend/app/websocket/manager.py
  netra_backend/app/websocket_core/__init__.py
  netra_backend/app/websocket_core/auth.py
  netra_backend/app/websocket_core/batch_message_core.py
  netra_backend/app/websocket_core/batch_message_transactional.py
  netra_backend/app/websocket_core/broadcast_core.py
  netra_backend/app/websocket_core/connection_executor.py
  netra_backend/app/websocket_core/error_recovery_handler.py
  netra_backend/app/websocket_core/handlers.py
  netra_backend/app/websocket_core/isolated_event_emitter.py
  netra_backend/app/websocket_core/manager.py
  netra_backend/app/websocket_core/message_buffer.py
  netra_backend/app/websocket_core/reconnection_handler.py
  netra_backend/app/websocket_core/recovery.py
  netra_backend/app/websocket_core/state_synchronization_manager.py
  netra_backend/app/websocket_core/unified_emitter.py
  netra_backend/app/websocket_core/unified_init.py
  netra_backend/app/websocket_core/unified_manager.py
  netra_backend/app/websocket_core/unified_websocket_architecture_design.md
  netra_backend/app/websocket_core/validation_integration.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(services): remove API gateway infrastructure
  netra_backend/app/services/api_gateway/cache_manager.py
  netra_backend/app/services/api_gateway/circuit_breaker.py
  netra_backend/app/services/api_gateway/circuit_breaker_manager.py
  netra_backend/app/services/api_gateway/gateway_manager.py
  netra_backend/app/services/api_gateway/rate_limiter.py
  netra_backend/app/services/api_gateway/route_manager.py
  netra_backend/app/services/api_gateway/router.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(cache): consolidate cache services
  netra_backend/app/services/cache/cache_eviction.py
  netra_backend/app/services/cache/cache_manager.py
  netra_backend/app/services/cache/llm_cache.py
  netra_backend/app/services/cache/response_cache.py
  netra_backend/app/services/cache/semantic_cache.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(services): massive service layer cleanup and consolidation
  netra_backend/app/services/circuit_breaker.py
  netra_backend/app/services/circuit_breaker/__init__.py
  netra_backend/app/services/circuit_breaker/circuit_breaker_manager.py
  netra_backend/app/services/corpus/__init__.py
  netra_backend/app/services/corpus/base_service.py
  netra_backend/app/services/corpus/corpus_manager.py
  netra_backend/app/services/corpus/document_manager.py
  netra_backend/app/services/corpus/validation.py
  netra_backend/app/services/database/migration_service.py
  netra_backend/app/services/database/rollback_manager_core.py
  netra_backend/app/services/database/session_manager.py
  netra_backend/app/services/database/tenant_service.py
  netra_backend/app/services/demo/demo_session_manager.py
  netra_backend/app/services/fallback_response/diagnostics.py
  netra_backend/app/services/fallback_response/templates_core.py
  netra_backend/app/services/graceful_shutdown.py
  netra_backend/app/services/llm/__init__.py
  netra_backend/app/services/llm/llm_manager.py
  netra_backend/app/services/llm_manager.py
  netra_backend/app/services/mcp_client_resource_manager.py
  netra_backend/app/services/messaging/queue_manager.py
  netra_backend/app/services/multi_tenant.py
  netra_backend/app/services/oauth_manager.py
  netra_backend/app/services/observability/alert_manager.py
  netra_backend/app/services/quality_monitoring/alerts.py
  netra_backend/app/services/quota/quota_manager.py
  netra_backend/app/services/redis/redis_cache.py
  netra_backend/app/services/redis/session_manager.py
  netra_backend/app/services/session_memory_manager.py
  netra_backend/app/services/state/state_manager.py
  netra_backend/app/services/state_migration_core.py
  netra_backend/app/services/supply_research/result_manager.py
  netra_backend/app/services/supply_research/schedule_manager.py
  netra_backend/app/services/synthetic_data/core_service_base.py
  netra_backend/app/services/synthetic_data/ingestion_manager.py
  netra_backend/app/services/synthetic_data/job_manager.py
  netra_backend/app/services/transaction_manager/clickhouse_ops.py
  netra_backend/app/services/transaction_manager/manager.py
  netra_backend/app/services/transaction_manager/postgres_ops.py
  netra_backend/app/services/unified_tool_registry.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(tool-registry): consolidate unified tool registry implementation
  netra_backend/app/services/unified_tool_registry/__init__.py
  netra_backend/app/services/unified_tool_registry/data_management_handlers.py
  netra_backend/app/services/unified_tool_registry/optimization_handlers.py
  netra_backend/app/services/unified_tool_registry/registry.py
  netra_backend/app/services/unified_tool_registry/system_handlers.py
  netra_backend/app/services/unified_tool_registry/tool_handlers.py
  netra_backend/app/services/unified_tool_registry/tool_registrations.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(services): clean up remaining service modules
  netra_backend/app/services/__init__.py
  netra_backend/app/services/agent_websocket_bridge.py
  netra_backend/app/services/background_task_manager.py
  netra_backend/app/services/cost_calculator.py
  netra_backend/app/services/external_api_client.py
  netra_backend/app/services/health/deep_checks.py
  netra_backend/app/services/key_manager.py
  netra_backend/app/services/memory_startup_integration.py
  netra_backend/app/services/monitoring/gcp_client_manager.py
  netra_backend/app/services/query_builder.py
  netra_backend/app/services/query_fix_validator.py
  netra_backend/app/services/realistic_test_data/models.py
  netra_backend/app/services/state_cache_manager.py
  netra_backend/app/services/state_recovery_manager.py
  netra_backend/app/services/tool_registry.py
  netra_backend/app/services/websocket/__init__.py
  netra_backend/app/services/websocket/broadcast_manager.py
  netra_backend/app/services/websocket_event_router.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(orchestration): remove orchestration and startup modules
  netra_backend/app/data/synthetic/synthetic_data_loader.py
  netra_backend/app/orchestration/agent_execution_registry.py
  netra_backend/app/services/websocket_emitter_pool.py
  netra_backend/app/services/websocket_event_emitter.py
  netra_backend/app/startup/migration_state_manager.py
  netra_backend/app/startup/status_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(schemas): clean up schemas and remove security modules
  netra_backend/app/schemas/__init__.py
  netra_backend/app/schemas/agent_models.py
  netra_backend/app/schemas/llm_base_types.py
  netra_backend/app/schemas/llm_config_types.py
  netra_backend/app/schemas/llm_model_rebuilder.py
  netra_backend/app/schemas/llm_request_types.py
  netra_backend/app/schemas/llm_response_types.py
  netra_backend/app/schemas/llm_types.py
  netra_backend/app/schemas/monitoring.py
  netra_backend/app/schemas/reliability_types.py
  netra_backend/app/schemas/shared_types.py
  netra_backend/app/schemas/strict_types.py
  netra_backend/app/security/audit_findings.py
  netra_backend/app/security/compliance_checks.py
  netra_backend/app/security/context_isolation.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(app): clean up main app modules and utilities
  netra_backend/app/dependencies.py
  netra_backend/app/logging_config.py
  netra_backend/app/main.py
  netra_backend/app/redis_manager.py
  netra_backend/app/routes/websocket_isolated.py
  netra_backend/app/smd.py
  netra_backend/app/startup_module.py
  netra_backend/app/utils/__init__.py
  netra_backend/app/utils/multiprocessing_cleanup.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(tests): massive test infrastructure cleanup
  netra_backend/tests/auth_integration/test_interfaces_security_comprehensive.py
  netra_backend/tests/auth_integration/test_real_auth_integration_managers.py
  netra_backend/tests/auth_integration/test_real_user_session_management_managers.py
  netra_backend/tests/config/test_config_secrets_manager.py
  netra_backend/tests/config/test_unified_config_integration.py
  netra_backend/tests/config/test_unified_config_unit.py
  netra_backend/tests/core/test_cache.py
  netra_backend/tests/core/test_core_comprehensive.py
  netra_backend/tests/core/test_telemetry.py
  netra_backend/tests/core/test_trace_persistence.py
  netra_backend/tests/core/test_unified_id_manager.py
  netra_backend/tests/core/test_unified_trace_context.py
  netra_backend/tests/critical/test_agent_communication_cycles_61_70.py
  netra_backend/tests/critical/test_config_secrets_manager.py
  netra_backend/tests/critical/test_dev_launcher_concurrent_migration_protection.py
  netra_backend/tests/critical/test_real_auth_integration_critical_managers.py
  netra_backend/tests/critical/test_websocket_circular_import_regression.py
  netra_backend/tests/critical/test_websocket_execution_engine.py
  netra_backend/tests/critical/test_websocket_serialization_complete.py
  netra_backend/tests/database/async_transaction_patterns_improved.py
  netra_backend/tests/database/test_session_lifecycle_regression.py
  netra_backend/tests/database/test_sqlalchemy_state_management.py
  netra_backend/tests/helpers/core_test_security_helpers.py
  netra_backend/tests/helpers/enhanced_llm_manager.py
  netra_backend/tests/helpers/redis_test_fixtures.py
  netra_backend/tests/helpers/supervisor_test_helpers.py
  netra_backend/tests/helpers/triage_test_helpers.py
  netra_backend/tests/helpers/websocket_test_helpers.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Update UVS_REQUIREMENTS.md
  UVS_REQUIREMENTS.md
Due: docker-force-flag-prohibition

fix(auth): improve database connection reliability and management
  auth_service/auth_core/database/connection.py
  auth_service/auth_core/database/database_manager.py
  auth_service/auth_core/services/auth_service.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(auth): enhance test fixtures and stability
  auth_service/tests/conftest.py
  auth_service/tests/test_oauth_security_vulnerabilities.py
  auth_service/tests/test_oauth_state_validation.py
  auth_service/tests/test_redis_staging_connectivity_fixes.py
  auth_service/tests/test_refresh_token_fix.py
  auth_service/tests/test_signup_flow_comprehensive.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

refactor(agents): enhance base agent and triage models
  netra_backend/app/agents/base_agent.py
  netra_backend/app/agents/request_scoped_tool_dispatcher.py
  netra_backend/app/agents/tool_executor_factory.py
  netra_backend/app/agents/triage/models.py
  netra_backend/app/agents/triage/unified_triage_agent.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

fix(core): improve circuit breaker and tool dispatcher reliability
  netra_backend/app/core/reliability/__init__.py
  netra_backend/app/core/resilience/unified_circuit_breaker.py
  netra_backend/app/core/tools/unified_tool_dispatcher.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

feat(websocket): enhance connection management and type safety
  netra_backend/app/services/agent_websocket_bridge.py
  netra_backend/app/websocket/connection_manager.py
  netra_backend/app/websocket_core/types.py
  netra_backend/app/websocket_core/unified_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

chore(services): update main app and database session management
  netra_backend/app/main.py
  netra_backend/app/routes/unified_tools/router.py
  netra_backend/app/services/database/session_manager.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(e2e): enhance critical E2E test coverage
  netra_backend/tests/e2e/test_agent_orchestration_e2e.py
  netra_backend/tests/e2e/test_hooks_pre_post_execution.py
  netra_backend/tests/e2e/test_middleware_hook_ordering.py
  netra_backend/tests/e2e/test_system_startup.py
  netra_backend/tests/e2e/test_websocket_integration_core.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(e2e): update test helpers and utility modules
  netra_backend/tests/e2e/chat_optimization_tests.py
  netra_backend/tests/e2e/example_prompts_core.py
  netra_backend/tests/e2e/gpt5_migration_tests.py
  netra_backend/tests/e2e/latency_optimization_helpers.py
  netra_backend/tests/e2e/model_effectiveness_tests.py
  netra_backend/tests/e2e/model_setup_helpers.py
  netra_backend/tests/e2e/multi_constraint_test_helpers.py
  netra_backend/tests/e2e/scaling_test_helpers.py
  netra_backend/tests/e2e/workflow_integrity_tests.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

test(e2e): update remaining E2E test imports and fixes
  netra_backend/tests/e2e/test_admin_corpus_generation.py
  netra_backend/tests/e2e/test_agent_pipeline.py
  netra_backend/tests/e2e/test_capacity_planning.py
  netra_backend/tests/e2e/test_complete_real_pipeline_e2e.py
  netra_backend/tests/e2e/test_cost_optimization_workflows.py
  netra_backend/tests/e2e/test_kv_cache_audit.py
  netra_backend/tests/e2e/test_model_effectiveness_workflows.py
  netra_backend/tests/e2e/test_model_optimization_workflows.py
  netra_backend/tests/e2e/test_multi_constraint_edge_cases.py
  netra_backend/tests/e2e/test_multi_constraint_system.py
  netra_backend/tests/e2e/test_multi_service.py
  netra_backend/tests/e2e/test_rate_limit_analysis.py
  netra_backend/tests/e2e/test_real_agent_orchestration_e2e.py
  netra_backend/tests/e2e/test_real_llm_workflow.py
  netra_backend/tests/e2e/test_simple_agent_flow.py
  netra_backend/tests/e2e/test_thread_agent_integration_fixtures.py
  netra_backend/tests/e2e/test_thread_management.py
  netra_backend/tests/e2e/test_usage_increase_analysis.py
Due: file-size-limit, function-complexity-limit, type-safety-check, test-stub-prevention, test-file-size-enforcement, prevent-numbered-files, unified-import-compliance, import-path-validation, prevent-relative-imports, duplicate-code-detection, docker-force-flag-prohibition, docker-security-audit, python-syntax-validation

Path conditions:
  architecture-compliance: any of: ^(app|frontend|scripts|tests).*\.(py|ts|tsx)$
  file-size-limit: any of: \.(py|ts|tsx)$
  function-complexity-limit: any of: \.py$
  type-safety-check: any of: \.(py|ts|tsx)$
  test-stub-prevention: any of: \.py$
  test-file-size-enforcement: any of: (test_.*\.py|.*_test\.py|tests/.*\.py)$
  prevent-numbered-files: any of: \.py$
  unified-import-compliance: any of: \.(py)$
  import-path-validation: any of: ^netra_backend/.*\.py$
  prevent-relative-imports: any of: \.py$
  duplicate-code-detection: any of: \.py$
  docker-force-flag-prohibition: any of: \.(py|sh|yml|yaml|md|txt)$
  docker-security-audit: any of: \.(py|sh|dockerfile|yml|yaml)$
  python-syntax-validation: any of: \.py$
  mission-critical-syntax-check: any of: ^tests/mission_critical/.*\.py$
